﻿@charset "utf-8";

/* BEGIN: CSS Reset */
html, body, div,  h1, h2, h3, h4, h5, h6, p, 
blockquote, a, abbr, acronym, address, cite, em, 
img, q, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align:baseline;
	-webkit-text-size-adjust: none;
}
article, aside, canvas, details, figcaption, figure,header, footer, hgroup, menu, nav, section, summary {
	display: block;
}
/* END: CSS Reset */

/*-----------------------------------------------
 public
-----------------------------------------------*/
body {
	background: #fff;
	color:#514338;
	font-size: 24px;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	line-height:1.3;
	width:640px;
}
table {	border-collapse: collapse; border-spacing: 0; }

a { color:#514338; text-decoration: none; }

h1{
	color:#391c0a;
	font-size:44px;
	font-weight:normal;
	line-height:100%;
	padding-bottom:40px;
}
h2{
	background:#b6859a;
	color:#fff;
	font-size:24px;
	font-weight:bold;
	line-height:100%;
	padding: 19px 0 13px 29px;

}

/*-----------------------------------------------
  common
-----------------------------------------------*/
/* -- clearfix -- */
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;  overflow:hidden;}
.clearfix { display:inline-block; }
/* */
* html .clearfix { height:1%; }
.clearfix { display:block; overflow:hidden; }
/* */
.dn  { display:none !important; }
.db  { display:block !important; }

.fb  { font-weight:bold; }
.fltl  { float:left; display:inline; }
.fltr { float:right; display:inline; }
.clear{	clear:both;}

.center { margin:0 auto; }
.tal { text-align:left; }
.tar { text-align:right; }
.tac { text-align:center; }
.b{	font-weight:bold;}

.lh1_6{ line-height:1.6;}

.nobd_t{ border-top:none !important;}
.bd_t{ border-top:#ccc 2px solid;}
.topLine {
	padding-top: 30px;
	border-top: #ccc 2px solid;
}

/*-----------------------------------------------
  margin,padding
-----------------------------------------------*/
.m00 { margin:0 !important;}
.mt00 { margin-top:0 !important;}

.p00 { padding: 0 !important;}
.pt00 { padding-top: 0 !important;}

.sec{	margin-top:60px;}

.img{	line-height:0;}

/*-----------------------------------------------
  width
-----------------------------------------------*/
.w250{ width:250px !important;}
.w310{ width:310px !important;}

/*-----------------------------------------------
 structure
-----------------------------------------------*/
body {
	position: relative;
    height: 100%;
}

#mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
	display:none;
}
#mask .mask_base {
    background: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.5;
    z-index: 9;
}
/*----- header -----*/

#hdrArea{
	background:url(../images/hdr_bg_t.gif) repeat-x top left #fff;
	height:85px;
	-webkit-box-shadow:0 2px 6px #dcdcdc;
	-moz-box-shadow:0 2px 6px #dcdcdc;
	box-shadow:0 2px 6px #dcdcdc;
	position:relative;
	z-index:9;
}
#hdrArea .logo{
	width:512px;
	position:absolute;
	top:12px;
	left:9px;
}
#hdrArea #gnav{
	height:66px;
	width:66px;
	position:absolute;
	top:12px;
	right:9px;
}
#hdrArea #gnav .gnav_btn{
	display:block;
	background:url(../images/hdr_gnav_ico.gif) no-repeat center;
	height:66px;
	width:66px;
}
#hdrArea #gnav .menu{
	position:absolute;
	display:none;
	border-bottom:4px #e0d8c5 solid;
	background:#fff;
	width:640px;
	top:73px;
	right:-9px;
	z-index:999;
}
#hdrArea #gnav ul,
#hdrArea #gnav li,
#hdrArea #gnav a,
#hdrArea #gnav a span{
	display:block;
}
#hdrArea #gnav a span{
	height:96px;
	line-height:96px;
	font-size:32px;
	color:#534338;
}

#hdrArea #gnav .submenu a span{
	height:76px;
	line-height:76px;
	font-size:24px;
}
#hdrArea #gnav a span{
	background:url(../images/hdr_gnav_arr.png) no-repeat right center;
	padding-right:30px;
}
#hdrArea #gnav .menu li{
	border-top:4px #e0d8c5 solid;
}
#hdrArea #gnav .menu li a{
	padding:0 23px 0 28px;
}

#hdrArea #gnav .menu .submenu{
	border-bottom:none;
}
#hdrArea #gnav .submenu li{
	border-top:2px #e0d8c5 solid;
}
#hdrArea #gnav .submenu li a{
	padding:0 23px 0 50px;
}
/*----- wrapper -----*/
#ftrArea {
	background:#fff;
}
#ftrArea .sec_pink{
	background:#f1d6cf;
	margin-top:70px;
	padding-bottom:50px;
}
#ftrArea .sec_pink .sec{
	margin-top:43px;
}
#ftrArea .copy{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	text-align:center;
	line-height:1.5;
	border-top:#7c5d0d 4px solid;
	height:74px;
	padding-top:22px;
}
/*-----------------------------------------------
 mainArea common layout
-----------------------------------------------*/
/*----- txt -----*/
.mArea .tt_y01{
	color:#7b5c0a;
	font-size:26px;
	line-height:145%;
}
.mArea .tt_y02{
	color:#7c5c0d;
	font-size:30px;
	line-height:1.2;
}

/*----- sec -----*/
.mArea .h1_sec{
	padding:50px 35px 30px;
}
.mArea .h1_sec p{
	font-size:26px;
	line-height:1.69;
}
.mArea .innerBlock{
	padding:25px 30px;
}
.mArea .bnr_contact{
	padding-bottom:6px;
}

/*----- backTopBlock*/
.backTopBlock{
	padding:40px 30px 0 0;
}
.backTopBlock a{
	display:block;
	float:right;
	background:#d2b573;
	color:#fff;
	font-size:20px;
	text-align:right;
	line-height:27px;
	height:27px;
	padding:25px 20px;
	width:210px;
}
.backTopBlock a span{
	display:block;
	background:url(../images/icon_backtop.gif) no-repeat right center;
	padding-right:42px;
}
/*----- backHomeBlock*/
.backHomeBlock{
	padding-top:60px;
}
.backHomeBlock a{
	display:block;
	border:#7c5d0d 2px solid;
	background:#fff;
	color:#7d5c0b;
	font-size:28px;
	font-weight:bold;
	line-height:36px;
	height:36px;
	padding:25px 20px 25px 60px;
	width:276px;
	margin:0 auto;
}
.backHomeBlock a span{
	background:url(../images/icon_backtop_02.gif) no-repeat right center;
	padding-right:25px;
	display:block;
}
/*anchor_sec*/
.anchor_sec{
	margin-bottom:30px;
}
.anchor_sec li{
	float:left;
	display:inline;
	width:275px;
	height:103px;
	margin:0 0 10px 29px;
	background:url(../images/icon_arrb_w.png) no-repeat #97506f center 91px;
}
.anchor_sec li.coll{
	margin-left:30px;
	padding:17px 0 0 0;
}
.anchor_sec li.anchor_style{
	padding:33px 0 0 0;
	height:87px;
}
.anchor_sec a{
	display:block;
	color:#fff;
	text-align: center;
} 
.anchor_sec li.oneLine a{
	padding: 30px 15px 30px 30px;
}

/*----- button ----- */
.btn_pink{
	display:block;
	height:36px;
	width:493px;
	padding:30px 24px 30px 59px;
	color:#fff;
	border:2px solid #fff;
	background: #9c5372;
	background:-webkit-gradient(linear, center top, center bottom, from(#dc99b6), to(#9c5372));
	background:-moz-linear-gradient(top, #dc99b6, #9c5372);
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.btn_pink span{
	display:block;
	background:url(../images/icon_arr_w.png) no-repeat right center;
	padding-right:15px;
	font-size:30px;
	font-weight:bold;
	line-height:36px;
	height:36px;
}
.btn_pink_s{
	display:block;
	height:36px;
	width:286px;
	padding:10px 24px 10px 29px;
	color:#fff;
	border:2px solid #fff;
	background: #9d5473;
	background:-webkit-gradient(linear, center top, center bottom, from(#dc99b5), to(#9d5473));
	background:-moz-linear-gradient(top, #dc99b5, #9d5473);
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.btn_pink_s span{
	display:block;
	background:url(../images/icon_arr_w.png) no-repeat right center;
	background-size:9px 15px;
	padding-right:10px;
	font-size:22px;
	font-weight:bold;
	line-height:36px;
	height:36px;
}
.btnGroupBlock {
	margin: 40px 0 0 0;
}

.btnGroupBlock .btn_pink {
	width: 250px;
	padding: 30px 24px 30px 32px;
}

.btnGroupBlock .btn_l {
	float: left;
}

.btnGroupBlock .btn_r {
	float: right;
}
/*----- list_links----- */
.list_links,
.list_links li,
.list_links a{
	display:block;
}
.list_links{
	border-top:#c8c8c8 2px solid;
}
.list_links li{
	background:#fff;
	border-bottom:#c8c8c8 2px solid;
}


/*otherlink*/
.otherlink,
.otherlink li,
.otherlink a,
.otherlink span{
	display:block;
}
.otherlink{
	border-top:#c8c8c8 2px solid;
}
.otherlink li{
	background:#fff;
	border-bottom:#c8c8c8 2px solid;
}
.otherlink li a{
	padding:20px 22px 20px 27px;
}
.otherlink li a span{
	padding-right:25px;
	background:url(../images/icon_arr_pink.gif) no-repeat right center;
	height:50px;
	line-height:50px;
	font-size:32px;
}

/*otherlink_2col*/
.block_2col{
	display:block;
	background:#fff;
	padding:9px 0 4px 8px;
}
.block_2col li{
	float:left;
	display:inline;
	line-height:0;
	margin-bottom:5px;
	width:310px;
}
.block_2col li.coll{
	margin-right:5px;
}
/*-----------------------------------------------
  /index.html
-----------------------------------------------*/
#top .top_mbnr{
	margin-top:6px;
	background:url(../../images/index_mbnr.jpg) no-repeat top center;
	height:545px;
	position:relative;
}
#top .top_mbnr .top_mbnr_btn01{
	position:absolute;
	top:258px;
	right:30px;
}
#top .top_mbnr .top_mbnr_btn02{
	position:absolute;
	top:416px;
	right:30px;
}

/*top_subjectList*/
#top .top_subjectList li a{
	padding:15px 0 20px 20px;
}
#top .top_subjectList li .ico_outlink{
	background:url(../../images/icon_pop.gif) no-repeat right center;
	padding-right:35px;
}
#top .top_subjectList div{
	float:left;
	width:480px;
}
#top .top_subjectList div.img{
	float:left;
	width:80px;
	margin-right:29px;
	padding-top:13px;
}


/*-----------------------------------------------
 about/index.html
-----------------------------------------------*/

#about_idx .aboutConceptBlock {
	padding:41px 28px 30px 28px;
	border:2px solid #d8ceb5;
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
	background: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
	background: -o-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
	background: -ms-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
	background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);	
}

#about_idx .aboutConceptBlock .aboutConceptList {
	margin:0;
	padding:0;
}	

#about_idx .aboutConceptBlock .aboutConceptList li {
	padding-left:100px;
	margin-top:47px;
}

#about_idx .aboutConceptBlock .aboutConceptList li:first-child {
	padding-left:100px;
	margin-top:0px;
}
#about_idx .aboutConceptBlock .aboutConceptList li .tit {
	font-size:28px;
	color:#7c5b0c;
	line-height:130%;
}	

#about_idx .aboutConceptBlock .aboutConceptList li .txt {
	font-size:20px;
	color:#544236;
	margin-top:14px;
}

#about_idx .aboutConceptBlock .aboutConceptList .aboutConcept01 {
	background:url("../../about/images/index_img01.png") left 1px no-repeat;	
}
#about_idx .aboutConceptBlock .aboutConceptList .aboutConcept02 {
	background:url("../../about/images/index_img02.png") left 1px no-repeat;	
}
#about_idx .aboutConceptBlock .aboutConceptList .aboutConcept03 {
	background:url("../../about/images/index_img03.png") left 1px no-repeat;	
}
/*-----------------------------------------------
 about/introduction.html
-----------------------------------------------*/
#about_intro .secIntro .innerBlock{
	padding-bottom:85px;
}
#about_intro .secIntro .last{
	padding-bottom:20px;
}
#about_intro .secIntro .img{
	float:right;
	width:250px;
}
#about_intro .secIntro .txtBlock{
	float:left;
	width:300px;
	font-size:22px;
	line-height:1.45;
}
#about_intro .secIntro .txtBlock .tt_y02{
	margin-bottom:15px;
}
#about_intro .secPay p{
	line-height:1.6;
	margin-bottom:20px;
}
/*-----------------------------------------------
 about/media.html
-----------------------------------------------*/
#about_media .mediaBlock li{
	padding:25px 30px;
	border-bottom:2px #CCCCCC solid;
	background:url(../images/hdr_gnav_arr.png) no-repeat 590px 119px;
	cursor:pointer;
}
#about_media .mediaBlock li a{
	display:block;
}
#about_media .mediaBlock li .thumbnav{
	margin:0px 27px 0 2px;
		float:left;
}
#about_media .mediaBlock li .thumbnav img{
	width:133px;
	height:100px;
}
#about_media .mediaBlock li .thumbRight{
	float:left;
	width:355px;
}
#about_media .mediaBlock li .mInfoHead{
	margin:0 0 19px 0;
	font-size:17px;
}
#about_media .mediaBlock li .mInfoHead p.date{
	margin:0px 27px 0 0;
	float:left;
	font-size:20px;
	line-height:100%;
}
#about_media .mediaBlock li .mInfoHead p.category{
	background:#97506F;
	border-radius:10px;
	color:#FFF;
	padding:3px 26px 1px 26px;
	float:left;
	line-height:100%;
	margin-top:-1px;
	font-size:18px;
}
#about_media .mediaBlock li p.textLink{
	font-size:26px;
	color:#7c5c0d;
	line-height:1.3;
}
#about_media .mediaBlock li p.text{
	font-size:24px;
	line-height:1.3;
	color:#534338;
	margin:14px 0 0 0;
	float:left;
	width:515px;
}

/*-----------------------------------------------
 about/doctor.html
-----------------------------------------------*/
#about_doctor .doctorBlock {
	border-top:60px solid #f1d6cf;
}

#about_doctor .doctorBlock .doctorDataBlock {
	margin-top:10px;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorData .doctorPhoto {
	width:185px;
	float:left;	
}

#about_doctor .doctorBlock .doctorDataBlock .doctorData .doctorName {
	width:185px;
	float:left;
	font-weight:bold;
	color:#534338;
	margin-top:12px;
}

#about_doctor .doctorBlock .doctorDataBlock .doctorData .doctorName .title {
	font-size:22px;
	margin-bottom:3px;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorData .doctorName .name {
	font-size:32px;	
}
#about_doctor .doctorBlock .doctorBiography {
	font-size:20px;
	line-height:1.6;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .title {
	font-size:22px;	
	font-weight:bold;
	margin-bottom:7px;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .BiographyTxt {
	margin-bottom:24px;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .BiographyList dl {
	font-size:20px;	
}

#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .BiographyList dt {
	display:inline-block;
	margin-right:25px;
}

#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .BiographyList dd {
	display:inline-block;
}

#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .memberList li {
	list-style:disc inside;
}

#about_doctor .doctorBlock .doctorDataBlock .doctorVioce {
	border:6px solid #f7e6e2;
	padding:14px 20px 10px 20px;
	font-size:22px;
	margin-top:21px;
}

#about_doctor .doctorBlock .doctorDataBlock .doctorVioce .title {
	font-weight:bold;
	margin-bottom:6px;
}

#about_doctor .doctorBlock .topLine {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid #a48d56;
}

/*-----------------------------------------------
 access/index.html
-----------------------------------------------*/
#access_idx .access{
	margin-top:29px;
}
#access_idx .sec p.transfic{
	background:url(../../access/images/access_ico01.jpg) no-repeat 0 11px;
	padding:0 0 0 31px;
	margin:0 0 11px 0;
}
#access_idx .sec .addressBlock{
	font-size:26px;
	line-height:1.69;
	padding: 21px 30px !important;
}
#access_idx .sec img{
	margin:0 auto;
}


/*-----------------------------------------------
 menu/index.html
-----------------------------------------------*/
#menu_idx .menuLeft{
	float:left;
	width:210px;
	margin:15px 15px 0 0;
}
#menu_idx .menuRight{
	float:left;
	width:375px;
}
#menu_idx .menuList{
	padding:30px 0 30px 30px;
border-bottom:2px #CCCCCC solid;
}
#menu_idx .menuTxt{
	line-height:1.69;
	padding:20px 0 0 30px;;
}
#menu_idx .anchor_sec .anchot_style a{
	padding:30px 15px 31px 15px;
}
#menu_idx .bd_t li{
	margin-bottom:0;
	margin-top:30px;
}

/*-----------------------------------------------
 flow/flow.html
-----------------------------------------------*/
#flow_idx .top_subjectList .step_box a{
	padding:15px 0 20px 20px;
}
#flow_idx .top_subjectList .step_box div{
	float:left;
	width:360px;
}
#flow_idx .top_subjectList div.img{
	float:left;
	width:200px;
	margin-right:29px;
	padding-top:4px;
}
#flow_idx .notice_box{
	border: 1px solid #D0B2BF;
background: none repeat scroll 0% 0% #F9F5F7;
padding: 8px 0px;
}
#flow_idx .notice_box p{
	margin:0 25px;
}
#flow_idx .notice_box p.title{
background:url(../../flow/images/flow_ico01.jpg) no-repeat scroll 0px 4px transparent;
padding-left: 30px;
margin:10px 0 5px 25px;
}


/*-----------------------------------------------
 coupon/index.html
-----------------------------------------------*/
#coupon_idx .sec{
	margin-top:40px;
}
#coupon_idx .sec .img{
	width:580px;
	height:251px;
	padding:0 30px;
}
#coupon_idx p.couponTt{
	color: #9A506F;
	padding:30px 0 0 30px;
	font-weight:bold;
	font-size:20px;
}



/*-----------------------------------------------
 recruit/index.html
-----------------------------------------------*/

.topLine {
	padding-top: 30px;
	border-top: #ccc 2px solid;
}

#recruit_idx .recruitDetailBlock {
	padding:0;
}
#recruit_idx .recruitDetailBlock .recruitDetailList{
	padding:0;
	margin-top:15px;
	border:1px #7f7f7f solid;
}
#recruit_idx .recruitDetailBlock .recruitDetailList dt{
	color:#7f7f7f;
	padding:10px 10px 6px 27px;
	background:#ece0e5;
	border-bottom:1px #7f7f7f solid;
}

#recruit_idx .recruitDetailBlock .recruitDetailList dd{
	color:#3e2c1f;
	padding:24px 10px 20px 27px;
	border-bottom:1px #7f7f7f solid;	
}

#recruit_idx .recruitDetailBlock .recruitBtn{
	text-align:center;
	margin:20px auto;
}

#recruit_idx .recruitDetailBlock .otherTxt{
	padding:0 10px;
	margin:20px auto;
}

#recruit_idx .recruitDetailBlock .otherTxt .eMail{
	text-decoration:underline;
}
#recruit_idx .recruitDetailBlock .otherTxt .eMail:hover{
	text-decoration:none;
}



/*-----------------------------------------------
 recruit/complete.html　
-----------------------------------------------*/
#recruit_complete .h1_sec {
  padding: 50px 30px 30px;
}
#recruit_complete .h1_sec .bdrB {
	border-bottom: 2px solid #b88598;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

/*-----------------------------------------------
 reservation/confirm.html
-----------------------------------------------*/
#reservation_confirm .h1_sec {
  padding: 50px 30px 30px;
}
#reservation_confirm .h1_sec .bdrB {
	border-bottom: 2px solid #b88598;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
#reservation_confirm .confirm{
	margin-top: 25px;
}
#reservation_confirm .confirm.mt60 {
	margin-top: 60px;
}
#reservation_confirm .confirm .innerBlock p {
	padding-top: .7em;
	line-height: 1.6;
}
/*----- backTopBlock*/
#reservation_confirm .backTopBlock{
	padding: 30px 30px 0px 0;
}

/*-----.small-backConfirmBlock　＆　.small-submitBlock のラップ*/
.btn-wrap.clearfix {
  width: 580px;
  margin: 60px auto 0;
}
/*----- small-backConfirmBlock*/
.small-backConfirmBlock {
  width: 274px;
  height: 116px;
  border: 2px solid #94526e;
  float: left;
  position: relative;
}
.small-backConfirmBlock a {
  display: block;
  background: #fff;
  color: #9b4f6d;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 1.5;
}
.small-backConfirmBlock a span {
  display: block;
  background: url(../images/icon_arr_pink02.png) no-repeat right center;
  width: 238px;
}
/*----- small-submitBlock*/
.small-submitBlock {
  width: 278px;
  height: 120px;
  margin: 0 auto;
  float: right;
}
.small-submitBlock a {
  display: block;
  background: #97506e;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 120px;
  height: 120px;
  text-decoration: none;
}
.small-submitBlock a span {
  display: block;
  background: url(../images/icon_arr_w02.png) no-repeat right center;
  width: 258px;
}

/*-----------------------------------------------
 reservation/complete.html
-----------------------------------------------*/
#reservation_complete .h1_sec {
  padding: 50px 30px 30px;
}
#reservation_complete .h1_sec .bdrB {
	border-bottom: 2px solid #b88598;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
#reservation_complete .pt1em {
	padding-top: 1.5em;
}

/*-----------------------------------------------
 recruit/complete.html,
 reservation/complete.html 共通
-----------------------------------------------*/
.box-bdr {
  border: 6px solid #b5859a;
  padding: 65px 0;
  text-align: center;
  width:568px;
}
p.txt-strong {
  font-size: 40px;
  font-weight: bold; 
  line-height: 40px;
  color: #9b5775;
  padding-bottom: 1em;
}
p.txt {
  line-height: 1.6;
  font-weight: bold;
}
.mt60 {
	margin-top: 60px;
}






