@charset "utf-8";

/* BEGIN: CSS Reset */
html, body, div, h1, h2, h3, h4, h5, h6, p,
blockquote, a, abbr, acronym, address, cite, em,
img, q, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    -webkit-text-size-adjust: none;
}
article, aside, canvas, details, figcaption, figure,header, footer, hgroup, menu, nav, section, summary {
    display: block;
}
/* END: CSS Reset */

/*-----------------------------------------------
 public
-----------------------------------------------*/
body {
    background: #fff;
    color: #514338;
    font-size: 24px;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    line-height: 1.3;
    width: 640px;

}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #514338;
    text-decoration: none;
}

h1 {
    color: #391c0a;
    font-size: 44px;
    font-weight: normal;
    line-height: 100%;
    padding-bottom: 40px;
}
h2 {
    background: #b6859a;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 100%;
    padding: 19px 0 13px 29px;

}
.mincho{ font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;}
.col3 { display: inline-block; width: 32%;}
.ebony_clay{background-color:#333438;}
.white_Smoke{background-color:#efefef;}
.txt_white{color:#ffffff;}


.fs12 { font-size:12px; }
.fs13 { font-size:13px; }
.fs14 { font-size:14px; }
.fs15 { font-size:15px; }
.fs16 { font-size:16px; }
.fs17 { font-size:17px; }
.fs18 { font-size:18px; }
.fs19 { font-size:19px; }
.fs25 { font-size:25px; }
.fs30 { font-size:30px; }
.fs35 { font-size:35px; }

/*-----------------------------------------------
  common
-----------------------------------------------*/
/* -- clearfix -- */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
.clearfix {
    display: inline-block;
}
/* */
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
    overflow: hidden;
}
/* */
.dn {
    display: none !important;
}
.db {
    display: block !important;
}

.fb {
    font-weight: bold;
}
.fltl {
    float: left;
    display: inline;
}
.fltr {
    float: right;
    display: inline;
}
.clear {
    clear: both;
}

.center {
    margin: 0 auto;
}
.tal {
    text-align: left;
}
.tar {
    text-align: right;
}
.tac {
    text-align: center;
}
.b {
    font-weight: bold;
}

.lh1_6 {
    line-height: 1.6;
}

.nobd_t {
    border-top: none !important;
}
.bd_t {
    border-top: #b6859a 2px solid;
}
.topLine {
    padding-top: 30px;
    border-top: #ccc 2px solid;
}

/*-----------------------------------------------
  slider
-----------------------------------------------*/
#banner_bxSlider > * {
    background-color: #f4ddd8;
}
.bx-wrapper img {
    margin: 0 auto;
}
#banner_bxSlider a {
    padding: 0 0 20px;
}
.bx-wrapper .bx-viewport {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    left: 0;
	padding: 0 0 10px;
}

/*-----------------------------------------------
  margin,padding
-----------------------------------------------*/
.m00 {
    margin: 0 !important;
}
.mt00 {
    margin-top: 0 !important;
}

.p00 {
    padding: 0 !important;
}
.pt00 {
    padding-top: 0 !important;
}

.sec {
    margin-top: 60px;
}

.img {
    line-height: 0;
}

.m00 { margin:0 !important;}
.mt-20 { margin-top:-20px !important;}
.mt00 { margin-top: 0 !important;}
.mt05 { margin-top: 5px !important;}
.mt10 { margin-top:10px !important;}
.mt12 { margin-top:12px !important;}
.mt15 { margin-top:15px !important;}
.mt20 { margin-top:20px !important;}
.mt25 { margin-top:25px !important;}
.mt30 { margin-top:30px !important;}
.mt40 { margin-top:40px !important;}
.mr00 { margin-right: 0 !important;}
.mr05 { margin-right: 5px !important;}
.mr10 { margin-right:10px !important;}
.mr12 { margin-right:12px !important;}
.mr15 { margin-right:15px !important;}
.mr20 { margin-right:20px !important;}
.mr25 { margin-right:25px !important;}
.mr30 { margin-right:30px !important;}
.mr40 { margin-right:40px !important;}
.mb00 { margin-bottom: 0 !important;}
.mb05 { margin-bottom: 5px !important;}
.mb10 { margin-bottom:10px !important;}
.mb12 { margin-bottom:12px !important;}
.mb15 { margin-bottom:15px !important;}
.mb20 { margin-bottom:20px !important;}
.mb25 { margin-bottom:25px !important;}
.mb30 { margin-bottom:30px !important;}
.mb45 { margin-bottom:45px !important;}
.mb50 { margin-bottom:50px !important;}
.mb70 { margin-bottom:70px !important;}
.ml00 { margin-left: 0 !important;}
.ml05 { margin-left: 5px !important;}
.ml10 { margin-left:10px !important;}
.ml12 { margin-left:12px !important;}
.ml15 { margin-left:15px !important;}
.ml20 { margin-left:20px !important;}
.ml25 { margin-left:25px !important;}
.ml30 { margin-left:30px !important;}
.ml40 { margin-left:40px !important;}

.p00 { padding: 0 !important;}
.pt00 { padding-top: 0 !important;}
.pt05 { padding-top: 5px !important;}
.pt10 { padding-top:10px !important;}
.pt12 { padding-top:12px !important;}
.pt15 { padding-top:15px !important;}
.pt20 { padding-top:20px !important;}
.pt25 { padding-top:25px !important;}
.pt30 { padding-top:30px !important;}
.pt70 { padding-top:70px !important;}
.pr00 { padding-right: 0 !important;}
.pr05 { padding-right: 5px !important;}
.pr10 { padding-right:10px !important;}
.pr12 { padding-right:12px !important;}
.pr15 { padding-right:15px !important;}
.pr20 { padding-right:20px !important;}
.pr25 { padding-right:25px !important;}
.pr30 { padding-right:30px !important;}
.pb00 { padding-bottom: 0 !important;}
.pb05 { padding-bottom: 5px !important;}
.pb10 { padding-bottom:10px !important;}
.pb12 { padding-bottom:12px !important;}
.pb15 { padding-bottom:15px !important;}
.pb20 { padding-bottom:20px !important;}
.pb25 { padding-bottom:25px !important;}
.pb30 { padding-bottom:30px !important;}
.pb60 { padding-bottom:60px !important;}
.pl00 { padding-left: 0 !important;}
.pl05 { padding-left: 5px !important;}
.pl10 { padding-left:10px !important;}
.pl12 { padding-left:12px !important;}
.pl15 { padding-left:15px !important;}
.pl20 { padding-left:20px !important;}
.pl25 { padding-left:25px !important;}
.pl30 { padding-left:30px !important;}

/*-----------------------------------------------
  width
-----------------------------------------------*/
.w250 {
    width: 250px !important;
}
.w310 {
    width: 310px !important;
}

/*-----------------------------------------------
 structure
-----------------------------------------------*/
body {
    position: relative;
    height: 100%;
}

#mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    display: none;
}
#mask .mask_base {
    background: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.5;
    z-index: 9;
}
/*----- header -----*/

#hdrArea {
    background: url(../images/hdr_bg_t.gif) repeat-x top left #fff;
    height: 85px;
    -webkit-box-shadow: 0 2px 6px #dcdcdc;
    -moz-box-shadow: 0 2px 6px #dcdcdc;
    box-shadow: 0 2px 6px #dcdcdc;
    position: fixed;
    width: 640px;
    z-index: 9;
}

#hdrArea .logo {
    width: 512px;
    position: relative;
    top: 12px;
    left: 9px;
	display: inline-block;
}
#hdrArea #gnav {
    height: 66px;
    width: 66px;
    position: relative;
    top: 12px;
    right: -20px;
	display: inline-block;
}
#hdrArea #gnav .gnav_btn {
    display: block;
    background: url(../images/hdr_gnav_ico.gif) no-repeat center;
    height: 66px;
    width: 66px;
}
#hdrArea #gnav .menu {
    position: absolute;
    display: none;
    border-bottom: 4px #e0d8c5 solid;
    background: #fff;
    width: 640px;
    top: 73px;
   /* right: -9px;*/
   right: -34px;
    z-index: 999;
}
#hdrArea #gnav ul,
#hdrArea #gnav li,
#hdrArea #gnav a,
#hdrArea #gnav a span {
    display: block;
}
#hdrArea #gnav a span {
    color: #534338;
    font-size: 27px;
    height: 70px;
    line-height: 70px;
}

#hdrArea #gnav .submenu a span {
    height: 70px;
    line-height: 70px;
    font-size: 24px;
}
#hdrArea #gnav a span {
    background: url(../images/hdr_gnav_arr.png) no-repeat right center;
    padding-right: 30px;
}
#hdrArea #gnav .menu li {
    border-top: 4px #e0d8c5 solid;
}
#hdrArea #gnav .menu li a {
    padding: 0 23px 0 28px;
}

#hdrArea #gnav .menu .submenu {
    border-bottom: none;
}
#hdrArea #gnav .submenu li {
    border-top: 2px #e0d8c5 solid;
}
#hdrArea #gnav .submenu li a {
    padding: 0 23px 0 50px;
}
/*----- wrapper -----*/
#ftrArea {
    background: #fff;
}
#ftrArea .sec_pink {
    background: #f1d6cf;
    margin-top: 70px;
    padding-bottom: 50px;
}
#ftrArea .sec_pink .sec {
    margin-top: 43px;
}
#ftrArea .copy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    border-top: #7c5d0d 4px solid;
    height: 74px;
    padding-top: 22px;
}
/*-----------------------------------------------
 mainArea common layout
-----------------------------------------------*/
/*----- txt -----*/
.mArea .tt_y01 {
    color: #7b5c0a;
    font-size: 26px;
    line-height: 145%;
}
.mArea .tt_y02 {
    color: #7c5c0d;
    font-size: 30px;
    line-height: 1.2;
}

/*----- sec -----*/
.mArea .h1_sec {
    padding: 95px 30px 30px;
}
.mArea .h1_sec p {
    font-size: 26px;
    line-height: 1.69;
}
.mArea .innerBlock {
    padding: 25px 30px;
}
.mArea .bnr_contact {
    padding-bottom: 6px;
}
.mArea .h1_sec .bd_t {
    margin-top: 30px;
    padding-top: 30px;
}
/*----- couponBox -----*/
#couponBox{padding-top:30px;}
#couponBox li{
    padding-top:10px;
	display: block;
    /*padding-left: 30px;*/
}
#couponBox .couponTxt{font-size:26px;line-height:1.69;padding-top:10px;}

#couponBnn img {
    width: 100%;
}
/*----- backTopBlock*/
.backTopBlock {
    padding: 40px 30px 0 0;
}
.backTopBlock a {
    display: block;
    float: right;
    background: #d2b573;
    color: #fff;
    font-size: 20px;
    text-align: right;
    line-height: 27px;
    height: 27px;
    padding: 25px 20px;
    width: 210px;
}
.backTopBlock a span {
    display: block;
    background: url(../images/icon_backtop.gif) no-repeat right center;
    padding-right: 42px;
}

.bottomButtonBlock {
    background-color: #f1d6cf;
    
    padding: 24px 0 56px 0;
    margin: 50px 0 -70px 0;
}
/*----- backHomeBlock*/
.backHomeBlock {
    padding-top: 32px;
}
.backHomeBlock a {
    display: block;
    background-color: #fff;
    color: #7c5c0d;
    font-size: 26px;
    font-weight: bold;
    line-height: 36px;
    height: 36px;
    width: 357px;
    margin: 0 auto;
    text-align: center;
    padding: 24px 0px 24px 0px;
    border: solid 2px #7c5c0d;
}
.backHomeBlock a span {
    background: url(../images/icon_arr_brown.gif) no-repeat right center;
    padding-right: 7px;
    display: block;
    background-position: 319px center;

}
/*----- recommendlock*/
.recommendlock {
    padding-top: 32px;
}
.recommendlock a {
    display: block;
    background-color: #fff;
    color: #7c5c0d;
    font-size: 26px;
    font-weight: bold;
    line-height: 36px;
    height: 36px;
    width: 357px;
    margin: 0 auto;
    text-align: center;
    padding: 24px 0px 24px 0px;
    border: solid 2px #7c5c0d;
}
.recommendlock a span {
    background: url(../images/icon_arr_brown.gif) no-repeat right center;
    padding-right: 7px;
    display: block;
    background-position: 319px center;

}

.buttonStepInfoBlock {
    padding-top: 55px;
}
.buttonStepInfoBlock a {
    display: block;
    background-color: #97506f;
    color: #fff;
    font-size: 39px;
    font-weight: bold;
    line-height: 36px;
    height: 36px;
    width: 578px;
    margin: 0 auto;
    text-align: center;
    padding: 41px 0px 41px 0px;
}
.buttonStepInfoBlock a span {
    background: url(../images/icon_arr_pink.png) no-repeat right center;
    padding-right: 7px;
    display: block;
    background-position: 532px center;
}

.buttonStaffInfoBlock {
    padding-top: 32px;
}
.buttonStaffInfoBlock a {
    display: block;
    background-color: #97506f;
    color: #fff;
    font-size: 39px;
    font-weight: bold;
    line-height: 36px;
    height: 36px;
    width: 578px;
    margin: 0 auto;
    text-align: center;
    padding: 41px 0px 41px 0px;
}
.buttonStaffInfoBlock a span {
    background: url(../images/icon_arr_pink.png) no-repeat right center;
    padding-right: 7px;
    display: block;
    background-position: 532px center;
}




/*anchor_sec*/
.anchor_sec {
    margin-bottom: 30px;
}
.anchor_sec li {
    float: left;
    display: inline;
    width: 277px;
    height: 120px;
    margin: 0 0 10px 29px;
    background: url(../images/icon_arrb_w.png) no-repeat #97506f center 91px;
}

.anchor_sec a {
    display: block;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    padding-top: 13px;
    height: 107px;
}
.anchor_sec li.oneLine a {
    padding-top: 30px;
    height: 90px;
}

/*----- button ----- */

.btn_gold {
    display: block;
    height: 36px;
    width: 493px;
    padding: 30px 24px 30px 59px;
    color: #fff;
    border: 2px solid #fff;
    background: #9c5372;
    background: -webkit-gradient(linear, center top, center bottom, from(#e4c680), to(#a38549));
    background: -moz-linear-gradient(top, #e4c680, #a38549);
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	margin: 15px auto;
}
.btn_gold span {
    display: block;
    background: url(../images/icon_arr_w.png) no-repeat right center;
    padding-right: 15px;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    height: 36px;
}

.btn_pink {
    display: block;
    height: 36px;
    width: 493px;
    padding: 30px 24px 30px 59px;
    color: #fff;
    border: 2px solid #fff;
    background: #9c5372;
    background: -webkit-gradient(linear, center top, center bottom, from(#dc99b6), to(#9c5372));
    background: -moz-linear-gradient(top, #dc99b6, #9c5372);
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.btn_pink span {
    display: block;
    background: url(../images/icon_arr_w.png) no-repeat right center;
    padding-right: 15px;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    height: 36px;
}
.btn_pink_s {
    display: block;
    height: 36px;
    width: 286px;
    padding: 10px 24px 10px 29px;
    color: #fff;
    border: 2px solid #fff;
    background: #9d5473;
    background: -webkit-gradient(linear, center top, center bottom, from(#dc99b5), to(#9d5473));
    background: -moz-linear-gradient(top, #dc99b5, #9d5473);
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.btn_pink_s span {
    display: block;
    background: url(../images/icon_arr_w.png) no-repeat right center;
    background-size: 9px 15px;
    padding-right: 10px;
    font-size: 22px;
    font-weight: bold;
    line-height: 36px;
    height: 36px;
}
.btnGroupBlock {
    margin: 60px 0 0 0;
    padding: 0 30px;
}

.btnGroupBlock .btn_pink {
    width: 220px;
    padding: 40px 15px 40px 41px;
}

.btnGroupBlock .btn_l {
    float: left;
    background: white;
    border: 2px solid #94526e;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.btnGroupBlock .btn_l span {
    padding-top: 2px;
    font-size: 24px;
    color: #944f6b;
    background: url(../images/icon_arr_l_w.png) no-repeat right 7px;
}

.btnGroupBlock .btn_r {
    float: right;
    background: #97506e;
    border: 2px solid #94526e;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.btnGroupBlock .btn_r span {
    font-size: 40px;
    text-align: center;
    padding-right: 40px;
    background: url(../images/icon_arr_r_w.png) no-repeat right center;
}
/*----- list_links----- */
.list_links,
.list_links li,
.list_links a {
    display: block;
}
.list_links {
    border-top: #c8c8c8 2px solid;
}
.list_links li {
    background: #fff;
    border-bottom: #c8c8c8 2px solid;
}


/*otherlink*/
.otherlink,
.otherlink li,
.otherlink a,
.otherlink span {
    display: block;
}
.otherlink {
    border-top: #c8c8c8 2px solid;
}
.otherlink li {
    background: #fff;
    border-bottom: #c8c8c8 2px solid;
}
.otherlink li a {
    padding: 20px 22px 20px 27px;
}
.otherlink li a span {
    padding-right: 25px;
    background: url(../images/icon_arr_pink.gif) no-repeat right center;
    height: 50px;
    line-height: 50px;
    font-size: 32px;
}

/*otherlink_2col*/
.block_2col {
    display: block;
    background: #fff;
    padding: 9px 0 4px 8px;
}
.block_2col li {
    float: left;
    display: inline;
    line-height: 0;
    margin-bottom: 5px;
    width: 310px;
}
.block_2col li.coll {
    margin-right: 5px;
}
/*form*/

.formBlock {
}
.formBlock dl {
    padding: 0;
    margin-top: 15px;
}
.formBlock dl dt {
    background: #b6859a;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 100%;
    padding: 19px 0 13px 29px;

}
.formBlock dl dd {
    font-size: 24px;
    color: #3e2c1f;
    padding: 24px 27px 20px 27px;
}
.formBlock .item {
    margin-top: 20px;
    padding-top: 20px;
    border-top: #b6859a 2px solid;
}
.formBlock .error {
    color: #e71f19;
    display: none;
}
.formBlock .form_tt {
    display: block;
    float: left;
    width: 150px;
    padding-top: 20px;
}
.form_colr {
    float: left;
    width: 430px;
}
/*.formBlock select,*/
.formBlock input[type=text],
.formBlock input[type=number],
.formBlock input[type=email],
.formBlock textarea {
    border: 2px solid #c8c8c8;
    font-size: 28px;
    height: 48px;
    line-height: 48px;
    padding: 20px;
    color: #534338;
}
.formBlock textarea {
    font-size: 24px;
    line-height: 40px;
    height: 540px;
}
.formBlock input.num {
    font-size: 36px !important;
}
.formBlock .name input {
    width: 370px;
}
.formBlock .address input {
    width: 370px;
}
.niceform .address .ui-selectmenu-button span.ui-selectmenu-text {
    width: 290px;
}

.formBlock .postcode input,
.formBlock .age input,
.formBlock .tel input {
    width: 110px;
}
.formBlock .postcode input.last {
    width: 140px;
}


.formBlock .mail input,
.formBlock .all input,
.formBlock textarea {
    width: 530px;
}

.formBlock input[type=radio] {
    width: 30px;
    height: 30px;
}
/*.formBlock select{
	background:#fff;
	height:88px;
	line-height:88px;
	padding:0 20px;
	width:415px;
}
.formBlock select option{
	background:#fff;
	padding:0 20px;
}*/

.formBtn {
    margin: 30px auto;
    width: 580px;
}
.formbtn_pink,
.formBtn input {
    border: 0;
    background: url(../images/form_btn_arr.png) no-repeat 534px center #97506f;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    padding: 30px 0;
    width: 580px;
}
.formbtn_pink {
    display: block;
}
/*-----------------------------------------------
  form custom
-----------------------------------------------*/

/* Corner radius */

.niceform .ui-state-default .ui-icon {
    background: url(../images/ico_arrdown_w.png) no-repeat center;
}

.niceform .ui-state-default,
.niceform .ui-widget-content .ui-state-default,
.niceform .ui-widget-header .ui-state-default {
    border: 0;
    background: #646464;
    font-weight: normal;
    color: #53453a;
}

.niceform .ui-selectmenu-button span.ui-selectmenu-text {
    padding: 25px 0 25px 30px;
    width: 366px;
    font-size: 26px;
    background: white;
    border: 2px solid #c8c8c8;
}

.niceform .ui-selectmenu-button {
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    padding-right: 90px;
    font-size: 14px;
}

.niceform .ui-icon {
    width: 24px;
    height: 20px;
}

.niceform .ui-selectmenu-button span.ui-icon {
    margin-top: -10px;
    right: 33px;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 0;
    background: #646464;
    font-weight: normal;
    color: #fff;
}
.ui-menu .ui-menu-item {
    font-size: 26px;
    padding: 25px 0 25px 30px;
}

.ui-widget-content {
    border: 2px solid #dddddd;
    background: #fff;
    color: #333333;
}
/*-----------------------------------------------
  /index.html
-----------------------------------------------*/
#top .top_mbnr {
    /*margin-top: 6px;*/
    background: url(../../images/index_mbnr.jpg) no-repeat bottom center #f4ddd8;
	height: 632px;
    position: relative;
}

#top .banners {
	background-color:#f4ddd8;
	text-align:center;
	padding: 15px 0;
}
.banners a img {
    width: 91%;
    max-width: 578px;
}
.bnsl_top_banner img {
   /* border: 1px solid #AA8D3F;*/
    box-sizing: border-box;
}
#top .top_mbnr .monitor-banner,
#top .top_mbnr .ginza-banner,
#top .top_mbnr .ld-banner {
    position: absolute;
    right: 30px;
}

#top .top_mbnr .top_mbnr_btn01 {
    position: absolute;
    top: 350px;
    right: 30px;
}
#top .top_mbnr .top_mbnr_btn02 {
    position: absolute;
    top: 500px;
    right: 30px;
}
#top .top_mbnr .top_mbnr_btn03 {
    position: absolute;
    top: 755px;
    left: 30px;
    width: 227px;
}
#top .top_mbnr .top_mbnr_btn04 {
    position: absolute;
    top: 755px;
    right: 30px;
    width: 227px;
}

/*top_subjectList*/
#top .top_subjectList li a {
    padding: 15px 0 20px 20px;
}
#top .top_subjectList li .ico_outlink {
    background: url(../../images/icon_pop.gif) no-repeat right center;
    padding-right: 35px;
}
#top .top_subjectList div {
    float: left;
    width: 480px;
}
#top .top_subjectList div.img {
    float: left;
    width: 80px;
    margin-right: 29px;
    padding-top: 13px;
}

/*-----------------------------------------------
 about/index.html
-----------------------------------------------*/

#about_idx .aboutConceptBlock {
    padding: 41px 28px 30px 28px;
    border: 2px solid #d8ceb5;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
    background: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
    background: -o-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
    background: -ms-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
}

#about_idx .aboutConceptBlock .aboutConceptList {
    margin: 0;
    padding: 0;
}

#about_idx .aboutConceptBlock .aboutConceptList li {
    padding-left: 100px;
    margin-top: 47px;
}

#about_idx .aboutConceptBlock .aboutConceptList li:first-child {
    padding-left: 100px;
    margin-top: 0px;
}
#about_idx .aboutConceptBlock .aboutConceptList li .tit {
    font-size: 28px;
    color: #7c5b0c;
    line-height: 130%;
}

#about_idx .aboutConceptBlock .aboutConceptList li .txt {
    font-size: 20px;
    color: #544236;
    margin-top: 14px;
}

#about_idx .aboutConceptBlock .aboutConceptList .aboutConcept01 {
    background: url("../../about/images/index_img01.png") left 1px no-repeat;
}
#about_idx .aboutConceptBlock .aboutConceptList .aboutConcept02 {
    background: url("../../about/images/index_img02.png") left 1px no-repeat;
}
#about_idx .aboutConceptBlock .aboutConceptList .aboutConcept03 {
    background: url("../../about/images/index_img03.png") left 1px no-repeat;
}
/*-----------------------------------------------
 about/introduction.html
-----------------------------------------------*/
#about_intro .secIntro .innerBlock {
    padding-bottom: 85px;
}
#about_intro .secIntro .last {
    padding-bottom: 20px;
}
#about_intro .secIntro .img {
    float: right;
    width: 250px;
}
#about_intro .secIntro .txtBlock {
    float: left;
    width: 300px;
    font-size: 22px;
    line-height: 1.45;
}
#about_intro .secIntro .txtBlock .tt_y02 {
    margin-bottom: 15px;
}
#about_intro .secPay p {
    line-height: 1.6;
    margin-bottom: 20px;
}
/*-----------------------------------------------
 about/media.html
-----------------------------------------------*/
#about_media .mediaBlock li {
    padding: 25px 30px;
    border-bottom: 2px #CCCCCC solid;
    background: url(../images/hdr_gnav_arr.png) no-repeat 590px 119px;
    cursor: pointer;
}
#about_media .mediaBlock li a {
    display: block;
}
#about_media .mediaBlock li .thumbnav {
    margin: 0px 27px 0 2px;
    float: left;
}
#about_media .mediaBlock li .thumbnav img {
    width: 133px;
    height: 100px;
}
#about_media .mediaBlock li .thumbRight {
    float: left;
    width: 355px;
}
#about_media .mediaBlock li .mInfoHead {
    margin: 0 0 19px 0;
    font-size: 17px;
}
#about_media .mediaBlock li .mInfoHead p.date {
    margin: 0px 27px 0 0;
    float: left;
    font-size: 20px;
    line-height: 100%;
}
#about_media .mediaBlock li .mInfoHead p.category {
    background: #97506F;
    border-radius: 10px;
    color: #FFF;
    padding: 3px 26px 1px 26px;
    float: left;
    line-height: 100%;
    margin-top: -1px;
    font-size: 18px;
}
#about_media .mediaBlock li p.textLink {
    font-size: 26px;
    color: #7c5c0d;
    line-height: 1.3;
}
#about_media .mediaBlock li p.text {
    font-size: 24px;
    line-height: 1.3;
    color: #534338;
    margin: 14px 0 0 0;
    float: left;
    width: 515px;
}

/*-----------------------------------------------
 about/doctor.html
-----------------------------------------------*/
#about_doctor .doctorBlock {
max-height: 999999px;margin-top: -9px;}
#about_doctor .doctorBlock .innerBlock {
    padding-top: 10px;
    padding-bottom: 0;
}

#about_doctor .doctorBlock .doctorDataBlock {
    margin-top: 0;
    padding-bottom: 49px;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorData .doctorPhoto {
    width: 185px;
    float: left;
}

#about_doctor .doctorBlock .doctorDataBlock .doctorData .doctorName {
    width: 185px;
    float: left;
    font-weight: bold;
    color: #534338;
    margin-top: 12px;
}

#about_doctor .doctorBlock .doctorDataBlock .doctorData .doctorName .title {
    font-size: 22px;
    margin-bottom: 3px;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorData .doctorName .name {
    font-size: 32px;
}
#about_doctor .doctorBlock .doctorBiography {
    font-size: 20px;
    line-height: 1.6;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 7px;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .BiographyTxt {
    margin-bottom: 24px;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .BiographyList dl {
    font-size: 20px;
}

#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .BiographyList dt {
    display: inline-block;
    margin-right: 25px;
}

#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .BiographyList dd {
    display: inline-block;
}

#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .memberList li {
    list-style: disc inside;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorVioce:first-child {
    margin-top: 0px;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorVioce {
    border: 6px solid #f7e6e2;
    padding: 15px 20px 10px 20px;
    /* font-size: 22px; */
    margin-top: 44px;
    overflow: hidden;
}
#about_doctor .doctorBlock .doctorDataBlock .profile-s .doctor-info-box {
padding-top: 25px;}
#about_doctor .doctorBlock .doctorDataBlock .doctorVioce .title {
    font-weight: bold;
    margin-bottom: 6px;
}

#about_doctor .doctorBlock .topLine {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #a48d56;
}
#about_doctor .doctorBlock .doctorVioce .doctor-photo {
    padding-top: 16px;
    padding-left: 10px;
    padding-bottom: 10px;
    float: left;
}
#about_doctor .doctorBlock .doctorVioce .doctor-info-box {
    
    float: left;
}
#about_doctor .doctorBlock .doctorVioce .doctor-info-box .doctor-position {
    padding-top: 38px;
    padding-left: 31px;
    font-size: 22px;
}
#about_doctor .doctorBlock .doctorVioce .doctor-info-box .doctor-name {
    padding-top: 16px;
    padding-left: 31px;
    font-size: 40px;
    font-weight: bold;
}
#about_doctor .doctorBlock .doctorVioce .doctor-info-box .doctor-name span.doctor-name-s {
    font-size: 27px;
    font-weight: normal;
    padding-left: 16px;
}
#about_doctor .doctorBlock .doctorVioce .doctor-info-box .button-profile {
}
#about_doctor .doctorBlock .doctorVioce .doctor-info-box .button-profile a {
    padding: 11px 34px 11px 41px;
    border: 2px solid #cbbe9e;
    margin-top: 57px;
    margin-left: 35px;
    color: #7c5c0d;
    font-weight: bold;
    letter-spacing: 0px;
    background-image: url(../../about/doctor/images/icn-button-arrow.gif);
    background-repeat: no-repeat;
    background-position: 21px 17px;
    float: left;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
}
#about_doctor .doctorBlock .profile-s .doctor-info-box .button-profile a {
margin-top: 63px;}
#about_doctor .backHomeBlock {
padding-top: 61px;
}
#about_doctor hr {
margin: 0 3%;border-top: 2px solid #9a516f;border-bottom: none;border-left: none;border-right: none;}
.doctorProfileBlock {
    padding: 61px 0px 39px 30px;
    overflow: hidden;
}

.doctorProfileBlock .doctor-image {
    float: left;
    padding-bottom: 8px;
}
.doctorProfileBlock .doctor-profile-box {
    
    float: left;
}

.doctorProfileBlock .doctor-image img {
}

.doctorProfileBlock .doctor-profile-box .doctor-position {
    padding: 41px 0px 0px 32px;
    font-size: 26px;
}

.doctorProfileBlock .doctor-profile-box .doctor-name {
    padding: 26px 0px 0px 28px;
    font-size: 46px;
    font-weight: bold;
}

.doctorProfileBlock .doctor-profile-box .doctor-name .doctor-name-s {
    font-size: 30px;
    padding-left: 23px;
}

.doctorProfileBlock h2 {
    clear: both;
    background: none;
    padding: 44px 0 0 0;
    font-size: 29px;
    color: rgb(81, 67, 56);
}

.doctorProfileBlock .doctor-history {
    padding: 19px 0 0 0;
    font-size: 22px;
    letter-spacing: -1px;
    overflow: hidden;
}
.doctorProfileBlock .doctor-history-block {
    padding: 19px 0 0 0;
    font-size: 22px;
    overflow: hidden;
    line-height: 150%;
    max-height: 999999px;
}
.doctorProfileBlock .doctor-history dt {
    float: left;
    clear: both;
    width: 147px;
}

.doctorProfileBlock .doctor-history dd {
    float: left;
    width: 450px;
    line-height: 155%;
}
.doctorProfileBlock .doctor-history dd .doctor-history-s {
    font-size: 21px;
    margin-left: -9px;
}
.doctorProfileBlock .doctor-info-list {
    padding: 19px 0 0 0;
    font-size: 22px;
    letter-spacing: -1px;
    overflow: hidden;
}
.doctorProfileBlock .doctor-info-list dt {
    float: left;
    clear: both;
    width: 20px;
}
.doctorProfileBlock .doctor-info-list dd {
    float: left;
    width: 560px;
    line-height: 155%;
}

#about_doctor .doctorBlock .doctorDataBlock .doctorVioce .doctor-message-title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 17px;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorVioce .doctor-message {
    line-height: 155%;
    font-size: 22px;

}
.doctor-list-title {
    clear: both;
    background: none;
    padding: 41px 0 30px 24px;
    font-size: 29px;
    color: rgb(81, 67, 56);
}
.doctor-list-scroll-wrapper {
    position:relative;    
}
.doctor-list-scroll {
    position: relative;
    overflow: hidden;
    float: left;
    width: 1808px;
    top:0px;
    left:0px;
    padding-top: 2px;
}

.doctor-list-scroll li {
    float: left;
    padding-left: 26px;
    width: 189px;
    padding-right: 11px;
}

.doctor-list-scroll li a {
    display: block;
    width: 189px;
    height: 264px;
    float: left;
}

.doctor-list-scroll li a img {
    /* border: solid 2px #e5dece; */
    box-sizing: border-box;
    width: 189px;
    height: 264px;
}
.doctor-list-scroll li a.active img {
    /* border: solid 8px #f1d6cf; */
}

.doctor-list-scroll li .doctor-position {
    padding-top: 18px;
    font-size: 22px;
    clear: both;
}

.doctor-list-scroll li .doctor-name {
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
}


.doctorProfileBlock dl {
}

.doctorProfileBlock dl dt {
}

.doctorProfileBlock dl dd {
}


/*-----------------------------------------------
 access/index.html
-----------------------------------------------*/
#access_idx .access {
    margin-top: 29px;
}
#access_idx .sec p.transfic {
    background: url(../../access/images/access_ico01.jpg) no-repeat 0 11px;
    padding: 0 0 0 31px;
    margin: 0 0 11px 0;
}
#access_idx .sec .addressBlock {
    font-size: 26px;
    line-height: 1.69;
    padding: 21px 30px !important;
}
#access_idx .sec img {
    margin: 0 auto;
}


/*-----------------------------------------------
 menu/index.html
-----------------------------------------------*/
#menu_idx .menuList li {
    border-bottom: 2px #c8c8c8 solid;
    background: url(../images/icon_arr_pink.gif) no-repeat 591px center;
}
#menu_idx .menuList li a {
    padding: 28px 0 27px 31px;
    display: block;
}
#menu_idx .menuIntroTt {
    font-size: 30px !important;
    line-height: 1.2;
}
#menu_idx .menuContent {
    margin: 12px 100px 0 0;
}
#menu_idx .menuTxt {
    line-height: 1.69;
    padding: 20px 20px 0 30px;
}

/*-----------------------------------------------
 flow/flow.html
-----------------------------------------------*/
#flow_idx .flowBlock {
    padding: 30px 30px 0 30px;
}
#flow_idx .flowBlock p {
    float: left;
    font-size: 36px;
    line-height: 1.39;
    color: #97506f;
    font-weight: bold;
    width: 400px;
    margin: 23px 0 0 0;
}
#flow_idx .flowBlock p.flowTxt {
    margin: 50px 0 0 0;
}
#flow_idx .flowBlock img {
    float: right;
    width: 140px;
    height: 140px;
}
#flow_idx p.flowItemCont {
    font-size: 26px;
    line-height: 1.69;
    padding: 23px 30px 0 30px;
}
#flow_idx .notice_box {
    border: 4px solid #b6859a;
    width: 572px;
    margin: 19px auto 0;
    padding-bottom: 19px;
}
#flow_idx .notice_box p {
    margin: 0 25px;
    font-size: 26px;
    line-height: 1.69;
}
#flow_idx .notice_box p.title {
    margin: 21px 0 3px 25px;
    color: #97506f;
    font-weight: bold;
    font-size: 28px;
}
/*-----------------------------------------------
 coupon/index.html
-----------------------------------------------*/
#coupon_idx p.couponTt {
    color: #9A506F;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.6;
    padding-top: 30px;
}
#coupon_idx .img {
    margin-top: 40px;
}



#steplist {
    width: 580px;
    height: 76px;
    margin: 31px auto 10px;
}
#steplist li {
    
    width: 193px;
    text-align: center;
    color: #b6859a;
    font-weight: bold;
    vertical-align: middle;
    display: table-cell;
    を;
    height: 76px;
}
#steplist li.active {
    color: #fff;

}

/*-----------------------------------------------

-----------------------------------------------*/
#recruit_idx .anchor_sec li {
    margin: 0px 0px 30px 29px;
}
#recruit_idx .formBlock {
    padding: 0 30px 0 30px !important;
}
#recruit_idx .formBlock dl {
    padding: 0;
    margin-top: 15px;
    border: 0;
}
#recruit_idx .formBlock dl dt {
    padding: 23px 10px 4px 0;
    border-bottom: 2px solid #b6859a;
    background: #FFF;
    color: #97506f;
    font-weight: bold;
}
#recruit_idx .formBlock dl dd {
    color: #3e2c1f;
    padding: 13px 10px 34px 0;
    border: 0;
}
/*#recruit_idx .btn_pink{
	width:480px;
	font-size: 40px;
	padding: 44px 31px 40px 69px;
}
#recruit_idx .btn_pink span{
background: url("../images/icon_arr_pink.png") no-repeat scroll right center transparent;
}*/
#recruit_idx .recruitDetailBlock .recruitBtn a {
    margin: 58px auto 26px;
}

#recruit_idx .recruitDetailBlock .otherTxt {
    margin: 20px auto;
}

#recruit_idx .recruitDetailBlock .otherTxt .eMail {
    text-decoration: underline;
}
#recruit_idx .recruitDetailBlock .otherTxt .eMail:hover {
    text-decoration: none;
}
/*-----------------------------------------------

-----------------------------------------------*/

#recruit_form .radiochoice label span {
    display: block;
    font-size: 22px;
    color: #574134;
    margin-top: 11px;
    float: left;
    line-height: 1.2em;
}
#recruit_form .formBlock .tel input {
    width: 530px;
}

/*-----------------------------------------------

-----------------------------------------------*/
#recruit_cnf .innerBlock {
    padding-bottom: 40px;
}

/*-----------------------------------------------
reservation/form.html
-----------------------------------------------*/
#reservation_form .formBlock .tel input {
    width: 530px;
}

#reservation_form .selOuter {
    position: relative;
    background: url(../../reservation/images/select_arr.png) right center no-repeat;
    display: inline-block;
    text-align: left;
    border: 1px solid #65564C;
    line-height: 1;
    padding: 6px 0 0 5px;
}
#reservation_form .noticeTxt-s {
    font-size: 20px;
    padding: 25px 0 0 31px;
}
#reservation_form #steplist {
    background-image: url(../../common/images/img-steplist.gif);
    background-repeat: no-repeat;
}

#reservation_form .selOuter select {
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
#reservation_form .large,#recruit_idx .large select {
    font-size: 24px;
    width: 263px;
    height: 24px;
}
#reservation_form .large select {
    width: 267px;
}
#reservation_form .city input[type=text] {
    width: 540px;
}
#reservation_form .street input[type=text] {
    width: 540px;
}
#reservation_form .postcode input[type=text] {
    width: 150px;
}
#reservation_form .wishBox {
    font-size: 14px;
    text-align: left;
    padding-bottom: 33px;
    border-bottom: 2px #b6859a solid;
    margin-bottom: 39px;
}
#reservation_form .wishBox.last {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 27px;
}
#reservation_form .wishdate .wishBox .tit {
    color: #984e6f;
    font-size: 31px;
    font-weight: bold;
    line-height: 1.2em;
    margin: 4px 0 0 0;
}

#reservation_form .wishdate .wishBox .wishBoxInner label {
    display: block;
    font-size: 24px;
    width: 91px;
    float: left;
    margin-top: 29px;
}
#reservation_form .wishdate .wishBox .wishBoxInner {
    margin-top: 17px;
}
#reservation_form .wishdate .wishBox .wishBoxInner.first {
    margin-top: 24px;
}
#reservation_form .wishdate .wishBox .wishBoxInner a {
    display: block;
    float: left;
}
#reservation_form .wishdate p.noticeTxt {
    padding: 20px 30px 0 0;
}
#reservation_form .small .ui-selectmenu-text {
    width: 293px!important;
}
#reservation_form .small select {
    width: 159px;
    font-size: 16px;
}

#reservation_form .checkchoice {
    font-size: 16px;
}

#reservation_form .checkchoice {
    margin-bottom: 0px;
}
#reservation_form .checkchoice label {
    width: 285px;
    display: block;
    float: left;
    margin-bottom: 31px;
}

#reservation_form .checkchoice label span {
    display: block;
    font-size: 22px;
    color: #574134;
    margin-top: 11px;
    float: left;
    line-height: 1.2em;
    width: 200px;
}

#reservation_form .checkchoice label span.twoLine {
    margin-top: 0px;
}

#reservation_form .formBlock .tel input {
    width: 530px;
}

/*-----------------------------------------------
catalog/form.html
-----------------------------------------------*/
#catalog_form .formBlock .tel input {
    width: 530px;
}

#catalog_form .selOuter {
    position: relative;
    background: url(../../reservation/images/select_arr.png) right center no-repeat;
    display: inline-block;
    text-align: left;
    border: 1px solid #65564C;
    line-height: 1;
    padding: 6px 0 0 5px;
}

#catalog_form .h1_sec {
    padding-right: 0;
    padding-bottom: 0;
}
#catalog_form .clm_l {
    background: url(../../catalog/images/catalog_bg.jpg) no-repeat right bottom;
    height: 290px;
}

#catalog_form .clm_l p {
    float: left;
    font-size: 24px;
    width: 366px;
}
#catalog_form .noticeTxt-s {
    font-size: 20px;
    padding: 25px 0 0 31px;
}
#catalog_form #steplist {
    background-image: url(../../common/images/img-steplist.gif);
    background-repeat: no-repeat;
}

#catalog_form .selOuter select {
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
#catalog_form .large,#recruit_idx .large select {
    font-size: 24px;
    width: 263px;
    height: 24px;
}
#catalog_form .large select {
    width: 267px;
}
#catalog_form .city input[type=text] {
    width: 540px;
}
#catalog_form .street input[type=text] {
    width: 540px;
}
#catalog_form .postcode input[type=text] {
    width: 150px;
}
#catalog_form .wishBox {
    font-size: 14px;
    text-align: left;
    padding-bottom: 33px;
    border-bottom: 2px #b6859a solid;
    margin-bottom: 39px;
}
#catalog_form .wishBox.last {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 27px;
}
#catalog_form .wishdate .wishBox .tit {
    color: #984e6f;
    font-size: 31px;
    font-weight: bold;
    line-height: 1.2em;
    margin: 4px 0 0 0;
}

#catalog_form .wishdate .wishBox .wishBoxInner label {
    display: block;
    font-size: 24px;
    width: 91px;
    float: left;
    margin-top: 29px;
}
#catalog_form .wishdate .wishBox .wishBoxInner {
    margin-top: 17px;
}
#catalog_form .wishdate .wishBox .wishBoxInner.first {
    margin-top: 24px;
}
#catalog_form .wishdate .wishBox .wishBoxInner a {
    display: block;
    float: left;
}
#catalog_form .wishdate p.noticeTxt {
    padding: 20px 30px 0 0;
}
#catalog_form .small .ui-selectmenu-text {
    width: 293px!important;
}
#catalog_form .small select {
    width: 159px;
    font-size: 16px;
}

#catalog_form .checkchoice {
    font-size: 16px;
}

#catalog_form .checkchoice {
    margin-bottom: 0px;
}
#catalog_form .checkchoice label {
    width: 285px;
    display: block;
    float: left;
    margin-bottom: 31px;
}

#catalog_form .checkchoice label span {
    display: block;
    font-size: 22px;
    color: #574134;
    margin-top: 11px;
    float: left;
    line-height: 1.2em;
    width: 200px;
}

#catalog_form .checkchoice label span.twoLine {
    margin-top: 0px;
}

#catalog_form .formBlock .tel input {
    width: 530px;
}

#catalog_form .formBlock .postalcode input {
    width: 530px;
}

#catalog_form .address .item {
    border-top: none;
}

/*-----------------------------------------------
inquiry/form.html
-----------------------------------------------*/
#inquiry_form {
    background: url(../../inquiry/images/inquiry_bg.jpg) no-repeat right 144px;
}
#inquiry_form .formBlock .tel input {
    width: 530px;
}

#inquiry_form .selOuter {
    position: relative;
    background: url(../../reservation/images/select_arr.png) right center no-repeat;
    display: inline-block;
    text-align: left;
    border: 1px solid #65564C;
    line-height: 1;
    padding: 6px 0 0 5px;
}

#inquiry_form .h1_sec {
    padding-right: 0;
    padding-bottom: 0;
}
#inquiry_form .clm_l {
    height: 390px;
}

#inquiry_form .clm_l p {
    float: left;
    font-size: 24px;
    width: 406px;
}
#inquiry_form .noticeTxt-s {
    font-size: 20px;
    padding: 25px 0 0 31px;
}
#inquiry_form #steplist {
    background-image: url(../../common/images/img-steplist.gif);
    background-repeat: no-repeat;
}

#inquiry_form .selOuter select {
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
#inquiry_form .large,#recruit_idx .large select {
    font-size: 24px;
    width: 263px;
    height: 24px;
}
#inquiry_form .large select {
    width: 267px;
}
#inquiry_form .city input[type=text] {
    width: 540px;
}
#inquiry_form .street input[type=text] {
    width: 540px;
}
#inquiry_form .postcode input[type=text] {
    width: 150px;
}
#inquiry_form .wishBox {
    font-size: 14px;
    text-align: left;
    padding-bottom: 33px;
    border-bottom: 2px #b6859a solid;
    margin-bottom: 39px;
}
#inquiry_form .wishBox.last {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 27px;
}
#inquiry_form .wishdate .wishBox .tit {
    color: #984e6f;
    font-size: 31px;
    font-weight: bold;
    line-height: 1.2em;
    margin: 4px 0 0 0;
}

#inquiry_form .wishdate .wishBox .wishBoxInner label {
    display: block;
    font-size: 24px;
    width: 91px;
    float: left;
    margin-top: 29px;
}
#inquiry_form .wishdate .wishBox .wishBoxInner {
    margin-top: 17px;
}
#inquiry_form .wishdate .wishBox .wishBoxInner.first {
    margin-top: 24px;
}
#inquiry_form .wishdate .wishBox .wishBoxInner a {
    display: block;
    float: left;
}
#inquiry_form .wishdate p.noticeTxt {
    padding: 20px 30px 0 0;
}
#inquiry_form .small .ui-selectmenu-text {
    width: 293px!important;
}
#inquiry_form .small select {
    width: 159px;
    font-size: 16px;
}

#inquiry_form .checkchoice {
    font-size: 16px;
}

#inquiry_form .checkchoice {
    margin-bottom: 0px;
}
#inquiry_form .checkchoice label {
    width: 285px;
    display: block;
    float: left;
    margin-bottom: 31px;
}

#inquiry_form .checkchoice label span {
    display: block;
    font-size: 22px;
    color: #574134;
    margin-top: 11px;
    float: left;
    line-height: 1.2em;
    width: 200px;
}

#inquiry_form .checkchoice label span.twoLine {
    margin-top: 0px;
}

#inquiry_form .formBlock .tel input {
    width: 530px;
}

#inquiry_form .formBlock .postalcode input {
    width: 530px;
}

/*#inquiry_form  .item {
	border-top: none;
}*/

/*-----------------------------------------------

-----------------------------------------------*/
#recruit_complete .h1_sec {
    padding: 50px 30px 30px;
}
#recruit_complete .h1_sec .bdrB {
    border-bottom: 2px solid #b88598;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
#recruit_complete #steplist {
    background-image: url(../../common/images/img-steplist-3.gif);
    background-repeat: no-repeat;
    margin-top: 0;
}
#recruit_complete .backHomeBlock {
}

/*-----------------------------------------------
 reservation/confirm.html
-----------------------------------------------*/
#reservation_confirm #steplist {
    background-image: url(../../common/images/img-steplist-2.gif);
    background-repeat: no-repeat;
}

#reservation_confirm .noticeTxt-s {
    font-size: 20px;
    padding: 25px 0 0 31px;
}
#reservation_confirm .h1_sec {
    padding: 50px 30px 30px;
}
#reservation_confirm .h1_sec .bdrB {
    border-bottom: 2px solid #b88598;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
#reservation_confirm .confirm {
    margin-top: 25px;
}
#reservation_confirm .confirm.mt60 {
    margin-top: 60px;
}
#reservation_confirm .confirm .innerBlock p {
    padding-top: .7em;
    line-height: 1.6;
}

/*----- backTopBlock*/
#reservation_confirm .backTopBlock {
    padding: 30px 30px 0px 0;
}

/*-----------------------------------------------
 catalog/confirm.html
-----------------------------------------------*/
#catalog_confirm #steplist {
    background-image: url(../../common/images/img-steplist-2.gif);
    background-repeat: no-repeat;
}

#catalog_confirm .noticeTxt-s {
    font-size: 20px;
    padding: 25px 0 0 31px;
}
#catalog_confirm .h1_sec {
    padding: 50px 30px 30px;
}
#catalog_confirm .h1_sec .bdrB {
    border-bottom: 2px solid #b88598;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
#catalog_confirm .confirm {
    margin-top: 25px;
}
#catalog_confirm .confirm.mt60 {
    margin-top: 60px;
}
#catalog_confirm .confirm .innerBlock p {
    padding-top: .7em;
    line-height: 1.6;
}

/*----- backTopBlock*/
#catalog_confirm .backTopBlock {
    padding: 30px 30px 0px 0;
}

/*-----------------------------------------------
 inquiry/confirm.html
-----------------------------------------------*/
#inquiry_confirm #steplist {
    background-image: url(../../common/images/img-steplist-2.gif);
    background-repeat: no-repeat;
}

#inquiry_confirm .noticeTxt-s {
    font-size: 20px;
    padding: 25px 0 0 31px;
}
#inquiry_confirm .h1_sec {
    padding: 50px 30px 30px;
}
#inquiry_confirm .h1_sec .bdrB {
    border-bottom: 2px solid #b88598;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
#inquiry_confirm .confirm {
    margin-top: 25px;
}
#inquiry_confirm .confirm.mt60 {
    margin-top: 60px;
}
#inquiry_confirm .confirm .innerBlock p {
    padding-top: .7em;
    line-height: 1.6;
}

/*----- backTopBlock*/
#inquiry_confirm .backTopBlock {
    padding: 30px 30px 0px 0;
}

/*----- small-backConfirmBlock　＆　.small-submitBlock のラップ*/
.btn-wrap.clearfix {
    width: 580px;
    margin: 60px auto 0;
}
/*----- small-backConfirmBlock*/
.small-backConfirmBlock {
    width: 274px;
    height: 116px;
    border: 2px solid #94526e;
    float: left;
    position: relative;
}
.small-backConfirmBlock a {
    display: block;
    background: #fff;
    color: #9b4f6d;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    line-height: 1.5;
}
.small-backConfirmBlock a span {
    display: inline-block;
    background: url(../images/icon_arr_pink_r.gif) no-repeat left center;
    width: 238px;
}

/*----- small-submitBlock*/
.small-submitBlock {
    width: 278px;
    height: 120px;
    margin: 0 auto;
    float: right;
}
.small-submitBlock a {
    display: block;
    background: #97506e;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 120px;
    height: 120px;
    text-decoration: none;
}
.small-submitBlock a span {
    display: block;
    background: url(../images/icon_arr_w02.png) no-repeat right center;
    width: 258px;
}
/*-----------------------------------------------
 reservation/complete.html
-----------------------------------------------*/
#reservation_complete .h1_sec {
    padding: 50px 30px 16px;
}
#reservation_complete .h1_sec .bdrB {
    border-bottom: 2px solid #b88598;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
#reservation_complete h2 {
    margin-top: 57px;
}
#reservation_complete .pt1em {
    padding-top: 1.5em;
}

#reservation_complete .noticeTxt-s {
    font-size: 20px;
    padding: 25px 0 0 31px;
}
#reservation_complete #steplist {
    background-image: url(../../common/images/img-steplist-3.gif);
    background-repeat: no-repeat;
    margin: 0 auto 40px;
}
#reservation_complete #bannerlist {
    padding: 4px 0 0px 4px;
    float: left;
    margin-bottom: 7px;
}
#reservation_complete #bannerlist li {
    float: left;
    padding: 5px 0 0 4px;
}
#reservation_complete #bannerlist li a {
    width: 310px;
    height: 163px;
    float: left;
}

#reservation_complete #linkbutton {
    clear: both;
    background-color: #f1d6cf;
    padding: 44px 0 50px 0px;
}
#reservation_complete #linkbutton li {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
}
#reservation_complete #linkbutton li a {
    width: 586px;
    display: block;
    padding: 25px;
    font-size: 32px;
}
#reservation_complete #linkbutton li:first-child {
    border-bottom: none;
}
/*-----------------------------------------------
 catalog/complete.html
-----------------------------------------------*/
#catalog_complete .h1_sec {
    padding: 50px 30px 16px;
}
#catalog_complete .h1_sec .bdrB {
    border-bottom: 2px solid #b88598;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
#catalog_complete h2 {
    margin-top: 57px;
}
#catalog_complete .pt1em {
    padding-top: 1.5em;
}

#catalog_complete .noticeTxt-s {
    font-size: 20px;
    padding: 25px 0 0 31px;
}
#catalog_complete #steplist {
    background-image: url(../../common/images/img-steplist-3.gif);
    background-repeat: no-repeat;
    margin: 0 auto 40px;
}
#catalog_complete #bannerlist {
    padding: 4px 0 0px 4px;
    float: left;
    margin-bottom: 7px;
}
#catalog_complete #bannerlist li {
    float: left;
    padding: 5px 0 0 4px;
}
#catalog_complete #bannerlist li a {
    width: 310px;
    height: 163px;
    float: left;
}

#catalog_complete #linkbutton {
    clear: both;
    background-color: #f1d6cf;
    padding: 44px 0 50px 0px;
}
#catalog_complete #linkbutton li {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
}
#catalog_complete #linkbutton li a {
    width: 586px;
    display: block;
    padding: 25px;
    font-size: 32px;
}
#catalog_complete #linkbutton li:first-child {
    border-bottom: none;
}

/*-----------------------------------------------
 inquiry/complete.html
-----------------------------------------------*/
#inquiry_complete .h1_sec {
    padding: 50px 30px 16px;
}
#inquiry_complete .h1_sec .bdrB {
    border-bottom: 2px solid #b88598;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
#inquiry_complete h2 {
    margin-top: 57px;
}
#inquiry_complete .pt1em {
    padding-top: 1.5em;
}

#inquiry_complete .noticeTxt-s {
    font-size: 20px;
    padding: 25px 0 0 31px;
}
#inquiry_complete #steplist {
    background-image: url(../../common/images/img-steplist-3.gif);
    background-repeat: no-repeat;
    margin: 0 auto 40px;
}
#inquiry_complete #bannerlist {
    padding: 4px 0 0px 4px;
    float: left;
    margin-bottom: 7px;
}
#inquiry_complete #bannerlist li {
    float: left;
    padding: 5px 0 0 4px;
}
#inquiry_complete #bannerlist li a {
    width: 310px;
    height: 163px;
    float: left;
}

#inquiry_complete #linkbutton {
    clear: both;
    background-color: #f1d6cf;
    padding: 44px 0 50px 0px;
}
#inquiry_complete #linkbutton li {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
}
#inquiry_complete #linkbutton li a {
    width: 586px;
    display: block;
    padding: 25px;
    font-size: 32px;
}
#inquiry_complete #linkbutton li:first-child {
    border-bottom: none;
}

#recruit_form #steplist {
    background-image: url(../../common/images/img-steplist.gif);
    background-repeat: no-repeat;
    margin: 60px auto 4px;
}
#recruit_form .noticeTxt-s {
    font-size: 20px;
    padding: 25px 0 0 31px;
}
#recruit_form .niceform .sec {
    margin-top: 0;
    padding-top: 11px;
}
#recruit_form .formBlock textarea {
    width: 530px;
    height: 270px;
}

#recruit_cnf #steplist {
    background-image: url(../../common/images/img-steplist-2.gif);
    background-repeat: no-repeat;
    margin: 7px auto 4px;
}
#recruit_cnf .noticeTxt-s {
    font-size: 20px;
    padding: 25px 0 17px 0px;
}
#recruit_cnf .niceform .sec {
    margin-top: 0;
    padding-top: 11px;
}
#recruit_cnf .formBlock textarea {
    width: 530px;
    height: 270px;
}

#recruit_cnf .btnGroupBlock {
    margin: 0 auto 137px 0;
}
#recruit_cnf .btnGroupBlock .btn_l {
    padding: 40px 36px 40px 19px;
}

#recruit_cnf .btnGroupBlock a.btn_l span {
    background-image: url(../images/icon_arr_pink_r.gif);
    background-position: left center;
    padding-left: 60px;
    font-size: 36px;

}
#recruit_cnf .btnGroupBlock a span {
}



#template1 h1 {
    line-height: 130%;
    padding-bottom: 0;
}
#template1 .sec ul {
    padding: 19px 19px 13px 29px;
}
#template1 .sec ul li {
    list-style: inside disc;
    text-indent: -25px;
    margin-left: 25px;
    line-height: 1.49;
    padding-bottom: 1%;
}

#template1 .sec p {
    padding: 20px 4% 20px;
    line-height: 1.70;
}
#template1 .sec p img.float-pic {
    float: left;
    padding-right: 4%;
}

#template1 .sec p.table-comment {
    font-size: 20px;
    padding-top: 2%;
}

#template1 .sec .sample-pictuer {
    text-align: center;
    width: 94%;
    margin: 0 3% 20px 3%;
    font-size: 0;
}
#template1 .sec .sample-pictuer img {
    width: 100%;
}
#template1 .sec .sample-pictuer-def {
    text-align: center;
    width: auto;
    padding-bottom: 4.5%;
    font-size: 0;
}
#template1 .sec .sample-pictuer-def-2 {
    text-align: center;
    width: auto;
    padding-bottom: 0;
    padding-top: 7%;
    margin: 0;
    font-size: 0;
}

#template1 .sec .sample-pictuer-def img {
    width: 100%;
}

#template1 .sec h3 {
    padding: 34px 0px 8px 4%;
    color: #7c5c0d;
    font-weight: normal;
    font-size: 30px;
}
#template1 .sec h3.icon-title {
    font-size: 24px;
    color: #9b506f;
    font-weight: bold;
    background-image: url(../../menu/images/icn-title-h3.gif);
    background-repeat: no-repeat;
    padding: 0 0 0 22px;
    margin: 0 0 0 4%;
}

#template1 h3.table-header {
    color: #97506f;
    font-weight: bold;
    padding-bottom: 3%;
}
#template1 table {
    width: 92%;
    margin: 0px 4%;
    color: #97506f;
    clear: both;
}
#template1 table td {
    border: 1px solid #e9e7e6;
}
#template1 table .table-name {
    width: 20%;
    text-align: right;
    vertical-align: middle;
    padding: 2% 3% 2% 0;
}
#template1 table .table-title {
    width: 38%;
    background-color: #f4f3f2;
    color: #4a2c1f;
    padding-left: 4%;
    vertical-align: middle;
    padding: 7% 0 7% 3%;
}
#template1 table .table-price {
    text-align: right;
    padding-right: 4%;
    vertical-align: middle;
}
#template1 table .table-price span.new {
    background-image: url(../../menu/images/icn-table-new.gif);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: 0 46%;
}

#template1 table.single-table {
    width: 92%;
    margin: 0px 4%;
    color: #97506f;
}
#template1 table.single-table td {
    border: 1px solid #e9e7e6;
}
#template1 table.single-table .table-name {
    width: 20%;
    text-align: right;
    vertical-align: middle;
    padding: 2% 3% 2% 0;
}
#template1 table.single-table .table-title {
    width: 38%;
    background-color: #f4f3f2;
    color: #4a2c1f;
    padding-left: 4%;
    vertical-align: middle;
    padding: 3% 0 3% 3%;
}
#template1 table.single-table .table-price {
    text-align: right;
    padding-right: 4%;
    vertical-align: middle;
}
#template1 table.single-table .table-price span.new {
    background-image: url(../../menu/images/icn-table-new.gif);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: 0 46%;
}

#template1 table.column-type1 {
    width: 92%;
    margin: 0px 4%;
    color: #97506f;
}
#template1 table.column-type1 td {
    border: 1px solid #e9e7e6;
}
#template1 table.column-type1 .table-title {
    width: 48%;
    background-color: #f4f3f2;
    color: #4a2c1f;
    padding-left: 4%;
    vertical-align: middle;
    padding: 3% 0 3% 3%;
    font-size: 19px;
}
#template1 table.column-type1 .table-price {
    text-align: right;
    padding-right: 4%;
    vertical-align: middle;
}
#template1 table.column-type1 .table-price span.new {
    background-image: url(../../menu/images/icn-table-new.gif);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: 0 46%;
}

#template1 table.column-type2 {
    width: 92%;
    margin: 0px 4%;
    color: #97506f;
    font-size: 16px;
}
#template1 table.column-type2 td {
    border: 1px solid #e9e7e6;
}
#template1 table.column-type2 .table-name {
    width: 36%;
    text-align: right;
    vertical-align: middle;
    padding: 2% 3% 2% 0;
}
#template1 table.column-type2 .table-title {
    width: 33%;
    background-color: #f4f3f2;
    color: #4a2c1f;
    padding-left: 4%;
    vertical-align: middle;
    padding: 3% 0 3% 3%;
}
#template1 table.column-type2 .table-price {
    text-align: right;
    padding-right: 4%;
    vertical-align: middle;
}
#template1 table.column-type2 .table-price span.new {
    background-image: url(../../menu/images/icn-table-new.gif);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: 0 46%;
}

#template1 table.column-type3 {
    width: 92%;
    margin: 0px 4%;
    color: #98506f;
}
#template1 table.column-type3 td {
    
    font-weight: bold;
    
    font-size: 21px;
}
#template1 table.column-type3 tr {
    border: solid 2px #98506f;
}
#template1 table.column-type3 tr:first-child {
    border-bottom: solid 4px #98506f;
}
#template1 table.column-type3 tr:first-child .table-time1 {
    
    color: #7b5a0c;
}
#template1 table.column-type3 tr:first-child .table-time2 {
    
    color: #7b5a0c;
}

#template1 table.column-type3 .table-title {
    width: 25%;
    background-color: #f1e5e9;
    padding-left: 0;
    vertical-align: middle;
    padding: 3% 0 3% 0%;
    border: none;
    color: #98506f;
    text-align: center;
}
#template1 table.column-type3 .table-time1 {
    width: 37%;
    text-align: center;
    vertical-align: middle;
    padding: 2% 0% 2% 0;
    border: none;
    color: #7b5a0c;
}
#template1 table.column-type3 .table-time2 {
    text-align: center;
    padding-right: 0;
    vertical-align: middle;
    border: none;
    border-left: solid 2px #98506f;
}
#template1 table.column-type3 .table-font-size-l {
    font-size: 28px;
}
#template1 table.column-type3 .table-font-size-s {
    font-weight: normal;
}

#template1 .column-type4-block {
    padding-top: 8%;
}
#template1 table.column-type4 {
    width: 92%;
    margin: 9% 4% 0 4%;
    color: #97506f;
    font-size: 21px;
}
#template1 table.column-type4 td {
    border: 1px solid #e9e7e6;
}
#template1 table.column-type4 .table-title-header {
    width: 48%;
    background-color: #f4f3f2;
    color: #4a2c1f;
    vertical-align: middle;
    padding: 3% 0 3% 0%;
    text-align: center;
}

#template1 table.column-type4 .table-title {
    width: 50%;
    color: #97506f;
    vertical-align: middle;
    padding: 3% 4% 3% 0%;
    text-align: right;
    background-color: #fff;
}
#template1 table.column-type4 .table-price {
    text-align: right;
    padding-right: 4%;
    vertical-align: middle;
}
#template1 table.column-type4 .table-price span.new {
    background-image: url(../../menu/images/icn-table-new.gif);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: 0 46%;
}

#template1 table.column-type5 {
    width: 92%;
    margin: 0px 4%;
    color: #97506f;
    font-size: 21px;
}
#template1 table.column-type5 td {
    border: 1px solid #e9e7e6;
}
#template1 table.column-type5 .table-title {
    width: 40%;
    background-color: #f4f3f2;
    color: #4a2c1f;
    padding-left: 4%;
    vertical-align: middle;
    padding: 3% 0 3% 3%;
}
#template1 table.column-type5 .table-price {
    text-align: right;
    padding-right: 2%;
    vertical-align: middle;
}
#template1 table.column-type5 .table-name {
    text-align: center;
    padding-right: 0;
    vertical-align: middle;
    width: 23%;
    font-size: 18px;
}

#template1 table.column-type5 .table-price span.new {
    background-image: url(../../menu/images/icn-table-new.gif);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: 0 46%;
}


#template1 .column-type6-block {
    padding-top: 8%;
}
#template1 table.column-type6 {
    width: 92%;
    margin: 9% 4% 0 4%;
    color: #97506f;
    font-size: 21px;
}
#template1 table.column-type6 td {
    border: 1px solid #e9e7e6;
}
#template1 table.column-type6 .table-title-header {
    width: 27%;
    background-color: #f4f3f2;
    color: #4a2c1f;
    vertical-align: middle;
    padding: 3% 0 3% 3%;
    text-align: left;
}

#template1 table.column-type6 .table-title {
    width: 27%;
    color: #97506f;
    vertical-align: middle;
    padding: 3% 4% 3% 0%;
    text-align: right;
    background-color: #fff;
}
#template1 table.column-type6 .table-price {
    text-align: right;
    padding-right: 3%;
    vertical-align: middle;
}
#template1 table.column-type6 .table-price span.new {
    background-image: url(../../menu/images/icn-table-new.gif);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: 0 46%;
}


#template1 .column-type7-block {
    padding-top: 8%;
}
#template1 table.column-type7 {
    width: 92%;
    margin: 9% 4% 0 4%;
    color: #97506f;
    font-size: 21px;
}
#template1 table.column-type7 td {
    border: 1px solid #e9e7e6;
}
#template1 table.column-type7 .table-title-header {
    width: 42%;
    background-color: #f4f3f2;
    color: #4a2c1f;
    vertical-align: middle;
    padding: 3% 0 3% 3%;
    text-align: left;
}

#template1 table.column-type7 .table-title {
    width: 20%;
    color: #97506f;
    vertical-align: middle;
    padding: 3% 4% 3% 0%;
    text-align: right;
    background-color: #fff;
}
#template1 table.column-type7 .table-price {
    text-align: right;
    padding-right: 3%;
    vertical-align: middle;
}
#template1 table.column-type7 .table-price span.new {
    background-image: url(../../menu/images/icn-table-new.gif);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: 0 46%;
}

#template1 table.column-type8 {
    width: 92%;
    margin: 0px 4%;
    color: #97506f;
    font-size: 18px;
}
#template1 table.column-type8 td {
    border: 1px solid #e9e7e6;
}
#template1 table.column-type8 .table-title {
    width: 33%;
    background-color: #f4f3f2;
    color: #4a2c1f;
    padding-left: 4%;
    vertical-align: middle;
    padding: 3% 0 3% 3%;
}
#template1 table.column-type8 .table-price {
    text-align: right;
    padding-right: 2%;
    vertical-align: middle;
}
#template1 table.column-type8 .table-name {
    text-align: center;
    padding-right: 0;
    vertical-align: middle;
    width: 36%;
    font-size: 18px;
}

#template1 table.column-type8 .table-price span.new {
    background-image: url(../../menu/images/icn-table-new.gif);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: 0 46%;
}

#template1 table.column-type9 {
    width: 92%;
    margin: 0px 4%;
    color: #97506f;
    font-size: 16px;
}
#template1 table.column-type9 td {
    border: 1px solid #e9e7e6;
}
#template1 table.column-type9 .table-name {
    width: 21%;
    text-align: right;
    vertical-align: middle;
    padding: 2% 2% 2% 0;
}
#template1 table.column-type9 .table-title {
    width: 44%;
    background-color: #f4f3f2;
    color: #4a2c1f;
    padding-left: 4%;
    vertical-align: middle;
    padding: 3% 0 3% 3%;
}
#template1 table.column-type9 .table-price {
    text-align: right;
    padding-right: 4%;
    vertical-align: middle;
}
#template1 table.column-type9 .table-price span.new {
    background-image: url(../../menu/images/icn-table-new.gif);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: 0% -3px;
}


#template1 table.column-type10 {
    width: 92%;
    margin: 0px 4%;
    color: #97506f;
    font-size: 19px;
}
#template1 table.column-type10 td {
    border: 1px solid #e9e7e6;
}
#template1 table.column-type10 .table-name {
    width: 21%;
    text-align: right;
    vertical-align: middle;
    padding: 2% 2% 2% 0;
}
#template1 table.column-type10 .table-title {
    width: 44%;
    background-color: #f4f3f2;
    color: #4a2c1f;
    padding-left: 4%;
    vertical-align: middle;
    padding: 3% 0 3% 3%;
}
#template1 table.column-type10 .table-price {
    text-align: right;
    vertical-align: middle;
    padding: 2% 4% 2% 3%;
    line-height: 170%;
}
#template1 table.column-type10 .table-price span.new {
    background-image: url(../../menu/images/icn-table-new.gif);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: 0% -3px;
}


#template1 table.column-type11 {
    width: 92%;
    margin: 0px 4%;
    color: #97506f;
    font-size: 20px;
}
#template1 table.column-type11 td {
    border: 1px solid #e9e7e6;
}
#template1 table.column-type11 .table-name {
    width: 21%;
    text-align: right;
    vertical-align: middle;
    padding: 2% 2% 2% 0;
}
#template1 table.column-type11 .table-title {
    width: 60%;
    background-color: #f4f3f2;
    color: #4a2c1f;
    padding-left: 4%;
    vertical-align: middle;
    padding: 3% 0 3% 3%;
}
#template1 table.column-type11 .table-price {
    text-align: right;
    padding-right: 4%;
    vertical-align: middle;
}
#template1 table.column-type11 .table-price span.new {
    background-image: url(../../menu/images/icn-table-new.gif);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: 0% -3px;
}


#template1 table.column-type12 {
    width: 92%;
    margin: 0px 4%;
    color: #97506f;
    font-size: 15px;
}
#template1 table.column-type12 td {
    border: 1px solid #e9e7e6;
}
#template1 table.column-type12 .table-name {
    width: 29%;
    text-align: right;
    vertical-align: middle;
    padding: 2% 2% 2% 0;
}
#template1 table.column-type12 .table-title {
    width: 39%;
    background-color: #f4f3f2;
    color: #4a2c1f;
    padding-left: 4%;
    vertical-align: middle;
    padding: 3% 0 3% 3%;
}
#template1 table.column-type12 .table-price {
    text-align: right;
    padding-right: 4%;
    vertical-align: middle;
}
#template1 table.column-type12 .table-price span.new {
    background-image: url(../../menu/images/icn-table-new.gif);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: 0% -3px;
}



#template1 .qa-box {
    border: 6px solid #f7e6e2;
    margin: 0 4% 0 4%;
    line-height: 150%;
}
#template1 .qa-box hr {
    margin: 1% 3% 0% 3%;
}

#template1 .qa-box .qa-list {
    padding: 4% 4% 4% 4%;
    font-size: 22px;
    overflow: hidden;
}
#template1 .qa-box .qa-list dl {
}
#template1 .qa-box .qa-list dt {
    list-style: none;
    text-indent: -30px;
    margin-left: 30px;
}
#template1 .qa-box .qa-list .qa-question {
    font-weight: bold;
}
#template1 .qa-box .qa-list .qa-answer {
    padding-top: 4%;
}

#template1 .qa-box .qa-list dd.qa-question {
    color: #7c5c0d;
    float: left;
    width: 10%;
}
#template1 .qa-box .qa-list dt.qa-question {
    padding-left: initial;
    float: left;
    text-indent: 0;
    margin: 0;
    width: 90%;
}
#template1 .qa-box .qa-list dd.qa-answer {
    color: #8f3d5b;
    font-weight: bold;
    float: left;
    width: 10%;
}
#template1 .qa-box .qa-list dt.qa-answer {
    padding-left: initial;
    float: left;
    text-indent: 0;
    margin: 0;
    width: 90%;
}
#template1 .sec .bottom-message {
    font-size: 24px;
    padding-top: 11px;
}
#template1 .technology-spec {
    padding-bottom: 6%;
}

#template1 ul.anchor-menu {
    width: 96%;
    overflow: hidden;
    padding: 2% 2% 13% 2%;
}
#template1 ul.anchor-menu li {
    list-style: none;
    float: left;
    padding: 0;
    background-color: #97506f;
    width: 46%;
    margin: 2% 2% 2% 2%;
    display: table;
    text-indent: 0;
    background-image: url(../../menu/images/icn-anchor-arrow.gif);
    background-repeat: no-repeat;
    background-position: 50% 85%;
}
#template1 ul.anchor-menu li a {
    padding: 1% 0% 10% 0%;
    text-indent: 0;
    color: #fff;
    font-size: 22px;
    text-align: center;
    height: 4em;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    line-height: 130%;
    font-weight: bold;
}
#template1 .btn-anchor {
    background-image: url(../../menu/images/btn-anchor-1.jpg);
    background-repeat: no-repeat;
    width: 576px;
    margin: 0 auto 36px;
    text-align: center;
    height: 96px;
    line-height: 96px;
}
#template1 .btn-anchor a {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    display: block;
}
#template1 .best-title {
    margin: 5% 0% 6% 4%;
}
#template1 .line-box-title {
    border: solid 2px #97506f;
    color: #97506f;
    padding: 1% 3%;
    float: left;
    margin: 7% 0% 3% 4%;
    font-size: 23px;
}
#template1 .sub-info {
    color: #97506f;
    font-size: 21px;
}
#template1 .margin-top-s {
    margin-top: 4%;
}



.ultracell_how dl:not(:last-child) { border-right: medium none;}
.ultracell_how dl { border: 1px solid #e7e7e7; box-sizing: border-box;	padding: 10px;}
.ultracell_how dt span {
    display: block;
    font-size: 11px;
}
.ultracell_how dt {
    border-left: 2px solid #8c77a2;
    padding: 0 0 0 6px;
}
.intracell_head { background: rgba(0, 0, 0, 0) url("../../menu/images/skincare/intracell_head.jpg") no-repeat scroll right center / contain ;}
.intragen_head{background: rgba(0, 0, 0, 0) url("../../menu/images/skincare/intragen_head.jpg") no-repeat scroll right center / contain ;}
.hifu_head{background: rgba(0, 0, 0, 0) url("../../menu/images/skincare/hifu_head.jpg") no-repeat scroll right center / contain ;}

.ultracell_how dd {
    margin:10px 0;
}

.ultracell_how dd img {
    width: 100%;
}

.ultracell_table td:first-child {
    background: #f5f5f5 none repeat scroll 0 0;
    padding: 1.5%;
    text-align: center;
    width: 40%;
}
.ultracell_table tr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #b3b3b3 -moz-use-text-color;
    border-image: none;
    border-style: dotted none;
    border-width: 1px medium;
    padding: 7%;
}

.ultracell_table td:first-child {
    background: #f5f5f5 none repeat scroll 0 0;
    padding: 1.5%;
    text-align: center;
    width: 40%;
}
.ultracell_table td {
    padding: 1%;
}

.ultracell_pic {
    padding: 20px;
    text-align: center;
}

.ultracell_pic hr {
    border-left: medium none;
    border-right: medium none;
    border-top: 4px double;
    width: 80%;
}

.ultracell_pic img {
    margin: 5%;
    width: 39%;
}

.icn-qa-title {
    background-color: #98506f;
    border-radius: 40px;
    color: #fff;
    margin: 20px;
    padding: 3px 35px;
}

#type6 > h3 > * {
    vertical-align: middle;
}

/*-----------------------------------------------

 reservation/complete.html  ▼共通
-----------------------------------------------*/



.box-bdr {
    border: 6px solid #b5859a;
    padding: 65px 0;
    text-align: center;
    width: 568px;
}
p.txt-strong {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    color: #9b5775;
    padding-bottom: 1em;
}
p.txt {
    line-height: 1.6;
    font-weight: bold;
    font-size: 22px;
}
.mt60 {
    margin-top: 60px;
}
/*-----------------------------------------------

 reservation/confirm.html,
 reservation/complete.html  ▼共通
-----------------------------------------------*/
.mt100 {
    margin-top: 100px;
}
.mt20{
    margin-top:20px;
}

.icon-red {
    color: #cd3737;
    background-color: #fff;
    
    
    padding: 3px 9px 3px 9px;
    margin-right: 1em;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
.icon-blue {
    color: #518dd7;
    background-color: #fff;
    
    
    padding: 3px 9px 3px 9px;
    margin-right: 1em;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
