#image1 {
	height: auto;
	width: 520px;
	margin-left: 70px;
	margin-bottom: 30px;
}
#image2 {
	margin-left: 70px;
	height: auto;
	width: 520px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#image3 {
	height: auto;
	margin-top: 30px;
	width: 520px;
	margin-left: 70px;
}
