@charset "utf-8";
/* CSS Document */

/* =====================================
  INDEX.CSS - update:2014.03.05
======================================== */



/* common
---------------------------------------- */
#article > h1 img {width: 100%;}
#article em {font-style: normal; text-decoration: underline;}
h3.next-arrow { background: url(../img/next_arr.png) bottom center no-repeat; background-size: 180px auto; font-size: 1.5rem; margin-bottom: 10px; padding: 0 15px 40px;}


/*accordion*/
dl.accordion {margin-top:20px;}
dl.accordion dt {background: #FFECEF;  color:#630; cursor:pointer; font-weight: bold; font-size: 1.2rem;  margin-bottom: 5px; padding:-5px 15px 0px 15px; }
dl.accordion dt span {background: url(../img/arrow_bg.png) right center no-repeat; background-size: 29px 29px;  display: block;  padding:8px 32px 8px 3em; line-height:1;
text-indent:-3.1em; position: relative;}
dl.accordion dt.point span {}


dl.accordion dt span:after {position: absolute; display: block; top: 47%; right: 9px; width: 9px; height: 9px; margin-top: -6px; border-top: 2px solid #b89682; border-right: 2px solid #b89682; -webkit-transform: rotate(135deg); transform: rotate(135deg); content: ""; }
dl.accordion dt.open span:after {position: absolute; display: block; top: 47%; right: 9px; width: 9px; height: 9px; margin-top: -3px; border-top: 2px solid #b89682; border-right: 2px solid #b89682; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); content: "";}
dl.accordion dd { display:none; font-size: 1.2rem; margin: 0; padding: 10px; border:solid 4px #FFECEF;}
dl.accordion dt img{ vertical-align:middle; }



dl.accordion2 {margin-top:0px;}
dl.accordion2 dt {background: #C4997F; color:#fff; cursor:pointer; font-weight: bold; font-size:14px;  margin-bottom: 5px; padding:5px 5px 3px 5px; }
dl.accordion2 dt span {background: url(../img/arrow_bg.png) right center no-repeat; background-size: 29px 29px;
 display: block; padding: 8px 20px 8px 0px; position: relative;}
dl.accordion2 dt span:after {position: absolute; display: block; top: 47%; right: 9px; width: 9px; height: 9px; margin-top: -6px; border-top: 2px solid #b89682; border-right: 2px solid #b89682; -webkit-transform: rotate(135deg); transform: rotate(135deg); content: ""; }
dl.accordion2 dt.open span:after {position: absolute; display: block; top: 47%; right: 9px; width: 9px; height: 9px; margin-top: -3px; border-top: 2px solid #b89682; border-right: 2px solid #b89682; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); content: "";}
dl.accordion2 dd { display:none; font-size: 1.2rem; margin: 0; padding: 5px 10px;}






/* contents
---------------------------------------- */

/*---res-unit---*/
.res-unit { background: -moz-linear-gradient(top, #FAD6DB, #ffffff); background: -webkit-gradient(linear, left top, left bottom, from(#FAD6DB), to(#ffffff));  width:312px; border:solid 4px #ddd; margin:10px auto 10px;}
.res-unit h1{ text-align: center;margin:0 0 -10px 0;padding:0; }
.res-unit h2 { line-height: 0; text-align: center; }
.res-unit p { margin: 0; text-align: center; padding:0; }
.res-unit nav { padding-bottom: 10px; }
.res-unit nav li { margin-bottom: 5px; text-align: center; }
.res-unit p.img{ text-align: center;margin:0 0 -10px 0;padding:0; }



/*---trouble---*/
.trouble h1{ background: #C4997F; height: 30px; position: relative; text-align: center; }
.trouble h1.large { height: 52px; }


/*---mechanism---*/
.mechanism p {font-size: 1.2rem; line-height: 1.6; padding:5px 10px; }

/*---slider_area---*/
.slider_area{ margin: 10px 0; }
.slider_area .slider img { margin: 0 auto; }

/*--- gimon ---*/
.gimon{margin-top:20px;}
.gimon h1{ background: #C4997F; height: 52px; position: relative; text-align: center; }


/*--- voice ---*/
.voice h1{ background: #C4997F; height: 33px; position: relative; text-align: center; }
.voice .box1{ margin:25px 0 0 0; border:solid 4px #FEEDF0; padding:15px;}
.voice .box{ margin:10px 0 0 0; border:solid 4px #FEEDF0; padding:15px;}
.voice p{ font-size: 1.2rem; line-height: 1.6;}

/*--- bbl ---*/
.bbl{margin-top:20px; background:#FEEDF0; text-align:center; padding:10px;}
.bbl p{ text-align:left;font-size: 1.2rem; line-height: 1.6;}


/*-flow-*/
.flow{ margin-top:30px;}
/*-step-*/
.step h3 {  }
.step h3 img {
    width: 100%;
}
.step01, .step02, .step03, .step04, .step05, .step06 { margin-bottom: 20px; }
.step .step01 .bgph { background: url(../img/set09_ph01.png) 10px 0 no-repeat; background-size: 54px 49px; }
.step .step02 .bgph { background: url(../img/set09_ph02.png) 10px 0 no-repeat; background-size: 54px auto; }
.step .step03 .bgph { background: url(../img/set09_ph03.png) 10px 0 no-repeat; background-size: 54px auto; }
.step .step04 .bgph { background: url(../img/set09_ph04.png) 10px 0 no-repeat; background-size: 54px auto; }
.step .step05 .bgph { background: url(../img/set09_ph05.png) 10px 0 no-repeat; background-size: 54px auto; }
.step .step06 .bgph { background: url(../img/set09_ph06.png) 10px 0 no-repeat; background-size: 54px auto; }
.step p.bgph { margin-bottom: 10px; padding: 0 10px 0 100px; padding-bottom: 0; }
.step .step01 li { text-align: center; margin-bottom: 10px; }
.step .step01 li p { font-size: 1rem; margin-top: 0; }
.step p .box { border: 1px solid #cbb1a2; display: block; font-size: 1rem; margin-top: 10px; padding: 5px; text-decoration: none; }

/*-flow-*/
.flow .detail { border-bottom: 1px dotted #462c24; margin: 0 10px 10px; padding-bottom: 10px; }
.flow .detail.last { border-bottom: none; }
.flow .detail:after { content: "."; display: block; clear: both; height: 0; line-height: 0; visibility: hidden; }
.flow .detail h3 { background: url(../img/set10_stet_arr.png) center bottom no-repeat #e0d0c7; display: block; float: left; font-size: 1.2rem; padding-top: 15px; padding-bottom: 25px; text-align: center; width: 70px; }
.flow .detail.last h3 { font-size: 1.1rem; }
.flow .detail p { float: right; margin-top: 0; padding-left: 10px; width: 70%; }
.media .flow .bgph { background: url(../img/set10_ph.png) center bottom no-repeat; background-size: 215px auto; margin-bottom: 10px; padding: 0 10px 120px; }


/*---tre_flow---*/

.tre_flow img{ width: 100%;}

.tre_flow li{ margin:0 0 0.5em 0;}

.tre_flow li:last-child{ margin: 0;}


/*---price---*/
.price {margin-top:30px;}
.price h1{ background: #C4997F; height: 33px; position: relative; text-align: center; }
.price table{ margin:25px auto 0; border-collapse:collapse; width:300px; }
.price table th{ background:#F7F0EE; border:solid 1px #ddd; padding:5px;}
.price table td{ border:solid 1px #ddd; padding:5px; text-align:right;}


/*---clinic---*/
/*-about-*/
.about { margin: 20px 0; }
.about h1 { background: #C4997F; height: 30px; margin-bottom: 20px; position: relative; text-align: center; }
.about h2 { font-size: 1.4rem; margin-bottom: 10px; text-align: center; }
.about p { font-size: 1.2rem; padding: 0 15px; }
.about #slider img { margin: 0 auto; }

/*-access-*/
.access { margin-bottom: 20px; }
.access h1 { background: #C4997F; height: 30px; position: relative;   text-align: center; }
.access p { font-size: 1.2rem; font-weight: bold; margin-bottom: 20px; padding: 0 15px; }
.access div { margin-bottom: 10px; text-align: center; }
.access .detail { margin: 0 15px; }
.access .detail dt { font-size: 1.3rem; font-weight: bold; margin-bottom: 3px; min-height: 23px; padding-left:25px; }
.access .detail dt.train { background: url(../img/set12_icn_train.png) 0 center no-repeat; background-size: 21px auto; }
.access .detail dt.car { background: url(../img/set12_icn_car.png) 0 center no-repeat; background-size: 21px auto; }
.access .detail dt.open { background: url(../img/set12_icn_open.png) 0 center no-repeat; background-size: 21px auto; }
.access .detail dt.close { background: url(../img/set12_icn_close.png) 0 center no-repeat; background-size: 21px auto; }
.access .detail dd { font-size: 1.2rem; line-height: 1.6; margin: 0; margin-bottom: 10px; padding: 0; }
.access .detail .disc li { list-style-type: disc; line-height: 1.6; margin-left: 1.3rem; }






/*---doctor---*/
.doctor { margin-bottom: 20px; }
.doctor h1 { background: #C4997F; height: 30px; position: relative; text-align: center; }
.doctor h2 { background: #dec3b8; line-height: 0; }
.doctor p { font-size: 1.2rem; margin-bottom: 15px; padding: 0 15px; }
.doctor .accordion dd { font-size: 1.2rem; line-height: 1.6; margin: 0; padding: 0px 15px; }
.doctor .accordion ul { margin-bottom: 1em; }
.doctor .accordion .disc li { list-style-type: disc; line-height: 1.6; margin-left: 1.3rem; }
.doctor .accordion p { padding: 0; }
.doctor .com-box { border: 3px solid #dec3b8; margin: 15px 15px 30px; padding: 15px; }
.doctor .com-box h3 { font-size: 1.4rem; margin-bottom: 10px; text-align: center; }
.doctor .com-box p { font-size: 1.2rem; line-height: 1.6; margin: 0; padding: 0; }
.doctor .res-unit p { margin: 0; padding: 0; }
.doctor .res-unit h2 { background: none; padding: 0; margin: 0; }
.doctor .res-unit .caption { font-size: 1rem; }






/*---pickup---*/
.pickup { margin-bottom: 10px; }
.pickup h1 { border-top: 1px solid #a39591; margin-bottom: 15px; padding-top: 5px; text-align: center; }
.pickup ul { margin-bottom: 20px; }
.pickup li { margin-bottom: 10px; text-align: center; }




/*--attentionBox add160728--*/
.attentionBox {
  width: 80%;
  max-width: 360px;
  padding: 0 1em;
  margin: 2em auto;
  border: 1px solid #999;
  text-align: left;
}
.attentionBox > dl > * {
  margin: 0;
}
.attentionBox dt {
  font-size: 1.3em;
  font-weight: bold;
  color: #ff9900;
  margin-bottom: 0.5em;
  text-align: center;
}

