#header h1 {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
}
#headText {
  text-align: left;
  text-indent: 10px;
  height: 20px;
  font-size: 12px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#headerRight {
  float: right;
  margin-right: 5px;
}
#headerRight .fav_btn {
  margin-right: 33px;
  float: right;
  margin-bottom: 10px;
}
#headerRight #tel {
  float: right;
  margin-top: 10px;
}
.price {
  margin-bottom: 20px;
}
.text {
  font-size: 16px;
  color: #595757;
  line-height: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}
#box {
  width: 836px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.subBox {
  text-align: left;
  width: 641px;
  float: left;
  margin-left: 30px;
}
.subBox2 {
  text-align: left;
  width: 611px;
  float: left;
  margin-left: 30px;
}
.subBox3 {
  text-align: left;
  width: 775px;
  float: left;
  margin-left: 30px;
}

.subbox4 {
  float: left;
  background-image: url(../img/24_pill_back.jpg);
  background-repeat: repeat-y;
  background-position: center top;
}
#box01 {
  width: 900px;
}
#box02 {
}
.box03 {
  width: 836px;
  margin-right: auto;
  margin-left: auto;
}
#box04 {
  width: 836px;
  margin-top: 50px;
  margin-bottom: 40px;
}
#box05 {
  width: 836px;
  margin-top: 50px;
  margin-bottom: 50px;
}
#box06 {
  clear: left;
  width: 836px;
  margin-top: 50px;
  margin-bottom: 50px;
}
#box07 {
  clear: left;
  width: 775px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}
#box08 {
  width: 775px;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
}
.subbox4 .pill {
  float: left;
  width: 353px;
  text-align: left;
  margin-left: 50px;
}
.subbox4 .pill2 {
  float: left;
  width: 353px;
  text-align: left;
  margin-left: 20px;
}
.subbox4 .pill dl dt {
  margin-bottom: 10px;
  height: 70px;
}
.subbox4 .pill2 dl dt {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.5em;
}
.subbox4 .pill dl dd {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.5em;
}
.subbox4 .pill2 dl dd {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.5em;
}
.txt_center {
  font-size: 16px;
  color: #595757;
  line-height: 2em;
  margin-bottom: 20px;
  text-align: center;
}
.doctors_name {
  background-color: #b2d7f0;
  height: 32px;
  width: 760px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  text-align: left;
  vertical-align: middle;
  padding-top: 13px;
  padding-left: 15px;
}
.doc_txtbox01 {
  float: left;
  width: 320px;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}
.doc_txtbox02 {
  float: right;
  width: 245px;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}
.doc_comment {
  width: 602px;
  margin-right: auto;
  margin-left: auto;
  border: 4px solid #b2d7f0;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  clear: both;
  margin-top: 20px;
}
.text02 {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  clear: both;
}
.process_box {
  width: 775px;
  margin-right: auto;
  margin-left: auto;
  vertical-align: top;
  margin-bottom: 15px;
}
.process_bg {
  width: 775px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../img/40_box_middle.jpg);
  background-repeat: repeat-y;
  vertical-align: top;
  text-align: left;
}
.step_title {
  background-color: #eaf6fd;
  height: 37px;
  width: 430px;
  float: right;
  padding-top: 15px;
  padding-left: 20px;
  margin-right: 25px;
  margin-bottom: 15px;
}
.process_txt {
  width: 450px;
  text-align: left;
  float: right;
  margin-right: 25px;
  font-size: 16px;
  line-height: 28px;
}

.step_kakomi {
  font-size: 13px;
  line-height: 20px;
  width: 430px;
  border: 1px solid #cdcdcd;
  clear: both;
  margin-top: 15px;
  padding: 10px;

}
.blueback {
  background-color: #e9f6fc;
  width: 775px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-top: 50px;
}
.blueback_inner {
  width: 707px;
  margin-right: auto;
  margin-left: auto;
}
.access_wbox {
  width: 670px;
  background-color: #FFF;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  vertical-align: middle;
  padding: 25px;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
}
.access_left {
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #333;
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
  padding-right: 30px;
  margin-right: 30px;
}
.concept_title {
  background-color: #aaa;
  text-align: center;
  vertical-align: middle;
  height: 40px;
  width: 720px;
  padding-top: 5px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}
.concept_box {
  background-color: #FFF;
  width: 660px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  margin-bottom: 20px;
}
.copy_center {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}

.concept_txt {
  text-align: left;
  float: right;
  width: 335px;
  font-size: 16px;
  line-height: 28px;
}
#hr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0F75BD;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: #0F75BD;
  margin-top: 30px;
}

#map {
  clear: both;
  margin-top: 30px;
}
#footer {
  width: 836px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
  clear: both;
}
#page_top {
  text-align: right;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0F75BD;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: #0F75BD;
}
#foot_logo {
  float: left;
  text-align: center;
  width: 836px;
  margin-bottom: 20px;
}
.footText {
  font-size: 14px;
  line-height: 2em;
  text-align: left;
  margin-left: 30px;
  margin-top: 10px;
  width: 380px;
  float: left;
}
.footText span{
  font-size: 12px;
  line-height: 1.5em;
}


/*--attentionBox add160728--*/
.attentionBox {
  width: /*800px*/80%;
  padding: 1em;
  margin: 2em auto;
  border: 1px solid #999;
  text-align: center;
}
.attentionBox dt {
  font-size: 1.3em;
  font-weight: bold;
  color: #ff9900;
  margin-bottom: 0.5em;
}
