@charset "UTF-8";

body{
	font-size:13px;
	line-height:25px;
	color:#363230;
	padding:0;
	margin:0;
	border-bottom:2px solid #d0ccc9;
}
.block09 .sp_none ul li{
	width:596px !important;
	border-left: dotted 1px #7c7c7c;
	padding-left:1px;
	margin-left:1px;
}

/* common 
--------------------------------------------------------------- */

#wrapper{
	width:1200px;
	margin:0 auto;
	padding:0 0 160px 0;
}
.inner{
	width:970px;
	margin:0 auto;
}

.title_icon{
	width:20px;
	margin:80px auto 0 auto;
}


#page-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
#page-top a:hover {
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}


/* conversion 
--------------------------------------------------------------- */

.conversion{
	width:609px;
	padding:130px 0 60px 0;
	margin:0 auto 0 auto;
}
.conversion .tel{
	padding:30px 0 0 0;
}
.conversion02{
	width:609px;
	padding:110px 0 60px 0;
	margin:0 auto 0 auto;
}
.conversion02 .tel{
	padding:30px 0 0 0;
}

/* header 
--------------------------------------------------------------- */

#header_bg{
	background:url(../images/botox_header_bg02.gif) center top repeat-y;
	margin:0 0 1px 0;
}
#header{
	width:1200px;
	height:71px;
	margin:0 auto;
	background:url(../images/botox_header_bg01.gif) left top repeat-y;
}
#header .logo{
	float:left;
	width:251px;
	padding:13px 0 0 25px;
}
#header .header_right{
	width:719px;
	float:right;
}
#header .header_right .tel{
	width:208px;
	float:left;
	padding:13px 0 0 0;
}
#header .header_right .btn{
	width:249px;
	float:right;
	padding:13px 0 0 0;
}
#header .header_right .btn02{
	width:66px;
	float:right;
	padding:13px 0 0 0;
	text-align:right;
	margin:0 0 0 10px;
}


/* main 
--------------------------------------------------------------- */

#main_bg{
	background:#f9f9f9;
}
#main_bg #main{
	width:1200px;
	margin:0px auto 0;
	height:501px;
	background:url(../images/hyaluronan_main.jpg) left top no-repeat;
}
#main_bg #main h1{
	padding:147px 0 0 768px;
	margin:0;
}



/* contents01 
--------------------------------------------------------------- */

#title01{
	margin:25px auto 0 ;
	width:740px;
}
.contents01_box{
	margin:60px 0 20px 0;
	padding:0;
}
.contents01_box .right_image{
	margin-top: -64px;
	float:right;
	width:231px;
	padding:31px 0 0 0;
}
.contents01_box .left_textbox{
	padding-top: 8px;
	float:left;
	width:690px;
}
.contents01_box .left_textbox h3{
	padding:0 0 8px 0;
}
#contents01 .contents01_box:nth-of-type(3) h3 {
	padding-left: 280px;
}
.contents01_box .left_textbox p{
	padding:20px 0 0 95px;
}
.contents01_box .left_textbox span.important{
	color:#fff;
	background:#817b79;
	padding:6px 8px;
}
.contents01_box .left_image{
	margin-top: -59px;
	float:left;
	width:231px;
}
.contents01_box .right_textbox{
	float:right;
	width:690px;
}
.contents01_box .right_textbox p{
	padding:20px 0 0 95px;
}
.contents01_box .detail_box_inner{
	border:1px solid #5f5857;
	width:590px;
	padding:18px 0 14px 0;
	margin:20px 0 0 95px;	
}
.contents01_box .detail_box_inner .detail_box{
	width:538px;
	margin:0 auto;
}
.contents01_box .detail_box_inner .detail_box .title{
	float:left;
	width:201px;
}
.contents01_box .detail_box_inner .detail_box .text_list{
	width:325px;
	float:right;
}
.contents01_box .detail_box_inner .detail_box .text_list ul{
}
.contents01_box .detail_box_inner .detail_box .text_list ul li{
	float:left;
	width:155px;
	line-height:18px;
	padding:0 0 5px 0;
}
.contents01_box .detail_box_inner .detail_box .text_list ul li.left{
	padding:0 15px 0 0;
}
.contents01_box .detail_box_inner .detail_box .text_list ul li span{
	color:#a2a2a2;
}
.contents01_box .contents_image{
	padding:28px 0 18px 0;
}
.contents01_box .contents01_list li{
	float:left;
	width:305px;
	letter-spacing:-0.2px;
}
.contents01_link_inner{
	margin:40px 0 0 0;
	background:url(../images/hyaluronan_contents01_bg01.gif) left top no-repeat;
	width:640px;
	height:125px;
	margin:0 auto;
}
.contents01_link_inner .contents01_link{
	width:499px;
	margin:0 auto;
	padding:30px 0 0 0;
}
.contents01_link_inner .contents01_link .left_image{
	float:left;
	width:px;
}
.contents01_link_inner .contents01_link .btn{
	float:right;
	width:px;
}



/* contents02 
--------------------------------------------------------------- */

#title02{
	margin:29px 0 47px 380px;
}

.contents02 h4{
	width:1039px;
	margin:0 auto;
}
.contents02 p{
	width:963px;
	padding:48px 0 73px 0;
	margin:0 auto;
}
.contents02 .contents02_list{
	margin:2px 0 44px 0;
}
.contents02 .contents02_list li{
	width:398px;
	float:left;
}
.contents02 .contents02_icon{
	padding:10px 0 0 0;
}
.contents02 .contents02_icon li{
	float:left;
	padding:0 10px 0 0;
}
.contents02 .contents02_icon li.w28{
	width:28px;
}
.contents02 .contents02_icon li.w83{
	width:83px;
}
.contents02 .contents02_icon li.w90{
	width:90px;
}
.contents02 .contents02_icon li.last{
	padding:0;
}
.contents02 .contents02_before_after{
	width:690px;
	margin:0 auto;
	padding:0;
}
.contents02 .contents02_before_after li{
	width:299px;
	padding:0 23px;
	float:left;
}



/* （contents03）contents06
--------------------------------------------------------------- */

.title06{
	margin:31px 0 56px 469px;
}

.price_list{
}
.price_list li{
	float:left;
	padding:0 60px 0 0;
	width:360px;
}
.price_list li.last{
	padding:0;
}
.campaign_price{
	width:689px;
	margin:0 auto;
	padding:38px 0 35px 0;
}
.campaign_price02{
	width:840px;
	margin:0 auto;
	padding:15px 0 15px 0;
}
.price_text{
	color:#7e7e7e;
	font-size:14px;
	line-height:28px;
	text-align:center;
}




/* contents03 
--------------------------------------------------------------- */

#title03{
	margin:10px 0 16px 295px;
}

.contents03_box{
	margin:47px 0 0 0;
}
.contents03_box .left_image{
	width:334px;
	float:left;
}
.contents03_box .right_text{
	float:right;
	width:596px;
}
.contents03_box .right_text p{
	line-height:23px;
	padding:23px 0 0 13px;
}
.contents03_box .right_text p.detail{
	padding:10px 0 0 13px;
	color:#7e7e7e;
	line-height:23px;
	letter-spacing:-0.3px;
}
.contents03_box .right_text .contact{
	width:582px;
	margin:22px 0 0 15px;
}
.contents03_box .right_text .contact .tel{
	float:left;
	width:208px;
}
.contents03_box .right_text .contact .btn{
	float:right;
	width:325px;
	margin:22px 0 0 0;
}
.contents03_box .textbox{
	margin:16px 0 0 15px;
	width:582px;
	border:1px solid #9d9d9d;
}
.contents03_box .text{
	width:540px;
	margin:0 auto;
	padding:12px 0;
}
.contents03_box .text p{
	color:#7e7e7e;
	padding:0;
	margin:0;
	line-height:22px;
	letter-spacing:-0.8px;
}
.contents03_text{
	width:753px;
	margin:0 auto;
	padding:150px 0 0 0;
}




/* contents04 
--------------------------------------------------------------- */

#title04{
	margin:30px 0 60px 356px;
}
.contents04_text{
	padding:30px 0 0 0;
}

@media screen and (min-width: 768px) {
/* 前へ、次へのボタン */
 
.bx-prev{
    position: absolute;
    left:1px;
    top: 40%;
	background:url(../images/left_arrow.png);
	height:100px;
	width:50px;
	display:block;
	text-indent:-9999px;
}
.bx-next{
    right:1px;
    top: 40%;
    position: absolute;
	background:url(../images/right_arrow.png);
	height:100px;
	width:50px;
	display:block;
	text-indent:-9999px;
}

/* 基本 */

.bg_img{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
	position:relative;
}
.bg_img .bx-wrapper{
    height: 426px;
}
.bx-window{
    margin-bottom: 10px;
}
#slider li a{
} 
.slider{
    width: 100%;
    margin: 0px auto;
} 
/* カルーセルスライダー */
 
.bg_img .bx-wrapper{
    width: inherit;
}
#slider li{
    width: 600px !important;
    text-align: left;
}
}



/* contents05 
--------------------------------------------------------------- */

#title05{
	margin:26px 0 32px 374px;
}

.faq_contents{
	padding:40px 0 44px 0;
	background:url(../images/hyaluronan_contents05_bg.gif) left bottom no-repeat;
}
.faq_contents h3{
	margin:0 0 20px 0;
}
.faq_contents .answer_box{
	width:930px;
	margin:0 auto;
}
.faq_contents .answer_box .answer{
	float:left;
	width:57px;
}
.faq_contents .answer_box .answer_text{
	width:873px;
	float:right;
}
.faq_contents .answer_box .answer_text p{
	font-size:15px;
}
.faq_contents .answer_box .answer_text span{
	color:#ac791d;
}



/* contents07 
--------------------------------------------------------------- */

#title07{
	margin:4px 0 54px 353px;
}
.contents07 .left_text{
	float:left;
	width:300px;
}
.contents07 .right_text{
	width:660px;
	float:right;
}
.contents07 .right_text p{
	color:#363230;
	font-size:16px;
}
.contents07 .map{
	float:right;
	width:480px;
}
.contents07 .left_text02{
	width:450px;
	float:left;
}
.contents07 .left_text02 p{
	padding:0;
	margin:0;
}
.contents07 .left_text02 h4{
	margin:0 0 15px 0;
}
.contents07 .left_text02 table{
	margin:0 0 30px 0;
	padding:0;
}
.contents07 .left_text02 table th{
	width:28px;
	vertical-align:middle;
	text-align:left;
	padding:0 0 5px 0;
	margin:0;
}
.contents07 .left_text02 table td{
	vertical-align:top;
	text-align:left;
	color:#363230;
	font-size:15px;
	padding:0 0 5px 0;
	margin:0;
}
.contents07 .left_text03{
	float:left;
	width:246px;
}
.contents07 .right_text02{
	width:204px;
	float:right;
}



/* contents08 
--------------------------------------------------------------- */

#title08{
	margin:30px 0 0 497px;
}

.contents08_text{
	text-align:center;
	padding:53px 0 66px 0;
	font-size:13px;
}
.contents08_list{
	margin:41px 0 70px 0;
}
.contents08_list li{
	width:361px;
	padding:0 58px 0 0;
	float:left;
}
.contents08_list li.last{
	padding:0;
}
.contents08_list li .concept{
	width:107px;
	margin:0 auto;
}
.contents08_list li h4{
	padding:12px 0 22px 0;
}
.contents08_list li p{
	padding:18px 0 0 0;
	font-size:13px;
}



/* contents09 
--------------------------------------------------------------- */

#title09{
	margin:10px 0 0 348px;
}

.contents09_text{
	text-align:center;
	padding:50px 0;
	font-size:13px;
}
.contents09_detail{
	margin:20px 0 0 0;
}
.contents09_detail li{
	float:left;
}
.contents09_detail li.image{
	padding:0 25px 0 0;
	width:156px;
}
.contents09_detail li.w288{
	width:288px;
	padding:0 25px 0 0;
}
.contents09_detail li.w288 h4{
	color:#ac791d;
	font-size:15px;
	background:url(../images/hyaluronan_contents09_bg01.gif) left bottom no-repeat;
	padding:0 0 7px 0;
	line-height:20px;
	margin:0 0 13px 0;
}
.contents09_detail li.w288 p{
	line-height:19px;
	font-size:13px;
	padding:0 0 3px 0;
}
.contents09_detail li.w288 p span{
	font-size:12px;
}
.contents09_detail li.w464{
	width:464px;
	padding:0;
}
.contents09_detail li.w464 h4.title01{
	color:#ac791d;
	font-size:15px;
	background:url(../images/hyaluronan_contents09_bg02.gif) left bottom no-repeat;
	padding:0 0 7px 0;
	line-height:20px;
	margin:0 0 13px 0;
}
.contents09_detail li.w464 h4.title02{
	color:#ac791d;
	font-size:15px;
	background:url(../images/hyaluronan_contents09_bg03.gif) left bottom no-repeat;
	padding:0 0 7px 0;
	line-height:20px;
	margin:25px 0 10px 0;
}
.contents09_detail li.w464 p{
	font-size:13px;
	line-height:23px;
}


#h_wrapper {
	width: 100%;
	height:85px;
	margin: 0 auto;
	text-align: center;
	background:#171717;
	border-bottom:solid 2px #b39952;
/*
	position:fixed;
*/
	top:0;
	left:0;
	z-index:99999;
}

header#PAGE_TOP {
	width: 1200px;
	height:85px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

#PAGE_TOP h1{
	position:absolute;
	top:20px;
	left:24px;
	color:#fff;
}
#PAGE_TOP p{
	position:absolute;
	top:16px;
	right:400px;
}
#PAGE_TOP ul{
	position:absolute;
	top:23px;
	right:0;
}
#PAGE_TOP ul li{
	float:left;

}

#PAGE_TOP ul li.sp_ab{
	margin:0 0 0 10px;
}


/* responsive style common
--------------------------------------------------------------- */

@media screen and (min-width: 768px) {
.pc_none {
	display: none !important;
}
}

@media screen and (max-width: 767px) {
.sp_none {
	display: none !important;
}
img {
	width: 100%;
	max-width: 100%;
}
}


/* sp style 
--------------------------------------------------------------- */


@media screen and (max-width: 767px) {
	
body{
	line-height:21px;
	font-family: ArialMT,"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",メイリオ,sans-serif;
}
* {
	-webkit-text-size-adjust: none;
}

/* common 
--------------------------------------------------------------- */
#wrapper{
	padding: 0;
	width:auto;
}
.inner{
	margin:0 auto;
	width:auto;
}
.title_icon{
	margin: 0 auto;
	width:15px;
}
.title_icon img{
	width:15px;
	height:15px;
}
#page-top {
	bottom: 15px;
	right: 15px;
}
#page-top img {
	width: 35px;
	height: 35px;
}


/* conversion 
--------------------------------------------------------------- */
.conversion{
	 margin: 45px 0;
	padding: 0 25px;
	width: auto;
}
.conversion .tel{
	padding: 10px 0 0;
}
.conversion02{
	 margin: 45px 0;
	padding: 0 25px;
	width: auto;
}
.conversion02 .tel{
	padding: 10px 0 0;
}


/* header 
--------------------------------------------------------------- */
#header_bg{
	background: none;
	margin: 0;
}
#header{
	width: auto;
	height: auto;
	margin:0 auto;
	background: none;
}
#header .logo{
	padding: 12px 0;
	border-bottom: 1px solid #FFF;
	float: none;
	width: auto;
	background: #73c895;
	text-align: center;
}
#header .logo img {
	width: 96%;
}

#header .header_right{
	border-top: 1px solid #62aa7f;
	border-bottom: 1px solid #62aa7f;
	width:auto;
	float: none;
}
#header .header_right .tel{
	display: none;
}
#header .header_right .btn{
	padding: 0;
	float: left;
	width: 70.6%;
	text-align: center;
	background: #FFF;
}
#header .header_right .btn img{
	width: 80%;
}
#header .header_right .btn02{
	padding: 0;
	margin:0;
	float: right;
	width: 29%;
	background: #62aa7f;
	text-align: center;
}
#header .header_right .btn02 img{
	width: 68%;
}


/* main 
--------------------------------------------------------------- */
#main_bg{
	background: trasparent;
}
#main_bg #main{
	border-top: 1px solid #d0ccc9;
	width:auto;
	height:auto;
	background: none;
}
#main_bg #main h1{
	padding:0;
	margin:0;
}


/* contents01 
--------------------------------------------------------------- */
#contents01 {
	margin-top: 40px;
}
#title01{
	margin: 10px 0 25px 0;
	padding: 0 10px;
	width: auto;
	text-align: center;
}
.contents01_box{
	margin: 0 15px;
	padding:0;
}
.contents01_box .right_image{
	display: none;
}
.contents01_box .left_textbox{
	padding-top: 20px;
	float: none;
	width: auto;
}
.contents01_box .left_textbox p{
	padding: 0 0 10px;
}
.contents01_box .left_textbox p img{
	padding: 0 0 15px 10px;
	float: right;
	width: 40%;
}
.contents01_box .left_textbox span.important{
	color:#fff;
	background:#817b79;
	padding: 2px;
}
.contents01_box .left_image{
	display: none;
}
.contents01_box .right_textbox{
	float: none;
	width: auto;
}
#contents01 .contents01_box:nth-of-type(3) h3 {
	margin: 20px 0;
	padding-left: 0;
}
.contents01_box .right_textbox p{
	padding: 0 0 10px;
}
.contents01_box .right_textbox p img{
	padding: 0 10px 15px 0;
	float: left;
	width: 40%;
}
.contents01_box .detail_box_inner{
	margin: 0;
	padding: 0;
	border:1px solid #999;
	width: auto;
}
.contents01_box .detail_box_inner .detail_box{
	width: auto;
}
.contents01_box .detail_box_inner .detail_box .title{
	padding: 6px 0;
	float: none;
	width: auto;
	text-align: center;
}
.contents01_box .detail_box_inner .detail_box .title img{
	width: 80%;
}
.contents01_box .detail_box_inner .detail_box .text_list{
	margin: 0 10px;
	border-top: 1px solid #999;
	float: none;
	width: auto;
}
.contents01_box .detail_box_inner .detail_box .text_list ul{
	margin: 0 auto;
	padding: 6px 0 10px;
	width: 100%;
}
.contents01_box .detail_box_inner .detail_box .text_list ul li{
	padding: 0;
	float:left;
	width: auto;
	font-size: 12px;
}
.contents01_box .detail_box_inner .detail_box .text_list ul li.left{
	padding: 0;
}
.contents01_box .detail_box_inner .detail_box .text_list ul li span{
	color:#a2a2a2;
}
#contents01 .contents01_box:nth-of-type(4) h3 {
	margin: 20px 0 0;
}
#contents01 .contents01_box:nth-of-type(4) h3 img:last-of-type {
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contents01_box .contents_image{
	display: none;
}
.contents01_box .contents01_list {
	padding: 0 10px;
}
.contents01_box .contents01_list li {
	padding: 60% 0 0 !important;
	float: none;
	width: auto;
	letter-spacing: 0;
	background:url(../images/sp/hyaluronic_contents01_img03.jpg) 0 0 no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.contents01_box .contents01_list li:after {
	margin: 4px auto 13px;
	content: "";
	display: block;
	width: 48px;
	height: 14px;
	background: url(../images/sp/hyaluronic_arrow01.gif) center 0 no-repeat;
	-webkit-background-size: 48px auto;
	background-size: 48px auto;
}
.contents01_box .contents01_list li:nth-of-type(2) {
	background-image: url(../images/sp/hyaluronic_contents01_img04.jpg);
}
.contents01_box .contents01_list li:nth-of-type(3) {
	background-image: url(../images/sp/hyaluronic_contents01_img05.jpg);
}
.contents01_box .contents01_list li:nth-of-type(3):after {
	display: none;
}
.contents01_link_inner{
	margin:4px 15px 0;
	width:auto;
	height:auto;
	background: none;
}
.contents01_link_inner .contents01_link{
	margin:0 auto;
	padding: 0;
	width: auto;
	text-align: center;
}
.contents01_link_inner .contents01_link img{
	width: 85%;
}
.contents01_link_inner .contents01_link .left_image{
	padding-bottom: 10px;
	float: none;
	width: auto;
}
.contents01_link_inner .contents01_link .btn{
	float: none;
	width: auto;
}


/* contents02 
--------------------------------------------------------------- */
#title02{
	margin: 15px 10px 25px;
	text-align: center;
}

.contents02 h3{
	margin: 0 15px 10px;
}
.contents02 div:nth-of-type(2){
	margin: 0 15px;
}
.contents02 h4{
	padding: 20px 15px 15px;
	width: auto;
}
.contents02 p{
	margin: 0;
	padding: 0 15px;
	width: auto;
}
.contents02 p img{
	padding: 5px 0 15px;
}
.contents02 .contents02_list{
	margin: 0 15px;
}
.contents02 .contents02_list li{
	padding-right: 0 !important;
	float: none;
	width: auto;
}
.contents02 .contents02_icon{
	padding: 0;
}
.contents02 .contents02_icon li{
	padding: 5px 0 10px;
	float: none;
}
.contents02 .contents02_icon li.w28,
.contents02 .contents02_icon li.w83,
.contents02 .contents02_icon li.w90{
	display: none;
}
.contents02 .contents02_icon li.last{
	padding:0;
}
.contents02 .contents02_before_after{
	margin: 0 auto;
	padding: 0 40px;
	width: auto;
}
.contents02 .contents02_before_after li{
	width:auto;
	padding: 0 0 10px !important;
	float:none;
}
.contents02 .contents02_before_after li:last-of-type{
	padding: 0 !important;
}


/* （contents03）contents06
--------------------------------------------------------------- */
.title06{
	margin: 15px 10px 25px;
}

.price_list{
	padding: 0 15px;
}
.price_list li{
	padding: 0 0 4% !important;
	float:left;
	width: 50%;
}
.price_list li img{
	width: 96%;
}
.price_list li.last{
	padding: 0 0 4%;
}
.campaign_price{
	margin:0 auto;
	padding: 0 15px 8px;
	width: auto;
}
.campaign_price02{
	margin:0 auto;
	padding: 0 15px 8px;
	width: auto;
}
.price_text{
	padding: 0 15px;
	color:#7e7e7e;
	font-size:13px;
	line-height:21px;
	text-align:left;
}


/* contents03 
--------------------------------------------------------------- */
#title03{
	margin: 15px 10px 25px;
}

.contents03_box{
	margin: 0 15px;
}
.contents03_box .image_right{
	padding: 0 0 15px 10px;
	float: right;
	width: 40%;
}
.contents03_box .image_left{
	padding: 0 10px 15px 0;
	float: left;
	width: 40%;
}
.contents03_box .left_image{
	margin-top: 15px;
	float: none;
	width: auto;
	text-align: center;
}
.contents03_box .left_image img{
	width: 18%;
}
.contents03_box .left_image{
	float: none;
	width: auto;
	text-align: center;
}
.contents03_box .right_text{
	float: none;
	width: auto;
}
.contents03_box .right_text h3 {
	padding: 10px 0;
}
.contents03_box .right_text p{
	line-height: 21px;
	padding: 0;
}
.contents03_box .right_text p.detail{
	padding:10px 0 0;
	color:#7e7e7e;
	line-height:21px;
	letter-spacing:0;
}
.contents03_box .right_text .contact{
	width:auto;
	margin: 0;
}
.contents03_box .right_text .contact .tel{
	padding: 10px 0;
	float: none;
	width: auto;
}
.contents03_box .right_text .contact .btn{
	margin: 0;
	padding: 0 10px;
	float: none;
	width: auto;
}
.contents03_box .textbox{
	margin: 0;
	padding: 8px 0;
	border: 1px solid #c0c0c0;
	clear: both;
	width: auto;
}
.contents03_box .text{
	margin: 0 10px;
	padding: 0;
	width: auto;
}
.contents03_box .text p{
	color: #7e7e7e;
	font-size: 12px;
	line-height: 19px;
	letter-spacing:0;
}
.contents03_text{
	margin: 35px 15px 0;
	padding: 0;
	width: auto;
}


/* contents04 
--------------------------------------------------------------- */
#title04{
	margin: 15px 10px 25px;
}
.contents04_text{
	padding: 15px 15px 0;
}

/* 前へ、次へのボタン */

.bx-wrapper .bx-controls-direction a {
	margin-top: -16px;
	position: absolute;
	top: 50%;
	width: 32px;
	height: 32px;
	z-index: 9999;
	text-indent: -9999px;
}
.bx-wrapper .bx-prev {
	background: url(../images/sp/controls.png) 0 -32px no-repeat;
	left: 5px;
}
.bx-wrapper .bx-next {
	background: url(../images/sp/controls.png) -43px -32px no-repeat;
	right: 5px;
}

/* 基本 */

.bg_img{
	margin: 0 auto;
	position:relative;
	width: 100%;
}
.bx-window{
	margin-bottom: 10px;
}
.slider{
	margin: 0 auto;
	width: 100%;
} 
/* カルーセルスライダー */
 
.bg_img .bx-wrapper{
	width: inherit;
}
#slider li{
}



/* contents05 
--------------------------------------------------------------- */
#title05{
	margin: 15px 10px 25px;
}

.faq_contents{
	padding: 0 15px;
	background: none;
}
.faq_contents h3{
	margin: 15px 0 0;
}
.faq_contents h3 .pc_none img:nth-of-type(1) {
	float: left;
	width: 12%;
}
.faq_contents h3 .pc_none img:nth-of-type(2) {
	float: left;
	width: 88%;
}
.faq_contents h3 .pc_none:after {
	content: "";
	display: block;
	clear: both;
}
.faq_contents .answer_box{
	margin:0 auto;
	padding: 0 0 10px;
	border-bottom: 3px double #e0d0b5;
	width: auto;
}
.faq_contents .answer_box:after {
	content: "";
	display: block;
	clear: both;
}
.faq_contents .answer_box .answer{
	padding: 8px 0 0;
	float: left;
	width: 12%;
}
.faq_contents .answer_box .answer_text{
	padding: 6px 0 0;
	float: right;
	width: 88%;
}
.faq_contents .answer_box .answer_text p{
	font-size:13px;
}
.faq_contents .answer_box .answer_text span{
	color:#ac791d;
}


/* contents07 
--------------------------------------------------------------- */
#title07{
	margin: 15px 10px 25px;
}
.contents07 .left_text{
	padding: 0 15px 10px;
	float: none;
	width: auto;
}
.contents07 .mt40{
	margin-top: 0 !important;
}
.contents07 .right_text{
	padding: 0 15px 12px;
	float: none;
	width: auto;
}
.contents07 .right_text p{
	font-size:13px;
	text-align: center;
}
.contents07 .map{
	margin-top: -45px;
	padding: 0 15px;
	float: none;
	width: auto;
}
.contents07 .map iframe{
	width: 100%;
	height: 200px;
}
.contents07 .left_text02{
	padding: 0 15px;
	float: none;
	width: auto;
}
.contents07 .left_text02 p{
	padding:0;
	margin:0;
}
.contents07 .left_text02 h4{
	margin: 0;
	padding: 12px 0 8px;
	width: 55%;
}
.contents07 .left_text02 table{
	margin: 0;
	padding:0;
}
.contents07 .left_text02 table th{
	width:28px;
	vertical-align:middle;
	text-align:left;
	padding:0 0 5px 0;
	margin:0;
}
.contents07 .left_text02 table th img{
	width: 17px;
}
.contents07 .left_text02 table td{
	margin:0;
	padding: 2px 0 3px;
	color:#363230;
	font-size:13px;
	vertical-align:top;
	text-align:left;
}
.contents07 .left_text03{
	float:left;
	width:50%;
}
.contents07 .right_text02{
	float:right;
	width:50%;
}



/* contents08 
--------------------------------------------------------------- */
#title08{
	margin: 15px 10px 25px;
}

#ideaArea h3 {
	padding: 12px 15px 8px;
}
.contents08_text{
	padding: 0 15px;
	text-align: left;
}
.contents08_list{
	margin: 0;
}
.contents08_list li{
	padding: 0;
	float: none;
	width: auto;
}
.contents08_list li.last{
	padding: 0;
}
.contents08_list li .concept{
	display: none;
}
.contents08_list li h4{
	padding: 6px 15px 0;
}
.contents08_list li div{
	padding: 10px 25px 0;
}
.contents08_list li p{
	padding: 8px 25px 5px;
}


/* contents09 
--------------------------------------------------------------- */
#doctorArea {
	margin-top: 40px;
}
#title09{
	margin: 15px 10px 25px;
}

.contents09_text{
	padding: 0 15px;
	text-align:center;
}
#doctorArea h3 {
	padding: 15px 15px 0;
}
.contents09_detail{
	margin: 0;
	padding: 0 15px;
}
.contents09_detail li{
	float: none;
}
.contents09_detail li h4{
	margin: 10px 0 6px;
}
.contents09_detail li.image{
	margin: 0 auto;
	padding: 15px 0 4px;
	width: 35%;
}
.contents09_detail li.w288{
	width: auto;
	padding:0 25px 0 0;
}
.contents09_detail li.w288 h4{
	margin: 10px 0 6px;
	padding: 0 0 2px;
	line-height:21px;
	background: url(../images/sp/hyaluronan_contents09_bg01.gif) no-repeat left bottom;
	color: #ac791d;
	font-size: 14px;
	font-weight: bold;
}
.contents09_detail li.w288 p{
	line-height:19px;
	font-size:13px;
	padding:0 0 3px 0;
}
.contents09_detail li.w288 p span{
	font-size:12px;
}
.contents09_detail li.w464{
	width: auto;
}
.contents09_detail li.w464 h4.title01{
	margin: 10px 0 6px;
	padding: 0 0 2px;
	line-height:20px;
	background: url(../images/sp/hyaluronan_contents09_bg02.gif) no-repeat left bottom;
	color: #ac791d;
	font-size: 14px;
	font-weight: bold;
}
.contents09_detail li.w464 h4.title02{
	margin: 10px 0 6px;
	padding: 0 0 2px;
	line-height:20px;
	background: url(../images/sp/hyaluronan_contents09_bg03.gif) no-repeat left bottom;
	color: #ac791d;
	font-size: 14px;
	font-weight: bold;
}
.contents09_detail li.w464 p{
	line-height:21px;
}

}



/*=======================================================================
フォーム導入
=======================================================================*/

@media screen and (min-width: 768px) {
.block13{
	width:1200px;
	margin:0 auto;
}
.block13 .flow {
	margin: 50px 0 40px 0 ;
	text-align: center ;
}
.block13 .caution {
	color: #ee0000 ;
}
.block13 .error {
	margin: 10px 0 0 0 ;
	color: #ee0000 ;
}
.block13 .form {
	width: 960px ;
	margin: 0 auto ;
}
.block13 table {
	width: 100% ;
	border:solid 1px #d0d0d0;
	float:left;
	border-collapse: separate;
	border-spacing: 2px 2px ;
	margin: 20px auto 40px auto ;
}
.block13 th{
	width: 25% ;
	background:#f3f3f3;
	padding: 20px 20px 20px 80px ;
	border-bottom:solid 1px #d0d0d0;
	border-right:solid 1px #d0d0d0;
	font-size: 16px ;
	color: #000000 ;
	white-space: nowrap ;
}
.block13 th.hissu {
	background: #f3f3f3 url(../images/form/form_icon_01.gif) 15px center no-repeat;
}
.block13 th.nini {
	background: #f3f3f3 url(../images/form/form_icon_02.gif) 15px center no-repeat;
}
.block13 td{
	width: 75% ;
	padding: 20px ;
	border-bottom:solid 1px #d0d0d0;
	font-size: 14px ;
	color: #333333 ;
}
.block13 th.last,
.block13 td.last{
	border-bottom:none;
}
.block13 td input[type="text"],
.block13 td input[type="tel"],
.block13 td input[type="email"] {
	width: 40% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 td input[type="checkbox"] {
	margin: 0 5px 0 10px;
}
.block13 td input[type="radio"] {
	margin: 0 5px 0 10px;
}

.block13 td select {
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 td textarea {
	width: 98% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 .btn {
	margin: 0 0 60px 0 ;
	text-align: center ;
}
.block13 .end {
	margin: 0 0 40px 0 ;
	text-align: center ;
}
.block13 td span {
    width: 40%;
    padding: 5px 10px 5px 0;
    display: inline-block;
    border: 1px solid #FFF;
}
.block13 td input.number {
    width: 10%;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #999999;
    font-size: 14px;
}
}
@media screen and (max-width: 767px) {
.block13 {
	margin-bottom:40px;
}
.block13 h2{
	margin-bottom:20px;
}
.block13 .flow {
	margin: 0 0 20px 0 ;
	padding: 0 10px ;
	text-align: center ;
}
.block13 .flow img {
	height: auto;
}
.block13 .caution {
	margin: 10px 0 ;
	color: #ee0000 ;
}
.block13 .error {
	margin: 10px 0 0 0 ;
	color: #ee0000 ;
}
.block13 .form {
	padding: 0 10px ;
}
.block13 table {
	width: 100% ;
	border:solid 1px #d0d0d0;
	float:left;
	border-collapse: separate;
	border-spacing: 2px 2px ;
	margin: 0 auto 10px auto ;
}
.block13 th{
	display: block ;
	background:#f3f3f3;
	padding: 12px 10px 12px 70px ;
	border-bottom:solid 1px #d0d0d0;
	font-size: 14px ;
	color: #000000 ;
	white-space: nowrap ;
}
.block13 th.hissu {
	background: #f3f3f3 url(../images/form/form_icon_01.gif) 10px center no-repeat;
}
.block13 th.nini {
	background: #f3f3f3 url(../images/form/form_icon_02.gif) 10px center no-repeat;
}
.block13 td{
	display: block ;
	padding: 15px ;
	border-bottom:solid 1px #d0d0d0;
	font-size: 14px ;
	color: #333333 ;
}
.block13 td.last{
	border-bottom:none;
}
.block13 td input[type="text"],
.block13 td input[type="tel"],
.block13 td input[type="email"] {
	width: 45% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 td input[type="checkbox"] {
	margin: 0 5px 0 10px;
}
.block13 td input[type="radio"] {
	margin: 0 5px 0 10px;
}
.block13 td select {
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 td textarea {
	width: 96% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 .btn {
	text-align: center ;
}
.block13 .btn {
	width: 100% ;
	height: auto ;
	text-align: center ;
}
.block13 .btn img {
	height: auto;
}
.block13 .btn input {
	width: 100% ;
	max-width: 420px ;
	margin: 0 auto 10px auto ;
	height: auto ;
}
.block13 .end {
	margin: 0 0 20px 0 ;
	text-align: center ;
}
}