.res-unit #cstel{top: -158px;position: relative;left: 61px;width: 136px;background-color: #FFF;}

.res-unit #cstel .text_tel{position: relative; font-size: 18px;color: #b47f00; line-height:1.2;}

.res-unit #cstel a{
    height: 51px;
    width: 283px;
    top: -8px;
    left: -46px;
    position: absolute;
}

.res-btn { position:relative;}

.res-btn #cstel{
	width:283px; height:51px;
	position:absolute; top:0; left: 50%;
	margin-left:-141px;
}

.res-btn #cstel a{
	display:block;
	width:283px; height:51px;
}

.res-btn #cstel .text_tel{
	font-size: 18px;
	color: #b47f00;
	position:absolute; left:46px; top:10px;
	background:#fff;
	min-width:132px;
}