@charset "utf-8";

/* ==========================================================

	header・footer

========================================================== */
body { line-height:1.5; }
.wrapper { width:1000px; margin-right:auto; margin-left:auto;}

a:hover { opacity:0.8; filter:alpha(opacity=80);}

p,
ul,
ol { margin-bottom:1.5em;}

p:last-child,
ul:last-child,
ol:last-child { margin-bottom:0;}



/* header
===========================================================*/
header { padding-top:18px; padding-bottom:18px;}
header.w{
	width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    border-bottom: 1px solid #C5BA86;
}
header h1 { float:left;}
header.w h1 { float:left;width:40%;}
header .__area {
	float:right;
	margin-top:4px;
	text-align:right;
}
header.w .__area {
    float: right;
    margin-top: 4px;
    text-align: right;
    width: 60%;
}
header .__area > a,
header .__area > div { float:right; margin-left:20px;}

header .__area .__tel {
	margin-bottom:0;
	font-family:"Times New Roman", Times, serif;
	font-size:36px;
	line-height:1.0;
}
header.w .__area .__tel {
    font-size: 20px;
    line-height: 1.3em;
}
header .__area .__tel img {
	vertical-align:middle;
	position:relative; top:-3px;
	margin-right:8px;
}

header .__area .__time { font-size:12px;}



/* footer
===========================================================*/
footer {
	padding-top:20px; padding-bottom:18px;
	background:#1b1b1b;
	color:#fff;
	text-align:center;
}



/* ページトップ
===========================================================*/
#page-top {
    position: fixed;
    bottom: 68px;
    right: 68px;
  z-index:99999999;
}
#page-top a img:hover{
  -moz-opacity:0.7;
  opacity:0.7;
}




/* ページ内リンク
===========================================================*/
#navi {
	position:fixed;
	top:384px;
	right:0;
	width: 53px;
	background-color: rgba( 150, 150, 149, 0.55 );
	padding:20px 0;
	z-index:99999999999999999;
	-webkit-transform: translateY(-50%) translateZ(0);
	transform: translateY(-50%) translateZ(0);
}

#navi li {
	list-style-type: none;
	text-align: center;
}

#navi li a {
	padding: 5px 0;
	display: block;
	text-decoration: none;
	color:#FFF;
	font-size:10px;
}

#navi li a.on {
	color:#e9b62b;
}






/* ==========================================================

	メインビジュアル

========================================================== */
.__mv {
	text-align:center;
	background:linear-gradient(to right, #f1f1f1 0%, #f1f1f1 50%, #fff 51%,  #fff 100%);
	position:relative;
		margin-top: 128px;
}

.__mv:before {
	content:'';
	width:100%; height:8px;
	box-shadow:inset 0 10px 10px -10px rgba(0,0,0, 0.14);
	position:absolute; top:0; left:0;
}








/* ==========================================================

	メインコンテンツ

========================================================== */
/* .__summary
===========================================================*/
.__summary {
	padding-top:70px;
	box-shadow:0 130px 130px -130px rgba(0,0,0, 0.2) inset;
}

.__summary .__box {
	margin-top:40px;
	padding:60px 375px 5px 40px;
	border:1px solid #c5ba86;
	background:url(../img/summary_img.png) no-repeat right bottom;
}

.__summary .__box h1 { margin-bottom:24px;}

.__summary .__box section { margin-bottom:60px;}



/* .__information
===========================================================*/
.__information {
	margin-top:65px;
	text-align:center;
}

.__information .__link { position:relative; margin-bottom:50px;}

.__information .__link a {
	display:block;
	width:154px; height:38px;
	text-indent:-9999em;
	position:absolute;
}

.__information .__link a:nth-of-type(1) { left:620px; top:142px;}
.__information .__link a:nth-of-type(2) { left:666px; top:601px;}
.__information .__link a:nth-of-type(3) { left:93px; top:168px;}
.__information .__link a:nth-of-type(4) { left:26px; top:403px;}
.__information .__link a:nth-of-type(5) { left:25px; top:689px;}

.__information .__link a:hover { background:rgba(255, 255, 255, 0.4);}



/* .__menu
===========================================================*/
.__menu .__text {
	padding-top:40px; padding-bottom:40px;
	background:#f7e9d4;
	font-size:16px;
	text-align:center;
}

.__menu .__recommend {
	padding-top:50px; padding-bottom:48px;
	text-align:center;
}

.__menu .__explain {
	padding-top:50px; padding-bottom:70px;
	background:#eee;
}

.__menu .__explain .wrapper { width:920px;}

.__menu .__explain h2 {
	margin-bottom:56px;
	text-align:center;
}

.__menu .__explain .it__iR { margin-left:40px;}

.__menu .__explain .__box {
	margin-top:50px;
	padding-left:62px;
	line-height:90px;
	background:#fff;
	border:3px solid #c5ba86;
	vertical-align:middle;
}

.__menu.__shimi .__explain .__box { margin-top:0;}

.__menu .__explain .__box img { vertical-align:middle;}

.__menu .__explain .__box img:first-child { margin-right:82px;}

.__menu .__explain .__box .__part {
	font-size:19px;
	position:relative; top:2px;
}

.__menu .__explain .__box .__cost {
	margin-right:10px; margin-left:20px;
	font-family:"Times New Roman", Times, serif;
	color:#824600;
	font-size:42px;
	position:relative; top:5px;
}




/* .__step
===========================================================*/
.__step { margin-bottom:80px;}

.__step section { margin-bottom:30px;}

.__step section .it__iR { margin-left:40px;}




/* .__guide
===========================================================*/
.__guide h2 { margin-bottom:20px; text-align:center;}

.__guide .__access { margin-top:70px; margin-bottom:50px;}

.__guide .__access h3 { margin-bottom:15px;}

.__guide .__access > p { text-align:center;}

.__guide .__access > p img {
	margin-right:40px;
	vertical-align:middle;
}

.__guide .__block {
	float:left;
	width:310px;
	margin-right:35px;
}

.__guide .__block:nth-of-type(3n) { margin-right:0;}

.__guide .__access th {
	padding-right:15px;
	font-weight:bold;
}

.__guide .induce_s {
	box-shadow:0 130px 130px -130px rgba(0,0,0, 0.2) inset;
}

.__guide .__principle { margin-top:70px; margin-bottom:50px;}






/* .__doctor
===========================================================*/
.__doctor section { margin-right:40px; margin-bottom:60px; margin-left:40px;}

.__doctor h2 { margin-bottom:30px;}

.__doctor h3 { margin-bottom:20px;}

.__doctor .__history {
	float:left;
	width:430px;
	margin-bottom:50px;
}

.__doctor .__history th {
	padding-right:20px; padding-bottom:8px;
}

.__doctor .__belong {
	float:right;
	margin-bottom:40px;
}

.__doctor .__belong ul {
	list-style-type:disc;
	margin-left:1.5em;
}

.__doctor .__belong li { margin-bottom:5px;}
