@charset "utf-8";

/* ==========================================================

	header・footer

========================================================== */
body { line-height:1.5;padding-bottom: 100px;}
a:hover { opacity:0.8; filter:alpha(opacity=80);}

p,
ul,
ol { margin-bottom:1.5em;}

p:last-child,
ul:last-child,
ol:last-child { margin-bottom:0;}



/* header
===========================================================*/
header {
	padding-top:5px; padding-bottom:5px;
	text-align:center;
	    background: #000;
}

header h1 img { width:166px;}

header .__area img {
	width:145px;
	margin-top:5px; margin-bottom:5px;
}

header .__area .__time { font-size:12px;}




/* footer
===========================================================*/
footer {
	padding-top:20px; padding-bottom:18px;
	background:#1b1b1b;
	color:#fff;
	font-size:11px;
	text-align:center;
}




/* ページトップ
===========================================================*/
#page-top {
    position: fixed;
    bottom: 70px;
    right: 10px;
	z-index:99999999;
}











/* ==========================================================

	メインビジュアル

========================================================== */
.__mv {
	width:100%; height:260px;
	overflow:hidden;
	position:relative;
}

.__mv img {
	height:260px; width:auto;
	position:absolute; left:50%; top:0;
	margin-left:-300px;
}



.linebanner{
  width:95%;
  margin:20px auto;
}
.linebanner img{
  max-width: 100%
}



/* ==========================================================

	メインコンテンツ

========================================================== */
/* .__summary
===========================================================*/
.__summary {
	padding-top:20px;
	box-shadow:0 60px 60px -60px rgba(0,0,0, 0.2) inset;
}

.__summary .__box {
	margin-top:10px;
	padding:20px 10px 15px;
	border:1px solid #c5ba86;
}

.__summary .__box h1 { margin-bottom:10px;}



/* .__information
===========================================================*/
.__information {
	margin-top:25px;
}

.__information h1,
.__information h2 { text-align:center;}

.__information .__link {
	width:300px;
	margin-right:auto; margin-bottom:30px; margin-left:auto;
	position:relative;
}

.__information .__link a {
	display:block;
	width:125px; height:25px;
	text-indent:-9999em;
	position:absolute;
}

.__information .__link a:nth-of-type(1) { left:165px; top:74px;}
.__information .__link a:nth-of-type(2) { left:165px; top:234px;}
.__information .__link a:nth-of-type(3) { left:10px; top:74px;}
.__information .__link a:nth-of-type(4) { left:10px; top:353px;}
.__information .__link a:nth-of-type(5) { left:165px; top:353px;}



/* .__menu
===========================================================*/
.__menu { padding-right:0; padding-left:0;}

.__menu .__text {
	padding:16px 10px 14px;
	background:#f7e9d4;
}

.__menu .__recommend {
	padding-top:20px; padding-bottom:20px;
	text-align:center;
}

.__menu .__explain {
	padding:20px 10px;
	background:#eee;
}

.__menu .__explain .wrapper { width:920px;}

.__menu .__explain h2 {
	margin-bottom:20px;
	text-align:center;
}

.__menu .__explain .it__iR { width:115px; margin-left:10px;}

.__menu .__explain .__box {
	margin-top:20px;
	padding:10px 5px 6px;
	background:#fff;
	border:3px solid #c5ba86;
	text-align:center;
}

.__menu.__shimi .__explain .__box { margin-top:0;}

.__menu .__explain .__box img { vertical-align:middle;}

.__menu .__explain .__box p { margin-bottom:0;}


.__menu .__explain .__box .__cost {
	margin-right:5px; margin-left:15px;
	font-family:"Times New Roman", Times, serif;
	color:#824600;
	font-size:28px;
	position:relative; top:1px;
}

.__menu .__explain .__box .__en {
	color:#824600;
	font-size:13px;
}




/* .__step
===========================================================*/
.__step { padding-right:0; padding-bottom:10px; padding-left:0;}

.__step section {
	padding-right:0; padding-bottom:10px; padding-left:0;
}

.__step section h1 {
	padding:10px;
	background:#f7e9d4;
}

.__step section h1 img {
	width:45px;
	margin-right:8px;
	font-size:15px;
	vertical-align:middle;
}

.__step section .it { padding:10px;}

.__step section .it__iL { width:90px; margin-right:10px;}




/* .__guide
===========================================================*/
.__guide > h1 { margin-right:-10px; margin-left:-10px;}

.__guide .__img {
	margin-top:30px; margin-bottom:40px;
	text-align:center;
}

.__guide .__img img { margin-right:8px; margin-left:8px;}

.__guide .__access { margin-top:30px;}

.__guide .__access > div { width:300px; margin-right:auto; margin-left:auto;}

.__guide .__block h3 { margin-bottom:10px;}

.__guide .__block h3 img { width:300px;}

.__guide .__access > p img {
	margin-right:40px;
	vertical-align:middle;
}

.__guide .__block { margin-bottom:20px;}

.__guide .__block:nth-of-type(3n) { margin-right:0;}

.__guide .__access th {
	padding-right:15px;
	font-weight:bold;
}

.__guide .induce {
	margin-right:-10px; margin-left:-10px;
}

.__guide .__principle { margin-top:20px; margin-bottom:20px;}

.__guide .__principle h3 {
	font-weight:normal;
	color:#fff;
	background:#c07d7e;
	padding:8px 10px 6px;
}




/* .__doctor
===========================================================*/
.__doctor { padding-right:0; padding-left:0;}

.__doctor > p { margin-top:15px; padding-right:10px; padding-left:10px;}

.__doctor section { padding-bottom:20px;}

.__doctor section > div h3 { margin-bottom:10px;}

.__doctor section > div > div { margin-bottom:20px;}

.__doctor section > div:first-of-type { margin-bottom:10px;}

.__doctor h2 {
	margin-right:-10px; margin-bottom:15px; margin-left:-10px;
	padding:10px;
	background:#dcdcdc;
}

.__doctor .__history th {
	width:6em;
	padding-bottom:8px;
	text-align:left;
}

.__doctor .__belong ul {
	list-style-type:disc;
	margin-left:1.5em;
}

.__doctor .__belong li { margin-bottom:5px;}
