@charset "utf-8";

@import url(foundation.css);
@import url(project.css);


/* ==========================================================

	

========================================================== */
/* section
===========================================================*/
section { padding-right:10px; padding-left:10px;}



/* 反応装置
===========================================================*/
.induce {
	padding-top:30px; padding-bottom:30px;
	box-shadow:0 130px 130px -130px rgba(0,0,0, 0.2) inset;
	text-align:center;
	font-size:11px;
}

.induce .__time { margin-top:5px; margin-bottom:10px;}


/* Sサイズ */
.induce_s {
	padding-top:20px; padding-bottom:20px;
	text-align:center;
	font-size:11px;
}

.induce_s .__time { margin-top:5px; margin-bottom:10px;}









/* ==========================================================

	パーツ

========================================================== */
/* タイトル
===========================================================*/
section .__title {
	padding-top:13px; padding-bottom:13px;
	background:#3d2707;
	text-align:center;
}

.title_a {
	padding:12px 10px 8px;
	background:#f7e9d4 url(../img/arr1-q_01b.png) no-repeat 98% center;
	background-size:15px 15px;
	color:#6c440a;
	font-size:15px;
	font-weight:normal;
}

.title_a.on {
	background:#f7e9d4 url(../img/arr1-q_01t.png) no-repeat 98% center;
	background-size:15px 15px;
}










