<span>美容外科</span>
<ul class="sideNaviInner" id="sideNavi02">
	<li><a href="/menu/eye.html">目もと・二重まぶた</a></li>
	<li><a href="/menu/nose.html">鼻筋・小鼻</a></li>
	<li><a href="/menu/face-lift.html">フェイスリフト</a></li>
	<li><a href="/menu/ear.html">耳</a></li>
	<li><a href="/menu/lip.html">口元・唇</a></li>
	<li><a href="/menu/bust.html">バスト・豊胸術</a></li>
	<li><a href="/menu/faceline.html">輪郭・アゴ形成</a></li>
	<li><a href="/menu/kyuin.html">脂肪吸引</a></li>
	<li><a href="/menu/waki.html">ワキガ・多汗症</a></li>
	<li><a href="/menu/lady.html">女性器</a></li>
	<li><a href="/menu/gentle.html">男性器</a></li>
	<li class="lastChild"><a href="/menu/etc.html">その他</a></li>
</ul>