<span>美容皮膚科＆医療レーザー脱毛</span>
<ul class="sideNaviInner" id="sideNavi01">
	<li><a href="/menu/epi.html">医療レーザー脱毛</a></li>
	<li><a href="/menu/antiageing-kin.html">金の糸</a></li>
	<li><a href="/menu/mole-tatoo.html">ほくろ・タトゥー除去</a></li>
	<li><a href="/menu/injection.html">ダイエット薬・ダイエットサプリ</a></li>
	<li><a href="/menu/skincare.html">スキンケア・<br>ウルトラセル<br>BBL光治療<br>ケミカルピーリング</a></li>
	<li><a href="/menu/botokusu.html">ボトックス注射</a></li>
	<li><a href="/menu/hyaluronsan.html">ヒアルロン酸注入</a></li>
	<li><a href="/menu/diet.html">痩身</a></li>
	<li><a href="/menu/pierce.html">ピアス</a></li>
	<li><a href="http://www.hairsite.jp/" target="_blank">薄毛治療（男性・女性）<img src="/images/btn_target.gif" alt="" class="btn_target"/></a></li>
	<li class="lastChild"><a href="/menu/etc2.html">美容点滴・注射・<br>アートメイク・AGA</a></li>
</ul>