
<div class="bottomSitemap">
    <div class="inner960 clearfix">
        <p class="sitemapTitle"><img src="/images/sm_text01.gif" alt="診療一覧" /></p>

        <div class="sitemapBlock clearfix" id="sitemapBlock01">
            <p class="blockTitle"><img src="/images/sm_text02.gif" alt="美容皮膚科＆医療レーザー脱毛" /></p>
            <div class="sitemapColumn" id="sitemapColumn01">
                <dl>
                    <dt><a href="/menu/epi.html">医療レーザー脱毛</a></dt>
                </dl>
                <dl>
                    <dt><a href="/menu/antiageing-kin.html">金の糸</a></dt>
                </dl>
                <dl>
                    <dt><a href="/menu/mole-tatoo.html">ほくろ・タトゥー除去</a></dt>
                </dl>
                <dl>
                    <dt><a href="/menu/injection.html">ダイエット薬・ダイエットサプリ</a></dt>
                </dl>
                <dl>
                    <dt><a href="/menu/skincare.html">スキンケア・<br />フォト（BBL光治療）・<br />ケミカルピーリング</a></dt>
                    <dd><a href="/menu/skincare.html#item04">・BBL　光治療</a></dd>
                    <dd><a href="/menu/skincare.html#item01">・ケミカルピーリング</a></dd>
                    <dd><a href="/menu/skincare.html#item02">・イオン導入</a></dd>
                    <dd><a href="/menu/skincare.html#item03">・レーザーフェイシャル</a></dd>

                </dl>
                <dl>
                    <dt><a href="/menu/botokusu.html">ボトックス注射</a></dt>
                </dl>
                <dl>
                    <dt><a href="/menu/hyaluronsan.html">ヒアルロン酸注入</a></dt>
                </dl>
                <dl>
                    <dt><a href="/menu/diet.html">痩身</a></dt>
                    <dd><a href="/menu/diet.html#item01">・脂肪溶解注射</a></dd>
                </dl>
                
            <!-- /sitemapColumn01 --></div>
        <!-- /sitemapBlock01 --></div>

        <div class="sitemapBlock clearfix" id="sitemapBlock02">
            
            <div class="sitemapColumn" id="sitemapColumn02">
                <dl>
                    <dt><a href="/menu/pierce.html">ピアス</a></dt>
                </dl>
                <dl>
                    <dt><a href="http://www.hairsite.jp/" target="_blank">薄毛治療（男性・女性）<img src="/images/btn_target.gif" alt="" class="btn_target"/></a></dt>
                </dl>
                <dl>
                    <dt><a href="/menu/etc2.html">美容点滴・注射・<br />アートメイク・AGA</a></dt>
                </dl>

            <!-- /sitemapColumn02 --></div>
            <div class="sitemapColumn" id="sitemapColumn03">
                <p class="blockTitle"><img src="/images/sm_text03.gif" alt="美容外科" /></p>
                <dl>
                    <dt><a href="/menu/eye.html">目もと・二重まぶた</a></dt>
                    <dd><a href="/menu/eye.html#item01">・埋没法</a></dd>
                    <dd><a href="/menu/eye.html#item02">・脱脂／マイクロ脱脂</a></dd>
                    <dd><a href="/menu/eye.html#item03">・全切開法</a></dd>
                    <dd><a href="/menu/eye.html#item04">・眼瞼下垂（オープンアイズ法）</a></dd>
                    <dd><a href="/menu/eye.html#item05">・グラマラスライン</a></dd>
                </dl>
                <dl>
                    <dt><a href="/menu/nose.html">鼻筋・小鼻</a></dt>
                    <dd><a href="/menu/nose.html#item01">・ヒアルロン酸注入術</a></dd>
                    <dd><a href="/menu/nose.html#item02">・プロテーゼ挿入術</a></dd>
                    <dd><a href="/menu/nose.html#item03">・鼻翼縮小術</a></dd>
                    <dd><a href="/menu/nose.html#item04">・鼻尖形成術</a></dd>
                    <dd><a href="/menu/nose.html#item05">・鼻尖縮小術（鼻先を細くする）</a></dd>
                    <dd><a href="/menu/nose.html#item06">・鼻尖増高術（鼻先を高くする）</a></dd>
                    <dd><a href="/menu/nose.html#item07">・鼻尖挙上術（鼻先を上向きにする）</a></dd>
                    <dd><a href="/menu/nose.html#item08">・鼻尖部延長（鼻先を下向きに延ばす）</a></dd>
                    <dd><a href="/menu/nose.html#item09">・鷲鼻形成術</a></dd>
                </dl>
                <dl>
                    <dt><a href="/menu/face-lift.html">フェイスリフト</a></dt>
                </dl>
                <dl>
                    <dt><a href="/menu/ear.html">耳</a></dt>
                </dl>
                <dl>
                    <dt><a href="/menu/lip.html">口元・唇</a></dt>
                    <dd><a href="/menu/lip.html#item01">・口唇縮小術(上下)</a></dd>
                    <dd><a href="/menu/lip.html#item02">・口唇拡大術(上下)</a></dd>
                </dl>
                
            <!-- /sitemapColumn02 --></div>
            <div class="sitemapColumn" id="sitemapColumn04">
                <dl>
                    <dt><a href="/menu/bust.html">バスト・豊胸術</a></dt>
                    <dd><a href="/menu/bust.html#item01">・豊胸術（シリコンバッグ）</a></dd>
                    <dd><a href="/menu/bust.html#item02">・豊胸術（SUB-Q）</a></dd>
                    <dd><a href="/menu/bust.html#item03">・乳頭縮小術(高さ・外径・全体)</a></dd>
                    <dd><a href="/menu/bust.html#item04">・乳輪縮小術</a></dd>
                    <dd><a href="/menu/bust.html#item05">・乳頭乳輪の黒ずみ除去</a></dd>
                </dl>
                <dl>
                    <dt><a href="/menu/faceline.html">輪郭・アゴ形成</a></dt>
                    <dd><a href="/menu/faceline.html#item01">・小顔（エラ）ボトックス注射</a></dd>
                    <dd><a href="/menu/faceline.html#item02">・エラ削り</a></dd>
                    <dd><a href="/menu/faceline.html#item03">・アゴ削り</a></dd>
                    <dd><a href="/menu/faceline.html#item04">・下顎プロテーゼ挿入術</a></dd>
                    <dd><a href="/menu/faceline.html#item05">・頬骨整形術</a></dd>
                </dl>
                <dl>
                    <dt><a href="/menu/kyuin.html">脂肪吸引</a></dt>
                </dl>
                <dl>
                    <dt><a href="/menu/waki.html">ワキガ・多汗症</a></dt>
                </dl>
                <dl>
                    <dt><a href="/menu/lady.html"> 女性器</a></dt>
                </dl>
                <dl>
                    <dt><a href="/menu/gentle.html">男性器</a></dt>
                </dl>
                <dl>
                    <dt><a href="/menu/etc.html">その他</a></dt>
                </dl>
            <!-- /sitemapColumn02 --></div>
        <!-- /sitemapBlock02 --></div>

    <!-- /inner960 --></div>
<!-- /bottomSitemap --></div>

<div id="footer">
	<div class="inner960 clearfix">
		<ul class="footerNav">
			<li><a href="/sitemap/index.html">サイトマップ</a></li>
		</ul>
		<p class="copyright">Copyright &copy; TOKYO COSMETIC SERGERY . All Rights Reserved. </p>
	<!-- /inner960 --></div>
<!-- /footer --></div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59451323-1', 'auto');
  ga('send', 'pageview');

</script>