
<div id="header">
    <div class="inner960 clearfix">
        <p id="logo"><a href="/"><img src="/images/logo.gif" alt="トップページ" /></a></p>
        <div class="fltr fltr_navi">
            <div class="topBtns clearfix">
                <p id="btnSiryou"><a href="/catalog/form"><img src="/images/btn_siryou.gif" class="rollover" alt="資料請求" /></a></p>
        <p id="btnMail"><a href="/inquiry/form"><img src="/images/btn_mail.gif" class="rollover" alt="メール相談" /></a></p>
        <p id="btnContact01"><a href="/reservation/form"><img src="/images/btn_contact01.gif" class="rollover" alt="無料カウンセリングはこちら" /></a></p>

            <!-- /topBtns --></div>
            <ul id="gnav">
                <li><a href="/about/introduction.html"><img src="/images/gnav_01.gif" class="rollover" alt="クリニックについて" /></a></li>
                <li><a href="/menu/index.html"><img src="/images/gnav_02.gif" class="rollover" alt="診療一覧" /></a></li>
                <li><a href="/flow/index.html"><img src="/images/gnav_03.gif" class="rollover" alt="施術の流れ" /></a></li>
                <li><a href="http://tk-honin.com/lp/matome/index.php" target="_blank"><img src="/images/gnav_04.gif" class="rollover" alt="オススメ情報" /></a></li>
                <li><a href="/access/index.html"><img src="/images/gnav_05.gif" class="rollover" alt="アクセス" /></a></li>
                <li><a href="/recruit/index.html"><img src="/images/gnav_06.gif" class="rollover" alt="採用情報" /></a></li>
            </ul>
        </div>
    </div>
<!-- /header --></div>

