@charset "utf-8";
body {
	background: #EFEFEF;
	font-family: Verdana, Verdana, Arial,"メイリオ",Meiryo, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
	padding: 0 20px;
}

dl {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 19px 0;
}

dl dt {
	clear: left;
	display: block;
	float: left;
	margin: 0 20px 0 0;
	width: 100px;
}

dl dd {
	float: left;
	margin: 0;
	padding: 0;
}

/* =========================================================
 Clearfix
========================================================= */
/* begin clearfix */
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.clearfix {
	display: inline-table;
	zoom: 1; /* for IE5.5 - IE7 */
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */

