@charset "utf-8";

/******************************************************************** index
*/
@font-face {
	font-family: "shingo";
	src: url('font/A-OTF-ShinGoPro-Regular.otf');
}

body{color:#4C1A00;}
.orange {
	color: #ff6b00;
}

#mail {
	bottom: 15px;
	right: 30px;
	font-size: 16px;
	line-height: 1;
}

#mail a {
	background: url("../img/bg_mail01.jpg") no-repeat left center;
	font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
	font-weight: bold;
	color: #333;
	text-decoration: none;
	display: block;
	padding: 10px 10px 10px 32px;
}

#mail a:hover {
	text-decoration: underline;
}

.btn_tel {
	text-align: center;
}

.btn_tel a {
	text-decoration: underline;
	font-size: 20px;
	font-weight: bold;
}

.btn_tel a.active {
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
}

h3.ng span {
	float: left;
	display: inline-block;
	text-align: left;
	padding: 10px 0;
	width: 70%;
}

h3.ng img {
	width: auto;
}

/*.planList{
	width: 95%;
	margin: 0 auto 70px;}
.planList li{
	text-align:center;
	border-bottom:#E3E3E3 1px solid;
	margin-bottom:15px;
	padding-bottom:15px;
	line-height:0;
}*/

#p_title {
	background: #106bbd;
	color: #FFF;
	font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 25px 0;
}


.planList {
	color: #0057B1;
	width: 98%;
	margin: 20px auto 19px;
	font-family: "shingo";
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding: 0 0 20px;
}

.planList dt {
	float: left;
	display: inline-block;
}
.planList dd {
	float: right;
	text-align: right;
	letter-spacing: -1px;
}
.planList dt span.number {
	display: inline-block;
	text-align: center;
	margin: 0 10px;
}

.planList dd span.tax {
	display: inline-block;
	font-size: small;
	text-indent: -5px;
}

.price {
	width: 98%;
	margin: 0 auto 50px;
	font-weight: bold;
}

.price th ,
.price td {
	border-bottom: 1px solid #E3E3E3;
	/*font-size: 123%;*/
	font-size: 114%;
	font-family: 'shingo';
	font-weight: inherit;
	padding: 20px 5px 19px;
	color: #0057B1;
	letter-spacing: -2px;
	line-height: 1em;
}

.price td.red {
	color: #C00;
}
.price td {
	text-align: right;
	letter-spacing: 0;
}
.price td span {
	font-size: 80%;
}

span.blue ,
.blue {
	color:#066EC5;
}

/*
.telbtn a ,
.mailbtn a {
	display: table;
	font-size: 125%;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
	width: 100%;
	margin: 0 auto 20px;
	vertical-align: middle;
}

.telbtn a {
	background: url("../img/icon_phone.png") no-repeat left 20px center , url("../img/icon_arrow.png") no-repeat right 20px center #FF3366;
	color: #FFF;
	box-shadow: 2px 2px 0 0 #FF638A inset, -2px -2px 0 0 #CF2953 inset;
	height: 90px;
	text-decoration: none;
	line-height: 90px;
}

.mailbtn a {
	background: url("../img/icon_mail.png") no-repeat left 10px center #FFF;
	color: #F36;
	height: 56px;
	line-height: 54px;
	border: 2px solid #F36;
	text-decoration: none;
	padding: 0 0 0 8%;
	width: 90%;
}

.telbtn img ,
.mailbtn img {
	width: auto;
	display: inline-block;
}

.telbtn img {
	margin: 0 20px 0 0;
	position: relative;
	top: 13px;
}

.mailbtn img {
	margin: 0 10px 0 0;
	position: relative;
	top: 3px;
}
*/
.concept li{
	background:url(../img/bg_cocept_top.jpg) repeat center top;
	width:100%;
	margin: 0 auto 20px;
	padding: 10px 0 0;
	border: 1px solid #FFF;
	box-shadow: 0 0 5px #CCC;
	border-radius: 5px;
/*	float:left;
	padding-right:23px;*/
}

.con_tit {
	margin: 0 0 10px;
	vertical-align: middle;
	display: block;
}
.con_tit li{
	background: none;
	border: none;
	box-shadow: none;
/*	font-size: 85%;
	float: left;
	width: 66%;*/
	padding: 0;
	margin: 0;
}
.con_tit li:nth-child(1) {
	margin-right: 4%;
	width: 30%;
}

.concept li p.concept img {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

.concept li.last{
	padding-right:0;
}
.concept li .bottom{
	padding-bottom:20px;
}
.concept li .bottom .inner{
	padding:0 20px 10px;
}

.mincho {
	font-family: "ヒラギノ明朝 ProN W6","HiraMinProN-W6","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
	color: #0091D1;
	margin: 0 0 20px;
}

.marugo {
	font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
	color: #0091D1;
	font-weight: bold;
	margin: 0 0 20px;
}

ul.address {
	margin: 0 0 20px;
	display: block;
	line-height: 1.5em;
}

ul.address li {
	display: block;
	margin: 0;
}

.flow{
/*	background:url(../img/bg_flow.jpg) no-repeat;
	padding:27px 14px 30px;*/
	margin-bottom:60px;
}
.flow li{
	background: url("../img/arrow01.jpg") no-repeat center bottom;
/*	float:left;
	padding-right:23px;*/
	margin: 0 auto 20px;
	padding: 0 0 40px;
	width: 95%;
}
.flow li.last{
	background: none;
/*	float:right; 
	padding-right:0;*/
	margin: 0 auto;
	padding: 0;
}
.flow li .lH0{margin-bottom:22px;}

.flow li p img {
	box-shadow: 0 0 5px 1px #CCC;
}


.flow li h4{margin-bottom:12px; line-height:0;}

.point{
	width: auto;
	height:auto;
	margin:0 auto 52px;
	border-right:#0264BD 2px solid;
	border-left:#0264BD 2px solid;
	border-bottom:#0264BD 2px solid;
}
.point li{
/*	float:left;
	width:95%;*/
	padding: 10px;
	margin: 0 auto;
	border-bottom:#EBEBEB 1px solid;
}
/*
.point li.heightLine-group2{
	border-bottom:#EBEBEB 1px solid;
}
.point li.bR{
	border-right:#EBEBEB 1px solid;
}
*/
.point li h4 {
	line-height: 40px;
	margin-bottom:10px;
}

.point li h4 span {
	background: url("../img/ttl04_05.jpg") no-repeat center center / 80%;
	height: 35px;
	width: 35px;
	color: #FFF;
	text-align: center;
	line-height: 40px;
	display: table-cell;
	float: left;
	margin: 0 10px 0 0;
}

.adventage{
/*	background:url(../img/bg_defferent_center.jpg) repeat-x left bottom;*/
	width:98%;
	margin:0 auto 30px;
}

.adventage h4 {
	border-bottom: 2px solid #0164bd;
	border-top: 6px solid #0164bd;
	color: #0164bd;
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.2;
	margin: 0 0 30px;
	padding: 15px;
}
.adventage h4 img {
	width: 20%;
	float: left;
}

.adventage .appeal {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5em;
	text-align: center;
}

.adventage .inner{
/*	background:url(../img/bg_defferent.jpg) repeat-x left bottom;*/
	padding:0;
}
.adventage .inner {
	width:98%;
	height:auto;
	margin: 0 auto;
}

.adventage .inner p.text {
	font-family: "ryumin";
	text-align: justify;
	vertical-align: baseline;
}

.adventage img {
	display: block;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

dl.three_pillars {
	display: block;
	font-size: 80%;
	margin: 0 0 20px;
}

dl.three_pillars dt {
	float: left;
	padding: 0;
	margin-right: 10px;
	width: 22%;
}

dl.three_pillars dt span {
	border: 2px solid #0064bd;
	border-radius: 10px;
	color: #0064bd;
	display: block;
	font-size: 160%;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	padding: 10px;
	text-align: center;
	width: 40px;
}

dl.three_pillars dd {
	float: right;
	width: 74%;
}

/*
.mailbtn a {
	background: #ff3366 url("../img/icon_mail.png") no-repeat scroll 10px center / 9% auto;
	border-radius: 10px;
	box-shadow: 3px 3px 0 #ff7094 inset,-3px -3px 0 #AB2244 inset;
	color: #FFF;
	display: block;
	font-size: 150%;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	padding: 30px 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
}
*/

.cost {
	height:auto;
}
/*
.cost .price-list{
	width:100%;
	border-collapse:collapse;
	margin-bottom:15px;
}
.cost .price-list tr th{
	font-weight:bold;
	padding:5px 15px;
	border:#CCC 1px solid;
}
.cost .price-list tr td{
	padding:5px 15px;
	border:#CCC 1px solid;
	width: 50%;
}
.cost .price-list tr .price{
	text-align:right;
	background:#D5F0FB;
	font-weight:bold;
	color:#066EC5;
}
*/

.cost .price-list{
	width:100%;
	border-collapse:collapse;
	margin-bottom:15px;
}
.cost .price-list tr .title {
	background: #666;
	color: #FFF;
	font-weight: bold;
}

.cost .price-list tr .magenta {
	color: #FF3366;
	font-weight: bold;
}

.cost .price-list tr th{
	font-weight:bold;
	padding:5px 15px;
	border:#CCC 1px solid;
	width: 60%;
}
.cost .price-list tr td {
	padding:5px;
	border:#CCC 1px solid;
	font-size: 12px;
}
.cost .price-list tr td.price{
/*	background:#D5F0FB;*/
	text-align:right;
	font-weight:bold;
	color:#066EC5;
}

.cost p.img {
	text-align: center;
}

.ways{
	margin: 30px auto;
}
.ways li{
/*	float:left;*/
	background:#FBFBF9;
	border:#CCC 1px solid;
	padding: 5%;
	width:90%;
	height:auto;
	margin: 0 auto 30px;
	text-align: justify;
}
.ways li .fL{
	width: 15%;
	text-align: center;
	margin: 0 5% 0 0;
}
.ways li .fR{
	width: 80%;
}
.ways li .fR h4{
	line-height:0;
	margin-bottom:10px;
}

.different{
	width:100%;
	border-collapse:collapse;
	border: 2px solid #999;
}
.different tr th{
	background: #eee;
	font-weight:bold;
	padding:15px;
	border:#CCC 1px solid;
	text-align: center;
}
.different tr td{
	background: url("../img/bg_icon01.jpg") no-repeat right center;
	padding:15px;
	border:#CCC 1px solid;
}
.different tr .bg_blue{
	background:#D5F0FB;
}
.different tr span.blue{
	color:#066EC5;
	font-size: 18px;
}

.access div {
	width:100%;
	margin: 0 0 30px;
}
/*
table.info {
	width: 98%;
	margin: 0 auto 30px;
}

table.info th ,
table.info td {
	border: 1px solid #CCC;
	padding: 5px;
}

table.info th {background: #EEE;}
*/
dl.info {
	width: auto;
	margin: 0 auto 30px;
}

dl.info dt ,
dl.info dd {
	display: block;
	border: 1px solid #CCC;
	padding: 9px;
	margin: 0 0 -1px;
}

dl.info dt {
	background: #EEE;
	font-weight: bold;
}

dl.info dd.holiday {
	color: #FF3366;
}

ul.access {
	margin: 0 0 30px 15px;
}

ul.access li {
	list-style: disc;
}

.doctor p img {
	text-align: center;
	width: auto;
}

/* ---------- ドクター情報 ---------- */
.doctor .doctors-name {
	background: #d1eff8;
	color: #462c24;
	font-size:1.5em;
	font-weight:bold;
	margin-bottom: 20px;
	line-height: 1;
	padding: 10px 5px;
}

.doctors-inner img {
	width: auto;
	text-align: center;
	display: block;
	margin: 0 auto 20px;
}

.doctor .doctors-name span {
	color: #ff5d3b;
	font-size: 0.85em;
}

.doctor .doctors-name span.small {
	font-size: 12px;
	color: #462c24;
	line-height: 1.5em;
	margin: 0 0 5px;
	display: block;
}

.doctor h4{
	font-size:1.3em;
	font-weight:bold;
	margin-bottom:10px;
	border-left:#00A0E9 3px solid;
	padding-left:10px;
}

.doctor h5.mincho {
	color: #462c24;
	font-weight: bold;
	font-size: 125%;
	margin: 0 0 10px;
}

.doctor dl {
	width:100%;
	border-collapse:collapse;
	border: 1px solid #ccc;
	margin: 0 0 20px;
}

.doctor dl dt ,
.doctor dl dd {
	padding:10px;
}
.doctor dl dt {
	background: #EFEFEF;
	font-weight:bold;
}

.doctor dl dd {
	border-bottom: #CCC 1px solid;
}
.doctor dl dd:last-child {
	border-bottom: none;
}

.doctor ul.list li {
	list-style-type: disc;
	margin: 0 0 5px 20px;
}

.doctor .doc-combox {
	border: 5px solid #e8d5cd;
	margin: 0 auto 30px;
	padding: 15px;
}

.doctor .doc-combox h5 {
	text-align: center;
}

.frame {
	border: 3px solid #eff7d1;
	padding: 2px;
}

.tomori {
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

.tomori .doctors-name {
	background: #eff7d1;
	margin: 0 0 10px;
}
.tomori h5.bb {
	border-bottom: 1px solid #9a8f8f;
	margin: 0 0 10px;
	line-height: 1;
}

.tomori .textbox {
	margin: 0 0 20px;
}




/* ---------- */

p#footer {
	font-size: small;
	padding: 0 0 80px;
}

.fix_Box {
	display: none;
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
}
.fix_Box .fix_bottom {
	background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
	padding: 10px 0;
}

.fix_Box .fix_bottom ul {
	display: block;
	margin: 0;
	overflow: hidden;
	width: 100%;
}

.fix_Box .fix_bottom li {
	border-radius: 5px;
	display: inline-block;
	float: left;
	margin: 0 2%;
	width: 46%;
}

.fix_Box .fix_bottom li a {
	display: block;
	font-size: 100%;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
}

.fix_Box .fix_bottom li a img {
	width: auto;
	float: left;
	margin: 5px -10px 5px 10px
}

.fix_Box .fix_bottom li.tel {
	color: #fff;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#FF5983+0,e46d11+100 */
	background: #FF5983; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhYTYxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNDZkMTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #FF5983 0%, #FF3366 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF5983), color-stop(100%,#FF3366)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #FF5983 0%,#FF3366 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #FF5983 0%,#FF3366 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #FF5983 0%,#FF3366 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #FF5983 0%,#FF3366 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF5983', endColorstr='#FF3366',GradientType=0 ); /* IE6-8 */

}
.fix_Box .fix_bottom li.tel a {
	color: #fff;
}
.fix_Box .fix_bottom li.mail {
	color: #1a75bb;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d6d6d6+100 */
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmQ2ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #d6d6d6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#d6d6d6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#d6d6d6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#d6d6d6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-8 */
}

.fix_Box .fix_bottom li.mail a {
	color: #333;
}

.fix_Box .foot_datail {
	background-color: #000;
	color: #fff;
	height: 15px;
	padding: 5px 5px 7px;
	text-align: center;
}

