#other-doctor{
	position: relative;
	height: 228px;
	overflow: hidden;
}

.other-doctor-list-item .thumb{
	margin-bottom: 6px;
	width: 86px;
	height: 120px;
	
	position: relative;
	opacity:1;
	transition: opacity 0.1s linear;
}

.other-doctor-list-item:hover .thumb{
	opacity:0.6;
	
}

.other-doctor-list-item.current:hover .thumb{
	opacity:1;
}


.other-doctor-list-item .overlay{
	width: 86px;
	height: 120px;
	

	position: absolute;
	top: 0;
	left: 0;
	box-sizing:border-box;
}
.other-doctor-list-item.current .overlay{
	border: 4px solid #f1d6cf;
}

.other-doctor-list-item .name{
	font-size: 14px;
	font-weight: bold;
	margin-top: 2px;
}

.bx-wrapper .bx-prev{
	background: url(/about/doctor/images/btn-slide-prev.png) left top no-repeat;
	left: -78px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-next:hover{
	background-position: left top;
}
.bx-wrapper .bx-next{
	background: url(/about/doctor/images/btn-slide-next.png) left top no-repeat;
	right: -78px;
}

#other-doctor-title{
	margin: 20px 0 20px 0;
}

#experience-table .date{
	width: 88px;
}

.aboutBox03 .fltr {
    width: 482px;
}

.main-name-area{
	padding-top: 9px;
}

.voice-title{
	font-size: 15px;
}