#doctor-list{
	overflow: hidden;
	width: 680px;
	margin-top: 29px;
}

.doctor-list-item{
	width: 310px;
	height: 159px;
	border: 5px solid #f7e6e2;
	position: relative;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;

}

.doctor-list-item .thumb{
	position: absolute;
	top: 15px;
	left: 16px;
}

.doctor-list-item .btn{
	position: absolute;
	bottom: 16px;
	right: 14px;
	transition: opacity 0.1s linear;
}
.doctor-list-item .btn:hover{
	opacity:0.6;	
}
.doctor-list-item .title{
	position: absolute;
	top: 28px;
	left: 139px;
}

.doctor-list-item .name{
	position: absolute;
	top: 60px;
	left: 139px;
}