@charset "UTF-8";
/*
@media only screen and (min-width: 768px) {
*/
.mincho{
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;		
	}	
.pconly{
	display:block;
}
.sponly{
	display:none;
}
	
#tab01{
	width:1200px;
	margin:40px auto 0;
}

.tabMenu li:nth-child(1){
    float:left;
	margin:0 30px 0 0px;
}
.tabMenu li:nth-child(1) img,
.tabMenu li:nth-child(2) img{
	width:585px;
}
	/*
.tabMenu li:nth-child(1) img,
.tabMenu li:nth-child(2) img,	
.tabMenu li:nth-child(3) img,
.tabMenu li:nth-child(4) img,
.tabMenu li:nth-child(5) img,
.tabMenu li:nth-child(6) img{
	width:175px;
}
	*/
.tabMenu li:nth-child(2){
    float:left;
	margin:0 0px 0 0;
}
.tabMenu li:nth-child(3){
    float:left;
	margin:0 30px 0 0;
}
.tabMenu li:nth-child(4){
    float:left;
	margin:0 30px 0 0;
}
.tabMenu li:nth-child(5){
    float:left;
	margin:0 30px 0 0;
}
.tabMenu li:nth-child(6){
    float:left;
	margin:0 0px 0 0;
}
.tabMenu li a{
    display:block;
    text-align:center;
    }
#tabBox1,#tabBox2,#tabBox3,#tabBox4,#tabBox5,#tabBox6{
	width:1200px;
	margin:0 auto 0;
}
#tabBox1{
	margin:20px 0 0 0;
}
#tabBox2{
	margin:20px 0 0 0;
	height:0;
	overflow: hidden;
}
#tabBox3{
	margin:20px 0 0 0;
	height:0;
	overflow: hidden;
}
#tabBox4{
	margin:20px 0 0 0;
	height:0;
	overflow: hidden;
}
#tabBox5{
	margin:20px 0 0 0;
	height:0;
	overflow: hidden;
}
#tabBox6{
	margin:20px 0 0 0;
	height:0;
	overflow: hidden;
}
	
.tabMenu{
	border-bottom:2px solid #000;
	margin:0 0 60px 0;
}
	
	.ttl01{
		text-align:center;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;	
		font-size:40px;
		margin:80px auto 30px;
		width:100% !important;
	}	
	
	
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	