@charset "UTF-8";

@media only screen and (min-width: 768px) {


.block111{
	width:1200px;
	margin:0 auto;
}
.block111 p.text{
	text-align:center;
	margin:46px auto;
}
.block111 img.left{
	float:left;
	margin-left: 108px;
	margin-bottom:33px;
}
.block111 div.cf{
	float:left;
	width:370px;
	text-align:left;
	margin-left:40px;
	margin-bottom:33px;
}
.block111 div.cf h3{
	border-left: solid 2px #111111;
	font-weight:bold;
	font-size:15px;
	line-height:100%;
	padding:0 0 0 10px;
	margin-bottom:20px;
}
.block111 div.cf h3 span{
	font-weight:normal;
	display:block;
	color:#7c7c7c;
	font-size:10px;
}
.block111 div.cf  dl dt{
	color:#7c7c7c;
	margin-right:10px;
}
.block111 div.cf  dl dt,
.block111 div.cf  dl dd{
	float:left;
	margin-bottom:6px;
}
.block111 div.cf ul li{
	float:left;
	width:165px;
	margin-bottom:7px;
}
.block11 h3.clear{
	border-left: solid 2px #111111;
	font-weight:bold;
	font-size:15px;
	line-height:100%;
	padding:0 0 0 10px;
	width:970px;
	margin:0 auto;
	text-align:left;
}
.block111 h3.clear span{
	font-weight:normal;
	display:block;
	color:#7c7c7c;
	font-size:10px;
}
.block111 p.bottom_text{
	width:983px;
	margin:20px auto 0;
	text-align:left;
}


.block122{
	width:1200px;
	margin:0 auto;
}
.block122 p.text{
	width:auto;
	text-align:center;
	/*
	background:url(../images_omote/logo.gif) no-repeat left center;
	*/
	padding:0px 0 15px 0px;
	margin:40px auto;
}
.block122 div.cf{
	width:373px;
	margin: 0 0 5px 0 ;
	float:left;
	text-align:left;
	margin-top:27px;
}
.block122 div.cf h3{
	margin-bottom:15px;
}
.block122 div.cf ul li.no01{
	background:url(../images_omote/icon01.gif) no-repeat left center;
	padding-left:25px;
	margin-bottom:10px;
}
.block122 div.cf ul li.no02{
	background:url(../images_omote/icon02.gif) no-repeat left center;
	padding-left:25px;
	margin-bottom:10px;
}
.block122 div.cf ul li.no03{
	background:url(../images_omote/icon03.gif) no-repeat left center;
	padding-left:25px;
	margin-bottom:10px;
}
.block122 div.center{
	margin-left:40px;
	margin-right:40px;
}
.block122 div.cf p{
	margin-bottom:10px;
}
.block122 div.cf dl{
	float:left;
}
.block122 div.cf dl dt{
	border-left: solid 2px #111111;
	font-weight:bold;
	font-size:15px;
	line-height:100%;
	padding:0 0 0 10px;
	/*
	width:970px;
	*/
	margin:0 auto 10px;
	text-align:left;
}
.dl01{
	width:210px;
}
.dl02{
	width:160px;
}

.doctor2{
	margin-top:50px;
}
.doctor2 .sp_right p{
}







/*=======================================================================
clear　clearfix
=======================================================================*/

.clear { clear: both;	visibility: visible;
}
.cf:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
/* IE7,MacIE5 */
.cf {
  display: inline-block;
}
/* WinIE6 below, Exclude MacIE5 \*/
* html .cf {
  height: 1%;
}
.cf {
  display:block;
}
.box{
	display:block;
}

#section02,
#section03,
#section04,
#section05,
#section06,
#section07,
#section08,
#section09{
	margin-top:-100px;
    padding-top:100px;
}

.pc_none{
	display:none !important;
}

	.btn_box{
	width:1200px;
	margin:75px auto;
}
.btn_box dl{
	float:right;
}
.btn_box dl dt{
	float:left;
	border-right: dotted 1px #7c7c7c;
	margin-right:22px;
	padding-right:22px;
}
.btn_box dl dd{
	float:left;
	margin-top:3px;
}


.back_none{
	background: none;
}

	.pconly{
		display:block;
	}
	.sponly{
		display:none;
	}

	.company{
max-width:1200px;
margin:50px auto;
padding:20px;
background: #f4f4f1;
}
.company table{
	width:100%;
	vertical-align: middle;
}
.company table th{
	width: 30%;
		text-align: center;
		font-size: 25px;
		border-right:1px dotted #666;
		padding: 20px;

}
.company table td{
		width: 70%;
		line-height: 2em;
				font-size: 16px;
				padding: 20px;
}


}
