@media only screen and (max-width: 768px) {

img{
	width:100%;
	height:auto;
}

.btn_box dl{
	width:70%;
	margin:40px auto 50px;
}
.btn_box dl dt{
	margin-bottom:8px;
}
.block111 h2{
	margin:40px 0 20px;
}
.block111 p.text{
	width:95%;
	margin:0 auto 20px;
}
.block111 img.left {
	float: left;
	width:30%;
	margin-left:2.5%;
}
.block111 .sp_right{
	width:62.5%;
	float:right;
	margin-right:2.5%;
	margin-bottom:15px;
}
.block111 div.cf h3 {
	border-left: solid 2px #111111;
	font-weight: bold;
	font-size: 120%;
	line-height: 100%;
	padding: 0 0 0 10px;
	margin-bottom: 10px;
	text-align:left;
}
.block111 div.cf h3 span {
	font-weight: normal;
	display: block;
	color: #7c7c7c;
	font-size: 70%;
	margin-top: 5px;
	line-height: 100%;
}
.block111 div.cf dl{
	text-align:left;
}
.block111 div.cf dl dt{
	color:#7e7e7e;
	font-size:90%;
}
.block111 .sp_clear{
	clear:both;
	width:95%;
	margin:0 auto;
}
.block111 div.cf ul li {
  float: left;
  width: 50%;
  margin-bottom: 7px;
}
.block111 h3.clear {
	border-left: solid 2px #111111;
	font-weight: bold;
	font-size: 120%;
	line-height: 100%;
	padding: 0 0 0 10px;
	margin:15px auto 10px;
	text-align:left;
	width:92%;
}
.block111 h3.clear span {
	font-weight: normal;
	display: block;
	color: #7c7c7c;
	font-size: 70%;
	margin-top: 5px;
	line-height: 100%;
}
.block111 p.bottom_text{
	width:95%;
	margin:0 auto;
}

.block122 {
	margin-bottom:40px;
}
.block122 h2{
	margin-bottom:20px;
}
.block122 img.sp_logo{
	margin-bottom:15px;
}
.block122 p.text{
	text-align:center;
	margin-bottom:15px;
}
.block122 iframe{
	width:95%;
	height:175px;
	margin:0 auto 10px;
}
.block122 div.cf{
	width:95%;
	margin:0 auto 15px;
}
.block122 div.cf h3{
	margin-bottom:15px;
}
.block122 div.cf ul li.no01 {
  background: url(../images_omote/icon01.gif) no-repeat left top;
  padding-left: 25px;
  margin-bottom: 10px;
}
.block122 div.cf ul li.no02 {
  background: url(../images_omote/icon02.gif) no-repeat left top;
  padding-left: 25px;
  margin-bottom: 10px;
}
.block122 div.cf ul li.no03 {
  background: url(../images_omote/icon03.gif) no-repeat left top;
  padding-left: 25px;
}

.block122 div.cf dl dt {
	border-left: solid 2px #111111;
	font-size: 120%;
	line-height: 100%;
	padding: 0 0 0 10px;
	margin: 0 auto 10px;
	text-align: left;
}
.dl01{

	width:55% !important;

	float:left;

}
.dl02{

	width:40% !important;

	float:right;

}




.doctor2{
	margin-top:30px;
}
.doctor2 img.left{
	margin-right:2.5%;
	margin-bottom:2.5%;
}
.doctor2 .sp_right h3{
	float: left;
	width: 61%;
}
.doctor2 .sp_right{
	float:none;
	width:95%;
	margin:0 auto 2.5%;
}

/*=======================================================================
ページトップ
=======================================================================*/
#page-top {
    position: fixed;
    bottom: 100px;
    right: 20px;
	z-index:99999999;
}


#f_wrapper {
	width: 100%;
	margin: 50px auto 0;
	text-align: center;
	background: #000;
	color: #FFF;
}
#f_wrapper p{
	padding:5px 0;
	font-size:85%;
	text-align:center;
}




.sp_none{
	display:none !important;
}

p.mt60{
	margin:5% 0 10% !important;
}

	.pconly{
				display:none;

	}
	.sponly{
		display:block;
	}





	.company{

	margin:30px auto;
	background: #f4f4f1;
	}
	.company table{
		width:100%;
		vertical-align: middle;
	}
	.company table th{
		width: 100%;
	    text-align: center;
	    font-size: 18px;
			padding: 10px;
	display: block;
	border-bottom:1px dotted #666;
	}
	.company table td{
			width: 100%;
			line-height: 2em;
			    font-size: 16px;
					padding: 10px;
					display: block;
	}


}
