@charset "utf-8";
* {
	-webkit-text-size-adjust:none;
}
@media screen and (max-device-width: 480px) {
img {
	max-width:100%;
	height:auto;
}
}


/* common 
--------------------------------------------------------------- */

body{
	color:#363230;
	font-size:13px;
	line-height:21px;
	border-bottom:2px solid #d0ccc9;
}

#page-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.image_right{
	float:right;
	padding:0 0 15px 10px;
}
.image_left{
	float:left;
	padding:0 10px 15px 0;
}
.wrapper{
	padding:0 15px;
}




/* header 
--------------------------------------------------------------- */

header{
}
header #logo{
	text-align:center;
	border-bottom:1px dotted #d0ccc9;
	padding:12px 0;
}
header .header_tel{
	float:left;
	width:49.6%;
	border-right:1px dotted #d0ccc9;
	text-align:center;
}
header .header_tel img{
	width:85%;
	padding:14px 0 8px 0;
}
header .btn{
	float:right;
	width:50%;
	background:#fafafa;	
	text-align:center;
}
header .btn img{
	width:90%;
	padding:14px 0 13px 0;
}

/* main 
--------------------------------------------------------------- */

#main{
	border-top:1px solid #d0ccc9;
}
	

/* common title 
--------------------------------------------------------------- */

.common_title_icon01{
	text-align:center;
	margin:40px 0 25px 0;
	padding:0 10px;
}
.common_title_icon01 h2{
	padding:15px 0 0 0;
	margin:0;
}
.common_title_icon02{
	text-align:center;
	margin:0 0 25px 0;
	padding:0 10px;
}
.common_title_icon02 h2{
	padding:15px 0 0 0;
	margin:0;
}
	


/* convertion
--------------------------------------------------------------- */

.common_cv{
	padding:0 25px;
	margin:45px 0;
}
.common_cv .tel{
	padding:10px 0 0 0;
}
	


/* contents01
--------------------------------------------------------------- */

.contents01_box p{
	padding:0 0 10px 0;
}
.contents01_box p span.important{
	color:#fff;
	background:#817b79;
	padding:2px;
}
.contents01_textbox_inner{
	border:1px solid #999;
}
.contents01_textbox_inner .title{
	text-align:center;
	padding:6px 0;
}
.contents01_textbox_inner .title img{
	width:80%;
}
.contents01_textbox{
	margin:0 10px;
	border-top:1px solid #999;
}
.contents01_textbox ul{
	width:100%;
	margin:0 auto;
	padding:6px 0 10px 0;
}
.contents01_textbox ul li{
	float:left;
	font-size:12px;
}
.contents01_textbox_inner02{
	padding:0 10px;
}
.contents01_textbox_inner02 p{
	padding:8px 0 4px 0 !important;
	margin:0 !important;
}
.contents01_textbox_inner02 p.arrow{
	padding:0 !important;
	margin:0 0 13px 0 !important;
	text-align:center;
}
.contents01_btn01{
	text-align:center;
	padding:0 0 10px 0;
}
.contents01_btn02{
	text-align:center;
}
	
	

/* contents02
--------------------------------------------------------------- */

.contents02_box .icon{
	padding:5px 0 10px 0;
}
.contents02_box .text01, .contents02_box .text02, .contents02_box .text03, .contents02_box .text04{
	padding:5px 0 15px 0;
}
.contents02_before_box{
	padding:0 25px;
}
.contents02_before_box p{
	padding: 0 0 10px 0;
}
.contents02_before_box p.none{
	padding:0 !important;
}
	

/* contents03
--------------------------------------------------------------- */

.contents03_price{
	padding:0 15px;
}
.contents03_price li{
	float:left;
	width:50%;
	padding:0 0 4% 0;
}
.contents03_price li img{
	width:96%;
}
.contents03_price li.left{
	text-align:left;
}
.contents03_price li.right{
	text-align:right !important;
}
.contents03_box .price_text{
	padding:0 0 8px 0;
}
.contents03_box p{
	color:#7e7e7e;
}

	

/* contents04
--------------------------------------------------------------- */

.contents04_box .step{
	text-align:center;
}
.contents04_box .title{
	padding:10px 0;
}
.contents04_box .tel{
	padding:10px 0;
}
.contents04_box .btn{
	padding:0 10px;
}
.contents04_box span{
	color:#7e7e7e;
}
.contents04_box .step03_textbox{
	border:1px solid #c0c0c0;
	padding:8px 0;
}
.contents04_box .step03_textbox p{
	color:#7e7e7e;
	font-size:12px;
	line-height:19px;
	margin:0 10px;
}
.contents04_box .after_text{
	margin:35px 0 0 0;
}
	
	

	

/* contents06
--------------------------------------------------------------- */

.contents06_box .question_box{
	border-bottom:3px double #e0d0b5;
	padding:0 0 10px 0;
}
.contents06_box .question_no{
	width:12%;
	float:left;
}
.contents06_box .title{
	float:right;
	width:88%;
}
.contents06_box .answer{
	width:12%;
	float:left;
	padding:8px 0 0 0;
}
.contents06_box .text{
	float:right;
	width:88%;
	padding:6px 0 0 0;
}
	

	

/* contents07
--------------------------------------------------------------- */

.contents07_box .name{
	padding:0 0 10px 0;
}
.contents07_box .map{
	padding:12px 0 0 0;
}
.contents07_box h4{
	width:55%;
	padding:12px 0 8px 0;
}
	
.contents07_box table{
	margin:0;
	padding:0;
	width:100%;
}
.contents07_box table th{
	width:25px;
	vertical-align:top;
	text-align:left;
	padding:0 0 3px 0;
	margin:0;
}
.contents07_box table td{
	vertical-align:top;
	text-align:left;
	color:#363230;
	font-size:13px;
	padding:2px 0 3px 0;
	margin:0;
}
.contents07_left{
	float:left;
	width:50%;
}
.contents07_left h4, .contents07_right h4{
	width:65%;
}
.contents07_right{
	float:right;
	width:50%;
}
	

	

/* contents08
--------------------------------------------------------------- */

.contents08_box h3{
	padding:12px 0 8px 0;
}
.contents08_box h4{
	padding:6px 0 0 0 ;
}
	
.contents08_box .contents08_textbox{
	padding:10px 10px 15px 10px;
}
.contents08_box .contents08_textbox p{
	padding:8px 0 0 0;
	margin:0 0 -10px 0;
}


/* contents09
--------------------------------------------------------------- */

.contents09_box .doctor{
	width:35%;
	margin:0 auto;
	padding:15px 0 4px 0;
}
.contents09_box h3{
	padding:15px 0 0 0;
}
.contents09_box h4{
	margin:10px 0 6px 0;
}
.contents09_box h4.title01{
	background:url(../images/hyaluronan_contents09_bg01.gif) left bottom no-repeat;
	font-size:14px;
	font-weight:bold;
	padding:0 0 2px 0;
	color:#ac791d;
}
.contents09_box h4.title02{
	background:url(../images/hyaluronan_contents09_bg02.gif) left bottom no-repeat;
	font-size:14px;
	font-weight:bold;
	padding:0 0 2px 0;
	color:#ac791d;
}
.contents09_box h4.title03{
	background:url(../images/hyaluronan_contents09_bg03.gif) left bottom no-repeat;
	font-size:14px;
	font-weight:bold;
	padding:0 0 2px 0;
	color:#ac791d;
}
.contents09_box p span{
	font-size:11px;
}
