@charset "utf-8";

/******************************************************************** structure
*/

a:link{color:#F39;}
a:visited{color:#F39;}
a:hover{color:#90C;}

.wrapper { width: 1000px; text-align: left; margin: 0 auto;}

#container {text-align:left;}

#footer {clear: both;}

/******************************************************************** header
*/

#header {
	position:relative;
	z-index:99;
	width:100%;
	padding:13px 0 14px;
}

.crown {
	height: 150px;
	position: relative;
	margin: 0 auto;
	width: 1000px;
}

h1{
/*	float:left;
	line-height:0;
	padding-top:9px;
	margin: 0 0 20px;*/
	position: absolute;
	top: 0;
	left: 10px;
}

.catch{
	background:url(../img/bg_catch.jpg) repeat-x center top;
	line-height:0;
}

/******************************************************************** container
*/

#container{
	text-align: left;
/*	background:url(../img/bg_body.jpg) repeat-X center top #2DBBFF;*/
	background: #A0D5F5;
	padding-top:40px;
	margin:0 auto;
	font-size:1.2em;
	line-height:1.4em;
}
#container .wrapper{
	background:url(../img/bg_container.jpg) no-repeat center top #FFF;
	padding-top:35px;
	position:relative;
}
#container .wrapper h2{
	line-height:0;
	position:relative;
	margin-left:-20px;
	margin-bottom:28px;
}

#container .section{
	padding:0 30px 60px;
}
#container .section02{
	padding:30px 30px 60px;
}

#container .section02 h5{
	background:#FFF;
	color:#B80C0C;
	font-size:1.4em;
	padding:25px 30px;
	border-bottom:#B80C0C 2px solid;
}


/* Contact Box
--------------------------------------------------------- */
.contactBox{
	background:url(../img/bg_contact.jpg) no-repeat center top;
	margin:0 auto 60px;
	width: 840px;
	height: 120px;
	padding: 20px 50px;
	line-height: 1;
}

.contactBox .fL {
	line-height: 0;
	padding: 10px 0;
}

.contactBox .txtContents{
	float:left;
	width:275px;
	padding:0 0 0 25px;
	line-height: 1;
}

.contactBox .txtContents ul.address {
	line-height: 1;
	font-size:0.8em;
	color:#333333;
}

.contactBox .txtContents ul.address li {
	margin: 0 0 5px;
}

.contactBox .fR {
	line-height: 0;
	padding: 20px 0;
}

#container h3{
/*	border-top:#2DBBFF 4px solid;*/
	border-top: #A0D5F5 4px solid;
	border-bottom:#CCC 1px solid;
	padding:30px;
	line-height:0;
	margin-bottom:30px;
}

#container h3.title08 > img {
    display: inline-block;
    line-height: 90px;
    padding: 27px 0;
    text-align: center;
}

#container h3.mb00{
	margin-bottom:0;
}
#container h4{
}

/******************************************************************** globalNav
*/

#globalNav {}


/******************************************************************** footer
*/

#footer{
	font-size:1.2em;
	color:#FFF;
	text-align:center;
	padding:40px 0 110px;
}

#footer a:link{color:#F90; text-decoration:none;}
#footer a:visited{color:#F90; text-decoration:none;}
#footer a:hover{color:#FC0; text-decoration:underline;}

#footer #copy { letter-spacing: 0.05em;}

.pageTop { text-align: right;}