@charset "shift_jis";
* {
	font-size: 12px;
	line-height: 150%;
}
/* レイアウトの設定*/
body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-image: url(images/bg.jpg);
}

img {
	border: none;
	vertical-align: bottom;
}
p {
	margin: 0;
	padding: 0;
	text-align: center;
}
#wrapper {
	width: 920px;
	margin: 0 auto;
	padding: 0;
	background-image: url(images/main_bg.gif);
}
.m-T30 {
	margin: 30px 0 0 0;
}
.m-T50 {
	margin: 50px 0 0 0;
}
