@charset "utf-8";

/* header
---------------------------------------- */

#header { border-bottom-color: #d0ccc9; border-bottom-style: solid; border-bottom-width: 1px; height: 70px; width: 100%; }

.header-inner { margin-left: auto; margin-right: auto; width: 1200px; }

#mainvisual-bg { background-color:#F7CDD4; background-repeat: none; height: 450px; margin-top: 30px;}

.mainimg { margin-right: auto; margin-left: auto; width: 1250px; padding-right:50px;}
.mainimg2 { margin-right: auto; margin-left: auto; width: 1250px; padding-right:50px;}

#container { margin-right: auto; margin-left: auto; margin-top: 18px; text-align: center; width: 1100px; padding: 0 50px;}
#container2 { margin-right: auto; margin-left: auto; margin-top: 18px; text-align: center; width: 1100px; padding: 0 50px;}


/* nayami */
ul.nayami{margin:10px 0 0 50px;}
ul.nayami li{ float:left;margin:5px 5px 0 0;}

/* point */
ul.point{width:1008px; margin:10px auto 0;}
ul.point li{ margin-bottom:10px;}
p.mechanism { width:600px; padding:20px 0 0 50px; float:left; text-align:left; line-height:2;}


/* btnarea */
.btnarea { background-image:url(../images/bg_btn_s1.jpg); repeat: no-repeat; height: 200px; padding-top: 187px; padding-left: 349px; margin:20px auto 50px auto; text-align: left; width: 659px; position: relative;}
.btnarea a.tellink { display: block; text-indent: -9999px; width: 485px; height: 85px; position:absolute; bottom: 15px; right: 105px;}

/* gimon */
dl.gimon{ margin:20px auto 0; width:1000px;}
dl.gimon dt{margin:0 0 25px 0;}
dl.gimon dd{margin:0 0 25px 0; padding:40px; background:#FEEDF0; text-align:left;}


/* voice */
div.voice{margin:20px auto 0; width:1000px; border:solid 8px #FEEDF0; text-align:left;}
div.voice .photo{ float:left; padding:30px;}
div.voice .title{ padding:40px 0 0 0;}
div.voice p { padding:10px 20px 0 0;}
p.voice_txt { text-align:right; padding-right:40px; font-size:14px;}


/* doctor */
div.doctor{ margin:30px auto 0;width:1100px; background:#FEEDF0; text-align:left; padding-bottom:20px;}
div.doctor .photo{ float:left; padding:10px 20px 0 60px;}
div.doctor .r_box{float:right; width:640px; padding:10px 70px 0 0;}
div.doctor p{ padding:10px 10px 0;}
div.doctor .inbox{ margin-bottom: 30px; }
div.doctor .r_photo{ float:right; padding: 0px 70px 0 20px;}
div.doctor .l_box{float:left; width:550px; padding: 0 0 0 50px;}
div.doctor .l_box p { margin: 0 0 10px; }


/* flow */
.process-box { width: 1000px; margin-bottom: 20px; margin-left: auto; margin-right: auto; vertical-align: top;  }

.process-bg { background-image: url(../images/08_boxmid.png); background-repeat: repeat-y; margin-right: auto; text-align: left; vertical-align: top; width: 1000px; }

.process-bg table{border-style: none;}

.step_title { height: 52px; margin-right: 25px; margin-bottom: 15px;  width: 665px; }

.process_txt { clear: both; font-size: 16px; line-height: 28px; margin-right: 25px; text-align: left; width: 665px; }
.process-box span{ border:solid 1px #ddd; padding:10px; font-size:13px; display:inline-block;margin-top:10px;}

/* price */
.price table{ margin:20px auto 0; width:550px; border-collapse:collapse;}
.price table th{ background:#F7F0EE; padding:10px;border:solid 1px #aaa;font-weight:100;} 
.price table td{  padding:10px;border:solid 1px #aaa; text-align:right;} 


/* access */
.access{width:1000px;border:1px solid #AAA;margin:13px auto 33px auto;padding-bottom:20px;}
.accesslogo{text-align:center;margin-top: 22px;}

.pinkback { background-color: #f7f0ee; padding-top: 10px; padding-bottom: 50px; margin-right: auto; margin-left: auto; text-align: center; width: 1100px; }

.pinkback-inner { margin-left: auto;  margin-right: auto; width: 960px; }

.p-back-txt { color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 16px; line-height: 160%; margin-top: 15px; text-align: left;}

.p-back-txt.fL {width: 440px; }

.access-wbox { background-color: #EEE; font-size: 16px; line-height: 28px; margin-right: auto; margin-left: auto; margin-top: 20px; margin-bottom: 40px; padding: 25px; text-align: left; vertical-align: middle; width: 930px; }

.access-left { border-right-width: 1px; border-right-style: dotted; border-right-color: #333; float: left; padding-top: 20px; padding-bottom: 20px; padding-right: 30px; margin-right: 30px; }


/*  doctor */
.doctors-inner { margin-right: auto; margin-left: auto; width: 980px; text-align: center; }

.doctors-name { clear: both; background-color: #F7F0EE; height: 32px; margin-bottom: 25px; margin-left: auto; margin-right: auto; margin-top: 30px; padding-top: 13px; padding-left: 15px; text-align: left; vertical-align: middle; width: 965px; }

.doc-txtbox01 { color: #462C24; float: left; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 14px; line-height: 160%; text-align: left; width: 320px; }

.doc-txtbox02 { color: #462C24; float: right; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 14px; line-height: 160%; text-align: left; width: 430px; }

.doc-combox { background-color: #FFF; border: 4px solid #E8D5CD; margin-left: auto; margin-right: auto; padding-bottom: 15px; padding-left: 15px; padding-right: 15px; padding-top: 15px; margin-bottom: 30px;  margin-top: 20px; text-align: center; width: 392px; }

.doc-comtxt { color: #462C24; float: right; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 14px; line-height: 160%; text-align: left; }


/*--slider bot--*/
.bx-prev{
    position: absolute;
    left: 0;
    top: 0;
	background:url(../images/left_arrow.png);
	height:299px;
	width:30px;
	display:block;
	text-indent:-9999px;
}
.bx-next{
   right: 0;
   top: 0;
   position: absolute;
	background:url(../images/right_arrow.png);
	height: 299px;
	width:30px;
	display:block;
	text-indent:-9999px;
}

/*--slider config--*/
.bg_img{
   width: 100%;
   max-width: 960px;
   margin: 0 auto;
	position:relative;
}
.bg_img .bx-wrapper{
    height: 299px;
}
.bx-window {
    margin-bottom: 0px;
}
.slider {
    width: 100%;
    margin: 0px auto;
} 

/*--slider--*/
.bg_img .bx-wrapper {
    width: inherit;
}
#slider li {
    width: 419px !important;
    text-align: left;
}



/* form */
.form{margin:38px auto 0 auto;width:900px;}
.form table{width:900px;border:1px solid #AAA;border-collapse: collapse;}
.form td{border:1px solid #AAA;text-align:left;}
.form table th{background-color:#F7F0EE;width:180px;text-align:left;vertical-align:top;padding:24px 0 20px 80px;border:1px solid #AAA;}
.error-m { color: #ff0000; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 14px; line-height: 100%; display:block; margin:0 20px 15px; padding:0;}
{}
.hissu{background:url(../images/hissu_s1.jpg) no-repeat 10px 24px;}
.nini{background:url(../images/ninni_s1.jpg) no-repeat 10px 24px;}
.textarea{border:0;padding:10px;font-size:14px;font-family:Arial, sans-serif;border:solid 1px #ccc;margin:15px 0 15px 22px;width:250px;-webkit-box-shadow:2px 2px 2px 0 rgba(200,200,200,0.2) inset;-moz-box-shadow:2px 2px 2px 0 rgba(200,200,200,0.2) inset;box-shadow:2px 2px 2px 0 rgba(200,200,200,0.2) inset; }
.textarea2{border:0;padding:10px;font-size:14px;font-family:Arial, sans-serif;border:solid 1px #ccc;margin:15px 0 15px 22px;width:545px;height:103px;-webkit-box-shadow:2px 2px 2px 0 rgba(200,200,200,0.2) inset;-moz-box-shadow:2px 2px 2px 0 rgba(200,200,200,0.2) inset;box-shadow:2px 2px 2px 0 rgba(200,200,200,0.2) inset; }
.textarea3 {
  padding: 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  border: solid 1px #ccc;
  margin: 15px 0 15px 22px;
  width: 80px;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(200,200,200,0.2) inset;
  -moz-box-shadow: 2px 2px 2px 0 rgba(200,200,200,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(200,200,200,0.2) inset;
}
input[type="radio"]{
font-size: 100%;
width: 1em;
margin: 0;
padding: 0;
opacity: 0;
}
input[type="radio"]+label:before{
display: inline-block;
content: "";
vertical-align: top;
background-color: white;
color: #CCCCCC;
border-style: solid;
border-width: 0.1875em;
width: 0.625em;
height: 0.625em;
margin-left: -1em;
margin-top: 0.25em;
margin-right: 0.25em;
}
input[type="radio"]+label:before{
border-radius: 0.5em;
}
input[type="radio"]:checked+label:before{
border-style: double;
border-width: 0.5em;
width: 0;
height: 0;
}
input[type="radio"]:focus+label:before{
outline: 1px dotted;
}
.radiostyle{padding-left:20px;}


#footer { border-top-color: #d0ccc9; border-top-style: solid; border-top-width: 1px; color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 12px; height: 70px; padding-top: 10px; text-align:center; }

ul.fl { list-style-image: url(../common/img/footer-arrow.png); margin: 0; padding: 0; }

ul.fl li { float: left; margin-right: 5px; padding: 2px; text-align: left; width: 10em; }

.clearLeft { clear: left; }

.watermark {
   color: #ccc;
}

















