@media only screen and (max-width: 768px) {

img{
	width:100%;
	height:auto;
}
.linebanner.half{
	max-width: 440px;
	width: 90%;
	margin: 20px auto;
	float: none;
}
.bxslider li{

}

#h_wrapper {
	height:auto;
	position:static;
	}

header#PAGE_TOP {
	margin: 0 auto;
	position: relative;
	text-align: left;
	width:auto;
	background:#000;
height: auto !important;
}
#main{
	margin:0px auto 0;
}
/*=======================================================================
ヘッダ
=======================================================================*/
#PAGE_TOP h1{
	margin:0 auto;
	padding:3% 0;
	background:#171717;
	position:relative;
	border-bottom:solid 2px #474747;
	top:auto;
	left:auto;
}
#PAGE_TOP h1 img{
	width:40%;
margin:0 0 0 5px;
	display:block;
/*
	margin:0 auto;
*/
}
#PAGE_TOP p{
	width:49.8%;
	float:left;
	position:relative;
	left:0;
	top:0;
}

#PAGE_TOP ul{
	position:static;
	top:auto;

}
#PAGE_TOP ul li.sp_ab{
	position:absolute;
	top:8%;
	right:5px;
	width:10%;
}
#PAGE_TOP ul li:first-child{
margin:0;}
#PAGE_TOP ul li.sp_ab1{
	position:absolute;
	top:8%;
	right:13%;
	width:18%;
}
#PAGE_TOP ul li.sp_ab1.w{
	width:40%;
}
#PAGE_TOP ul li.sp_ab1 img{

}
#PAGE_TOP ul li.sp_ab2{
	position:absolute;
	top:8%;
	right:32%;
	width:18%;
}
#PAGE_TOP ul li.sp_ab2 img{

}
#PAGE_TOP ul li.sp_right{
/*
	width:50.2%;
	float:right;
*/
}
	#PAGE_TOP ul li{
		margin:0;
	}
	.fotter_link_sp{
		position: fixed;
		bottom:0;
		left:0;
		width:100%;
	background:linear-gradient(to bottom, #fdfdfd, #cac7c6);
		border-top: 1px solid #b0b0b0;
		display: block;
	}
		.fotter_link_sp ul{
			display: inline-block;
		}
				.fotter_link_sp ul li{
					width:48%;
					margin:10px 1%;
					text-align: center;
					float: left;
				}
								.fotter_link_sp ul li:last-child{
	width:48%;
				margin:10px 1%;

								}
.company table th,.company table td{
	width: 100%;
	display: block;
}
}
