@charset "UTF-8";

body{
	font-size:13px;
	line-height:30px;
	color:#000000;
	padding:0 0 60px 0;
	margin:0;
	border-bottom:5px solid #363739;
}

/* common 
--------------------------------------------------------------- */

.wrapper{
	width:1200px;
	margin:0 auto;
	padding:0;
	overflow:hidden;
}
.inner{
	width:970px;
	margin:0 auto;
}

#page-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
#page-top a:hover {
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}


/* conversion 
--------------------------------------------------------------- */

.conversion{
	width:585px;
	padding:125px 0 105px 615px;
	margin:0 auto;
}
.conversion .tel{
	float:left;
	width:212px;
}
.conversion .btn{
	width:309px;
	float:right;
	margin:25px 0 0 0;
}
.conversion02{
	width:585px;
	padding:92px 0 115px 615px;
	margin:0 auto;
}
.conversion02 .tel{
	float:left;
	width:212px;
}
.conversion02 .btn{
	width:309px;
	float:right;
	margin:25px 0 0 0;
}
.conversion03{
	width:585px;
	padding:126px 0 132px 615px;
	margin:0 auto;
}
.conversion03 .tel{
	float:left;
	width:212px;
}
.conversion03 .btn{
	width:309px;
	float:right;
	margin:25px 0 0 0;
}


/* header 
--------------------------------------------------------------- */

#header_bg{
	background:url(../images/botox_header_bg02.gif) center top repeat-y;
	margin:0 0 1px 0;
}
#header{
	width:1200px;
	height:71px;
	margin:0 auto;
	background:url(../images/botox_header_bg01.gif) left top repeat-y;
}
#header .logo{
	float:left;
	width:251px;
	padding:13px 0 0 25px;
}
#header .header_right{
	width:487px;
	float:right;
}
#header .header_right .tel{
	width:208px;
	float:left;
	padding:13px 0 0 0;
}
#header .header_right .btn{
	width:249px;
	float:right;
	padding:13px 0 0 0;
}


/* main 
--------------------------------------------------------------- */

#main{
	width:1200px;
	margin:0 auto;
	height:500px;
	background:url(../images/botox_mainvisual.jpg) right top no-repeat;
}
#main h1{
	padding:148px 0 0 9px;
	margin:0;
}



/* contents01 
--------------------------------------------------------------- */

#title01{
	margin:109px 0 92px 0;
}

.contents01_box{
	background:#f2f2f2;
}
.contents01_bg01{
	background:url(../images/botox_contents01_bg01.jpg) center top no-repeat;
	height:620px;
}
.contents01_bg01 .text{
	margin:0 auto;
	width:1200px;
	padding:390px 0 0 0;
}
.contents01_box p{
	padding:0 0 18px 0;
}
.contents01_bg02{
	background:url(../images/botox_contents01_bg02.jpg) center top no-repeat;
	height:444px;
	margin:90px 0 0 0;
}
.contents01_bg02 .text_inner{
	width:618px;
	padding:50px 0 0 582px;
}
.contents01_bg02 .textbox{
	border-left:2px solid #393939;
	padding:4px 0 0 0;
	margin:20px 0 0 0;
}
.contents01_bg02 .textbox .inner{
	padding:0 0 0 23px;
}
.contents01_bg02 .textbox .inner ul{
	width:360px;
	margin:15px 0 0 0;
}
.contents01_bg02 .textbox .inner ul li{
	width:180px;
	float:left;
	line-height:24px;
}



/* contents02
--------------------------------------------------------------- */

#title02{
	margin:0  0 60px 0;
}
#subtitle01{
	margin:80px 0 32px 0;
}
#subtitle02{
	margin:140px 0 90px 0;
}

.contents02_box{
	width:660px;
	float:left;
}
.contents02_box p{
	padding:25px 0 0 0;
}

.contenst02_itemimage{
	float:right;
	width:px;
	padding:37px 0 0 0;
}

.contents02_detail{
	float:left;
	width:395px;
}
.contents02_detail table{
	padding:0;
	margin:4px 0 0 0;
	width:100%;
}
.contents02_detail table th{
	background:#545454;
	color:#fff;
	font-size:13px;
	vertical-align:middle;
	text-align:center;
	border-top:2px solid #fff;
	border-right:2px solid #fff;
	width:113px;
}
.contents02_detail table td{
	background:#f0f0f0;
	color:#fff;
	font-size:13px;
	vertical-align:middle;
	text-align:left;
	border-top:2px solid #fff;
	padding:0 13px;
	color:#363230;
	font-size:13px;
	line-height:22px;
}
.contents02_detail table td ul{
	margin:0;
	padding:0;
}
.contents02_detail table td ul li{
	background:url(../images/botox_contents02_icon.gif) left 8px no-repeat;
	padding:2px 0 2px 15px;
	margin:0;
	line-height:20px;
}
.contents02_detail table .box01{
	height:116px;
}
.contents02_detail table .box02{
	height:43px;
}

.contenst02_detailitem_inner{
	background:#f7f7f7;
	float:right;
	width:798px;
	height:390px;
}
.contenst02_detailitem_inner .contenst02_detailitem{
	width:719px;
	margin:0 auto;
	padding:36px 0 0 0;
}
.contenst02_detailitem_inner .contenst02_detailitem p{
	padding:15px 0 0 0;
}

.contents02_beforeafter{
	margin:0;
	padding:0;
}
.contents02_beforeafter li{
	float:left;
}
.contents02_beforeafter li h4{
	padding:0 0 30px 0;
}
.contents02_beforeafter li.w583{
	width:583px;
	padding:0 35px 40px 0;
}
.contents02_beforeafter li.w274{
	width:274px;
	padding:0 35px 40px 0;
}
.contents02_beforeafter li.w273{
	width:273px;
	padding:0 0 40px 0;
}




/* contents03
--------------------------------------------------------------- */

#contents03_icon{
	margin:0 0 55px 0;
}

.contents03_box{
}
.contents03_box li{
	float:left;
}
.contents03_box li.left{
	width:399px;
	padding:0 2px 40px 0;
}
.contents03_box li.center{
	width:399px;
	padding:0 2px 40px 0;
}
.contents03_box li.right{
	width:398px;
	padding:0 0 40px 0;
}
.contents03_box li.left_bottom{
	width:399px;
	padding:0 2px 0 0;
}
.contents03_box li.center_bottom{
	width:399px;
	padding:0 2px 0 0;
}
.contents03_box li.right_bottom{
	width:398px;
}
.contents03_box li h3{
	padding:0 0 25px 0;
}
.contents03_box li h4{
	padding:25px 0 0 0;
}
.contents03_box li p{
	line-height:22px;
	padding:10px 0 0 0;
	width:375px;
}




/* contents04
--------------------------------------------------------------- */

.title04{
	margin:120px 0 60px 0;
}

.price_list li{
	float:left;
	padding-bottom:50px;
}
.price_list li .menu{
	padding-bottom:27px;
}




/* contents05
--------------------------------------------------------------- */

#title05{
	margin:110px 0 95px 0;
}

.content05_detail{
}
.content05_detail li{
	float:left;
}
.content05_detail li h3{
	padding:26px 0 20px 0;
}
.content05_detail li p{
	width:362px;
	padding:0 0 15px 10px;
	line-height:25px;
}
.content05_detail li.w397{
	width:397px;
	padding:0 2px 0 0;
}
.content05_detail li.w399{
	width:399px;
	padding:0 2px 0 0;
}
.content05_detail li.w400{
	width:400px;
	padding:0;
}




/* contents06
--------------------------------------------------------------- */

#title06{
	margin:0 0 95px 0;
}

.contents06_box{
	width:1200px;
	margin:0 auto;
}
.contents06_box li{
	float:left;
	width:570px;
}
.contents06_box li.left_box{
	padding:0 60px 0 0;
}
.contents06_box li .detail_left{
	float:left;
	width:340px;
}
.contents06_box li .detail_left p{
	padding:16px 0 0 0;
	line-height:26px;
}
.contents06_box li .detail_left .contact{
	border-left:2px solid #6c6e6f;
	margin:25px 0 0 0;
}
.contents06_box li .detail_left .contact .inner{
	width:314px;
	padding:0 0 0 20px;
}
.contents06_box li .detail_left .contact .inner .btn{
	padding:12px 0 0 0;
}
.contents06_box li .detail_left02{
	float:left;
	width:199px;
}
.contents06_box li .detail_right{
	float:right;
	width:199px;
}
.contents06_box li .detail_right02{
	float:right;
	width:340px;
}
.contents06_box li .detail_right02 p{
	padding:16px 0 0 0;
	line-height:26px;
}
.contents06_bg{
	margin:34px 0;
	padding:30px 0;
	background:#f7f7f7;
}




/* contents07
--------------------------------------------------------------- */

#title07{
	margin:0 0 90px 0;
}

.contents07_bg{
	background:#f2f2f2;
}
.contents07_text{
	margin:42px 0 0 0;
}

/* 前へ、次へのボタン */
 
.bx-prev{
    position: absolute;
    left:1px;
    top: 0;
	background:url(../images/left_arrow.png);
	height:361px;
	width:32px;
	display:block;
	text-indent:-9999px;
}
.bx-next{
    right:1px;
    top: 0;
    position: absolute;
	background:url(../images/right_arrow.png);
	height:361px;
	width:32px;
	display:block;
	text-indent:-9999px;
}

/* 基本 */

.bg_img{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
	position:relative;
}
.bg_img .bx-wrapper{
    height: 361px;
}
.bx-window{
    margin-bottom: 10px;
}
#slider li a{
} 
.slider{
    width: 100%;
    margin: 0px auto;
} 
/* カルーセルスライダー */
 
.bg_img .bx-wrapper{
    width: inherit;
}
#slider li{
    width: 400px !important;
    text-align: left;
}




/* contents08
--------------------------------------------------------------- */

#title08{
	margin:0 0 58px 0;
}
.contents08_bg{
	background:url(../images/botox_contents08_bg01.gif) center top no-repeat;
	height:1208px;
}
.contents08_bg ul li{
	float:left;
	width:570px;
}
.contents08_bg .contents08_left{
	padding:0 60px 0 0;
}
.contents08_bg h3{
	padding:30px 0 20px 0;
}
.contents08_bg p{
	line-height:26px;
}
.contents08_bg .box01{
	height:254px;
}
.contents08_bg .box02{
	height:314px;
}
.contents08_bg .box03{
	height:257px;
}
.contents08_bg .box04{
	height:201px;
}




/* contents09
--------------------------------------------------------------- */

#title09{
	margin:0 0 60px 0;
}




/* contents10
--------------------------------------------------------------- */

#title10{
	margin:115px 0 90px 0;
}

.contenst10_map{
	float:left;
	width:400px;
}
.contenst10_detail{
	float:right;
	width:748px;
	padding:57px 0 0 0;
}
.contenst10_detail p{
	padding:40px 0;
}
.contenst10_detail table{
	width:300px;
}
.contenst10_detail table th{
	color:#fff;
	background:#3f4143;
	border-bottom:6px solid #fff;
	border-right:6px solid #fff;
	width:70px;
	height:25px;
	vertical-align:middle;
	text-align:center;
}
.contenst10_detail table td{
	color:#363230;
	background:#f0f0f0;
	border-bottom:6px solid #fff;
	height:25px;
	vertical-align:middle;
	text-align:left;
	padding:0 10px;
}




/* contents11
--------------------------------------------------------------- */

#title11{
	margin:0 0 20px 0;
}
#contents10_subtitle{
	margin:55px 0 30px 0;
}

.contents10_bg{
	background:url(../images/botox_contents10_bg01.gif) center top no-repeat;
	height:365px;
}
.contents10_bg ul li{
	float:left;
	width:360px;
}
.contents10_bg h4{
	padding:25px 0 22px 0;
}
.contents10_bg p{
	padding:18px 0 0 0;
	line-height:26px;
}




/* contents12
--------------------------------------------------------------- */

#title12{
	margin:140px 0 25px 0;
}

.contents12_detail{
	border-top:1px solid #cfcfcf;
	border-bottom:1px solid #cfcfcf;
	margin:60px 0 0 0;
	padding:30px 0;
}
.contents12_detail li{
	float:left;
}
.contents12_detail li .doctor{
	padding:12px 0 0 0;
}
.contents12_detail li.w156{
	width:156px;
	padding:0 30px 0 0;
}
.contents12_detail li.w399{
	width:399px;
	padding:0 33px 0 0;
}
.contents12_detail li.w399 h3.title01{
	background:url(../images/botox_contents11_bg01.gif) left bottom no-repeat;
	font-size:px;
	color:#000;
	padding:0 0 7px 0;
	line-height:16px;
}
.contents12_detail li.w399 h3.title02{
	background:url(../images/botox_contents11_bg02.gif) left bottom no-repeat;
	font-size:px;
	color:#000;
	padding:0 0 7px 0;
	margin:25px 0 0 0;
	line-height:16px;
}
.contents12_detail li.w581{
	width:581px;
}
.contents12_detail li.w581 h3.title03{
	background:url(../images/botox_contents11_bg03.gif) left bottom no-repeat;
	font-size:px;
	color:#000;
	padding:0 0 7px 0;
	line-height:16px;
}
.contents12_detail li p{
	padding:15px 0 0 0;
	line-height:25px;
}














