@charset "utf-8";
/* CSS Document */

/* -----------------------------------------------
reset
----------------------------------------------- */

html, body,
h1, h2, h3, h4, h5, h6,
address, blockquote, p, pre,
em, span, strong,
a,
dl, dd, dt, li, ol, ul,
form,
th, td,
img {
	margin: 0;
	padding: 0;
	line-height: inherit;
	font-style: normal;
	font-weight: normal;
	text-align: inherit;
	text-decoration: none;
}

span,
a,
img {
	font-style: inherit;
	font-weight: inherit;
	text-decoration: inherit;
}

em, strong {
	text-decoration: inherit;
	font-style:normal;
	font-weight:bold;
}

li {
	list-style-type: none;
}

fieldset,
img {
	border: 0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

caption, th {
	text-align: left;
}

input,
button,
textarea,
select,
optgroup,
option {
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	font-size: inherit;
	*font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

img {
	border: 0;
	vertical-align:top;
}

div:focus {
	outline: none;
}

/* -----------------------------------------------
font setting
----------------------------------------------- */

body {
	font:12px 'ヒラギノ角ゴPro W3','Hiragino Kaku Gothic Pro',Osaka,'ＭＳ Ｐゴシック',Arial,Helvetica,Verdana,sans-serif;

}
.bold {
	font-weight: bold;
}
.f10 {
	font-size: 83.3%;
}
.f11 {
	font-size: 91.7%;
}
.f12 {
	font-size: 100%;
}
.f13 {
	font-size: 108.3%;
}
.f14 {
	font-size: 116.6%;
}
.f15 {
	font-size: 125%;
}
.f16 {
	font-size: 133.3%;
}
.f17 {
	font-size: 141.6%;
}
.f18 {
	font-size: 150%;
}
.f19 {
	font-size: 158.3%;
}
.f20 {
	font-size: 166.6%;
}
.f21 {
	font-size: 175%;
}
.f22 {
	font-size: 183.3%;
}
.f23 {
	font-size: 191.6%;
}
.f24 {
	font-size: 200%;
}
.f25 {
	font-size: 208.3%;
}
.f26 {
	font-size: 216.6%;
}
.f27 {
	font-size: 225%;
}
.f28 {
	font-size: 233.3%;
}
.f29 {
	font-size: 241.6%;
}
.f30 {
	font-size: 250%;
}
.f31 {
	font-size: 258.3%;
}
.f32 {
	font-size: 266.6%;
}

/* 行間設定 */
body {
	line-height: 1.67;
}

/* 文字色設定 */

body {
	color: #000000;
}



/*----------------------------------------------------
	form setting
----------------------------------------------------*/

fieldset {
	border:1px solid #ccc;
}

input, textarea {
	vertical-align: middle;
}

input,
textarea {
	line-height: 1.4;
	padding:0.1em;
	vertical-align: middle;
}

input[type="text"],
input[type="password"] {
	height:1.2em;
	line-height:1.2;
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align: -0.05em;
}

input[type="checkbox"] {
	vertical-align: top;
}

/* for ie8 */
html>/**/body input[type="text"] {
	height/*\**/: 1.3em\9;
}
html>/**/body input[type="password"] {
	height/*\**/: 1.3em\9;
}
html>/**/body input[type="radio"] {
	vertical-align/*\**/: -0.1em\9;
}
html>/**/body input[type="checkbox"] {
	vertical-align/*\**/: -0.2em\9;
}
html>/**/body select {
	height/*\**/: 20px\9;
	vertical-align/*\**/: 0.1em\9;
}

/* for ie7 */
*:first-child+html input[type="checkbox"],
*:first-child+html input[type="radio"] {
	vertical-align: middle;
}

/* for ie6 */
* html input.checkbox,
* html input.radio {
	vertical-align: -0.25em;
}
* html input.submit {
	padding-top: 0.2em;
}



/*----------------------------------------------------
	リンク設定
----------------------------------------------------*/
a {
	cursor:pointer;
}
a:link {
}
a:visited {
}
a:hover {
}
a:focus {
}
a:active {
}

/* -----------------------------------------------
common module
----------------------------------------------- */
/* テキスト揃え */
.txtCenter {
	text-align: center !important;
}
.txtLeft {
	text-align: left !important;
}
.txtRight {
	text-align: right !important;
}

/* マージン調整 */
.mb0 {
	margin-bottom: 0 !important;
}
.mb5 {
	margin-bottom: 5px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mb15 {
	margin-bottom: 15px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}
.mb25 {
	margin-bottom: 25px !important;
}
.mb30 {
	margin-bottom: 30px !important;
}
.mb35 {
	margin-bottom: 35px !important;
}
.mb37 {
	margin-bottom: 37px !important;
}
.mb40 {
	margin-bottom: 40px !important;
}
.mb50 {
	margin-bottom: 50px !important;
}
.mb60 {
	margin-bottom: 60px !important;
}
.mr0 {
	margin-right: 0 !important;
}
.mlr0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.mlr21 {
	margin-left: 21px !important;
	margin-right: 21px !important;
}


/* パディング調整 */
.p0 {
	padding: 0 !important;
}
.pt0 {
	padding-top: 0 !important;
}
.pb0 {
	padding-bottom: 0 !important;
}
.pt30 {
	padding-top: 30px;
}

/* 背景・枠設定 */
.nobg {
	background: none !important;
}
.nobdr {
	border: none !important;
}

/* 色調整 */

.orange {
	color: #ff9c00;
}


/* フロート設定 */
.left {
	display: inline;
	float: left !important;
}
.right {
	display: inline;
	float: right !important;
}
.clear {
	clear: both;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	font-size: 1px;
}

/* -----------------------------------------------
レイアウト調整
----------------------------------------------- */

body {
}
#container {
}
#contentsWrapper {
}
#contents {
}
#contentsArea {
}
#footerWrapper {
}
#footer {
}


/* -----------------------------------------------
ヘッダー部分
----------------------------------------------- */

#headerWrapper {
	background: url(../img/bg_gnavi.gif) bottom left repeat-x;
}
#header {
	margin: 0 auto;
	position: relative;
	width: 950px;
	height: 87px;
}
#header h1 {
	margin-top: 6px;
	float: left;
}
#header p {
	margin-top: 20px;
	float: right;
}


/* -----------------------------------------------
グローバルナビ部分
----------------------------------------------- */

#gnavi {
	margin: 0 auto 26px auto;
	width: 950px;
	height: 42px;
}
#gnavi ul li {
	float: left;
}


/* -----------------------------------------------
ページトップ部分
----------------------------------------------- */

.pageTop {
}


/* -----------------------------------------------
フッター部分
----------------------------------------------- */

#footer {
	height: 37px;
	background-color: #4b360a;
}
#footer .copyright {
	height: 37px;
	line-height: 37px;
	color: #ffffff;
	text-align: center;
}


/* -----------------------------------------------
ページ
----------------------------------------------- */

/* 共通 */

.columnWrapper {
}
.columnWrapper .title {
	margin-bottom: 37px;
	background: url(../img/bg_h2.gif) bottom left repeat-x;
}
.columnWrapper .title h2 {
	margin: 0 auto;
	padding-bottom: 11px;
	width: 950px;
}
.column {
	margin: 0 auto;
	width: 950px;
}

.contactBox {
	margin: 0 auto 115px auto;
	position: relative;
	width: 772px;
}
.contactBox .btn {
	position: absolute;
	top: 129px;
	right: 35px;
}

/* メインビジュアル */

.mainvisualWrapper {
	min-width: 950px;
	background: url(../img/img_mainvisual.jpg) top center no-repeat;
}
.mainvisual {
	margin: 0 auto 46px auto;
	position: relative;
	width: 950px;
	height: 475px;
}
.mainvisual p {
	text-indent: -10000px;
	font-size: 0px;
}
.mainvisual .btn {
	position: absolute;
	top: 384px;
	right: 82px;
}

/* ヒゲの悩み */

#agony {
}
#agony .agonyBox {
	margin: 0 auto 46px auto;
	padding: 25px 0 27px 0;
	background: #6f5111 url(../img/bg_agony_box_wrapper.gif) bottom left repeat-x;
}
#agony .agonyBox ul {
	margin: 0 auto 0 25px;
	width: 918px;
	overflow: hidden;
	background: url(../img/bg_agony_box.png) bottom left no-repeat;
}
#agony .agonyBox ul li {
	margin-right: 17px;
	float: left;
	width: 289px;
}
#agony .agonyBox ul li.item02 {
	margin-right: 16px;
}
#agony .agonyBox ul li p {
	padding: 25px;
	line-height: 1.76;
	font-size: 141.7%;
}
#agony .agonyBox ul li p span {
	color: #1eaade;
}


/* ヒゲ脱毛について */

#lob {
}
#lob .lobCheck {
	margin-bottom: 27px;
	min-width: 950px;
	height: 432px;
	background: url(../img/img_lob_01.jpg) top center no-repeat;
	text-indent: -10000px;
	font-size: 0px;
}
#lob .counseling {
	margin-bottom: 44px;
	padding: 26px 0 25px 22px;
	background-color: #f6f4eb;
}
#lob .counseling .label {
	margin-bottom: 19px;
}
#lob .counseling ul {
	width: 928px;
	overflow: hidden;
}
#lob .counseling ul li {
	margin-right: 7px;
	padding: 0 38px 0 0;
	float: left;
	width: 192px;
	background: url(../img/icon_arrow.gif) 203px 62px no-repeat;
}
#lob .counseling ul li.last {
	margin-right: 0;
	padding: 0 0 0 0;
}
#lob .counseling ul li p {
	margin-top: 18px;
	padding: 0 3px;
	line-height: 1.54;
	font-size: 108.3%;
}
#lob .needs {
	margin-bottom: 112px;
}
#lob .needs .image {
	margin-top: 18px;
}
#lob .reason {
	margin-bottom: 20px;
}
#lob .reason ul {
	margin-top: 23px;
	width: 950px;
	overflow: hidden;
}
#lob .reason ul li {
	margin-bottom: 20px;
	float: left;
	width: 475px;
}
#lob .reason ul li .icon {
	float: left;
	width: 134px;
}
#lob .reason ul li dl {
	float: right;
	width: 313px;
}
#lob .reason ul li dl dt {
	margin: 22px 0 15px 0;
}
#lob .reason ul li dl dd {
	padding-right: 20px;
	line-height: 1.78;
	font-size: 116.7%;
}


/* エステとクリニック脱毛の違い */

#differnce {
}
#differnce .lead {
	margin-bottom: 35px;
}
#differnce table {
	margin-bottom: 30px;
	width: 950px;
}
#differnce table th {
	padding: 10px 0;
	border-bottom: 4px #fff solid;
}
#differnce table td {
	padding: 12px 18px;
	border-bottom: 4px #fff solid;
	line-height: 1.71;
	font-size: 116.7%;
	vertical-align: top;
}
#differnce table .cell01 {
	border-right: 4px #fff solid;
	width: 204px;
}
#differnce table .cell02 {
	border-right: 4px #fff solid;
	width: 369px;
	color: #fff;
	background-color: #77b2d3;
	font-size: 166.7%;
	font-weight: bold;
	text-align: center;
}
#differnce table .cell03 {
	background-color: #ac8d56;
	width: 369px;
	color: #fff;
	font-size: 166.7%;
	font-weight: bold;
	text-align: center;
}
#differnce table .cell04 {
	border-right: 4px #fff solid;
	background-color: #ebebeb;
	font-size: 133.3%;
	text-align: center;
}
#differnce table .cell04 span {
	font-size: 123.5%;
}
#differnce table .cell05 {
	border-right: 4px #fff solid;
	background-color: #f1f7fb;
}
#differnce table .cell06 {
	background-color: #f9f6f0;
}
#differnce p {
	margin-bottom: 75px;
	line-height: 1.77;
	font-size: 150%;
}
#differnce p span {
	color: #ff8400;
}
#differnce .merit {
	margin-bottom: 32px;
}
#differnce .merit .image {
	margin-top: 23px;
}


/* よくあるご質問 */

#faq {
}
#faq .lead {
	margin-top: -14px;
	margin-bottom: 30px;
	text-align: center;
}
#faq .faqBox {
	margin-bottom: 27px;
	padding: 43px 55px 5px 57px;
	background-color: #f0f7fb;
}
#faq .faqBox dl {
}
#faq .faqBox dl dt {
	margin-bottom: 20px;
	padding-left: 78px;
	height:53px;
	line-height: 53px;
	color: #6c4b24;
	background: #fff url(../img/icon_question.gif) 0 0 no-repeat;
	font-size: 166.7%;
	font-weight: bold;
}
#faq .faqBox dl dd {
	margin-bottom: 35px;
	padding-left: 73px;
	line-height: 2;
	background: url(../img/icon_answer.gif) 0 0 no-repeat;
	font-size: 116.7%;
}
#faq p {
	margin-bottom: 40px;
	text-align: center;
}

/* 体験者の声 */

#voice {
}
#voice .lead {
	margin: -9px 0 30px 0;
	text-align: center;
}
#voice .voiceBox {
	margin-bottom: 30px;
	padding: 39px 51px 25px 51px;
	background: #f2ede3;
}
#voice .voiceBoxInner {
	margin-bottom: 25px;
	border-top: 1px #dddddd solid;
	border-left: 1px #dddddd solid;
	background-color: #fff;
}
#voice .voiceBox ul {
	padding: 27px 30px 2px 29px;
	border-top: 1px #eeeeee solid;
	border-left: 1px #eeeeee solid;
	width: 787px;
}
#voice .voiceBox ul li {
	margin-bottom: 30px;
	width: 787px;
	overflow: hidden;
}
#voice .voiceBox ul li .infoBar {
	margin-bottom: 15px;
	height: 31px;
	line-height: 31px;
	background-color: #f8f2dc;
	font-size: 116.7%;
}
#voice .voiceBox ul li .infoBar .userInfo {
	margin-left: 23px;
	float: left;
}
#voice .voiceBox ul li .infoBar .userInfo span {
	color: #947829;
}
#voice .voiceBox ul li .infoBar .satisfaction {
	margin-right: 15px;
	float: right;
}
#voice .voiceBox ul li .infoBar .satisfaction .star {
	color: #94782d;
}
#voice .voiceBox ul li .image {
	float: left;
	width: 188px;
}
#voice .voiceBox ul li dl {
	float: right;
	width: 575px;
}
#voice .voiceBox ul li dl dt {
	margin-top: 3px;
	margin-bottom: 8px;
	font-size: 133.3%;
	font-weight: bold;
}
#voice .voiceBox ul li dl dd {
	line-height: 1.71;
	color: #6a6a6a;
	font-size: 116.7%;
}
#voice .voiceBox p {
}


/* クリニックアクセス */

#access {
	margin-bottom: 20px;
}
#access .lead {
	margin: -6px 0 50px 0;
	text-align: center;
}
#access .accessBox {
	width: 950px;
	overflow: hidden;
}
#access .left {
	width: 402px;
	font-size: 116.7%;
}
#access .left .info {
	margin-bottom: 27px;
}
#access .left table {
	margin-bottom: 30px;
}
#access .left table th {
}
#access .left table td {
}
#access .left p {
	line-height: 1.86;
}
#access .right {
	width: 513px;
}
#access .right .map {
	border: 4px #906e2d solid;
	padding: 3px;
	width: 499px;
}
#access .right .linkMap {
	margin: 5px 0 0 0;
	color: #3a64b3;
	text-align: right;
}
#access .right .linkMap a {
	text-decoration: underline;
	color: #3a64b3
}
#access .right .linkMap a:hover {
	text-decoration: none;
}




