/*.linebanner{
  width:95%;
  margin:0 auto 20px;
}
.linebanner img{
  max-width: 100%
}

#fix_Box .fix_bottom li.tel.w {
	background: none;
	width:23%;
	margin:10px 1%;
}
#fix_Box .fix_bottom li.mail.w{
	border:none;
}

#fix_Box .fix_bottom li.mail.w a{
	padding:0;
}*/
