@media only screen and (max-width: 768px) {

img{
	width:100%;
	height:auto;
}

.mincho{
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;		
}

.pconly{
	display:none;
}
.sponly{
	display:block;	
}
#tab01{
	width:auto;
	margin:20px auto 0;
}

.tabMenu li:nth-child(1){
    float:left;
	width:50%;
	margin:0 0px 0px 0px;
}
.tabMenu li:nth-child(2){
    float:left;
	width:50%;
	margin:0 0px 0px 0px;
}
.tabMenu li:nth-child(3){
    float:left;
	width:50%;
	margin:0 0px 0px 0px;
}
.tabMenu li:nth-child(4){
    float:left;
	width:50%;
	margin:0 0px 0px 0px;
}
.tabMenu li:nth-child(5){
    float:left;
	width:50%;
	margin:0 0px 0px 0px;
}
.tabMenu li:nth-child(6){
    float:left;
	width:50%;
	margin:0 0px 0px 0px;
}	
.tabMenu li a{
    display:block;
    text-align:center;
    }
#tabBox1,#tabBox2,#tabBox3,#tabBox4,#tabBox5,#tabBox6{
	background:#FFF;
	width:auto;
	margin:0 auto 0;
    }
#tabBox1{
	margin:10px 0 0 0;
    }
#tabBox2{
	margin:10px 0 0 0;
	height:0;
	overflow: hidden;
    }
#tabBox3{
	margin:10px 0 0 0;
	height:0;
	overflow: hidden;
    }
#tabBox4{
	margin:10px 0 0 0;
	height:0;
	overflow: hidden;
    }
#tabBox5{
	margin:10px 0 0 0;
	height:0;
	overflow: hidden;
    }
#tabBox6{
	margin:10px 0 0 0;
	height:0;
	overflow: hidden;
    }
.tabMenu{
	border-bottom:2px solid #000;		
}
	
	.ttl01{
		text-align:center;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;	
		font-size:28px;
		margin:40px auto 15px;
		font-weight:bold;
	}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}