@charset "utf-8";

/* BEGIN: CSS Reset */
html, body, div,  h1, h2, h3, h4, h5, h6, p, 
blockquote, a, abbr, acronym, address, cite, em, 
img, q, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align:baseline;
	-webkit-text-size-adjust: none;
}
article, aside, canvas, details, figcaption, figure,header, footer, hgroup, menu, nav, section, summary {
	display: block;
}
/* END: CSS Reset */

/*-----------------------------------------------
 public
-----------------------------------------------*/
body {
	background: #fff;
	color:#514338;
	font-size: 24px;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	line-height:1.3;
	width:640px;
}
table {	border-collapse: collapse; border-spacing: 0; }

a { color:#514338; text-decoration: none; }

h1{
	color:#391c0a;
	font-size:44px;
	font-weight:normal;
	line-height:100%;
	padding-bottom:40px;
}
h2{
	background:#b6859a;
	color:#fff;
	font-size:24px;
	font-weight:bold;
	line-height:100%;
	padding: 19px 0 13px 29px;

}

/*-----------------------------------------------
  common
-----------------------------------------------*/
/* -- clearfix -- */
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;  overflow:hidden;}
.clearfix { display:inline-block; }
/* */
* html .clearfix { height:1%; }
.clearfix { display:block; overflow:hidden; }
/* */
.dn  { display:none !important; }
.db  { display:block !important; }

.fb  { font-weight:bold; }
.fltl  { float:left; display:inline; }
.fltr { float:right; display:inline; }
.clear{	clear:both;}

.center { margin:0 auto; }
.tal { text-align:left; }
.tar { text-align:right; }
.tac { text-align:center; }
.b{	font-weight:bold;}

.lh1_6{ line-height:1.6;}

.nobd_t{ border-top:none !important;}
.bd_t{ border-top:#b6859a 2px solid;}
.topLine {
	padding-top: 30px;
	border-top: #ccc 2px solid;
}

/*-----------------------------------------------
  margin,padding
-----------------------------------------------*/
.m00 { margin:0 !important;}
.mt00 { margin-top:0 !important;}

.p00 { padding: 0 !important;}
.pt00 { padding-top: 0 !important;}

.sec{	margin-top:60px;}

.img{	line-height:0;}

/*-----------------------------------------------
  width
-----------------------------------------------*/
.w250{ width:250px !important;}
.w310{ width:310px !important;}

/*-----------------------------------------------
 structure
-----------------------------------------------*/
body {
	position: relative;
    height: 100%;
}

#mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
	display:none;
}
#mask .mask_base {
    background: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.5;
    z-index: 9;
}
/*----- header -----*/

#hdrArea{
	background:url(../images/hdr_bg_t.gif) repeat-x top left #fff;
	height:85px;
	-webkit-box-shadow:0 2px 6px #dcdcdc;
	-moz-box-shadow:0 2px 6px #dcdcdc;
	box-shadow:0 2px 6px #dcdcdc;
	position:relative;
	z-index:9;
}
#hdrArea .logo{
	width:512px;
	position:absolute;
	top:12px;
	left:9px;
}
#hdrArea #gnav{
	height:66px;
	width:66px;
	position:absolute;
	top:12px;
	right:9px;
}
#hdrArea #gnav .gnav_btn{
	display:block;
	background:url(../images/hdr_gnav_ico.gif) no-repeat center;
	height:66px;
	width:66px;
}
#hdrArea #gnav .menu{
	position:absolute;
	display:none;
	border-bottom:4px #e0d8c5 solid;
	background:#fff;
	width:640px;
	top:73px;
	right:-9px;
	z-index:999;
}
#hdrArea #gnav ul,
#hdrArea #gnav li,
#hdrArea #gnav a,
#hdrArea #gnav a span{
	display:block;
}
#hdrArea #gnav a span{
	height:96px;
	line-height:96px;
	font-size:32px;
	color:#534338;
}

#hdrArea #gnav .submenu a span{
	height:76px;
	line-height:76px;
	font-size:24px;
}
#hdrArea #gnav a span{
	background:url(../images/hdr_gnav_arr.png) no-repeat right center;
	padding-right:30px;
}
#hdrArea #gnav .menu li{
	border-top:4px #e0d8c5 solid;
}
#hdrArea #gnav .menu li a{
	padding:0 23px 0 28px;
}

#hdrArea #gnav .menu .submenu{
	border-bottom:none;
}
#hdrArea #gnav .submenu li{
	border-top:2px #e0d8c5 solid;
}
#hdrArea #gnav .submenu li a{
	padding:0 23px 0 50px;
}
/*----- wrapper -----*/
#ftrArea {
	background:#fff;
}
#ftrArea .sec_pink{
	background:#f1d6cf;
	margin-top:70px;
	padding-bottom:50px;
}
#ftrArea .sec_pink .sec{
	margin-top:43px;
}
#ftrArea .copy{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	text-align:center;
	line-height:1.5;
	border-top:#7c5d0d 4px solid;
	height:74px;
	padding-top:22px;
}
/*-----------------------------------------------
 mainArea common layout
-----------------------------------------------*/
/*----- txt -----*/
.mArea .tt_y01{
	color:#7b5c0a;
	font-size:26px;
	line-height:145%;
}
.mArea .tt_y02{
	color:#7c5c0d;
	font-size:30px;
	line-height:1.2;
}

/*----- sec -----*/
.mArea .h1_sec{
	padding:50px 30px 30px;
}
.mArea .h1_sec p{
	font-size:26px;
	line-height:1.69;
}
.mArea .innerBlock{
	padding:25px 30px;
}
.mArea .bnr_contact{
	padding-bottom:6px;
}
.mArea .h1_sec .bd_t{
	margin-top:30px;
	padding-top:30px;
}
/*----- backTopBlock*/
.backTopBlock{
	padding:40px 30px 0 0;
}
.backTopBlock a{
	display:block;
	float:right;
	background:#d2b573;
	color:#fff;
	font-size:20px;
	text-align:right;
	line-height:27px;
	height:27px;
	padding:25px 20px;
	width:210px;
}
.backTopBlock a span{
	display:block;
	background:url(../images/icon_backtop.gif) no-repeat right center;
	padding-right:42px;
}
/*----- backHomeBlock*/
.backHomeBlock{
	padding-top:60px;
}
.backHomeBlock a{
	display:block;
	border:#7c5d0d 2px solid;
	background:#fff;
	color:#7d5c0b;
	font-size:28px;
	font-weight:bold;
	line-height:36px;
	height:36px;
	padding:25px 20px 25px 60px;
	width:276px;
	margin:0 auto;
}
.backHomeBlock a span{
	background:url(../images/icon_backtop_02.gif) no-repeat right center;
	padding-right:25px;
	display:block;
}
/*anchor_sec*/
.anchor_sec{
	margin-bottom:30px;
}
.anchor_sec li{
	float:left;
	display:inline;
	width:277px;
	height:120px;
	margin:0 0 10px 29px;
	background:url(../images/icon_arrb_w.png) no-repeat #97506f center 91px;
}

.anchor_sec a{
	display:block;
	color:#fff;
	font-weight:bold;
	text-align: center;
	line-height:35px;
	padding-top:13px;
	height:107px;
} 
.anchor_sec li.oneLine a{
	padding-top:30px;
	height:90px;
}

/*----- button ----- */
.btn_pink{
	display:block;
	height:36px;
	width:493px;
	padding:30px 24px 30px 59px;
	color:#fff;
	border:2px solid #fff;
	background: #9c5372;
	background:-webkit-gradient(linear, center top, center bottom, from(#dc99b6), to(#9c5372));
	background:-moz-linear-gradient(top, #dc99b6, #9c5372);
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.btn_pink span{
	display:block;
	background:url(../images/icon_arr_w.png) no-repeat right center;
	padding-right:15px;
	font-size:30px;
	font-weight:bold;
	line-height:36px;
	height:36px;
}
.btn_pink_s{
	display:block;
	height:36px;
	width:286px;
	padding:10px 24px 10px 29px;
	color:#fff;
	border:2px solid #fff;
	background: #9d5473;
	background:-webkit-gradient(linear, center top, center bottom, from(#dc99b5), to(#9d5473));
	background:-moz-linear-gradient(top, #dc99b5, #9d5473);
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.btn_pink_s span{
	display:block;
	background:url(../images/icon_arr_w.png) no-repeat right center;
	background-size:9px 15px;
	padding-right:10px;
	font-size:22px;
	font-weight:bold;
	line-height:36px;
	height:36px;
}
.btnGroupBlock {
	margin: 60px 0 0 0;
	padding:0 30px;
}

.btnGroupBlock .btn_pink {
	width: 220px;
	padding: 40px 15px 40px 41px;
}

.btnGroupBlock .btn_l {
	float: left;
	background:white;
	border:2px solid #94526e;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.btnGroupBlock .btn_l span {
	padding-top:2px;
	font-size:24px;
	color:#944f6b;
	background: url(../images/icon_arr_l_w.png) no-repeat right 7px;
}

.btnGroupBlock .btn_r {
	float: right;
	background:#97506e;
	border:2px solid #94526e;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.btnGroupBlock .btn_r span {
	font-size:40px;
	text-align:center;
	padding-right:40px;
	background: url(../images/icon_arr_r_w.png) no-repeat right center;
}
/*----- list_links----- */
.list_links,
.list_links li,
.list_links a{
	display:block;
}
.list_links{
	border-top:#c8c8c8 2px solid;
}
.list_links li{
	background:#fff;
	border-bottom:#c8c8c8 2px solid;
}


/*otherlink*/
.otherlink,
.otherlink li,
.otherlink a,
.otherlink span{
	display:block;
}
.otherlink{
	border-top:#c8c8c8 2px solid;
}
.otherlink li{
	background:#fff;
	border-bottom:#c8c8c8 2px solid;
}
.otherlink li a{
	padding:20px 22px 20px 27px;
}
.otherlink li a span{
	padding-right:25px;
	background:url(../images/icon_arr_pink.gif) no-repeat right center;
	height:50px;
	line-height:50px;
	font-size:32px;
}

/*otherlink_2col*/
.block_2col{
	display:block;
	background:#fff;
	padding:9px 0 4px 8px;
}
.block_2col li{
	float:left;
	display:inline;
	line-height:0;
	margin-bottom:5px;
	width:310px;
}
.block_2col li.coll{
	margin-right:5px;
}
/*form*/

.formBlock {
}
.formBlock dl{
	padding:0;
	margin-top:15px;
}
.formBlock dl dt{
	background:#b6859a;
	color:#fff;
	font-size:24px;
	font-weight:bold;
	line-height:100%;
	padding: 19px 0 13px 29px;

}
.formBlock dl dd{
	font-size:24px;
	color:#3e2c1f;
	padding: 24px 27px 20px 27px;
}
.formBlock .item{
	margin-top:20px;
	padding-top:20px;
	border-top:#b6859a 2px solid;
}
.formBlock .error{
	color:#e71f19;
	display:none;
}
.formBlock .form_tt{
	display:block;
	float:left;
	width:150px;
	padding-top:20px;
}
.form_colr{
	float:left;
	width:430px;
}
/*.formBlock select,*/
.formBlock input[type=text],
.formBlock input[type=number],
.formBlock input[type=email],
.formBlock textarea{
	border:2px solid #c8c8c8;
	font-size:28px;
	height:48px;
	line-height:48px;
	padding:20px;
	color:#534338;
}
.formBlock textarea{
	font-size:24px;
	line-height:40px;
	height:540px;
}
.formBlock input.num{
	font-size:36px !important;
}
.formBlock .name input{	width:370px;}

.formBlock .postcode input,
.formBlock .age input,
.formBlock .tel input{	width:110px;}
.formBlock .postcode input.last{width:140px;}


.formBlock .mail input,
.formBlock .all input,
.formBlock textarea{	width:530px;}

.formBlock input[type=radio]{
	width:30px;
	height:30px;
}
/*.formBlock select{
	background:#fff;
	height:88px;
	line-height:88px;
	padding:0 20px;
	width:415px;
}
.formBlock select option{
	background:#fff;
	padding:0 20px;
}*/

.formBtn{
	margin:30px auto;
	width:580px;
}
.formbtn_pink,
.formBtn input{
	border:0;
	background:url(../images/form_btn_arr.png) no-repeat 534px center #97506f;
	color:#fff;
	font-size:40px;
	font-weight:bold;
	text-align:center;
	line-height:60px;
	padding:30px 0;
	width:580px;
}
.formbtn_pink{
	display:block;
}
/*-----------------------------------------------
  form custom
-----------------------------------------------*/

/* Corner radius */

.niceform .ui-state-default .ui-icon {
	background: url(../images/ico_arrdown_w.png) no-repeat center;
}

.niceform .ui-state-default,
.niceform  .ui-widget-content .ui-state-default,
.niceform  .ui-widget-header .ui-state-default {
	border: 0;
	background: #646464;
	font-weight:normal;
	color: #53453a;
}

.niceform .ui-selectmenu-button span.ui-selectmenu-text {
	padding:25px 0 25px 30px;
	width:366px;
	font-size:26px;
	background: white;
	border:2px solid #c8c8c8;
}

.niceform .ui-selectmenu-button {
	display: inline-block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	cursor: pointer;
	padding-right: 90px;
	font-size: 14px;
}

.niceform .ui-icon {
	width: 24px;
	height: 20px;
}

.niceform .ui-selectmenu-button span.ui-icon {
	margin-top: -10px;
	right: 33px;
}

.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus {
	border: 0;
	background: #646464;
	font-weight:normal;
	color: #fff;
}
.ui-menu .ui-menu-item {
	font-size:26px;
	padding: 25px 0 25px 30px;
}

.ui-widget-content {
	border: 2px solid #dddddd;
	background: #fff;
	color: #333333;
}
/*-----------------------------------------------
  /index.html
-----------------------------------------------*/
#top .top_mbnr{
	margin-top:6px;
	background:url(../../images/index_mbnr.jpg) no-repeat top center;
	height:545px;
	position:relative;
}
#top .top_mbnr .top_mbnr_btn01{
	position:absolute;
	top:258px;
	right:30px;
}
#top .top_mbnr .top_mbnr_btn02{
	position:absolute;
	top:416px;
	right:30px;
}

/*top_subjectList*/
#top .top_subjectList li a{
	padding:15px 0 20px 20px;
}
#top .top_subjectList li .ico_outlink{
	background:url(../../images/icon_pop.gif) no-repeat right center;
	padding-right:35px;
}
#top .top_subjectList div{
	float:left;
	width:480px;
}
#top .top_subjectList div.img{
	float:left;
	width:80px;
	margin-right:29px;
	padding-top:13px;
}


/*-----------------------------------------------
 about/index.html
-----------------------------------------------*/

#about_idx .aboutConceptBlock {
	padding:41px 28px 30px 28px;
	border:2px solid #d8ceb5;
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
	background: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
	background: -o-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
	background: -ms-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
	background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);	
}

#about_idx .aboutConceptBlock .aboutConceptList {
	margin:0;
	padding:0;
}	

#about_idx .aboutConceptBlock .aboutConceptList li {
	padding-left:100px;
	margin-top:47px;
}

#about_idx .aboutConceptBlock .aboutConceptList li:first-child {
	padding-left:100px;
	margin-top:0px;
}
#about_idx .aboutConceptBlock .aboutConceptList li .tit {
	font-size:28px;
	color:#7c5b0c;
	line-height:130%;
}	

#about_idx .aboutConceptBlock .aboutConceptList li .txt {
	font-size:20px;
	color:#544236;
	margin-top:14px;
}

#about_idx .aboutConceptBlock .aboutConceptList .aboutConcept01 {
	background:url("../../about/images/index_img01.png") left 1px no-repeat;	
}
#about_idx .aboutConceptBlock .aboutConceptList .aboutConcept02 {
	background:url("../../about/images/index_img02.png") left 1px no-repeat;	
}
#about_idx .aboutConceptBlock .aboutConceptList .aboutConcept03 {
	background:url("../../about/images/index_img03.png") left 1px no-repeat;	
}
/*-----------------------------------------------
 about/introduction.html
-----------------------------------------------*/
#about_intro .secIntro .innerBlock{
	padding-bottom:85px;
}
#about_intro .secIntro .last{
	padding-bottom:20px;
}
#about_intro .secIntro .img{
	float:right;
	width:250px;
}
#about_intro .secIntro .txtBlock{
	float:left;
	width:300px;
	font-size:22px;
	line-height:1.45;
}
#about_intro .secIntro .txtBlock .tt_y02{
	margin-bottom:15px;
}
#about_intro .secPay p{
	line-height:1.6;
	margin-bottom:20px;
}
/*-----------------------------------------------
 about/media.html
-----------------------------------------------*/
#about_media .mediaBlock li{
	padding:25px 30px;
	border-bottom:2px #CCCCCC solid;
	background:url(../images/hdr_gnav_arr.png) no-repeat 590px 119px;
	cursor:pointer;
}
#about_media .mediaBlock li a{
	display:block;
}
#about_media .mediaBlock li .thumbnav{
	margin:0px 27px 0 2px;
		float:left;
}
#about_media .mediaBlock li .thumbnav img{
	width:133px;
	height:100px;
}
#about_media .mediaBlock li .thumbRight{
	float:left;
	width:355px;
}
#about_media .mediaBlock li .mInfoHead{
	margin:0 0 19px 0;
	font-size:17px;
}
#about_media .mediaBlock li .mInfoHead p.date{
	margin:0px 27px 0 0;
	float:left;
	font-size:20px;
	line-height:100%;
}
#about_media .mediaBlock li .mInfoHead p.category{
	background:#97506F;
	border-radius:10px;
	color:#FFF;
	padding:3px 26px 1px 26px;
	float:left;
	line-height:100%;
	margin-top:-1px;
	font-size:18px;
}
#about_media .mediaBlock li p.textLink{
	font-size:26px;
	color:#7c5c0d;
	line-height:1.3;
}
#about_media .mediaBlock li p.text{
	font-size:24px;
	line-height:1.3;
	color:#534338;
	margin:14px 0 0 0;
	float:left;
	width:515px;
}

/*-----------------------------------------------
 about/doctor.html
-----------------------------------------------*/
#about_doctor .doctorBlock {
	border-top:60px solid #f1d6cf;
}

#about_doctor .doctorBlock .doctorDataBlock {
	margin-top:10px;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorData .doctorPhoto {
	width:185px;
	float:left;	
}

#about_doctor .doctorBlock .doctorDataBlock .doctorData .doctorName {
	width:185px;
	float:left;
	font-weight:bold;
	color:#534338;
	margin-top:12px;
}

#about_doctor .doctorBlock .doctorDataBlock .doctorData .doctorName .title {
	font-size:22px;
	margin-bottom:3px;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorData .doctorName .name {
	font-size:32px;	
}
#about_doctor .doctorBlock .doctorBiography {
	font-size:20px;
	line-height:1.6;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .title {
	font-size:22px;	
	font-weight:bold;
	margin-bottom:7px;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .BiographyTxt {
	margin-bottom:24px;
}
#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .BiographyList dl {
	font-size:20px;	
}

#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .BiographyList dt {
	display:inline-block;
	margin-right:25px;
}

#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .BiographyList dd {
	display:inline-block;
}

#about_doctor .doctorBlock .doctorDataBlock .doctorBiography .memberList li {
	list-style:disc inside;
}

#about_doctor .doctorBlock .doctorDataBlock .doctorVioce {
	border:6px solid #f7e6e2;
	padding:14px 20px 10px 20px;
	font-size:22px;
	margin-top:21px;
}

#about_doctor .doctorBlock .doctorDataBlock .doctorVioce .title {
	font-weight:bold;
	margin-bottom:6px;
}

#about_doctor .doctorBlock .topLine {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid #a48d56;
}

/*-----------------------------------------------
 access/index.html
-----------------------------------------------*/
#access_idx .access{
	margin-top:29px;
}
#access_idx .sec p.transfic{
	background:url(../../access/images/access_ico01.jpg) no-repeat 0 11px;
	padding:0 0 0 31px;
	margin:0 0 11px 0;
}
#access_idx .sec .addressBlock{
	font-size:26px;
	line-height:1.69;
	padding: 21px 30px !important;
}
#access_idx .sec img{
	margin:0 auto;
}


/*-----------------------------------------------
 menu/index.html
-----------------------------------------------*/
#menu_idx .menuList li{
	border-bottom:2px #c8c8c8 solid;
	background:url(../images/icon_arr_pink.gif) no-repeat 591px center;
}
#menu_idx .menuList li a{
	padding:28px 0 27px 31px;
	display:block;
}
#menu_idx .menuIntroTt{
	font-size:30px !important;
	line-height:1.2;
}
#menu_idx .menuContent{
	margin:12px 100px 0 0;
}
#menu_idx .menuTxt{
	line-height:1.69;
	padding:20px 0 0 30px;;
}

/*-----------------------------------------------
 flow/flow.html
-----------------------------------------------*/
#flow_idx .flowBlock{
	padding:30px 30px 0 30px;
}
#flow_idx .flowBlock p{
float:left;
font-size:36px;
line-height:1.39;
color:#97506f;
font-weight:bold;
width:400px;
margin:23px 0 0 0;
}
#flow_idx .flowBlock p.flowTxt{
margin:50px 0 0 0;
}
#flow_idx .flowBlock img{
float:right;
width:140px;
height:140px;
}
#flow_idx p.flowItemCont{
font-size:26px;
line-height:1.69;
padding:23px 30px 0 30px;
}
#flow_idx .notice_box{
	border: 4px solid #b6859a;
width:572px;
margin:19px auto 0;
padding-bottom:19px;
}
#flow_idx .notice_box p{
	margin:0 25px;
	font-size:26px;
line-height:1.69;
}
#flow_idx .notice_box p.title{
margin:21px 0 3px 25px;
color:#97506f;
font-weight:bold;
font-size:28px;
}
/*-----------------------------------------------
 coupon/index.html
-----------------------------------------------*/
#coupon_idx p.couponTt{
	color: #9A506F;
	font-weight:bold;
	font-size:28px;
	line-height:1.6;
	padding-top:30px;
}
#coupon_idx .img{
	margin-top:40px;
}



/*-----------------------------------------------
 recruit/index.html
-----------------------------------------------*/
#recruit_idx .anchor_sec li{
	margin: 0px 0px 30px 29px;
}
#recruit_idx .formBlock {
	padding:0 30px 0 30px !important;
}
#recruit_idx .formBlock dl{
	padding:0;
	margin-top:15px;
	border:0;
}
#recruit_idx .formBlock dl dt{
	padding:23px 10px 4px 0;
	border-bottom:2px solid #b6859a;
	background:#FFF;
	color:#97506f;
	font-weight:bold;
}
#recruit_idx .formBlock dl dd{
	color:#3e2c1f;
	padding:13px 10px 34px 0;
	border:0;
}
/*#recruit_idx .btn_pink{
	width:480px;
	font-size: 40px;
	padding: 44px 31px 40px 69px;
}
#recruit_idx .btn_pink span{
background: url("../images/icon_arr_pink.png") no-repeat scroll right center transparent;
}*/
#recruit_idx .recruitDetailBlock .recruitBtn a{
	margin:58px auto 26px;
}

#recruit_idx .recruitDetailBlock .otherTxt{
	margin:20px auto;
}

#recruit_idx .recruitDetailBlock .otherTxt .eMail{
	text-decoration:underline;
}
#recruit_idx .recruitDetailBlock .otherTxt .eMail:hover{
	text-decoration:none;
}
/*-----------------------------------------------
 recruit/recruit_form.html
-----------------------------------------------*/

#recruit_form .radiochoice label span{
	display:block;
	font-size:22px;
	color:#574134;
	margin-top:11px;
	float:left;
	line-height:1.2em;
}
/*-----------------------------------------------
 recruit/confirm.html
-----------------------------------------------*/
#recruit_cnf .innerBlock{
	padding-bottom:40px;
}

/*-----------------------------------------------
reservation/form.html
-----------------------------------------------*/
#reservation_form .selOuter {
	position:relative;
	background:url(../../reservation/images/select_arr.png) right center no-repeat;
	display:inline-block;
	text-align: left;
	border: 1px solid #65564C;
 line-height: 1;
 padding:6px 0 0 5px;
}
#reservation_form .selOuter select{
	top:0px;
	left:0px;
	position:absolute;
	opacity:0; 
	cursor:pointer;	
}
#reservation_form .large,#recruit_idx .large select{
	font-size: 24px;
	width:263px;
	height:24px;
}
#reservation_form .large select{
	width:267px;
}
#reservation_form .city input[type=text]{	width:540px;}
#reservation_form .street input[type=text]{	width:540px;}
#reservation_form .postcode input[type=text]{	width:150px;}
#reservation_form .wishBox{
	font-size:14px;
	text-align:left;
	padding-bottom: 33px;
	border-bottom: 2px #b6859a solid;
	margin-bottom:39px;
}
#reservation_form .wishBox.last{
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom:27px;
}
#reservation_form .wishdate .wishBox .tit {
	color: #984e6f;
	font-size:31px;
	font-weight:bold;
	line-height:1.2em;
	margin:4px 0 0 0;
}

#reservation_form .wishdate .wishBox .wishBoxInner label {
	display:block;
	font-size:24px;
	width:91px;
	float:left;
	margin-top: 29px;
}
#reservation_form .wishdate .wishBox .wishBoxInner {
	margin-top:17px;
}
#reservation_form .wishdate .wishBox .wishBoxInner.first {
	margin-top:24px;
}
#reservation_form .wishdate .wishBox .wishBoxInner a {
	display:block;
	float:left;
}
#reservation_form .wishdate p.noticeTxt{
	padding:20px 30px 0 0;
}
#reservation_form .small .ui-selectmenu-text{
	width:293px!important;
}
#reservation_form .small select{
	width:159px;
	font-size:16px;
}

#reservation_form .checkchoice{
	font-size:16px;
}

#reservation_form .checkchoice{
	margin-bottom:0px;
}
#reservation_form .checkchoice label{
	width:285px;
	display:block;
	float:left;
	margin-bottom:31px;
}

#reservation_form .checkchoice label span{
	display:block;
	font-size:22px;
	color:#574134;
	margin-top:11px;
	float:left;
	line-height:1.2em;
	width:200px;
}

#reservation_form .checkchoice label span.twoLine{
	margin-top:0px;
}
	




