/*##########################################
Script: Niceforms 2.0
Theme: StandardBlue
Author: Lucian Slatineanu
URL: http://www.emblematiq.com/
##########################################*/

/*Radio*/
.NFRadio {
	cursor: pointer;
	display: block;
	width: 44px;
	height: 44px;
	border: 1px solid transparent;
	background: url(../images/radio.png) no-repeat 0 0;
	z-index: 2;
	float:left;
	margin-right: 18px;
}
/*Checkbox*/
.NFCheck {
	float:left;
	cursor: pointer;
	width: 44px;
	height: 44px;
	border: 1px solid transparent;
	background: url(../images/checkbox.png) no-repeat 0 0;
	z-index: 2;
	margin-right: 18px;
}
/*Focused*/
.NFfocused {
	border: 1px dotted #666;
}
/*Hovered*/
.NFh {
	background-position: 0 100%;
}
.NFhr {
	background-position: 100% 100%;
}
/*Hidden*/
.NFhidden {
	display:none;
}
/*Safari*/
input {
	outline: none;
	resize: none;
}
