@charset "UTF-8";
@charset "UTF-8";
@media only screen and (min-width: 1200px) {
	width: 100%;
}
@media only screen and (min-width: 800px) {

body{
	font-size:14px;
	color:#333333;
	line-height:160%;
	background:#FFF;
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	letter-spacing:-0.5px;
	min-width:1200px;
}
/*
a img:hover{
	-moz-opacity:0.7;
	opacity:0.7;
}
*/


#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#h_wrapper {
	width: 100%;
	height:69px;
	margin: 0 auto;
	text-align: center;
	background:#171717;
	border-bottom:solid 2px #b39952;
	position:fixed;
	top:0;
	left:0;
	z-index:99999;
}

header#PAGE_TOP {
	width: 1200px;
	height:85px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

.cnt_wp {
	width: 100%;
	margin:50px auto 0;
	padding: 70px 0 0;
	text-align: center;
	min-width:1200px;
	overflow:hidden;
}


/*=======================================================================
ヘッダ
=======================================================================*/
#PAGE_TOP h1{
	position:absolute;
	top:13px;
	left:24px;
	color:#fff;
}
#PAGE_TOP p{
	position:absolute;
	top:16px;
	right:400px;
}
#PAGE_TOP ul{
	position:absolute;
	top:16px;
	right:0;
}
#PAGE_TOP ul li{
	float:left;
	margin-left:21px;
}

/* header 
--------------------------------------------------------------- */

#header_bg{
	background:url(../img/header_bg02.gif) center top repeat-y;
	margin:0 0 1px 0;
}
#header{
	width:1200px;
	height:71px;
	margin:0 auto;
	background:url(../img/header_bg01.gif) left top repeat-y;
}
#header .logo{
	float:left;
	width:251px;
	padding:13px 0 0 25px;
}
#header .header_right{
	width:770px;
	float:right;
}
#header .header_right .tel{
	width:430px;
	float:left;
	padding:13px 0 0 0;
}
#header .header_right .btn{
	width:249px;
	float:right;
	padding:13px 0 0 0;
}
#PAGE_TOP .sp_right a:hover img{
	opacity:0.8;
	transition-duration:0.6s;
}
#header .header_right .btn02{
	width:66px;
	float:right;
	padding:13px 0 0 0;
	text-align:right;
	margin:0 0 0 10px;
}





/*=======================================================================
トップページ　メイン
=======================================================================*/
.main_slider{
	/*width:1000px;*/
	margin:50px auto 50px;
}
.sp-buttons {
    width: 1200px !important;
	margin: 0 auto;
}
.sp-grab img{
	height:100%;
}
.main_banner{
	width:1000px;
	margin:0 auto;
}
.main_banner ul{
	margin:0;
}
.main_banner ul li{
	width:480px;
	float:left;
	margin-bottom: 25px;
}
.main_banner ul li img{
	width:100%;
}
/*last-childを偶数に変更*/
.main_banner ul li:nth-child(even){
	margin-left:40px;
}
.main_banner ul li a img:hover{
	opacity:0.6;
}
/*=======================================================================
トップページ　メイン【お問い合わせから施術までの流れ】など
=======================================================================*/

.b08{
	margin:80px 0 40px 0;
	height:8px;
	background:#837d74;
}
.b08info{
	margin:0 auto 80px;
}

/*=======================================================================b20=======================================================================*/

.b20{
	margin:0 auto 50px;
	width:980px;
}
.b20 h2{
	margin:18px 0 50px 0;
	font-size:32px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color:#000000;
}
.b20_p{
	font-size:15px;
	line-height:24px;
	text-align:center;
}
.b20li{
	margin:50px 0 0 0;
}
.b20li00{
	margin:0 0 30px 0;
	padding:0 0 0 260px;
	height:195px;
	background:url(../img/b20_01.jpg) no-repeat;
	position:relative;
	text-align:left;
}
.b20step{
	position:absolute;
	top:-10px;
	left:-30px;
}
.b20li00 dl dt{
	padding:13px 0 0 10px;
	height:32px;
	background:#f4f4f1;
	border-left:2px solid #8c8274;
	font-size:21px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color:#000000;
}
.b20li00 dl dd{
	margin:10px 0 10px 0;
	font-size:13px;
	line-height:21px;
}
.b20_in01{
	float:left;
}
.b20_in02{
	padding:2px 30px 0 20px;
	float:left;
}
.b20_in03{
	float:left;
	padding-top:5px;
}
.b20_in03:hover{
	opacity:0.8;
}
.b20li02{background:url(../img/b20_02.jpg) no-repeat;}
.b20li03{background:url(../img/b20_03.jpg) no-repeat;}
.b20li04{background:url(../img/b20_04.jpg) no-repeat;}
.b20li05{background:url(../img/b20_05.jpg) no-repeat;}
.b20li06{background:url(../img/b20_06.jpg) no-repeat;}

/*=======================================================================スライダー=======================================================================*/

.block09{
	width:1200px;
	margin:0 auto;
}	
.block09 h2{
	margin-bottom:50px;
}	
.block09 ul li{
	width:399px !important;
	border-left: dotted 1px #7c7c7c;
	padding-left:1px;
	margin-left:1px;
}	
.block09 p{
	margin-top:30px;
}

/*=======================================================================b22=======================================================================*/

.b22_li{
	margin:0 auto 100px;
	width:1200px;
}
.b22_00{
	padding:50px 20px 0 20px;
	width:358px;
	float:left;
	background:#f1f1f1;
}
.b22_02{
	margin:0 0 0 3px;
	float:left;
}
.b22_03{
	float:right;
}
.b22_00 dl{
	margin:0 0 15px 0;
	text-align:left;
}
.b22_00 dl dt{
	padding:5px 0 0 0;
	float:left;
}
.b22_00 dl dd{
	margin:0 0 0 10px;
	font-size:16px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-weight:bold;
	color:#000000;
	line-height:24px;
	float:left;
}
.b22_00 p{
	margin:15px 0 30px 0 ;
	font-size:13px;
	line-height:20px;
}

/*=======================================================================b23=======================================================================*/

.b23_box00{
	margin:0 auto 90px;
	width:1000px;
	text-align:left;
}
.b23_box00 h3{
	margin:0 0 20px 0;
	padding:12px 0 0 20px;
	height:32px;
	background:#f4f4f1;
	border-left:2px solid #8c8274;
	font-size:22px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-weight:bold;
	color:#000000;
}
.b23_box00 span{
	font-size:16px;
}	
.b23_in{
	padding:0 0 0 190px;
	background:url(../img/b23_img01.jpg) no-repeat;
}
.b23_in00{
	width:392px;
	float:left;
}
.b23_p{
	margin:0 0 15px 0;
	padding:0 0 5px 0;
	font-size:15px;
	background:url(../img/b23_line01.jpg) no-repeat bottom;
}
.b23_in00 dl dt{
	font-size:13px;
	line-height:22px;
	float:left;
	width:85px;
}
.b23_in00 dl dd{
	margin:0 0 0 20px;
	float:left;
}
.b23_in02{
	margin:0 0 0 40px;
	width:344px;
}
.b23_ul01{
	float:left;
}
.b23_ul02{
	float:left;
}
.b23_in03{
	margin:30px 0 0 0;
	width:800px;
}
.b23_p02{background:url(../img/b23_line03.jpg) no-repeat bottom;}
.b23_in000{background:url(../img/b23_img02.jpg) no-repeat;}
.b23_in002{background:url(../img/b23_img03.jpg) no-repeat;}

/*=======================================================================b24=======================================================================*/

.b24 h2{
	margin:18px 0 0 0;
}

/*=======================================================================アクセス=======================================================================*/

.b25_00{
	margin:25px auto 80px;
	width:1200px;
	text-align:left;
}
.b25_00 h3 img{
	margin:0 0 10px 0;
}
.b25_01{
	float:left;
}
.b25_02{
	margin:0 0 0 41px;
	float:left;
}
.b25_03{
	float:right;
}
.b25_03 dl dt{
	float:left;
}
.b25_03 dl dd{
	margin:0 0 0 10px;
	float:left;
}

/*=======================================================================block12=======================================================================*/

.block12{
	width:1200px;
	margin:0 auto;
}
.block12 p.text{
	width:476px;
	background:url(../img/logo.gif) no-repeat left center;
	padding:15px 0 15px 300px;
	margin:40px auto;
}
.block12 div.cf{
	width:373px;
	margin: 0 0 70px 0 ;
	float:left;
	text-align:left;
	margin-top:27px;
}
.block12 div.cf h3{
	margin-bottom:15px;
}
.block12 div.cf ul li.no01{
	background:url(../img/icon01.gif) no-repeat left center;
	padding-left:25px;
	margin-bottom:10px;
}
.block12 div.cf ul li.no02{
	background:url(../img/icon02.gif) no-repeat left center;
	padding-left:25px;
	margin-bottom:10px;
}
.block12 div.cf ul li.no03{
	background:url(../img/icon03.gif) no-repeat left center;
	padding-left:25px;
	margin-bottom:10px;
}
.block12 div.center{
	margin-left:40px;
	margin-right:40px;
}
.block12 div.cf p{
	margin-bottom:10px;
}
.block12 div.cf dl{
	float:left;
}
.block12 div.cf dl dt{
	border-left: solid 2px #111111;
	font-weight:bold;
	font-size:15px;
	line-height:100%;
	padding:0 0 0 10px;
	width:970px;
	margin:0 auto 10px;
	text-align:left;
}

/*=======================================================================block13=======================================================================*/

.block13{
	width:1200px;
	margin:0 auto;
}
.block13 .flow {
	margin: 50px 0 40px 0 ;
	text-align: center ;
}
.block13 .caution {
	font-size:14px;
	color: #453f36 ;
}
.block13 .error {
	margin: 10px 0 0 0 ;
	color: #ee0000 ;
}
.block13 .form {
	width: 1000px ;
	margin: 0 auto ;
}
.block13 table {
	width: 100% ;
	border-collapse: separate;
	border-spacing: 0 1px ;
	margin: 20px auto 40px auto ;
}
.block13 th{
	width: 25% ;
	background:#f3f3f3;
	padding: 20px 20px 20px 80px ;
	font-size: 14px ;
	color: #363636;
	white-space: nowrap ;
}
.block13 th.hissu {
	background: #ffffff url(../img/form_01.png)15px center no-repeat;
}
.block13 th.nini {
	background: #ffffff url(../img/form_02.png) 15px center no-repeat;
}
.block13 td{
	width: 75% ;
	padding: 20px ;
	font-size: 14px ;
	color: #333333 ;
	background:#ffffff;
}
.block13 th.last,
.block13 td.last{
	border-bottom:none;
}
.block13 td input[type="text"],
.block13 td input[type="tel"],
.block13 td input[type="email"] {
	padding:0 0 0 10px;
	width: 60% ;
	height:38px;
	background: #ffffff ;
	border: 1px solid #bfbfbf;
	font-size: 12px ;
}
.block13 td input[type="checkbox"] {
	margin: 0 5px 0 10px;
}
.block13 td select {
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 td textarea {
	width: 98% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 12px ;
}
.block13 .btn {
	margin: 0 0 60px 0 ;
	text-align: center ;
}
.block13 .end {
	margin: 0 0 40px 0 ;
	text-align: center ;
}
.btn_box {
	position: relative ;
	width: 1200px ;
	margin: 40px auto ;
}
.btn_box a:hover img{
	opacity:0.8;
}
.btn_box .btn_camp {
	float: left ;
	width: 554px ;
	font-size: 10px ;
	line-height: 1 ;
	color: #666666 ;
}
.btn_box .btn_camp img {
	margin: 0 0 6px 0 ;
}
.btn_box dl {
	float: right ;
	padding: 15px 0 ;
}
.btn_box dl dt {
	float: left ;
	border-right: dotted 1px #7c7c7c ;
	margin-right: 30px ;
	padding-right: 30px ;
}
.btn_box dl dd {
	float: left ;
	padding-top:15px;
}
.btn_box_out {
	width: 100% ;
}

/*=======================================================================
フォーム導入
=======================================================================*/

.block17 {
	background: #f1f1f1 ;
	width: 100% ;
	margin: 0 auto ;
	padding: 90px 0 ;
}
.block17 h2 {
	width: 1200px ;
	margin: 0 auto 40px auto ;
}
.block17 .flow {
	width: 1200px ;
	margin: 0 auto 40px auto ;
	text-align: center ;
}
.block17 .form {
	width: 1000px ;
	margin: 0 auto ;
}
.block17 .caution {
	color: #ff9900 ;
	margin: 0 auto 10px auto ;
}
.block17 table {
	background: #ffffff ;
	width: 100% ;
	margin: 0 auto 30px auto ;
	border-collapse: separate;
	border-spacing: 0 ;
	border-top: solid 1px #eeeeee ;
}
.block17 th {
	width: 30% ;
	background: #ffffff ;
	padding: 20px 30px 20px 95px ;
	border-bottom: solid 1px #eeeeee ;
	font-size: 14px ;
	color: #000000 ;
	white-space: nowrap ;
}
.block17 th.hissu {
	background: url(../img/block17-icon_01.png) 30px center no-repeat;
	background-size: 50px 22px ;
}
.block17 th.nini {
	background: url(../img/block17-icon_02.png) 30px center no-repeat;
	background-size: 50px 22px ;
}
.block17 td {
	width: 70% ;
	padding: 12px 20px ;
	border-bottom: solid 1px #eeeeee ;
	font-size: 14px ;
	color: #333333 ;
}
.block17 th.last,
.block17 td.last{
	border-bottom:none;
}
.block17 td input[type="text"],
.block17 td input[type="tel"],
.block17 td input[type="email"] {
	width: 40% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #cccccc ;
	font-size: 16px ;
}
.block17 td input[type="checkbox"] {
	margin: 0 5px 0 10px;
}
.block17 td select {
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #cccccc ;
	font-size: 16px ;
}
.block17 td textarea {
	width: 100% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #cccccc ;
	font-size: 16px ;
}
.block17 .btn {
	text-align: center ;
}
.block17 .btn .btn2 {
	margin: 0 20px 0 0 ;
}
.block17 .end {
	margin: 0 0 40px 0 ;
	text-align: center ;
}
.block17 .error {
	margin: 5px 0 0 0 ;
	color: #ee0000 ;
}


/*=======================================================================
サイドバー
=======================================================================*/

#navi {
	position:fixed;
	top:384px;
	right:0;
	width: 48px;
	background-color:rgba( 150, 150, 149, 0.55 );
	padding:15px 0;
	z-index:99999999999999999;
	-webkit-transform: translateY(-50%) translateZ(0);
	transform: translateY(-50%) translateZ(0);
}
#navi li {
	list-style-type: none;
	text-align: center;
}
#navi li a {
	padding: 6px 0;
	display: block;
	text-decoration: none;
	color:#FFF;
	font-size:10px;
	line-height: 10px ;
}
#navi li a.on {
	color:#e9b62b;	
}




/*=======================================================================
ページトップ
=======================================================================*/

#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
	z-index:99999999;
}
#page-top a img:hover{
	-moz-opacity:0.7;
	opacity:0.7;
}




/*=======================================================================
フッタ
=======================================================================*/

#f_wrapper {
	background: #000;
	width: 100% ;
	margin: 0 auto ;
	padding: 0 ;
	text-align: center ;
}
footer {
	background: #fff ;
	width: 100% ;
}
footer p {
	width: 1200px ;
	margin: 0 auto ;
	padding: 12px 0 ;
	font-size: 12px ;
	color: #666 ;
	text-align: center ;
}
#f_wrapper p.text{
    color: #fff;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    height: 120px;
    font-size: 25px;
    line-height: 40px;
    padding: 40px 0 0;
    letter-spacing: 1px;
}



/*=======================================================================
メインイメージスクロール
=======================================================================*/

#slider_wp {
	width: 100%;
	min-width:1200px;
	height: 327px;
	display: block;
	background:url(../images/main_img_bg.jpg) repeat-x;
	overflow:hidden;
}

#slider {
	width: 1200px;
	height: 327px;
	margin: 0 auto;
	position: relative;
	background: url(loader.gif) no-repeat center;
}

#slider ul li {
	width: 1200px;
	height: 327px;
	position: absolute;
	top: 0px;
	left: 0px;
}




/*=======================================================================
clear　clearfix
=======================================================================*/

.clear { clear: both;	visibility: visible;
}
.cf:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
/* IE7,MacIE5 */
.cf {
  display: inline-block;
}
/* WinIE6 below, Exclude MacIE5 \*/
* html .cf {
  height: 1%;
}
.cf {
  display:block;
}
.box{
	display:block;
}
#section02,
#section03,
#section04,
#section05,
#section06,
#section07,
#section08,
#section09{
	margin-top:-100px;
    padding-top:100px;
}
#section09{
	margin:30px 0 0 0;
	background:#f1f1f1;
}
.pc_none{display:none !important;}
.back_none{background: none !important;}

}