
<div id="ftrArea">
  <div class="sec_pink">
    <div class="sec">
      <h2>その他のコンテンツ</h2>
      <ul class="block_2col clearfix">
        <li class="coll"><a href="http://tk-honin.com/lp/matome/index.php" target="_blank"><img src="/sp/common/images/ftr_bnr_other1.jpg" alt="美容モニター"></a></li>
        <li><a href="/sp/about/doctor/index.html"><img src="/sp/common/images/ftr_bnr_other2.jpg" alt="医師のご紹介"></a></li>
        <li class="coll"><a href="http://ameblo.jp/arata1107/" target="_blank"><img src="/sp/common/images/ftr_bnr_other3.jpg" alt="友利新 OFFICIAL BLOG"></a></li>
      </ul>
    </div><!--/sec-->
  
    <div class="sec">
      <ul class="otherlink">
        <li><a href="/sp/menu/index.html"><span>診療一覧</span></a></li>
        <li><a href="/sp/recruit/index.html"><span>採用情報</span></a></li>
      </ul>
    </div><!--/sec-->
    </div>
  
  <div class="copy">Copyright &copy; TOKYO COSMETIC SERGERY.<br>
  All Rights Reserved</div>
</div>
<!--/ftrArea-->

