<div id="ftrArea">
  <div class="sec_pink">
    <div class="bnr_contact">
    	<div class="img"><a href="tel:0120334270" onClick="ga('send', 'event', 'sp', 'tel-tap', 'tel');"><img src="/sp/common/images/ftr_bnr_contact_tel.jpg" alt="初めての方もお気軽にご相談ください TEL:0120-334-270　受付時間 11時 － 20時"></a></div>

      <div class="img"><a href="/sp/reservation/form"><img src="/sp/common/images/ftr_bnr_contact.jpg" alt="無料カウンセリングはこちらから" border="0"></a></div>
      <div class="img"><a href="/sp/inquiry/form"><img src="/sp/common/images/ftr_bnr_mail.jpg" alt="無料メール相談"></a><a href="/sp/catalog/form"><img src="/sp/common/images/ftr_bnr_catalog.jpg" alt="資料請求"></a></div>
    </div>

    <div class="sec">
      <h2>その他のコンテンツ</h2>
      <ul class="block_2col clearfix">
        <li class="coll"><a href="http://tk-honin.com/lp/matome/index.php" target="_blank"><img src="/sp/common/images/ftr_bnr_other1.jpg" alt="美容モニター"></a></li>
        <li><a href="/sp/about/doctor/index.html"><img src="/sp/common/images/ftr_bnr_other2.jpg" alt="医師のご紹介"></a></li>
        <li class="coll"><a href="http://ameblo.jp/arata1107/" target="_blank"><img src="/sp/common/images/ftr_bnr_other3.jpg" alt="友利新 OFFICIAL BLOG"></a></li>
        <li><a href="http://tk-honin.com/agreement.pdf"><img src="/sp/images/sp_agreement.jpg" alt="未成年者施術承諾書" /></a></li>
      </ul>
    </div><!--/sec-->
  
    <div class="sec">
      <ul class="otherlink">
        <li><a href="/sp/menu/index.html"><span>診療一覧</span></a></li>
        <li><a href="/sp/recruit/index.html"><span>採用情報</span></a></li>
		 <li><a href="/sp/alliance/index.html"><span>提携クリニック</span></a></li>
      </ul>
    </div><!--/sec-->
	</div>
  
  <div class="copy">Copyright &copy; TOKYO COSMETIC SERGERY.<br>
  All Rights Reserved</div>
</div>
<!--/ftrArea-->
