<!--hdrArea-->
<div id="mask"><div class="mask_base"></div></div>
<div id="hdrArea">
  <div class="logo"><a href="/sp/index.html"><img src="/sp/common/images/hdr_logo.gif" alt="表参道スキンクリニック"></a></div>
  <div id="gnav">
  	<div class="relt">
      <a href="javascript:void(0);" class="gnav_btn"></a>
      <ul class="menu">
        <li><a href="/sp/reservation/form"><span>無料カウンセリング予約</span></a></li>
        <li><a href="/sp/inquiry/form"><span>無料メール相談</span></a></li>
        <li><a href="/sp/catalog/form"><span>資料請求</span></a></li>
        <li><a href="/sp/about/introduction.html"><span>クリニックのご紹介</span></a>
          <ul class="submenu">
            <li><a href="/sp/about/index.html"><span>クリニックの理念</span></a></li>
            <li><a href="/sp/about/doctor/index.html"><span>医師のご紹介</span></a></li>
            <li><a href="/sp/about/media.html"><span>メディア掲載情報</span></a></li>
          </ul>
        </li>
        <li><a href="/sp/menu/index.html"><span>診療科目</span></a></li>
        <li><a href="/sp/flow/flow.html"><span>施術の流れ</span></a></li>
        <li><a href="http://tk-honin.com/lp/matome/index.php" target="_blank"><span>オススメ情報</span></a></li>
        <li><a href="/sp/access/index.html"><span>アクセス</span></a></li>
        <li><a href="/sp/recruit/index.html"><span>採用情報</span></a></li>
        <li><a href="/sp/index.html"><span>Topページに戻る</span></a></li>
      </ul>
    </div>
  </div>
</div>
<!--/hdrArea-->
