.fR #cstel {top: -50px;left: 135px;position: relative;width: 173px;height: 27px;background-color: #ffffff;}

.fR #cstel .text_tel{position: relative;top: -8px;font-size: 29px;font-weight: lighter;font-family: "Times New Roman", Times, serif;color: #7C795D;}
.mac .fR #cstel .text_tel{position: relative;top: -8px;font-size: 24px;font-weight: lighter;font-family: "Times New Roman", Times, serif;color: #7C795D;}

.mainimg2 #cstel {top: -141px;left: 261px;position: relative;width: 281px;height: 35px;background-color: #ffffff;}

.mainimg2 #cstel .text_tel{position: relative;top: -16px;font-size: 44px;font-weight: 500;font-family: "Times New Roman", Times, serif;color: #462C21;}

.mac .mainimg2 #cstel .text_tel{position: relative;top: -8px;font-size: 29px;font-weight: lighter;font-family: "Times New Roman", Times, serif;color: #462C21;}

.contact_area #cstel {top: -95px;left: 563px;position: relative;width: 256px;height: 40px;background: linear-gradient(135deg, #f8f5f3, #e3d5cd);}

.contact_area #cstel .text_tel{position: relative;top: -10px;font-size: 44px;font-weight: lighter;font-family: "Times New Roman", Times, serif;color: #462C21;}

.mac .contact_area #cstel .text_tel{position: relative;top: -8px;font-size: 29px;font-weight: lighter;font-family: "Times New Roman", Times, serif;color: #462C21;}