@charset "utf-8";
body {
    background: #fff;
    color: #505050;
    font: normal normal 75%/1.75em Verdana, Verdana, Arial, メイリオ, Meiryo, Hiragino Kaku Gothic ProN, ヒラギノ角ゴ ProN W3, sans-serif;
    line-height: 1.65;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

@font-face {
    font-family: ACaslonPro-Regular;
    src: url(font/ACaslonPro-Regular.otf)
}

a {
    color: #0353ff;
    text-decoration: none
}

a:hover {
    opacity: .6;
    filter: alpha(opacity=60);
    -ms-filter: "alpha(opacity=60)";
    -moz-opacity: .6;
    -khtml-opacity: .6
}

a img {
    display: block
}

a:hover img {
    opacity: .6;
    filter: alpha(opacity=60);
    -ms-filter: "alpha(opacity=60)";
    -moz-opacity: .6;
    -khtml-opacity: .6
}

.mt5 {
    margin-top: 5px!important
}

.mt10 {
    margin-top: 10px!important
}

.mt15 {
    margin-top: 15px!important
}

.mt20 {
    margin-top: 20px!important
}

.mt25 {
    margin-top: 25px!important
}

.mt30 {
    margin-top: 30px!important
}

.mt35 {
    margin-top: 35px!important
}

.mt40 {
    margin-top: 40px!important
}

.mt45 {
    margin-top: 45px!important
}

.mt50 {
    margin-top: 50px!important
}

.mt55 {
    margin-top: 55px!important
}

.mt60 {
    margin-top: 60px!important
}

.mt65 {
    margin-top: 65px!important
}

.mt70 {
    margin-top: 70px!important
}

.mb0 {
    margin-bottom: 0!important
}

.mb5 {
    margin-bottom: 5px!important
}

.mb10 {
    margin-bottom: 10px!important
}

.mb15 {
    margin-bottom: 15px!important
}

.mb20 {
    margin-bottom: 20px!important
}

.mb25 {
    margin-bottom: 25px!important
}

.mb30 {
    margin-bottom: 30px!important
}

.mb35 {
    margin-bottom: 35px!important
}

.mb40 {
    margin-bottom: 40px!important
}

.mb45 {
    margin-bottom: 45px!important
}

.mb50 {
    margin-bottom: 50px!important
}

.mb55 {
    margin-bottom: 55px!important
}

.mb60 {
    margin-bottom: 60px!important
}

.mb65 {
    margin-bottom: 65px!important
}

.mb70 {
    margin-bottom: 70px!important
}

.ml0 {
    margin-left: 0!important
}

.ml5 {
    margin-left: 5px!important
}

.ml10 {
    margin-left: 10px!important
}

.ml15 {
    margin-left: 15px!important
}

.ml20 {
    margin-left: 20px!important
}

.ml25 {
    margin-left: 25px!important
}

.ml30 {
    margin-left: 30px!important
}

.ml35 {
    margin-left: 35px!important
}

.ml40 {
    margin-left: 40px!important
}

.mr0 {
    margin-right: 0!important
}

.mr5 {
    margin-right: 5px!important
}

.mr10 {
    margin-right: 10px!important
}

.mr15 {
    margin-right: 15px!important
}

.mr20 {
    margin-right: 20px!important
}

.mr25 {
    margin-right: 25px!important
}

.mr30 {
    margin-right: 30px!important
}

.mr35 {
    margin-right: 35px!important
}

.mr40 {
    margin-right: 40px!important
}

.alignL {
    text-align: left!important
}

.alignC {
    text-align: center!important
}

.alignR {
    text-align: right!important
}

.floatL {
    float: left!important
}

.floatR {
    float: right!important
}

.text {
    line-height: 1.65!important
}

.bold {
    font-weight: 700!important
}

.normal {
    font-weight: 400!important
}

.attention, .red {
    color: #c00!important
}

.mincho {
    font-family: 游明朝, YuMincho, ヒラギノ明朝 ProN W3, Hiragino Mincho ProN, HG明朝E, ＭＳ\ Ｐ明朝, ＭＳ\ 明朝, serif!important
}

header#header {
    background: url(../img/background/bg_header01.png)repeat-x left top;
    border-bottom: 1px solid #c8c8c8;
    display: block;
    height: 125px;
    line-height: 1.25;
    margin: 0;
    padding: 0
}

header#header #crown {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 750pt
}

header#header #crown #site-title {
    top: 10px;
    left: 0;
    position: absolute
}

header#header #crown #site-title span {
    background: #8e7252;
    border-radius: 15px;
    color: #fff;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    left: 90px;
    padding: 0 20px;
    position: absolute;
    top: 0
}

#hospital-times {
    font-weight: 400;
    font-size: 9pt;
    top: 90px;
    left: 0;
    position: absolute
}

header#header #crown #head-info {
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 238px
}

header#header #crown #head-info .head-link {
    display: block;
    margin: 0 auto 10px;
    padding: 0
}

header#header #crown #head-info .head-link li {
    float: left;
    width: 115px
}

header#header #crown #head-info .head-link li:first-child {
    margin: 0 8px 0 0
}

header#header #crown #head-info .head-link li a {
    background: #8d7251;
    color: #fff;
    display: block;
    padding: 5px;
    text-align: center
}

header#header #crown #head-info #contact li {
    margin: 0 0 2px
}

header#header #crown #head-info #contact li.btn a {
    box-shadow: 0 3px 3px #a0a0a0;
    display: block;
    line-height: 0
}

header#header #crown #head-info #contact li.btn a:hover {
    box-shadow: none
}

#headernav {
    border-bottom: 3px solid #8d7251;
    line-height: 1;
    margin: 0 auto;
    padding: 0
}

#headernav #headermenu {
    margin: 0 auto;
    padding: 0;
    width: 750pt
}

#headernav #headermenu li {
    float: left
}

#headernav #headermenu li a {
    color: #646464;
    display: block;
    font-size: 14px;
    padding: 20px 27px
}

#pagetitle {
    background: #ffeff2;
    margin: 0 0 30px;
    position: relative
}

#pagetitle .pagetitle {
    background: url(../img/background/bg_title01.jpg)no-repeat center top;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    height: 220px;
    line-height: 220px;
    letter-spacing: .15em;
    margin: 0 auto;
    padding: 0 0 0 20px;
    position: relative;
    text-shadow: 3px 3px 3px hsla(0, 0%, 60%, .4), 0 3px 3px hsla(0, 0%, 60%, .4), -3px -3px 3px hsla(0, 0%, 60%, .4), -3px 0 3px hsla(0, 0%, 60%, .4), -3px -3px 3px hsla(0, 0%, 60%, .4), 0 -3px 3px hsla(0, 0%, 60%, .4), 3px -3px 3px hsla(0, 0%, 60%, .4), 3px 0 3px hsla(0, 0%, 60%, .4);
    width: 980px
}

#breadcrumb {
    background: #fff;
    margin: 0 auto
}

#breadcrumb #breadcrumblist {
    color: #646464;
    font-size: 9pt;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    padding: 0 10px;
    width: 980px
}

#breadcrumb #breadcrumblist li {
    float: left;
    margin: 0 5px 0 0
}

#breadcrumb #breadcrumblist li:after {
    content: ">";
    display: inline-block;
    margin: 0 0 0 5px
}

#breadcrumb #breadcrumblist li:last-child:after {
    display: none;
    margin: 0
}

#breadcrumb #breadcrumblist li a {
    color: #646464;
    text-decoration: underline
}

#main {
    display: block;
    font-size: 15px;
    margin: 0 auto 5pc;
    padding: 0;
    width: 750pt
}

#main #main_column {
    float: left;
    width: 700px
}

#main #main_column .conteiner {
    display: block
}

#main_column .conteiner .entry-header {
    border-bottom: 1px solid #646464;
    display: block;
    line-height: 1;
    margin: 0 0 20px;
    padding: 0 0 0 20px
}

#main_column .conteiner .entry-header .entry-title {
    border-left: 1px solid #646464;
    color: #646464;
    font-size: 22px;
    margin: 0;
    padding: 10px
}

#main_column .conteiner .content .entry-title {
    background: none;
    text-align: left
}

#main_column .conteiner .entry-content {
    display: block;
    margin: 0 0 40px;
    padding: 0
}

#main_column .conteiner .entry-content .bnr {
    display: block;
    margin: 0 auto;
    padding: 0
}

#main_column .conteiner .entry-content .entry-header {
    border: none;
    padding: 0
}

#main_column .conteiner .entry-content .sub-title {
    background: #f9f9f4;
    border: 1px solid #cfc8be;
    color: #300;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin: 0 auto;
    padding: 9pt 0 9pt 20px;
    position: relative
}

#main_column .conteiner .entry-content .sub-title:before {
    background: #946134;
    content: '.';
    display: block;
    height: 70%;
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 15%;
    width: 2px
}

#main_column .conteiner .entry-content .sub-content {
    margin: 0
}

#main #right_column {
    float: right;
    width: 15pc
}

#sidebar {
    display: block;
    line-height: 0;
    margin: 0;
    padding: 0
}

#sidebar .title {
    font-weight: 400;
    line-height: 1;
    margin: 0 0 30px;
    padding: 0;
    position: relative;
    text-align: center
}

#sidebar .title:after, #sidebar .title:before {
    background: #ccc;
    content: " ";
    display: block;
    height: 1px;
    position: absolute;
    top: 7px;
    width: 60px
}

#sidebar .title:before {
    left: 0
}

#sidebar .title:after {
    right: 0
}

#sidebar .bnr {
    display: block;
    margin: 0;
    padding: 0
}

#sidebar .bnr li {
    margin: 0 0 10px
}

#sidebar .bnr li a img {
    display: block;
    line-height: 1
}

#sidebar .bnr li.last {
    border-top: 1px solid #efefef;
    padding: 10px 0 0
}

#footer {
    display: block;
    margin: 0 0 68px;
    padding: 0
}

#footer #pagetop {
    display: block;
    font-size: 9pt;
    margin: 0 auto;
    padding: 0;
    text-align: right;
    width: 750pt
}

#footer #pagetop p a {
    background: #ddd5cb;
    color: #646464;
    display: inline-block;
    line-height: 1;
    padding: 10px 20px
}

#footer #footernav {
    background: #ddd5cb
}

#footer #footernav #footermenu {
    display: block;
    margin: 0 auto;
    padding: 15px 0 0;
    width: 750pt
}

#footer #footernav #footermenu li {
    float: left;
    margin: 0 25px 15px 0
}

#footer #footernav #footermenu li a {
    color: #646464;
    text-decoration: underline
}

#footer #footerinfo {
    background: #9a8164;
    background: -moz-linear-gradient(top, #9a8164 0%, #bcac99 100%);
    background: -webkit-linear-gradient(top, #9a8164 0%, #bcac99 100%);
    background: linear-gradient(to bottom, #9a8164 0%, #bcac99 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#9a8164', endColorstr='#bcac99', GradientType=0);
    color: #fff;
    margin: 0;
    padding: 30px 0 20px
}

#footer #footerinfo #infomation {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 750pt
}

#footer #footerinfo #left {
    float: left;
    margin: 0;
    padding: 0;
    width: 670px
}

#footer #footerinfo #left #contact {
    display: block;
    line-height: 1;
    margin: 0 auto 20px;
    padding: 0
}

#footer #footerinfo #left #contact li {
    float: left
}

#footer #footerinfo #left #contact li:first-child {
    margin: 0 25px 0 0;
    padding: 5px 0 0;
    vertical-align: bottom
}

#footer #footerinfo #left #contact span {
    font-family: ACaslonPro-Regular;
    font-size: 3pc;
    margin: 0 5px
}

#footer #footerinfo #left #contact li#mail a {
    background: #00bb67;
    background: -moz-linear-gradient(top, #00bb67 0%, #008367 100%);
    background: -webkit-linear-gradient(top, #00bb67 0%, #008367 100%);
    background: linear-gradient(to bottom, #00bb67 0%, #008367 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00bb67', endColorstr='#008367', GradientType=0);
    border: 1px solid #bcac99;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    display: block;
    font-weight: 700;
    height: 46px;
    line-height: 46px;
    padding: 0 20px
}

#footer #footerinfo #left #address {
    display: block;
    line-height: 1;
    margin: 0 0 5px;
    padding: 0
}

#footer #footerinfo #left #address li {
    float: left;
    margin: 0 5px 0 0
}

#footer #footerinfo #site-logo {
    display: inline-block;
    float: right;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: right
}

#footer #footerinfo #site-logo span {
    background: #fff;
    border-radius: 15px;
    color: #8e7252;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    left: 70px;
    padding: 0 15px;
    position: absolute;
    top: -5px
}

#footer #copy {
    background: #bcac99;
    border-top: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 9pt;
    padding: 5px;
    text-align: center
}

.fixBox {
    background: hsla(0, 0%, 100%, .8);
    border-top: 2px solid #8d7251;
    display: block;
    height: 66px;
    line-height: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1
}

.fixBox .wrap {
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    width: 750pt
}

.fixBox .wrap li {
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 13px 0 0;
    padding: 0
}

.fixBox .wrap li:last-child {
    margin: 0
}

.fixBox .wrap li:first-child img {
    vertical-align: middle
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    display: inline-table;
    zoom: 1
}

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block
}
