@media only screen and (max-width: 768px) {

img{
  width:100%;
  height:auto;
}

body{
  font-size:80%;
  color:#111111;
  line-height:160%;
  background:#FFF;
  font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
  letter-spacing:-0.5px;
  min-width:320px;
  -webkit-text-size-adjust: auto;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-width:320px;
  overflow:hidden;
}

#h_wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-bottom:solid 2px #FFF;
}

header#PAGE_TOP {
  margin: 0 auto;
  position: relative;
  text-align: left;
}

#navi{
  display:none;
}

/*=======================================================================
ヘッダ
=======================================================================*/
#PAGE_TOP h1{
  margin:0 auto;
  padding:3% 0;
  background:#171717;
  border-bottom:solid 2px #474747;
}
#PAGE_TOP h1 img{
  width:45%;
  display:block;
  margin:0 auto;
}
#PAGE_TOP p{
  width:49.7%;
  float:left;
}
#PAGE_TOP ul li.sp_ab{
  position:absolute;
  top:8%;
  right:5px;
  width:10%;
}
#PAGE_TOP ul li.sp_right{
  width:50%;
  float:right;
}



.block03 img.right{
  width:95%;
  margin: 15px auto;
  display:block;
}
.block03 p{
  width:95%;
  margin: 0px auto 8px;
}

.block03 .block_box{
  width:95%;
  margin:15px auto 0;
  border:solid 1px #b57b00;
}
.block03 .block_box img{
  border-bottom:solid 1px #b57b00;
}
.block03 .block_box ul{
  padding:10px 10px 0px 10px;
}
.block03 .block_box ul li{
  float:left;
  width:50%;
  color:#b57b00;
  margin-bottom:10px;
  font-size:90%;
}
.block04 {
  background: url(../img/shadow_bg.png) no-repeat bottom center;
  background-size:600px;
  padding-bottom: 5px;
}
.block04 h2{
  margin:40px 0 15px;
}
.block04 img.left{
  width:74%;
  margin-bottom:10px;
  display: inherit;
  margin-left: 2.5%;
}
.block04 p{
  width:95%;
  margin:0 auto;
}
.block_box_list {
  background: #faf8f2;
  border: solid 1px #ece8da;
  margin: 15px auto 0;
  padding: 1%;
  width: 93%;
}
.block_box_list ul{
  border: solid 1px #f1eee3;
  padding: 5% 5% 0 5%;
}
.block_box_list ul li{
  margin-bottom:5%;
}
.btn_box dl{
  width:70%;
  margin:40px auto 50px;
}
.btn_box dl dt{
  margin-bottom:8px;
}

.block05 div.cf {
}
.block05 h2{
  margin-bottom:15px;
}
.block05 h3{
  margin-bottom:20px;
}
.block05 img.left{
  width:95%;
  margin:0 auto 15px;
}
.block05 img.right{
  width:95%;
  margin:0 auto 10px;
}
.block06 h2{
  margin:40px 0 20px;
}


.block06 table {
  width:95%;
  margin:0 auto;
  border: solid 1px #d0d0d0;
  margin-top: 15px;
}
.block06 table th.title span{
  display:block;
  font-weight: bold;
  background: url(../img/table_bg.gif) no-repeat;
    background-size: 100%;
  border-right: none;
  border-bottom: solid 1px #d0d0d0;
  padding:5px 0;
  text-align:center;
}
.block06 table th.sub_title span{
  display:block;
  padding:24px 0;
  background: #f3f3f3;
  text-align:center;
}
.block06 table td {
  border-bottom: solid 1px #d0d0d0;
  border-right: solid 1px #d0d0d0;
  text-align: center;
  padding:5px;
}
.block06 table th.title,
.block06 table th.sub_title {
  padding:1px;
  border-bottom: solid 1px #d0d0d0;
}
.block06 table th.sub_title{
  border-right: solid 1px #d0d0d0;
}
.block06 table .last_table th, .block06 table .last_table td {
  border-bottom: none;
}
.block06 table .boder_none {
  border-right: none;
}
.block06 table .boder_none span{
  color:#b98c40;
  font-weight:bold;
}

.block07 h2{
  margin-bottom:25px;
}
.block07 dl{
  width:95%;
  margin:20px auto 0;
}
.block07 dl dt{
  margin-bottom:10px;
}
.block07 dl dd {
  margin-top: 15px;
  padding: 0 0 0 11%;
  background: url(../img/a_title_sp.gif) no-repeat left top;
  background-size:8%;
}


.block08 div.cf{
  width:95%;
  margin:20px auto 0;
}
.block08 h3{
  margin-bottom:15px;
}
.block08 img{
  margin-bottom:15px;
}
.block08 dl {
  margin-top:15px;
}
.block08 dl dt img{
  margin:0;
}
.block08 dl dd img{
  margin:0;
}
.block08 dl dd{
  width:90%;
  margin:10px auto 0;
}
.block08 p.block_box {
  border: solid 1px #c0c0c0;
  padding: 10px;
  color: #7e7e7e;
  margin-top:15px;
}
.block08 p.small{
  color:#7e7e7e;
}


.block09 h2{
  margin-bottom:20px;
}
.block09 p{
  margin-top:15px;
}


.block10 p.text{
  width:95%;
  text-align:center;
  margin:25px 0;
}
.block10 div{
  width:95%;
  margin:0 auto 20px;
}
.block10 div img{
  margin-bottom:15px;
}


.block11 h2{
  margin:40px 0 20px;
}
.block11 p.text{
  width:95%;
  margin:0 auto 20px;
}
.block11 img.left {
  float: left;
  width:30%;
  margin-left:2.5%;
}
.block11 .sp_right{
  width:62.5%;
  float:right;
  margin-right:2.5%;
  margin-bottom:15px;
}
.block11 div.cf h3 {
  border-left: solid 2px #111111;
  font-weight: bold;
  font-size: 120%;
  line-height: 100%;
  padding: 0 0 0 10px;
  margin-bottom: 10px;
  text-align:left;
}
.block11 div.cf h3 span {
  font-weight: normal;
  display: block;
  color: #7c7c7c;
  font-size: 70%;
  margin-top: 5px;
  line-height: 100%;
}
.block11 div.cf dl{
  text-align:left;
}
.block11 div.cf dl dt{
  color:#7e7e7e;
  font-size:90%;
}
.block11 .sp_clear{
  clear:both;
  width:95%;
  margin:0 auto;
}
.block11 div.cf ul li {
  float: left;
  width: 50%;
  margin-bottom: 7px;
}
.block11 h3.clear {
  border-left: solid 2px #111111;
  font-weight: bold;
  font-size: 120%;
  line-height: 100%;
  padding: 0 0 0 10px;
  margin:15px auto 10px;
  text-align:left;
  width:92%;
}
.block11 h3.clear span {
  font-weight: normal;
  display: block;
  color: #7c7c7c;
  font-size: 70%;
  margin-top: 5px;
  line-height: 100%;
}
.block11 p.bottom_text{
  width:95%;
  margin:0 auto;
}

.block12 {
  margin-bottom:40px;
}
.block12 h2{
  margin-bottom:20px;
}
.block12 img.sp_logo{
  margin-bottom:15px;
}
.block12 p.text{
  text-align:center;
  margin-bottom:15px;
}
.block12 iframe{
  width:95%;
  height:175px;
  margin:0 auto 10px;
}
.block12 div.cf{
  width:95%;
  margin:0 auto 15px;
}
.block12 div.cf h3{
  margin-bottom:15px;
}
.block12 div.cf ul li.no01 {
  background: url(../img/icon01.gif) no-repeat left top;
  padding-left: 25px;
  margin-bottom: 10px;
}
.block12 div.cf ul li.no02 {
  background: url(../img/icon02.gif) no-repeat left top;
  padding-left: 25px;
  margin-bottom: 10px;
}
.block12 div.cf ul li.no03 {
  background: url(../img/icon03.gif) no-repeat left top;
  padding-left: 25px;
}

.block12 div.cf dl dt {
  border-left: solid 2px #111111;
  font-size: 120%;
  line-height: 100%;
  padding: 0 0 0 10px;
  margin: 0 auto 10px;
  text-align: left;
}
.dl01{
  width:55%;
  float:left;
}
.dl02{
  width:40%;
  float:right;
}

.block13 {
  margin-bottom:40px;
}
.block13 h2{
  margin-bottom:20px;
}
.block13 .flow {
  margin: 0 0 20px 0 ;
  padding: 0 10px ;
  text-align: center ;
}
.block13 .caution {
  margin: 10px 0 ;
  color: #ee0000 ;
}
.block13 .error {
  margin: 10px 0 0 0 ;
  color: #ee0000 ;
}
.block13 .form {
  padding: 0 10px ;
}
.block13 table {
  width: 100% ;
  border:solid 1px #d0d0d0;
  float:left;
  border-collapse: separate;
  border-spacing: 2px 2px ;
  margin: 0 auto 10px auto ;
}
.block13 th{
  display: block ;
  background:#f3f3f3;
  padding: 12px 10px 12px 70px ;
  border-bottom:solid 1px #d0d0d0;
  font-size: 14px ;
  color: #000000 ;
  white-space: nowrap ;
}
.block13 th.hissu {
  background: #f3f3f3 url(../img/form_icon_01.gif) 10px center no-repeat;
}
.block13 th.nini {
  background: #f3f3f3 url(../img/form_icon_02.gif) 10px center no-repeat;
}
.block13 td{
  display: block ;
  padding: 15px ;
  border-bottom:solid 1px #d0d0d0;
  font-size: 14px ;
  color: #333333 ;
}
.block13 td.last{
  border-bottom:none;
}
.block13 td input[type="text"],
.block13 td input[type="tel"],
.block13 td input[type="email"] {
  width: 45% ;
  background: #ffffff ;
  padding: 5px ;
  border: 1px solid #999999 ;
  font-size: 14px ;
}
.block13 td input[type="checkbox"] {
  margin: 0 5px 0 10px;
}
.block13 td select {
  background: #ffffff ;
  padding: 5px ;
  border: 1px solid #999999 ;
  font-size: 14px ;
}
.block13 td textarea {
  width: 96% ;
  background: #ffffff ;
  padding: 5px ;
  border: 1px solid #999999 ;
  font-size: 14px ;
}
.block13 .btn {
  text-align: center ;
}
.block13 .btn {
  width: 100% ;
  height: auto ;
  text-align: center ;
}
.block13 .btn input {
  width: 100% ;
  max-width: 420px ;
  margin: 0 auto 10px auto ;
  height: auto ;
}
.block13 .end {
  margin: 0 0 20px 0 ;
  text-align: center ;
}



.doctor2{
  margin-top:30px;
}
.doctor2 img.left{
  margin-right:2.5%;
  margin-bottom:2.5%;
}
.doctor2 .sp_right h3{
  float: left;
  width: 61%;
}
.doctor2 .sp_right{
  float:none;
  width:95%;
  margin:0 auto 2.5%;
}

/*=======================================================================
ページトップ
=======================================================================*/
#page-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
  z-index:99999999;
}


#f_wrapper {
  width: 100%;
  margin: 50px auto 0;
  text-align: center;
  background: #000;
  color: #FFF;
}
#f_wrapper p{
  padding:5px 0;
  font-size:85%;
  text-align:center;
}




.sp_none{
  display:none !important;
}

.btn_box2{
  background:url(../img/box_bg_sp.gif) no-repeat;
  background-size:100%;
  width:90%;
  padding:0 2.5% 7% 2.5%;
  margin:5% auto 0%;
}
.btn_box2 p.logo{
  width:60%;
  margin:0 auto;
  display:block;
  padding:5% 0;
}
.btn_box2 p.title{
  padding:0 0 5% 0;
}
.btn_box2 ul{
  padding:0 0 5% 0;
}
.btn_box2 li.left{
  float:left;
  width:35%;
}
.btn_box2 li.right{
  float:right;
  width:65%;
}
.btn_box2 p.tel{
  width:80%;
  margin:0 auto;
}
.btn_box2 a{
  display:block;
  margin:0 auto;
  width:80%;
  padding:5% 0;
}
.btn_box2 p.tel a{
  display:inline-block;
  width:100%;
  padding:0;
}
p.mt60{
  margin:5% 0 10% !important;
}


/*--attentionBox add160728--*/
.attentionBox {
  width: 80%;
  /*max-width: 360px;*/
  padding: 1em;
  margin: 0em auto 4em;
  border: 1px solid #999;
  text-align: center;
}
.attentionBox > dl > * {
  text-align: left;
}
.attentionBox dt {
  font-size: 1.3em;
  font-weight: bold;
  color: #ff9900;
  margin-bottom: 0.5em;
  text-align: center;
}







}
