@media only screen and (max-width: 768px) {

img{
	width:100%;
	height:auto;
}

body{
	font-size:80%;
	color:#111111;
	line-height:160%;
	background:#FFF;
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	letter-spacing:-0.5px;
	min-width:320px;
	-webkit-text-size-adjust: auto;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	min-width:320px;
	overflow:hidden;
}

#h_wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border-bottom:solid 2px #FFF;
}

header#PAGE_TOP {
	margin: 0 auto;
	position: relative;
	text-align: left;
	width:auto;
	background:#000;
height: auto !important;
}

#navi{
	display:none;
}

/*=======================================================================
ヘッダ
=======================================================================*/
#PAGE_TOP h1{
	margin:0 auto;
	padding:3% 0;
	background:#171717;
	position:relative;
	border-bottom:solid 2px #474747;
	top:auto;
	left:auto;
}
#PAGE_TOP h1 img{
	width:40%;
margin:0 0 0 5px;
	display:block;
/*
	margin:0 auto;
*/
}
#PAGE_TOP p{
	width:49.8%;
	float:left;
	position:relative;
	left:0;
	top:0;
}
	
#PAGE_TOP ul{
	position:static;
	top:auto;

}
#PAGE_TOP ul li.sp_ab{
	position:absolute;
	top:8%;
	right:5px;
	width:10%;
}
#PAGE_TOP ul li:first-child{
margin:0;}
#PAGE_TOP ul li.sp_ab1{
	position:absolute;
	top:8%;
	right:13%;
	width:18%;
}
#PAGE_TOP ul li.sp_ab1 img{

}
#PAGE_TOP ul li.sp_ab2{
	position:absolute;
	top:8%;
	right:32%;
	width:18%;
}
#PAGE_TOP ul li.sp_ab2 img{

}
#PAGE_TOP ul li.sp_right{
/*
	width:50.2%;
	float:right;
*/
}
	#PAGE_TOP ul li{
		margin:0;
	}

/*=======================================================================
トップページ　メイン
=======================================================================*/
/*====================

	全体・btn_box

====================*/
.cnt_wp article{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#727272;
	font-size:115%;
	line-height:180%;
	position:relative;
	letter-spacing:0.5px;
}
.sp_area{
	width:90%;
	margin:0 5%;
}
/*-----------------
   btn_box
-----------------*/
.btn_box{
	width:70%;
	margin:0 15%;
}
.btn_box dl dt{
	margin-bottom:5%;
}
/*====================

	block02

====================*/
.block02{
	margin:15% 0 10%;
	border-bottom:1px solid #dfdfdf;
	padding-bottom:8%;
}
.block02 p{
	text-align:center;
}
.block02 img.sp_block02_img01{
	margin:5% 0;
}
.block02 p.color_text{
	color:#fb667e;
	font-size:130%;
	letter-spacing:1px;
}
.link_box {
	position:relative;
}
.link_box p{
	position:absolute;
}
.link_box p.link01{
    top: 20.5%;
    left: 4%;
    width: 27%;
}
.link_box p.link02{
    top: 26.5%;
    right: 15%;
    width: 27%;
}
.link_box p.link03{
    top: 41.5%;
    right: 15%;
    width: 27%;
}
.link_box p.link04{
    top: 56.5%;
    right: 15%;
    width: 27%;
}
.link_box p.link05{
    bottom: 6%;
    left: 4%;
    width: 26%;
}
.link_box p.link06{
    bottom: 6%;
    right: 16%;
    width: 26%;
}
/*====================

	article block

====================*/
/*-----------------
   h2
-----------------*/
.block02 h2,
.block03 h2,
.block04 h2,
.block06 h2,
.block07 h2,
.block09 h2,
.block10 h2,
.block11 h2,
.block12 h2{
	margin-bottom:20px;
}
/*-----------------
   con_top
-----------------*/
.con_top{
	margin-bottom:20px;
}
.con_top .left_area dl{
	margin-bottom:20px;
}
.con_top .left_area dl dt{
	border-top:2px solid #473b66;
	border-bottom:2px solid #473b66;
	padding:3px 0;
	margin-bottom:20px;
}
.con_top .left_area dl dt p{
	border-top:1px solid #473b66;
	border-bottom:1px solid #473b66;
	background:url(../img/title_icon02.png) no-repeat 0 center;
	color:#ff526e;
	padding:15px 5% 10px 50px;
	line-height:150%;
	font-size:110%;
}
.con_top .left_area dl dd{
	line-height:140%;
}
.img_text p{
    line-height: 135%;
    margin-top: 10px;
    font-size: 95%;
}
.img_text p.text01{
	width:45%;
	float:left;
}
.img_text p.text02{
	width:45%;
	float:right;
}



.right_area_koukoku img{
	display:block;
	margin:0 auto !important;
	float:none !important;
	width:50%;
}
.right_area_koukoku p{
	float:none !important;
	margin:10px auto 0;
	line-height:140%;
	width:65%;
}




/*-----------------
   con_center
-----------------*/
.con_center{
	background:#f6f6fc;
	margin-bottom:10%;
}
.con_center h3{
	border-top:2px solid #473b66;
	border-bottom:2px solid #473b66;
	color:#473b66;
	padding:10px 0;
	background:#fff;
	line-height:150%;
	font-size:110%;
}
.con_center table{
	width:90%;
	margin:5%;
}
.con_center table th{
	width:40%;
	vertical-align:top;
}
.con_center table td{
	padding-left:5%;
	line-height:140%;
}
.con_center table td span{
	font-size:110%;
	display:block;
	margin-bottom:5px;
}
/*-----------------
   faq_area
-----------------*/
.faq_area{
	margin-bottom:10%;
}
.faq_area h3{
	margin-bottom:8%;
}
.faq_area ul li p {
    border-bottom:1px dashed #7f7f7f;
    cursor: pointer;
    position: relative;
    background: url(../img/faq_icon_off.png) no-repeat right 10px bottom 5px;
    font-size:110%;
    padding:2px 11% 9px 60px;
    text-align:left;
    margin-bottom:10px;
    line-height:120%;
}
.faq_area ul li p:before {
	content:url(../img/faq_q.png);
	position:absolute;
	left:0;
	bottom: 5%;
}
.faq_area ul li p.active{
	background:url(../img/faq_icon_on.png) no-repeat right 13px top;
}
.faq_area ul li ul li{
	padding:0 30px 5% 60px;
}

/*-----------------
   con_bottom
-----------------*/
.con_bottom{
	margin-bottom:10%;
}
.con_bottom h3{
	margin:0 auto 20px;
}
.con_bottom dl.price_box{
	margin:0 auto;
	border:2px solid #ffbbc6;
	border-radius:5px;
	padding:10px 5%;
}
.con_bottom dl.price_box dt{
	clear:both;
	float:left;
	height:auto;
	font-size: 95%;
	border-top:1px solid #ffbbc6;
	text-align: left;
	width: 60%;
}
.con_bottom dl.price_box dt:first-child,
.con_bottom dl.price_box dd:nth-child(2){
	border-top:none !important;
}
.con_bottom dl.price_box dd{
	float:right;
	width: 40%;
	font-size: 90%;
	border-top:1px solid #ffbbc6;
	text-align:right;
}
.con_bottom dl.price_box dd span{
	font-size:80%;
}
/*====================

	block03

====================*/
.block03{
	margin-top:10%;
}
.block03 h2{
	margin-bottom:20px;
}
.block03 .con_top .left_area dl dt p{
	color:#dd4d87;
}
.block03 .faq_area ul li p {
    background: url(../img/faq_icon_02_off.png) no-repeat right 10px bottom 5px;
}
.block03 .faq_area ul li p.active{
	background:url(../img/faq_icon_01_off.png) no-repeat right 10px bottom 5px;
}

/*====================

	block04

====================*/
.block04{
	margin:10% 0;
}
.block04 .con_link{
	margin-bottom:5%;
}
.block04 .con_link td{
	width:28%;
	padding:0 1%;
}
.block04 .con_middle h3{
	margin:10% 0 20px;
}
.block04 .con_middle p{
	margin-bottom:20px;
}
.block04 .con_top .left_area dl dt p{
	color:#ff9732;
}

/*====================

	block05

====================*/
.block05{
	margin-top:10%;
}
.block05 .faq_area ul li p {
    background: url(../img/faq_icon_03_off.png) no-repeat right 10px bottom 5px;
}
.block05 .faq_area ul li p.active{
	background:url(../img/faq_icon_04_off.png) no-repeat right 10px bottom 5px;
}
.block05 .con_bottom dl.price_box{
	border:2px solid #ffcb98;
}
.block05 .con_bottom dl.price_box dt,
.block05 .con_bottom dl.price_box dd{
	border-top: 1px solid #ffcb98;
}
/*====================

	block06

====================*/
.block06{
	margin-top:15%;
}
.block06 .con_top .left_area dl dt p{
	background:url(../img/title_icon02.png) no-repeat 0 center;
	color:#3d80c4;
}
.block06 .con_top table th{
	width:30%;
	vertical-align:top;
}
.block06 .con_top table td{
	padding-right:5%;
}
.block06 .con_center div.text_area{
	padding:5%;
}
.block06 .con_center div.text_area img{
	margin-bottom:5%;
}
.block06 .con_center div.text_area p{
	font-size:90%;
	line-height:110%;
}
.block06 .faq_area ul li p {
    background: url(../img/faq_icon_05_off.png) no-repeat right 10px bottom 5px;
}
.block06 .faq_area ul li p.active{
	background:url(../img/faq_icon_06_off.png) no-repeat right 10px bottom 5px;
}
.block06 .con_bottom dl.price_box{
	border:2px solid #9ebfe1;
}

/*====================

	block07

====================*/
.block07{
	margin-top:15%;
}
.block07 .sp_text_area{
	padding:10%;
}
.block07 .sp_text_area p{
	margin:20px 0 0;
}
.block07 .con_top .left_area dl dt p{
	color:#31bb52;
}
.block07 .con_top table td {
    padding-right: 5%;
}
.block07 .con_top table th {
    width: 40%;
    vertical-align: top;
}
.block07 .faq_area ul li p {
    background: url(../img/faq_icon_07_off.png) no-repeat right 10px bottom 5px;
}
.block07 .faq_area ul li p.active{
	background:url(../img/faq_icon_08_off.png) no-repeat right 10px bottom 5px;
}
.block07 .con_bottom dl.price_box{
	border:2px solid #98dda8;
}


/*====================

	block08

====================*/
.block08{
	margin-top:15%;
	background:#f5f5fc;
	padding:10% 0;
}
.block08 h2{
	margin-bottom:8%;
}
.block08 table{
	width:100%;
	margin-bottom:5%;
}
.block08 table.tbl03{
	margin-bottom:10%;
}
.block08 table th{
	width:20%;
	vertical-align:top;
	padding-right:10px;
}
.block08 table td{
	background:url(../img/sp_block08_huki_left.png) no-repeat 0 0;
	background-size:100% 100%;
	padding:5% 5% 5% 10%;
	line-height: 140%;
}
.block08 table.tbl02 th{
	padding-left:5px;
}
.block08 table.tbl02 td{
	background:url(../img/sp_block08_huki_right.png) no-repeat 0 0;
	background-size:100% 100%;
	padding:5% 10% 5% 5%;
}
/*====================

	block09

====================*/
.block09{
	margin-top:15%;
}
.block09 p.top_text{
	text-align:center;
	margin-bottom:20px;
}
.block09 .tbl_area{
	margin-bottom:10%;
}
.block09 .tbl_area p{
	margin-bottom:20px;
}
.block09 .tbl_area table{
	margin-bottom:20px;
}
.block09 .tbl_area table th{
	width:30%;
	vertical-align:top;
}
.block09 .tbl_area table td{
	padding-left:5%;
	line-height:140%;
}
.block09 .tbl_area .link{
	margin-top:20px;
}
.block09 .tbl_area .link dt{
	margin-bottom:10px;
}
.block09 .tbl_area .link dt p{
	float:left;
	width:32%;
	font-size:85%;
	line-height:120%;
	margin:0;
}
.block09 .tbl_area .link dt img{
	float:none;
	width:auto%;
}
/*====================

	block10

====================*/
.block10{
	margin-top:15%;
	background:#f5f5fc;
	padding:10% 0;
}
.block10 p.top_text{
	text-align:center;
	margin-bottom:20px;
}
.block10 .slider_area{
	margin-bottom:10%;
}
.block10 .slider_area ul li{
	/*padding-left:1px;
	margin-left:1px;*/
}
/*====================

	block11

====================*/
.block11{
	margin-top:15%;
}
.block11 p.top_text{
	text-align:center;
	margin-bottom:20px;
}
.block11 .rinen_area dl{
	margin-bottom:10%;
}
.block11 .rinen_area dl dt{
	margin-bottom:20px;
}
.block11 .rinen_area dl dd{
	line-height:140%;
}
.block11 .rinen_area dl dd img{
	margin-bottom:10px;
}
/*====================

	block12

====================*/
.block12{
	margin-top:5%;
	margin-bottom:10%;
}
.block12 p.top_text{
	text-align:center;
	margin-bottom:20px;
}
.block12 .docter{
	padding: 0 0 20px 0 ;
	border-top:1px solid #473b66;
}
.block12 .docter:last-child{
	border-bottom:1px solid #473b66;
}
.block12 .docter .photo {
	width: 50% ;
	margin: 20px auto ;
}
.block12 .docter dl {
	margin: 0 ;
	line-height: 1.8 ;
}
.block12 .docter dl dt.title {
	text-align:left;
	font-size:14px;
	line-height:22px;
	margin-bottom:10px;
	letter-spacing:0.5px;
	color:#484848;
	background:url(../img/block12_line.png) no-repeat 0 bottom;
	padding:0 0 5px;
}
.block12 .docter dl dd{
	text-align:left;
}
.block12 .docter dl dd dl {
	width: 100% ;
}
.block12 .docter dl dd dl dt{
	clear: both ;
	float: left ;
	width: 120px ;
	margin: 0 ;
	padding: 0 ;
}
.block12 .docter dl dd dl dd {
	margin: 0 0 0 120px ;
	padding: 0 ;
}
.block12 .docter .short dl.left_box,
.block12 .docter .short dl.right_box{
	margin: 0 0 20px 0 ;
}
.block12 .docter dl dd ul{
	margin:0;
	padding:0;
}
.block12 .docter dl dd ul li{
	width:45%;
	float:left;
	padding-right:5%;
	word-break:break-all;
}

/*====================

	block13

====================*/
.block13{
	margin-top:15%;
	margin-bottom:5%;
}
.block13 h2{
	margin-bottom:8%;
}
.block13 iframe{
	width:100%;
	height:auto;
}
.block13 .access_area{
	margin-top:20px;
}
.block13 .access_area dl{
	margin-bottom:5%;
}
.block13 .access_area dl dt{
	margin-bottom:5%;
}
.block13 .access_area dl dd{
	text-align:left;
	line-height:140%;
}
.block13 .access_area dl dd p{
	margin-bottom:10px;
}
.block13 .access_area dl dd p span{
	display:inline-block;
	border:1px solid #cccccc;
	height:auto;
	width:23%;
	text-align:center;
	margin-right:10px;
}
/*====================

	block14

====================*/
.block14{
	margin-top:15%;
	background:#f5f5fc;
	padding:10% 0;
}
.block14 h2{
	margin-bottom:8%;
}
.block14 img.flow_img{
	margin-bottom:20px;
}
.block14 p.caution{
	color:#ff567a;
	margin-bottom:20px;
	line-height:140%;
}
.block14 table{
	border:none;
	border:1px solid #e0e0e0;
	border-bottom:none;
	background:#fff;
	width:100%;
}
.block14 table th{
	border:none;
	vertical-align:middle;
    display: block;
    padding: 12px 10px 12px 70px;
    white-space: nowrap;
}
.block14 table th.hissu{background:url(../img/block14_icon01.png) no-repeat 10px center;}
.block14 table th.nini{background:url(../img/block14_icon02.png) no-repeat 10px center;}
.block14 table td{
	border:none;
	border-bottom:1px solid #e0e0e0;
	display: block;
    padding: 5px 15px 15px;
}
.block14 table tr:nth-child(1) td input[type=text],
.block14 table tr:nth-child(2) td input[type=tel],
.block14 table tr:nth-child(3) td input[type=email],
.block14 table tr:nth-child(4) td input[type=text],
.block14 table tr:nth-child(5) td input[type=text]{
	width:90%;
	padding:5px 15px;
}
.block14 table td select{
	padding:5px 15px;
	margin-top:10px;
}
.block14 table td.radiostyle label{
	display:inline-block;
	width:50%;
}
.block14 table td.radiostyle label input[type=checkbox]{
	margin-right:5%;
}
.block14 table td.last textarea{
	padding:15px;
	width:90%;
}
.block14 p.btn{
	text-align:center;
	margin:20px auto 0;
	width:80%;
}
/*====================

	block15

====================*/
.block15{
	padding-top:5%;
}
.block15 p{
	color:#fb657d;
	text-align:center;
	letter-spacing:1px;
	font-size:120%;
}
/*====================

	block16
	確認画面

====================*/
.block16{
	width:95%;
	margin:0 auto;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.block16 h2{
	width:95%;
	margin: 40px auto 10px auto ;
	text-align: center ;
}
.block16 .flow {
	margin: 0 0 20px 0 ;
	padding: 0 ;
	text-align: center ;
}
.block16 .caution {
	margin: 10px 0 ;
	color: #ee0000 ;
}
.block16 .error {
	margin: 10px 0 0 0 ;
	color: #ee0000 ;
}
.block16 .form {
	padding: 0 ;
}
.block16 table {
	width: 100% ;
	float:left;
	border-right:solid 1px #dddddd ;
	border-bottom:solid 1px #dddddd ;
	border-collapse: collapse ;
	border-spacing: 0px ;
	margin: 0 auto 10px auto ;
}
.block16 th{
	display: block ;
	background:#f3f3f3;
	padding: 12px 10px 12px 70px ;
	border-top:solid 1px #dddddd ;
	border-left:solid 1px #dddddd ;
	font-size: 14px ;
	color: #707070 ;
	white-space: nowrap ;
}
.block16 th.hissu {
	background: #f3f3f3 url(../img/block14_icon01.png) 10px center no-repeat;
}
.block16 th.nini {
	background: #f3f3f3 url(../img/block14_icon02.png) 10px center no-repeat;
}
.block16 td{
	display: block ;
	padding: 15px ;
	border-top:solid 1px #dddddd ;
	border-left:solid 1px #dddddd ;
	font-size: 12px ;
	color: #707070 ;
}
.block16 td.last{
	border-bottom:none;
}
.block16 td input[type="text"],
.block16 td input[type="tel"],
.block16 td input[type="email"] {
	width: 45% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block16 td input[type="checkbox"] {
	margin: 0 5px 0 10px;
}
.block16 td select {
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block16 td textarea {
	width: 96% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block16 .btn {
	text-align: center ;
}
.block16 .btn {
	width: 100% ;
	height: auto ;
	text-align: center ;
}
.block16 .btn input {
	width: 100% ;
	max-width: 420px ;
	margin: 0 auto 10px auto ;
	height: auto ;
}
.block16 .end {
	margin: 0 0 20px 0 ;
	text-align: center ;
}
.block16 .form_end {
	margin: 10px auto ;
}




/*=======================================================================
ページトップ
=======================================================================*/
#page-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
	z-index:99999999;
}


#f_wrapper {
	width: 100%;
	margin: 20px auto 0;
	text-align: center;
	background: #a5a5a5;
	color: #FFF;
}
#f_wrapper p{
	padding:5px 0;
	font-size:85%;
	text-align:center;
	background:url(../img/footer_back.gif) repeat-x 0 0;

}




.sp_none{
	display:none !important;
}








.btn_box2{
	background:url(../img/box_bg01_sp.gif) no-repeat;
	background-size:100% 100%;
	width:85%;
	padding:5% 4% 5%;
	margin:5% auto 50px;
	position:relative;
}
.btn_box2 p.logo img{
	width:100%;
	margin:-55px auto 0;
	display:block;
	padding:5% 0;
}
.btn_box2 p.title img{
	width:50%;
	margin:-23px auto 0;
	display:block;
	padding:0 0 5% 0;
}
.btn_box2 ul{
	padding:0 0 5% 0;
}
.btn_box2 li.left{
	float:left;
	width:31%;
}
.btn_box2 li.right{
	float:right;
	width:63%;
}
.btn_box2 li.right img.pt_15{
	padding-top:15%;
}
.btn_box2 p.tel{
	width:80%;
	margin:0 auto;
}
.btn_box2 a{
	display:block;
	margin:0 auto;
	width:80%;
	padding:5% 0;
}
.btn_box2 p.tel a{
	display:inline-block;
	width:100%;
	padding:0;
}
p.mt60{
	margin:5% 0 10% !important;
}
.btn_box2 .tel_box{
	background:url(../img/tel_back_sp.gif) no-repeat;
	background-size:100% 100%;
	padding-top:5%;
}






#sp_header #logo{
	text-align:center;
	border-bottom:1px solid #FFF;
	padding:12px 0;
	background:#ef85bd;
}
#sp_header .header_tel{
	float:left;
	width:70.6%;
	text-align:center;
	background:#FFF;
}

#sp_header .header_tel img{
	width:80%;
	padding:0px 0 0px 0;
}
#sp_header .header_tel a{
	display:block;
}
#sp_header .btn{
	float:right;
	width:29%;
	background:#cb71a1;	
	text-align:center;
}
#sp_header .btn a{
	display:block;
}
#sp_header .btn img{
	width:68%;
	padding:0px 0 0px 0;
}

#sp_header .bdbm{
	border-top:1px solid #cb71a1;
	border-bottom:1px solid #cb71a1;
}




}
