@charset "UTF-8";
@media only screen and (min-width: 768px) {
body{
	font-size:13px;
	color:#111111;
	line-height:160%;
	background:#FFF;
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	letter-spacing:-0.5px;
	min-width:1200px;
}
/*
a img:hover{
	-moz-opacity:0.7;
	opacity:0.7;
}
*/

#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#h_wrapper {
	width: 100%;
	height:85px;
	margin: 0 auto;
	text-align: center;
	background:#171717;
	border-bottom:solid 2px #b39952;
	position:fixed;
	top:0;
	left:0;
	z-index:99999;
}

header#PAGE_TOP {
	width: 1200px;
	height:85px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

.cnt_wp {
	width: 100%;
	margin:0 auto;
	padding: 85px 0 50px;
	text-align: center;
	min-width:1200px;
	overflow:hidden;
}
#f_wrapper {
	width: 100%;
	height:46px;
	margin: 0 auto;
	text-align: center;
	background:url(../img/footer_back.gif) repeat-x 0 0;
	color:#FFF;
}

footer#f_cnt {
	width: 1200px;
	height:46px;
	margin: 0 auto;
	position: relative;
	text-align: left; 
}

/*=======================================================================
ヘッダ
=======================================================================*/
#PAGE_TOP h1{
	position:absolute;
	top:20px;
	left:24px;
	color:#fff;
}
#PAGE_TOP p{
	position:absolute;
	top:16px;
	right:400px;
}
#PAGE_TOP ul{
	position:absolute;
	top:23px;
	right:0;
}
#PAGE_TOP ul li{
	float:left;

}

#PAGE_TOP ul li.sp_ab{
	margin:0 0 0 10px;
}
/* header 
--------------------------------------------------------------- */

#header_bg{
	background:url(../img/bust/header_bg02.gif) center top repeat-y;
	margin:0 0 1px 0;
}
#header{
	width:1200px;
	height:71px;
	margin:0 auto;
	background:url(../img/bust/header_bg01.gif) left top repeat-y;
}
#header .logo{
	float:left;
	width:251px;
	padding:13px 0 0 25px;
}
#header .header_right{
	width:710px;
	float:right;
}
#header .header_right .tel{
	width:208px;
	float:left;
	padding:13px 0 0 0;
}
#header .header_right .btn{
	width:249px;
	float:right;
	padding:13px 0 0 0;
}
#header .header_right .btn02{
	width:66px;
	float:right;
	padding:13px 0 0 0;
	text-align:right;
	margin:0 0 0 10px;
}






/*=======================================================================
トップページ　メイン
=======================================================================*/
/*====================

	全体・btn_box

====================*/
.cnt_wp article{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#727272;
	font-size:13px;
	line-height:21px;
	position:relative;
}
/*-----------------
   btn_box
-----------------*/
.btn_box{
	width:1200px;
	margin:0 auto;
}
.btn_box dl{
	float:right;
}
.btn_box dl dt{
	float:left;
	border-right: dotted 1px #4c4c4c;
	padding:7px 30px 7px 0px;
}
.btn_box dl dd{
	float:left;
	padding:5px 0 6px 30px;
}
.btn_box dl dd a img:hover{
	opacity:0.7;
}
.btn_box01{margin-bottom:130px;}
.btn_box02{margin-bottom:130px;}
.btn_box03{margin-bottom:70px;}
.btn_box04{margin-bottom:130px;}
.btn_box05{margin-bottom:130px;}
.btn_box06{margin-bottom:110px;}
.btn_box07{margin-bottom:65px;}
.btn_box08{margin-bottom:90px;}
.btn_box09{margin-bottom:85px;}

/*====================

	block01

====================*/
.block01{
	margin:0 auto 95px;
}

/*====================

	block02

====================*/
.block02{
	border-bottom:1px solid #dfdfdf;
	margin-bottom:30px;
}
.block02_in{
	width:1200px;
	margin:0 auto;
}
.block02 img{
	display:block;
	margin:0 auto 40px;
}
.block02 p{
	font-size:18px;
	line-height:34px;
	text-align:center;
}
.block02 p.color_text{
	font-size:21px;
	line-height:38px;
	color:#fb667e;
	letter-spacing:1px;
	margin-bottom:40px;
}
.block02 .main_box{
	margin:40px auto 35px;
	position:relative;
	text-align:left;
	height: 666px;
}
.block02 .main_box img.woman{
	position:absolute;
	top:50px;
	left:398px;
	z-index:999;
}
/*-----------------
   box
-----------------*/
.block02 .main_box .box{
	border-color:#473b66;
	border-style:solid;
	border-width:5px 1px 1px;
	border-radius:5px;
	padding-bottom:20px;
}
.block02 .main_box .box01{
	width:425px;
	position:absolute;
	top:0;
	left:0;
}
.block02 .main_box .box02{
	width:425px;
	position:absolute;
	top:0;
	right:0;
}
.block02 .main_box .box03{
	width:425px;
	position:absolute;
	top: 210px;
	left:0;
}
.block02 .main_box .box04{
	width:425px;
	position:absolute;
	top: 465px;
	left:0;
}
.block02 .main_box .box img.point{
	position:absolute;
	left: 25px;
	top:-10px;
}
.block02 .main_box .box h3{
	background:#f5f5fc;
	height:52px;
	line-height:52px;
	font-size:23px;
	padding-left: 110px;
}
.block02 .main_box .box01 h3{
	color:#dd4d87;
}
.block02 .main_box .box02 h3{
	color:#ff9732;
}
.block02 .main_box .box03 h3{
	color:#3d80c4;
}
.block02 .main_box .box04 h3{
	color:#31bb52;
}
.block02 .main_box .box dl{
	margin:15px 50px 15px 35px;
}
.block02 .main_box .box dl dt{
	background:url(../img/title_icon01.png) no-repeat left center;
	font-size:19px;
	padding-left:35px;
	margin-bottom:15px;
}
.block02 .main_box .box dl dd{
	letter-spacing:1px;
}
.block02 .main_box .box a{
	display:block;
	font-size:13px;
	width:93px;
	height:28px;
	line-height:28px;
	color: #fff;
	text-decoration:none;
	padding-left:35px;
	margin-left:35px;
	letter-spacing:0.5px;
}
.block02 .main_box .box01 a{
	background:#eea6c3 url(../img/link_icon02_off.png) no-repeat 20px center;
}
.block02 .main_box .box02 a{
	background:#ffc184 url(../img/link_icon02_off.png) no-repeat 20px center;
}
.block02 .main_box .box03 a{
	background:#8bb3dc url(../img/link_icon02_off.png) no-repeat 20px center;
}
.block02 .main_box .box04 a{
	background:#6ecf86 url(../img/link_icon02_off.png) no-repeat 20px center;
}
.block02 .main_box .box01 a:hover{
	background:#dd4d87 url(../img/link_icon02_off.png) no-repeat 20px center;
}
.block02 .main_box .box02 a:hover{
	background:#ff9732 url(../img/link_icon02_off.png) no-repeat 20px center;
}
.block02 .main_box .box03 a:hover{
	background:#3d80c4 url(../img/link_icon02_off.png) no-repeat 20px center;
}
.block02 .main_box .box04 a:hover{
	background:#31bb52 url(../img/link_icon02_off.png) no-repeat 20px center;
}
.block02 .main_box .box hr{
	border:none;
	border-bottom:1px dashed  #4c4c4c;
	margin:17px 35px 15px;
}

/*====================

	article block

====================*/
/*-----------------
   h2
-----------------*/
.block03 h2,
.block04 h2,
.block06 h2,
.block07 h2{
	border-top:9px solid #473b66;
	background:#f5f5fc;
	text-align:center;
	font-size:34px;
	color:#ff8d9c;
	padding:43px 0 42px;
	position:relative;
	margin-bottom:65px;
	letter-spacing: 5px;
}

/*-----------------
   con_top
-----------------*/
.con_top{
	margin-bottom:65px;
}
.con_top .left_area{
	width:580px;
	float:left;
}
.con_top .left_area dl dt{
	border-top:2px solid #473b66;
	border-bottom:2px solid #473b66;
	padding:3px 0;
	margin-bottom:30px;
}
.con_top .left_area dl dt p{
	border-top:1px solid #473b66;
	border-bottom:1px solid #473b66;
	background:url(../img/title_icon02.png) no-repeat 0 15px;
	font-size:24px;
	line-height:33px;
	color:#ff526e;
	padding:15px 0 10px 50px;
}
.block03 .con_top .left_area dl dt p{
	color:#dd4d87;
}

.con_top .left_area dl dd{
	line-height:24px;
	letter-spacing:0.5px;
}
.con_top .right_area{
	float:right;
}


.right_area_koukoku img{
	display:block;
	margin:0 auto !important;
	float:none !important
}
.right_area_koukoku p{
	float:none !important;
	width:280px !important;
	margin:0 auto;
}

/*-----------------
   con_center
-----------------*/
.con_center{
	background:#f6f6fc;
	margin-bottom:60px;
}
.con_center h3{
	border-top:2px solid #473b66;
	border-bottom:2px solid #473b66;
	font-size:21px;
	color:#473b66;
	padding:15px 0 14px;
	background:#fff;
}
.con_center .left_area{
	float:left;
	width:495px;
	padding:30px 25px 35px 80px;
}
.con_center .right_area{
	float:right;	
	width:495px;
	padding:30px 80px 35px 25px;
}
.con_center .box img{
	float:left;
	margin-right:15px;
}
.con_center .box dl dt{

	font-size:18px;
	text-align:left;
	margin-bottom:20px;
}
.con_center .box dl dd{
	line-height:22px;
	letter-spacing:0.5px;
}
/*-----------------
   faq_area
-----------------*/
.faq_area h3{
	margin:0 auto 50px;
}
.faq_area .left_area{
	width:575px;
	float:left;
	padding-right:25px;
}
.faq_area .right_area{
	width:575px;
	float:right;
	padding-left:25px;
}
.faq_area ul li p {
    border-bottom:1px dashed #7f7f7f;
    cursor: pointer;
    position: relative;
	background:url(../img/faq_icon_02_off.png) no-repeat right 13px top;
	font-size:13px;
	padding:2px 0 9px 60px;
	text-align:left;
	margin-bottom:10px;
}
.faq_area ul li p:before {
	content:url(../img/faq_q.png);
	position:absolute;
	left:0;
	top:0;
}
.faq_area ul li p.active{
	background:url(../img/faq_icon_01_off.png) no-repeat right 13px top;
}
.faq_area ul li ul li{
	padding:0 30px 30px 60px;
}
.faq_area ul li p:hover{
	background:url(../img/faq_icon_02_on.png) no-repeat right 13px top;
}
.faq_area ul li p.active:hover{
	background:url(../img/faq_icon_01_on.png) no-repeat right 13px top;
}

/*-----------------
   con_bottom
-----------------*/
.con_bottom{
	margin-bottom:35px;
}
.con_bottom h3{
	margin:0 auto 50px;
}
.con_bottom dl.price_box{
	width:940px;
	margin:0 auto;
	border:2px solid #ffbbc6;
	border-radius:5px;
	padding:10px 0;
}
.con_bottom dl.price_box dt{
	clear: both;
    float: left;
    height: 47px;
    line-height: 47px;
    font-size: 18px;
    border-top: 1px solid #ffbbc6;
    margin-left: 75px;
    text-align: right;
    padding-left: 0;
    width: 395px;
}
.con_bottom dl.price_box dt:first-child,
.con_bottom dl.price_box dd:nth-child(2){
	border-top:none !important;
}
.con_bottom dl.price_box dd{
	float: right;
    width: 395px;
    height: 47px;
    line-height: 47px;
    font-size: 18px;
    border-top: 1px solid #ffbbc6;
    margin-right: 75px;
    text-align: center;
}
.con_bottom dl.price_box dd span{
	font-size:12px;
}

/*====================

	block03

====================*/
.block03_in{
	width:1200px;
	margin:0 auto;
}
.block03 h2{
	color:#dd4d87;
}
.block03 h2 img{
	position:absolute;
	top:-17px;
	left:50%;
	margin-left: -390px;
}
.block03 .con_top{
	margin-bottom:40px;
}
.block03 .con_top .left_area{
	padding-top:30px;
}
.block03 .con_top .right_area{
	width:550px;
}
.block03 .con_top .right_area img{
	padding-right:5px;
}
.block03 .con_top .right_area p{
	width:230px;
	margin-top:10px;
}
.block03 .con_top .right_area p.text01{
	float:left;
}
.block03 .con_top .right_area p.text02{
	float:right;
}
.block03 .faq_area{
	margin-bottom:60px;
}

/*====================

	block04

====================*/
.block04_in{
	width:1200px;
	margin:0 auto;
}
.block04 h2{
	color:#ff9732;
}
.block04 h2 img{
	position:absolute;
	top:-17px;
	left:50%;
	margin-left: -390px;
}
.block04 .con_top .left_area dl dt p{
	color:#ff9732;
}
.block04 .con_link{
	margin-bottom:95px;
}
.block04 .con_link a img{
	margin-right:30px;
}
.block04 .con_link a img:hover{
	opacity:0.7;
}
.block04 .con_link a img.none_mr{
	margin-right:0;
}
.block04 .con_middle{
	width:1100px;
	margin:0 auto 65px;
}
.block04 .con_middle03{
	margin-bottom:35px;
}
.block04 .con_middle h3{
	border-top:2px solid #473b66;
	border-bottom:2px solid #473b66;
	padding:3px 0;
	margin:0 auto 45px;
	position:relative;
	width:1020px;
}
.block04 .con_middle h3 span{
	display:block;
	border-top:1px solid #473b66;
	border-bottom:1px solid #473b66;
	font-size:26px;
	line-height:33px;
	color:#ff9732;
	padding:30px 0 9px 50px;
	letter-spacing: 2px;
}
.block04 .con_middle h3 span:before{
	content:url(../img/title_icon02.png);
	padding-right:15px;
	vertical-align:sub;
}
.block04 .con_middle h3 img{
	position:absolute;
	top:-25px;
	left:50%;
	margin-left:-275px;
}
.block04 .con_middle .text_area{
	width:1020px;
	margin:0 auto;
}
.block04 .con_middle .text_area .text_area_right{
	width:465px;
	float:right;
	line-height:24px;
	letter-spacing:1px;
	padding-top:15px;
}
.block04 .con_middle .text_area .text_area_right img{
	float:right;
}
.block04 .con_middle .text_area .text_area_left{
	float:left;
	width:515px;
	margin-left:-15px;
}
.block04 .con_middle .text_area .text_area_left p{
	width:230px;
	margin-top:10px;
}
.block04 .con_middle .text_area .text_area_left p.text01{
	float:left;
}
.block04 .con_middle .text_area .text_area_left p.text02{
	float:right;
}
.block04 .con_middle02 .text_area .text_area_right{
	float:left;
	padding:0;
}
.block04 .con_middle02 .text_area .text_area_left{
	float:right;
	margin:0;
}
.block04 .con_middle02 .text_area p{
	float:left;
}
.block04 .con_middle02 .text_area img{
	float:right;
	margin-left:-15px;
}
.block04 .con_middle01,
.block04 .con_middle02,
.block04 .con_middle03{
	margin-top:-120px;
	padding-top:120px;
}
/*====================

	block05

====================*/
.block05_in{
	width:1200px;
	margin:0 auto;
}
.block05 .faq_area{
	margin-bottom:60px;
}
.block05 .faq_area ul li p {background:url(../img/faq_icon_03_off.png) no-repeat right 13px top;}
.block05 .faq_area ul li p.active{background:url(../img/faq_icon_04_off.png) no-repeat right 13px top;}
.block05 .faq_area ul li p:hover{background:url(../img/faq_icon_03_on.png) no-repeat right 13px top;}
.block05 .faq_area ul li p.active:hover{background:url(../img/faq_icon_04_on.png) no-repeat right 13px top;}
.block05 .con_bottom dl.price_box{
	border: 2px solid #ff9732;
}
.block05 .con_bottom dl.price_box dt,
.block05 .con_bottom dl.price_box dd{
	border-top:1px solid #ff9732;
}

/*====================

	block06

====================*/
.block06_in{
	width:1200px;
	margin:0 auto;
}
.block06 h2{
	color:#3d80c4;
}
.block06 h2 img{
	position:absolute;
	top:-17px;
	left:38%;
	margin-left: -510px;
}
.block06 .con_top .left_area dl dt p{
	color:#3d80c4;
}
.block06 .right_area{
	width:535px;
	float:right;
}
.block06 .right_area img{
	padding-right:10px;
}
.block06 .con_top .right_area p{
	width:230px;
	margin-top:10px;
}
.block06 .con_top .right_area p.text01{
	float:left;
}
.block06 .con_top .right_area p.text02{
	float:right;
}
.block06 .faq_area{
	margin-bottom:60px;
}
.block06 .faq_area ul li p {background:url(../img/faq_icon_05_off.png) no-repeat right 13px top;}
.block06 .faq_area ul li p.active{background:url(../img/faq_icon_06_off.png) no-repeat right 13px top;}
.block06 .faq_area ul li p:hover{background:url(../img/faq_icon_05_on.png) no-repeat right 13px top;}
.block06 .faq_area ul li p.active:hover{background:url(../img/faq_icon_06_on.png) no-repeat right 13px top;}
.block06 .con_bottom dl.price_box{
	border: 2px solid #3d80c4;
}
.block06 .con_top .left_area dl dd img{
	float:right;
	margin:0 0 0 50px;
}
.block06 .con_center div{
	padding:35px 0 45px 45px;
}
.block06 .con_center img{
	float:left;
	margin-right:65px;
}
.block06 .con_center img.none_mr{
	margin-right:0;
}

/*====================

	block07

====================*/
.block07_in{
	width:1200px;
	margin:0 auto;
}
.block07 h2{
	color:#31bb52;
}
.block07 h2 img{
	position:absolute;
	top:-17px;
	left:43%;
	margin-left: -470px;
}
.block07 .con_top .left_area dl dt p{
	color:#31bb52;
}
.block07 .left_area th{
	padding-left:10px;
}
.block07 .right_area{
	width:535px;
	float:right;
}
.block07 .right_area img{
	padding-right:10px;
}
.block07 .con_top .right_area p{
	width:230px;
	margin-top:10px;
}
.block07 .con_top .right_area p.text01{
	float:left;
}
.block07 .con_top .right_area p.text02{
	float:right;
}
.block07 .faq_area{
	margin-bottom:60px;
}
.block07 .faq_area ul li p {background:url(../img/faq_icon_07_off.png) no-repeat right 13px top;}
.block07 .faq_area ul li p.active{background:url(../img/faq_icon_08_off.png) no-repeat right 13px top;}
.block07 .faq_area ul li p:hover{background:url(../img/faq_icon_07_on.png) no-repeat right 13px top;}
.block07 .faq_area ul li p.active:hover{background:url(../img/faq_icon_08_on.png) no-repeat right 13px top;}
.block07 .con_bottom dl.price_box{
	border: 2px solid #31bb52;
}
.block07 .con_center div{
	position:relative;
	padding:108px 0 45px 110px;
	text-align:left;
}
.block07 .con_center div img{
	margin-bottom:15px;
}
.block07 .con_center div p{
	line-height:22px;
}
.block07 .con_center div p.number{
	position:absolute;
	font-size:15px;
	line-height:22px;
	padding-left:35px;
	top:50px;
}
.block07 .con_center div p.no01{
	background:url(../img/block07_no1.png) no-repeat 0 center;
	left:115px;
}
.block07 .con_center div p.no02{
	background:url(../img/block07_no2.png) no-repeat 0 center;
	left:465px;
}
.block07 .con_center div p.no03{
	background:url(../img/block07_no3.png) no-repeat 0 center;
	left:810px;
}

/*====================

	block08

====================*/
.block08{
	margin-bottom:85px;
	background:#f5f5fc;
}
.block08_in{
	width:1200px;
	margin:0 auto;
	padding:70px 0 75px;
}
.block08 h2{
	margin-bottom:35px;
}
.block08 .huki{
	width:1000px;
	margin:0 auto 25px;
}
.block08 .huki img{
	float:left;
}
.block08 .huki p{
	background:url(../img/block08_huki_left.png) no-repeat 0 center;
	width:760px;
	padding:19px 45px 18px 75px;
	font-size:14px;
	line-height:24px;
	letter-spacing:0.5px;
	float:right;
	margin-top:13px;
}
.block08 .huki02 img{
	float:right;
}
.block08 .huki02 p{
	background:url(../img/block08_huki_right.png) no-repeat 0 center;
	padding:20px 75px 19px 45px;
	float:left;
}

/*====================

	block09

====================*/
.block09_in{
	width:1200px;
	margin:0 auto;
}
.block09 h2{
	margin-bottom:50px;
}
.block09 p.top_text{
	text-align:center;
	font-size:15px;
	line-height:30px;
	margin-bottom:45px;
	letter-spacing:0.5px;
}
.block09 .flow_area{
	width:1000px;
	margin:0 auto;
}
.block09 .flow{
	margin-bottom:20px;
	padding-left:280px;
	min-height:215px;
}
.block09 .flow01{background:url(../img/block09_img01.png) no-repeat 0 0;}
.block09 .flow02{background:url(../img/block09_img02.png) no-repeat 0 0;}
.block09 .flow03{background:url(../img/block09_img03.png) no-repeat 0 0;}
.block09 .flow04{background:url(../img/block09_img04.png) no-repeat 0 0;}
.block09 .flow05{background:url(../img/block09_img05.png) no-repeat 0 0;}
.block09 .flow06{background:url(../img/block09_img06.png) no-repeat 0 0;}

.block09 .flow dl dt{
	border-bottom:1px dotted #7f7f7f;
	font-size:22px;
	padding:4px 0 14px 85px;
	text-align:left;
	margin-bottom:15px;
}
.block09 .flow01 dl dt{background:url(../img/block09_icon01.png) no-repeat left 0 bottom 9px;}
.block09 .flow02 dl dt{background:url(../img/block09_icon02.png) no-repeat left 0 bottom 9px;}
.block09 .flow03 dl dt{background:url(../img/block09_icon03.png) no-repeat left 0 bottom 9px;}
.block09 .flow04 dl dt{background:url(../img/block09_icon04.png) no-repeat left 0 bottom 9px;}
.block09 .flow05 dl dt{background:url(../img/block09_icon05.png) no-repeat left 0 bottom 9px;}
.block09 .flow06 dl dt{background:url(../img/block09_icon06.png) no-repeat left 0 bottom 9px;}

.block09 .flow dl dd{
	letter-spacing:0.5px;
}
.block09 .link{
	margin-top:15px;
}
.block09 .link dl{
	width:400px;
	float:left;
}
.block09 .link dl dt{
	font-size:14px;
	line-height:18px;
	float:left;
	background:none;
	padding:5px 0 0;
	border:none;
	margin:0 15px 0 0;
}
.block09 .link dl dd{
	border-left:1px dotted #7f7f7f;
	float:right;
	padding-left:15px;
}
.block09 .link a img{
	float:right;
} 
.block09 .link a img:hover{
	opacity:0.7;
}

/*====================

	block10

====================*/
.block10{
	margin-bottom:80px;
	background:#f5f5fc;
}
.block10_in{
	width:1200px;
	margin:0 auto;
	padding:85px 0 60px;
}
.block10 h2{
	margin-bottom:55px;
}
.block10 p.top_text{
	text-align:center;
	font-size:20px;
	line-height:36px;
	margin-bottom:30px;
	letter-spacing:0.5px;
}
.block10 .slider_area{
	margin-bottom:45px;
}
.block10 .slider_area ul li{
	width:400px !important;
	padding-left:1px;
	margin-left:1px;
}

/*====================

	block11

====================*/
.block11{
	margin-bottom:130px;
}
.block11_in{
	width:1200px;
	margin:0 auto;
}
.block11 h2{
	margin-bottom:35px;
}
.block11 p.top_text{
	text-align:center;
	font-size:15px;
	line-height:30px;
	margin-bottom:45px;
	letter-spacing:0.5px;
}
.block11 .rinen_area dl{
	width:373px;
	float:left;
	margin-right:40px;
}
.block11 .rinen_area dl.rinen03{
	float:right;
	margin-right:0;
}
.block11 .rinen_area dl dt{
	font-size:17px;
	line-height:24px;
	letter-spacing:1px;
	color:#484848;
	text-align:left;
	padding-left:110px;
	margin-bottom:20px;
}
.block11 .rinen_area dl.rinen01 dt{background:url(../img/block11_icon01.png) no-repeat 0 0;}
.block11 .rinen_area dl.rinen02 dt{background:url(../img/block11_icon02.png) no-repeat 0 0;}
.block11 .rinen_area dl.rinen03 dt{background:url(../img/block11_icon03.png) no-repeat 0 0;}
.block11 .rinen_area dl dd{
	font-size:13px;
	line-height:22px;
	letter-spacing:1px;
	text-align:left;
}
.block11 .rinen_area dl dd img{
	margin-bottom:15px;
}

/*====================

	block12

====================*/
.block12{
	margin-bottom:37px;
}
.block12_in{
	width:1200px;
	margin:0 auto;
}
.block12 h2{
	margin-bottom:35px;
}
.block12 p.top_text{
	text-align:center;
	font-size:15px;
	line-height:30px;
	margin-bottom:35px;
	letter-spacing:0.5px;
}
.block12 .docter_area{
	width:1000px;
	margin:0 auto;
}
.block12 .docter{
	position: relative ;
	border-top:2px solid #473b66;
	padding:30px 0 40px 190px;
}
.block12 .docter:last-child{
	border-bottom:2px solid #473b66;
}
.block12 .docter .photo {
	position: absolute ;
	top: 30px ;
	left: 0 ;
}
.block12 .docter dl dt.title {
	text-align:left;
	font-size:15px;
	line-height:22px;
	margin-bottom:20px;
	letter-spacing:0.5px;
	color:#484848;
	background:url(../img/block12_line.png) no-repeat 0 bottom;
	padding:0 0 5px;
}
.block12 .docter dl dd{
	text-align:left;
	font-size:13px;
	line-height:22px;
	letter-spacing:0.5px;
}
.block12 .docter dl dd dl {
	width: 100% ;
}
.block12 .docter dl dd dl dt{
	clear: both ;
	float: left ;
	width: 110px ;
}
.block12 .docter dl dd dl dd {
	margin: 0 0 0 110px ;
}
.block12 .docter dl dd ul{
	margin:0;
	padding:0;
}
.block12 .docter dl dd ul li{
	width:50%;
	float:left;
	word-break:break-all;
}
.block12 .docter .short{
	margin-bottom:45px;
}
.block12 .docter .short dl{
	width:392px;
}
.block12 .docter .short dl.left_box{
	float:left;
}
.block12 .docter .short dl.right_box{
	float:right;
}

/*====================

	block13

====================*/
.block13{
	margin-bottom:30px;
}
.block13_in{
	width:1200px;
	margin:0 auto;
}
.block13 h2{
	margin-bottom:45px;
}

.block13 .access_area{
	margin-top:25px;
}
.block13 .access_area dl{
	width:375px;
	float:left;
	margin-right:37px;
}
.block13 .access_area dl.access03{
	float:right;
	margin-right:0;
}
.block13 .access_area dl dt{
	font-size:15px;
	color:#fff;
	height:46px;
	line-height:46px;
	letter-spacing:0.5px;
	margin-bottom:15px;
	padding-left:28px;
}
.block13 .access_area dl.access01 dt{background:#b1b1b1 url(../img/block13_icon01.png) no-repeat 100px center;}
.block13 .access_area dl.access02 dt{background:#b1b1b1 url(../img/block13_icon02.png) no-repeat 100px center;}
.block13 .access_area dl.access03 dt{background:#b1b1b1 url(../img/block13_icon03.png) no-repeat 100px center;}

.block13 .access_area dl dd{
	text-align:left;
	font-size:13px;
	line-height:22px;
	letter-spacing:0.5px;
}
.block13 .access_area dl dd p{
	margin-bottom:6px;
}
.block13 .access_area dl dd p span{
	display:inline-block;
	border:1px solid #cccccc;
	height:20px;
	width:84px;
	text-align:center;
	line-height:20px;
	margin-right:10px;
}

/*====================

	block14

====================*/
.block14{
	background:#f5f5fc;
}
.block14_in{
	width:1000px;
	margin:0 auto;
	padding:80px 0 50px;
}
.block14 h2{
	margin-bottom:60px;
}
.block14 img.flow_img{
	margin-bottom:40px;
}
.block14 p.caution{
	font-size:14px;
	color:#ff567a;
	margin-bottom:15px;
}
.block14 table{
	border:none;
	border:1px solid #e0e0e0;
	border-bottom:none;
	width:100%;
	background:#fff;
}
.block14 table th{
	border:none;
	border-bottom:1px solid #e0e0e0;
	font-size:14px;
	padding:0 0 0 100px;
	vertical-align:middle;
	width:210px;
}
.block14 table th.hissu{background:url(../img/block14_icon01.png) no-repeat 33px center;}
.block14 table th.nini{background:url(../img/block14_icon02.png) no-repeat 33px center;}

.block14 table td{
	border:none;
	border-bottom:1px solid #e0e0e0;
	padding:15px 0;
}
.block14 table tr:nth-child(1) td input[type=text],
.block14 table tr:nth-child(2) td input[type=tel],
.block14 table tr:nth-child(3) td input[type=email]{
	width:370px;
	height:31px;
	padding:0 15px;
}
.block14 table tr:nth-child(6) td input[type=text],
.block14 table tr:nth-child(7) td input[type=text]{
	margin-right:7px;
	width:210px;
	height:31px;
	padding:0 15px;
}
.block14 table td select{
	width:130px;
	height:35px; 
	padding:0 10px;
}
.block14 table td.radiostyle label{
	width:120px;
	display:inline-block;
}
.block14 table td.radiostyle{
	padding:22px 0;
}
.block14 table td.radiostyle label input[type=checkbox]{
	width:20px;
	height:20px;
	margin-right:10px;
}
.block14 table td.last textarea{
	width:635px;
	padding:15px;
}
.block14 table tr:last-child th{
	vertical-align:top;
	padding-top:25px;
	background:url(../img/block14_icon02.png) no-repeat 33px 25px;
}
.block14 p.btn{
	text-align:center;
	margin-top:50px;
}
.block14 p.btn input:hover{
	opacity:0.7;
}
.block14 td input[type="radio"] {
	margin: 0 5px 0 10px;
	width: 20px;
    height: 20px;
}
.block14 td span {
    width: 40%;
    padding: 5px 10px 5px 0;
    display: inline-block;
    border: 1px solid #FFF;
}
.block14 td input.number {
    width: 10%;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #999999;
    font-size: 14px;
}



/*====================

	block15

====================*/
.block15{
	margin-top:50px;
}
.block15 p{
	font-size:24px;
	line-height:40px;
	color:#fb657d;
	text-align:center;
	letter-spacing:1px;
}





/*====================

	block16
	確認画面

====================*/
.block16{
	width:1200px;
	margin:80px auto 20px auto;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.block16 h2{
	margin:0 auto 20px auto;
}
.block16 .flow {
	margin: 40px 0 ;
	text-align: center ;
}
.block16 .caution {
	color: #ee0000 ;
}
.block16 .error {
	margin: 10px 0 0 0 ;
	color: #ee0000 ;
}
.block16 .form {
	width: 960px ;
	margin: 0 auto ;
}
.block16 table {
	width: 100% ;
	border:solid 1px #dddddd ;
	float:left;
	border-collapse: collapse ;
	border-spacing: 0px ;
	margin: 20px auto 40px auto ;
}
.block16 th {
	width: 25% ;
	background:#f3f3f3;
	padding: 20px 20px 20px 80px ;
	border:solid 1px #dddddd ;
	font-size: 14px ;
	color: #727272 ;
	white-space: nowrap ;
}
.block16 th.hissu {
	background: #f3f3f3 url(../img/block14_icon01.png) 15px center no-repeat;
}
.block16 th.nini {
	background: #f3f3f3 url(../img/block14_icon02.png) 15px center no-repeat;
}
.block16 td{
	width: 75% ;
	padding: 20px ;
	border:solid 1px #dddddd ;
	font-size: 14px ;
	color: #727272 ;
}
.block16 th.last,
.block16 td.last{
	border-bottom:none;
}
.block16 td input[type="text"],
.block16 td input[type="tel"],
.block16 td input[type="email"] {
	width: 40% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block16 td input[type="checkbox"] {
	margin: 0 5px 0 10px;
}
.block16 td select {
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block16 td textarea {
	width: 98% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block16 .btn {
	margin: 0 0 60px 0 ;
	text-align: center ;
}
.block16 .end {
	margin: 0 0 40px 0 ;
	text-align: center ;
}
.block16 .form_end {
	margin: 120px auto 0 auto ;
}
/*=======================================================================
サイドバー
=======================================================================*/

#navi {
	position:fixed;
	top:384px;
	right:0;
	width: 53px;
	background-color: rgba( 225, 0, 91, 0.80 );
	padding:20px 0;
	z-index:99999999999999999;
	-webkit-transform: translateY(-50%) translateZ(0);
	transform: translateY(-50%) translateZ(0);
}
#navi li {
	list-style-type: none;
	text-align: center;
}
#navi li a {
	padding: 5px 0;
	display: block;
	text-decoration: none;
	color:#ff70aa;
	font-size:10px;
}
#navi li a:hover{
	color:#ffffff;
}
#navi li a.on {
	color:#ffffff;
}


/*=======================================================================
ページトップ
=======================================================================*/
#page-top {
    position: fixed;
    bottom: 68px;
    right: 68px;
	z-index:99999999;
}
#page-top a img:hover{
	-moz-opacity:0.7;
	opacity:0.7;
}

/*=======================================================================
フッタ
=======================================================================*/
.copy{
	text-align:center;
	font-size:12px;
	padding: 13px 0px;
}


/*=======================================================================
メインイメージスクロール
=======================================================================*/
#slider_wp {
	width: 100%;
	min-width:1200px;
	height: 327px;
	display: block;
	background:url(../images/main_img_bg.jpg) repeat-x;
	overflow:hidden;
}

#slider {
	width: 1200px;
	height: 327px;
	margin: 0 auto;
	position: relative;
	background: url(loader.gif) no-repeat center;
}

#slider ul li {
	width: 1200px;
	height: 327px;
	position: absolute;
	top: 0px;
	left: 0px;
}


/*=======================================================================
clear　clearfix
=======================================================================*/

.clear { clear: both;	visibility: visible;
}
.cf:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
/* IE7,MacIE5 */
.cf {
  display: inline-block;
}
/* WinIE6 below, Exclude MacIE5 \*/
* html .cf {
  height: 1%;
}
.cf {
  display:block;
}
.box{
	display:block;
}

#section01,
#section02,
#section03,
#section04,
#section05,
#section06,
#section07,
#section08,
#section09,
#section10,
#section11,
#section12{
	margin-top:-100px;
    padding-top:100px;
}

.pc_none{
	display:none !important;
}


.back_none{
	background: none;
}

.w415{
  width: 415px;
}


form p.error {
margin: 10px 0 0 0;
color: #ee0000;
}

	
.block09 ul li{
	width:596px !important;
	border-left: dotted 1px #7c7c7c;
	padding-left:1px;
	margin-left:1px;
}
