@charset "UTF-8";

body{
  font-size:13px;
  line-height:25px;
  color:#363230;
  padding:0;
  margin:0;
  border-bottom:2px solid #d0ccc9;
}

/* common
--------------------------------------------------------------- */

#wrapper{
  width:1200px;
  margin:0 auto;
  padding:0 0 160px 0;
}
.inner{
  width:970px;
  margin:0 auto;
}

.title_icon{
  width:20px;
  margin:80px auto 0 auto;
}


#page-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
#page-top a:hover {
  filter:alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
}


/* conversion
--------------------------------------------------------------- */

.conversion{
  width:609px;
  padding:130px 0 60px 0;
  margin:0 auto 0 auto;
}
.conversion .tel{
  padding:30px 0 0 0;
}
.conversion02{
  width:609px;
  padding:110px 0 60px 0;
  margin:0 auto 0 auto;
}
.conversion02 .tel{
  padding:30px 0 0 0;
}

/* header
--------------------------------------------------------------- */

#header_bg{
  border-bottom:1px solid #d0ccc9;
}
#header{
  width:1200px;
  height:70px;
  margin:0 auto;
  background:url(../images/hyaluronan_header_bg.gif) left top no-repeat;
}
#header .logo{
  float:left;
  width:251px;
  padding:13px 0 0 25px;
}
#header .header_right{
  width:542px;
  float:right;
}
#header .header_right .tel{
  width:259px;
  float:left;
}
#header .header_right .btn{
  width:283px;
  float:right;
}


/* main
--------------------------------------------------------------- */

#main_bg{
  background:#f9f9f9;
}
#main_bg #main{
  width:1200px;
  margin:0 auto;
  height:501px;
  background:url(../images/hyaluronan_main.jpg) left top no-repeat;
}
#main_bg #main h1{
  padding:147px 0 0 768px;
  margin:0;
}



/* contents01
--------------------------------------------------------------- */

#title01{
  margin:25px 0 0 162px;
}
.contents01_box{
  margin:60px 0 20px 0;
  padding:0;
}
.contents01_box .right_image{
  float:right;
  width:231px;
  padding:31px 0 0 0;
}
.contents01_box .left_textbox{
  float:left;
  width:690px;
}
.contents01_box .left_textbox h3{
  padding:0 0 8px 0;
}
.contents01_box .left_textbox p{
  padding:20px 0 0 95px;
}
.contents01_box .left_textbox span.important{
  color:#fff;
  background:#817b79;
  padding:6px 8px;
}
.contents01_box .left_image{
  float:left;
  width:231px;
}
.contents01_box .right_textbox{
  float:right;
  width:690px;
}
.contents01_box .right_textbox p{
  padding:20px 0 0 95px;
}
.contents01_box .detail_box_inner{
  border:1px solid #5f5857;
  width:590px;
  padding:18px 0 14px 0;
  margin:20px 0 0 95px;
}
.contents01_box .detail_box_inner .detail_box{
  width:538px;
  margin:0 auto;
}
.contents01_box .detail_box_inner .detail_box .title{
  float:left;
  width:201px;
}
.contents01_box .detail_box_inner .detail_box .text_list{
  width:325px;
  float:right;
}
.contents01_box .detail_box_inner .detail_box .text_list ul{
}
.contents01_box .detail_box_inner .detail_box .text_list ul li{
  float:left;
  width:155px;
  line-height:18px;
  padding:0 0 5px 0;
}
.contents01_box .detail_box_inner .detail_box .text_list ul li.left{
  padding:0 15px 0 0;
}
.contents01_box .detail_box_inner .detail_box .text_list ul li span{
  color:#a2a2a2;
}
.contents01_box .contents_image{
  padding:28px 0 18px 0;
}
.contents01_box .contents01_list li{
  float:left;
  width:305px;
  letter-spacing:-0.2px;
}
.contents01_link_inner{
  margin:40px 0 0 0;
  background:url(../images/hyaluronan_contents01_bg01.gif) left top no-repeat;
  width:640px;
  height:125px;
  margin:0 auto;
}
.contents01_link_inner .contents01_link{
  width:499px;
  margin:0 auto;
  padding:30px 0 0 0;
}
.contents01_link_inner .contents01_link .left_image{
  float:left;
  width:px;
}
.contents01_link_inner .contents01_link .btn{
  float:right;
  width:px;
}



/* contents02
--------------------------------------------------------------- */

#title02{
  margin:29px 0 47px 380px;
}

.contents02 h4{
  width:1039px;
  margin:0 auto;
}
.contents02 p{
  width:963px;
  padding:48px 0 0 0;
  margin:0 auto;
}
.contents02 .contents02_list{
  margin:2px 0 44px 0;
}
.contents02 .contents02_list li{
  width:398px;
  float:left;
}
.contents02 .contents02_icon{
  padding:10px 0 0 0;
}
.contents02 .contents02_icon li{
  float:left;
  padding:0 10px 0 0;
}
.contents02 .contents02_icon li.w28{
  width:28px;
}
.contents02 .contents02_icon li.w83{
  width:83px;
}
.contents02 .contents02_icon li.w90{
  width:90px;
}
.contents02 .contents02_icon li.last{
  padding:0;
}
.contents02 .contents02_before_after{
  width:690px;
  margin:0 auto;
  padding:0;
}
.contents02 .contents02_before_after li{
  width:299px;
  padding:0 23px;
  float:left;
}



/* （contents03）contents06
--------------------------------------------------------------- */

.title06{
  margin:31px 0 56px 469px;
}

.price_list{
}
.price_list li{
  float:left;
  padding:0 60px 0 0;
  width:360px;
}
.price_list li.last{
  padding:0;
}
.campaign_price{
  width:648px;
  margin:0 auto;
  padding:38px 0 35px 0;
}
.price_text{
  color:#7e7e7e;
  font-size:14px;
  line-height:28px;
  text-align:center;
}

.campaign_price02{
  width:840px;
  margin:0 auto;
  padding:15px 0 15px 0;
}



/* contents03
--------------------------------------------------------------- */

#title03{
  margin:10px 0 16px 295px;
}

.contents03_box{
  margin:47px 0 0 0;
}
.contents03_box .left_image{
  width:334px;
  float:left;
}
.contents03_box .right_text{
  float:right;
  width:596px;
}
.contents03_box .right_text p{
  line-height:23px;
  padding:23px 0 0 13px;
}
.contents03_box .right_text p.detail{
  padding:10px 0 0 13px;
  color:#7e7e7e;
  line-height:23px;
  letter-spacing:-0.3px;
}
.contents03_box .right_text .contact{
  width:582px;
  margin:22px 0 0 15px;
}
.contents03_box .right_text .contact .tel{
  float:left;
  width:208px;
}
.contents03_box .right_text .contact .btn{
  float:right;
  width:325px;
  margin:22px 0 0 0;
}
.contents03_box .textbox{
  margin:16px 0 0 15px;
  width:582px;
  border:1px solid #9d9d9d;
}
.contents03_box .text{
  width:540px;
  margin:0 auto;
  padding:12px 0;
}
.contents03_box .text p{
  color:#7e7e7e;
  padding:0;
  margin:0;
  line-height:22px;
  letter-spacing:-0.8px;
}
.contents03_text{
  width:753px;
  margin:0 auto;
  padding:150px 0 0 0;
}




/* contents04
--------------------------------------------------------------- */

#title04{
  margin:30px 0 60px 356px;
}
.contents04_text{
  padding:30px 0 0 0;
}

/* 前へ、次へのボタン */

.bx-prev{
    position: absolute;
    left:1px;
    top: 40%;
  background:url(../images/left_arrow.png);
  height:100px;
  width:50px;
  display:block;
  text-indent:-9999px;
}
.bx-next{
    right:1px;
    top: 40%;
    position: absolute;
  background:url(../images/right_arrow.png);
  height:100px;
  width:50px;
  display:block;
  text-indent:-9999px;
}

/* 基本 */

.bg_img{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  position:relative;
}
.bg_img .bx-wrapper{
    height: 426px;
}
.bx-window{
    margin-bottom: 10px;
}
#slider li a{
}
.slider{
    width: 100%;
    margin: 0px auto;
}
/* カルーセルスライダー */

.bg_img .bx-wrapper{
    width: inherit;
}
#slider li{
    width: 600px !important;
    text-align: left;
}




/* contents05
--------------------------------------------------------------- */

#title05{
  margin:26px 0 32px 374px;
}

.faq_contents{
  padding:40px 0 44px 0;
  background:url(../images/hyaluronan_contents05_bg.gif) left bottom no-repeat;
}
.faq_contents h3{
  margin:0 0 20px 0;
}
.faq_contents .answer_box{
  width:930px;
  margin:0 auto;
}
.faq_contents .answer_box .answer{
  float:left;
  width:57px;
}
.faq_contents .answer_box .answer_text{
  width:873px;
  float:right;
}
.faq_contents .answer_box .answer_text p{
  font-size:15px;
}
.faq_contents .answer_box .answer_text span{
  color:#ac791d;
}



/* contents07
--------------------------------------------------------------- */

#title07{
  margin:4px 0 54px 353px;
}
.contents07 .left_text{
  float:left;
  width:300px;
}
.contents07 .right_text{
  width:660px;
  float:right;
}
.contents07 .right_text p{
  color:#363230;
  font-size:16px;
}
.contents07 .map{
  float:right;
  width:480px;
}
.contents07 .left_text02{
  width:450px;
  float:left;
}
.contents07 .left_text02 p{
  padding:0;
  margin:0;
}
.contents07 .left_text02 h4{
  margin:0 0 15px 0;
}
.contents07 .left_text02 table{
  margin:0 0 30px 0;
  padding:0;
}
.contents07 .left_text02 table th{
  width:28px;
  vertical-align:middle;
  text-align:left;
  padding:0 0 5px 0;
  margin:0;
}
.contents07 .left_text02 table td{
  vertical-align:top;
  text-align:left;
  color:#363230;
  font-size:15px;
  padding:0 0 5px 0;
  margin:0;
}
.contents07 .left_text03{
  float:left;
  width:246px;
}
.contents07 .right_text02{
  width:204px;
  float:right;
}



/* contents08
--------------------------------------------------------------- */

#title08{
  margin:30px 0 0 497px;
}

.contents08_text{
  text-align:center;
  padding:53px 0 66px 0;
  font-size:13px;
}
.contents08_list{
  margin:41px 0 70px 0;
}
.contents08_list li{
  width:361px;
  padding:0 58px 0 0;
  float:left;
}
.contents08_list li.last{
  padding:0;
}
.contents08_list li .concept{
  width:107px;
  margin:0 auto;
}
.contents08_list li h4{
  padding:12px 0 22px 0;
}
.contents08_list li p{
  padding:18px 0 0 0;
  font-size:13px;
}



/* contents09
--------------------------------------------------------------- */

#title09{
  margin:10px 0 0 348px;
}

.contents09_text{
  text-align:center;
  padding:50px 0;
  font-size:13px;
}
.contents09_detail{
  margin:20px 0 0 0;
}
.contents09_detail li{
  float:left;
}
.contents09_detail li.image{
  padding:0 25px 0 0;
  width:156px;
}
.contents09_detail li.w288{
  width:288px;
  padding:0 25px 0 0;
}
.contents09_detail li.w288 h4{
  color:#ac791d;
  font-size:15px;
  background:url(../images/hyaluronan_contents09_bg01.gif) left bottom no-repeat;
  padding:0 0 7px 0;
  line-height:20px;
  margin:0 0 13px 0;
}
.contents09_detail li.w288 p{
  line-height:19px;
  font-size:13px;
  padding:0 0 3px 0;
}
.contents09_detail li.w288 p span{
  font-size:12px;
}
.contents09_detail li.w464{
  width:464px;
  padding:0;
}
.contents09_detail li.w464 h4.title01{
  color:#ac791d;
  font-size:15px;
  background:url(../images/hyaluronan_contents09_bg02.gif) left bottom no-repeat;
  padding:0 0 7px 0;
  line-height:20px;
  margin:0 0 13px 0;
}
.contents09_detail li.w464 h4.title02{
  color:#ac791d;
  font-size:15px;
  background:url(../images/hyaluronan_contents09_bg03.gif) left bottom no-repeat;
  padding:0 0 7px 0;
  line-height:20px;
  margin:25px 0 10px 0;
}
.contents09_detail li.w464 p{
  font-size:13px;
  line-height:23px;
}






/*--attentionBox add160728--*/
.attentionBox {
  width: 800px;
  padding: 1em;
  margin: 2em auto;
  border: 1px solid #999;
  text-align: center;
}
.attentionBox > dl > * {
  text-align: center;
}
.attentionBox dt {
  font-size: 1.6em;
  font-weight: bold;
  color: #ff9900;
  margin-bottom: 0.5em;
}
.attentionBox dd {
  font-size: 1em;
}


