@charset "utf-8";
/* CSS Document */

/* =====================================
	INDEX.CSS - update:2014.03.05
======================================== */



/* common
---------------------------------------- */
#article > h1 img {width: 100%;}
#article em {font-style: normal; text-decoration: underline;}
h4.next-arrow { background: url(../img/next_arr.png) bottom center no-repeat; background-size: 180px auto; font-size: 1.4rem; margin-bottom: 10px; padding: 0 15px 40px;}


/*accordion*/
dl.accordion {margin-top:20px;}
dl.accordion dt {background: #0b7eb7;  color:#fff; cursor:pointer; font-weight: bold; font-size:14px;  margin-bottom: 5px; padding:5px 5px 3px 0px; }
.faq_ac dt{background: #b2bfdd;  color:#fff; cursor:pointer; font-weight: bold; font-size:14px;  margin-bottom: 5px; padding:5px 5px 3px 0px; }
dl.accordion dt span {background: url(../img/arrow_bg.png) right center no-repeat; background-size: 29px 29px;  display: block;  padding:8px 32px 8px 3em; line-height:1;
text-indent:-2.5em; position: relative;}
 
dl.accordion dt span:after {position: absolute; display: block; top: 47%; right: 9px; width: 9px; height: 9px; margin-top: -6px; border-top: 2px solid #0b7eb7; border-right: 2px solid #0b7eb7; -webkit-transform: rotate(135deg); transform: rotate(135deg); content: ""; } 
dl.accordion dt.open span:after {position: absolute; display: block; top: 47%; right: 9px; width: 9px; height: 9px; margin-top: -3px; border-top: 2px solid #b89682; border-right: 2px solid #b89682; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); content: "";}
dl.accordion dd { display:none; font-size: 1.2rem; margin: 0; padding:5px 10px;}
dl.accordion dt img{ vertical-align:middle; }
dl.accordion dd .red{ color:#C00;}
dl.accordion dd .ico { float:left; margin:0 15px 10px -2px;}

dl.accordion2 {margin-top:0px;}
dl.accordion2 dt {background: #0b7eb7;  color:#fff; cursor:pointer; font-weight: bold; font-size:14px;  margin-bottom: 5px; padding:5px 5px 3px 5px; }
dl.accordion2 dt span {background: url(../img/arrow_bg.png) right center no-repeat; background-size: 29px 29px;   
 display: block; padding: 8px 20px 8px 0px; position: relative;}
dl.accordion2 dt span:after {position: absolute; display: block; top: 47%; right: 9px; width: 9px; height: 9px; margin-top: -6px; border-top: 2px solid #b89682; border-right: 2px solid #b89682; -webkit-transform: rotate(135deg); transform: rotate(135deg); content: ""; } 
dl.accordion2 dt.open span:after {position: absolute; display: block; top: 47%; right: 9px; width: 9px; height: 9px; margin-top: -3px; border-top: 2px solid #b89682; border-right: 2px solid #b89682; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); content: "";}
dl.accordion2 dd { display:none; font-size: 1.2rem; margin: 0; padding: 5px 10px;}


.table_style{ border-collapse:collapse; margin: 0 10px 30px;}
.table_style th{ font-size: 0.9rem;border:solid 1px #aaa; background:#ddf2f8; padding:5px;}
.table_style td{ font-size: 0.9rem;border:solid 1px #aaa;  padding:5px;}
.table_style td .pink { color:#0b7eb7;}

.inner { padding: 0 10px; }
.inner p { margin-top: 5px;margin-bottom: 15px;}
.inner p + p { margin-top: -10px;}

/* contents
---------------------------------------- */
/*---contact---*/
.contact { width:320px; margin: 20px auto 0;}
.contact .box h2{ padding:0; margin:0; background:#fff; height:52px;}
.contact .box{ position: relative; border:solid 8px #ddd; margin: 0; padding: 0;}
.contact .photo{line-height: 0;}
.contact ul { text-align:center;}
.contact ul li {position: absolute;}
.contact ul li:nth-child(1) { top: 200px; left:17px;}
.contact ul li:nth-child(2) { top: 272px; left:17px; }
.contact ul li:nth-child(3) { top: 352px; left:17px;}
.contact ul li:nth-child(4) { top: 427px; left:17px; }
.contact ul li:nth-child(5) { top: 510px; left:17px; }
.contact ul li:nth-child(6) { top: 585px; left:17px; }
.contact ul li:nth-child(7) { top: 672px; left:63px; }
.contact > p {
   font-size: 0.8rem;
   margin: 5px 0;
}
.chiryou .contact ul {
   border: none;
   padding: 0;
   margin: 0;
   width: auto;
}

h2.h42 { background: #333; height: 32px!important; position: relative; text-align: center; margin-bottom:40px; }
h2.h50{ background: #333; height: 50px!important; position: relative; text-align: center; margin-bottom:40px; }

/*---jisseki---*/
.jisseki { margin-top:20px;}
.jisseki h2{ background: #333; height: 55px; position: relative; text-align: center; margin-bottom:20px; }
.jisseki h3{ background:#01b3e3; color:#fff; text-align: center; font-size:16px; padding:5px 0; font-weight:100;}
.jisseki .slider img { margin: 5px auto; }

/*---zouka---*/
.zouka { margin-top:15px;}
.zouka h2{ background: #333; height: 60px; position: relative; text-align: center; margin-bottom:20px; }
.zouka .photo{ float:left; margin-right:10px;}
.zouka p {padding: 0 10px; }

/*---chiryou---*/
.chiryou { margin-top:15px;}
.chiryou h2{ background: #333; height: 61px; position: relative; text-align: center; margin-bottom:40px; }
.chiryou ul { width:280px; margin:10px auto; border:solid 3px #EDDEEE; padding:10px;}
.chiryou h3{ background:#01e3b3; color:#fff; text-align: center; font-size:16px; padding:5px 5px; font-weight:100;}


/*---point---*/
.point { margin-top:15px;}
.point h2{ background: #333; height: 60px; position: relative; text-align: center; margin-bottom:20px; }
.point dt span{ font-size: 1.1rem;}
.point dt span img { margin-right: 7px;}

/*---program---*/
.program { margin-top:15px;}
.program h2{ background:#fff; height: 37px; text-align: center; }
.program p { font-size: 1rem; color :#333; padding: 0 15px; line-height: 1.8; margin-bottom: 15px;}

/*---flow---*/
.flow { margin-top:15px;}
.flow h2{ background: #333; height: 50px; position: relative; text-align: center; margin-bottom:20px; }
.flow .red{ color:#ff6600;}
.flow h3{ margin-top:10px;background:#0b7eb7;}
.flow p { padding: 0; font-size: 1rem; margin-right: 130px;margin-bottom:15px; }
.flow .photo{ float:right;}

p.title{margin:5px 0 0 0; padding:10px; background:#F2E7F5;border-left:solid 4px #BD86C2; color:#0b7eb7; font-size:15px;}

.flow dt span{ font-size: 1.1rem;}
.flow dt span img { margin-right: 7px;}


/*---faq---*/
.faq { margin-top:15px;}
.faq h2{ background: #333; height: 62px; position: relative; text-align: center; margin-bottom:20px; }
.faq dt span{ font-size: 1.1rem;}
.faq dt span img { margin-right: 7px;}
.faq dd {
   color :#333;
   font-size: 1.1rem !important;
   padding-left: 50px !important;
}
.faq dd .ico {
   margin-left: -40px !important;
   margin-right:10px!important;
}

/*---clinic---*/
/*-about-*/
.about { margin: 20px 0; }
/*.about h2 { background: #333; height: 55px; position: relative; text-align: center; margin-bottom:20px; }*/
.about h2 { background: #333; color: #fff; padding: 10px; font-size: 1.2rem; text-align: center; }
.about h3 { font-size: 1.2rem; margin-bottom: 10px; text-align: center; }
.about p { font-size: 1rem; padding: 0 15px; }
.about #slider1 img,
.about #slider2 img,
.about #slider3 img,
.about #slider4 img,
.about #slider5 img { margin: 0 auto; }

/*-access-*/
.access { margin-bottom: 20px; }
.access h2 { background: #333; color: #fff; padding: 10px; font-size: 1.2rem; text-align: center; }
.access p { font-size: 1rem; font-weight: normal; margin-bottom: 20px; padding: 0 15px; color:#333; }
.access div { margin-bottom: 10px; text-align: center; }
.access .detail { margin: 0 15px; }
.access .detail dt { font-size: 1.1rem; font-weight: bold; margin-bottom: 3px; min-height: 23px; padding-left:25px; color:##462C20;}
.access .detail dt.train { background: url(../img/set12_icn_train.png) 0 center no-repeat; background-size: 21px auto; }
.access .detail dt.car { background: url(../img/set12_icn_car.png) 0 center no-repeat; background-size: 21px auto; }
.access .detail dt.open { background: url(../img/set12_icn_open.png) 0 center no-repeat; background-size: 21px auto; }
.access .detail dt.close { background: url(../img/set12_icn_close.png) 0 center no-repeat; background-size: 21px auto; }
.access .detail dd { font-size: 1rem; line-height: 1.6; margin: 0; margin-bottom: 10px; padding: 0; }
.access .detail .disc li { list-style-type: disc; line-height: 1.6; margin-left: 1.3rem; }






/*---doctor---*/
.doctor { margin-top: 20px; }
.doctor h2 { background: #333; color: #fff; padding: 10px; font-size: 1.2rem; text-align: center;margin-bottom:15px; }
.doctor h3 { background: #d1eff8; line-height: 0; margin-bottom: 15px;}

.doctor .accordion dt {
   padding: 10px;
   font-size: 1.2rem;
}
.doctor .accordion dd {
   margin-bottom: 15px;
}
/*.doctor dd h4{ margin: 5px -15px 0; padding:10px 15px; background:#0b7eb7; color:#fff; font-size:1.2rem; }*/
.doctor dd h4{ font-size:1.1rem; margin-bottom: 0;}

.doctor p { font-size: 1rem; margin-top: 0;margin-bottom: 15px; padding: 0 15px; }
.doctor .accordion dd { font-size: 1.2rem; line-height: 1.6; margin: 0; padding: 0px 15px; }
.doctor .accordion ul { margin-bottom: 1em; }
.doctor .accordion .disc li { list-style-type: disc; line-height: 1.6; margin-left: 1.3rem; }
.doctor .accordion p { padding: 0; }
.doctor .com-box { border: 3px solid #ddd; margin: 15px 15px 30px; padding: 15px; }
.doctor .com-box h4 { font-size: 1.1rem; margin-bottom: 10px; text-align: center; }
.doctor .com-box p { font-size: 1rem; line-height: 1.6; margin: 0; padding: 0; }
.doctor .res-unit p { margin: 0; padding: 0; }
.doctor .res-unit h3 { background: none; padding: 0; margin: 0; }
.doctor .res-unit .caption { font-size: 1rem; }


/*---form---*/
.w10 { width:10%; }
.w20 { width:20%; }
.w30 { width:30%; }
.w40 { width:40%; }
.w50 { width:50%; }
.w60 { width:60%; }
.w80 { width:80%; }
.w90 { width:90%; }
.w99 { width:99%; }

#form { margin-top: 20px;  }
 .form-midashi { background: #333; height: 62px; position: relative; text-align: center; margin-bottom:20px; }
 #form h2{ background: #333; height:55px; position: relative; text-align: center; margin-bottom:20px; }
#formbox { 
   /*border-top:1px solid #aaa;*/
   font-size:14px;
   padding-bottom: 20px;
   background: url(../img/next_arr.png) center bottom no-repeat;
   background-size: 121px auto;
}
#formbox dt { margin:0; padding:10px; border:1px solid #aaa; background:#0b7eb7;border-top:none;color:#fff
}
#formbox dd { padding:10px;  border:1px solid #aaa; border-top:none;margin:0;}
#formbox dd:last-child {
   border: none;
}

.hissu,.ninni { margin-right:5px; padding:2px 10px; color:#fff; font-size:12px;  border-radius:3px; }
.hissu {
background:#fff;color:red;
}
.ninni {
background: #fff;color:#0b7eb7;
}
#formbox input.w90 {
   padding: 9px 5px;
   width: 280px;
}
#formbox textarea.w90 {
   padding: 9px 5px;
   width: 290px;
}

#formbox input.w10 {
   padding: 9px 5px;
   width: 60px;
}
#formbox .radio_area li {
   margin-bottom: 5px;
}
#formbox .radio_area label {
   display: block;
   border: 1px solid #ccc;
   padding: 10px;
}
#formbox .radio_area label input {

}

#formbox label.cal {
   display: block;
   width: 100%;
   min-height: 40px;
   background: url(../img/cal_icon.png) 250px 0 no-repeat;
   background-size: auto 40px;
}
#formbox label.cal input {
   padding: 9px 5px;
   width: 220px;
}

#formbox label.means {
   width: 100px;
   display: block;
   float: left;
}
#formbox input[name="means"] {
   margin-right: 10px;
}

.form_end { 
   margin: 0 0 30px;
   text-align:center;
}
.form_end input {
	margin: 0;
	padding: 0;
	width:285px;
}





/*---tab unit---*/
.localnavi {
   border-bottom: 5px solid #00b2b4;
}
.localnavi ul {
   width: 320px;
   margin: 0 auto;
}
.localnavi ul li {
   float: left;
   background: #333;
   /*border-radius: 4px 4px 0 0;*/
   overflow: hidden;
   margin-left: 2px;
}
.localnavi ul li:nth-child(1) {
   margin-left: -3px;
}
.localnavi ul li a {
   display: block;
   padding-top: 10px;
   padding-bottom: 10px;
   width: 63px;
   text-align: center;
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   font-size: 1.1rem;
}
.localnavi .active a,
.localnavi a:hover {
   background: #00b2b4;
}
#tab-wrap {
	clear: both;
	overflow: hidden;
	width: 100%;
   margin: 0 auto;
}
.tab-contents,
.tab-contents .hidden {
	height: 0;
	overflow: hidden;
}
.tab-contents.visible {
	height: auto !important;
	overflow: visible !important;
}

.form-confirm-nagare{ display:block; margin:0 auto;}
#btn-confirm{width:330px; margin:0 auto;}