@charset "utf-8";

/******************************************************************** index
*/
body{color:#4C1A00;}
.planList{margin-bottom:70px;}
.planList li{
	text-align:center;
	border-bottom:#E3E3E3 1px solid;
	margin-bottom:15px;
	padding-bottom:15px;
	line-height:0;
}

.concept li{
	width:298px;
	padding-top:20px;
	padding-right:23px;
	background:url(../img/bg_cocept_top.jpg) no-repeat left top;
	float:left;
}
.concept li.last{
	padding-right:0;
}
.concept li .bottom{
	background:url(../img/bg_cocept_bottom.jpg) no-repeat left bottom;
	padding-bottom:20px;
}
.concept li .bottom .inner{
	background:url(../img/bg_cocept_center.jpg) repeat-y left center;
	padding:0 20px 10px;
}

.flow{
	background:url(../img/bg_flow.jpg) no-repeat;
	padding:27px 14px 30px;
	margin-bottom:60px;
}
.flow li{
	float:left;
	width:224px;
	padding-right:23px;
}
.flow li.last{
	float:right;
	padding-right:0;
}
.flow li .lH0{margin-bottom:22px;}
.flow li h4{margin-bottom:12px; line-height:0;}

.point{
	width:936px;
	height:auto;
	margin:0 auto 52px;
	border-right:#0264BD 2px solid;
	border-left:#0264BD 2px solid;
	border-bottom:#0264BD 2px solid;
}
.point li{
	float:left;
	width:396px;
	padding:30px 35px;
}
.point li.heightLine-group2{
	border-bottom:#EBEBEB 1px solid;
}
.point li.bR{
	border-right:#EBEBEB 1px solid;
}
.point li h4{
	line-height:0;
	margin-bottom:15px;
}

.adventage{
	width:948px;
	margin:0 auto 60px;
	background:url(../img/bg_defferent_center.jpg) repeat-y center center;
}
.adventage .inner{
	background:url(../img/bg_defferent.jpg) no-repeat center bottom;
	padding:0 25px 32px 43px;
}
.adventage .inner .fL{
	width:579px;
	height:auto;
}
.adventage .inner .fL dl dt{
	float:left;
	clear:left;
	line-height:0;
	padding:0 20px 15px 0;
}
.adventage .inner .fL dl dd{
	float:left;
	width:405px;
}
.cost .fL{
	width:380px;
	height:auto;
}
.cost .fL .price-list{
	width:100%;
	border-collapse:collapse;
	margin-bottom:15px;
}
.cost .fL .price-list tr th{
	font-weight:bold;
	padding:5px 15px;
	border:#CCC 1px solid;
}
.cost .fL .price-list tr td{
	padding:5px 15px;
	border:#CCC 1px solid;
}
.cost .fL .price-list tr .price{
	text-align:right;
	background:#D5F0FB;
	font-weight:bold;
	color:#066EC5;
}

.ways{
	margin:0 auto;
}
.ways li{
	float:left;
	background:#FBFBF9;
	border:#CCC 1px solid;
	padding:25px 30px;
	width:393px;
	height:auto;
	margin-top:30px;
}
.ways li .fL{margin-top:25px;}
.ways li .fR{width:300px;}
.ways li .fR h4{
	line-height:0;
	margin-bottom:10px;
}

.different{
	width:100%;
	border-collapse:collapse;
}
.different tr th{
	font-weight:bold;
	padding:15px;
	border:#CCC 1px solid;
}
.different tr td{
	padding:15px;
	border:#CCC 1px solid;
}
.different tr .bg_blue{
	background:#D5F0FB;
}
.different tr span.blue{
	color:#066EC5;
}

.access .fL{
	width:370px;
	height:auto;
}
.info tr th{
	padding:3px 5px;
}

.doctor p.name{
	font-size:1.5em;
	font-weight:bold;
	margin-bottom:15px;
}
.doctor h4{
	font-size:1.3em;
	font-weight:bold;
	margin-bottom:10px;
	border-left:#00A0E9 3px solid;
	padding-left:10px;
}
.doctor table{
	width:100%;
	border-collapse:collapse;
}
.doctor table tr th{
	font-weight:bold;
	padding:15px;
	border:#CCC 1px solid;
}
.doctor table tr td{
	padding:15px;
	border:#CCC 1px solid;
}