@charset "shift_jis";
* {
	font-size: 12px;
	line-height: 150%;
}
/* レイアウトの設定*/
body {
	margin: 0;
	padding: 0;
	text-align: center;
}

img {
	border: none;
	vertical-align: bottom;
}
p {
	margin: 0;
	padding: 0;
	text-align: center;
}
#wrapper {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}
.m-T60 {
	margin: 60px 0 0 0;
}
.m-B30 {
	margin: 0 0 30px 0;
}

.m--10 {
	margin:-18x 0 0px 0;
}