@charset "UTF-8";
html,
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
/* reset
------------------------------------- */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	padding: 0;
	margin: 0;
}
fieldset,
img {
	border: 0;
	vertical-align:bottom;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}
ol,
ul {
	list-style: none;
}

caption,
th {
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	color: #666;
	letter-spacing: 0.1em;
}
br {
	letter-spacing: 0;
}

/* font
------------------------------------- */
body {
	font: 13px/1.231 'メイリオ','Meiryo','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Osaka','ＭＳ Ｐゴシック',sans-serif;

	color: #333;
}
select,input,button,textarea{
	font:99% "ＭＳ Ｐゴシック", arial, helvetica, clean, sans-serif;
}


/* font-size
------------------------------------- 
.font10 font-size: 77%;
.font11 font-size: 85%;
.font12 font-size: 93%;
.font13 font-size: 100%;
.font14 font-size: 108%;
.font15 font-size: 116%;
.font16 font-size: 123.1%;
.font17 font-size: 131%;
.font18 font-size: 138.5%;
.font19 font-size: 146.5%;
.font20 font-size: 153.9%;
.font21 font-size: 161.6%;
.font22 font-size: 167%;
.font23 font-size: 174%;
.font24 font-size: 182%;
.font25 font-size: 189%;
.font26 font-size: 197%;
------------------------------------- */

/* レイアウト関係
------------------------------------- */
.clearfix:after {
 content: url(../image/pixel.gif);
	display: block;
	clear: both;
	height: 0;	
}
.clearfix {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
.center{
	text-align:center;
}
/* リンク
------------------------------------- */
a:link {
	color: #0086cd;
	text-decoration: none;
}
a:visited {
	color: #66F;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #06F;
}
a:active {
	text-decoration: underline;
	color: #06F;
}
