#header h1 {
	background-image: url(../images/01_header.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 499px;
	width: 900px;
}
#headText {
	text-align: left;
	text-indent: 10px;
	height: 20px;
	font-size: 12px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.fav_btn {
	margin-top: 20px;
	float: left;
	width: 202px;
	margin-left: 20px;
}
#title {
	margin-left: 60px;
	text-align: left;
	margin-top: 20px;
}
#form {
	border: 1px solid #0086CD;
	float: left;
	margin-left: 60px;
	margin-top: 20px;
	width: 775px;
}
#form tr th {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #EAF6FD;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #0086cd;
	border-bottom-color: #0086cd;
}
#form tr td {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0086cd;
}
.check {
	color: #C00;
	font-size: 10px;
}
#footer {
	width: 820px;
	padding-right: 40px;
	padding-left: 40px;
	height: 130px;
	padding-top: 20px;
}
#page_top {
	text-align: right;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
#foot_logo {
	float: left;
}
#fav_btn_foot input {
	float: right;
}
#form tr td a {
	color: #09F;
	text-decoration: underline;
}
#form tr .blue {
	background-color: #BAE3F9;
}
#alart {
	margin-top: 10px;
}
