@charset "UTF-8";
/* -------------------------------------------

	モジュール

------------------------------------------- */
.left {
	float: left;
}
.right {
	float: right;
}
ul li {
	list-style: none;
}
ul {
	padding: 0;
	margin: 0;
}
dl dd {
	padding: 0;
	margin: 0;
}
caption {
	display: none;
}
p, dl, ul {
	font-size: 93%;
	color: #333;
	line-height: 1.6;
}
.clear {
	margin: 0px;
	padding: 0px;
	clear: both;
}
	

/* -------------------------------------------

	レイアウト

------------------------------------------- */

/* 全体 --------------------- */

body {
	color: #595757;
	line-height: 1.7;
	text-align: center;
	margin: 0px;
	padding: 0px;
	background-color: #EAF6FD;
}
#contents {
	width: 910px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 0px;
	background-image: url(../img/bg_01.png);
	background-repeat: repeat-y;
	background-position: center top;
}
#contents_wrapper {
	padding: 0px;
	width: 900px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: auto;
}
address {
	font-size: 10px;
	padding-bottom: 10px;
}
.copyright a:activ {
color: #777777;
text-decoration: none;
}
