@charset "utf-8";

@import url(foundation.css);
@import url(project.css);


/* ==========================================================

	全体

========================================================== */
/* 反応装置
===========================================================*/
.induce {
	padding-top:60px; padding-bottom:50px;
	box-shadow:0 130px 130px -130px rgba(0,0,0, 0.2) inset;
	text-align:center;
}

.induce .__tel {
	margin-top:20px; margin-bottom:5px;
	font-family:"Times New Roman", Times, serif;
	font-size:40px;
	line-height:1.0;
}

.induce .__tel img {
	margin-right:10px;
	vertical-align:middle;
	position:relative; top:-3px;
}


/* Sサイズ */
.induce_s { padding-top:50px; padding-bottom:50px;text-align: center;}

.induce_s .wrapper { width:920px;}

.induce_s .wrapper > a,
.induce_s .wrapper > div { float:right; margin-left:20px;}

.induce_s .__tel {
	margin-bottom:0;
	font-family:"Times New Roman", Times, serif;
	font-size:36px;
	line-height:1.0;
}

.induce_s .__tel img {
	vertical-align:middle;
	position:relative; top:-3px;
	margin-right:8px;
}

.induce_s .__time { font-size:12px;}









/* ==========================================================

	パーツ

========================================================== */
/* タイトル
===========================================================*/
section .__title {
	padding-top:33px; padding-bottom:33px;
	background:#3d2707;
	text-align:center;
}
