@charset "utf-8";
body {
	font-family: Verdana, Verdana, Arial,"メイリオ",Meiryo, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
	padding: 0 20px;
}

dl {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 19px 0;
}

dl dt {
	clear: left;
	display: block;
	float: left;
	margin: 0 20px 0 0;
	width: 100px;
}

dl dd {
	float: left;
	margin: 0;
	padding: 0;
	width: 500px;
}

/* =========================================================
 Clearfix
========================================================= */
/* begin clearfix */
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.clearfix {
	display: inline-table;
	zoom: 1; /* for IE5.5 - IE7 */
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */


/* =========================================================
 Media 640px
========================================================= */
@media screen and (max-width:640px){
	body {
		margin: 0;
		padding: 0;
		width: auto;
	}

	img{
		max-width: 100%;
		width: auto;
	}

	dl {
		display: block;
		margin: 0 auto;
		overflow:scroll;
		-webkit-overflow-scrolling: touch;
		width: auto;
	}

	dl dt ,
	dl dd {
		display: block;
		float: none;
		text-align: left;
		width: auto;
	}

	.date {
		margin: 0 0 5px;
	}

	.comment {
		margin: 0 auto 9px;
	}

}


