@charset "UTF-8";
* {
  box-sizing: border-box; }

@media only screen and (min-width: 768px) {
  body {
    font-size: 13px;
    color: #111111;
    line-height: 160%;
    background: #FFF;
    font-family: 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
    letter-spacing: -0.5px;
    min-width: 1200px; }

  /*
  a img:hover{
  	-moz-opacity:0.7;
  	opacity:0.7;
  }
  */
  #wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center; }

  #h_wrapper {
    width: 100%;
    height: 85px;
    margin: 0 auto;
    text-align: center;
    background: #171717;
    border-bottom: solid 2px #b39952;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999; }

  header#PAGE_TOP {
    width: 1200px;
    height: 85px;
    margin: 0 auto;
    position: relative;
    text-align: left; }

  .cnt_wp {
    width: 100%;
    margin: 0 auto;
    padding: 85px 0 50px;
    text-align: center;
    min-width: 1200px;
    overflow: hidden; }

  #f_wrapper {
    width: 100%;
    height: 46px;
    margin: 0 auto;
    text-align: center;
    background: #000;
    color: #FFF; }

  footer#f_cnt {
    width: 1200px;
    height: 46px;
    margin: 0 auto;
    position: relative;
    text-align: left; }

  /*=======================================================================
  ヘッダ
  =======================================================================*/
  #PAGE_TOP h1{
	position:absolute;
	top:20px;
	left:24px;
	color:#fff;
}
#PAGE_TOP p{
	position:absolute;
	top:16px;
	right:400px;
}
#PAGE_TOP ul{
	position:absolute;
	top:23px;
	right:0;
}
#PAGE_TOP ul li{
	float:left;

}

#PAGE_TOP ul li.sp_ab{
	margin:0 0 0 10px;
}

  /*=======================================================================
  トップページ　メイン
  =======================================================================*/
  .block01 {
    background: url(../img/main_bg.png) no-repeat;
    background-size: cover;
    text-align: center;
    min-width: 1200px;
    overflow: hidden;
    border-bottom: 1px solid #d4d3d8; }

  .block02 {
    margin-bottom: 90px; }
    .block02 h2 {
      background: #725c8b;
      text-align: center;
      min-width: 1200px;
      padding: 40px 0; }
    .block02 p.copy {
      padding: 0;
      margin-bottom: 40px; }
    .block02 figure {
      margin: 0;
      background: url(../img/purple_fuki.png) no-repeat center top;
      padding-top: 60px; }

  .block03 {
    width: 1200px;
    margin: 35px auto 80px; }
    .block03 h2 {
      margin-bottom: 40px; }
    .block03 .box {
      width: 390px;
      float: left;
      background: #efefef;
      padding: 45px 60px;
      margin-top: 20px; }
      .block03 .box p {
        margin-top: 30px;
        margin-bottom: 60px; }
      .block03 .box:first-child p {
        margin-bottom: 45px; }
      .block03 .box a:hover {
        opacity: 0.7; }
    .block03 .rimited {
      margin: 0 13px;
      border: 3px solid  #e0d3a4;
      background: #fff;
      padding: 70px 60px 60px;
      position: relative; }
      .block03 .rimited .ob {
        position: absolute;
        left: -3px;
        top: -3px; }
      .block03 .rimited p {
        margin-bottom: 20px; }

  .btm_copy {
    background: #333437;
    padding: 40px 0; }

  .btn_box {
    width: 1000px;
    margin: 70px auto; }
    .btn_box .txt {
      float: left;
      width: 662px; }
    .btn_box .btn {
      float: right;
      width: 292px;
      height: 55px;
      padding-top: 7px;
      box-shadow: 5px 12px 0 #e2e0db;
      margin-right: 5px; }
      .btn_box .btn a {
        display: block; }
      .btn_box .btn:hover {
        opacity: 0.7;
        box-shadow: none;
        margin-right: 0;
        margin-top: 3px; }

  .block04 .h2_box {
    background: url(../img/block04_bg.png) no-repeat;
    background-size: cover;
    padding: 90px 0 70px;
    margin-bottom: 70px; }
    .block04 .h2_box .inner {
      width: 1200px;
      margin: 0 auto;
      text-align: left;
      position: relative; }
      .block04 .h2_box .inner h2 {
        margin-bottom: 40px; }
      .block04 .h2_box .inner p {
        width: 632px; }
      .block04 .h2_box .inner p.copy {
        text-align: left;
        margin-bottom: 10px; }
      .block04 .h2_box .inner img.ob {
        position: absolute;
        right: 0;
        bottom: -70px; }
  .block04 h3 {
    margin-bottom: 50px; }
  .block04 .txt {
    width: 1100px;
    margin: 0 auto; }
  .block04 .box {
    width: 366px;
    float: left; }
    .block04 .box .box_inner {
      height: 800px;
      border-right: 3px solid  #e7e7e7;
      padding: 30px 40px; }
      .block04 .box .box_inner dl {
        margin-top: 40px; }
        .block04 .box .box_inner dl dt {
          font-weight: bold;
          font-size: 18px;
          text-align: left;
          margin-bottom: 30px; }
      .block04 .box .box_inner table {
        width: 100%;
        border-top: 1px dotted  #555; }
        .block04 .box .box_inner table tr th {
          border-bottom: 1px dotted  #555;
          background: #f5f5f5;
          width: 110px;
          text-align: center;
          padding: 15px; }
        .block04 .box .box_inner table tr td {
          border-bottom: 1px dotted  #555;
          padding: 15px; }
    .block04 .box:first-child {
      width: 368px; }
      .block04 .box:first-child .box_inner {
        border-left: 3px solid  #e7e7e7; }

  .block05 {
    background: #efefef;
    padding: 60px 0 40px; }
    .block05 h2 {
      margin-bottom: 30px; }
    .block05 ul {
      width: 656px;
      margin: 0 auto; }
      .block05 ul li {
        float: left; }
        .block05 ul li + li {
          margin-left: 140px; }

  .block06 {
    padding: 70px 0 60px; }
    .block06 h3 {
      margin-bottom: 40px; }
    .block06 div.box {
      width: 1000px;
      margin: 0 auto 30px;
      position: relative;
      background: #f3eff6;
      padding: 120px 70px 30px; }
      .block06 div.box div.h4_box {
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
        text-align: left; }
        .block06 div.box div.h4_box h4 {
          display: inline-block; }
        .block06 div.box div.h4_box p {
          display: inline-block;
          margin-left: 10px;
          font-size: 22px; }
      .block06 div.box p {
        font-size: 15px; }
      .block06 div.box table {
        margin-top: 30px;
        background: #fff;
        width: 100%;
        border: 1px solid  #d3d3d3; }
        .block06 div.box table tbody tr th {
          border: 1px solid  #d3d3d3;
          padding: 20px;
          text-align: center;
          font-weight: bold; }
        .block06 div.box table tbody tr td {
          padding: 20px 30px;
          border: 1px solid  #d3d3d3;
          text-align: center; }
          .block06 div.box table tbody tr td span {
            display: block;
            float: left;
            width: 90px;
            padding: 2px;
            background: #725c8b;
            color: #fff;
            text-align: center;
            margin-bottom: 8px; }
            .block06 div.box table tbody tr td span:nth-child(even) {
              margin-left: 10px; }
          .block06 div.box table tbody tr td:first-child {
            width: 251px;
            text-align: left; }
          .block06 div.box table tbody tr td:nth-child(3) {
            width: 180px;
            text-align: left; }
      .block06 div.box p.att {
        font-size: 11px;
        text-align: right;
        color: #8e8e8e;
        margin-top: 10px; }
    .block06 p.btm_copy {
      background: none;
      text-align: center; }

  .block07 {
    border-bottom: 8px solid  #333437; }
    .block07 h2 {
      margin-bottom: 40px; }

  .faq_wrap {
    width: 1000px;
    margin: 0 auto 85px; }

  .faq dt {
    display: block;
    background: url(../img/question.png) no-repeat, url(../img/open.png) no-repeat right 10px center #f1f1f1;
    height: 41px;
    cursor: pointer;
    text-align: left;
    padding-left: 60px;
    line-height: 41px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold; }
    .faq dt.active {
      background: url(../img/question.png) no-repeat, url(../img/close.png) no-repeat right 10px center #f1f1f1; }
  .faq dd {
    margin-bottom: 30px;
    display: none;
    padding-left: 60px; }

  .block08 {
    background: url(../img/block08_bg.png) no-repeat center center;
    background-size: cover; }
    .block08 div.h2_box {
      background: url(../img/block08_bg2.png) no-repeat left 50px bottom; }
      .block08 div.h2_box div.inner {
        width: 1100px;
        height: 639px;
        margin: 0 auto; }
        .block08 div.h2_box div.inner h2 {
          padding-top: 80px;
          text-align: right; }
        .block08 div.h2_box div.inner p {
          margin-top: 40px;
          text-align: right; }
          .block08 div.h2_box div.inner p + p {
            margin-top: 20px; }

  .block009 {
    margin-top: 70px; }
    .block009 h2 {
      margin-bottom: 40px; }
    .block009 dl {
      border-top: 1px dotted  #555;
      padding: 50px 0 0;
      width: 1100px;
      margin: 0 auto; }
      .block009 dl dt {
        font-size: 23px;
        font-weight: bold;
        color: #b49a34;
        margin-bottom: 20px;
        text-align: left; }
      .block009 dl dd.cf {
        margin-bottom: 0; }
        .block009 dl dd.cf p {
          width: 775px;
          float: left; }
        .block009 dl dd.cf img {
          margin-top: -80px;
          float: right;
          padding: 20px 0; }
      .block009 dl dd {
        margin-bottom: 30px; }
        .block009 dl dd p {
          font-size: 16px;
          line-height: 30px; }
      .block009 dl.bdb {
        border-bottom: 1px dotted  #555; }
    .block009 div.cf {
      width: 910px;
      margin: 55px auto 40px; }
      .block009 div.cf table {
        width: 450px;
        float: left; }
        .block009 div.cf table + table {
          margin-left: 10px; }
        .block009 div.cf table tbody tr th {
          width: 170px;
          height: 60px;
          background: #585858;
          color: #fff;
          text-align: center;
          padding: 0 20px;
          border-bottom: 2px solid  #fff; }
        .block009 div.cf table tbody tr td {
          height: 60px;
          border-bottom: 2px solid  #fff;
          background: #efefef;
          padding: 0 20px; }

  .block10 {
    background: #fff9e5;
    padding: 45px 0;
    margin-bottom: 60px; }

  .btn_box2 {
    width: 1100px;
    margin: 0 auto 70px;
    height: 445px;
    background: url(../img/btn_box2_bg.png) no-repeat;
    position: relative;
    padding-top: 135px; }
    .btn_box2 .ttl {
      text-align: center;
      position: absolute;
      top: -15px;
      left: 0;
      right: 0;
      margin: 0; }
    .btn_box2 .txt {
      text-align: center; }
    .btn_box2 .cf {
      width: 945px;
      margin: 20px auto 0; }
    .btn_box2 .tel {
      float: left;
      width: 620px; }
    .btn_box2 .btn {
      float: right;
      width: 292px;
      height: 55px;
      padding-top: 7px;
      box-shadow: 5px 12px 0 #e2e0db;
      margin-right: 5px; }
      .btn_box2 .btn a {
        display: block; }
      .btn_box2 .btn:hover {
        opacity: 0.7;
        box-shadow: none;
        margin-right: 0;
        margin-top: 3px; }

  .block11 {
    background: #efefef;
    padding: 50px 0 0; }
    .block11 h2 {
      margin-bottom: 40px; }
    .block11 .btm_copy {
      margin-top: 50px;
      background: #e6e6e6;
      text-align: center; }
    .block11 .ex {
      width: 1000px;
      margin: 0 auto 20px;
      background: #f1f1f1;
      padding: 40px 0;
      text-align: center; }
      .block11 .ex dl {
        display: inline-block;
        width: 450px; }
        .block11 .ex dl + dl {
          width: 490px;
          margin-left: 30px;
          padding-left: 40px;
          background: url(../img/block11_arrow01.png) no-repeat left center; }
        .block11 .ex dl dt {
          margin-bottom: 20px;
          text-align: center; }
        .block11 .ex dl dd img {
          width: 100%;
          margin-bottom: 10px; }
    .block11 table {
      width: 1200px;
      margin: 0 auto; }
      .block11 table th {
        width: 320px;
        text-align: center;
        vertical-align: top;
        padding-bottom: 20px;
        border-right: 1px dotted  #555; }
        .block11 table th:first-child {
          width: 285px;
          text-align: left; }
        .block11 table th:last-child {
          width: 285px;
          text-align: right;
          border: none; }
      .block11 table td {
        text-align: center;
        vertical-align: top;
        border-right: 1px dotted  #555; }
        .block11 table td.tar {
          text-align: right; }
        .block11 table td.tal {
          text-align: left; }
        .block11 table td p {
          margin: 10px 40px 30px; }
        .block11 table td:nth-child(2) {
          background: url(../img/block11_arrow01.png) no-repeat left top 90px; }
        .block11 table td:nth-child(3) {
          background: url(../img/block11_arrow02.png) no-repeat left top 90px; }
        .block11 table td:last-child {
          background: url(../img/block11_arrow03.png) no-repeat left top 90px;
          border: none; }

  .block12 {
    padding: 80px 0 0;
    border-bottom: 8px solid  #333437; }
    .block12 h2 {
      margin-bottom: 40px; }

  .block13 {
    background: url(../img/block13_bg.png) no-repeat;
    background-size: cover; }
    .block13 div.inner {
      width: 1200px;
      margin: 0 auto;
      height: 512px;
      background: url(../img/block13_bg2.png) no-repeat right top; }
      .block13 div.inner h2 {
        text-align: left;
        margin-left: 50px;
        padding-top: 135px; }

  .block14 {
    width: 1100px;
    margin: 80px auto 90px; }
    .block14 h2 {
      margin-bottom: 40px; }
    .block14 div.txt.cf {
      border-top: 1px dotted  #555;
      border-bottom: 1px dotted  #555;
      padding: 20px 0;
      margin-bottom: 40px; }
      .block14 div.txt.cf p {
        float: left;
        padding-top: 60px;
        padding-bottom: 60px;
        width: 800px;
        font-size: 16px;
        line-height: 30px; }
      .block14 div.txt.cf img {
        float: right; }
    .block14 div.figure.cf {
      width: 1000px;
      margin: 0 auto;
      background: #f1f1f1;
      padding: 50px 100px 15px; }
      .block14 div.figure.cf div.box {
        width: 290px;
        float: left;
        margin-bottom: 35px; }
        .block14 div.figure.cf div.box:nth-child(even) {
          margin-left: 150px; }
        .block14 div.figure.cf div.box p {
          margin-top: 10px; }

  .block15 {
    width: 1000px;
    margin: 0 auto 80px; }
    .block15 h2 {
      margin-bottom: 40px; }
    .block15 ul.cf {
      border: 4px double  #c3c3c3;
      margin-top: 40px;
      padding: 40px 95px; }
      .block15 ul.cf li {
        float: left;
        width: 215px; }
        .block15 ul.cf li p {
          margin-top: 15px; }
        .block15 ul.cf li + li {
          background: url(../img/block15_arrow.png) no-repeat left top 90px;
          padding-left: 45px;
          width: 260px;
          margin-left: 30px; }

  .block16 {
    background: #efefef;
    padding: 70px 0; }
    .block16 table {
      width: 1200px;
      margin: 0 auto; }
      .block16 table tr th {
        background: #9482a8;
        font-weight: bold;
        color: #fff;
        font-size: 15px;
        padding: 20px;
        text-align: center;
        border: 2px solid  #efefef; }
      .block16 table tr td {
        padding: 15px 30px;
        background: #fff;
        border: 2px solid  #efefef;
        vertical-align: top; }

  .block17 {
    padding: 80px 0; }
    .block17 h2 {
      margin-bottom: 40px; }
    .block17 .ex {
      width: 1000px;
      margin: 0 auto 80px;
      background: #f1f1f1;
      padding: 40px 0;
      text-align: center; }
      .block17 .ex dl {
        display: inline-block;
        width: 250px; }
        .block17 .ex dl + dl {
          width: 310px;
          margin-left: 60px;
          padding-left: 60px;
          background: url(../img/block11_arrow01.png) no-repeat left center; }
        .block17 .ex dl dt {
          margin-bottom: 20px;
          text-align: center; }
        .block17 .ex dl dd img {
          margin-bottom: 10px; }

  .block18 {
    border-bottom: 8px solid  #333437; }
    .block18 h2 {
      margin-bottom: 40px; }
    .block18 div.box_wrap {
      width: 1200px;
      margin: 0 auto; }
    .block18 div.cf {
      margin-bottom: 80px; }
      .block18 div.cf div.box {
        width: 398px;
        height: 330px;
        float: left; }
        .block18 div.cf div.box p {
          width: 180px;
          padding-top: 60px;
          margin-left: 163px; }
        .block18 div.cf div.box + div.box {
          margin-left: 3px; }
        .block18 div.cf div.box:first-child {
          background: url(../img/block18_voice01.png) no-repeat #f1f1f1 center center; }
        .block18 div.cf div.box:nth-child(2) {
          background: url(../img/block18_voice02.png) no-repeat #f1f1f1 center center; }
        .block18 div.cf div.box:nth-child(3) {
          background: url(../img/block18_voice03.png) no-repeat #f1f1f1 center center; }

  .block19 {
    width: 1070px;
    margin: 100px auto 95px; }
    .block19 .intro p {
      text-align: center;
      margin-top: 40px; }

  .block19 div.cf {
    padding-top: 40px; }

  .block19 img.right {
    width: 221px;
    float: right;
    margin-top: 25px; }

  .block19 .left {
    width: 821px;
    float: left; }

  .block19 h3 {
    margin-bottom: 5px; }

  .block19 p {
    margin-left: 105px;
    margin-bottom: 15px;
    line-height: 25px; }

  .block19 p.small {
    color: #7e7e7e; }

  .block19 p.block_box {
    color: #7e7e7e;
    width: 543px;
    height: 83px;
    padding: 9px 0 0 15px;
    background: url(../img/block_box_back.gif) no-repeat 0 0; }

  .block19 .b08_tel {
    padding-top: 0 !important; }

  .block19 .b08_tel img.block07_tel01 {
    float: left;
    margin-left: 115px; }

  .block19 .b08_tel p {
    float: right;
    width: 297px;
    margin: 0 5px 0 0;
    height: 44px;
    box-shadow: 5px 5px 0 #e2e0db; }
    .block19 .b08_tel p a {
      display: block; }
    .block19 .b08_tel p:hover {
      opacity: 0.7;
      box-shadow: none;
      margin-right: 0;
      margin-top: 3px; }

  #section06 .btn_box {
    width: 100%;
    border-top: 8px solid  #333437; }
    #section06 .btn_box .cf {
      width: 1000px;
      margin: 70px auto; }

  .block20 {
    width: 1200px;
    margin: 100px auto 90px; }

  .block20 h2 {
    margin-bottom: 30px; }

  .block20 ul li {
    width: 400px !important;
    border-left: 1px solid #fff;
    padding-left: 1px;
    margin-left: 1px; }

  .block20 p {
    margin: 30px 0;
    text-align: center; }

  #section07 .btn_box {
    width: 100%;
    border-top: 8px solid  #333437; }
    #section07 .btn_box .cf {
      width: 1000px;
      margin: 70px auto; }

  .block21 {
    width: 1200px;
    margin: 10px auto 160px; }

  .block21 p.text {
    text-align: center;
    margin: 46px auto; }

  .block21 div h3 {
    margin-bottom: 30px; }

  .block21 div.left {
    float: left;
    width: 398px;
    height: 390px;
    background: #f3eff6;
    padding: 50px 20px 20px; }
    .block21 div.left + div.left {
      margin-left: 2px; }
    .block21 div.left p {
      margin: 20px 15px 0; }

  .block22 {
    width: 1000px;
    margin: 0 auto 0; }

  .block22 .intro {
    text-align: center;
    margin: 40px 0; }

  .block22 p.text {
    text-align: center;
    margin: 46px auto; }

  .block22 p.name {
    margin: 35px auto 25px; }

  .block22 h3 {
    background: url(../img/block22_border.png) no-repeat right bottom;
    font-size: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px; }
  .block22 .right {
    float: right;
    width: 810px;
    text-align: left; }
    .block22 .right .fl {
      float: left;
      width: 390px;
      margin-bottom: 20px; }
    .block22 .right .fr {
      float: right;
      width: 350px; }
    .block22 .right dl {
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 3px; }
      .block22 .right dl dt {
        float: left;
        width: 80px; }
      .block22 .right dl dd {
        float: right;
        width: 280px; }
    .block22 .right ul li {
      width: 50%;
      float: left; }

  #section09 .btn_box {
    width: 100%;
    border-top: 8px solid  #333437; }
    #section09 .btn_box .cf {
      width: 1000px;
      margin: 70px auto; }

  .block23 {
    width: 1200px;
    margin: 0 auto 80px; }
    .block23 h2 {
      margin-bottom: 30px; }
    .block23 iframe {
      width: 1200px;
      height: 350px;
      margin-bottom: 30px; }
    .block23 .left {
      float: left;
      width: 373px;
      margin-left: 40px;
      text-align: left; }
      .block23 .left h3 {
        margin-bottom: 20px; }
      .block23 .left:first-child {
        margin-left: 0; }

  #section10 .btn_box {
    width: 100%;
    border-top: 8px solid  #333437; }
    #section10 .btn_box .cf {
      width: 1000px;
      margin: 70px auto; }

  /*------------------------------------------------------------------------------------------------*/
  .block24 {
    background: #f3eff6;
    margin: 0 auto;
    padding-top: 90px; }

  .block24 h2 {
    margin: 0 auto 20px auto; }

  .block24 .flow {
    margin: 40px 0;
    text-align: center; }

  .block24 .caution {
    color: #ee0000; }

  .block24 .error {
    margin: 10px 0 0 0;
    color: #ee0000; }

  .block24 .form {
    width: 1000px;
    margin: 0 auto; }

  .block24 table {
    width: 100%;
    border: solid 1px #e0e0e0;
    float: left;
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 20px auto 40px auto;
    background: #fff; }

  .block24 th {
    width: 25%;
    background: #fff;
    padding: 20px 20px 20px 85px;
    border: solid 1px #e0e0e0;
    border-right: none;
    font-size: 14px;
    color: #000000;
    white-space: nowrap; }

  .block24 th.hissu {
    background: url(../img/hissu.png) no-repeat left 25px center; }

  .block24 th.nini {
    background: url(../img/nini.png) no-repeat left 25px center; }

  .block24 td {
    width: 75%;
    padding: 20px;
    border: solid 1px #e0e0e0;
    border-left: none;
    font-size: 14px;
    color: #333333; }

  .block24 th.last,
  .block24 td.last {
    border-bottom: none; }

  .block24 td input[type="text"],
  .block24 td input[type="tel"],
  .block24 td input[type="email"] {
    width: 40%;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #999999;
    font-size: 16px; }

  .block24 td.name input,
  .block24 td input[type="tel"],
  .block24 td input[type="email"] {
    width: 59%; }

  .block24 td input[type="checkbox"] {
    margin: 0 5px 0 10px; }

    .block24 td input.number{
      width: 10%;
    }
    .block24 td input[type="radio"]{
      margin: 0 5px 0 10px;
    }

  .block24 td select {
    background: #ffffff;
    padding: 5px;
    border: 1px solid #999999;
    font-size: 16px; }

  .block24 td textarea {
    width: 98%;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #999999;
    font-size: 16px; }

  .block24 .btn {
    margin: 0 0 60px 0;
    text-align: center; }
    .block24 .btn input:hover {
      opacity: 0.8; }
    .block24 .btn img:hover {
      opacity: 0.8; }

  .block24 .end {
    margin: 0 0 40px 0;
    text-align: center; }

  .block24 .form_end {
    margin: 120px auto 0 auto; }

  .bottom_btnarea {
    background-size: 100% 100%;
    padding: 10px 0 40px; }

  .bottom_btnarea h2 {
    position: absolute;
    top: -59px;
    left: 88px !important; }

  .bottom_logosp {
    padding: 45px 0;
    background: #333437;
    text-align: center; }

  /*=======================================================================
  サイドバー
  =======================================================================*/
  #navi {
    position: fixed;
    top: 384px;
    right: 0;
    width: 53px;
    background-color: rgba(165, 159, 173, 0.8);
    padding: 20px 0;
    z-index: 99999999999999999;
    -webkit-transform: translateY(-50%) translateZ(0);
    transform: translateY(-50%) translateZ(0); }

  #navi li {
    list-style-type: none;
    text-align: center; }

  #navi li a {
    padding: 5px 0;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 10px; }

  #navi li a:hover {
    color: #ffffff; }

  #navi li a.on {
    color: #725c8b; }

  /*=======================================================================
  ページトップ
  =======================================================================*/
  #page-top {
    position: fixed;
    bottom: 68px;
    right: 68px;
    z-index: 99999999; }

  #page-top a img:hover {
    -moz-opacity: 0.7;
    opacity: 0.7; }

  /*=======================================================================
  フッタ
  =======================================================================*/
  .copy {
    text-align: center;
    font-size: 12px;
    padding: 13px 0px; }

  /*=======================================================================
  メインイメージスクロール
  =======================================================================*/
  #slider_wp {
    width: 100%;
    min-width: 1200px;
    height: 327px;
    display: block;
    background: url(../images/main_img_bg.jpg) repeat-x;
    overflow: hidden; }

  #slider {
    width: 1200px;
    height: 327px;
    margin: 0 auto;
    position: relative;
    background: url(loader.gif) no-repeat center; }

  #slider ul li {
    width: 1200px;
    height: 327px;
    position: absolute;
    top: 0px;
    left: 0px; }

  /*=======================================================================
  clear　clearfix
  =======================================================================*/
  .clear {
    clear: both;
    visibility: visible; }

  .cf:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

  /* IE7,MacIE5 */
  .cf {
    display: inline-block; }

  /* WinIE6 below, Exclude MacIE5 \*/
  * html .cf {
    height: 1%; }

  .cf {
    display: block; }

  .box {
    display: block; }

  #section02,
  #section03,
  #section04,
  #section05,
  #section06,
  #section07,
  #section08,
  #section09 {
    margin-top: -100px;
    padding-top: 100px; }

  .pc_none {
    display: none !important; }

  .back_none {
    background: none; }

  .w415 {
    width: 415px; } }

.block09 .sp_none ul li{
	width:596px !important;
	border-left: dotted 1px #7c7c7c;
	padding-left:1px;
	margin-left:1px;
}

}

/*# sourceMappingURL=style.css.map */
