@charset "utf-8";


#instagram{
    width: 580px;
    height: 870px;
    overflow: hidden;
    position: relative;
    padding: 6px;
    box-sizing:border-box;
    background-color: #053c70;
    margin-top: 10px;
    margin: 81px auto 0 auto;
}
#instagram .inner{
    width: 568px;
    height: 828px;
    overflow: hidden;
    background-color: #fff;
    padding: 265px 20px 0 20px;
    box-sizing: border-box;
}
#insta_footer{
    position: absolute;
    width: 568px;
    height: 30px;
    background-color: #fff;
    bottom: 6px;
    left: 6px;
}
.insta_header{
    position: absolute;
    top: 6px;
    left: 6px;
}
#insta_link{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 613px;
    background-color: #fff;
    opacity: 0;
}

.instagram-media{
    box-shadow: none !important;
}


/*----- linkBlock*/
.linkBlock {
    padding: 40px 30px 0 0;
}
.linkBlock a {
    display: block;
    float: right;
    background: #d2b573;
    color: #fff;
    font-size: 20px;
    text-align: right;
    line-height: 27px;
    height: 27px;
    padding: 25px 20px;
    width: auto;
}
.linkBlock a span {
    /*display: block;
    background: url(../common/images/icon_backtop.gif) no-repeat right center;
    padding-right: 42px;*/
}