@charset "utf-8";
/* CSS Document */

/* =====================================
  INDEX.CSS - update:2014.03.05
======================================== */



/* common
---------------------------------------- */
#article > h1 img {width: 100%;}
#article em {font-style: normal; text-decoration: underline;}
h3.next-arrow { background: url(../img/next_arr.png) bottom center no-repeat; background-size: 180px auto; font-size: 1.4rem; margin-bottom: 10px; padding: 0 15px 40px;}


/*accordion*/
dl.accordion {}
dl.accordion dt {background: #b89682; color:#fff; cursor:pointer; font-weight: bold; font-size: 1.4rem; height: 35px; margin-bottom: 5px; padding: 10px; }
dl.accordion dt span {background: url(../img/arrow_bg.png) right center no-repeat; background-size: 29px 29px;
 display: block; padding: 8px 20px 8px 0px; position: relative;}
dl.accordion dt span:after {position: absolute; display: block; top: 50%; right: 9px; width: 9px; height: 9px; margin-top: -6px; border-top: 2px solid #b89682; border-right: 2px solid #b89682; -webkit-transform: rotate(135deg); transform: rotate(135deg); content: ""; }
dl.accordion dt.open span:after {position: absolute; display: block; top: 50%; right: 9px; width: 9px; height: 9px; margin-top: -3px; border-top: 2px solid #b89682; border-right: 2px solid #b89682; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); content: "";}
dl.accordion dd { display:none; font-size: 1.2rem; margin: 0; padding: 10px 0;}


.linebanner{
  width: 95%;
  margin: 0 auto 20px;
}
.linebanner img{
  max-width: 100%;
}
/* contents
---------------------------------------- */

/*---res-unit---*/
.res-unit { background: -moz-linear-gradient(top, #ffffff, #ede4df); background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ede4df)); margin-bottom: 20px; }
.res-unit h1{ background: #482c23; font-size: 1.4rem; line-height: 0; text-align: center; }
.res-unit h2 { font-size: 1.4rem; line-height: 0; text-align: center; }
.res-unit p { margin: 0; text-align: center; }
.res-unit nav { padding-bottom: 10px; }
.res-unit nav li { margin-bottom: 5px; text-align: center; }
.res-unit .ds { box-shadow: 3px 3px 0 #ede4df; -moz-box-shadow: 3px 3px 0 #ede4df; -webkit-box-shadow: 3px 3px 0 #ede4df; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }



/*---trouble---*/
.trouble h1{ background: #482c23; height: 30px; position: relative; text-align: center; }
.trouble h1.large { height: 68px; }
.trouble .detail { background: -moz-linear-gradient(top, #ede4df, #ffffff); background: -webkit-gradient(linear, left top, left bottom, from(#ede4df), to(#ffffff)); padding: 15px; }
.trouble .detail h2 { font-size: 1.4rem; }
.trouble .detail p { font-size: 1.2rem; }
.trouble .detail .bgph { background: url(../img/set02_ph01.png) 0 0 no-repeat; background-size: 105px; min-height: 105px; padding-left: 120px; }



/*---method---*/
.method > div { background: -moz-linear-gradient(top, #ede4df, #ffffff); background: -webkit-gradient(linear, left top, left bottom, from(#ede4df), to(#ffffff)); margin-top: -20px; padding: 15px 0;}
.method h2 { font-size: 1.4rem; padding: 0 15px;}
.method dd { text-align: center; }
.method dd p { margin-top: 0; margin-bottom: 1em; padding: 0 15px; text-align: left; }
.method .detail { padding: 10px 15px; }
.method .detail h3 { background:  #9e8e86; color: #fff; font-size: 1.4rem; margin-bottom: 10px; padding: 5px 10px; }
.method .detail p { padding: 0;}
.method .detail .bgph01 { background: url(../img/set03_ph02.png) 0 0 no-repeat; background-size: 125px auto; padding-left: 140px; }
.method .detail .bgph01.koukoku { background: url(../img/set03_ph02_w.png) 20px 0px no-repeat;
    background-size: 90px auto;
    padding-left: 140px; }
.method .detail .bgph02 { background: url(../img/set03_img01.png) 16px 0 no-repeat; background-size: 92px auto; min-height: 185px; padding-left: 140px; }
.method .res-unit p { margin: 0; padding: 0; }
.method .res-unit h2 { background: none; margin: 0; padding: 0; }
.method .res-unit .caption { font-size: 1rem; }


/*---media---*/
.media h1 { text-align:center; }
.media p.bgph { background: url(../img/set07_ph.png) center bottom no-repeat; background-size: 320px auto; margin-bottom: 20px; padding-bottom: 150px; }
/*-voice-*/
.voice h2 { background: #482c23; height: 30px; margin-bottom: 20px; position: relative; text-align: center; }
.voice div { font-size: 1.2rem; margin: 0 auto; padding: 0px 10px 10px 102px; width: 208px; }
.voice div p { background: #fbf3f2; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; padding: 10px; }
.voice div p em { background: #ffd0e4; text-decoration: none !important; }
.voice div p span { display: block; text-align: right; }
.voice .bgph01 { background: url(../img/set08_ph01.png) 0 0 no-repeat; background-size: 102px auto; }
.voice .bgph02 { background: url(../img/set08_ph02.png) 0 0 no-repeat; background-size: 102px auto; }
.voice .bgph03 { background: url(../img/set08_ph03.png) 0 0 no-repeat; background-size: 102px auto; }

/*-step-*/
.step h3 { background: #fbf3f2; display: block; height: 25px; position: relative; padding-left: 60px; padding-top: 5px; }
.step h3 img { left: 10px; position: absolute; top: -7px; }
.step01, .step02, .step03, .step04, .step05, .step06 { margin-bottom: 20px; }
.step .step01 .bgph { background: url(../img/set09_ph01.png) 10px 0 no-repeat; background-size: 82px auto; }
.step .step02 .bgph { background: url(../img/set09_ph02.png) 10px 0 no-repeat; background-size: 82px auto; }
.step .step03 .bgph { background: url(../img/set09_ph03.png) 10px 0 no-repeat; background-size: 82px auto; }
.step .step04 .bgph { background: url(../img/set09_ph04.png) 10px 0 no-repeat; background-size: 82px auto; }
.step .step05 .bgph { background: url(../img/set09_ph05.png) 10px 0 no-repeat; background-size: 82px auto; }
.step .step06 .bgph { background: url(../img/set09_ph06.png) 10px 0 no-repeat; background-size: 82px auto; }
.step p.bgph { margin-bottom: 10px; padding: 0 10px 0 100px; padding-bottom: 0; }
.step .step01 li { text-align: center; margin-bottom: 10px; }
.step .step01 li p { font-size: 1rem; margin-top: 0; }
.step p .box { border: 1px solid #cbb1a2; display: block; font-size: 1rem; margin-top: 10px; padding: 5px; text-decoration: none; }

/*-flow-*/
.flow .detail { border-bottom: 1px dotted #462c24; margin: 0 10px 10px; padding-bottom: 10px; }
.flow .detail.last { border-bottom: none; }
.flow .detail:after { content: "."; display: block; clear: both; height: 0; line-height: 0; visibility: hidden; }
.flow .detail h3 { background: url(../img/set10_stet_arr.png) center bottom no-repeat #e0d0c7; display: block; float: left; font-size: 1.2rem; padding-top: 15px; padding-bottom: 25px; text-align: center; width: 70px; }
.flow .detail.last h3 { font-size: 1.1rem; }
.flow .detail p { float: right; margin-top: 0; padding-left: 10px; width: 70%; }
.media .flow .bgph { background: url(../img/set10_ph.png) center bottom no-repeat; background-size: 215px auto; margin-bottom: 10px; padding: 0 10px 120px; }

/*-faq-*/
.faq .detail { border-bottom: 1px dotted #462c24; margin: 5px 10px; padding: 5px 0; }
.faq .mb20 { margin-bottom: 20px; }
.faq .detail h3 { background: url(../img/set10_icn01.png) 0 0 no-repeat; background-size: 35px auto; min-height: 30px; font-size: 1.2rem; padding-left: 45px; }
.faq .detail p { background: url(../img/set10_icn02.png) 0 0 no-repeat; background-size: 35px auto; font-size: 1.2rem; min-height: 30px; padding-left: 45px; }




/*---clinic---*/
/*-about-*/
.about { margin-bottom: 20px; }
.about h1 { background: #482c23; height: 30px; margin-bottom: 20px; position: relative; text-align: center; }
.about h2 { font-size: 1.4rem; margin-bottom: 10px; text-align: center; }
.about p { font-size: 1.2rem; padding: 0 15px; }
.about #slider img { margin: 0 auto; }

/*-access-*/
.access { margin-bottom: 20px; }
.access h1 { background: #482c23; height: 30px; position: relative;   text-align: center; }
.access p { font-size: 1.2rem; font-weight: bold; margin-bottom: 20px; padding: 0 15px; }
.access div { margin-bottom: 10px; text-align: center; }
.access .detail { margin: 0 15px; }
.access .detail dt { font-size: 1.3rem; font-weight: bold; margin-bottom: 3px; min-height: 23px; padding-left:25px; }
.access .detail dt.train { background: url(../img/set12_icn_train.png) 0 center no-repeat; background-size: 21px auto; }
.access .detail dt.car { background: url(../img/set12_icn_car.png) 0 center no-repeat; background-size: 21px auto; }
.access .detail dt.open { background: url(../img/set12_icn_open.png) 0 center no-repeat; background-size: 21px auto; }
.access .detail dt.close { background: url(../img/set12_icn_close.png) 0 center no-repeat; background-size: 21px auto; }
.access .detail dd { font-size: 1.2rem; line-height: 1.6; margin: 0; margin-bottom: 10px; padding: 0; }
.access .detail .disc li { list-style-type: disc; line-height: 1.6; margin-left: 1.3rem; }

/*-concept-*/
.concept { margin-bottom: 20px; }
.concept h1 { background: #482c23; height: 30px; position: relative; text-align: center; }
.concept p { font-size: 1.2rem; margin-bottom: 15px; padding: 0 15px; text-align: left; }
.concept dt { font-size: 1.3rem; font-weight: bold; margin-bottom: 10px; }
.concept dd { margin: 0; padding: 0; text-align: center; }






/*---doctor---*/
.doctor { margin-bottom: 20px; }
.doctor h1 { background: #482c23; height: 30px; position: relative; text-align: center; }
.doctor h2 { background: #dec3b8; line-height: 0; }
.doctor p { font-size: 1.2rem; margin-bottom: 15px; padding: 0 15px; }
.doctor .accordion dd { font-size: 1.2rem; line-height: 1.6; margin: 0; padding: 0px 15px; }
.doctor .accordion ul { margin-bottom: 1em; }
.doctor .accordion .disc li { list-style-type: disc; line-height: 1.6; margin-left: 1.3rem; }
.doctor .accordion p { padding: 0; }
.doctor .com-box { border: 3px solid #dec3b8; margin: 15px 15px 30px; padding: 15px; }
.doctor .com-box h3 { font-size: 1.4rem; margin-bottom: 10px; text-align: center; }
.doctor .com-box p { font-size: 1.2rem; line-height: 1.6; margin: 0; padding: 0; }
.doctor .res-unit p { margin: 0; padding: 0; }
.doctor .res-unit h2 { background: none; padding: 0; margin: 0; }
.doctor .res-unit .caption { font-size: 1rem; }






/*---pickup---*/
.pickup { margin-bottom: 10px; }
.pickup h1 { border-top: 1px solid #a39591; margin-bottom: 15px; padding-top: 5px; text-align: center; }
.pickup ul { margin-bottom: 20px; }
.pickup li { margin-bottom: 10px; text-align: center; }




/*--attentionBox add160728--*/
.attentionBox {
  width: 80%;
  max-width: 360px;
  padding: 0 1em;
  margin: 2em auto;
  border: 1px solid #999;
  text-align: left;
}
.attentionBox > dl > * {
  margin: 0;
}
.attentionBox dt {
  font-size: 1.3em;
  font-weight: bold;
  color: #ff9900;
  margin-bottom: 0.5em;
  text-align: center;
}
#page-top{
  position: fixed;
  bottom:100px;
  right:10px;
}
