@charset "UTF-8";

/*=======================================================================
共通のCSS
=======================================================================*/
.pan_kuzsu ul{
	margin-bottom:20px;
}
.pan_kuzsu ul li{
	float:left;
}
.pan_kuzsu ul li a{
	color:#333;
}
.pan_kuzsu ul li a:hover{
	text-decoration:underline;
	color:#b3b2b2;
}

.tit_01{
	background:url(../images/sub_tit01.jpg);
	width:650px;
	height:40px;
	padding:20px;
}
.tit_01 h2{
	font-size:30px;
	font-weight:bold;
	color:#FFF;
}
.tit_01 p{
	color:#FFF;
	margin:10px 0 0 0;
	font-weight:bold;
}
.tit_02{
	background:url(../images/sub_tit01.jpg);
	width:650px;
	height:30px;
	padding:30px 20px 20px 20px;
}
.tit_02 h2{
	font-size:25px;
	font-weight:bold;
	color:#FFF;
}
.tit_03{
	background:url(../images/sub_tit01.jpg);
	width:650px;
	height:40px;
	padding:20px;
}
.tit_03 h2{
	font-size:27px;
	font-weight:bold;
	color:#FFF;
}
.tit_03 p{
	color:#FFF;
	margin:10px 0 0 0;
	font-weight:bold;
}
.tit_04{
	background:url(../images/sub_tit02.jpg);
	width:650px;
	height:59px;
	padding:20px;
	margin-top:20px;
}
.tit_04 h2{
	font-size:27px;
	font-weight:bold;
	color:#FFF;
}
.tit_04 p{
	color:#FFF;
	margin:10px 0 0 0;
	font-weight:bold;
}
.tit_05{
	background:url(../images/sub_tit01.jpg);
	width:650px;
	height:40px;
	padding:20px;
	position:relative;
}
.tit_05 h2{
	font-size:27px;
	font-weight:bold;
	color:#FFF;
	position:absolute;
	top:33px;
	left:20px;
}
.tit_05 p{
	color:#FFF;
	top:23px;
	right:20px;
	position:absolute;
	font-weight:bold;
}

.tit_06{
	background:url(../images/sub_tit01.jpg);
	width:650px;
	height:30px;
	padding:30px 20px 20px 20px;
}
.tit_06 h2{
	font-size:24px;
	font-weight:bold;
	color:#FFF;
	letter-spacing:-1px;
}



.tit_10{
	background:url(../images/conpany_bg02.jpg);
	width:650px;
	padding:20px;
	-webkit-border-radius: 8px 8px 0px 0px / 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px / 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px / 8px 8px 0px 0px;
}
.tit_10 h2{
	font-size:30px;
	font-weight:bold;
	color:#FFF;
	line-height:100%;
}
.tit_10 p{
	color:#FFF;
	margin:10px 0 0 0;
	font-weight:bold;
}






.sbu_div{
	width:688px;
	background:#FFF;
	border:solid 1px #75a635;
	-webkit-border-radius: 0px 0px 8px 8px / 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px / 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px / 0px 0px 8px 8px;
	padding:20px 0 20px 0;
	font-size:14px;
	color:#49261b;
}
.sbu_div p{
	color:#49261b;
}
.sbu_bottom{
	margin-top:40px;
}
.sbu_bottom h2{
	text-align:center;
	font-size:22px;
	font-weight:bold;
	color:#4c2a1f;
	margin-bottom:10px;
}
.sbu_bottom div{
	background:url(../images/bottom_bg02.png);
	width:646px;
	height:52px;
	padding:22px;
}
.sbu_bottom div ul{
}
.sbu_bottom div ul li.left{
	float:left;
}
.sbu_bottom div ul li.right{
	float:right;
	padding-top:8px;
	background:url(../images/bottom_tel02.jpg) no-repeat right top;
	line-height:200%;
}
.sbu_bottom div ul li.right span{
	font-size:15px;
	font-weight:bold;
	color:#4c2a1f;
}



/*=======================================================================
札幌・善導で素早い決算申告
=======================================================================*/
.flow_bloc01{
	background:url(../images/flow_cnt_bg01.png);
	width:606px;
	height:417px;
	margin:0 auto;
	padding:20px;
	font-size:14px;
}
.flow_bloc01 h2{
	font-weight:bold;
	font-size:20px;
	text-align:center;
	background:url(../images/flow_tit_bg01.jpg) repeat-x;
	padding:10px 0;
	border:solid 1px #c8c8c8;
	color:#4b8400;
	margin-bottom:17px;
}
.flow_bloc01 ul li{
	margin-bottom:17px;
	padding:0 10px 10px 10px;
	height:160px;
}
.flow_bloc01 ul li.left{
	float:left;
	width:271px;
	border:solid 1px #c8c8c8;
	background:url(../images/flow_tit_bg02.jpg) repeat-x top;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.flow_bloc01 ul li.right{
	float:right;
	width:271px;
	border:solid 1px #c8c8c8;
	background:url(../images/flow_tit_bg02.jpg) repeat-x top;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.flow_bloc01 ul li.no01 h3{
	background:url(../images/flow_no01.png)  no-repeat 10px 0px;
	font-size:17px;
	font-weight:bold;
	color:#4c2a1f;
	padding:8px 0 20px 65px;
}
.flow_bloc01 ul li.no02 h3{
	background:url(../images/flow_no02.png)  no-repeat 10px 0px;
	font-size:17px;
	font-weight:bold;
	color:#4c2a1f;
	padding:18px 0 30px 65px;
}
.flow_bloc01 ul li.no03 h3{
	background:url(../images/flow_no03.png)  no-repeat 10px 0px;
	font-size:17px;
	font-weight:bold;
	color:#4c2a1f;
	padding:8px 0 20px 65px;
}
.flow_bloc01 ul li.no04 h3{
	background:url(../images/flow_no04.png)  no-repeat 10px 0px;
	font-size:17px;
	font-weight:bold;
	color:#4c2a1f;
	padding:8px 0 20px 65px;
}

.flow_bloc02{
	border-top: dotted 1px #333;
	margin-top:25px;
	padding-top:5px;
	font-size:14px;
}
.flow_bloc02 div{
	background:#e9e9e9;
	width:606px;
	margin:20px auto 0;
	padding:0 20px 20px 20px;
	-webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
	border: solid 1px #dedede;
}
.flow_bloc02 div h3{
	background:url(../images/flow_q.png) no-repeat left;
	padding:0 0 0 40px;
}
.flow_bloc02 div h3 span{
	border-left:dotted 1px #75a635;
	display:block;
	padding:25px 0 20px 15px;
	font-size:17px;
	font-weight:bold;
	color:#4c2a1f;
}
.flow_bloc02 div p{
	background:#FFF;
	border:solid 1px #c8c8c8;
	padding:15px;
}
.flow_bloc02 div p span{
	background:url(../images/flow_a.png) no-repeat left center;
	display:block;
	padding:5px 0 5px 30px;
}


/*=======================================================================
ご契約までの流れ
=======================================================================*/
.step_01{
	width:616px;
	margin:0 auto;
	border:solid 1px #c8c8c8;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:15px;
	font-size:14px;
}
.step_01 h2{
	font-size:20px;
	font-weight:bold;
	color:#4a8300;
	background:url(../images/step_01.jpg) no-repeat 20px 0;
	padding-left:100px;
	padding-bottom:15px;
	padding-top:3px;
	margin-bottom:20px;
	border-bottom:dashed 1px #92ba64;
}
.step_01 div.waku{
	background:url(../images/flow_tit_bg03.jpg);
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px;
	font-size:20px;
	color:#48261a;
	font-weight:bold;
	text-align:center;
}
.step_01 h3{
	font-size:20px;
	color:#48261a;
	font-weight:bold;
	text-align:center;
}
.step_01 div.waku p{
	text-align:center;
	margin:15px 0;
	line-height:150%;
}
.step_02{
	width:616px;
	margin:0 auto;
	border:solid 1px #c8c8c8;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:15px;
	font-size:14px;
}
.step_02 h2{
	font-size:20px;
	font-weight:bold;
	color:#4a8300;
	background:url(../images/step_02.jpg) no-repeat 20px 0;
	padding-left:100px;
	padding-bottom:15px;
	padding-top:3px;
	margin-bottom:20px;
	border-bottom:dashed 1px #92ba64;
}
.step_02 p{
	text-align:center;
	line-height:160%;
	font-size:15px;
}
.step_03{
	width:616px;
	margin:0 auto;
	border:solid 1px #c8c8c8;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:15px;
	font-size:14px;
}
.step_03 h2{
	font-size:20px;
	font-weight:bold;
	color:#4a8300;
	background:url(../images/step_03.jpg) no-repeat 20px 0;
	padding-left:100px;
	padding-bottom:15px;
	padding-top:3px;
	margin-bottom:20px;
	border-bottom:dashed 1px #92ba64;
}
.step_03 p{
	text-align:center;
	line-height:160%;
	font-size:15px;
}
.step_04{
	width:616px;
	margin:0 auto;
	border:solid 1px #c8c8c8;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:15px 15px 0 15px ;
	font-size:14px;
}
.step_04 p{
	text-align:center;
	line-height:160%;
	font-size:15px;
	margin-bottom:15px;
}
.step_04 h2{
	font-size:20px;
	font-weight:bold;
	color:#4a8300;
	background:url(../images/step_04.jpg) no-repeat 20px 0;
	padding-left:100px;
	padding-bottom:15px;
	padding-top:3px;
	margin-bottom:20px;
	border-bottom:dashed 1px #92ba64;
}
img.step_icon{
	margin:0 auto;
	display:block;
}


/*=======================================================================
0からの起業
=======================================================================*/
.business_cnt01{
	width:606px;
	margin:15px auto;
	border:solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.business_cnt01 h2{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	background: url(../images/flow_tit_bg01.jpg) repeat-x;
	padding: 10px 0;
	border: solid 1px #c8c8c8;
	color: #4b8400;
	margin-bottom:20px;
}
.business_cnt01 p{
	margin-bottom:20px;
}
.business_cnt01 table{
	width:100%;
	border-collapse: separate;
	border-spacing: 0px 20px;
	margin-top:-20px;
}
.business_cnt01 table th{
	height:58px;
	font-size:25px;
	font-weight:bold;
	width:50px;
	text-align:center;
	border-right:dotted 1px #60961a;
	color:#60961a;
	background:url(../images/business_bg.jpg) no-repeat;
}
.business_cnt01 table td{
	font-size:17px;
	font-weight:bold;
	padding-left:20px;
	background:url(../images/business_bg.jpg) no-repeat right 0;
}
.business_cnt02{
	width:606px;
	margin:20px auto 0;
	border:solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.business_cnt02 h2{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	background: url(../images/flow_tit_bg01.jpg) repeat-x;
	padding: 10px 0;
	border: solid 1px #c8c8c8;
	color: #4b8400;
	margin-bottom:20px;
}
.business_cnt02 p{
	margin-bottom:20px;
}
.business_cnt01 h3{
	color:#4b8400;
	font-size:14px;
	font-weight:bold;
}
.business_img img{
	display:block;
	margin:20px auto 0;
}

/*=======================================================================
1年分の会計と決算を一気にお願いしたい
=======================================================================*/
.please_cnt01{
	width:606px;
	margin:0 auto;
	border:solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.please_cnt01 p{
	font-size:17px;
	line-height:160%;
	text-align:center;
	margin-bottom:10px;
}
.please_cnt01 p.please_tex{
	color:#fe3d3d;
}

/*=======================================================================
税務セカンドオピニオン
=======================================================================*/
.second_opinion_cnt01{
	width:606px;
	margin:0 auto;
	border:solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.second_opinion_cnt01 h2{
	font-size:19px;
	font-weight:bold;
	background:url(../images/second_opinion_icon.jpg) no-repeat left center;
	padding:5px 0 5px 30px;
}
.second_opinion_cnt01 .opinion_bg{
	background:url(../images/second_opinion_bg.jpg);
	width:192px;
	height:153px;
}
.second_opinion_cnt01 .opinion_bg h3{
	font-size:17px;
	font-weight:bold;
	color:#4d8504;
	text-align:center;
	padding-top:20px;
	line-height:140%;
}
.second_opinion_cnt01 .opinion_bg_none h3{
	width:192px;
	height:153px;
	font-size:17px;
	font-weight:bold;
	color:#ff4444;
	text-align:center;
	padding-top:20px;
	line-height:140%;
}
.second_opinion_cnt01 .opinion_bg_none h3 span{
	font-size:20px;
}
.second_opinion_cnt01 li{
	float:left;
	margin-top:15px;
}
.second_opinion_cnt02{
	width:606px;
	margin:0 auto;
	border:solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.second_opinion_cnt02 h2{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	background: url(../images/flow_tit_bg01.jpg) repeat-x;
	padding: 10px 0;
	border: solid 1px #c8c8c8;
	color: #4b8400;
	margin-bottom:20px;
}
.second_opinion_cnt02 ul li{
	background:url(../images/business_bg.jpg) no-repeat;
	height:55px;
	padding-top:20px;
	text-align:center;
	font-size:17px;
	font-weight:bold;
}

/*=======================================================================
札幌・北海道で開業支援
=======================================================================*/
.support_cnt01{
	width:606px;
	margin:0 auto;
	border:solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.support_cnt01 h2{
	font-size:19px;
	font-weight:bold;
	background:url(../images/second_opinion_icon.jpg) no-repeat left center;
	padding:5px 0 5px 30px;
}
.support_cnt01 h3{
	text-align:center;
	font-size:19px;
	font-weight:bold;
	background:#fffcb3;
	padding:5px 0;
	width:240px;
	margin:0 auto;
}
.support_cnt01 ul{
	margin-top:20px;
}
.support_cnt01 ul li{
	font-size:17px;
	font-weight:700;
	padding-top:20px;
}
.support_cnt01 .left{
	float:left;
	width:291px;
	text-align:center;
	background:url(../images/support_img_bg.jpg) no-repeat;
	height:58px;
}
.support_cnt01 .right{
	float:right;
	width:291px;
	text-align:center;
	background:url(../images/support_img_bg.jpg) no-repeat;
	height:58px;
}
.support_cnt01 p{
	text-align:center;
	margin-bottom:20px;
}
.support_cnt01 p a{
	color:#4c92cd;
}

.support_cnt02{
	border-top:dotted 1px #333;
	margin-top:30px;
	padding-top:20px;
	position:relative;
}
.support_cnt02 h2{
	width:496px;
	font-size:19px;
	font-weight:bold;
	background:url(../images/second_opinion_icon.jpg) no-repeat left center;
	padding:5px 0 5px 30px;
	margin:0 auto;
	line-height:160%;
	margin-bottom:30px;
}
.support_cnt02 img{
	margin:-15px 0 0 -1px;
}
.support_cnt02 p{
	width:180px;
	margin:10px auto;
}
.support_cnt02 ul{
	width:180px;
	margin:0 auto;
	color:#5b8f17;
}
.support_cnt02 a{
	color:#4c92cd;
}
.support01{
	width:199px;
	height:280px;
	float:left;
	margin-left:20px;
	margin-bottom:20px;
	border:solid 1px #c8c8c8;
	font-size:12px;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.support02{
	width:199px;
	height:280px;
	float:left;
	margin-left:20px;
	margin-bottom:20px;
	border:solid 1px #c8c8c8;
	font-size:12px;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.support03{
	width:199px;
	height:280px;
	float:left;
	margin-left:20px;
	margin-bottom:20px;
	border:solid 1px #c8c8c8;
	font-size:12px;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.ab01{
	position:absolute;
	top:250px;
	left:222px;
}
.ab02{
	position:absolute;
	top:250px;
	right:226px;
}
.support_tex{
	width:527px !important;
	margin:0 auto;
	clear:both;
	font-size:17px;
	background:url(../images/support_img.jpg) no-repeat right top;
	padding-top:40px;
	padding-bottom:10px;
	line-height:150%;
}
.support_tex span{
	font-size:26px;
	margin-top:20px;
	display:block;
}

/*=======================================================================
銀行融資対策
=======================================================================*/
.bank_list{
	margin:20px auto;
	font-size:17px;
	font-weight:bold;
	width:517px;
}
.bank_list li.no01{
	background:url(../images/bank_no01.jpg) no-repeat left;
	padding-left:40px;
	padding-top:10px;
	padding-bottom:10px;
}
.bank_list li.no02{
	background:url(../images/bank_no02.jpg) no-repeat left;
	padding-left:40px;
	padding-top:10px;
	padding-bottom:10px;
}
.bank_bloc01{
	background:url(../images/flow_cnt_bg01.png);
	width:606px;
	height:417px;
	margin:0 auto;
	padding:20px;
	font-size:14px;
}
.bank_bloc01 h2{
	font-weight:bold;
	font-size:20px;
	text-align:center;
	background:url(../images/flow_tit_bg01.jpg) repeat-x;
	padding:12px 0 8px;
	border:solid 1px #c8c8c8;
	color:#4b8400;
}
.bank_bloc01 ul li{
	margin-top:15px;
	padding:0 10px 10px 10px;
	height:162px;
}
.bank_bloc01 ul li.left{
	float:left;
	width:271px;
	border:solid 1px #c8c8c8;
	background:url(../images/flow_tit_bg02.jpg) repeat-x top;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.bank_bloc01 ul li.right{
	float:right;
	width:271px;
	border:solid 1px #c8c8c8;
	background:url(../images/flow_tit_bg02.jpg) repeat-x top;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.bank_bloc01 ul li.no01 h3{
	background:url(../images/bank_a.jpg)  no-repeat 10px 0px;
	font-size:17px;
	font-weight:bold;
	color:#4c2a1f;
	padding:18px 0 30px 65px;
}
.bank_bloc01 ul li.no02 h3{
	background:url(../images/bank_b.jpg)  no-repeat 10px 0px;
	font-size:17px;
	font-weight:bold;
	color:#4c2a1f;
	padding:18px 0 30px 65px;
}
.bank_bloc01 ul li.no03 h3{
	background:url(../images/bank_c.jpg)  no-repeat 10px 0px;
	font-size:17px;
	font-weight:bold;
	color:#4c2a1f;
	padding:18px 0 30px 65px;
}
.bank_bloc01 ul li.no04 h3{
	background:url(../images/bank_d.jpg)  no-repeat 10px 0px;
	font-size:17px;
	font-weight:bold;
	color:#4c2a1f;
	padding:18px 0 30px 65px;
}

.bank_bloc02{
	border-top: dotted 1px #333;
	margin-top:25px;
	padding-top:20px;
	font-size:14px;
}
.bank_bloc02 ul{
	width:600px;
	margin:0 auto;
}
.bank_bloc02 ul li{
	margin-bottom:30px;
}
.bank_bloc02 ul li.left{
	float:left;
	width:275px;
}
.bank_bloc02 ul li.right{
	float:right;
	width:275px;
}
.bank_bloc02 ul li h3{
	font-size:17px;
	font-weight:bold;
	line-height:140%;
	background:url(../images/bank_icon.jpg) no-repeat left;
	padding:10px 0 10px 50px;
	border-bottom: dashed 1px #73a038;
	margin-bottom:10px;
}

/*=======================================================================
札幌・北海道で経営支援
=======================================================================*/
.management_bloc01 {
	width:606px;
	margin:0 auto;
	border:solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.management_bloc01 p{
	text-align:center;
	font-size:17px;
}
.management_bloc01 h2{
	font-size:23px;
	text-align:center;
	margin:10px 0 ;
}
.management_bloc01 div table{
	font-size:17px;
	font-weight:bold;
	width:291px;
	border-collapse: separate;
	border-spacing: 0px 20px;
	margin-top:-10px;
}
.management_bloc01 div table th{
	font-size:30px;
	font-weight:bold;
	color:#73a038;
	border-right: dashed 1px #73a038;
	vertical-align:middle;
	text-align:center;
	width:40px;
	padding-right:5px;
	height:56px;
	letter-spacing:-3px;
	background:url(../images/management_bg.jpg) no-repeat top left;
}
.management_bloc01 div table td{
	padding-left:15px;
	background:url(../images/management_bg.jpg) no-repeat top right;
}
.management_bloc01 div table td span{
	font-size:15px;
}
.management_bloc01 div table.left{
	float:left;
}
.management_bloc01 div table.right{
	float:right;
}
p.management_tex{
	width:486px;
	font-size:15px;
	margin:0 auto 20px auto;
	text-align:left;
	background:url(../images/management_icon.jpg) no-repeat left;
	padding:5px 0 5px 50px;
}
.management_bloc02{
	width:603px;
	margin:20px auto 0;
}
.management_bloc02 h3{
	text-align:center;
	font-size:19px;
	font-weight:bold;
	background:#fffcb3;
	padding:10px 0;
	width:250px;
	margin:20px auto 0;
}
.management_bloc03 {
	width:606px;
	margin:0 auto;
	border:solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.management_bloc03 p{
}
.management_bloc03 div table{
	font-size:17px;
	font-weight:bold;
	width:291px;
	border-collapse: separate;
	border-spacing: 0px 20px;
	margin-top:-10px;
}
.management_bloc03 div table th{
	font-size:30px;
	font-weight:bold;
	color:#73a038;
	border-right: dashed 1px #73a038;
	vertical-align:middle;
	text-align:center;
	width:40px;
	padding-right:5px;
	height:56px;
	letter-spacing:-3px;
	background:url(../images/management_bg.jpg) no-repeat top left;
}
.management_bloc03 div table td{
	padding-left:15px;
	background:url(../images/management_bg.jpg) no-repeat top right;
}
.management_bloc03 div table td span{
	font-size:15px;
}
.management_bloc03 div table.left{
	float:left;
}
.management_bloc03 div table.right{
	float:right;
}
.management_bloc04 h2{
	background:#75a635;
	padding:5px 0 5px 15px;
	width:631px;
	margin:20px auto;
	color:#FFF;
	font-size:17px;
}
.management_bloc04 p{
	width:602px;
	margin:0 auto;
	line-height:150%;
}
.management_bloc04 img{
	display:block;
	margin:0 auto 15px;
}

/*=======================================================================
個人事業主と法人はどっちが得
=======================================================================*/
.gain_tit{
	font-size:18px;
	font-weight:bold;
	background:url(../images/second_opinion_icon.jpg) no-repeat left center;
	padding:5px 0 5px 30px;
	line-height:140%;
	width:613px;
	margin:0 auto 15px;
}
.gain_bloc01{
	width:606px;
	margin:0 auto;
	border:solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.gain_list01 li{
	background:url(../images/gain_bg.jpg);
	width:265px;
	height:154px;
	padding:0 15px;
	font-size:13px;
}
.gain_list01 li.left{
	float:left;
}
.gain_list01 li.right{
	float:right;
}
.gain_list01 li.left h3{
	margin:20px auto 25px;
	line-height:140%;
}
.gain_list01 li.right h3{
	margin:10px auto;
	line-height:130%;
}
.gain_list01 li h3{
	text-align:center;
	font-size:19px;
	font-weight:bold;
	color:#4b8401;
}
.gain_list01 li h3 span{
	font-size:14px;
	display:block;
	line-height:5px;
}
.gain_list01 li h3 span.mtm{
	margin:-10px 0;
}
.gain_bloc01 p{
	text-align:center;
	margin:15px auto;
	line-height:160%;
}
.gain_list02{
	width:420px;
	margin:0 auto 20px;
}
.gain_list02 li.left{
	float:left;
}
.gain_list02 li.right{
	float:right;
}

/*=======================================================================
個人事業主
=======================================================================*/
.oneman_bloc01{
	width:646px;
	margin:0 auto;
}
.oneman_bloc01 a{
	color:#5a9bd1;
}
.oneman_bloc01 p{
	margin-bottom:20px;
}
.oneman_bloc02{
	background:url(../images/flow_cnt_bg01.png);
	width:606px;
	height:417px;
	margin:0 auto;
	padding:20px;
	font-size:14px;
}
.oneman_bloc02 h2{
	font-weight:bold;
	font-size:20px;
	text-align:center;
	background:url(../images/flow_tit_bg01.jpg) repeat-x;
	padding:10px 0;
	border:solid 1px #c8c8c8;
	color:#4b8400;
}
.oneman_bloc02 ul li{
	margin-top:16px;
	padding:0 10px 10px 10px;
}
.oneman_bloc02 ul li.left{
	float:left;
	width:271px;
	border:solid 1px #c8c8c8;
	background:url(../images/flow_tit_bg02.jpg) repeat-x top;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.oneman_bloc02 ul li.right{
	float:right;
	width:271px;
	border:solid 1px #c8c8c8;
	background:url(../images/flow_tit_bg02.jpg) repeat-x top;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.oneman_bloc02 ul li.no01 h3{
	background:url(../images/flow_no01.png)  no-repeat 10px 0px;
	font-size:17px;
	font-weight:bold;
	color:#4c2a1f;
	padding:18px 0 30px 65px;
}
.oneman_bloc02 ul li.no02 h3{
	background:url(../images/flow_no02.png)  no-repeat 10px 0px;
	font-size:17px;
	font-weight:bold;
	color:#4c2a1f;
	padding:18px 0 30px 65px;
}
.oneman_bloc02 ul li.no03 h3{
	background:url(../images/flow_no03.png)  no-repeat 10px 0px;
	font-size:17px;
	font-weight:bold;
	color:#4c2a1f;
	padding:8px 0 20px 65px;
}
.oneman_bloc02 ul li.no04 h3{
	background:url(../images/flow_no04.png)  no-repeat 10px 0px;
	font-size:17px;
	font-weight:bold;
	color:#4c2a1f;
	padding:18px 0 30px 65px;
}

/*=======================================================================
個人情報保護方針
=======================================================================*/
.privacy_bloc01{
	padding:0 20px;
}
.privacy_bloc01 h3{
	margin:20px 0 5px 0;
	color:#4b8400;
	font-weight:bold;
	border-bottom: dashed 1px #4b8400;
	padding-bottom:5px;
}

/*=======================================================================
顧問税理士の契約料は
=======================================================================*/
.contract_price01{
	width:646px;
	margin:0 auto;
}
.contract_price01 div{
	width:606px;
	margin:20px auto 0;
	border:solid 1px #c8c8c8;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.contract_price01 div.no01 h3{
	padding-left:70px;
	font-size:17px;
	font-weight:bold;
	background:url(../images/contract_price_no01.jpg) no-repeat left 0px;
	border-bottom:dashed 1px #75a635;
	padding-bottom:5px;
	margin-bottom:5px;
}
.contract_price01 div.no02 h3{
	padding-left:70px;
	font-size:17px;
	font-weight:bold;
	background:url(../images/contract_price_no02.jpg) no-repeat left 0px;
	border-bottom:dashed 1px #75a635;
	padding-bottom:5px;
	margin-bottom:5px;
}
.contract_price01 div.no03 h3{
	padding-left:70px;
	font-size:17px;
	font-weight:bold;
	background:url(../images/contract_price_no03.jpg) no-repeat left;
	margin-bottom:20px;
}
.contract_price01 div.no01 table{
	width:100%;
}
.contract_price01 div.no01 table th{
	width:33.3%;
	text-align:center;
	background:#e6e6e5;
	font-size:17px;
	font-weight:bold;
	height:40px;
	vertical-align:middle;
	border-left:solid 1px #FFF;
	border-bottom:solid 1px #FFF;
}
.contract_price01 div.no01 table td{
	width:33.3%;
	text-align:center;
	background:#f3f3f2;
	height:40px;
	vertical-align:middle;
	border-left:solid 1px #FFF;
	border-bottom:solid 1px #FFF;
}
.contract_price01 div.no01 p{
	margin:10px auto;
	text-align:right;
	color:#7a6762;
	font-size:13px;
}
.contract_price01 div.no02{
	padding:20px 20px 10px 20px !important;
}
.contract_price01 div.no02 dl{
	border:solid 1px #c8c8c8;
	padding:10px;
	margin-bottom:10px;
}
.contract_price01 div.no02 dl dt{
	float:left;
	font-size:17px;
	font-weight:bold;
}
.contract_price01 div.no02 dl dd{
	float:left;
	background:url(../images/contract_price_icon.jpg) no-repeat left top;
	padding-left:20px;
	margin-left:10px;
	font-size:25px;
	font-weight:bold;
	color:#fe3d3d;
}
.contract_price01 div.no02 dl dd span{
	font-size:14px;
	font-weight:normal;
}
.contract_price01 div.no02 p{
	margin:10px 0;
}


/*=======================================================================
税務調査対策と対応
=======================================================================*/
.correspondence_bloc01 p{
	margin-bottom:20px;
}
.correspondence_bloc01 h3{
	font-size:17px;
	font-weight:bold;
	color:#4b8400;
	margin-bottom:10px;
}
.correspondence_bloc01{
	width:606px;
	margin:0 auto;
	border:solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.correspondence_bloc01 table{
	width:100%;
	border-collapse: separate;
	border-spacing: 0px 20px;
	margin-top:-20px;
}
.correspondence_bloc01 table th{
	height:58px;
	font-size:25px;
	font-weight:bold;
	width:50px;
	text-align:center;
	border-right:dotted 1px #60961a;
	color:#60961a;
	background:url(../images/business_bg.jpg) no-repeat;
}
.correspondence_bloc01 table td{
	font-size:14px;
	font-weight:bold;
	padding-left:20px;
	background:url(../images/business_bg.jpg) no-repeat right 0;
}

/*=======================================================================
相続・事業継承
=======================================================================*/
.succeed_bloc01{
	width:606px;
	margin:0px auto 0;
	border: solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.succeed_bloc01 h2{
	font-size: 19px;
	font-weight: bold;
	background: url(../images/second_opinion_icon.jpg) no-repeat left center;
	padding: 0px 0 0px 30px;
	line-height:150%;
	margin: 0 0 10px 0;
}
.succeed_bloc01 ul{
	margin-bottom:20px;
}
.succeed_bloc01 ul li{
	background:url(../images/succeed_bg.jpg);
	width:191px;
	height:131px;
	float:left;
	text-align:center;
	color:#4b8400;
	padding-top:20px;
	font-size:17px;
	font-weight:bold;
	line-height:140%;
}
.succeed_bloc01 p{
	text-align:center;
	margin: 0 0 15px 0;
}
.succeed_bloc01 h3{
	text-align:center;
	font-size:19px;
	font-weight:bold;
	background:#fffcb3;
	padding:5px 0;
	width:240px;
	margin:0 auto 20px;
}
.succeed_bloc01 ul li.no02{
	margin:0 15px;
}
.succeed_bloc02{
	border-top: dotted 1px #333;
	margin-top:25px;
	padding-top:5px;
	font-size:14px;
}
.succeed_bloc02 div{
	background:#e9e9e9;
	width:606px;
	margin:20px auto 0;
	padding:0 20px 20px 20px;
	-webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
	border: solid 1px #dedede;
	position:relative;
}
.succeed_bloc02 div img{
	position:absolute;
	top:-10px;
	right:30px;
}
.succeed_bloc02 div h3{
	background:url(../images/flow_q.png) no-repeat left;
	padding:0 0 0 40px;
}
.succeed_bloc02 div h3 span{
	border-left:dotted 1px #75a635;
	display:block;
	padding:15px 0 15px 15px;
	font-size:16px;
	font-weight:bold;
	color:#4c2a1f;
}
.succeed_bloc02 div p{
	background:#FFF;
	border:solid 1px #c8c8c8;
	padding:10px;
}
.succeed_bloc02 div p span{
	background:url(../images/flow_a.png) no-repeat left center;
	display:block;
	padding:5px 0 5px 30px;
}
.succeed_bloc02 div h3 span.red{
	border-left:none;
	font-size:17px;
	font-weight:bold;
	color:#F00;
	display:inline;
	margin:0;
	padding:0;
}
.succeed_bloc02 div p span.red{
	background:none;
	display:inline;
	margin:0;
	padding:0;
	color:#F00;
}
.succeed_bloc02 h4{
	text-align:center;
	font-size:19px;
	font-weight:bold;
	background:#fffcb3;
	padding:5px 0;
	width:240px;
	margin:20px auto 0px;
}



/*=======================================================================
突然の相続税の相談
=======================================================================*/
.confab_bloc01{
	width:606px;
	margin:0px auto 0;
	border: solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.confab_bloc01 p{
	margin-bottom:20px;
}
.confab_bloc01 a img{
	display:block;
	margin:0 auto 20px;
}
.confab_bloc01 ul li{
	float:left;
}

/*=======================================================================
生前の相続対策
=======================================================================*/
.alive_bloc01{
	width:606px;
	margin:0px auto 0;
	border: solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.alive_bloc01 p{
	margin-bottom:20px;
}

/*=======================================================================
相続税の申告
=======================================================================*/
.alive_bloc01 div{
	background:#eeeeee;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.alive_bloc01 div h3{
	font-size:17px;
	font-weight:bold;
	color:#4d8503;
	margin-bottom:10px;
}
.alive_bloc01 div p{
	font-size:13px;
	padding-bottom:20px;
	line-height:160%;
}

/*=======================================================================
病院・医院・クリニックのみなさまへ
=======================================================================*/
.medical_bloc01 p{
	width: 648px;
	margin: 0 auto;
}
.medical_bloc01 h2{
	font-size: 18px;
	font-weight: bold;
	background: url(../images/second_opinion_icon.jpg) no-repeat left center;
	padding: 5px 0 5px 30px;
	line-height: 140%;
	width: 613px;
	margin: 0 auto 15px;
}
.medical_bloc02 div{
	width:606px;
	margin:20px auto 0;
	border:solid 1px #c8c8c8;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:0px 20px 0 20px;
}
.medical_bloc02 h3{
	font-size:18px;
	font-weight:bold;
	border-bottom:dashed 1px #75a635;
	padding-bottom:25px;
	margin-bottom:15px;
	padding-top:20px;
	padding-left:60px;
}
.medical_bloc02 h3 span{
	font-weight:normal;
	font-size:15px;
}
.medical_bloc02 dl{
	background:url(../images/medical_bg.jpg);
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	width:595px;
	padding:15px 0px 15px 15px;
	margin-bottom:15px;
	font-weight:bold;
}
.medical_bloc02 dl dt{
	float:left;
	width:53px;
}
.medical_bloc02 dl dd{
	float:left;
	margin:0 0 0 15px;
	color:#333;
	display:table-cell;
	vertical-align:middle;
	font-size:14px;
	width:523px;
	line-height:160%;
}
.medical_bloc02 p{
	font-size:13px;
	width:606px;
	margin:0 auto 15px;
}
.medical_bloc02 div.no01 h3{
	background:url(../images/medical_no01.png) no-repeat left top;
}
.medical_bloc02 div.no02 h3{
	background:url(../images/medical_no02.png) no-repeat left top;
}
.medical_bloc02 div.no03 h3{
	background:url(../images/medical_no03.png) no-repeat left top;
}
.medical_bloc02 div.no04 h3{
	background:url(../images/medical_no04.png) no-repeat left top;
}
.medical_bloc02 div.no05 h3{
	background:url(../images/medical_no05.png) no-repeat left top;
}
.medical_bloc02 div.no01 dl dd{
	margin-top:5px;
}
.medical_bloc02 div.no02 dl dt{
	margin-top:5px;
}
.medical_bloc02 div.no03 dl dt{
	margin-top:5px;
}
.medical_bloc02 div.no04 dl dd{
	margin-top:5px;
}
.medical_bloc02 div.no05 dl dt{
	margin-top:40px;
}

/*=======================================================================
補助金助成金情報
=======================================================================*/
.subsidy_cnt01{
	width:606px;
	margin:0 auto;
	border:solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.subsidy_cnt01 p{
	font-size:16px;
	line-height:160%;
	text-align:center;
	margin-bottom:10px;
}
.subsidy_cnt01 p span.red{
	font-size:20px;
}
.subsidy_cnt01 img{
	display:block;
	margin: 0 auto 15px;
}
.lis{
	letter-spacing:-9px;
}

/*=======================================================================
法人概要
=======================================================================*/
.conpany_bloc01{
	width:646px;
	margin:0 auto;
}
.conpany_bloc01 div.left{
	float:left;
	width:45%;
	border-right: solid 1px #c8c8c8;
	font-size:13px;
	line-height:190%;
	height:140px;
}
.conpany_bloc01 div.right{
	float:right;
	width:52%;
}
.conpany_bloc01 div.right img.pic{
	background:#FFF;
	padding:1px;
	border:solid 1px #000;
	width:96px;
	float:left;
}
.conpany_bloc01 div.right h3{
	margin-left:15px;
	float:left;
	width:200px;
	color:#333;
	font-size:15px;
	margin-bottom:10px;
}
.conpany_bloc01 div.right h3 span{
	font-size:12px;
	margin-right:15px;
}
.conpany_bloc01 div.right p{
	margin-left:15px;
	float:left;
	width:40px;
	text-align:center;
	color:#fff;
	font-size:11px;
	background:#49261b;
}
.conpany_bloc01 div.right ul{
	float:left;
	width:220px;
	color:#333;
	font-size:11px;
	margin:8px auto 8px 15px;
}
.conpany_bloc01 div.right img.pro{
	float:left;
	margin:0px auto 10px 15px;
}
.conpany_bloc02 table{
	width:646px;
	margin:10px auto 0;
}
.conpany_bloc02 table th{
	background:#e6e6e5;
	width:110px;
	height:40px;
	padding-left:10px;
	border-right: solid 1px #FFF;
	border-bottom: solid 1px #FFF;
	vertical-align:middle;
}
.conpany_bloc02 table td{
	height:40px;
	padding-left:10px;
	border-right: solid 1px #FFF;
	border-bottom: solid 1px #FFF;
	vertical-align:middle;
}
td.back_bg{
	background:#f3f3f2;
}
.conpany_bloc02 iframe{
	width:646px;
	margin:20px auto 0;
	border:solid 1px #c8c8c8;
}

/*=======================================================================
リスクマネージメントコンサルティング      医療経営診断指導
=======================================================================*/
.conpany_bloc03{
	width:606px;
	margin:0 auto;
	border:solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.conpany_bloc03 ul li{
	text-align:center;
	font-size:17px;
	font-weight:bold;
	background:url(../images/medical_bg.jpg);
	padding:20px 0;
	margin-bottom:20px;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
	line-height:150%;
}

/*=======================================================================
各分野の専門家と提携しワンストップ体制
=======================================================================*/
.conpany_bloc04{
	width:606px;
	margin:0 auto;
	border:solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.conpany_bloc04 h3{
	font-size:17px;
	font-weight:bold;
	line-height:150%;
	text-align:center;
}
.conpany_bloc04 p{
	text-align:center;
	margin:20px auto;
}
.conpany_bloc04 ul{
	margin:0 0 20px 0;
}
.conpany_bloc04 ul li{
	float:left;
	background:url(../images/conpany_img03.jpg);
	width:107px;
	height:36px;
	font-size:17px;
	font-weight:bold;
	color:#4b8400;
	padding:20px 0 0 80px;
}

/*=======================================================================
経営及び財務・税務コンサルティング
=======================================================================*/
.conpany_bloc05{
	width:606px;
	margin:0 auto;
	border:solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.conpany_bloc05 h3{
	font-size: 18px;
	font-weight: bold;
	background: url(../images/second_opinion_icon.jpg) no-repeat left center;
	padding: 5px 0 5px 30px;
	line-height: 140%;
	width: 613px;
	margin: 0 auto 15px;
}
.conpany_bloc05 ul{
}
.conpany_bloc05 ul li{
	background:url(../images/conpany_img04.jpg) no-repeat;
	width:187px;
	float:left;
	text-align:center;
	font-weight:bold;
	margin-bottom:20px;
}
.conpany_bloc05 ul li span{
	font-size:11px;
	line-height:100%;
}
.font14{
	font-size:14px;
}
.font16{
	font-size:16px;
}
.conpany_bloc05 ul li.no01{
	padding:15px 0 0 0;
	line-height:150%;
	height:137px;
}
.conpany_bloc05 ul li.no01 a img{
	margin-top:7px;
}
.conpany_bloc05 ul li.no02{
	padding:50px 0 0 0;
	line-height:150%;
	height:102px;
	margin-left:20px;
	margin-right:20px;
}
.conpany_bloc05 ul li.no03{
	padding:50px 0 0 0;
	line-height:150%;
	height:102px;
}
.conpany_bloc05 ul li.no04{
	padding:30px 0 0 0;
	height:122px;
}
.conpany_bloc05 ul li.no05{
	padding:30px 0 0 0;
	line-height:150%;
	height:122px;
	margin-left:20px;
	margin-right:20px;
}
.conpany_bloc05 ul li.no06{
	padding:40px 0 0 0;
	line-height:150%;
	height:137px;
}
.conpany_bloc05 ul li.no07{
	padding:15px 0 0 0;
	line-height:150%;
	height:137px;
}
.conpany_bloc05 ul li.no08{
	padding:25px 0 0 0;
	line-height:150%;
	height:127px;
	margin-left:20px;
	margin-right:20px;
}
.conpany_bloc05 ul li.no09{
	padding:15px 0 0 0;
	line-height:150%;
	height:137px;
}

/*=======================================================================
税務及び会計顧問業務
=======================================================================*/
.conpany_bloc06{
	width:606px;
	margin:0 auto;
	border:solid 1px #75a635;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding:20px 20px 0 20px;
}
.conpany_bloc06 h3{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	background:url(../images/conpany_bg.jpg) repeat-x;
	padding: 10px 0;
	border: solid 1px #c8c8c8;
	color: #4b8400;
	margin-bottom: 20px;
	line-height:130%;
}
.conpany_bloc06 ul li{
	text-align:center;
	font-size:15px;
	font-weight:bold;
	background:url(../images/medical_bg.jpg);
	padding:20px 0;
	margin-bottom:20px;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
	line-height:150%;
}
.conpany_bloc06 ul li span{
	font-size:13px;
}
.conpany_bloc07 h2{
	font-size: 18px;
	font-weight: bold;
	background: url(../images/second_opinion_icon.jpg) no-repeat left center;
	padding: 5px 0 5px 30px;
	line-height: 140%;
	width: 560px;
	margin: 0 auto 15px;
}

/*=======================================================================
関連リンク
=======================================================================*/
.link_bloc01{
	padding:0 20px;
}
.link_bloc01 h3{
	font-size: 19px;
	font-weight: bold;
	background: url(../images/second_opinion_icon.jpg) no-repeat left center;
	padding: 5px 0 5px 30px;
}
.link_bloc01 table{
	width:100%;
	margin:0 0 20px;
	border-collapse: separate;
	border-spacing: 0px 15px;
}
.link_bloc01 table th{
	background:url(../images/footer_icon.png) no-repeat left;
	padding-left:15px;
	border-bottom:solid 1px #4b8400;
	padding-bottom:5px;
	width:334px;
}
.link_bloc01 table th a{
	color:#4c92cd;
	text-decoration:underline;
}
.link_bloc01 table td{
	border-bottom:solid 1px #4b8400;
	padding-bottom:5px;
	font-size: 13px;
}


/*=======================================================================
サイトマップ
=======================================================================*/
.sitemap_bloc01{
	width:646px;
	margin:0 auto;
}
.sitemap_bloc01 ul li{
	border-bottom: dotted 1px #817f7f;
	padding-bottom:10px;
	margin-bottom:10px;
	padding-left:12px;
	background:url(../images/footer_icon.png) no-repeat left 8px;
}
.sitemap_bloc01 ul li a{
	color:#4e8604;
	font-size:14px;
	text-decoration:none;
}
.sitemap_bloc01 ul li a:hover{
	text-decoration:underline;
}
.sitemap_bloc01 ul.left{
	width:48%;
	float:left;
}
.sitemap_bloc01 ul.right{
	width:48%;
	float:right;
}
.sitemap_bloc01 ul li.ml10 {
	background:none;
	padding-left:3px;
}
.sitemap_bloc01 ul li.ml10 a{
	font-size:12px !important;
	color:#333;
}




/*=======================================================================
サイドバー
=======================================================================*/
.side_sub{
	border-left:solid 1px #ded9d1;
	border-right:solid 1px #ded9d1;
	border-bottom:solid 1px #ded9d1;
	background:#FFF;
	margin-bottom:15px;
	padding-bottom:1px;
}
.side_sub h3{
	border-top:solid 10px #49261b;
	padding:15px 15px 10px 15px;
	background:#eeeeee;
}
.side_sub h3 a{
	color:#4a271d;
	text-decoration:none;
	font-size:17px;
	font-weight:bold;
	background:url(../images/footer_icon.png) no-repeat left;
	padding-left:10px;
}
.side_sub h3 a span{
	letter-spacing:-1px;
}
.side_sub ul li{
	font-size:14px;
	border-top:dotted 1px #908f8f;
	padding:0 1px;
}
.side_sub ul li a{
	color:#4a271d;
	text-decoration:none;
	display:block;
	padding:10px;
	background:#eeeeee;
}
.side_sub ul li a:hover{
	background:#FFF;
	color:#b1a8a6;
}
.side_sub h3.now{
	background:#FFF;
}
.side_sub h3.now a{
	color:#b1a8a6 !important;
}
.side_sub ul li.now a{
	background:#FFF;
	color:#b1a8a6;
}




/*=======================================================================
リクルート
=======================================================================*/
.recruit_bloc01{
	width:646px;
	margin:0 auto;
}
.recruit_bloc01 h2{
	font-size: 19px;
	font-weight: bold;
	background: url(../images/second_opinion_icon.jpg) no-repeat left center;
	padding: 0px 0 0px 30px;
	line-height: 150%;
	margin: 0 0 10px 0;
}
.recruit_bloc01 p{
	margin:15px 0 0 0;
}
.recruit_bloc01 p.blod{
	font-weight:bold;
}
.recruit_bloc01 h3{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	background: url(../images/flow_tit_bg01.jpg) repeat-x;
	padding: 10px 0;
	border: solid 1px #c8c8c8;
	color: #4b8400;
	margin:15px 0 0 0;
}
.recruit_bloc01 h4{
	margin-top:20px;
	font-size:17px;
	font-weight:bold;
	color:#588e14;
}
input.boxwd{
	width:600px;
	margin-top:10px;
}
select.boxwdse{
	width:197px;
}
textarea.boxwdtex{
	width:646px;
	height:150px;
	margin-top:15px;
}
input.boxwdtime{
	width:50px;
	margin:0 5px;
}
span.td_time{
	display:block;
	margin:-20px 0 0 20px;
}
.recruit_bloc01 th em{
	color:#F00;
}
.table_td2 td{
	width:280px !important;
	float:left;
	border-bottom:none !important;
}
.table_td2 td select{
	width:250px;
	margin-top:-20px;
}




/*=======================================================================
お問い合わせフォーム
=======================================================================*/
.contact_tit{
	font-weight:bold;
	font-size:20px;
	text-align:center;
	background:url(../images/flow_tit_bg01.jpg) repeat-x;
	padding:10px 0;
	border:solid 1px #c8c8c8;
	color:#4b8400;
	width:646px;
	margin:0 auto;
}
.contact_tit span{
	font-weight:normal;
}
.contact_cnt01{
	margin-top:30px;
	border-top:solid 2px #FFF;
	border-right:solid 2px #FFF;
	width:646px;
	margin:20px auto 0;
	font-size:14px;
	color:#523127;
}
.contact_cnt01 th{
	background:#e6e6e5;
	vertical-align:middle;
	border-left:solid 2px #FFF;
	border-bottom:solid 2px #FFF;
	padding:5px 10px 5px 10px;
	width:180px;
}
.contact_cnt01 th span{
	font-size:13px;
	color:#fd4141;
}
.contact_cnt01 td{
	width:406px;
	vertical-align:middle;
	border-left:solid 2px #FFF;
	border-bottom:solid 2px #FFF;
	padding:10px 20px 10px 20px;
	background:#f3f3f2;
}
.contact_cnt01 td textarea{
	width:400px;
	height:150px;
}
.contact_cnt02{
	margin-top:30px;
	border-top:solid 2px #FFF;
	border-right:solid 2px #FFF;
	width:646px;
	margin:20px auto 0;
	font-size:14px;
	color:#523127;
}
.contact_cnt02 th{
	background:#e9e9e9;
	vertical-align:middle;
	border-left:solid 2px #FFF;
	border-bottom:solid 2px #FFF;
	padding:5px 0 5px 10px;
	width:200px;
}
.contact_cnt02 td{
	vertical-align:middle;
	border-left:solid 2px #FFF;
	border-bottom:solid 2px #FFF;
	padding:10px 20px 10px 20px;
	background:#f3f3f2;
}

.contact_txt_01{
	width:646px;
	margin:20px auto;
}
.error{
	width:646px;
	margin:0 auto;
	color:#F00;
}


/*=======================================================================
TKCのページ
=======================================================================*/
#tkc01{
	float:left;
}
.tkc_cnt01{
	width:180px;
	margin-left:10px;
	float:left;
	font-size:12px;
}
.tkc_cnt01 ul li{
	margin-bottom:10px;
	background:url(../images/footer_icon.png) no-repeat left;
	padding-left:8px;
}
.tkc_cnt01 ul li a{
	color:#333;
	text-decoration:none;
}
.tkc_cnt01 ul li a:hover{
	color:#b3b2b2;
	text-decoration:underline;
}
.tkc_bloc01{
	width:646px;
	margin:0 auto;
}
.tkc_bloc01 h3{
	font-size: 19px;
	font-weight: bold;
	background: url(../images/second_opinion_icon.jpg) no-repeat left center;
	padding: 0px 0 0px 30px;
	line-height: 150%;
	margin: 0 0 10px 0px;
}
.tkc_bloc01 ul{
	margin-bottom:50px;
}
.tkc_bloc01 ul li{
	background: url(../images/footer_icon.png) no-repeat left;
	padding-left: 15px;
	border-bottom: solid 1px #4b8400;
	padding-bottom: 5px;
	margin-bottom:15px;
}
.tkc_bloc01 ul li a {
	color: #4c92cd;
	text-decoration: underline;
}




/*=======================================================================
wordpress一覧、詳細
=======================================================================*/
.wp_bloc01{
	width:646px;
	margin:0 auto;
}
.wp_bloc01 ul{
	border-bottom:dotted 1px #b3b2b2;
	margin-bottom:13px;
	padding-bottom:13px;
}
.wp_bloc01 ul:last-child {
	border-bottom:none;
	padding-bottom:0 !important;
}
.wp_bloc01 ul li{
	float:left;
}
.wp_bloc01 ul li.news_tex01{
	width:70px;
}
.wp_bloc01 ul li.news_tex02_01{
	width:45px;
	line-height:120%;
	text-align:center;
	background:#e8a86a;
	color:#FFF;
	margin: 0 0 0 20px;
}
.wp_bloc01 ul li.news_tex02_02{
	width:45px;
	line-height:120%;
	text-align:center;
	background:#98847e;
	color:#FFF;
	margin: 0 0 0 20px;
}
.wp_bloc01 ul li.news_tex03{
	margin-left:20px;
	width:490px;
}
.wp_bloc01 ul li.news_tex03 a{
	color:#333;
}
.wp_bloc01 ul li.news_tex03 a:hover{
	color:#b3b2b2;
}
.wp_bloc01 ul li.news_tex03 h3{
	font-size:15px;
	margin-bottom:5px;
}

.inquire_txt_04 p.error{
	color:#F00;
}




.box10{
	width:50px;
}






#menu_navi {
	position: relative;
	overflow: hidden;
}
.page_navi {
    text-align: center;
	margin:0 auto;
	float:left;
	left:50%;
	position:relative;
}
 
.page_navi li {
    display: inline;
    list-style: none;
	margin-left:5px;
	float:left;
	left:-50%;
	position:relative;
}
 
.page_navi li.current span {
    color: #FFF;
    font-weight: bold;
    display: inline-block;
    padding: 3px 7px;
    background: #76a734;
    border: solid 1px #6a9432;
}
 
.page_navi li a {
    color: #6a9432;
    padding: 3px 7px;
    background: #FFF;
    display: inline-block;
    border: solid 1px #6a9432;
    text-decoration: none;
}
 
.page_navi li a:hover {
    color: #4c92cd;
}
 
.page_navi li.page_nums span {
    color: #fff;
    padding: 3px 7px;
    background: #666;
    display: inline-block;
    border: solid 1px #6a9432;
}