@charset "utf-8";
* {
	-webkit-text-size-adjust:none;
}
@media screen and (max-device-width: 480px) {
img {
	max-width:100%;
	height:auto;
}
}


/* common 
--------------------------------------------------------------- */

body{
	color:#000;
	font-size:13px;
	line-height:21px;
	border-bottom:3px solid #363739;
}

#page-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.image_right{
	float:right;
	padding:0 0 15px 10px;
}
.image_left{
	float:left;
	padding:0 10px 15px 0;
}
.wrapper{
	padding:0 10px;
}




/* header 
--------------------------------------------------------------- */

header{
	background:#363739;
}
header #logo{
	text-align:center;
	border-bottom:1px solid #737475;
	padding:12px 0;
}
header .header_tel{
	float:left;
	width:49.6%;
	border-right:1px solid #737475;
	text-align:center;
}
header .header_tel img{
	width:85%;
	padding:14px 0 8px 0;
}
header .btn{
	float:right;
	width:50%;
	background:#545454;	
	text-align:center;
}
header .btn img{
	width:90%;
	padding:14px 0 10px 0;
}

/* main 
--------------------------------------------------------------- */

#main{
	border-top:1px solid #fff;
}
	

/* common title 
--------------------------------------------------------------- */

.common_title_icon01{
	margin:40px 0 25px 0;
	padding:0 10px;
}
.common_title_icon01 h2{
	padding:15px 0 0 0;
	margin:0;
}
.common_title_icon02{
	margin:0 0 25px 0;
	padding:0 10px;
}
.common_title_icon02 h2{
	padding:15px 0 0 0;
	margin:0;
}
	


/* convertion
--------------------------------------------------------------- */

.common_cv{
	padding:0 45px;
	margin:45px 0;
}
.common_cv .last{
	line-height:0;
}
.common_cv .btn{
	padding:10px 0 0 0;
}
	


/* contents01
--------------------------------------------------------------- */

.contents01_box{
	background:#f2f2f2;
	padding:10px 0 20px 0;
}
.contents01_box p{
	padding:10px 0 0 0;
	line-height:24px;
}
.contents01_box .contents01_textbox{
	background:#fefefe;
	padding:12px 0 4px 0;
	margin:0 10px;
}
.contents01_box .contents01_textbox p{
	padding:0 20px 8px 20px;
	line-height:24px;
}
.contents01_box .sub_title{
	margin:5px 0 15px 0;
}
.contenst01_textbox02{
	margin:8px 10px 0 10px;
	border-left:2px solid #393939;
	padding:0 0 0 10px;
}
.contenst01_textbox02 div.title{
	width:88%;
	padding:0 0 6px 3px;
	margin:0;
}
.contenst01_textbox02 ul{
}
.contenst01_textbox02 ul li{
}

	


/* contents02
--------------------------------------------------------------- */

.contents02_box h3{
	border-bottom:1px solid #cfcfcf;
	padding:0 0 6px 0;
	margin:0 0 10px 0;
}
.contents02_box .image{
	padding:0 0 13px 0;
}
.contents02_box p{
	padding:0 0 13px 0;
	line-height:24px;
}

.contents02_box table{
	padding:0;
	margin:4px 0 0 0;
	width:100%;
}
.contents02_box table th{
	background:#545454;
	color:#fff;
	font-size:13px;
	vertical-align:middle;
	text-align:center;
	border-top:2px solid #fff;
	border-right:2px solid #fff;
	width:100px;
	padding:5px 0;
}
.contents02_box table td{
	background:#f0f0f0;
	color:#fff;
	font-size:13px;
	vertical-align:middle;
	text-align:left;
	border-top:2px solid #fff;
	padding:5px 13px;
	color:#363230;
	font-size:13px;
	line-height:22px;
}
.contents02_box table td ul{
	margin:0;
	padding:0;
}
.contents02_box table td ul li{
	background:url(../images/botox_contents02_icon.gif) left 7px no-repeat;
	padding:2px 0 2px 15px;
	margin:0;
	line-height:20px;
}
.contents02_textbox_inner{
	background:#f7f7f7;
	padding:10px 0 0 0;
	margin:10px 0 0 0;
}
.contents02_textbox{
	margin:0 10px;
}
.contents02_textbox p{
	line-height:19px;
	padding:8px 0 10px 0;
}

.contents02_box02{
	margin:0 20px;
}
.contents02_box02 .contents02_before_box{
	border:1px solid #cfcfcf;
	padding:0 0 10px 0;
}
.contents02_box02 .contents02_before_box h4{
	text-align:center;
	padding:5px 0 8px 0;
	border-bottom:1px solid #cfcfcf;
	margin:-5px 0 0 0
}
.contents02_box02 .contents02_before_box h4 img{
	width:35%;
}
.contents02_box02 .contents02_before_box .image{
	padding:15px 15px 0 15px;
}
	


/* contents03
--------------------------------------------------------------- */

.contents03_box h3{
}
.contents03_box .image{
	padding:10px 0 12px 0;
}
.contents03_box h4{
	margin:0 0 10px 0;
	border-left:2px solid #9e7f51;
	font-size:14px;
	padding:0 0 0 10px;
	line-height:100%;
}
.contents03_box p{
	line-height:21px;
	padding:0 0 12px 0;
}


/* contents04
--------------------------------------------------------------- */

.contents04_box .menu{
}
.contents04_box .price{
	padding:10px 0 6px 0;
	border-bottom:1px solid #e0e0e0;
	margin:0 0 20px 0;
}


/* contents05
--------------------------------------------------------------- */

.contents05_box h3{
	padding:10px 0 8px 0;
}


/* contents06
--------------------------------------------------------------- */

.contents06_box h3{
	border-top:1px solid #cfcfcf;
	border-bottom:1px solid #cfcfcf;
	padding:0 0 8px 0;
	margin-bottom:10px;
}
.contents06_box .tel_box{
	margin:8px 10px 0 10px;
	border-left:2px solid #393939;
	padding:0 0 0 10px;
	line-height:0;
}
.contents06_box .tel_box .tel02{
	padding:8px 0;
}


/* contents08
--------------------------------------------------------------- */

.contents08_box h3{
	background:url(../images/botox_contents08_text_bg.gif) left bottom no-repeat;
	padding:0 0 8px 0;
}
.contents08_box p{
	padding:8px 0 10px 0;
}
.contents08_box .bg{
	background:#f7f7f7;
}



/* contents09
--------------------------------------------------------------- */

.contents09_box h3{
	line-height:0;
	padding:8px 0 0 0;
}
.contents09_box .icon{
	line-height:0;
	padding:12px 0 8px 0;
}
.contents09_box p.place{
	line-height:19px;
	padding:0 0 12px 0;
}
.contents09_box table{
	width:100%;
	margin:13px 0 0 0;
}
.contents09_box table th{
	color:#fff;
	background:#3f4143;
	border-bottom:6px solid #fff;
	border-right:6px solid #fff;
	width:70px;
	font-weight:normal;
	vertical-align:middle;
	text-align:center;
	padding:5px 0;
}
.contents09_box table td{
	color:#363230;
	background:#f0f0f0;
	border-bottom:6px solid #fff;
	vertical-align:middle;
	text-align:left;
	padding:5px 10px;
	line-height:19px;
}



/* contents10
--------------------------------------------------------------- */

.contents10_box{
	margin:-5px 0 0 0;
}
.contents10_box h3{
	border-top:1px solid #e0e0e0;
	padding:6px 0 0 0;
	line-height:0;
	margin:15px 0;
}
.contents10_bg{
	background:#f7f7f7;
}
.contents10_textbox{
	padding:10px 0;
}
.contents10_textbox .concept_icon{
	width:28%;
}
.contents10_textbox h4{
	padding:8px 0 10px 0;
}
.contents10_textbox p{
	padding:8px 0 0 0;
}




/* contents11
--------------------------------------------------------------- */


.contents11_box .contents11_textbox{
	padding:10px 0;
	margin:13px 0 0 0;
}
.contents11_box .contents11_textbox .image{
	margin:0 auto;
	width:35%;
	padding:15px 0 0 0;
}
.contents11_box .contents11_textbox .text{
	float:right;
	width:68%;
}
.contents11_box .contents11_textbox .text p{
	line-height:18px;
	padding:3px 0 0 0;
}
.contents11_box .contents11_textbox .text p span{
	font-size:11px;
}

.contents11_box h3.title01{
	background:url(../images/botox_contents11_bg01.gif) left bottom no-repeat;
	color:#000;
	padding:0 0 2px 0;
	font-size:14px;
	line-height:18px;
	margin:10px 0 5px 0;
}
.contents11_box h3.title02{
	background:url(../images/botox_contents11_bg02.gif) left bottom no-repeat;
	color:#000;
	padding:0 0 2px 0;
	font-size:14px;
	line-height:18px;
	margin:10px 0 5px 0;
}
.contents11_box h3.title03{
	background:url(../images/botox_contents11_bg03.gif) left bottom no-repeat;
	color:#000;
	padding:0 0 2px 0;
	font-size:14px;
	line-height:18px;
	margin:10px 0 5px 0;
}
.contents11_box p span{
	font-size:11px;
}










	
