@charset "utf-8";

@font-face {
	font-family: "shinmarugo";
	src: url('font/A-OTF-SHINMGOPRO-REGULAR.OTF');
}

/*----------------------------------------------------
 elements
----------------------------------------------------*/
body {
	background: #000040;
	color: #333;
	/*　必ず指定　*/
	font-family: "shinmarugo","Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック", Osaka, sans-serif;
	font-size: 85%;
	font-weight: normal;
	line-height: 1.5;
	-webkit-text-size-adjust: none; /* フォントサイズ自動調整を停止 */
}
/* リンクをタップした際の色指定 Androidでは適用されませんが、rgbaの値を全て0にすると枠線は消える */
a {
	color:#FF7373;
	text-decoration:underline;
	-webkit-tap-highlight-color: rgba(0,0,106,0.6);
}
img {
	width: 100%;
}
/* Retinaディスプレイ対応のためimg要素は半分の大きさに img要素にwidthの指定があった場合は半分の大きさにならない */
img:not([width]) {
	zoom: .5; 
}
p, dl, ol, ul {
}
ol, ul {
	list-style:none;
}

.strong2{
	font-weight:bold;
	color:#333333;
}
.strong3{
	font-weight:bold;
	color:#333333;
}
p.notes {
	font-size:80%;
	padding-left: 1em;
	text-indent: -1em;
}
.chushaku{
	font-size:84%;
	color:red;
	padding:5px 0 5px 0;
}
.aL{text-align:left;}
.aR{text-align:right;}
.aC{text-align:center;}

.fL{float:left;}
.fR{float:right;}

.mb00 {margin-bottom:0 !important;}
.mb05 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}
.mb60 {margin-bottom:60px !important;}

.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}

.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt40 {padding-top:40px !important;}

.fL_img{
	float:left;
	margin:0 15px 15px 0;
}
.fR_img{
	float:right;
	margin:0 0 15px 15px;
}
.red{color:#C00;}
.blue{color:#06C;}

.strong_orange{
	color:#ff8c00;
	font-size:112%;
	font-weight:bold;
}
.strong_red{
	color:#db0000;
	font-weight:bold;
}
.red_bg{
	color:#ffffff;
	font-weight:bold;
	background-color:#db0000;
	padding:2px;
}
.txt_small {
	line-height:16px !important;
	font-size:10px !important;
}
.txt_small_03 {
	line-height:16px !important;
	font-size:12px !important;
}

.txt_small_02 {
	font-size:10px !important;
}

.txt_minimum {
	font-size:9px !important;
}

.mini_space {
	letter-spacing:-1px;
	padding-left:5px;
}

.mini_letter {
	letter-spacing:-1px;
}

.txt_middle {font-size:14px;}

.txt_middle_button {font-size:12px;}

.fs12{font-size:1rem;}
.big a{font-size:1rem;}

img {
	display: inline-block;
	line-height: 1;
}

.txt {
	margin: 0 auto;
	width: 96%;
}

.img ,
.no-img {
	text-align: center;
	margin: 0 auto;
	width: 96%;
}

.img img {
	background: #FFF;
	border: 1px solid #EEE;
	box-shadow: 0 0 3px #CCC;
	display: inline-block;
	padding: 1%;
	width: 98%;
}

.imgmb {
	background: #FFF;
	margin: 0 0 20px;
}

.small {
	font-size: xx-small;
}

.txt_u {
	font-size: 95%;
	letter-spacing: -1px;
}

.img_two {
	margin-right: auto;
	margin-left: auto;
	width: 96%;
}
.img_two li {
	float: left;
	margin: 0;
	width: 48%;
}

.img_two li:first-child {
	margin: 0 4% 0 0
}

/*----------------------------------------------------
 menu
----------------------------------------------------*/
section#main #submenu #casenav,
.menuNav{
	clear:both;
	/*margin-top:10px;*/
	/*padding:2px 0 3px ;*/
	background-image:url(../img/common/bg_casenav.gif) , url(../img/common/bg_casenav2.gif);
	background-position: 0 0 , 0 bottom;
	background-size: auto 2px , auto 4px;
	background-repeat:repeat-x, repeat-x;
}
section#main #submenu #casenav li,
.menuNav li{
	background:url(../img/common/bg_casenavlist.gif) 0 0 repeat-x;
	background-size:auto 40px;
	border-bottom:1px solid #F1F1F1;
	border-top:#aaa 1px solid;
	display:block;
/*	line-height:40px;*/
	font-size:95%;
	border-right:1px solid #fff;
}
section#main #submenu #casenav li a,
.menuNav li a{
	background:url(../img/common/_arrow_casenav.png) right center no-repeat;
	background-size:23px auto;
	color:#333;
	display:block;
	padding: 13px 30px 13px 15px;
	text-decoration:none;
}


#casenav li.red a ,
.menuNav li.red a {
	color: #C00 !important;
}

section#main #submenu #casenav .lady a,
.menuNav .lady a {
	background: #ffc0cb url(../img/common/_arrow_casenav_br.png) right center no-repeat;
	background-size: 23px auto;
	color: #401000;
	display: block;
}


section#main #submenu #casenav .top a {
	background: url(../img/common/arrow_casenav.png) right center no-repeat;
	background-size: 23px auto;
}

.common_nav ul {
	border-top:1px solid #E2E3E3;
}

.common_nav ul li {
	float:left;
	width:33%;
	font-size:12px;
}
.common_nav ul li a:link,
.common_nav ul li a:visited,
.common_nav ul li a:hover,
.common_nav ul li a:active {
	text-decoration:none;
}
.common_nav ul li.wide {
	width:34%;
}

.common_nav ul li p {
	border-bottom:1px solid #E2E3E3;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #E2E3E3;
	background:-webkit-gradient(linear, center top, center bottom, from(#FFFFFF), color-stop(0.5, #FFFFFF), color-stop(0.51, #F7F7F7), to(#F7F7F7));
	background:-moz-linear-gradient(top, #FFFFFF, #FFFFFF 50%, #F7F7F7 51%, #F7F7F7 );
	text-align:center;
	color:#333333;
	text-shadow:0px 0px 2px #BBBBBB;
	height:35px;
	line-height:35px;
	display:block;
}

.common_nav ul li p.mens {
	color: #FFFFFF;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec82a2+0,e9528e+100 */
	background: #ec82a2; /* Old browsers */
	background: -moz-linear-gradient(top,  #ec82a2 0%, #e9528e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec82a2), color-stop(100%,#e9528e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ec82a2 0%,#e9528e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ec82a2 0%,#e9528e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ec82a2 0%,#e9528e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ec82a2 0%,#e9528e 100%); /* W3C */
}

.common_nav ul li p.last {
	border-right:0px;
}

.common_nav ul li p.nav_active {
	background:-webkit-gradient(linear, center top, center bottom, from(#EFEFF0), color-stop(0.5, #EFEFF0), color-stop(0.51, #E5E5E5), to(#DDDEDE));
	background:-moz-linear-gradient(top, #EFEFF0, #EFEFF0 50%, #E5E5E5 51%, #DDDEDE );
	border-bottom:1px solid #DCDDDD;
	color:#E60039;
	text-shadow:0px 0px 2px #BBBBBB;
}

header p.button-toggle{
	width:15.625%;
	position:absolute;
  top: 10px;
	right:0;
	line-height:0;
	margin:0;
}
.menu{
	display:none;
	position:absolute;
	left:0;
	top:11vh;
	width:100%;
	z-index:99999;
	background:#FFF;
}
.menu div img,
header p.button-toggle img{width:100%;}

/*----------------------------------------------------
 header
----------------------------------------------------*/
header{
	border-bottom: #CCC 1px solid;
	position:relative;
	margin: 0 0 10px;
}

header.global {
	position:relative;
}

header.global .mainphoto {
	margin:0 0 20px 0;
}

header.global #copy{
	padding:5px 0;
	width:84.375%;
	/*background:#1eaa39;*/
	color:#333;
	font-size:9px;
	text-align:center;
}
header.global #logo {
	padding:0 0 10px;
	width:84.375%;
}

header.global #logo a{
	display:block;
	width:90%;
	margin:0 auto;
}

header.global #logo a img{
	width:100%;
}

.catch {
	display: block;
	text-align: center;
	margin: 0 auto;
}

section#main .column {
	padding: 0;
	margin: 0 auto;
}

section#main .column h1.ttl {
	background: #0299E1;
	color: #FFF;
	font-size: 150%;
	font-weight: bold;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

section#main .column .subcont {
	background: #FFF;
	margin: 0 auto;
	padding: 2%;
	width: 92%;
}


.telBnr {
	text-align: center;
	margin: 0 auto 10px;
	width: 100%;
}

ul.telBnr {
	margin: 0 auto 30px;
}

.telBnr li {
	margin: 0 auto;
}

.telBnr li.tel {
	margin: 0 auto 15px;
}

.telBnr li.tel img {
	width: 95%;
}

.telBnr li a {
	color: #FF7373;
}

section#main .bg01 {
	background: #f4f2e8/* #e5f7ff */;
	padding: 0 0 10px;
	margin: 0 0 10px;
	width: 100%;
}

section#main .bg02 {
	background: #e5f7ff;
	padding: 0 0 30px;
	width: 100%;
}

.column h2.ttl {
	background: #666;
	color: #FFF;
	font-weight: bold;
	font-size: 120%;
	margin: 0 auto 10px;
	padding: 10px 5px;
	text-align: center;
}


/* Index
----------------------------------------------------*/
#index #head {
	display: block;
	margin: 0;
}

#index p#border {
	border: 1px solid #000040;
	padding: 4px;
	text-align: center;
}

#index table#price {
	border: 1px solid #CCC;
	color: #666;
	margin: 0 auto 10px;
	width: 100%;
}

#index table#price th ,
#index table#price td {
	border: 1px solid #EEE;
	font-size: 85%;
	padding: 9px;
	vertical-align: middle;
}

#index table#price th {
	background: #BFEFFF;
}

#index table#price td.price {
	color: #066EC5;
	text-align: right;
}

#index .column #clinic {
	border: 1px solid #CCC;
	margin: 0 auto 20px;
	text-align: left;
	width: 100%;
}

#index .column #clinic th ,
#index .column #clinic td {
	border: 1px solid #CCC;
	padding: 9px 4px;
}

#index .column #clinic th {
	background: #EFEFEF;
	vertical-align: middle;
	text-align: center;
	width: 25%;
}

#index .column .subcont h3 {
	color: #0164bd;
	font-weight: bold;
	margin: 0 auto 5px;
}

#index .column #picadd {
	display: block;
	position: relative;
	width: auto;
}

#index .column #picadd #add {
	background: rgba( 255, 255, 255, 0.5 );
	bottom: 10px;
	left: 5px;
	font-size: 70%;
	margin: 0;
	padding: 10px;
	position: absolute;
}

section#main .column #d {
	background: #0164bd;
	padding: 2% 2% 0;
}

section#main .column h3 {
	font-size: 120%;
}

section#main .column h3.sub {
	background: #FFF;
	border: 1px solid #CCC;
	color: #0164bd;
	font-weight: normal;
	text-align: left;
	letter-spacing: -1px;
	margin: 0 auto;
	padding: 10px 0 10px 5%;
	position: relative;
}

section#main .column h3.sub:before {
	background: #0164bd;
	content: ' ';
	display: inline-block;
	height: 70%;
	position: absolute;
	left: 2%;
	top: 15%;
	width: 1%;
}

section#main .column .doctorList {
	background: #0164bd;
	margin: 0 auto;
	padding: 2% 0;
	width: 100%;
}

section#main .column .doctorList li {
	background: #FFF;
	margin: 0 auto 2%;
	padding: 3%;
	width: 90%;
}

section#main .column .doctorList li:last-child {
	margin: 0 auto;
}

section#main .column .doctorList li ol li {
	margin: 0 0 5px;
	padding: 0;
	width: auto;
}

section#main .column .doctorList p.name {
	background: #d1eff8;
	font-weight: bold;
	font-size: 120%;
	float: right;
	margin: 0 auto 10px;
	padding: 5px 0;
	text-align: center;
	width: 70%;
}

section#main .column .doctorList p.name span {
	margin: 0 10px 0 0;
}

section#main .column .doctorList p.name span.orange {
	color: #ff5d3b;
}

section#main .column .doctorList p.name span.position {
	color: #0164bd;
}

section#main .column .doctorList p.photo {
	display: inline-block;
	float: left;
	margin: 0 10px 10px 0;
}

section#main .column .doctorList .heightLine-group1 {
	float: right;
	font-size: 80%;
	margin: 0 0 5px;
	width: 70%;
}

section#main .column .doctorList .heightLine-group1 li {
	margin: 0;
}

section#main .column .doctorList .heightLine-group1 li:before {
	content: "・";
	display: inline-block;
	margin: 0;
}

section#main .column .doctorList p.message {
	display: block;
	clear: both;
	margin: 10px auto 20px;
}

section#main .column .doctorList h4 {
	font-size: 110%;
	font-weight: bold;
	margin: 0 0 10px;
}

section#main .column .doctorList .history {
	border: 1px solid #CCC;
	font-size: 80%;
	width: 100%;
}

section#main .column .doctorList p.history {
	padding: 9px;
	width: auto;
}
/*
section#main .column .doctorList dl dt ,
section#main .column .doctorList dl dd {
	padding: 14px 9px;
}

section#main .column .doctorList dl dd {
	border-bottom: 1px solid #CCC;
	padding: 14px 9px
}

section#main .column .doctorList dl dd:last-child {
	border-bottom: none;
}

section#main .column .doctorList dl dt {
	background: #EEE;
}
*/

section#main .column .doctorList .history th {
	background: #EEE;
	width: 25%;
}

section#main .column .doctorList .history th ,
section#main .column .doctorList .history td {
	border: 1px solid #CCC;
	padding: 4px;
}

.column h3.subttl {
	background: #666;
	color: #FFF;
	text-align: center;
	margin: 0;
	padding: 10px 0;
}

section#main .column span.under {
	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	line-height: 0;
}

section#main .column span.under img {
	width: auto;
}

section#main .column #comparison {
	border: 2px solid #BBB;
	font-size: 70%;
	text-align: justify;
	margin: 0 auto 10px;
	width: 96%;
}

section#main .column #comparison th ,
section#main .column #comparison td {
	border: 1px solid #CCC;
	padding: 5px;
}

section#main .column #comparison th {
	background: #EEE;
	text-align: center;
	padding: 9px 0;
}

section#main .column #comparison .first {
	vertical-align: middle;
	width: 20%;
}

section#main .column #comparison .second ,
section#main .column #comparison .third {
	width: 40%;
	vertical-align: middle;
}

section#main .column #comparison td {
	padding: 4px 4px 4px 24px;
}

section#main .column #comparison .blue {
	background: #DFEFFF url("../img/background/bg_ico_ok.png") no-repeat scroll 5px 10px ;
	background-size: 15px auto;
	border-right: 2px solid #BFDFFF;
	border-left: 2px solid #BFDFFF;
}
section#main .column #comparison .last {
	border-bottom: 2px solid #BFDFFF;
}
section#main .column #comparison .ng {
	background: #ffffff url("../img/background/bg_ico_ng.png") no-repeat scroll 5px 10px;
	background-size: 15px auto;
}

section#main .column #comparison th.blue {
	background: #BFDFFF;
	border-top: 2px solid #BFDFFF;
}

section#main .column #flow {
	margin: 0 0 20px;
}

section#main .column #flow li {
	float: left;
	width: 50%;
}

#submenu {
	background: #CCC;
	margin: 0;
	padding: 0 0 2%;
}

#submenu h3 {
	background: #333;
	color: #FFF;
	padding: 10px 5px;
	margin: 0 0 10px;
}

#submenu #casenav ul {
	background: #FFF;
	margin: 0 auto;
	width: 96%;
}

#submenu #casenav ul li a {
	background: ;
	border-bottom: 1px solid #EEE;
	display: block;
	text-decoration: none;
	margin: 0;
	padding: 15px 0 14px;
}

#submenu #casenav ul li a:first-child {
	padding: 10px 0 9px;
}

#footer_cont {
	background: #666666;
	color: #FFF;
	font-size: 90%;
	margin: 0;
	padding: 10px 5px;
}

#footer_cont img {
	display: block;
	line-height: 1;
	margin: 0 auto 20px;
}

#footer_cont h2 {
	border-bottom: 1px solid #FFF;
	text-align: center;
	margin: 0 0 10px;
	padding: 0 0 9px;
	font-size: 115%;
	letter-spacing: -1px;
}

#footer_cont h2 span {
	display: block;
}

#footer_cont #address {
	margin: 0 auto;
}

#footer_cont #address li {
	margin: 0 0 5px;
}

#footer_cont #address li a {
	color: #FF0;
}

#footer_cont #address li dl dt {
	float: left;
	margin: 0 0 15px;
}
/*----------------------------------------------------
 Flow
----------------------------------------------------*/
.column ol.flow {
	display: block;
	margin: 0 auto;
	padding: 3%;
	width: 94%;
}

.column ol.flow li {
	margin: 0 0 20px;
	padding: 0;
}

.column ol.flow li:last-child {
	margin: 0;
	padding: 0;
}

.column ol.flow li h3 {
	background: none;
	border-bottom: 1px solid #2DBBFF;
	color: #00486A;
	text-align: center;
	margin: 0 0 10px;
	padding: 0 0 4px;
}

.column ol.flow li h3 span {
	background: #2DBBFF;
	border-radius: 0 5px 0 5px;
	box-shadow: 2px 2px 0 #00486A;
	color: #FFF;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin: 0 10px 0 0;
	padding: 0 2%;
}

.column ol.flow li .f_img {
	margin: 0 0 10px;
}

.column ol.flow li .f_img img {
	background: #FFF;
	box-shadow: 0 15px 20px -10px #CCC;
	display: block;
	line-height: 1;
	padding: 1%;
	width: 98%;
}

.column ol.flow li .arrow {
	margin: 20px 0 0;
}

/*----------------------------------------------------
 Reason
----------------------------------------------------*/
.column .cont {
	padding: 0 2%;
}

.column ul.doctor {
	display: block;
	margin: 0 auto;
	padding: 0;
}

.column ul.doctor li {
	float: left;
	margin: 0 2% 0 0;
	width: 32%;
}

.column ul.doctor li .photo {
	position:relative;
}
.column ul.doctor li .name {
	background: #0164bd;
	color: #FFF;
	display: block;
	font-size: 80%;
	text-align: center;
	margin: 0;
	padding: 2% 0;
	position: relative;
	top: -10px;
	left: 2.5%;
	width: 95%;
}

.column ul.doctor li .name span {
	margin: 0 5px 0 0;
}
/*
.column ul.doctor li .name span.orange {
	color: #ff5d3b;
	display: block;
	text-align: left;
}

.column ul.doctor li .name span.position {
	color: #0164bd;
}
*/
.column ul.doctor li:last-child {
	margin: 0;
}

.column #two .text {
	float: left;
	width: 50%;
}


/*----------------------------------------------------
 Price
----------------------------------------------------*/
.price-list {
	border: 1px solid #EEE;
	font-size: 85%;
	margin: 0 auto 10px;
	width: 96%;
}

.price-list th ,
.price-list td {
	border: 1px solid #EEE;
	padding: 9px 4px;
	vertical-align: middle;
}

.price-list th {
	background: #f0c5d8;
	color: #666;
	font-weight: bold;
}

.price-list th.price {
	width: 25%;
}
.price-list td.price {
	color: #066EC5;
	text-align: right;
}

.price-list td.price .magenta {
	color: #FF3366;
}

/*----------------------------------------------------
 method
----------------------------------------------------*/
section#main .column .bg_method {
	background: #f4f2e8;
	margin: 0 auto;
	padding: 20px 0 0;
}

ul.ng {
	display: block;
	margin: 0;
	padding: 5% 2.5%;
}

ul.ng li {
	background: #FFF;
	margin: 0 0 10px;
	padding: 2.5%;
}

ul.ng li .photo {
	float: left;
	width: 30%;
}

ul.ng li .com {
	float: right;
	width: 65%
}

ul.ng li .com h3 {
	color: #0164bd;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	margin: 0 0 5px;
	padding: 0;
}

/*----------------------------------------------------
 cycle
----------------------------------------------------*/
section#main .column.bg_cycle {
	background: #f4f2e8;
	margin: 0 auto 20px;
	padding: 20px 0 0;
}

ol.cycle {
	background: #f4f1e8;
	display: block;
	margin: 0;
	padding: 5% 2.5%;
}

ol.cycle li {
	background: #FFF;
	margin: 0 0 10px;
	padding: 2.5%;
}

ol.cycle li:last-child {
	margin: 0;
}

ol.cycle li .photo {
	float: left;
	margin-top: 5px;
	width: 30%;
}

ol.cycle li .com {
	float: right;
	width: 65%
}

ol.cycle li .com h3 {
	color: #660000;
	display: inline-block;
	margin: 0 0 5px;
	padding: 0;
}

/*----------------------------------------------------
 faq
----------------------------------------------------*/
ul.accordion li {
	border: 1px solid #0299E1;
	margin: 0 2% 10px;
	padding: 9px;
}

.accordion li h3 {
	background: url("../img/faq/open.jpg") no-repeat 5px center;
	padding: 10px 10px 10px 30px;
	font-size: 110%;
	cursor: pointer;
	line-height: 1.4;
}
.accordion li h3.open {
	background: url("../img/faq/close.jpg") no-repeat 5px center;
}
.accordion li div {
	display: none;
	background: #F5F5F5;
	margin: 0;
	padding: 5px;
	font-size: 1rem;
}

.accordion li div div {
	display: block;
}

.accordion li div #contrast {
	border: 1px solid #EEE;
	display: block;
	margin: 15px 0px 5px 0px;
	padding: 9px;
}

.accordion li div #contrast #ok {
	background: url("../img/faq/bg_ok.png") no-repeat center center #ffe6ea;
	background-size: contain;
	padding: 5px;
}

.accordion li div #contrast #ng {
	background: url("../img/faq/bg_ng.png") no-repeat center center  #FFF;
	background-size: contain;
	margin: 0 0 10px;
	padding: 5px;
}

.accordion li div #contrast h4 {
	margin: 0 0 10px;
}

.accordion li div #contrast .text {
	margin: 0 0 20px
}
.accordion li div #contrast .text:last-child {
	margin: 0;
}

/*----------------------------------------------------
 interview
----------------------------------------------------*/
.bg_inter {
	background: #fffaf0;
}

.inter {
	display: block;
	margin: 0 auto 20px;
	padding: 0;
	width: 96%;
}

section.bg_inter .inter:first-child {
	padding: 10px 0 0;
}

section.bg_inter .inter:last-child {
	margin: 0 auto;
	padding: 0 0 10px;
}

.inter h3 {
	background: #FFF;
	border: 1px solid #CCC;
	color: #0164bd;
	font-weight: normal;
	text-align: left;
	letter-spacing: -1px;
	margin: 0 auto 10px;
	padding: 10px 0 10px 5%;
	position: relative;
}

.inter h3:before {
	background: #0164bd;
	content: ' ';
	display: inline-block;
	height: 70%;
	position: absolute;
	left: 2%;
	top: 15%;
	width: 1%;
}

.inter .cate {
	display: block;
	margin: 0 0 10px;
	padding: 5px;
}

.inter .cate li {
	float: left;
}

.inter .cate li.pic {
	margin: 0 10px 0 0;
	width: 20%;
}

.inter .cate li.text {
	float: right;
	width: 75%;
}

.inter .list {
	color: #0164bd;
	text-align: right;
}

/*----------------------------------------------------
 recruit.html
----------------------------------------------------*/
ul.recruitlist {
	margin: 0 auto 30px;
}


/*----------------------------------------------------
 reserve01.html
----------------------------------------------------*/
#form .ttl {
	background: #666;
	color: #FFF;
	font-weight: bold;
	font-size: 120%;
	margin: 0 auto 10px;
	padding: 10px 5px;
	text-align: center;
}

#form .cont {
	background: #FFF;
	margin: -10px 0;
	padding: 10px;
}

dl.mailform {
	background: #FFF
}

input[type="text"].other {
	display: inline;
	margin: 0 5px;
	width: 40%;
}

textarea.mfp {
	height: 100px;
}

#counseling .cont {
	color: #FFF;
}

/*----------------------------------------------------
 footer
----------------------------------------------------*/
footer.global {
	background: #222;
	padding:20px 0;
}

footer.global p.copyright {
	margin:0 0 50px;
	text-align: center;
	font-size:10px;
	color:#fff;
}

/*----------------------------------------------------
 fix
----------------------------------------------------*/
#fix_Box {
	position: fixed;
	bottom: 0;
	width: 100%;
	/*height: 82px;*/
	z-index:99;
}
#fix_Box .fix_bottom {
	background:rgba(0,0,0,0.6);
	color:#333;
	/*border-top:#F90 2px solid;*/
	padding: 5px 1%;
}
#fix_Box .fix_bottom ul {
	display: table;
	overflow: hidden;
	height: 40px;
	table-layout:fixed;
	width: 100%;
	border-collapse: separate;
	border-spacing: 10px 0;
}
#fix_Box .fix_bottom li {
	display: table-cell;
	font-size: 13px;
}
#fix_Box .fix_bottom li.tel {
	background: #f88607;
	background: -moz-linear-gradient(top, #f88607 0%, #ff5500 100%);
	background: -webkit-linear-gradient(top, #f88607 0%,#ff5500 100%);
	background: linear-gradient(to bottom, #f88607 0%,#ff5500 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f88607', endColorstr='#ff5500',GradientType=0 );
	border-radius:5px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}
#fix_Box .fix_bottom li.tel a {
	color: #fff;
	display: block;
	width: 100%;
	padding: 7px 0; 
	text-decoration: none;
}
#fix_Box .fix_bottom li.mail{
	background: -moz-linear-gradient(top,  #fff 0%, #d6d6d6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff 0%,#d6d6d6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff 0%,#d6d6d6 100%); /* W3C */
	border:#FF5500 2px solid;
	border-radius:5px;
	text-align: center;
	vertical-align: middle;
	color: #333;
}
#fix_Box .fix_bottom li.mail a {
	color: #333;
	display: block;
	width: 100%;
	padding: 7px 0; 
	text-decoration: none;
	font-size: 12px !important;
}
#fix_Box .foot_datail {
	background-color: #000;
	color: #fff;
	padding: 5px 5px 7px;
	text-align: center;
	height: 15px;
}
#fix_Box .fix_bottom li i:before{
	margin-right:5px;
}
#fix_Box .fix_bottom p{
	text-align:center;
	line-height:12px;
	font-size:12px;
	margin-bottom:10px;
}

/*----------------------------------------------------
 clearfix
----------------------------------------------------*/
.clear { clear:both; }
.clearfix:after { content: ''; display: block; clear: both; }

.cf:after {
	clear:both;
	content:".";
	display:block;
	font-size:0.1em;
	height:0px;
	line-height:0px;
	visibility:hidden;
}

.cf {
	display:block;
}

/*----------------------------------------------------
 ランドスケープ表示
----------------------------------------------------*/
@media all and (orientation:landscape) {

	/*----------------------------------------------------
	 menu
	----------------------------------------------------*/
	section#main #submenu #casenav,
	.menuNav{
		clear:both;
		/*margin-top:10px;*/
		/*padding:2px 0 3px ;*/
		background-image:url(../img/common/bg_casenav.gif) , url(../img/common/bg_casenav2.gif);
		background-position: 0 0 , 0 bottom;
		background-size: auto 2px , auto 4px;
		background-repeat:repeat-x, repeat-x;
	}
	section#main #submenu #casenav li,
	.menuNav li{
		background:url(../img/common/bg_casenavlist.gif) 0 0 repeat-x;
		background-size:auto 40px;
		border-bottom:1px solid #F1F1F1;
		border-top:#aaa 1px solid;
		display:block;
	/*	line-height:40px;*/
		font-size:95%;
		border-right:1px solid #fff;
	}
	section#main #submenu #casenav li a,
	.menuNav li a{
		background:url(../img/common/_arrow_casenav.png) right center no-repeat;
		background-size:23px auto;
		color:#333;
		display:block;
		padding: 13px 30px 13px 15px;
		text-decoration:none;
	}


	#casenav li.red a ,
	.menuNav li.red a {
		color: #C00 !important;
	}

	section#main #submenu #casenav .lady a,
	.menuNav .lady a {
		background: #ffc0cb url(../img/common/_arrow_casenav_br.png) right center no-repeat;
		background-size: 23px auto;
		color: #401000;
		display: block;
	}


	section#main #submenu #casenav .top a {
		background: url(../img/common/arrow_casenav.png) right center no-repeat;
		background-size: 23px auto;
	}

	.common_nav ul {
		border-top:1px solid #E2E3E3;
	}

	.common_nav ul li {
		float:left;
		width:33%;
		font-size:12px;
	}
	.common_nav ul li a:link,
	.common_nav ul li a:visited,
	.common_nav ul li a:hover,
	.common_nav ul li a:active {
		text-decoration:none;
	}
	.common_nav ul li.wide {
		width:34%;
	}

	.common_nav ul li p {
		border-bottom:1px solid #E2E3E3;
		border-left:1px solid #FFFFFF;
		border-right:1px solid #E2E3E3;
		background:-webkit-gradient(linear, center top, center bottom, from(#FFFFFF), color-stop(0.5, #FFFFFF), color-stop(0.51, #F7F7F7), to(#F7F7F7));
		background:-moz-linear-gradient(top, #FFFFFF, #FFFFFF 50%, #F7F7F7 51%, #F7F7F7 );
		text-align:center;
		color:#333333;
		text-shadow:0px 0px 2px #BBBBBB;
		height:35px;
		line-height:35px;
		display:block;
	}

	.common_nav ul li p.mens {
		color: #FFFFFF;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec82a2+0,e9528e+100 */
		background: #ec82a2; /* Old browsers */
		background: -moz-linear-gradient(top,  #ec82a2 0%, #e9528e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec82a2), color-stop(100%,#e9528e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ec82a2 0%,#e9528e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ec82a2 0%,#e9528e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ec82a2 0%,#e9528e 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ec82a2 0%,#e9528e 100%); /* W3C */
	}

	.common_nav ul li p.last {
		border-right:0px;
	}

	.common_nav ul li p.nav_active {
		background:-webkit-gradient(linear, center top, center bottom, from(#EFEFF0), color-stop(0.5, #EFEFF0), color-stop(0.51, #E5E5E5), to(#DDDEDE));
		background:-moz-linear-gradient(top, #EFEFF0, #EFEFF0 50%, #E5E5E5 51%, #DDDEDE );
		border-bottom:1px solid #DCDDDD;
		color:#E60039;
		text-shadow:0px 0px 2px #BBBBBB;
	}

	header p.button-toggle{
		width:15.625%;
		position:absolute;
	  top: 10px;
		right:0;
		line-height:0;
		margin:0;
	}
	.menu{
		display:none;
		position:absolute;
		left:0;
		top:29vh;
		width:100%;
		z-index:99999;
		background:#FFF;
	}
	.menu div img,
	header p.button-toggle img{width:100%;}
}


