
<div id="header">
	<div class="inner960 clearfix">
		<p id="logo"><a href="../"><img src="../images/logo.gif" alt="トップページ" /></a></p>
		<div class="fltr">
			<div class="topBtns clearfix">
				<p id="btnContact01"><a href="../reservation/form"><img src="../images/btn_contact01.gif" class="rollover" alt="無料カウンセリングはこちら" /></a></p>
				<ul id="topnav">
                    <li><a href="../sitemap/sitemap.html">サイトマップ</a></li>
                    <li><a href="../recruit/recruit.html">採用情報</a></li>
				</ul>
			<!-- /topBtns --></div>
			<ul id="gnav">
                <li><a href="../about/introduction.html"><img src="../images/gnav_01.gif" class="rollover" alt="クリニックについて" /></a></li>
                <li><a href="../menu/index.html"><img src="../images/gnav_02.gif" class="rollover" alt="診療科目" /></a></li>
                <li><a href="../flow/index.html"><img src="../images/gnav_03.gif" class="rollover" alt="施術の流れ" /></a></li>
                <li><a href="../coupon/index.html"><img src="../images/gnav_04.gif" class="rollover" alt="オススメ情報" /></a></li>
                <li><a href="../access/index.html"><img src="../images/gnav_05.gif" class="rollover" alt="アクセス" /></a></li>
			</ul>
		</div>
	</div>
<!-- /header --></div>

