
<div class="bottomSitemap">
    <div class="inner960 clearfix">
        <p class="sitemapTitle"><img src="../images/sm_text01.gif" alt="診療一覧" /></p>

        <div class="sitemapBlock clearfix" id="sitemapBlock01">
            <p class="blockTitle"><img src="../images/sm_text02.gif" alt="美容皮膚科＆医療レーザー脱毛" /></p>
            <div class="sitemapColumn" id="sitemapColumn01">
                <dl>
                    <dt><a href="../menu/epi.html">医療レーザー脱毛</a></dt>
                    <dd><a href="../menu/epi.html">・医療レーザー脱毛</a></dd>
                </dl>
                <dl>
                    <dt><a href="../menu/antiageing-kin.html">金の糸</a></dt>
                    <dd><a href="../menu/antiageing-kin.html">・金の糸</a></dd>
                </dl>
                <dl>
                    <dt><a href="../menu/mole-tatoo.html">シミ・ほくろ・タトゥー除去</a></dt>
                    <dd><a href="../menu/mole-tatoo.html">・シミ・ほくろ・タトゥー除去</a></dd>
                </dl>
                <dl>
                    <dt><a href="../menu/injection.html">ダイエット薬・ダイエットサプリ</a></dt>
                    <dd><a href="../menu/injection.html">・ダイエット薬・ダイエットサプリ</a></dd>
                </dl>
                <dl>
                    <dt><a href="../menu/skincare.html">スキンケア・</br>フォト（BBL光治療）・</br>ケミカルピーリング</a></dt>
                    <dd><a href="../menu/skincare.html#item04">・BBL　光治療</a></dd>
                    <dd><a href="../menu/skincare.html#item01">・ケミカルピーリング</a></dd>
                    <dd><a href="../menu/skincare.html#item02">・イオン導入</a></dd>
                    <dd><a href="../menu/skincare.html#item03">・レーザーフェイシャル</a></dd>

                </dl>
                <dl>
                    <dt><a href="./menu/skintight/index.html">ボトックス注射・ヒアルロン酸注入</a></dt>
                   <dd><a href="./menu/skintight/index.html#item02">・ボトックス注射</a></dd>
                   <dd><a href="./menu/skintight/index.html#item01">・ヒアルロン酸注入</a></dd>

                </dl>
                <dl>
                    <dt><a href="../menu/diet.html">痩身</a></dt>
                    <dd><a href="../menu/diet.html#item01">・脂肪溶解注射</a></dd>
                </dl>
                <dl>
                    <dt><a href="../menu/pierce.html">ピアス</a></dt>
                    <dd><a href="../menu/pierce.html">・ピアス</a></dd>
                </dl>
                <dl>
                    <dt><a href="http://www.hairsite.jp/" target="_blank">メンズクリニック</a></dt>
                    <dd><a href="http://www.hairsite.jp/" target="_blank">・メンズクリニック</a></dd>
                </dl>

				<dl>
					<dt><a href="../etc2/index.html">その他</a></dt>
					<dd><a href="../etc2/index.html">・その他の施術に関して</a></dd>
				</dl>






            <!-- /sitemapColumn01 --></div>
        <!-- /sitemapBlock01 --></div>

        <div class="sitemapBlock clearfix" id="sitemapBlock02">
            <p class="blockTitle"><img src="../images/sm_text03.gif" alt="美容外科" /></p>
            <div class="sitemapColumn" id="sitemapColumn02">
                <dl>
                    <dt><a href="../menu/eye.html">目もと・二重まぶた</a></dt>
                    <dd><a href="../menu/eye.html#item01">・埋没法</a></dd>
                    <dd><a href="../menu/eye.html#item02">・脱脂／マイクロ脱脂</a></dd>
                    <dd><a href="../menu/eye.html#item03">・全切開法</a></dd>
                    <dd><a href="../menu/eye.html#item04">・眼瞼下垂（オープンアイズ法）</a></dd>
                    <dd><a href="../menu/eye.html#item05">・グラマラスライン</a></dd>
                </dl>
                <dl>
                    <dt><a href="../menu/nose.html">鼻筋・小鼻</a></dt>
                    <dd><a href="../menu/nose.html#item01">・ヒアルロン酸注入術</a></dd>
                    <dd><a href="../menu/nose.html#item02">・プロテーゼ挿入術</a></dd>
                    <dd><a href="../menu/nose.html#item03">・鼻翼縮小術</a></dd>
                    <dd><a href="../menu/nose.html#item04">・鼻尖形成術</a></dd>
                    <dd><a href="../menu/nose.html#item05">・鼻尖縮小術（鼻先を細くする）</a></dd>
                    <dd><a href="../menu/nose.html#item06">・鼻尖増高術（鼻先を高くする）</a></dd>
                    <dd><a href="../menu/nose.html#item07">・鼻尖挙上術（鼻先を上向きにする）</a></dd>
                    <dd><a href="../menu/nose.html#item08">・鼻尖部延長（鼻先を下向きに延ばす）</a></dd>
                    <dd><a href="../menu/nose.html#item09">・鷲鼻形成術</a></dd>
                </dl>
                <dl>
                    <dt><a href="../menu/face-lift.html">フェイスリフト</a></dt>
                    <dd><a href="../menu/face-lift.html#contact">・前額部フェイスリフト術</a></dd>
                    <dd><a href="../menu/face-lift.html#contact">・前額部フェイスリフト術+眉間縦皺</a></dd>
                    <dd><a href="../menu/face-lift.html#contact">・頬部フェイスリフト術</a></dd>
                    <dd><a href="../menu/face-lift.html#contact">・頸部フェイスリフト術</a></dd>
                    <dd><a href="../menu/face-lift.html#contact">・頬部+頸部フェイスリフト術</a></dd>
                </dl>
                <dl>
                    <dt><a href="../menu/ear.html">耳</a></dt>
                    <dd><a href="../menu/ear.html#contact">・立ち耳形成術</a></dd>
                    <dd><a href="../menu/ear.html#contact">・耳の形成術</a></dd>
                </dl>
                <dl>
                    <dt><a href="../menu/lip.html">口元・唇</a></dt>
                    <dd><a href="../menu/lip.html#item01">・口唇縮小術(上下)</a></dd>
                    <dd><a href="../menu/lip.html#item02">・口唇拡大術(上下)</a></dd>
                    <dd><a href="../menu/lip.html#contact">・上口唇短縮</a></dd>
                    <dd><a href="../menu/lip.html#contact">・口角挙上術</a></dd>
                    <dd><a href="../menu/lip.html#contact">・ガミースマイル</a></dd>
                </dl>
            <!-- /sitemapColumn02 --></div>
            <div class="sitemapColumn" id="sitemapColumn03">
                <dl>
                    <dt><a href="../menu/bust.html">バスト・豊胸術</a></dt>
                    <dd><a href="../menu/bust.html#item01">・豊胸術（シリコンバッグ）</a></dd>
                    <dd><a href="../menu/bust.html#item02">・豊胸術（SUB-Q）</a></dd>
                    <dd><a href="../menu/bust.html#item03">・乳頭縮小術(高さ・外径・全体)</a></dd>
                    <dd><a href="../menu/bust.html#item04">・乳輪縮小術</a></dd>
                    <dd><a href="../menu/bust.html#item05">・乳頭乳輪の黒ずみ除去</a></dd>
                </dl>
                <dl>
                    <dt><a href="../menu/faceline.html">輪郭・アゴ形成</a></dt>
                    <dd><a href="../menu/faceline.html#item01">・小顔（エラ）ボトックス注射</a></dd>
                    <dd><a href="../menu/faceline.html#item02">・エラ削り</a></dd>
                    <dd><a href="../menu/faceline.html#item03">・アゴ削り</a></dd>
                    <dd><a href="../menu/faceline.html#item04">・下顎プロテーゼ挿入術</a></dd>
                    <dd><a href="../menu/faceline.html#item05">・頬骨整形術</a></dd>
                </dl>
                <dl>
                    <dt><a href="../menu/kyuin.html">脂肪吸引</a></dt>
                    <dd><a href="../menu/kyuin.html#contact">・頬部</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・下顎部</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・頬部+下顎部</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・バッカルファット</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・上腕部(半周)</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・上腕部(全周)</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・上腹部</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・ウエスト部</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・下腹部</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・全腹部</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・ヒップロール部</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・臀部または臀部移行部</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・大腿部ポイント法(1ヶ所)</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・大腿部ポイント法(2ヶ所)</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・大腿部ポイント法(3ヶ所)</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・大腿部ポイント法(4ヶ所)</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・大腿部全周法</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・大腿部全周法+移行部</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・下腿部</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・足首</a></dd>
                    <dd><a href="../menu/kyuin.html#contact">・下腿部全体(足首含む)</a></dd>
                </dl>
            <!-- /sitemapColumn02 --></div>
            <div class="sitemapColumn" id="sitemapColumn04">
                <dl>
                    <dt><a href="../menu/waki.html">ワキガ・多汗症</a></dt>
                    <dd><a href="../menu/waki.html#contact">・反転剪除法</a></dd>
                    <dd><a href="../menu/waki.html#contact">・吸引法</a></dd>
                    <dd><a href="../menu/waki.html#contact">・ボトックス注射</a></dd>
                    <dd><a href="../menu/waki.html#contact">・外用薬による治療</a></dd>
                </dl>
                <dl>
                    <dt><a href="../menu/lady.html"> 女性器</a></dt>
                    <dd><a href="../menu/lady.html#contact">・小陰唇縮小術(片側)</a></dd>
                    <dd><a href="../menu/lady.html#contact">・小陰唇縮小術(両側)</a></dd>
                    <dd><a href="../menu/lady.html#contact">・陰核包皮形成術</a></dd>
                    <dd><a href="../menu/lady.html#contact">・小陰唇縮小+陰核包皮形成術</a></dd>
                    <dd><a href="../menu/lady.html#contact">・大陰唇縮小術</a></dd>
                    <dd><a href="../menu/lady.html#contact">・膣縮小術(肛門挙筋縫縮)</a></dd>
                    <dd><a href="../menu/lady.html#contact">・膣縮小術(粘膜縫縮)</a></dd>
                    <dd><a href="../menu/lady.html#contact">・処女膜再生術</a></dd>
                </dl>
                <dl>
                    <dt><a href="../menu/gentle.html">男性器</a></dt>
                    <dd><a href="../menu/gentle.html#contact">・包茎</a></dd>
                    <dd><a href="../menu/gentle.html#contact">・陰茎根元切除術</a></dd>
                    <dd><a href="../menu/gentle.html#contact">・パイプカット</a></dd>
                </dl>
                <dl>
                    <dt><a href="../menu/etc.html">その他</a></dt>
                    <dd><a href="../menu/etc.html">・その他の施術に関して</a></dd>
                </dl>
            <!-- /sitemapColumn02 --></div>
        <!-- /sitemapBlock02 --></div>

    <!-- /inner960 --></div>
<!-- /bottomSitemap --></div>

<div id="footer">
	<div class="inner960 clearfix">
		<ul class="footerNav">
			<li><a href="../sitemap/index.html">サイトマップ</a></li>
		</ul>
		<p class="copyright">Copyright &copy; TOKYO COSMETIC SERGERY . All Rights Reserved. </p>
	<!-- /inner960 --></div>
<!-- /footer --></div>

