﻿@charset "utf-8";
/* CSS Document */

/* =====================================
	COMMON.CSS - update:2014.03.05
	> NORMALIZE
	> OPTIMIZE
	> MULTIPLE CLASS
	> BASE DESIGN
======================================== */


/* normalize.css v3.0.0
---------------------------------------- */
body {margin: 0;} article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;} audio,canvas,progress,video {display: inline-block; vertical-align: baseline;} audio:not([controls]) {display: none; height: 0;} [hidden],template {display: none;} a {background: transparent;} a:active,a:hover {outline: 0;} abbr[title] {border-bottom: 1px dotted;} b,strong {font-weight: bold;} dfn {font-style: italic;} h1 {font-size: 2em; margin: 0.67em 0 0;} mark {background: #ff0; color: #000;} small {font-size: 80%;} sub,sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;} sup {top: -0.5em;} sub {bottom: -0.25em;} img {border: 0;} svg:not(:root) {overflow: hidden;} figure {margin: 1em 40px;} hr {-moz-box-sizing: content-box; box-sizing: content-box; height: 0;} pre {overflow: auto;} code,kbd,pre,samp {font-family: monospace, monospace; font-size: 1em;} button,input,optgroup,select,textarea {color: inherit; font: inherit; margin: 0;} button {overflow: visible;} button,select {text-transform: none;} button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button; cursor: pointer;} button[disabled],html input[disabled] {cursor: default;} button::-moz-focus-inner,input::-moz-focus-inner {border: 0; padding: 0;} input {line-height: normal;} input[type="checkbox"],input[type="radio"] {box-sizing: border-box; padding: 0;} input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto;} input[type="search"] {-webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;} input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;} fieldset {border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em;} legend {border: 0; padding: 0;} textarea {overflow: auto;} optgroup {font-weight: bold;} table {border-collapse: collapse; border-spacing: 0;} td,th {padding: 0;}


/* OPTIMIZE
---------------------------------------- */
h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0;}
ol,ul {list-style-type: none; margin: 0; padding: 0;}
p {margin: 1em 0 0;}


/* MULTIPLE CLASS
---------------------------------------- */
.clearfix:before, .clearfix:after {content: ""; display: block;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}

.dB {display: block;} .dI {display: inline;} .dN {display: none;}
.fwB {font-weight: bold;} .fwN {font-weight: normal;}
.fL {float: left;} .fR {float: right;}
.taL {text-align: left;} .taR {text-align: right;} .taC {text-align: center;}
.m00 {margin: 0;}
.mT10 {margin-top: 10px;} .mT20 {margin-top: 20px;} .mT30 {margin-top: 30px;}
.mR10 {margin-right: 10px;} .mR20 {margin-right: 20px;} .mR30 {margin-right: 30px;}
.mB10 {margin-bottom: 10px;} .mB20 {margin-bottom: 20px;} .mB30 {margin-bottom: 30px;}
.mL10 {margin-left: 10px;} .mL20 {margin-left: 20px;} .mL30 {margin-left: 30px;}
.p00 {padding: 0;}
.pT10 {padding-top: 10px;} .pT20 {padding-top: 20px;} .pT30 {padding-top: 30px;}
.pR10 {padding-right: 10px;} .pR20 {padding-right: 20px;} .pR30 {padding-right: 30px;}
.pB10 {padding-bottom: 10px;} .pB20 {padding-bottom: 20px;} .pB30 {padding-bottom: 30px;}
.pL10 {padding-left: 10px;} .pL20 {padding-left: 20px;} .pL30 {padding-left: 30px;}


/* BASE DESIGN
---------------------------------------- */
html {font-size: 70%;}
body {font-family: 'Lucida Grande','segoe UI','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ','Meiryo',sans-serif; line-height: 1.5;}
body {color: #462C24; font-size: 1.0rem;}


a:link    {color: #462c24; text-decoration:under-line;}
a:visited {color:; text-decoration:;}
a:hover   {color: #462c24; text-decoration:none;}
a:active  {color:; text-decoration:;}

.red {color: #f00;}


/* header */
#header {padding: 10px 0;}
#header h1 {background: url(img/hdr_logo.png) center 0 no-repeat; background-size: 280px; display: block; font-size: 1.4rem; min-height: 53px; margin-bottom: 0; text-indent:-9999px;}

/* footer */
#footer {border-top: 1px solid #a39591; font-size: 1.2rem; margin-bottom: 30px; padding-top: 5px; text-align: center;}
#footer small {font-size: 0.8rem;}


/* container */
#container {overflow: hidden;}


/* main */
#main {}


/* sub */
#sub {font-size: 1.2rem; font-weight: bold;}
#sub p {padding: 0 10px;}
#sub ul {border-top: 1px solid #a39591; margin-top: 10px;}
#sub li {padding: 10px;}



/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {	
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}



/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 0px;
	background: url(img/bx_arrow.png) no-repeat 0 -32px;
	background-size: 51px 61px;
}

.bx-wrapper .bx-next {
	right: 0px;
	background: url(img/bx_arrow.png) no-repeat -26px -32px;
	background-size: 51px 61px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -26px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 25px;
	height: 30px;
	text-indent: -9999px;
	z-index: 9999;
}


