@charset "utf-8";
/* CSS Document */

/* =====================================
	INDEX.CSS - update:2014.03.05
======================================== */

/* Firefox v3.6+ */


/* common
---------------------------------------- */
#article > h1 img {width: 100%;
   margin-bottom: 0;
}
h3.next-arrow { background:url(../img/next_arr.png) bottom center no-repeat; background-size: 180px auto; font-size:14px; font-size: 1.4rem; margin-bottom: 10px; padding: 0 15px 40px;}
.next-arrow { background:url(../img/next_arr.png) bottom center no-repeat; background-size: 320px auto; margin-bottom: 10px; padding: 0 0 10px;}


/*accordion*/
dl.accordion {}
dl.accordion dt {background: #09A7D7; color:#fff; cursor:pointer; font-weight: bold;font-size:12px; font-size: 1.2rem; height: 35px; margin-bottom: 5px; padding: 10px; }
dl.accordion dt span {background: url(../img/arrow_bg.png) right center no-repeat; background-size: 29px 29px;   
 display: block; padding: 8px 20px 8px 0px; position: relative;}
dl.accordion dt span:after {position: absolute; display: block; top: 50%; right: 9px; width: 9px; height: 9px; margin-top: -6px; border-top: 2px solid #09a7d7; border-right: 2px solid #09a7d7; -webkit-transform: rotate(135deg); transform: rotate(135deg); content: ""; } 
dl.accordion dt.open span:after { position: absolute; display: block; top: 50%; right: 9px; width: 9px; height: 9px; margin-top: -3px; border-top: 2px solid #09a7d7; border-right: 2px solid #09a7d7; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); content: "";}
dl.accordion dd { display:none; font-size: 1.2rem; margin: 0; padding: 10px 0;}
dl.accordion p {margin:0 0 15px;  font-size: 1.2rem;  padding: 0 15px; }
dl.accordion p.aco-txt {margin:0px 0 16px;}
dl.accordion p.bgph{text-align: center;}

.list-box{
/* Firefox v3.6+ */
background-image:-moz-linear-gradient(50% 2% 90deg,rgba(255,255,255,0.23) 77%,rgba(0,166,218,0.23) 90%); 
background-image:linear-gradient(0deg,rgba(255,255,255,0.23) 77%,rgba(0,166,218,0.23) 90%);
margin: 0 10px 20px;
}


.link-unit:after{
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}
	
.link-unit{text-align: center;}	
.link-unit ul{display: inline-block; margin: 10px 0 0 10px;} 
.link-unit li{float: left; margin: 0 8px 0 0;}


.accordion table{
	border-left: 1px solid #AAA;
	border-top: 1px solid #AAA;
	margin: 0 10px 30px;
}
.accordion table th{
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	background-color: #EEE;
	padding:6px 3px;
}
.accordion table tbody th{
	/*white-space: nowrap;*/
	width: 14%;
}

.accordion table td{
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	padding:6px 5px;
	text-align: left;
	width: 24%;
}

.accordion table th.point-box{
	background-color: #97DBF1;
}
.accordion table td.point-box{
	background-color: #DFF4FB;
}
.accordion table td.kakaku{
	text-align: right;
}

strong{
	color: #C00;
	font-weight: 100;
}
.awake{
	background-color:#EEEEEE;
}

dd p.notes{
	font-size:10px;
	font-size:1.0rem;
	margin:-24px 0 0 0;
	padding:0 0 10px 0;
	text-align: right;	
}


.aco-title{
	background-color: #38C1FF;
	color: #fff;
	margin: 0px 15px 15px;
	padding:10px;	
	text-align: left;
}


h3.img-title{
	line-height: 0;
	margin: 0 0  20px 0;
}
dl.accordion p.icn-anshin{
	background-image: url(../img/set04_sub01_icn_anshin.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 59px 59px;
	padding-left:62px;
}
dl.accordion p.icn-soku{
	background-image: url(../img/set04_sub01_icn_soku.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 59px 59px;
	padding-left:62px;
}
dl.accordion p.icn-anzen{
	background-image: url(../img/set04_sub01_icn_anzen.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 59px 59px;
	padding-left:62px;
}
dl.accordion p.method_bg02 {
    background-image: url(../img/set04_subimg02.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 139px auto;
    margin-right: 5px;
    min-height: 108px;
    padding-right: 110px;
}


.list-kenuki{
	background: url(../img/set03_icon_01.png) 0px 10px no-repeat;
	background-size: 35px auto;
	margin: 0 30px;
	padding:0 0 0 37px;
}
.list-datumou{
	background: url(../img/set03_icon_02.png) 0px 10px no-repeat;
	background-size: 35px auto;
	margin: 0 30px;
	padding:0 0 0 37px;
}
.list-kamisori{
	background: url(../img/set03_icon_03.png) 0px 10px no-repeat;
	background-size: 35px auto;
	margin: 0 30px;
	padding:0 0 0 37px;
}
.list-wakkusu{
	background: url(../img/set03_icon_04.png) 0px 10px no-repeat;
	background-size: 35px auto;
	margin: 0 30px;
	padding:0 0 0 37px;
}
dl.accordion li p {
    margin: 0 0 15px;
    padding: 0;
}







/* contents
---------------------------------------- */



/*---res-unit---*/
.res-unit-box{
	background: -moz-linear-gradient(bottom, #d4f3fc, #fff 50%, #def6fc); 
	background: -webkit-linear-gradient(bottom, #d4f3fc, #fff 50%, #def6fc);
}
.res-unit-box h1{
	background: #09A7D7;
	text-align: center;
	line-height: 0em;
}
.res-unit {
    height: 357px;
    margin-bottom: 20px;
    margin: 0 auto 20px auto;
    position: relative;
    width: 320px;
}
.res-unit-box02{
	background: -moz-linear-gradient(bottom, #d4f3fc, #fff); 
	background: -webkit-linear-gradient(bottom, #d4f3fc, #fff); 
}
.res-unit.btn-res-unit {
    height: 267px;
    margin: 0 auto 20px auto;
    position: relative;
    width: 320px;
}
.res-unit p{
	margin: 0;
} 
.res-img{
	left: 14px;
	position: absolute;
	top: 2px;
}
.res-kakaku{
	left: 114px;
	position: absolute;
	top: 9px;
}
.res-tit{
	left: 103px;
	position: absolute;
	top: 73px;
	line-height: 1em;
}

.res-tel{
	left: 67px;
	position: absolute;
	top: 95px;
}

.res-btn-tel{
	left: 20px;
	position: absolute;
	top: 130px;
}
.res-btn-yoyaku{
	left: 20px;
	position: absolute;
	top: 187px;
}
.res-btn-line {
    left: 20px;
    position: absolute;
    top: 244px;
}
.res-btn-info {
    left: 70px;
    position: absolute;
    top: 305px;
}
.btn-res-unit .res-tel{
	left: 67px;
	position: absolute;
	top: 0;
}
.btn-res-unit .res-btn-tel{
	left: 20px;
	position: absolute;
	top: 36px;
}
.btn-res-unit .res-btn-yoyaku{
	left: 20px;
	position: absolute;
	top: 93px;
}
.btn-res-unit .res-btn-line {
    left: 20px;
    position: absolute;
    top: 150px;
}
.btn-res-unit .res-btn-info {
    left: 70px;
    position: absolute;
    top: 210px;
}


/*--add160331--*/
.lh0 {line-height: 0;}
.fs0 {font-size: 0;}
.response-unit { 
   width: 100%;
   text-align: center;
}
.response-unit h1 {
   text-align: center;
   margin-bottom: 0;
   padding: 0;
   line-height: 1;
   font-size: 0;
   background: #77c5e0 !important;
}
.response-unit p.detail {
   text-align: center;
   padding: 0;
   margin: 0;
   background: #f5f5f5;  
}
.response-unit p.cp {
   text-align: center;
   padding: 0;
   margin: 0;   
}
.response-unit ul {
   widht: 302px;
   margin: 0 auto 20px;
}
.response-unit ul li {
   margin-bottom: 5px; 
}



/*---trouble---*/
.trouble{
background-image:-moz-linear-gradient(rgba(238,238,238,0.8) 0%,rgba(255,255,255,0.8) 15%,rgba(255,255,255,0.8) 100%); 
background-image:linear-gradient(rgba(238,238,238,0.8) 0%,rgba(255,255,255,0.8) 15%,rgba(255,255,255,0.8) 100%);
}
.trouble p { font-size: 12px; font-size: 1.2rem; margin:10px 7px; padding: 0 7px; }
.trouble h1{ margin:0 0 30px; background: #09A7D7; height: 30px; position: relative; text-align: center; }
.trouble h1.large { height: 62px; }

.trouble dl{
/* Firefox v3.6+ */
background-image:-moz-linear-gradient(rgb(190,237,249) 0%,rgb(255,255,255) 100%); 
background-image:linear-gradient(rgb(190,237,249) 0%,rgb(255,255,255) 100%);
/* Firefox v3.5+ */
-moz-box-shadow:1px 3px 4px rgba(0,0,0,0.3);
/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
box-shadow:1px 3px 4px rgba(0,0,0,0.3);
margin:0 10px 20px 10px;
padding:10px 0 6px 5px;
}
.trouble dl p {margin: 0.6em 0 0.6em 0; padding: 0 5px 0 0px; }
.trouble dl dd{margin:0 0 0 2px;}


/*---method---*/
.method h1{ margin:0 0 30px; background: #09A7D7; height: 30px; position: relative; text-align: center; }
.method h1.large { height: 45px; }
.method p {font-size: 1.2rem; padding: 0 15px;}




/*-step-*/
.step h3 {background: #fbf3f2; display: block; margin: 0 0 12px 0; padding-left: 10px; padding-top: 0; text-align: left; padding-bottom: 0; line-height: 0; }
/*.step h3 img { left: 10px; position: absolute; top: -7px; }*/
.step .step01 .bgph { background: url(../img/set04_step_ph01.jpg) 10px 0 no-repeat; background-size: 82px auto; text-align: left;}
.step .step02 .bgph { background: url(../img/set04_step_ph02.jpg) 10px 0 no-repeat; background-size: 82px auto; text-align: left;}
.step .step03 .bgph { background: url(../img/set04_step_ph03.jpg) 10px 0 no-repeat; background-size: 82px auto; text-align: left;}
.step .step04 .bgph { background: url(../img/set04_step_ph04.jpg) 10px 0 no-repeat; background-size: 82px auto; text-align: left;}
.step p.bgph { margin-bottom: 10px; padding: 0 10px 0 100px; padding-bottom: 0; }
.step .step01 li { text-align: center; margin-bottom: 10px; }
dl.accordion p.step-tel {font-size: 1.2rem; margin: 0 0 0px; padding: 0 15px;}
.step .step01 li.step-btn-tel {margin-bottom: 0px; text-align: center;}

/*-faq-*/
.faq{margin: 0 10px;}
.faq .detail { border-bottom: 1px dotted #462c24; margin: 5px 0px; padding: 5px 0; }
.faq .detail h3 { background: url(../img/set04_icn_q.png) 0 0 no-repeat; background-size: 35px auto; min-height: 44px; font-size: 1.2rem; padding-left: 45px; color: #462C24; text-align: left; }
.faq .detail p { background: url(../img/set04_icn_a.png) 0 0 no-repeat; background-size: 35px auto; font-size: 1.2rem; min-height: 30px; padding:0 0 0 45px; }




/*---clinic---*/
/*-about-*/
.about { margin-bottom: 20px; }
.about h1 { background: #09A7D7; height: 30px; margin-bottom: 20px; position: relative; text-align: center; }
.about h2 { font-size: 1.4rem; margin:0 10px 10px; text-align: center; }
.about p { font-size: 1.2rem; padding: 0 15px; }
.about #slider img { margin: 0 auto; }

/*-access-*/
.access { margin-bottom: 20px; }
.access h1 { background: #09A7D7; height: 30px; position: relative;   text-align: center; }
.access p { font-size: 1.2rem; font-weight: bold; margin-bottom: 20px; padding: 0 15px; }
.access div { margin-bottom: 10px; text-align: center; }
.access .detail { margin: 0 15px; }
.access .detail dt { font-size: 1.3rem; font-weight: bold; margin-bottom: 3px; min-height: 23px; padding-left:25px; }
.access .detail dt.train { background: url(../img/set12_icn_train.png) 0 center no-repeat; background-size: 21px auto; }
.access .detail dt.car { background: url(../img/set12_icn_car.png) 0 center no-repeat; background-size: 21px auto; }
.access .detail dt.open { background: url(../img/set12_icn_open.png) 0 center no-repeat; background-size: 21px auto; }
.access .detail dt.close { background: url(../img/set12_icn_close.png) 0 center no-repeat; background-size: 21px auto; }
.access .detail dd { font-size: 1.2rem; line-height: 1.6; margin: 0; margin-bottom: 10px; padding: 0; }
.access .detail .disc li { list-style-type: disc; line-height: 1.6; margin-left: 1.3rem; }


/*---doctor---*/
.doctor { margin-bottom: 20px; }
.doctor h1 { background: #09A7D7; height: 30px; position: relative; text-align: center; }
.doctor h2 { background: #BCEEFC; line-height: 0; }
.doctor h2.res-tit {line-height: 1em;}
.doctor p { font-size: 1.2rem; margin-bottom: 15px; padding: 0 15px; }
.doctor .accordion dd { font-size: 1.2rem; line-height: 1.6; margin: 0; padding: 0px 15px; }
.doctor .accordion ul { margin-bottom: 1em; }
.doctor .accordion .disc li { list-style-type: disc; line-height: 1.6; margin-left: 1.3rem; }
.doctor .accordion p { padding: 0; }
.doctor .com-box { border: 3px solid #dec3b8; margin: 15px 15px 30px; padding: 15px; }
.doctor .com-box h3 { font-size: 1.4rem; margin-bottom: 10px; text-align: center; }
.doctor .com-box p { font-size: 1.2rem; line-height: 1.6; margin: 0; padding: 0; }
.doctor .res-unit p { margin: 0; padding: 0; }
.doctor .res-unit h2 { background: none; padding: 0; margin: 0; }






/*---pickup---*/
.pickup { margin-bottom: 10px; }
.pickup h1 { border-top: 1px solid #a39591; margin-bottom: 15px; padding-top: 5px; text-align: center; }
.pickup ul { margin-bottom: 20px; }
.pickup li { margin-bottom: 10px; text-align: center; }
