@charset "utf-8";

@import url(foundation.css);



/* ==========================================================

	header・footer

========================================================== */
body { line-height:1.5;}
a:hover { opacity:0.8; filter:alpha(opacity=80);}

p,
ul,
ol { margin-bottom:10px;}

p:last-child,
ul:last-child,
ol:last-child { margin-bottom:0;}


.sp_none { display:none;}



/* header
===========================================================*/
header { padding-top:10px;}

header h1 { margin-left:10px; margin-bottom:6px;}

header .__tel {
	float:right;
	margin-top:5px; margin-right:15px;
}

header p {
	clear:both;
	background:#aa9488;
}

header p a {
	display:block;
	width:320px;
	margin-right:auto; margin-left:auto;
	padding-top:6px; padding-bottom:5px;
	text-align:center;
}

header p a img { vertical-align:middle;}



/* footer
===========================================================*/
footer {
	padding-top:20px; padding-bottom:18px;
	font-size:11px;
	text-align:center;
}

.__fixed {
	width:100%;
	box-sizing:border-box;
	padding-top:5px; padding-bottom:5px;
	border-top:1px solid #b0b0b0;
	background:linear-gradient(to bottom, #fdfdfd, #cac7c6);
	text-align:center;
	position:fixed; left:0; bottom:0; z-index:1000;
}

.__fixed img {
	 margin-right:3px; margin-left:3px;
	vertical-align:middle;
}

/*.__fixed a:first-child img { width:45%;}*/
.__fixed a:last-child img { width:48%;}



/* 反応装置
===========================================================*/
.induce {
	width:277px;
	margin-right:auto; margin-left:auto;
	position:relative;
}

.induce .__contact { position:absolute; left:22px; top:205px;}

.induce .__tel { position:absolute; left:22px; top:259px;}




.induce .contact__01 {
  position:absolute;
  text-align: center;
    right: 74px;
    bottom: 120px;
}

.induce .contact__02 {
  position:absolute;
    bottom: -60px;
}
.induce .contact__03 {
  position:absolute;
  bottom: -110px;
}

/* 背景
===========================================================*/
.__bg {	background:linear-gradient(to bottom, #d5cac3, #ece5e2);}










/* ==========================================================

	メインビジュアル

========================================================== */
.__mv { text-align:center;}

.__mv img { width:100%;}







/* ==========================================================

	メインコンテンツ

========================================================== */
/* .__questionnaire
===========================================================*/
.__questionnaire {
	width:287px;
	margin-top:20px; margin-right:auto; margin-left:auto;
	text-align:center;
	position:relative;
}

.__questionnaire a {
	position:absolute; left:0; bottom:20px;
}


/* .__dissolve
===========================================================*/
.__dissolve {
	margin-top:25px; margin-bottom:30px;
	padding-bottom:30px;
	position:relative;
	text-align:center;
}

.__dissolve .__counseling {
	width:275px;
	margin-right:auto; margin-left:auto;
	padding:13px;
	background:#fff;
	border:1px solid #bfaa9f;
}

.__dissolve .__arr {
	position:absolute; left:50%; bottom:-38px;
	z-index:10;
	margin-left:-150px;
}



/* .__proposal
===========================================================*/
.__proposal .__title {
	margin-bottom:1px;
	padding:8px 10px 6px;
	background:linear-gradient(to bottom, #fbced9, #ef93ae);
	color:#fff;
	font-size:16px;
	font-weight:normal;
	position:relative;
}

.__proposal .__title.accordion:after {
	content:'';
	width:14px; height:12px;
	background:url(../img/arr1_02b.png) no-repeat;
	background-size:13px auto;
	position:absolute; right:10px; top:50%;
	margin-top:-3px;
}
.__proposal .__title.accordion.on:after {
	background:url(../img/arr1_02t.png) no-repeat;
	background-size:13px auto;
}

.__proposal section > div {
	width:277px;
	margin-right:auto; margin-left:auto;
	padding-bottom:10px;
}



/* .__media
===========================================================*/
.__media { margin-top:23px; margin-bottom:24px;}



/* .__satisfaction
===========================================================*/
.__satisfaction { margin-top:20px; padding-bottom:8px;}

.__satisfaction .__block {
	width:275px;
	margin-right:auto; margin-bottom:15px; margin-left:auto;
	background:#fff;
	box-shadow:0 0 10px rgba(0,0,0, 0.35);
	border:1px solid #bfaa9f;
}

.__satisfaction .__block h2 {
	margin-bottom:10px;
	font-size:15px;
	font-weight:normal;
	color:#e25480;
}

.__satisfaction .__block > div { padding:16px;}

.__satisfaction .__block .__point { border-bottom:1px solid #bfaa9f;}

.__satisfaction .__block .__box {
	padding:10px;
	border:2px solid #f3bbcc;
	color:#e25480;
}



/* .__step
===========================================================*/
.__step .__block {
	width:277px;
	margin-right:auto; margin-bottom:10px; margin-left:auto;
}

.__step .__block h2 {
	margin-bottom:6px;
	font-weight:normal;
	color:#e25480;
	font-size:15px;
}

.__step .__block > div {
	padding:15px;
	background:#ece5e2;
}



/* .__flow
===========================================================*/
.__flow .__block {
	width:277px;
	margin-right:auto; margin-left:auto;
	padding-top:10px; padding-bottom:10px;
	border-bottom:1px dotted #bfaa9f;
}

.__flow .__block h2 {
	margin-bottom:6px;
	text-align:center;
}



/* .__faq
===========================================================*/
.__faq { margin-top:17px; margin-bottom:27px;}

.__faq .__block {
	width:277px;
	margin-right:auto; margin-left:auto;
}

.__faq h2 {
	min-height:25px;
	padding:8px 30px 3px 34px;
	background:url(../img/ico_q.png) no-repeat left 5px;
	background-size:25px 25px;
	color:#918078;
	font-weight:normal;
	font-size:15px;
	border-bottom:1px dotted #bfaa9f;
	position:relative;
}

.__faq h2.accordion:after {
	content:'＋';
	padding-right:3px; padding-bottom:1px; padding-left:3px;
	border:1px solid #cfbfb7;
	position:absolute; right:0; top:50%;
	margin-top:-0.75em;
	font-size:12px;
}
.__faq h2.accordion.on:after {
	content:'－';
}

.__faq .__block > div p {
	min-height:25px;
	padding-top:8px; padding-bottom:5px; padding-left:34px;
	background:url(../img/ico_a.png) no-repeat left 5px;
	background-size:25px 25px;
	border-bottom:1px dotted #bfaa9f;
}



/* .__clinic
===========================================================*/
.__clinic p { width:277px; margin-right:auto; margin-left:auto;}	



/* .__access
===========================================================*/
.__access { margin-top:15px; padding-bottom:30px;}

.__access > div > div {
	width:277px;
	margin-right:auto; margin-left:auto;
}

.__access .__block { margin-bottom:15px;}

.__access .__block h3 {
	margin-bottom:10px;
	padding-left:8px;
	border-left:3px solid #e25480;
	color:#e25480;
}

.__access .__block ul {
	list-style-type:disc;
	margin-left:1.2em;
}

.__access .__map {
	height:175px;
	margin-top:20px;
	border:1px solid #a9a9a9;
}




/* .__principle
===========================================================*/
.__principle .__block {
	width:277px;
	margin-right:auto; margin-bottom:16px; margin-left:auto;
}

.__principle .__block > div {
	padding:18px 23px 20px;
	background:linear-gradient(to bottom, #ddd3cc, #f4f1ef);
}

.__principle .__block h3 {
	margin-bottom:10px;
	text-align:center;
	color:#e25480;
	font-size:16px;
	font-weight:normal;
}

.__principle .__block h3 img { margin-bottom:5px;}




/* .__doctor
===========================================================*/
.__doctor { padding-right:0; padding-left:0;}

.__doctor > p { margin-top:15px; padding-right:10px; padding-left:10px;}

.__doctor section { padding-bottom:20px;}

.__doctor section > div {
	width:277px;
	margin-right:auto; margin-bottom:20px; margin-left:auto;
	box-sizing:border-box;
}

.__doctor h2 {
	margin-bottom:10px;
	padding-top:10px; padding-bottom:8px;
	text-align:center;
	background:linear-gradient(to right, #d6c9c2, #bfaa9f 35%, #bfaa9f 65%, #d6c9c2);
}

.__doctor section .__img {
	width:192px;
	margin-right:auto; margin-left:auto;
	box-shadow:0 0 10px rgba(0,0,0, 0.35);
}

.__doctor section .__comment {
	padding:12px;
	border:3px solid #e5ddd9;
}

.__doctor .__title {
	margin-bottom:10px;
	padding-left:8px;
	border-left:3px solid #e25480;
	color:#e25480;
}

.__doctor .__history > h3 {
	margin-bottom:10px;
	padding:12px 10px 8px;
	background:#b9a49a url(../img/arr1_02b.png) no-repeat 98% center;
	background-size:14px auto;
	color:#fff;
	font-size:15px;
	font-weight:normal;
}

.__doctor .__history > h3.on {
	background:#b9a49a url(../img/arr1_02t.png) no-repeat 98% center;
	background-size:14px auto;
}

.__doctor .__history table,
.__doctor .__history tbody,
.__doctor .__history tr,
.__doctor .__history th,
.__doctor .__history td { display:block;}

.__doctor .__history th {
	text-align:left;
	font-weight:normal;
}

.__doctor .__history td { padding-bottom:8px;}

.__doctor .__belong ul {
	list-style-type:disc;
	margin-left:1.5em;
}

.__doctor .__belong li { margin-bottom:5px;}




.__doctor section {
  margin: 0 auto;
  width: 90%;
  background: #fff;
}


/*tab
===========================================================*/
.tab_menu {
  border-bottom:2px solid #655952;
  width: 100%;
  margin-bottom: 20px;
}

.tab_omote {
  background-color:#EAE3E1;
  padding: 20px 0 20px 0 ;
}

.tabContent {
  border: 1px solid lightgray;
  height: 320px;
  display: none;
  padding: 32px;
}

.tabContent:target {
  display: block;
}

.tab-content input[type="radio"] {
  display: none;
}

label {
  margin: 0 !important;
  background-color: #d6c8c3;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 49.2%;
  display: inline-block;
  text-align: center;
}
.tab-content label img {
  text-align: center;
}
.tab-content label:hover,
.tab-content input[type="radio"]:checked + label {
  background-color: #655952;
  padding-top: 20px;
  padding-bottom: 20px;

}

.tab-content label:nth-child(1) { margin-right: 20px; }

.tab-content > .tab-box > div {
  display: none;
  border-top:2px solid #655952;
/*  margin-top: 20px;*/
  padding-top: 0px;
}

#tab_omotesando:checked ~ .tab-box > #tabView_omotesando {
  display: block;
}

#tab_fukuoka:checked ~ .tab-box > #tabView_fukuoka {
  display: block;
}