@charset "utf-8";

/******************************************************************** index
*/
body{color:#4C1A00;}
.planList{margin-bottom:70px;}
.planList li{
	text-align:center;
	border-bottom:#E3E3E3 1px solid;
	margin-bottom:15px;
	padding-bottom:15px;
	line-height:0;
}

.concept li{
	width:298px;
	padding-top:20px;
	padding-right:23px;
	background:url(../img/bg_cocept_top.jpg) no-repeat left top;
	float:left;
}
.concept li.last{
	padding-right:0;
}
.concept li .bottom{
	background:url(../img/bg_cocept_bottom.jpg) no-repeat left bottom;
	padding-bottom:20px;
}
.concept li .bottom .inner{
	background:url(../img/bg_cocept_center.jpg) repeat-y left center;
	padding:0 20px 10px;
}
.concept li .txtTtl{
	color:#0191D1;
	font-size:1.2em;
	line-height:1.4;
	margin-bottom:15px;
	text-align:center;
}

p.intro{
	font-size:1.2em;
	line-height:1.8;
}
h4.intro{
	color: #0164bd;
	font-size: 1.8em;
	margin-bottom: 20px;
}
p.intro span{background: linear-gradient(transparent 60%, #D5F1FB 60%);}


.flow{
	/*background:url(../img/bg_flow.jpg) no-repeat;*/
	padding:27px 16px 30px;
	margin-bottom:60px;
}
.flow li{
	float:left;
	width:224px;
	padding-right:24px;
	background:url(../img/ico_arrow.gif) no-repeat 232px 5px;
}
.flow li.last{
	float:right;
	padding-right:0;
	background:none;
}
.flow li .lH0{
	background:#DDF1FB;
	padding:2px 2px 20px;
	margin:0 auto;
	width:220px;
}
.flow li .lH0 img{
	border:#FFF 2px solid;
}
.flow li h4{
	color:#0191D1;
	font-size:1.3em;
	line-height:1.4;
	padding:0 10px 10px;
	background:#DDF1FB;
}
.flow li .txt{
	background:#DDF1FB;
	padding:0 10px 10px;
}

.point{
	width:936px;
	height:auto;
	margin:0 auto 52px;
	border-right:#0264BD 2px solid;
	border-left:#0264BD 2px solid;
	border-bottom:#0264BD 2px solid;
}
.point li{
	float:left;
	width:396px;
	padding:30px 35px;
}
.point li.heightLine-group2{
	border-bottom:#EBEBEB 1px solid;
}
.point li.bR{
	border-right:#EBEBEB 1px solid;
}
.point li h4{
	margin-bottom:15px;
	color:#0164BD;
	font-size:1.8em;
}
.point li h4 img{
	vertical-align:middle;
	margin-right:10px;
}

.adventage{
	width:940px;
	margin:0 auto 60px;
	background:#fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	padding-top:12px;
}
.adventage h4{
	position:relative;
	padding:18px 10px 18px 135px;
	color:#0164BD;
	border-top:#0164BD 6px solid;
	border-bottom:#0164BD 2px solid;
	margin:0 14px 50px;
	font-size:1.8em;
	line-height:1.2;
}
.adventage h4 img{
	position:absolute;
	left:0;
	top:-22px;
}
.adventage .inner{
	/*background:url(../img/bg_defferent.jpg) no-repeat center bottom;*/
	padding:0 20px 32px 40px;
}
.adventage .inner .fL{
	width:579px;
	height:auto;
}
.adventage .inner .fL dl dt{
	float:left;
	clear:left;
	line-height:0;
	padding:0 20px 15px 0;
}
.adventage .inner .fL dl dd{
	float:left;
	width:405px;
}
.cost .fL{
	width:455px;
	height:auto;
}
.cost .fR{
	width:455px;
	height:auto;
}
.cost .price-list{
	width:100%;
	border-collapse:collapse;
	margin-bottom:15px;
}
.cost .price-list tr th{
	font-weight:bold;
	padding:5px 15px;
	border:#CCC 1px solid;
}
.cost .price-list tr td{
	padding:5px 15px;
	border:#CCC 1px solid;
}
.cost .price-list tr .price{
	text-align:right;
	background:#D5F0FB;
	font-weight:bold;
	color:#066EC5;
}

.ways{
	margin:0 auto;
}
.ways li{
	float:left;
	background:#FBFBF9;
	border:#CCC 1px solid;
	padding:25px 30px;
	width:393px;
	height:auto;
	margin-top:30px;
}
.ways li .fL{margin-top:25px;}
.ways li .fR{width:300px;}
.ways li .fR h4{
	line-height:0;
	margin-bottom:10px;
}

.different{
	width:100%;
	border-collapse:collapse;
}
.different tr th{
	font-weight:bold;
	padding:15px;
	border:#CCC 1px solid;
}
.different tr th.side{
	width:100px;
}
.different tr td{
	padding:15px;
	border:#CCC 1px solid;
}
.different tr .bg_blue{
	background:#EEF9FD;
}
.different tr span.blue{
	color:#066EC5;
}

.access .fL{
	width:390px;
	height:auto;
}
.access iframe{float:right;}
.access .fL h4{
	color:#066EC5;
	font-size:1.2em;
	margin-bottom:10px;
}

.info tr th{
	background:#F7F7F7;
	padding:3px 5px;
	border:#CCC 1px solid;
}
.info tr td{
	border:#CCC 1px solid;
	padding:3px 5px;
}
.access .info{
	width:350px;
}
.access ul li{
	margin-left:1em;
	list-style:disc;
}
/*
.doctor{
	width:700px;
	margin:0 auto;
}

.doctor .fR{
	width:510px;
}

.doctor p.name{
	font-size:1.5em;
	font-weight:bold;
	margin-bottom:15px;
}
.doctor h4{
	font-size:1.3em;
	font-weight:bold;
	margin-bottom:10px;
	border-left:#00A0E9 3px solid;
	padding-left:10px;
}
.doctor table{
	width:100%;
	border-collapse:collapse;
}
.doctor table tr th{
	font-weight:bold;
	padding:15px;
	border:#CCC 1px solid;
}
.doctor table tr td{
	padding:15px;
	border:#CCC 1px solid;
}
*/
.doctors-name {
	background-color: #d1eff8;
	clear: both;
	line-height: 1;
	margin: 0 auto 25px;
	padding: 10px 15px;
	text-align: left;
	vertical-align: middle;
}

.doctors-inner {
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	margin: 0 auto 30px;
}

.doctors-inner h4 {
	border-bottom: 1px solid #9a8f8f;
	margin: 0 0 10px;
	line-height: 1;
}

.doc-txtbox01 {
	color: #462c24;
	float: left;
	font-size: 14px;
	line-height: 160%;
	text-align: left;
	width: 320px;
	margin: 0 15px;
}


.doc-txtbox02 {
	color: #462c24;
	float: right;
	font-size: 14px;
	line-height: 160%;
	text-align: left;
	width: 430px;
}

.doc-combox {
	background-color: #fff;
	border: 5px solid #e8d5cd;
	margin: 0 auto 30px;
	padding: 15px;
	text-align: center;
}

.doc-comtxt {
	color: #462c24;
	font-size: 14px;
	line-height: 160%;
	text-align: left;
}

.frame {
	border: 3px solid #eff7d1;
	padding: 2px;
}

.tomori {
	/*background: url("../img/img_tomori.jpg") no-repeat right bottom;*/
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

.tomori .doctors-name {
	background: #eff7d1;
	margin: 5px 5px 10px;
	line-height: 0;
	padding: 10px 15px 8px;
}
.tomori h4 {
	border-bottom: 1px solid #9a8f8f;
	margin: 0 0 10px;
	line-height: 1;
}

.tomori .textbox {
	margin: 0 0 20px;
}

.tomori .left ,
.tomori .right {
	margin: 0 5px;
	width: 450px;
}

.tomori .left {
	float: left;
}

.tomori .left ul.list li {
	float: left;
}

.tomori .right {
	float: right;
}

table.mailform tr td ul.checkList li{
	margin-bottom:10px;
}
table.mailform tr td ul.wishList li{
	float:none;
	width:100%;
	margin-bottom:20px;
}
table.mailform tr td ul.wishList li p{
	font-size:1.2em;
	color:#066EC5;
	margin-bottom:5px;
}

p.narrow{
	background:#EBEBEB;
	padding:15px;
}

.fixNav{
	background:url(../img/bg_fix.png) repeat;
	position:fixed;
	width:100%;
	bottom:0;
	text-align:center;
	line-height:0;
	padding:15px 0;
	color:#FF3366;
	border-top:#FF3366 2px solid;
}
.fixNav span{font-size:1.6em; line-height:1; vertical-align:middle;}
.fixNav img{vertical-align:middle; margin-left:20px;}

#mfp_phase_confirm{display:none;}