#header h1 {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
#headText {
	text-align: left;
	text-indent: 10px;
	height: 20px;
	font-size: 12px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#headerRight {
	float: right;
	margin-right: 5px;
}
#headerRight .fav_btn {
	margin-right: 33px;
	float: right;
	margin-bottom: 10px;
}
#headerRight #tel {
	float: right;
}
.price {
	margin-bottom: 20px;
}
.text {
	font-size: 16px;
	color: #595757;
	line-height: 2em;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}
#box {
	width: 836px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.subBox {
	text-align: left;
	width: 641px;
	float: left;
	margin-left: 30px;
}
.subBox2 {
	text-align: left;
	width: 611px;
	float: left;
	margin-left: 30px;
}
.subBox3 {
	text-align: left;
	width: 775px;
	float: left;
	margin-left: 30px;
}

.subbox4 {
	float: left;
	background-image: url(../img/24_pill_back.jpg);
	background-repeat: repeat-y;
	background-position: center top;
	height: 390px;
}
#box01 {
	width: 900px;
}
#box02 {
}
.box03 {
	float: left;
	width: 836px;
}
#box04 {
	width: 836px;
	margin-top: 50px;
	margin-bottom: 40px;
}
#box05 {
	width: 836px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#box06 {
	clear: left;
	width: 836px;
	margin-top: 50px;
	margin-bottom: 50px;
	height: 500px;
}
#box07 {
	clear: left;
	width: 836px;
	margin-top: 50px;
	margin-bottom: 50px;
	height: 700px;
}
#box08 {
	margin-top: 40px;
	width: 641px;
	height: 250px;
	float: left;
}
.subbox4 .pill {
	float: left;
	width: 353px;
	text-align: left;
	margin-left: 50px;
}
.subbox4 .pill2 {
	float: left;
	width: 353px;
	text-align: left;
	margin-left: 20px;
}
.subbox4 .pill dl dt {
	margin-bottom: 10px;
	height: 70px;
}
.subbox4 .pill2 dl dt {
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 1.5em;
}
.subbox4 .pill dl dd {
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 1.5em;
}
.subbox4 .pill2 dl dd {
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 1.5em;
}
.subbox5 {
	float: left;
	margin-top: 20px;
	margin-left: 28px;
	margin-bottom: 20px;
}
.subbox5 dl {
	float: left;
	width: 349px;
}
.subbox5 dl dt {
	margin-bottom: 10px;
}
.subbox5 dl dd {
	text-align: left;
	font-size: 16px;
	line-height: 1.5em;
}
#box06 {
	color: #595757;
}
#pillPh {
	float: left;
	margin-bottom: 10px;
}
#bf {
	float: right;
	margin-top: 20px;
}
#footer {
	width: 836px;
	padding-right: 40px;
	padding-left: 40px;
	height: 130px;
	padding-top: 20px;
	clear: both;
}
#page_top {
	text-align: right;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0F75BD;
	padding-bottom: 10px;
	margin-bottom: 30px;
	color: #0F75BD;
}
#foot_logo {
	float: left;
	text-align: center;
	width: 836px;
	margin-bottom: 20px;
}
.footText {
	font-size: 14px;
	line-height: 2em;
	text-align: left;
	margin-left: 30px;
	margin-top: 10px;
	width: 380px;
	float: left;
}
.footText span{
	font-size: 12px;
	line-height: 1.5em;
}