@charset "utf-8";
/* CSS Document */

/* =====================================
	INDEX.CSS - update:2015.06.23
======================================== */


/* header
---------------------------------------- */

#header { border-bottom-color: #d0ccc9; border-bottom-style: solid; border-bottom-width: 1px; height: 70px; width: 100%; }

.header-inner { margin-left: auto; margin-right: auto; width: 1200px; }

#mainvisual-bg { background-color: #BDF2FA; background-repeat: none; height: 450px; margin-top: 30px;}

.mainimg { margin-right: auto; margin-left: auto; width: 1250px; padding-right:50px;}
.mainimg2 { margin-right: auto; margin-left: auto; width: 1250px; padding-right:50px;}
.mainimg3 { margin:0 auto;width: 1250px;text-align:center;}

#container { margin-right: auto; margin-left: auto; margin-top: 18px; text-align: center; width: 1100px; padding: 0 50px;}

.btnarea { background-image: url(../img/05_bg_btn.jpg); repeat: no-repeat; height: 200px; padding-top: 187px; padding-left: 349px; margin:20px auto 50px auto; text-align: left; width: 659px; }

.trouble{height:535px;background-image: url(../img/06_bg.jpg);background-repeat: no-repeat;background-position: right;text-align:left;margin-bottom:5px;}
.troubletxt{padding-left:50px;}
.reason{ background-image: url(../img/04_copy.png);background-repeat: no-repeat;margin-right: auto; margin-left: auto; margin-top: 60px; margin-bottom:30px;text-align: center; width: 1100px;height:320px }
.reason-txt { color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 16px; line-height: 160%; float: left; margin: 125px 0 0 50px; width: 655px; text-align:left;}
.reason-photo { float: right; margin-top: 100px; margin-right:43px;}

.otameshibnr{text-align:center;margin-top:50px;display:block;}

table.hikaku {color:#472C25;margin:0 auto;}
table.hikaku td,th {border-collapse: collapse;border:1px solid #AAA;}
table.hikaku th{background-color:#EEE;width:180px;text-align:center;}
table.hikaku td{width:368px;padding:18px;color:#472C25;text-align:left;}
table.hikaku td.clinic{text-align:center;font-weight:bold;padding:10px;background-color:#97DBF0;padding:20px}
table.hikaku td.esthe{text-align:center;color:#472C25;font-weight:bold;padding:10px;background-color:#EEE;padding:20px}
.comment_hikaku{width:1020px;margin:0 auto;text-align:right;font-size:14px;color:#472C25;padding:10px 0 40px 0; }

.demelit{width:1000px;height:454px;background-color:#888888;margin:0 auto 50px auto;font-size:15px;}
.demelittxt1{background-image: url(../img/07_bg_1.png);width:343px;height:94px;margin:0 20px 20px 24px; float:left;text-align:left;padding:60px 22px 0 100px;line-height:25px;}
.demelittxt2{background-image: url(../img/07_bg_2.png);width:343px;height:94px;margin:0 25px 20px 0; float: right;text-align:left;padding:60px 22px 0 100px;line-height:25px;}
.demelittxt3{background-image: url(../img/07_bg_3.png);width:343px;height:94px;margin:0 20px 20px 24px; float:left;text-align:left;padding:60px 22px 0 100px;line-height:24px;}
.demelittxt4{background-image: url(../img/07_bg_4.png);width:343px;height:94px;margin:0 25px 20px 0; float: right;text-align:left;padding:60px 22px 0 100px;line-height:25px;}
.shikumi{margin:0 auto;width:1000px;margin-bottom:62px;}
.shikumitxt{float:left;width:484px;height:170px;text-align:left;margin-right:35px;}
.shikumiphoto{float:left;margin-bottom:35px;}
.shikumitxt2{text-align:left;}
.point{width:1000px;margin: 0 auto 20px auto; }
.point ul{width:670px;float:left;text-align:left;margin-left:30px;}
.point1 { background:url(../img/09_point1.jpg) top left no-repeat ; height:90px;padding:40px 0 0 130px; }
.point2 { background: url(../img/09_point2.jpg) top left no-repeat ; height:100px;padding:30px 0 0 130px; }
.point3 { background:url(../img/09_point3.jpg) top left no-repeat ; height:100px;padding:40px 0 0 130px; }

.counseling { background-image: url(../img/09_bg.jpg); background-repeat: repeat-x; height: 500px; text-align: left; width: 1000px; margin:0 auto; }
.counselingph { float:left;margin:30px 24px 0 26px}
.counselingtxt { float:right; width:703px; margin:46px 38px 0 0;}

.pricelist { width:1000px;margin:0 auto 100px auto;}
.price_l { color:#472C25;float:left;margin-right:15px;width:486px;}
.price_r { color:#472C25;float:right;width:486px;}
.pricelist table {border:1px solid #AAA;border-collapse: collapse;}
.pricelist td, th {border:1px solid #AAA;border-collapse: collapse;}
.price_l table th {font-weignt:normal;text-align:left;}
.pricelist table th.bui{background-color:#EEE;width:130px;text-align:center;font-weight:bold;}
.pricelist table th{background-color:#FFF;text-align:left;font-weight:normal;padding-left:10px;}
.pricelist table td{width:125px;padding:18px;color:#472C25;text-align:right;height:14px;background-color:#DFF4FB;}
.pricelist table td.kai{text-align:center;font-weight:bold;padding:10px;background-color:#97DBF0;padding:20px}


.counseking-txt { color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 16px; line-height: 160%; float: right; margin-right: 70px; width: 468px; }

.counseling02 { background-image: url(../img/06_bg.png); background-repeat: repeat-x; margin-right: auto; margin-left: auto; text-align: left; width: 1100px; }

.counseling02-inner { margin-right: auto; margin-left: auto; width: 960px; text-align: center; }

.counseking02-txt { color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 16px; line-height: 160%; padding-left: 10px; margin-bottom: 15px; text-align: left; width: 950px; }

.counseling02-inner02 { background-color: #FFF; padding-top: 20px; padding-left: 40px; padding-right: 40px; margin-bottom: 30px; margin-right: auto; margin-left: auto; text-align: center; width: 920px; }

.counseking02-stxt { color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 14px; line-height: 140%; padding-left: 10px; margin-bottom: 15px; text-align: left; width: 445px; }

.counseling02-inner03 { float: left; text-align: center; width: 310px; }

.counseling02-inner03-txt { color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 16px; line-height: 160%; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; text-align: left; }

.rborder { border-right-width: 1px; border-right-style: dotted; border-right-color: #462c24; padding-right: 7px; }

.pdleft7 { padding-left: 7px; }

.voice { background-image: url(../img/07_bg.png); background-repeat: repeat-x; height: 560px; margin-bottom: 30px; margin-top: 30px; padding-top: 30px; padding-right: 50px; padding-left: 50px; }

.process-box { width: 1000px; margin-bottom: 20px; margin-left: auto; margin-right: auto; vertical-align: top;  }

.process-bg { background-image: url(../img/08_boxmid.png); background-repeat: repeat-y; margin-right: auto; text-align: left; vertical-align: top; width: 1000px; }

.process-bg table{border-style: none;}

.step_title { height: 52px; margin-right: 25px; margin-bottom: 15px;  width: 665px; }

.process_txt { clear: both; font-size: 16px; line-height: 28px; margin-right: 25px; text-align: left; width: 665px; }

.step_kakomi { border: 1px solid #D8CCC9; clear: both; color: #462C24; font-size: 13px; line-height: 20px; margin-top: 15px; padding: 10px; width: 645px; }

.nagare-txt { color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 16px; line-height: 160%; margin-left: 20px; padding-left: 10px; padding-right: 10px; text-align: left; vertical-align: middle; width: 564px; }

.dotline { border-top-color: #462c24; border-top-style: dotted; border-top-width: 1px; margin-left: 20px; width: 584px; }

.faq-txt { clear: both; color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 16px; line-height: 160%; margin-left: 70px; width: 870px; }

.rtxt { float: right; text-align: left; width: 770px; }

.hrline { clear: both; border-bottom-color: #472C24; border-bottom-style: solid; border-bottom-width: 1px; margin-bottom: 20px; padding-top: 22px; width: 1000px;}

.access{width:1000px;border:1px solid #AAA;margin:13px auto 33px auto;padding-bottom:20px;}
.accesslogo{text-align:center;margin-top: 22px;}

.pinkback { background-color: #f7f0ee; padding-top: 10px; padding-bottom: 50px; margin-right: auto; margin-left: auto; text-align: center; width: 1100px; }

.pinkback-inner { margin-left: auto;  margin-right: auto; width: 960px; }

.p-back-txt { color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 16px; line-height: 160%; margin-top: 15px; text-align: left;}

.p-back-txt.fL {width: 440px; }

.access-wbox { background-color: #EEE; font-size: 16px; line-height: 28px; margin-right: auto; margin-left: auto; margin-top: 20px; margin-bottom: 40px; padding: 25px; text-align: left; vertical-align: middle; width: 930px; }

.access-left { border-right-width: 1px; border-right-style: dotted; border-right-color: #333; float: left; padding-top: 20px; padding-bottom: 20px; padding-right: 30px; margin-right: 30px; }

.concept-bg { background-image: url(../img/11_bg.png); background-repeat: repeat-x;  }

.concept-inner { background-color: #FFF; float: left; padding-bottom: 20px; text-align: center; width: 310px; }

.doctors-inner { margin-right: auto; margin-left: auto; width: 980px; text-align: center; }

.doctors-name { clear: both; background-color: #D1EFF8; height: 32px; margin-bottom: 25px; margin-left: auto; margin-right: auto; margin-top: 30px; padding-top: 13px; padding-left: 15px; text-align: left; vertical-align: middle; width: 965px; }

.doc-txtbox01 { color: #462C24; float: left; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 14px; line-height: 160%; text-align: left; width: 320px; }

.doc-txtbox02 { color: #462C24; float: right; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 14px; line-height: 160%; text-align: left; width: 430px; }

.doc-combox { background-color: #FFF; border: 4px solid #E8D5CD; margin-left: auto; margin-right: auto; padding-bottom: 15px; padding-left: 15px; padding-right: 15px; padding-top: 15px; margin-bottom: 30px;  margin-top: 20px; text-align: center; width: 392px; }

.doc-comtxt { color: #462C24; float: right; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 14px; line-height: 160%; text-align: left; }

.pickupbox { margin-right: auto; margin-left: auto; width: 1000px; text-align:center;}

.form{margin:38px auto 0 auto;width:900px;}
.form table{width:900px;border:1px solid #AAA;border-collapse: collapse;}
.form td{border:1px solid #AAA;border-collapse: collapse;text-align:left;}
.form table th{background-color:#E0F4FB;width:180px;text-align:left;vertical-align:top;padding:24px 0 20px 80px;}
.error-m { color: #ff0000; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 14px; line-height: 100%; display:block; margin:0 20px 15px; padding:0;}
{}
.hissu{background-image:url(../img/16_hissu.png);background-repeat: no-repeat;}
.nini{background-image:url(../img/16_nini.png);background-repeat: no-repeat;}
.textarea{border:0;padding:10px;font-size:14px;font-family:Arial, sans-serif;border:solid 1px #ccc;margin:15px 0 15px 22px;width:250px;-webkit-box-shadow:2px 2px 2px 0 rgba(200,200,200,0.2) inset;-moz-box-shadow:2px 2px 2px 0 rgba(200,200,200,0.2) inset;box-shadow:2px 2px 2px 0 rgba(200,200,200,0.2) inset; }
.textarea2{border:0;padding:10px;font-size:14px;font-family:Arial, sans-serif;border:solid 1px #ccc;margin:15px 0 15px 22px;width:545px;height:103px;-webkit-box-shadow:2px 2px 2px 0 rgba(200,200,200,0.2) inset;-moz-box-shadow:2px 2px 2px 0 rgba(200,200,200,0.2) inset;box-shadow:2px 2px 2px 0 rgba(200,200,200,0.2) inset; }
input[type="radio"]{
font-size: 100%;
width: 1em;
margin: 0;
padding: 0;
opacity: 0;
}
input[type="radio"]+label:before{
display: inline-block;
content: "";
vertical-align: top;
background-color: white;
color: #CCCCCC;
border-style: solid;
border-width: 0.1875em;
width: 0.625em;
height: 0.625em;
margin-left: -1em;
margin-top: 0.25em;
margin-right: 0.25em;
}
input[type="radio"]+label:before{
border-radius: 0.5em;
}
input[type="radio"]:checked+label:before{
border-style: double;
border-width: 0.5em;
width: 0;
height: 0;
}
input[type="radio"]:focus+label:before{
outline: 1px dotted;
}
.radiostyle{padding-left:20px;}


#footer { border-top-color: #d0ccc9; border-top-style: solid; border-top-width: 1px; color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 12px; height: 70px; padding-top: 10px; }

ul.fl { list-style-image: url(../common/img/footer-arrow.png); margin: 0; padding: 0; }

ul.fl li { float: left; margin-right: 5px; padding: 2px; text-align: left; width: 10em; }

.clearLeft { clear: left; }



/*--slider bot--*/
.bx-prev{
    position: absolute;
    left: 0;
    top: 0;
	background:url(../img/left_arrow.png);
	height:299px;
	width:30px;
	display:block;
	text-indent:-9999px;
}
.bx-next{
   right: 0;
   top: 0;
   position: absolute;
	background:url(../img/right_arrow.png);
	height: 299px;
	width:30px;
	display:block;
	text-indent:-9999px;
}

/*--slider config--*/
.bg_img{
   width: 100%;
   max-width: 960px;
   margin: 0 auto;
	position:relative;
}
.bg_img .bx-wrapper{
    height: 299px;
}
.bx-window {
    margin-bottom: 0px;
}
.slider {
    width: 100%;
    margin: 0px auto;
} 

/*--slider--*/
.bg_img .bx-wrapper {
    width: inherit;
}
#slider li {
    width: 419px !important;
    text-align: left;
}