@charset 'utf-8';
#instagram {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 190px;
    height: 277px;
    margin-top: 10px;
    padding: 2px;
    background-color: #053c70;
}

#instagram .inner {
    overflow: hidden;
    width: 186px;
    height: 226px;
    padding-top: 47px;
    background-color: #fff;
}

#insta_footer {
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 186px;
    height: 5px;
    background-color: #fff;
}

.insta_header {
    position: absolute;
    top: 2px;
    left: 2px;
}

#insta_link {
    position: absolute;
    bottom: 2px;
    left: 2px;
    display: block;
    width: 186px;
    height: 168px;
    -webkit-transition: .1s opacity linear;
    -o-transition: .1s opacity linear;
    transition: .1s opacity linear;
    opacity: 0;
    background-color: #fff;
}

#insta_link:hover {
    opacity: .25;
}

.instagram-media {
    box-shadow: none !important;
}
