body {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 100%;
	text-align: center;
	line-height: 150%;
	background-image: url(img/bg.gif);
	float: left;
	color: #400000;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}
img {
	border: 0px;
	vertical-align: bottom;
}

h2 {
	margin: 0px;
}
h3 {
	margin: 35px 0 0 0;
}


a:visited {
	color: #400000;
}
a:link {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #400000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.image-l {
	float: left;
	margin: 0 10px 0 0;
}




#main {
	text-align: left;
	width: 910px;
	margin-top: 0px;
	margin: 0px auto;
	;
	;
	background-image: url(img/main-bg.gif);
	padding: 0 10px 0 10px;
}

#header {
}
#header h1 {
	margin: 0;
	font-size: 10px;
	font-weight: normal;
	line-height: 120%;
	color: #FF6666;
	float: left;
}
#header ul{
	height: 91px;
	width: 910px;
	margin: 0;
	padding: 0;
}
#header ul li{
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0px;
}
#header ul li a{
	line-height: 0;
}


#nav {
	width: 910px;
	float: left;
}
#nav ul {
	width: 910px;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#nav li {
	margin: 0px;
	padding: 0px;
	float: left;
	list-style: none;
}
#left {
	text-align: left;
	float: left;
	width: 210px;
	margin-left: 0px;
	padding: 15px 0 10px 15px;
	margin-right: 10px;
}
#left img {
	height: auto;
	text-align: center;
	margin: 0 0 10px 0;
}
#left ul {
	margin: 0 0 10px 0;
	padding: 0px;
	list-style: none;
}
#left li {
	margin: 5px 0 0px 0;
	padding: 0px;
	list-style: none;
}


#right {
	width: 660px;
	float: left;
	padding: 15px 0 0 0;
}
#flash {
	height: 301px;
	width: 660px;
	margin-top: 10px;
}
#right .bnr {
	margin: 25px 0 0 0;
	width: 660px;
}
#right .bnr img {

}


#news {
	text-align: left;
	color: #440000;
	margin: 25px 0 0 0;
	background-image: url(img/news-bg.gif);
	width: 660px;
	padding: 0px;
}
#news dl {
	margin: 15px 0 0 0;
	padding: 0px 0 0 10px;
	width: 650px;
}
#news dt {
	float: left;
	padding: 5px;
	margin-right: 10px;
}
#news dd {
	padding: 5px;
}





#pickup {
	width: 660px;
	margin: 35px 0 0 0;
}
#pickup .pick-lb {
	width: 325px;
	float: left;
	margin: 20px 0 0 0;
}
#pickup .pick-rb {
	width: 325px;
	float: right;
	margin: 20px 0 0 0;
}

#pickup .pick-lb .list {
	float: left;
	margin: 0 0 20px 0;
}



#pickup .pick-lb img {
	clear: both;
	float: left;
}

#pickup .pick-lb h3 {
	margin: 0 0 5px 0;
	width: 240px;
	float: right;
}

#pickup .pick-lb p {
	line-height: 150%;
	margin: 0px;
	width: 235px;
	float: right;
	padding: 0 0 0 5px;
}

#pickup .pick-rb .list {
	float: left;
	margin: 0 0 20px 0;
}



#pickup .pick-rb img {
	float: left;
	clear: both;
}

#pickup .pick-rb h3 {
	margin: 0 0 5px 0;
	width: 240px;
	float: right;
}

#pickup .pick-rb p {
	line-height: 150%;
	margin: 0px;
	width: 235px;
	float: right;
	padding: 0 0 0 5px;
}
#foot {
	width: 100%;
	height: 50px;
	background-image: url(img/foot-bg.gif);
	background-position: center;
	background-repeat: no-repeat;
}





/* クリアフィックス*/

.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

/*　料金表ページ */

#price {
	width: 660px;
	float: left;
	padding: 15px 0 0 0;
	text-align: left;
}
#price h3 {

}




#price table {
	width: 640px;
	border: 1px;
	margin: 0 0 15px 10px;
	border-collapse: collapse;
	border-color: #C18484;
}
#price td {
	padding: 3px;
	border-collapse: collapse;
	border-color: #C18484;
}
#price .left {
	width: 200px;
	padding-left: 10px;
}
#price .middle {
	padding-left: 15px;
}
#price .right {
	text-align: right;
	padding-right: 20px;
	font-weight: bold;
	background-color: #FEE2D8;
	width: 150px;
}



/*　診療の流れページ */

#flow {
	width: 660px;
	float: left;
	padding: 15px 0 0 0;
	text-align: left;
}
#flow h3 {

}
#flow p {
	margin: 0;
	padding: 0 0 15px 65px;
}
#flow  .image2 {
	float: right;
	margin-left: 15px;
}


/*　キャンペーンページ */

#coupon {
	width: 660px;
	float: left;
	padding: 15px 0 0 0;
	text-align: left;
}
#coupon p {
}


/*　当院についてのページ */

#about {
	width: 660px;
	float: left;
	padding: 15px 0 0 0;
	text-align: left;
}

#about .box-iten {
	width: 660px;
	height: 330px;
	background-image: url(img/about4-bg.jpg);
	margin: 25px 0 0px 0;
	padding: 10px 0 0 0;
	background-repeat: no-repeat;
}

#about .box-iten p{
text-align:center;
}

#about .box-iten p #textL{
font-size:150%;
line-height:1.7em;
font-weight:bold;
}


#about  .box-doc {
	width: 660px;
	height: 250px;
	background-image: url(img/about2-bg.jpg);
	margin: 25px 0 0px 0;
	padding: 25px 0 0 0;
	background-repeat: no-repeat;
}

#about  .box-doc  h4 {
	margin-left: 350px;
	margin-top: 0px;
}
#about  .box-doc  p {
	margin-left: 350px;
	padding-right: 20px;
}
#about  .box-prof {
	width: 660px;
	height: 250px;
	background-image: url(img/about2b-bg.jpg);
	margin: 25px 0 0px 0;
	padding: 25px 0 0 0;
	background-repeat: no-repeat;
}
#about  .box-prof  h4 {
	margin-left: 350px;
	margin-top: 0px;
}
#about  .box-prof  p {
	margin-left: 350px;
	padding-right: 20px;
}


#about  .box-gakkai {
	width: 660px;
	height: 250px;
	background-image: url(img/about5-bg.jpg);
	margin: 25px 0 0px 0;
	padding: 25px 0 0 0;
	background-repeat: no-repeat;
}
#about  .box-gakkai  h4 {
	margin-top: 0px;
	margin-left: 25px;
}
#about  .box-gakkai  p {
	margin-left: 25px;
	padding-right: 20px;
	width: 300px;
}



#about  .box-ns {
	width: 660px;
	height: 250px;
	background-image: url(img/about3-bg.jpg);
	margin: 25px 0 0px 0;
	padding: 25px 0 0 0;
	background-repeat: no-repeat;
}
#about  .box-ns  h4 {
	margin-top: 0px;
	margin-left: 25px;
}
#about  .box-ns  p {
	margin-left: 25px;
	padding-right: 20px;
	width: 300px;
}
#about h5 {
	margin-left: 25px;

}
#about .clear {
	padding-left: 25px;
	margin-top: 0px;
}

#about .contact {
	padding-left: 25px;
	background-image: url(img/contact-bg.gif);
	height: 120px;
	margin: 25px 0 0 0;
}
#about .contact h4 {
	margin: 0 0 15px 0;
}
#about .profile {
	float: left;
}
#about .profile .prof {
	width: 280px;
	margin: 15px 0 0 0;
}
#about .profile .prof-photo {
	margin: 15px 20px 0 0;
}


/*　よくあるご質問ページ */

#faq {
	width: 660px;
	float: left;
	padding: 15px 0 0 0;
	text-align: left;
}
.contact  {
	padding-left: 25px;
	background-image: url(img/contact-bg2.gif);
	height: 80px;
	margin: 15px 0 0 0;
}


/*　問い合わせページ */

#contact {
	width: 660px;
	float: left;
	padding: 25px 0 0 0;
	text-align: left;
}
#contact table {
	border-color: #FFFFFF;
	margin-left: 0px;
	clear: both;
	width: 658px;
	vertical-align: middle;
	border-collapse: collapse;
	font-size: 12px;
	margin-top: 25px;
}
#contact td {
	height: auto;
	padding: 10px;
	background-image: url(img/form-bg.gif);
	background-repeat: repeat-y;
	border-collapse: collapse;
	padding-right: 0px;
}
#contact .clear {
	background-image: url(none);
	border-color: #CCCCCC;
	border-collapse: collapse;
	padding-left: 25px;
	width: 410px;
}
#contact .clear input {
	margin-left: 0px;
}




/*　メニューページ */

#menu {
	width: 660px;
	float: left;
	padding: 15px 0 0 0;
	text-align: left;
}
#menu h3 {
	margin: 0px;
	margin-top: 35px;
}
#menu .middle {
	background-image: url(img/menu-middle.gif);
}
#menu .middle .list-l {
	width: 209px;
	border-right: dotted 1px #D2C9BF;
	float: left;
	padding: 15px 0 0 10px;
}
#menu .middle .list-l ul {
	margin: 0 0 10px 10px;
	padding: 0 0 0 15px;
}

#menu .middle .list-c {
	width: 209px;
	height: auto;
	border-right: dotted 1px #D2C9BF;
	padding-left: 10px;
	margin-left: 220px;
	padding: 15px 0 0 10px;
}
#menu .middle .list-c ul {
	margin: 0 0 15px 10px;
	padding: 0 0 0 15px;
}

#menu .middle .list-r {
	width: 209px;
	height: auto;
	border-right: dotted 1px #D2C9BF;
	float: right;
	padding: 15px 0 0 10px;
}
#menu .middle .list-r ul {
	margin: 0 0 15px 10px;
	padding: 0 0 0 15px;
}

.image1 .link {
	width:380px;
	padding:0 5px;
	text-align:right;
}

.image1 .link a {
	float:none;
	color:#000;
}

/*　各メニューページ */

#u-menu {
	width: 660px;
	float: left;
	padding: 25px 0 0 0;
	text-align: left;
	height: auto;
}
.epi-r {
	width: 660px;
	height: 250px;
	background-image: url(img/epi2-bg.jpg);
	margin: 25px 0 0px 0;
	padding: 25px 0 0 0;
	background-repeat: no-repeat;
}
.epi-r  h3 {
	margin-left: 350px;
	margin-top: 0px;
	margin-bottom: 10px;
}
.epi-r  p {
	margin-left: 350px;
	padding-right: 20px;
	margin-top: 10px;
}
.epi-l {
	width: 660px;
	height: 250px;
	background-image: url(img/epi1-bg.jpg);
	margin: 25px 0 0px 0;
	padding: 25px 0 0 0;
	background-repeat: no-repeat;
}
.epi-l  h3 {
	margin-top: 0px;
	margin-left: 25px;
	margin-bottom: 10px;
}
.epi-l  p {
	margin-left: 25px;
	padding-right: 20px;
	width: 280px;
	margin-top: 10px;
}


/*****************************************************　金の糸ページ *******************************************************************/

#gold {
	width: 660px;
	float: left;
	padding: 25px 0 0 0;
	text-align: left;
}
.gold-r {
	width: 660px;
	height: 250px;
	background-image: url(img/gold1-bg.jpg);
	margin: 25px 0 0px 0;
	padding: 25px 0 0 0;
	background-repeat: no-repeat;
}
.gold-r   h4 {
	margin-left: 420px;
	margin-top: 0px;
	margin-bottom: 10px;
}
.gold-r  p {
	margin-left: 420px;
	padding-right: 20px;
	margin-top: 10px;
}
.gold-l {
	width: 660px;
	height: auto;
	background-image: url(img/gold2-bg.gif);
	margin: 25px 0 0px 0;
	padding: 25px 0 0 0;
	background-repeat: no-repeat;
}
.gold-l   h4 {
	margin-top: 0px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.gold-l  p {
	margin-left: 25px;
	padding-right: 20px;
	width: 300px;
	margin-top: 10px;
}


/*****************************************************　刺青ページ *******************************************************************/

#tatoo {
	width: 660px;
	float: left;
	padding: 25px 0 0 0;
	text-align: left;
}
.tatoo-r {
	width: 660px;
	height: 250px;
	background-image: url(img/tatoo1-bg.jpg);
	margin: 25px 0 0px 0;
	padding: 25px 0 0 0;
	background-repeat: no-repeat;
}
.tatoo-r   h4 {
	margin-left: 245px;
	margin-top: 0px;
	margin-bottom: 10px;
}
.tatoo-r  p {
	margin-left: 250px;
	padding-right: 20px;
	margin-top: 10px;
}
.tatoo-l {
	width: 660px;
	height: 250px;
	background-image: url(img/tatoo2-bg.jpg);
	margin: 25px 0 0px 0;
	padding: 25px 0 0 0;
	background-repeat: no-repeat;
}
.tatoo-l   h4 {
	margin-top: 0px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.tatoo-l  p {
	margin-left: 25px;
	padding-right: 20px;
	width: 350px;
	margin-top: 10px;
}


/*****************************************************　スキンケア以下ページ *******************************************************************/

#skin {
	width: 660px;
	float: left;
	padding: 25px 0 0 0;
	text-align: left;
}
.skincare-r {
	width: 660px;
	height: 250px;
	background-image: url(img/skincare-1.jpg);
	margin: 25px 0 25px 0;
	padding: 0 0 0 0;
	background-repeat: no-repeat;
}
.skincare-r    h3 {
	padding: 15px 0 0 0;
	margin: 0 0 5px 245px;
}
.skincare-r  p {
	margin-left: 250px;
	padding-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.skincare-l {
	width: 660px;
	height: 250px;
	background-image: url(img/tatoo2-bg.jpg);
	margin: 25px 0 0px 0;
	padding: 25px 0 0 0;
	background-repeat: no-repeat;
}
.skincare-l    h3 {
	margin-top: 0px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.skincare-l  p {
	margin-left: 25px;
	padding-right: 20px;
	width: 350px;
	margin-top: 10px;
}
#skin  .tit {
	margin: 35px 0 20px 0;
	clear: both;


}
#skin  .image1 {
	float: right;
	margin: 0 0 20px 20px;
}
#skin  .image2 {
	float: left;
	margin: 0 20px 20px 0;
}



/*****************************************************　プチ整形ページ *******************************************************************/

#petit {
	width: 660px;
	float: left;
	padding: 25px 0 0 0;
	text-align: left;
}
.petit-r {
	width: 660px;
	height: 250px;
	background-image: url(img/petit-bg.jpg);
	margin: 25px 0 25px 0;
	padding: 0 0 0 0;
	background-repeat: no-repeat;
}
.petit-r h3 {
	padding: 15px 0 0 0;
	margin: 0 0 5px 245px;
}
.petit-r p {
	margin-left: 250px;
	padding-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.petit-l {
	width: 660px;
	height: 250px;
	background-image: url(img/tatoo2-bg.jpg);
	margin: 25px 0 0px 0;
	padding: 25px 0 0 0;
	background-repeat: no-repeat;
}
.petit-l h3 {
	margin-top: 0px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.petit-l p {
	margin-left: 25px;
	padding-right: 20px;
	width: 350px;
	margin-top: 10px;
}
#petit .tit {
	margin: 35px 0 20px 0;
	clear: both;


}
#petit  .image1 {
	float: right;
	margin: 0 0 20px 20px;
}
#petit .image2 {
	float: left;
	margin: 0 20px 20px 0;
}
#petit h4 {
	margin: 0px;
	font-size: 12px;
}



/*****************************************************　プチ整形ページ *******************************************************************/

#make {
	width: 660px;
	float: left;
	padding: 25px 0 0 0;
	text-align: left;
}
.make-r {
	width: 660px;
	height: 250px;
	background-image: url(img/make1.jpg);
	margin: 25px 0 25px 0;
	padding: 0 0 0 0;
	background-repeat: no-repeat;
}
.make-r h3 {
	padding: 15px 0 0 0;
	margin: 0 0 5px 245px;
}
.make-r p {
	margin-left: 250px;
	padding-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.make-l {
	width: 660px;
	height: 250px;
	background-image: url(img/tatoo2-bg.jpg);
	margin: 25px 0 0px 0;
	padding: 25px 0 0 0;
	background-repeat: no-repeat;
}
.make-l h3 {
	margin-top: 0px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.make-l p {
	margin-left: 25px;
	padding-right: 20px;
	width: 350px;
	margin-top: 10px;
}
#make .tit {
	margin: 35px 0 20px 0;
	clear: both;


}
#make  .image1 {
	float: right;
	margin: 0 0 20px 20px;
}
#make .image2 {
	float: left;
	margin: 0 20px 20px 0;
}
#make h4 {
	margin: 0px;
	font-size: 12px;
}



/*****************************************************　美容形成ページ *******************************************************************/

#operation1 {
	width: 660px;
	float: left;
	padding: 25px 0 0 0;
	text-align: left;
}
.operation1-r {
	width: 660px;
	height: 250px;
	background-image: url(img/operation1.jpg);
	margin: 25px 0 25px 0;
	padding: 0 0 0 0;
	background-repeat: no-repeat;
}
.operation1-r h3 {
	padding: 15px 0 0 0;
	margin: 0 0 5px 245px;
}
.operation1-r p {
	margin-left: 250px;
	padding-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.operation1-l {
	width: 660px;
	height: 250px;
	background-image: url(img/tatoo2-bg.jpg);
	margin: 25px 0 0px 0;
	padding: 25px 0 0 0;
	background-repeat: no-repeat;
}
.operation1-l h3 {
	margin-top: 0px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.operation1-l p {
	margin-left: 25px;
	padding-right: 20px;
	width: 350px;
	margin-top: 10px;
}
#operation1 .tit {
	margin: 35px 0 20px 0;
	clear: both;


}
#operation1 .image1 {
	float: right;
	margin: 0 0 20px 20px;
}
#operation1 .image2 {
	float: left;
	margin: 0 20px 20px 0;
}
#operation1 h4 {
	margin: 0px;
	font-size: 12px;
}


/*****************************************************　美容形成ページ *******************************************************************/

#operation2 {
	width: 660px;
	float: left;
	padding: 25px 0 0 0;
	text-align: left;
}
.operation2-r {
	width: 660px;
	height: 250px;
	background-image: url(img/operation1.jpg);
	margin: 25px 0 25px 0;
	padding: 0 0 0 0;
	background-repeat: no-repeat;
}
.operation2-r h3 {
	padding: 15px 0 0 0;
	margin: 0 0 5px 245px;
}
.operation2-r p {
	margin-left: 250px;
	padding-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.operation2-l {
	width: 660px;
	height: 250px;
	background-image: url(img/tatoo2-bg.jpg);
	margin: 25px 0 0px 0;
	padding: 25px 0 0 0;
	background-repeat: no-repeat;
}
.operation2-l h3 {
	margin-top: 0px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.operation2-l p {
	margin-left: 25px;
	padding-right: 20px;
	width: 350px;
	margin-top: 10px;
}
#operation2 .tit {
	margin: 35px 0 20px 0;
	clear: both;


}
#operation1 .image1 {
	float: right;
	margin: 0 0 20px 20px;
}
#operation1 .image2 {
	float: left;
	margin: 0 20px 20px 0;
}
#operation1 h4 {
	margin: 0px;
	font-size: 12px;
}

/*　フォントスタイル */

.strong {
	color: #FF6633;
	font-weight: bold;
}
.orenge {
	color: #FF6600;
}
#main  #right  .kin-menu1 {
	white-space: 660;
	height: 35px;
	margin: 15px 0 15px 0;
}
#main #right .kin-menu2 {
	width: 660px;
	height: 30px;
	text-align: center;
}
#main #u-menu .epi-r .faq-tit {
	margin: 25px 0 0 0;
	float: left;
}
.menu-faq {
}
.menu-faq dl {
}
.menu-faq dt {
	margin: 0;
	padding: 5px 0 0 35px;
	background-image: url(img/faq-q.gif);
	height: 30px;
	background-repeat: no-repeat;
}
.menu-faq dd {
	margin: 0;
	padding: 5px 0 10px 35px;
	background-image: url(img/faq-a.gif);
	height: 30px;
	background-repeat: no-repeat;
	border-bottom: 1px dotted #CCCCCC;
}
#main #right .cosme {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 20px 0;
}
#main #right .cosme td {
	width: 50%;
	border: 1px solid #CCC;
	padding: 10px;
}

#main #right .cosme .cosme-l {

}
#main  #right  .cosme  .cosme-l .image-l {
	float: left;
	margin: 0 10px 0 0;
}
#main #right .cosme .cosme-l h4 {
	margin: 0 0 0 0;
}
#right .cosme .cosme-l .cosme-price {
	color: #CC3300;
	font-weight: bold;
	margin: 20px 0 0 0;
}
#main #right .cosme .cosme-l .caution {
	font-size: 10px;
	margin: 0px;
}
#right  .image-cosme {
	float: left;
	margin: 20px 10px 15px 0;
	padding: 5px;
	border: 1px solid #CCC;
}
#main  #skin  h4 {
	margin: 0px;
	border-left: 4px solid #400000;
	padding: 0 0 0 10px;
	font-size: 12px;
	border-bottom: 1px dotted #CCC;
}
.pra_price     {
	margin: 0;
	padding: 0;
}
.pra_price li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.attention {
	font-weight: bold;
	color: #F33;
}
#recruit {
	width: 660px;
	float: left;
	padding: 15px 0 0 0;
	text-align: left;
}
#recruit h3 {
	margin: 20px 0 0 0;
	font-size: 15px;
	font-weight: bold;
}
#recruit h4{
	border-bottom: 1px dashed #CCC;
	margin: 20px 0 0 0;
}
#recruit ul{
	padding: 0;
	margin: 0 0 0 15px;
}
#recruit li {
	list-style: none;
}
#recruit .list0 {
	padding: 0;
	margin: 0 0 0 15px;
}
#recruit .list0 li {
	list-style: none;
	background-image: url(img/recruit_list.gif);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0 0 0 17px;
}
.p-center {
	margin: 0;
	padding: 15px 0;
	text-align: center;
}
.clear {
	margin: 0;
	padding: 0;
	clear: both;
}
.m-T15 {
	margin: 15px 0 0 0;
	padding: 0;
}
#main #skin .tbl_latisse {
	border-collapse: collapse;
}
#main #skin .tbl_latisse td{
	border: 1px solid #FFFFFF;
	padding: 3px 6px;
	background-color: #F8E4D4;
}
#main #skin .tbl_latisse02 {
	border-collapse: collapse;
	margin: 0 auto;
}
#main #skin .tbl_latisse02 td {
	border: 1px solid #CCC;
	padding: 3px 6px;
	font-size: 11px;
}
#main #skin .latisselist  {
	padding: 0;
	margin: 20px;
}
#main #skin .latisselist li{
	list-style: none;
}
.m-T30 {
	margin: 30px 0 0 0;
	padding: 0;
}
#main #skin .latisselist02 {
	padding: 0;
	margin: 20px 20px 20px 30px;
}
#main #skin .latisselist02 li {
}
.link_eee a    {
	color: #ffffff;
	margin: 0px;
	float: left;
}
