body {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 100%;
	background-repeat: repeat-x;
	background-image: url(pick_up/body3.gif);
	background-attachment: fixed;
	text-align: center;
	position: absolute;
	line-height: 150%;
}
img {
	border: 0px;
}
h3 {
}


#main {
	text-align: left;
	padding: 0px;
	height: auto;
	width: 830px;
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0%;
	margin-left: auto;
	margin: 0px auto;
	;
	border-left: 1px solid #400000;
	border-right-color: #F7F7F7;
	border-right-style: solid;
	border-left-style: none;
	;
}

a:visited {
	color: #400000;
}
#right_news {
	text-align: left;
	height: auto;
	padding-top: 20px;
	padding-left: 20px;
	color: #5D5D5D;
	margin-top: 0px;
	background-repeat: repeat-x;
	margin-left: 22px;
	margin-right: 20px;
	border: 1px ridge #B58F2F;
	padding-right: 20px;
	width: 530px;
	background-image: url(pick_up/news-bg.jpg);
	background-position: bottom;
	background-color: #FFFFFF;
}
#news-contents {
	text-align: left;
	height: auto;
	padding-top: 20px;
	padding-left: 20px;
	color: #5D5D5D;
	border: 1px solid;
	padding-right: 20px;
	width: auto;
	background-image: url(img/news-title_bg2.gif);
	background-color: #FFFFFF;
	margin-left: 16px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 15px;
	background-repeat: no-repeat;
	border-color: #D1B896;
}
p {
	border-bottom-color: #EEE8EB;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	padding-bottom: 10px;
	line-height: 120%;
}

#news
 {
	margin-top: 20px;
	background-image: url(img/news-title_bg.gif);
	height: 30px;
	width: auto;
	background-repeat: no-repeat;
	margin-left: 15px;
	margin-right: 15px;
	border-left: 1px solid #400000;
	border-right: 1px solid #400000;
	border-top: 1px solid #400000;
}
#pickup {
	width: 585px;
	margin-left: 15px;
	margin-right: 15px;
}
#box-pick {
	width: 585px;
	margin-left: 12px;
	margin-right: 0px;
	padding-left: 10px;
}


#kugiri2 {
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
}


#right_middle {
	text-align: left;
	margin-top: 0px;
	height: auto;
	background-repeat: no-repeat;
	margin-bottom: 15px;
}
#pick-up {
	text-align: center;
	height: auto;
}
.pick_up01 {
	text-align: left;
	height: auto;
	width: 500px;
	margin-top: 8px;
	margin-left: 30px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-right: 0px;
	font-size: 12px;
	color: #400000;
	float: left;
	padding-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #C4B8BB;
}
.pick-pic {
	width: 190px;
	height: 100px;
	float: left;
	margin-top: 0px;
}

.pick-text {
	width: 310px;
	float: right;
	margin-top: 0px;
}


#pick_up03 {
	height: 115px;
	margin-top: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	text-align: left;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	background-repeat: no-repeat;
	color: #804000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	width: 500px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #808040;
}
#pick_up02 {
	height: 115px;
	background-repeat: no-repeat;
	margin-top: 8px;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #804000;
	background-color: #FFFFFF;
	width: 500px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #808040;
}
#pick_up04 {
	height: 115px;
	margin-top: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	text-align: left;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	color: #804000;
	width: 500px;
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #808040;
}
#right_top {
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 614px;
}

#menu {
	padding: 0px;
	height: 32px;
	width: 830px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	text-align: center;
	float: left;
	padding-bottom: 0px;
	background-image: url(img/menu-bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-right: 0px;
}
#menu-home {
	float: left;
	height: 32px;
	width: 111px;
}

#img {
	width: 795px;
	margin-right: 20%;
	margin-left: 20%;
	background-position: left;
	background-repeat: repeat-y;
	height: auto;
}
a:link {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #400000;
}


#right {
	height: auto;
	width: 610px;
	margin-top: 2px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: right;
	background-color: #FFFFFF;
}
#banner03 {
	height: auto;
	width: auto;
	margin-top: 10px;
}
#mail-btn {
	height: 75px;
	width: 640px;
	margin-top: 40px;
	margin-bottom: 0px;
	float: right;
	margin-right: 0px;
}
#mail-space {
	height: 40px;
	width: auto;
	padding-left: 45px;
	padding-bottom: 8px;
	float: right;
	margin-top: 60px;
}
#contact {
	width: 360px;
	float: right;
	height: auto;
	margin-bottom: 0px;
	margin-top: 60px;
}

#tel-space {
	float: none;
	height: 55px;
	width: 270px;
	text-align: left;
	margin-top: 10px;
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 10px;
}

#left-qa {
	height: auto;
	margin-top: 10px;
	line-height: 200%;
	color: #FFFFFF;
}
.banner {
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#header {
	margin: 0px;
	height: 120px;
	width: 830px;
	padding-top: 0px;
	text-align: left;
	margin-left: 0px;
	background-image: url(img/headder.gif);
}
#img-title {
	height: 95px;
	width: 95px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
#logo {
	width: 100px;
	margin-left: 10px;
	margin-top: 20px;
	float: left;
}
#left {
	text-align: left;
	float: left;
	height: 1200px;
	width: 210px;
	margin-left: 0px;
	padding-top: 0px;
	background-image: url(img/left-bg2.jpg);
	background-repeat: repeat-y;
}
#left-ex {
	text-align: left;
	float: left;
	height: auto;
	width: 210px;
	background-image: url(img/left-bg.jpg);
	background-repeat: no-repeat;
}
#FLASH {
	height: 301px;
	width: 612px;
	margin-top: 10px;
}

#foot_map {
	width: 788px;
	height: auto;
	text-align: right;
	margin-right: 0px;
	float: left;
	padding-right: 20px;
	color: #400000;
	background-image: url(img/left-bg2.jpg);
	background-repeat: no-repeat;
	background-position: left;
}
#foot_tag {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #663300;
	text-align: right;
	height: 15px;
	width: 830px;
	float: left;
	padding-right: 0px;
}


#tagline {
	color: #FFFFFF;
	background-color: #4F0000;
	width: 830px;
	margin-left: 0px;
	height: auto;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 3px;
	text-align: center;
	padding-bottom: 3px;
	font-size: 10px;
}

#left_menu {
	padding: 0px;
	height: auto;
	width: 170px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#qa-main {
	margin-top: 5px;
	width: 170px;
	line-height: 180%;
	margin-left: 0px;
	padding-left: 10px;
	color: #FFFFFF;
}

#left_menu-sita {
	height: auto;
	width: auto;
	padding-top: 20px;
}
#catag {
	float: left;
	height: auto;
	width: 170px;
	margin-top: 5px;
	margin-left: 0px;
}
#tag {
	font-size: 12px;
	text-align: left;
	height: 10px;
	width: 612px;
	padding-top: 0px;
	margin-right: 0px;
	color: #400000;
	padding-left: 0px;
	padding-bottom: 0px;
	margin-bottom: 1px;
}
#banner02 {
	height: auto;
	margin-top: 10px;
}

#left-menu_shita {
	height: auto;
	width: auto;
	margin-top: 5px;
}

#left_nayami {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-align: left;
	width: auto;
	padding-left: 10px;
	padding-right: 15px;
}
#pick-main {
	font-size: 12px;
	color: #804000;
	text-align: left;
	padding-bottom: 0px;
}
#img #wrapper #tag #map {
	font-size: 12px;
	color: #222222;
}
#pickup-text {
	padding-top: 10px;
}
h2 {
	font-size: 12px;
	color: #400000;
}
h3 {
	font-size: 14px;
	margin-bottom: 5px;
	margin: 0px;
}


#pickup-title {
	padding: 5px;
}
#map {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	text-align: left;
	color: #232323;
}
#parts_title {
	margin-bottom: 10px;
}
#parts_main {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 14px;
	color: #494949;
	text-align: left;
}
#subtitle {
	padding-left: 0px;
	width: 560px;
	margin-left: 50px;
}
#sub-honbun {
	font-size: 12px;
	color: #4C4C4C;
	width: 520px;
	margin-left: 70px;
	margin-top: 10px;
	height: auto;
	margin-bottom: 10px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}
#subsub {
	width: 490px;
	margin-left: 70px;
	margin-top: 0px;
	padding-right: 50px;
	margin-bottom: 20px;
}
#qa {
	margin-left: 50px;
	margin-top: 10px;
	height: auto;
	font-size: 12px;
}
#main_care {
	height: auto;
	width: auto;
}
#main_honbun {
	text-align: left;
	padding-top: 5px;
	padding-left: 70px;
	padding-right: 60px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	color: #555555;
	background-repeat: no-repeat;
	height: 780px;
	background-position: top;
}
#contents-title {
	font-size: 12px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	text-align: center;
}
#clinic_main {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
	color: #555555;
	margin-bottom: 10px;
}
#clinic-honbun {
	color: #4C4C4C;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	height: auto;
	margin-bottom: 10px;
	margin-left: 70px;
	margin-top: 0px;
	width: 520px;
	text-align: left;
}
#honbun {
	height: auto;
	margin-top: 5px;
	padding-top: 10px;
	text-align: left;
	padding-left: 40px;
	padding-right: 20px;
	padding-bottom: 10px;
	color: #555555;
	font-size: 12px;
}
#mainmenu {
	height: 700px;
	width: auto;
}
#honbun {
	height: auto;
	margin-top: 5px;
	padding-top: 10px;
	text-align: left;
	padding-left: 40px;
	padding-right: 20px;
	padding-bottom: 10px;
	color: #555555;
	font-size: 12px;
}
#menu-syashin {
	text-align: left;
	padding-top: 10px;
	padding-left: 20px;
}
#price_main {
	height: auto;
	width: auto;
	padding-top: 20px;
	padding-right: 35px;
	padding-left: 55px;
	text-align: left;
	float: right;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	color: #555555;
}
td {
	font-size: 12px;
	color: #555555;
}

#privacy_honbun {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	padding-left: 50px;
	padding-right: 40px;
	padding-top: 5px;
	text-align: left;
	color: #555555;
	background-position: center;
	background-repeat: no-repeat;
	height: auto;
}
#qa-honbun {
	text-align: left;
	margin-left: 30px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
}
#qa-text {
	width: 550px;
	height: 60px;
	text-align: left;
}
#qa-bust_main {
	height: auto;
	width: auto;
	padding-left: 50px;
	text-align: left;
	padding-right: 50px;
	padding-top: 30px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	color: #575757;
}
#body-title {
	text-align: left;
}
#qa-face_main {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	color: #535353;
	text-align: left;
	padding-top: 0px;
	padding-right: 50px;
	padding-left: 50px;
}
#qa-face_title {
}
#sitemap-main {
	text-align: left;
	padding-top: 0px;
	padding-left: 50px;
	font-size: 12px;
}
#main {
	text-align: center;
}
#honbun {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	color: #555555;
	text-align: left;
	width: auto;
	padding-top: 15px;
	padding-right: 60px;
	padding-left: 130px;
}
#image1 {
	height: auto;
	width: 520px;
	margin-left: 70px;
	margin-bottom: 30px;
}
#image2 {
	margin-left: 70px;
	height: auto;
	width: 520px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#image3 {
	height: auto;
	margin-top: 30px;
	width: 520px;
	margin-left: 70px;
}
#right .bnr {
	width: 585px;
	margin: 15px 0 0 15px;
	text-align: left;
}
#right .bnr img {
	margin: 0 3px 0 0;
}
