body {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 100%;
	text-align: center;
	line-height: 150%;
	background-image: url(img/bg02.gif);
	float: left;
	color: #400000;
	background-color: #fcf9f4;
	background-position: center top;
	background-repeat: repeat-y;
}
img {
	border: 0px;
	vertical-align: bottom;
}

h2 {
	margin: 0px;
}

h3 {
	margin: 0px;
}
a:link {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #400000;
}




a:visited {
	color: #400000;
}


#main {
	text-align: left;
	width: 910px;
	margin-top: 0px;
	margin: 0px auto;
	;
	;
	background-image: url(img/main-bg.gif);
	padding: 0 10px 0 10px;
}

#header {
}
#header h1 {
	margin: 0;
	font-size: 10px;
	font-weight: normal;
	line-height: 120%;
	color: #FF6666;
	float: left;
	padding: 0;
}
#header ul{
	height: 91px;
	width: 910px;
	margin: 0;
	padding: 0;
}
#header ul li{
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0px;
}
#header ul li a{
	line-height: 0;
}

#nav {
	width: 910px;
	float: left;
	border-top-color: #F3E9E9;
}
#nav ul {
	width: 910px;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#nav li {
	margin: 0px;
	padding: 0px;
	float: left;
	list-style: none;
}
#left {
	text-align: left;
	float: left;
	width: 210px;
	margin-left: 0px;
	padding: 10px 0 10px 15px;
	margin-right: 10px;
}
#left img {
	text-align: center;
	margin: 0 0 10px 0;
}
#left ul {
	margin: 0 0 10px 0;
	padding: 0px;
	list-style: none;
}
#left li {
	margin: 5px 0 0px 0;
	padding: 0px;
	list-style: none;
}


#right {
	width: 660px;
	float: left;
	padding: 10px 0 0 0;
}
#flash {
	height: 300px;
	width: 660px;
	margin-top: 10px;
}
#right .bnr {
	margin: 0;
	width: 660px;
}
#right .bnr img {
	float: left;

}
#right .bnr .bnr-c {
	margin: 0 0 0 12px;
}

#right .bnr .bnr-r {
	float: right;
}



#news {
	text-align: left;
	color: #440000;
	margin: 25px 0 25px 0;
	background-image: url(img/news-bg.gif);
	width: 660px;
	padding: 0px;
	background-repeat: repeat-x;
}
#news dl {
	margin: 15px 0 0 0;
	padding: 0px 0 0 10px;
	width: 650px;
}
#news dt {
	float: left;
	padding: 5px;
	margin-right: 10px;
}
#news dd {
	padding: 5px 5px 5px 40px;
}
#media {
	margin: 10px 0 20px 0;
	padding: 10px;
	border: 1px solid #400000;
}
#media .ul-photo {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#media .ul-photo li {
	float: left;
	margin: 0 11px 0 0;
}
#media .ul-photo .li-r {
	margin: 0px;
}








#pickup {
	width: 660px;
	margin: 0px;
}
#pickup .pick-lb {
	width: 325px;
	float: left;
	margin: 20px 0 0 0;
}
#pickup .pick-rb {
	width: 325px;
	float: right;
	margin: 20px 0 0 0;
}

#pickup .pick-lb .list {
	float: left;
	margin: 0 0 20px 0;
}



#pickup .pick-lb img {
	clear: both;
	float: left;
}

#pickup .pick-lb h3 {
	margin: 0 0 5px 0;
	width: 240px;
	float: right;
}

#pickup .pick-lb p {
	line-height: 150%;
	margin: 0px;
	width: 235px;
	float: right;
	padding: 0 0 0 5px;
}

#pickup .pick-rb .list {
	float: left;
	margin: 0 0 20px 0;
}



#pickup .pick-rb img {
	float: left;
	clear: both;
}

#pickup .pick-rb h3 {
	margin: 0 0 5px 0;
	width: 240px;
	float: right;
}

#pickup .pick-rb p {
	line-height: 150%;
	margin: 0px;
	width: 235px;
	float: right;
	padding: 0 0 0 5px;
}
#right #pickup #menu .other {
	margin: 0px;
}

#pickup #menu .link_w {
	color: #eeeeee;
	margin: 0px;
	float: left;
}
#pickup #menu .link_w a {
	color: #FFFFFF;
}


#foot {
	width: 100%;
	float: left;
	background-image: url(img/foot-bg.gif);
	background-position: center;
	background-repeat: no-repeat;
}
/*　メニューページ */

#menu {
	width: 660px;
	float: left;
	padding: 25px 0 0 0;
	text-align: left;
}
#menu h3 {
	margin: 0px;
	margin-top: 35px;
}
#menu .middle {
	background-image: url(img/menu-middle.gif);
	height: auto;
}
#menu .middle .list-l {
	width: 209px;
	border-right: dotted 1px #D2C9BF;
	float: left;
	padding: 15px 0 0 10px;
}
#menu .middle .list-l ul {
	margin: 0 0 10px 10px;
	padding: 0 0 0 15px;
}

#menu .middle .list-c {
	width: 209px;
	height: auto;
	border-right: dotted 1px #D2C9BF;
	padding-left: 10px;
	margin-left: 220px;
	padding: 15px 0 0 10px;
}
#menu .middle .list-c ul {
	margin: 0 0 15px 10px;
	padding: 0 0 0 15px;
}

#menu .middle .list-r {
	width: 209px;
	height: auto;
	border-right: dotted 1px #D2C9BF;
	float: right;
	padding: 15px 0 0 10px;
}
#menu .middle .list-r ul {
	margin: 0 0 15px 10px;
	padding: 0 0 0 15px;
}





/* クリアフィックス*/

.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}
#main #left .link_eee a {
	color: #FFFFFF;
}
