

<!--
<link rel="stylesheet" type="text/css" href="csss/style.css" media="screen,print">
<link rel="stylesheet" type="text/css" href="csss/style_sp.css" media="screen,print">
<link rel="stylesheet" type="text/css" href="csss/jquery.bxslider.css" media="screen,print"/>
<link rel="stylesheet" type="text/css" href="csss/lightbox.css" media="screen,print"/>
-->

<!--CSS File-->
<!--
<link rel="stylesheet" href="csss/reset.css" media="screen,print">
<link rel="stylesheet" href="csss/common.css" media="screen,print">
-->
<link rel="stylesheet" type="text/css" href="../tabs/csss/style_tab.css" media="screen,print">
<link rel="stylesheet" type="text/css" href="../tabs/csss/style_tab_sp.css" media="screen,print">
<link rel="stylesheet" type="text/css" href="../tabs/csss/style.css" media="screen,print">
<link rel="stylesheet" type="text/css" href="../tabs/csss/style_sp.css" media="screen,print">

<!--JS File-->

<script src="../tabs/jss/tab.js"></script>
<!--
<script src="jss/jquery-1.11.3.min.js"></script>
<script src="jss/jquery.bxslider.min.js"></script>
<script src="jss/lightbox.js"></script>
-->



<script>
  $(document).ready(function(){
    $('.bxslider').bxSlider({
      auto: true,
      pause: 5000,
      speed: 1000,
      pager: false,
      displaySlideQty: 2,
      moveSlideQty: 1,
    });
  });
  </script>

<a name="access_box" id="access_box"></a>
<div align="center"><img src="../tabs/images/ttl01.gif" class="pconly" alt="表参道スキンクリニックグループクリニック情報"><img src="../tabs/images/ttl01sp.gif" class="sponly" alt="表参道スキンクリニックグループクリニック情報"></div>

<div id="tab01">
    <!--
	<ul class="tabMenu cf pconly">
        <li><a href="#tabBox1" class="nopscr"><img src="../tabs/images/PCtab01_ins.gif" alt="表参道"></a></li>
        <li><a href="#tabBox2" class="nopscr"><img src="../tabs/images/PCtab02_offs.gif" alt="福岡"></a></li>
        <*!--<li><a href="#tabBox3" class="nopscr"><img src="../tabs/images/tab03_offs.gif" alt="沖縄"></a></li>
        <li><a href="#tabBox4" class="nopscr"><img src="../tabs/images/tab04_offs.gif" alt="大阪"></a></li>
        <li><a href="#tabBox5" class="nopscr"><img src="../tabs/images/tab05_offs.gif" alt="名古屋"></a></li>
        <li><a href="#tabBox6" class="nopscr"><img src="../tabs/images/tab06_offs.gif" alt="銀座"></a></li>--*>
    </ul>
   <ul class="tabMenu cf sponly">
        <li><a href="#tabBox1" class="nopscr"><img src="../tabs/images/tab01_ins.gif" alt="表参道"></a></li>
        <li><a href="#tabBox2" class="nopscr"><img src="../tabs/images/tab02_offs.gif" alt="福岡"></a></li>
        <*!--<li><a href="#tabBox3" class="nopscr"><img src="../tabs/images/tab03_offs.gif" alt="沖縄"></a></li>
        <li><a href="#tabBox4" class="nopscr"><img src="../tabs/images/tab04_offs.gif" alt="大阪"></a></li>
        <li><a href="#tabBox5" class="nopscr"><img src="../tabs/images/tab05_offs.gif" alt="名古屋"></a></li>
        <li><a href="#tabBox6" class="nopscr"><img src="../tabs/images/tab06_offs.gif" alt="銀座"></a></li>--*>
    </ul>
	-->
	<div class="tabBoxes">
       <!--------------------------------------------------表参道-------------------------------------------------->
        <div id="tabBox1">
	<div class="ttl01">表参道院のご案内</div>
 	<div id="" class="box">
    <article class="block09 cf" style="background:none;padding:0;">
      <div class="sp_none">
        <ul class="bxslider cf">
          <li><a href="../tabs/images_omote/slider02_big.jpg" rel="lightbox" class="nopscr"><img src="../tabs/images_omote/slider01_sp.jpg" width="100%" alt="受付"></a></li>
          <li><a href="../tabs/images_omote/slider03_big.jpg" rel="lightbox" class="nopscr"><img src="../tabs/images_omote/slider02_sp.jpg" width="100%" alt="待合室"></a></li>
          <li><a href="../tabs/images_omote/slider04_big.jpg" rel="lightbox" class="nopscr"><img src="../tabs/images_omote/slider03_sp.jpg" width="100%" alt="カウンセリングルーム"></a></li>
          <li><a href="../tabs/images_omote/slider05_big.jpg" rel="lightbox" class="nopscr"><img src="../tabs/images_omote/slider04_sp.jpg" width="100%" alt="診察室"></a></li>
          <li><a href="../tabs/images_omote/slider06_big.jpg" rel="lightbox" class="nopscr"><img src="../tabs/images_omote/slider05_sp.jpg" width="100%" alt="診察室"></a></li>
          <li><a href="../tabs/images_omote/slider01_big.jpg" rel="lightbox" class="nopscr"><img src="../tabs/images_omote/slider06_sp.jpg" width="100%" alt="施術室"></a></li>
        </ul>
      </div>
      <div class="pc_none">
        <ul class="bxslider cf">
          <li><img src="../tabs/images_omote/slider01_sp.jpg" width="100%" alt="受付"></li>
          <li><img src="../tabs/images_omote/slider02_sp.jpg" width="100%" alt="待合室"></li>
          <li><img src="../tabs/images_omote/slider03_sp.jpg" width="100%" alt="カウンセリングルーム"></li>
          <li><img src="../tabs/images_omote/slider04_sp.jpg" width="100%" alt="診察室"></li>
          <li><img src="../tabs/images_omote/slider05_sp.jpg" width="100%" alt="診察室"></li>
          <li><img src="../tabs/images_omote/slider06_sp.jpg" width="100%" alt="施術室"></li>
        </ul>
      </div>
    </article>
  </div>


  <div id="" class="box">
    <article class="block111 cf" style="background:none;">
      <div class="ttl01">ドクター紹介</div>
      <p class="text">当クリニックの医師たちは、お客様に安全に美しくなって頂く為に、日々最高水準の技術を日々研究しております。そんな医師たちを御紹介させていただきます。</p>
      <img src="../tabs/images_omote/pic08_wy.jpg" width="154" height="auto" alt="" class="left">
      <div class="cf sp_right">
        <h3>経歴<span>CAREER</span></h3>
        <dl class="cf">
          <dt>平成10年3月</dt>
          <dd>藤田保健衛生大学 医学部医学研究所科 卒業</dd>
        </dl>
        <dl class="cf">
          <dt>平成11年9月</dt>
          <dd>医療法人大医会 日進おりど病院 勤務</dd>
        </dl>
        <dl class="cf">
          <dt>平成14年3月</dt>
          <dd>医療法人大医会 日進おりど病院 退職</dd>
        </dl>
        <dl class="cf">
          <dt>平成14年4月</dt>
          <dd>東京女子医科大学病院 皮膚科 勤務</dd>
        </dl>
        <dl class="cf">
          <dt>平成16年3月</dt>
          <dd>東京女子医科大学病院 皮膚科 退職</dd>
        </dl>
        <dl class="cf">
          <dt>平成16年9月</dt>
          <dd>東京美容外科 開設 勤務</dd>
        </dl>
        <dl class="cf">
          <dt>平成24年9月</dt>
          <dd>表参道スキンクリニック　開設</dd>
        </dl>
      </div>
      <div class="cf sp_clear">
        <h3>所属学会など<span>A BELONGING ACADEMIC MEETING</span></h3>
        <ul class="cf">
          <li>・日本皮膚科学会正会員</li>
          <li>・レーザー医学会認定医</li>
          <li>・日本抗加齢学会会員</li>
          <li>・美容外科学会会員</li>
        </ul>
      </div>
      <h3 class="clear">松木先生から一言<span>FROM DR.MATSUKI WORD</span></h3>
      <p class="bottom_text" style="margin-bottom:50px;">かつては、大がかりな美容整形手術など、ハイリスクなイメージがあった美容医療の世界。しかし近年では、手軽にトライできる治療も増え、とても身近な存在になりました。当クリニックでは、美容皮膚科医が、患者様の希望や理想を大切にしながら、最新の美容医療を提供いたします。</p>





      <img src="../tabs/images_omote/pic10_wy.jpg" width="154" height="auto" alt="" class="left">
      <div class="cf sp_right">
        <h3>経歴<span>CAREER</span></h3>
        <dl class="cf">
          <dt>平成14年</dt>
          <dd>弘前大学医学部 卒業</dd>
        </dl>
        <dl class="cf">
          <dt>平成14年</dt>
          <dd>都立大久保病院 勤務</dd>
        </dl>
        <dl class="cf">
          <dt>平成15年</dt>
          <dd>都立墨東病院救命センター 勤務</dd>
        </dl>
        <dl class="cf">
          <dt>平成16年</dt>
          <dd>品川美容外科 入職</dd>
        </dl>
        <dl class="cf">
          <dt>平成22年</dt>
          <dd>品川美容外科 心斎橋院 院長</dd>
        </dl>
        <dl class="cf">
          <dt>平成25年</dt>
          <dd>品川美容外科 新宿アイランドタワー 院長</dd>
        </dl>
        <dl class="cf">
          <dt>平成26年</dt>
          <dd>品川美容外科 池袋院 院長</dd>
        </dl>
        <dl class="cf">
          <dt>平成26年</dt>
          <dd>	品川美容外科 本院院長</dd>
        </dl>
        <dl class="cf">
          <dt>平成28年</dt>
          <dd>表参道スキンクリニック 顧問</dd>
        </dl>
      </div>
      <div class="cf sp_clear">
        <h3>所属学会など<span>A BELONGING ACADEMIC MEETING</span></h3>
        <ul class="cf">
          <li>・日本美容外科学会会員</li>
          <li>・日本レーザー医学会会員</li>
          <li>・日本抗加齢学会会員</li>
          <li>・日本抗加齢医学会会員</li>
        </ul>
      </div>
      <h3 class="clear">嶽崎先生から一言<span>FROM DR.TOMORI WORD</span></h3>
      <p class="bottom_text">2017年7月に東京の銀座に新しく美容外科・美容皮膚科クリニックを開院することになりました。 今まで来てくださった患者様、そしてこれから新しくご来院いただく患者様に心からご満足頂ける様なクリニックにしていきたいと思います。 よろしくお願いします。</p>









      <div class="doctor2">
        <img src="../tabs/images_omote/pic09.jpg" width="154" height="203" alt="" class="left">
        <div class="cf sp_right">
          <h3>経歴<span>CAREER</span></h3>
          <p>
            東京女子医科大学卒業。<br>
            同大学病院の内科勤務を経て皮膚科へ転科。<br>
            現在、都内2か所のクリニックに勤務の傍ら、医師という立場から美容と健康を医療として追求し、美しく生きる為の啓蒙活動を雑誌・TV などで展開中。
          </p>
          <p>
            2004年第36回準ミス日本という経歴をもつ、美貌の新進医師。<br>
            美と健康に関する著書も多数あり、近著に『女性のキレイと健康をつくる 美肌タイミングジュース』（保健同人社より2011年6月10日発刊）がある。
          </p>
        </div>
        <div class="cf sp_clear">
          <h3>所属学会など<span>A BELONGING ACADEMIC MEETING</span></h3>
          <ul class="cf">
            <li>・日本内科学会会員</li>
            <li>・日本糖尿病学会会員</li>
            <li>・日本皮膚科学会会員</li>
            <li>・抗加齢学会会員</li>
          </ul>
        </div>
        <h3 class="clear">友利先生から一言<span>FROM DR.TOMORI WORD</span></h3>
        <p class="bottom_text">女性が綺麗になりたいという思いは変わらないものです。そんな願いを手軽に、そして確実に医療の技術で叶えたい。そう思いながら日々の診療をさせてもらっています。 一人でも多くの女性の笑顔に自信を持っていただけるように、皆さんの美の主治医としていろいろな悩みにお応えしていきます。</p>
      </div>
    </article>

  </div>

  <div id="" class="box">
    <article class="block122 cf">
      <div class="ttl01">表参道院アクセス</div>
      <div class="company">

        <table>
        	<tbody>
        		<tr>
        			<th>表参道スキンクリニック</th>
        			<td>〒150- 0001<br>
      東京都渋谷区神宮前5-9-13喜多重ビル4階<br>
      Tel ：0120-334-270</td>

        		</tr>

        	</tbody>
        </table>


      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.39689876405!2d139.707413!3d35.667228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca3e16206fd%3A0x92146d294d00108b!2z6KGo5Y-C6YGT44K544Kt44Oz44Kv44Oq44OL44OD44Kv!5e0!3m2!1sja!2sjp!4v1433309200061" width="1200" height="350" frameborder="0" style="border:0"></iframe>
      <div class="cf">
        <h3><img src="../tabs/images_omote/tit_img01.gif" width="373" height="46" alt="電車でお越しの方"></h3>
        <ul>
          <li class="no01">JR山手線「原宿駅」表参道口より徒歩約5分</li>
          <li class="no02">東京メトロ各線「表参道駅」A1出口より徒歩約3分</li>
          <li class="no03">東京メトロ各線「明治神宮前駅」4番出口より徒歩約3分</li>
        </ul>
      </div>
      <div class="cf center">
        <h3><img src="../tabs/images_omote/tit_img02.gif" width="373" height="46" alt="お車でお越しの方"></h3>
        <p>当クリニック専用の駐車はございません。</p>
        <p>お近くの有料駐車場のご利用をお願いいたします。</p>
      </div>
      <div class="cf">
        <h3><img src="../tabs/images_omote/tit_img03.gif" width="373" height="46" alt="治療時間・休診日"></h3>
        <dl class="dl01">
          <dt>診療時間</dt>
          <dd>AM11:00～PM8:00(完全予約制)</dd>
        </dl>
        <dl class="dl02">
          <dt>休診日</dt>
          <dd>水曜日</dd>
        </dl>
      </div>
    </article>


    <article class="block122 cf">
      <div class="ttl01">銀座院アクセス</div>
      <div class="company">

        <table>
          <tbody>
            <tr>
              <th>
銀座TAクリニック</th>
              <td>〒104-0061<br>
      東京都中央区銀座二丁目3番1号 Ray Ginza 5階<br>
      Tel ：0120-229-239</td>

            </tr>

          </tbody>
        </table>


      </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.090159469407!2d139.7640812156008!3d35.67478193793247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188be4f435b319%3A0x91b964a4b0b7ee8a!2z44CSMTA0LTAwNjEg5p2x5Lqs6YO95Lit5aSu5Yy66YqA5bqn77yS5LiB55uu77yT4oiS77yR!5e0!3m2!1sja!2sjp!4v1499321411395" width="1200" height="350" frameborder="0" style="border:0"></iframe>
      <div class="cf">
        <h3><img src="../tabs/images_omote/tit_img01.gif" width="373" height="46" alt="電車でお越しの方"></h3>
        <ul>
          <li class="no01">JR「有楽町」駅京橋口より徒歩4分</li>
          <li class="no02">地下鉄有楽町線「銀座一丁目」駅3番出口より徒歩1分</li>
          <li class="no03">地下鉄銀座線・日比谷線・丸ノ内線「銀座」駅
C8番出口より徒歩4分</li>
        </ul>
      </div>
      <div class="cf center">
        <h3><img src="../tabs/images_omote/tit_img02.gif" width="373" height="46" alt="お車でお越しの方"></h3>
        <p>当クリニック専用の駐車はございません。</p>
        <p>お近くの有料駐車場のご利用をお願いいたします。</p>
      </div>
      <div class="cf">
        <h3><img src="../tabs/images_omote/tit_img03.gif" width="373" height="46" alt="治療時間・休診日"></h3>
        <dl class="dl01">
          <dt>診療時間</dt>
          <dd>AM10:00～PM7:00(完全予約制)</dd>
        </dl>
        <dl class="dl02">
          <dt>休診日</dt>
          <dd>火曜日</dd>
        </dl>
      </div>
    </article>

  </div>

    <!-- <div class="btn_box cf">
      <dl class="cf">
        <dt><img src="../tabs/images_omote/tel01.gif" width="310" height="68" alt="0120-334-270 受付時間11:00～20:00・日祝10:30～18:00/水曜休診" class="sp_none"><a href="tel:0120334270" onclick="javascript:goog_report_conversion('tel:0120-334-270');yahoo_report_conversion(undefined);ga('send','event','sp','tel-tap','tel');return false;" class="pc_none"><img src="../tabs/images_omote/tel01_sp.gif" width="258" height="60" alt="0120-334-270 受付時間11:00～20:00・日祝10:30～18:00/水曜休診"></a></dt>
        <dd><a href="#section15"><img src="../tabs/images_omote/btn01_off.gif" width="320" height="60" alt="無料カウンセリング予約"></a></dd>
      </dl>
    </div> -->

        </div>
       <!--------------------------------------------------表参道-------------------------------------------------->







		<!--------------------------------------------------沖縄-------------------------------------------------->
        <div id="tabBox3">
3333
        </div>
		<!--------------------------------------------------沖縄-------------------------------------------------->



		<!--------------------------------------------------大阪-------------------------------------------------->
        <div id="tabBox4">
4444
        </div>
		<!--------------------------------------------------大阪-------------------------------------------------->




		<!--------------------------------------------------名古屋-------------------------------------------------->
        <div id="tabBox5">
5555
        </div>
		<!--------------------------------------------------名古屋-------------------------------------------------->


		<!--------------------------------------------------銀座-------------------------------------------------->
        <div id="tabBox6">
6666
        </div>
		<!--------------------------------------------------銀座-------------------------------------------------->









    </div>
</div>
