@charset "UTF-8";

body{
	font-size:13px;
	line-height:30px;
	color:#000000;
	padding:0 0 60px 0;
	margin:0;
	border-bottom:5px solid #363739;
}

.block09 .sp_none ul li{
	width:596px !important;
	border-left: dotted 1px #7c7c7c;
	padding-left:1px;
	margin-left:1px;
}
/* common 
--------------------------------------------------------------- */

.wrapper{
	width:1200px;
	margin:0 auto;
	padding:0;
	overflow:hidden;
}
.inner{
	width:970px;
	margin:0 auto;
}

#page-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
#page-top a:hover {
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}


/* conversion 
--------------------------------------------------------------- */

.conversion{
	width:853px;
	padding:125px 0 105px 347px;
	margin:0 auto;
}
.conversion .tel{
	float:left;
	width:480px;
}
.conversion .btn{
	width:309px;
	float:right;
	margin:0px 0 0 0;
}
.conversion02{
	width:853px;
	padding:125px 0 105px 347px;
	margin:0 auto;
}
.conversion02 .tel{
	float:left;
	width:480px;
}
.conversion02 .btn{
	width:309px;
	float:right;
	margin:0px 0 0 0;
}
.conversion03{
	width:853px;
	padding:125px 0 105px 347px;
	margin:0 auto;
}
.conversion03 .tel{
	float:left;
	width:480px;
}
.conversion03 .btn{
	width:309px;
	float:right;
	margin:0px 0 0 0;
}


/* header 
--------------------------------------------------------------- */

#header_bg{
	background:url(../images/botox_header_bg02.gif) center top repeat-y;
	margin:0 0 1px 0;
}
#header{
	width:1200px;
	height:71px;
	margin:0 auto;
	background:url(../images/botox_header_bg01.gif) left top repeat-y;
}
#header .logo{
	float:left;
	width:251px;
	padding:13px 0 0 25px;
}
#header .header_right{
	width:719px;
	float:right;
}
#header .header_right .tel{
	width:208px;
	float:left;
	padding:13px 0 0 0;
}
#header .header_right .btn{
	width:249px;
	float:right;
	padding:13px 0 0 0;
}
#header .header_right .btn02{
	width:66px;
	float:right;
	padding:13px 0 0 0;
	text-align:right;
	margin:0 0 0 10px;
}


/* main 
--------------------------------------------------------------- */

#main{
	width:1200px;
	margin:85px auto 0;
	height:500px;
	background:url(../images/botox_mainvisual.jpg) right top no-repeat;
}
#main h1{
	padding:148px 0 0 9px;
	margin:0;
}



/* contents01 
--------------------------------------------------------------- */

#title01{
	margin:109px 0 92px 0;
}

.contents01_box{
	background:#f2f2f2;
}
.contents01_bg01{
	background:url(../images/botox_contents01_bg01.jpg) center top no-repeat;
	height:620px;
}
.contents01_bg01 .text{
	margin:0 auto;
	width:1200px;
	padding:390px 0 0 0;
}
.contents01_box p{
	padding:0 0 18px 0;
}
.contents01_bg02{
	background:url(../images/botox_contents01_bg02.jpg) center top no-repeat;
	height:444px;
	margin:90px 0 0 0;
}
.contents01_bg02 .text_inner{
	width:618px;
	padding:50px 0 0 582px;
}
.contents01_bg02 .textbox{
	border-left:2px solid #393939;
	padding:4px 0 0 0;
	margin:20px 0 0 0;
}
.contents01_bg02 .textbox .inner{
	padding:0 0 0 23px;
}
.contents01_bg02 .textbox .inner ul{
	width:400px;
	margin:15px 0 0 0;
}
.contents01_bg02 .textbox .inner ul li{
	width:200px;
	float:left;
	line-height:24px;
}



/* contents02
--------------------------------------------------------------- */

#title02{
	margin:0  0 60px 0;
}
#subtitle01{
	margin:80px 0 32px 0;
}
#subtitle02{
	margin:140px 0 90px 0;
}

.contents02_box{
	width:660px;
	float:left;
}
.contents02_box p{
	padding:25px 0 0 0;
}

.contenst02_itemimage{
	float:right;
	width:px;
	padding:37px 0 0 0;
}

.contents02_detail{
	float:left;
	width:395px;
}
.contents02_detail table{
	padding:0;
	margin:4px 0 0 0;
	width:100%;
}
.contents02_detail table th{
	background:#545454;
	color:#fff;
	font-size:13px;
	vertical-align:middle;
	text-align:center;
	border-top:2px solid #fff;
	border-right:2px solid #fff;
	width:113px;
}
.contents02_detail table td{
	background:#f0f0f0;
	color:#fff;
	font-size:13px;
	vertical-align:middle;
	text-align:left;
	border-top:2px solid #fff;
	padding:0 13px;
	color:#363230;
	font-size:13px;
	line-height:22px;
}
.contents02_detail table td ul{
	margin:0;
	padding:0;
}
.contents02_detail table td ul li{
	background:url(../images/botox_contents02_icon.gif) left 8px no-repeat;
	padding:2px 0 2px 15px;
	margin:0;
	line-height:20px;
}
.contents02_detail table .box01{
	height:116px;
}
.contents02_detail table .box02{
	height:43px;
}

.contenst02_detailitem_inner{
	background:#f7f7f7;
	float:right;
	width:798px;
	height:390px;
}
.contenst02_detailitem_inner .contenst02_detailitem{
	width:719px;
	margin:0 auto;
	padding:36px 0 0 0;
}
.contenst02_detailitem_inner .contenst02_detailitem p{
	padding:15px 0 0 0;
}

.contents02_beforeafter{
	margin:0;
	padding:0;
}
.contents02_beforeafter li{
	float:left;
}
.contents02_beforeafter li h4{
	padding:0 0 30px 0;
}
.contents02_beforeafter li.w583{
	width:583px;
	padding:0 35px 40px 0;
}
.contents02_beforeafter li.w274{
	width:274px;
	padding:0 35px 40px 0;
}
.contents02_beforeafter li.w273{
	width:273px;
	padding:0 0 40px 0;
}




/* contents03
--------------------------------------------------------------- */

#contents03_icon{
	margin:0 0 55px 0;
}

.contents03_box{
}
.contents03_box li{
	float:left;
}
.contents03_box li.left{
	width:399px;
	padding:0 2px 40px 0;
}
.contents03_box li.center{
	width:399px;
	padding:0 2px 40px 0;
}
.contents03_box li.right{
	width:398px;
	padding:0 0 40px 0;
}
.contents03_box li.left_bottom{
	width:399px;
	padding:0 2px 0 0;
}
.contents03_box li.center_bottom{
	width:399px;
	padding:0 2px 0 0;
}
.contents03_box li.right_bottom{
	width:398px;
}
.contents03_box li h3{
	padding:0 0 25px 0;
}
.contents03_box li h4{
	padding:25px 0 0 0;
}
.contents03_box li p{
	line-height:22px;
	padding:10px 0 0 0;
	width:375px;
}




/* contents04
--------------------------------------------------------------- */

.title04{
	margin:120px 0 60px 0;
}

.price_list li{
	float:left;
	padding-bottom:50px;
}
.price_list li .menu{
	padding-bottom:27px;
}




/* contents05
--------------------------------------------------------------- */

#title05{
	margin:110px 0 95px 0;
}

.content05_detail{
}
.content05_detail li{
	float:left;
}
.content05_detail li h3{
	padding:26px 0 20px 0;
}
.content05_detail li p{
	width:362px;
	padding:0 0 15px 10px;
	line-height:25px;
}
.content05_detail li.w397{
	width:397px;
	padding:0 2px 0 0;
}
.content05_detail li.w399{
	width:399px;
	padding:0 2px 0 0;
}
.content05_detail li.w400{
	width:400px;
	padding:0;
}




/* contents06
--------------------------------------------------------------- */

#title06{
	margin:0 auto 95px;
	width:1200px;
}

.contents06_box{
	width:1200px;
	margin:0 auto;
}
.contents06_box li{
	float:left;
	width:570px;
}
.contents06_box li.left_box{
	padding:0 60px 0 0;
}
.contents06_box li .detail_left{
	float:left;
	width:340px;
}
.contents06_box li .detail_left p{
	padding:16px 0 0 0;
	line-height:26px;
}
.contents06_box li .detail_left .contact{
	border-left:2px solid #6c6e6f;
	margin:25px 0 0 0;
}
.contents06_box li .detail_left .contact .inner{
	width:314px;
	padding:0 0 0 20px;
}
.contents06_box li .detail_left .contact .inner .btn{
	padding:12px 0 0 0;
}
.contents06_box li .detail_left02{
	float:left;
	width:199px;
}
.contents06_box li .detail_right{
	float:right;
	width:199px;
}
.contents06_box li .detail_right02{
	float:right;
	width:340px;
}
.contents06_box li .detail_right02 p{
	padding:16px 0 0 0;
	line-height:26px;
}
.contents06_bg{
	margin:34px 0;
	padding:30px 0;
	background:#f7f7f7;
}




/* contents07
--------------------------------------------------------------- */

#title07{
	margin:0 0 90px 0;
}

.contents07_bg{
	background:#f2f2f2;
}
.contents07_text{
	margin:42px 0 0 0;
}

@media screen and (min-width: 768px) {
/* 前へ、次へのボタン */
 
.bx-prev{
    position: absolute;
    left:1px;
    top: 0;
	background:url(../images/left_arrow.png);
	height:361px;
	width:32px;
	display:block;
	text-indent:-9999px;
}
.bx-next{
    right:1px;
    top: 0;
    position: absolute;
	background:url(../images/right_arrow.png);
	height:361px;
	width:32px;
	display:block;
	text-indent:-9999px;
}

/* 基本 */

.bg_img{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
	position:relative;
}
.bg_img .bx-wrapper{
    height: 361px;
}
.bx-window{
    margin-bottom: 10px;
}
#slider li a{
} 
.slider{
    width: 100%;
    margin: 0px auto;
} 
/* カルーセルスライダー */
 
.bg_img .bx-wrapper{
    width: inherit;
}
#slider li{
    width: 400px !important;
    text-align: left;
}
}



/* contents08
--------------------------------------------------------------- */

#title08{
	margin: 0 auto 58px;
	width: 1200px;
}
.contents08_bg{
	background:url(../images/botox_contents08_bg01.gif) center top no-repeat;
	height:1208px;
}
.contents08_bg ul li{
	float:left;
	width:570px;
}
.contents08_bg .contents08_left{
	padding:0 60px 0 0;
}
.contents08_bg h3{
	padding:30px 0 20px 0;
}
.contents08_bg p{
	line-height:26px;
}
.contents08_bg .box01{
	height:254px;
}
.contents08_bg .box02{
	height:314px;
}
.contents08_bg .box03{
	height:257px;
}
.contents08_bg .box04{
	height:201px;
}




/* contents09
--------------------------------------------------------------- */

#title09{
	margin:0 0 60px 0;
}




/* contents10
--------------------------------------------------------------- */

#title10{
	margin:115px 0 90px 0;
}

.contenst10_map{
	float:left;
	width:400px;
}
.contenst10_detail{
	float:right;
	width:748px;
	padding:57px 0 0 0;
}
.contenst10_detail p{
	padding:40px 0;
}
.contenst10_detail table{
	width:300px;
}
.contenst10_detail table th{
	color:#fff;
	background:#3f4143;
	border-bottom:6px solid #fff;
	border-right:6px solid #fff;
	width:70px;
	height:25px;
	vertical-align:middle;
	text-align:center;
}
.contenst10_detail table td{
	color:#363230;
	background:#f0f0f0;
	border-bottom:6px solid #fff;
	height:25px;
	vertical-align:middle;
	text-align:left;
	padding:0 10px;
}




/* contents11
--------------------------------------------------------------- */

#title11{
	margin:0 0 20px 0;
}
#contents10_subtitle{
	margin:55px 0 30px 0;
}

.contents10_bg{
	background:url(../images/botox_contents10_bg01.gif) center top no-repeat;
	height:365px;
}
.contents10_bg ul li{
	float:left;
	width:360px;
}
.contents10_bg h4{
	padding:25px 0 22px 0;
}
.contents10_bg p{
	padding:18px 0 0 0;
	line-height:26px;
}




/* contents12
--------------------------------------------------------------- */

#title12{
	margin:140px 0 25px 0;
}

.contents12_detail{
	border-top:1px solid #cfcfcf;
	border-bottom:1px solid #cfcfcf;
	margin:60px 0 0 0;
	padding:30px 0;
}
.contents12_detail li{
	float:left;
}
.contents12_detail li .doctor{
	padding:12px 0 0 0;
}
.contents12_detail li.w156{
	width:156px;
	padding:0 30px 0 0;
}
.contents12_detail li.w399{
	width:399px;
	padding:0 33px 0 0;
}
.contents12_detail li.w399 h3.title01{
	background:url(../images/botox_contents11_bg01.gif) left bottom no-repeat;
	font-size:px;
	color:#000;
	padding:0 0 7px 0;
	line-height:16px;
}
.contents12_detail li.w399 h3.title02{
	background:url(../images/botox_contents11_bg02.gif) left bottom no-repeat;
	font-size:px;
	color:#000;
	padding:0 0 7px 0;
	margin:25px 0 0 0;
	line-height:16px;
}
.contents12_detail li.w581{
	width:581px;
}
.contents12_detail li.w581 h3.title03{
	background:url(../images/botox_contents11_bg03.gif) left bottom no-repeat;
	font-size:px;
	color:#000;
	padding:0 0 7px 0;
	line-height:16px;
}
.contents12_detail li p{
	padding:15px 0 0 0;
	line-height:25px;
}




#h_wrapper {
	width: 100%;
	height:85px;
	margin: 0 auto;
	text-align: center;
	background:#171717;
	border-bottom:solid 2px #b39952;
	position:fixed;
	top:0;
	left:0;
	z-index:99999;
}

header#PAGE_TOP {
	width: 1200px;
	height:85px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

#PAGE_TOP h1{
	position:absolute;
	top:20px;
	left:24px;
	color:#fff;
}
#PAGE_TOP p{
	position:absolute;
	top:16px;
	right:400px;
}
#PAGE_TOP ul{
	position:absolute;
	top:23px;
	right:0;
}
#PAGE_TOP ul li{
	float:left;

}

#PAGE_TOP ul li.sp_ab{
	margin:0 0 0 10px;
}






/* responsive style common
--------------------------------------------------------------- */

@media screen and (min-width: 768px) {
.pc_none {
	display: none !important;
}
}

@media screen and (max-width: 767px) {
.sp_none {
	display: none !important;
}
img {
	width: 100%;
	max-width: 100%;
	vertical-align: bottom;
}
}


/* sp style 
--------------------------------------------------------------- */


@media screen and (max-width: 767px) {

	
body{
	padding-bottom: 0;
	line-height: 21px;
	font-family: ArialMT,"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",メイリオ,sans-serif;
}
* {
	-webkit-text-size-adjust: none;
}

/* common 
--------------------------------------------------------------- */

.wrapper{
	width:auto;
}
.inner{
	width:auto;
}

#page-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

#page-top img {
	width: 35px;
	height: 35px;
}
.imgbdr {
	padding-bottom: 15px;
	width: 5%;
}

/* conversion 
--------------------------------------------------------------- */

.conversion{
	margin: 45px 0;
	padding: 0 45px;
	width:auto;
}
.conversion .tel{
	float: none;
	width: auto;
}
.conversion .btn{
	margin: 0;
	padding: 10px 0 0;
	float: none;
	width: auto;
}
.conversion02{
	margin: 45px 0;
	padding: 0 45px;
	width:auto;
}
.conversion02 .tel{
	float: none;
	width: auto;
}
.conversion02 .btn{
	margin: 0;
	padding: 10px 0 0;
	float: none;
	width: auto;
}
.conversion03{
	margin: 45px 0;
	padding: 0 45px;
	width:auto;
}
.conversion03 .tel{
	float: none;
	width: auto;
}
.conversion03 .btn{
	margin: 0;
	padding: 10px 0 0;
	float: none;
	width: auto;
}


/* header 
--------------------------------------------------------------- */

#header_bg{
	background: none;
	margin: 0;
}
#header{
	width: auto;
	height: auto;
	margin:0 auto;
	background: none;
}
#header .logo{
	padding: 12px 0;
	border-bottom: 1px solid #FFF;
	float: none;
	width: auto;
	background: #73c895;
	text-align: center;
}
#header .logo img {
	width: 96%;
}

#header .header_right{
	border-top: 1px solid #62aa7f;
	border-bottom: 1px solid #62aa7f;
	width:auto;
	float: none;
}
#header .header_right .tel{
	display: none;
}
#header .header_right .btn{
	padding: 0;
	float: left;
	width: 70.6%;
	text-align: center;
	background: #FFF;
}
#header .header_right .btn img{
	width: 80%;
}
#header .header_right .btn02{
	padding: 0;
	margin:0;
	float: right;
	width: 29%;
	background: #62aa7f;
	text-align: center;
}
#header .header_right .btn02 img{
	width: 68%;
}


/* main 
--------------------------------------------------------------- */

#main{
	border-top: 1px solid #fff;
	width: auto;
	height: auto;
	background: none;
}
#main h1{
	padding: 0;
}



/* contents01 
--------------------------------------------------------------- */

#title01{
	margin: 40px 0 25px;
	padding: 0 10px;
}



.contents01_box{
	background:#f2f2f2;
}
.contents01_bg01{
	height: auto;
	background: none;
}
.contents01_bg01 .text{
	margin: 10px 10px 0;
	padding: 12px 0 4px;
	width: auto;
	background-color: #fefefe ;
}
.contents01_bg01 .text p{
	padding: 0 20px 8px;
	line-height: 24px;
}
.contents01_box p{
	padding:0 0 18px 0;
}
.contents01_bg02{
	margin: 0;
	padding: 0 10px 20px;
	height: auto;
	background: none;
}
.contents01_bg02 .sub_title{
	margin: 5px 0 15px;
}
.contents01_bg02 .sub_title img{
	width: 5%;
	height: 1px;
}
.contents01_bg02 .text_inner{
	padding: 0;
	width: auto;
}
.contents01_bg02 .text_inner p {
	padding: 10px 0 0;
	line-height: 24px;
}
.contents01_bg02 .textbox{
	margin: 8px 10px 0;
	padding: 0 0 0 10px;
	border-left: 2px solid #393939;
}
.contents01_bg02 .textbox .inner{
	padding: 0;
}
.contents01_bg02 .textbox .inner .title {
	padding: 0 0 6px 3px;
	width: 88%;
}
.contents01_bg02 .textbox .inner ul{
	width: auto;
	margin: 0;
}
.contents01_bg02 .textbox .inner ul li{
	width:auto;
	float: none;
	line-height: 21px;
}



/* contents02
--------------------------------------------------------------- */

#title02{
	margin: 0 0 25px;
}
#subtitle01{
	margin: 0 10px 10px;
	padding: 0 0 6px;
	border-bottom: 1px solid #cfcfcf;
}
#subtitle02{
	margin: 20px 10px 25px;
}

.contents02_box{
	padding: 0 10px;
	float: none;
	width: auto;
}
.contents02_box p{
	padding: 0 0 13px;
	line-height: 24px;
}
.contents02_box .contenst02_image {
	padding: 0 0 13px;
	text-align: center;
}
.contents02_box .contenst02_image img {
	width: 75%;
}

.contenst02_itemimage{
	display: none;
}

.contents02_detail{
	margin: 0 10px;
	float: none;
	width: auto;
}
.contents02_detail table{
	padding:0;
	margin:4px 0 0 0;
	width:100%;
}
.contents02_detail table th{
	padding: 5px 0;
	width: 100px;
	font-weight: bold;
}
.contents02_detail table td{
	padding: 5px 13px;
}
.contents02_detail table td ul{
	margin:0;
	padding:0;
}
.contents02_detail table td ul li{
	margin: 0;
	padding: 2px 0 2px 15px;
	line-height: 20px;
	background: url(../images/sp/botox_contents02_icon.gif) no-repeat left 7px;
}
.contents02_detail table .box01{
	height:auto;
}
.contents02_detail table .box02{
	height:auto;
}

.contenst02_detailitem_inner{
	margin: 10px 0 0;
	padding: 10px 0 0;
	float: none;
	width: auto;
	height: auto;
}
.contenst02_detailitem_inner .contenst02_detailitem{
	padding: 0 10px;
	width: auto;
}
.contenst02_detailitem_inner .contenst02_detailitem p{
	padding: 8px 0 10px;
	line-height: 19px;
}

.contents02_beforeafter{
	margin: 0 20px;
	padding:0;
}
.contents02_beforeafter li{
	margin-top: 20px;
	padding: 0 0 15px !important;
	border: 1px solid #cfcfcf;
	float: none;
}
.contents02_beforeafter li:first-child {
	margin-top: 0;
}
.contents02_beforeafter li h4{
	margin: -5px 0 0;
	padding: 5px 0 8px;
	border-bottom: 1px solid #cfcfcf;
	text-align: center;
}
.contents02_beforeafter li div {
	padding: 15px 15px 0;
}
.contents02_beforeafter li div img+img {
	margin-top: 15px;
}
.contents02_beforeafter li h4 img {
	width: 35%;
}
.contents02_beforeafter li.w583{
	padding: 0;
	width: auto;
}
.contents02_beforeafter li.w274{
	padding: 0;
	width: auto;
}
.contents02_beforeafter li.w273{
	padding: 0;
	width: auto;
}



/* contents03
--------------------------------------------------------------- */

#contents03_icon{
	margin: 40px 0 25px;
	padding: 0 10px;
}

.contents03_box{
	padding: 0 10px;
}
.contents03_box li{
	padding: 0 !important;
	float: none !important;
	width: auto !important;
}
.contents03_box li h3{
	padding: 0;
}
.contents03_box li h3+div {
	padding: 10px 0 12px;
}
.contents03_box li h4{
	margin: 0 0 10px;
	padding: 0 0 0 10px;
	border-left: 2px solid #9e7f51;
	font-size: 14px;
	font-weight: bold;
	line-height: 100%;
}
.contents03_box li p{
	padding: 0 0 12px;
	width: auto;
	line-height: 21px;
}




/* contents04
--------------------------------------------------------------- */

.priceArea .title04{
	margin: 40px 0 25px;
	padding: 0 10px;
}
.priceArea p{
	padding: 0 10px;
}

.price_list li{
	padding: 0 10px !important;
	float: none;
}
.price_list li .menu{
	padding-bottom: 0;
}
.price_list li .menu+div{
	margin: 0 0 20px;
	padding: 10px 0 6px;
	border-bottom: 1px solid #e0e0e0;
}



/* contents05
--------------------------------------------------------------- */

#title05{
	margin: 40px 0 25px;
	padding: 0 10px;
}

.content05_detail{
	padding: 0 10px;
}
.content05_detail li{
	float: none;
}
.content05_detail li h3{
	padding: 10px 0 8px;
}
.content05_detail li p{
	padding: 0 0 15px;
	width: auto;
	line-height:21px;
}
.content05_detail li:last-child p{
	padding: 0;
}
.content05_detail li.w397{
	padding: 0;
	width: auto;
}
.content05_detail li.w399{
	padding: 0;
	width: auto;
}
.content05_detail li.w400{
	padding: 0;
	width: auto;
}




/* contents06
--------------------------------------------------------------- */


#title06{
	margin: 40px 0 25px;
	padding: 0 10px;
	width: auto;
}

.contents06_box{
	padding: 0 10px;
	width: auto;
}
.contents06_box li{
	margin-bottom: 25px;
	float: none;
	width: auto;
}
.contents06_box li .image_right {
	padding: 0 0 15px 10px;
	float: right;
	width: 40%;
}
.contents06_box li .image_left {
	padding: 0 10px 15px 0;
	float: left;
	width: 40%;
}
.contents06_box li h3 {
	margin-bottom: 10px;
	padding: 0 0 8px;
	border-bottom: 1px solid #cfcfcf;
	border-top: 1px solid #cfcfcf;
}
.contents06_box li.left_box{
	padding: 0;
}
.contents06_box li .detail_left{
	float: none;
	width: auto;
}
.contents06_box li .detail_left p{
	padding: 0;
	line-height: 21px;
}
.contents06_box li .detail_left .contact{
	margin: 8px 10px 0;
	padding: 0 0 0 10px;
	border-left: 2px solid #393939;
	clear: both;
	line-height: 0;
}
.contents06_box li .detail_left .contact .inner{
	width: auto;
	padding: 0;
}
.contents06_box li .detail_left .contact .inner .tel02 {
	padding: 8px 0;
}
.contents06_box li .detail_left .contact .inner .btn{
	padding: 0;
}
.contents06_box li .detail_left02{
	float: none;
	width: auto;
}
.contents06_box li .detail_right{
	float: none;
	width: auto;
}
.contents06_box li .detail_right02{
	float: none;
	width: auto;
}
.contents06_box li .detail_right02 p{
	padding: 0;
	line-height: 21px;
}
.contents06_bg{
	margin: 0;
	padding: 0;
	background: #fff;
}




/* contents07
--------------------------------------------------------------- */

#title07{
	margin: 40px 0 25px;
	padding: 0 10px;
}

.contents07_bg{
	background:#f2f2f2;
}
.contents07_text{
	margin: 10px 10px 0;
}

/* 前へ、次へのボタン */

.bx-wrapper .bx-controls-direction a {
	margin-top: -16px;
	position: absolute;
	top: 50%;
	width: 32px;
	height: 32px;
	z-index: 9999;
	text-indent: -9999px;
}
.bx-wrapper .bx-prev {
	background: url(../images/sp/controls.png) 0 -32px no-repeat;
	left: 5px;
}
.bx-wrapper .bx-next {
	background: url(../images/sp/controls.png) -43px -32px no-repeat;
	right: 5px;
}

/* 基本 */

.bg_img{
	margin: 0 auto;
	position:relative;
	width: 100%;
}
.bx-window{
	margin-bottom: 10px;
}
.slider{
	margin: 0 auto;
	width: 100%;
} 
/* カルーセルスライダー */
 
.bg_img .bx-wrapper{
	width: inherit;
}
#slider li{
}




/* contents08
--------------------------------------------------------------- */

#title08{
	margin: 40px 0 25px;
	padding: 0 10px;
	width: auto;
}
.contents08_bg{
	background: none;
	height: auto;
}
.contents08_bg ul {
	margin-top: -10px;
}
.contents08_bg ul li{
	padding: 10px 10px 0 !important;
	float: none;
	width: auto;
}
.contents08_bg ul li:nth-of-type(even) {
	background-color: #f7f7f7;
}
.contents08_bg .contents08_left{
	padding: 0;
}
.contents08_bg h3{
	padding: 0 0 8px;
	background: url(../images/sp/botox_contents08_text_bg.gif) no-repeat left bottom;
}
.contents08_bg p{
	padding: 8px 0 10px;
	line-height: 21px;
}
.contents08_bg .box01{
	height: auto;
}
.contents08_bg .box02{
	height: auto;
}
.contents08_bg .box03{
	height: auto;
}
.contents08_bg .box04{
	height: auto;
}




/* contents09
--------------------------------------------------------------- */

#title09{
	margin:0 0 60px 0;
}




/* contents10
--------------------------------------------------------------- */

#title10{
	margin: 40px 0 25px;
	padding: 0 10px;
}
#accessArea>div {
	padding: 0 10px;
}
#accessArea h3 {
	padding: 8px 0 0;
	line-height: 0;
}
#accessArea .icon {
	padding: 12px 0 8px;
	line-height: 0;
}
#accessArea .icon img {
	width: 5%;
	height: 1px;
}
#accessArea .place {
	padding: 0 0 12px;
	line-height: 19px;
}
.contenst10_map{
	float: none;
	width: auto;
}
.contenst10_map iframe {
	width: 100%;
	height: 200px;
}
.contenst10_detail{
	float: none;
	width: auto;
	padding: 0;
}
.contenst10_detail p{
	padding: 0;
}
.contenst10_detail table{
	margin: 13px 0 0;
	width: 100%;
}
.contenst10_detail table th{
	padding: 5px 0;
	height: auto;
}
.contenst10_detail table td{
	height: auto;
	line-height: 19px;
}




/* contents11
--------------------------------------------------------------- */


#title11{
	margin: 0 0 25px;
	padding: 0 10px;
}
#philosophyArea .wrapper> p {
	padding: 0 10px;
}
#contents10_subtitle{
	margin: 15px 10px;
	padding: 6px 0 0;
	border-top: 1px solid #e0e0e0;
	line-height: 0;
}

.contents10_bg{
	background: none;
	height: auto;
}
.contents10_bg ul li{
	padding: 10px !important;
	float: none;
	width: auto;
	background-color: #f7f7f7 ;
}
.contents10_bg ul li:nth-of-type(even){
	background-color: #fff ;
}
.contents10_bg h4{
	padding: 0;
}
.contents10_bg h4 img:nth-of-type(2) {
	width: 28%;
}
.contents10_bg h4 img:nth-of-type(3) {
	padding: 8px 0 10px;
}
.contents10_bg p{
	padding: 8px 0 0 0;
	line-height: 21px;
}




/* contents12
--------------------------------------------------------------- */

#title12{
	margin: 40px 0 25px;
	padding: 0 10px;
}
#doctor > p {
	padding: 0 10px;
}

.contents12_detail{
	margin: 0;
	padding: 0 10px;
	border: none;
}
.contents12_detail li{
	float: none;
}
.contents12_detail li .doctor{
	margin: 13px 0 0;
	padding: 10px 0;
	text-align: center;
}
.contents12_detail li .doctor img:nth-of-type(2) {
}
.contents12_detail li .doctor img:nth-of-type(3) {
	margin: 0 auto;
	padding: 15px 0 0;
	width: 35%;
}
.contents12_detail li.w156{
	padding: 0;
	width: auto;
}
.contents12_detail li.w399{
	padding: 0;
	width: auto;
}
.contents12_detail li.w399 h3.title01{
	margin: 10px 0 5px;
	padding: 0 0 2px;
	color: #000;
	background: url(../images/botox_contents11_bg01.gif) no-repeat left bottom;
	font-size: 14px;
	line-height: 18px;
}
.contents12_detail li.w399 h3.title02{
	margin: 10px 0 5px;
	padding: 0 0 2px;
	color: #000;
	background: url(../images/botox_contents11_bg02.gif) no-repeat left bottom;
	font-size: 14px;
	line-height: 18px;
}
.contents12_detail li.w581{
	width: auto;
}
.contents12_detail li.w581 h3.title03{
	margin: 10px 0 5px;
	padding: 0 0 2px;
	color: #000;
	background: url(../images/botox_contents11_bg03.gif) no-repeat left bottom;
	font-size: 14px;
	line-height: 18px;
}
.contents12_detail li p{
	padding: 0;
	line-height: 21px;
}



.contents12_detail .title {
	font-size:18px;
	font-weight:bold;
	padding:0px;
}

.contents12_detail .title span {
	font-size:13px;
	font-weight:normal;
}




/* contents13
--------------------------------------------------------------- */


.contents13_detail{
	border-bottom:1px solid #cfcfcf;
	margin:0px 0 0 0;
	padding:15px 0 30px;
}
.contents13_detail li{
	float:left;
}
.contents13_detail li .doctor{
	padding:12px 0 0 0;
}
.contents13_detail li.left{
	width:450px;
	padding:0 33px 0 0;
}
.contents13_detail li.left h3.title01{
	background:url(../images/botox_contents11_bg01.gif) left bottom no-repeat;
	font-size:px;
	color:#000;
	padding:0 0 7px 0;
	line-height:16px;
}
.contents13_detail li.left h3.title02{
	background:url(../images/botox_contents11_bg02.gif) left bottom no-repeat;
	font-size:px;
	color:#000;
	padding:0 0 7px 0;
	margin:25px 0 0 0;
	line-height:16px;
}
.contents13_detail li.right{
	width:581px;
}
.contents13_detail li.right h3.title03{
	background:url(../images/botox_contents11_bg03.gif) left bottom no-repeat;
	font-size:px;
	color:#000;
	padding:0 0 7px 0;
	line-height:16px;
}
.contents13_detail li p{
	padding:15px 0 0 0;
	line-height:25px;
}

.contents13_title {
	font-size:20px;
	font-weight:bold;
	padding:15px 0px 0px;
	border-top: 1px solid #cfcfcf;
	margin-top:30px;
	vertical-align:middle;
}

.contents13_title span {
	font-size:15px;
	font-weight:normal;
	vertical-align:middle;
}


.contents01_link_inner{
	margin: 0 auto;
	background: none;
	width: auto;
	height: auto;
}
.contents01_link_inner .contents01_link{
	padding: 0;
	width: auto;
	text-align: center;
}
.contents01_link_inner .contents01_link img {
	width: 85%;
}
.contents01_link_inner .contents01_link .left_image{
	margin: 30px 0 0;
	padding: 0 0 10px;
	float:none;
	width: auto;
}
.contents01_link_inner .contents01_link .btn{
	float:none;
	width: auto;
}

}



/*=======================================================================
フォーム導入
=======================================================================*/

@media screen and (min-width: 768px) {
.block13{
	width:1200px;
	margin:0 auto;
}
.block13 .flow {
	margin: 50px 0 40px 0 ;
	text-align: center ;
}
.block13 .caution {
	color: #ee0000 ;
}
.block13 .error {
	margin: 10px 0 0 0 ;
	color: #ee0000 ;
}
.block13 .form {
	width: 960px ;
	margin: 0 auto ;
}
.block13 table {
	width: 100% ;
	border:solid 1px #d0d0d0;
	float:left;
	border-collapse: separate;
	border-spacing: 2px 2px ;
	margin: 20px auto 40px auto ;
}
.block13 th{
	width: 25% ;
	background:#f3f3f3;
	padding: 20px 20px 20px 80px ;
	border-bottom:solid 1px #d0d0d0;
	border-right:solid 1px #d0d0d0;
	font-size: 16px ;
	color: #000000 ;
	white-space: nowrap ;
}
.block13 th.hissu {
	background: #f3f3f3 url(../images/form/form_icon_01.gif) 15px center no-repeat;
}
.block13 th.nini {
	background: #f3f3f3 url(../images/form/form_icon_02.gif) 15px center no-repeat;
}
.block13 td{
	width: 75% ;
	padding: 20px ;
	border-bottom:solid 1px #d0d0d0;
	font-size: 14px ;
	color: #333333 ;
}
.block13 th.last,
.block13 td.last{
	border-bottom:none;
}
.block13 td input[type="text"],
.block13 td input[type="tel"],
.block13 td input[type="email"] {
	width: 40% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 td input[type="checkbox"] {
	margin: 0 5px 0 10px;
}
.block13 td input[type="radio"] {
	margin: 0 5px 0 10px;
}

.block13 td select {
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 td textarea {
	width: 98% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 .btn {
	margin: 0 0 60px 0 ;
	text-align: center ;
}
.block13 .end {
	margin: 0 0 40px 0 ;
	text-align: center ;
}
.block13 td span {
    width: 40%;
    padding: 5px 10px 5px 0;
    display: inline-block;
    border: 1px solid #FFF;
}
.block13 td input.number {
    width: 10%;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #999999;
    font-size: 14px;
}
}
@media screen and (max-width: 767px) {
.block13 {
	margin-bottom:40px;
}
.block13 h2{
	margin-bottom:20px;
}
.block13 .flow {
	margin: 0 0 20px 0 ;
	padding: 0 10px ;
	text-align: center ;
}
.block13 .flow img {
	height: auto;
}
.block13 .caution {
	margin: 10px 0 ;
	color: #ee0000 ;
}
.block13 .error {
	margin: 10px 0 0 0 ;
	color: #ee0000 ;
}
.block13 .form {
	padding: 0 10px ;
}
.block13 table {
	width: 100% ;
	border:solid 1px #d0d0d0;
	float:left;
	border-collapse: separate;
	border-spacing: 2px 2px ;
	margin: 0 auto 10px auto ;
}
.block13 th{
	display: block ;
	background:#f3f3f3;
	padding: 12px 10px 12px 70px ;
	border-bottom:solid 1px #d0d0d0;
	font-size: 14px ;
	color: #000000 ;
	white-space: nowrap ;
}
.block13 th.hissu {
	background: #f3f3f3 url(../images/form/form_icon_01.gif) 10px center no-repeat;
}
.block13 th.nini {
	background: #f3f3f3 url(../images/form/form_icon_02.gif) 10px center no-repeat;
}
.block13 td{
	display: block ;
	padding: 15px ;
	border-bottom:solid 1px #d0d0d0;
	font-size: 14px ;
	color: #333333 ;
}
.block13 td.last{
	border-bottom:none;
}
.block13 td input[type="text"],
.block13 td input[type="tel"],
.block13 td input[type="email"] {
	width: 45% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 td input[type="checkbox"] {
	margin: 0 5px 0 10px;
}
.block13 td input[type="radio"] {
	margin: 0 5px 0 10px;
}

.block13 td select {
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 td textarea {
	width: 96% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 .btn {
	text-align: center ;
}
.block13 .btn {
	width: 100% ;
	height: auto ;
	text-align: center ;
}
.block13 .btn img {
	height: auto;
}
.block13 .btn input {
	width: 100% ;
	max-width: 420px ;
	margin: 0 auto 10px auto ;
	height: auto ;
}
.block13 .end {
	margin: 0 0 20px 0 ;
	text-align: center ;
}


	
}

