@media only screen and (max-width: 768px) {

img{
	width:100%;
	height:auto;
}

.bxslider li{

}

#h_wrapper {
	height:auto;
	position:static;
	}

header#PAGE_TOP {
	margin: 0 auto;
	position: relative;
	text-align: left;
	width:auto;
	background:#000;
height: auto !important;
}
#main{
	margin:0px auto 0;
}
/*=======================================================================
ヘッダ
=======================================================================*/
#PAGE_TOP h1{
	margin:0 auto;
	padding:3% 0;
	background:#171717;
	position:relative;
	border-bottom:solid 2px #474747;
	top:auto;
	left:auto;
}
#PAGE_TOP h1 img{
	width:40%;
margin:0 0 0 5px;
	display:block;
/*
	margin:0 auto;
*/
}
#PAGE_TOP p{
	width:49.8%;
	float:left;
	position:relative;
	left:0;
	top:0;
}
	
#PAGE_TOP ul{
	position:static;
	top:auto;

}
#PAGE_TOP ul li.sp_ab{
	position:absolute;
	top:8%;
	right:5px;
	width:10%;
}
#PAGE_TOP ul li:first-child{
margin:0;}
#PAGE_TOP ul li.sp_ab1{
	position:absolute;
	top:8%;
	right:13%;
	width:18%;
}
#PAGE_TOP ul li.sp_ab1 img{

}
#PAGE_TOP ul li.sp_ab2{
	position:absolute;
	top:8%;
	right:32%;
	width:18%;
}
#PAGE_TOP ul li.sp_ab2 img{

}
#PAGE_TOP ul li.sp_right{
/*
	width:50.2%;
	float:right;
*/
}
	#PAGE_TOP ul li{
		margin:0;
	}

}