@charset "shift_jis";
* {
	font-size: 0px;
	line-height: 150%;
}
body {
	text-align: center;
	margin: 0px;
	background-position: center top;
	background-color: #E5E1D8;
}

img {
	vertical-align: bottom;
	clear: both;
	border: none;
}

#wrapper ul {
	padding: 0;
	margin: 0;
}
#wrapper li {
	padding: 0;
	margin: 0;
	list-style: none;
}
