/*
Template:twentysixteen
Theme Name:twentysixteen_child
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, cite, em, img, q, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    -moz-text-size-adjust: none;
    border-collapse: collapse;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    line-height: 1.6;
    list-style: outside none none;
	color: #3e2c1f;
}

a {
    color: #3d2d20;
    text-decoration: none;
}

body:not(.home) #main {
	background-color: #FFF;
}

.visiblePc{display:none;}
.visibleSp{display:block;}
.after_right_arrow a::after{
    content: ">";
    font-family: "ＭＳ ゴシック","MS Gothic","Osaka－等幅",Osaka-mono,monospace;
    font-size: 10px;
    margin-left: 10px;
}

.site-main {
    /*margin-bottom: 2em;*/
	margin-bottom: 0.5em;
}

article .link,article .blank{
	cursor: pointer;
}

article section p {
    padding: 0 0.75em;
}

.pagination .prev::before {
    content: "←前へ";
    font-size: 0.8rem;
}
.pagination .next::before {
    content: "次へ→";
    font-size: 0.8rem;
}
/* header */
.site-header {
    padding: 0;
}

.site-header-main {
    padding: 0 1em;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 9999;
	left: 0;
	width: 100%;
}

.main-navigation a {
	color: #49372b;
	font-family: "メイリオ",sans-serif;
	font-size: 0.75rem;
	padding: 0.84375em 0 0.84375em 1em;
}

.menu-toggle.toggled-on, .menu-toggle.toggled-on:hover, .menu-toggle.toggled-on:focus {
    background-color: unset;
    border-color: unset;
}

.site-header-main .site-branding {
    margin: 0 auto;
	width: 80%;
	text-align: center;
}

.menu-toggle, .sp_call {
    width: 15%;
}



.menu-toggle {
    margin: 0.5em 0;
}

/* sidebar */
#instagram_area {
	border: 4px solid #053c70;
	box-sizing: border-box;
	background: #fff;
	margin: 0 0 1rem 0;
}
.icon.icon-twitter, .icon.icon-instagram {
    width: 0rem;
    height: 0rem;
}
.social-navigation a {
    background-color: #fff;
}
.content-bottom-widgets {
	margin: 0.846em;
}
.content-bottom-widgets .widget-area {
	margin: 0 auto 1em;
}
.widget {
    border-top: medium none;
	padding-top: 0;
}
.bnr_contact_sp,
.bnr_contact,
.widget_doctor {
    border: 4px solid #D6CEB7;
	background: rgb(248,247,243); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(248,247,243,1) 0%, rgba(216,206,181,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(248,247,243,1) 0%,rgba(216,206,181,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(248,247,243,1) 0%,rgba(216,206,181,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F7F3', endColorstr='#DCD4BD',GradientType=0 ); /* IE6-9 */
	padding: 0.75em;
	margin: 0 0 1em 0;
}
.bnr_contact p {
    color: #7D5B0D;
    margin: 0;
}
.bnr_contact span {
    display: block;
	border: 1px solid #7D5B0D;
    background-color: #F2EEE5;
	color: #7D5B0D;
    width: 50%;
    padding: 0.25em;
    margin: 0.5em auto;
}
.bnr_contact hr {
margin: 0.5em;
}

.sidebar {
    margin-bottom: 1em;
    padding: 0;
}

.execphpwidget {
    text-align: center;
}
.execphpwidget > a {
	box-shadow: none;
    display: inline-block;
    width: 45%;
}
.execphpwidget ul li a {
    box-shadow: none !important;
}

/*.execphpwidget  img, .execphpwidget li {
    margin: 1em auto;
}*/
.execphpwidget  img, .execphpwidget li {
    margin: 0.5em auto;
}
.widget_doctor h2 {
	color: #7D5B0D;
	margin: 0 0 0.5em 0;
}
.widget_doctor div ul {
	margin: 0;
    padding: 0 0 1em 0;
}
.widget_doctor div ul li {
	list-style: disc inside;
	margin-left: 1rem;
    text-align: left;
}
.widget_doctor p {
	margin: 0 0 1em 0;
}
.widget_other ul {
    margin: 0;
}
.widget_other ul li a {
    text-align: left;
    display: block;
	margin:0 0 1em 0;
	padding:2px 8px;
	border-width:0 0 0 5px;
	border-color:#B6859A;
	border-style:solid;
	background: rgb(248,247,243); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(218,197,204,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(218,197,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(218,197,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#DAC5CC',GradientType=0 ); /* IE6-9 */
	color:#3d2d20;
	line-height:200%;
}
.widget_other ul li a:hover {
    filter:alpha(opacity=70); /* IE 6,7*/
	-ms-filter: "alpha(opacity=70)"; /* IE 8,9 */
	-moz-opacity:0.7; /* FF , Netscape */
	-khtml-opacity: 0.7; /* Safari 1.x */
	opacity:0.7;
	zoom:1; /*IE*/
}

/* footer */
.entry-footer {
	/*margin: 0 auto;*/
}
footer#colophon.site-footer {
	border-top: 2px solid #896D26;
    padding: 0 0 0.5em;
	background-color: #FFF;
	display: block;
}
.cstm_menucate {
	display: none;
	width: 70%;
	font-size: small;
	margin: 0 auto;
}
.cstm_menucatein {
	display: table-cell;
}
.cstm_menucatein:not(:last-child) {
	border-right: 1px solid #ddd;
}
.cstm_menucatein > ul.sitemap_sub {
	margin-left: 6em;
}
#footer-info {
	margin: 1em auto 6em !important;
	text-align: center;
}
.sp_footer_menu{
	position: fixed;
	bottom: 0;
/*	background-color: rgba(999,999,999,0.7);*/
	display: -webkit-flex; /* Safari */
	display: flex;
	width: 100%;
	text-align: center;
	z-index:99999;
}

.sp_footer_menu div {
    width: 33%;
    margin: 0.1rem;
    background-color: #3A1E0B;
    border-radius: 10px;
    padding: 0.3rem;
}

.sp_footer_menu p {
    color: #fff;
    margin: 0;
    font-size: 0.55rem;
}

.sp_footer_menu img {
    width: 40%;
    max-width: 70px;
}

/* パンくずナビ */
#pan {
	font-size: 0.75em;
    width: 98%;
	/*margin: 0.5em auto;*/
	padding: 50px 10px 0;
	box-sizing: border-box;
	background: #ffffff;
	border-bottom: 1px solid #dedede;
}
#pan ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
}
#pan ul li {
	height: 30px;
	line-height: 30px;
	float: left;
}
#pan ul li:before {
	content: ">";
	margin: 0 0.5em;
}
#pan ul li:first-child:before {
	content: none;
}


/* top page */
article.home section:first-child {
    margin: 0;
}

article.home section {
    margin-bottom: 2em;
}

article.home section .link:hover,article.home section .blank:hover {
    color: #B6859A;
    text-decoration: none;
}

section .link:hover img,section .blank:hover img{
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

article.home li {
    list-style: outside none none;
}

#top_media{
	display:none;
}

#top_news > ul {
    margin: 0.5rem;
}

#top_news li {
    font-size: 0.75rem;
}

#top_news p {
    margin: 0 0 0 1em;
	padding: 0.5rem 0;
}

article.home h3 {
    background-color: #b6859a;
    color: #fff;
    font-size: 0.8em;
    font-weight: bolder;
    padding: 0.5rem;
}


.bx-wrapper .bx-viewport {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    left: 0;
}

#top_pickup ul#banner_bxSlider  {
    margin: 0;
}

#top_pickup li div {
    margin: 0 auto;
	padding: 0.5em 0;
    width: 100%;
}

#top_pickup li img {
    margin: 0 auto;
}

#top_pickup h4 , #top_mainmenu h4{
    font-size: 0.813em;
	font-family: a-otf-futo-min-a101-pr6n, sans-serif;
	color: #7C5C0D;
}

#top_pickup p,#top_mainmenu p {
	margin: 0;
    display: inline-block;
    font-size: 0.813em;
}

#top_information > div {
    display: inline-block;
    margin: 1% auto;
    width: 48.5%;
    text-align: center;
}
#top_information > div img {
    max-width: 232px;
    width: 100%;
}
#top_mainmenu ul {
    margin: 0;
	background-color: #fff;
	margin: 0.5em 0 0 0;
	padding: 0.5em 0 0 0;
	justify-content: flex-start;
  	flex-wrap: wrap;
	align-items: stretch;
}

#top_mainmenu li div:not(:first-child) {
    margin: 0 0.5em 0 0;
}

#top_mainmenu li div:first-child {
    max-width: 100px;
	width: 25%;
}

#top_mainmenu li div {
    display: inline-block;
    vertical-align: top;
	width: 69%;
}

#top_mainmenu li {
    margin-bottom: 1em;
}

/* menu　category */
h2.menu_cate_title {
    margin: 1rem 0 0 0;
}
.tax-menu_category .page-header {
    border: medium none;
}

.tax-menu_category h1.page-title {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.tax-menu_category .category_page > ul ,.archive_menu .archive_menu_children{
    background: #F1D6CF none repeat scroll 0 0;
    margin: 0;
    padding: 0.3rem;
	display: flex;
	justify-content: flex-start;
  	flex-wrap: wrap;
	align-items: stretch;
}

/*.tax-menu_category .category_page li.menu_to_link:nth-child(3n+1) {
    margin-left: 0;
}*/

.tax-menu_category .category_page li.menu_to_link,.archive_menu .archive_menu_children >div {
    background-color: #fff;
    display: block;
    margin: 0 0 0.5rem 0;
    padding: 0.5em 1em 1em;
    vertical-align: top;
    width: 100%;
}

.tax-menu_category .category_page li.menu_to_link h3,.archive_menu_parent .archive_menu_children h3 {
    border-bottom: 1px solid #dbdbdb;
    margin: 0 0 1em;
    padding: 0.2em;
    text-align: center;
	font-size: 0.8em;
}

.tax-menu_category .category_page li.menu_to_link img{
    width: 17%;
    vertical-align: middle;
    margin: 0;
    display: inline-block;
	max-width: 80px;
	border: solid 1px #D3D3D3;
}

.archive_menu_parent .archive_menu_children > div > img {
    width: 17%;
    vertical-align: middle;
    margin: 0;
    display: inline-block;
	max-width: 80px;
	border: solid 1px #D3D3D3;
}

.archive_menu_parent .archive_menu_children > div p {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    font-size: 0.75rem;
    margin: 0;
    padding-right: 0;
}

img.btn_target {
    display: inline !important;
    margin: 0 0 0 0.5em !important;
}

.tax-menu_category .category_page li.menu_to_link .menu_cate_image p {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    font-size: 0.75rem;
    margin: 0;
    padding-right: 0;
}

.menu_only_price {
    margin: 1% 0 2em;
    width: 100% ;
}

/* menu */

/*.menu_page section,.archive_menu section,.flow_page section {
    margin: 2em 0;
}*/
.type-page section {
    margin: 2em 0;
}
.type-menu section:last-child {
    margin: 2em 0 0 0;
}

/* 他ページと競合させないため追記 */
.menu_page .price_box {
    border: medium none;
    font-size: inherit;
}
.menu_page .price_inbox {
    border: 1px solid #ccc;
}

.menu_page .price_inbox:not(:last-child) {
    border-bottom: medium none;
}
.menu_page .price_box div.price_inbox:last-child {
    border-bottom: 1px solid #ccc;
}

/* ここまで */

.menu_page h4,.archive_menu h4,.single_case_photo h4{
    border-bottom: 1px dotted #896d26;
    border-top: 1px dotted #896d26;
    font-size: 1.167em;
    margin-bottom: 20px;
    padding: 0.5em;
}

/*.menu_page .entry-header,.archive_menu .entry-header,.flow_page .entry-header {
    margin: 0.5em 0.25em;
}*/
.type-page .entry-header {
    /*margin: 0.5em 0.25em;*/
	margin: 0.5em;
}
/*.menu_page header h1,
.tax-menu_category header h1,
.archive_menu header h1,
.flow_page header h1,
.access_page header h1 {
    color: #3e2c1f;
    font-family: a-otf-futo-min-a101-pr6n,sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0.5em;
}*/
.type-page header h1 {
    color: #3e2c1f;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0.5em;
}

/*.menu_page header p,
.tax-menu_category header p,
.archive_menu header p,
.flow_page header p,
.headertext {
	border-bottom: 1px solid #a48d56;
	font-size: 1em;
	padding-bottom: 0.75em;
}*/
.type-page header p,
.headertext {
	border-bottom: 1px solid #a48d56;
	font-size: 0.8rem;
	padding-bottom: 0.75em;
}


#menu_solutions h3,
.entry-content h3 {
    background-color: #B6859A;
    color: #fff;
    margin: 0.5em 0;
    padding: 0.5em;
}

#menu_solutions ul {
    margin: 0 0 1.75em 1em;
}

#menu_solutions li {
	margin-bottom: 0.25em;
}

#menu_solutions li::before {
    content: "● ";
    font-size: 0.4em;
    vertical-align: middle;
}

/*.menu_page .entry-content,.archive_menu .entry-content{
    margin: 0;
}*/
.type-page .entry-content{
    /*margin: 0;*/
	margin: 0 0.5em;
}

.menu_page .menu_btx_recomend {
    text-align: center;
}

.menu_btx_recomend img:not(:first-child) {
    margin: 1em auto;
}


#menu_case_photos ul {
    margin: 0;
}

#menu_case_photos li,#menu_questionnaires li {
    margin: 1em 0;
	text-align: center;
}

.menu_whatis_btx > div {
    display: inline-block;
    width: 100%;
}

.menu_whatis_btx > div:nth-child(2) {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

.menu_explanation_image {
    text-align: center;
}

.menu_explanation_more_image {
    margin: 0.75em 0;
	text-align: center;
}

.more_image2 img {
    display: inline-block;
    width: 49%;
}

.more_image3 img {
    display: inline-block;
    width: 32%;
}

.more_image4 img {
    display: inline-block;
    width: 23.5%;
}

.menu_explanation_txt h5 {
    font-size: 1.25em;
}

#menu_faq h3 {
    margin: 0 0 1em;
}

#menu_faq h3 span,#menu_case_photos .menu_select_opname li a,.case_pt_detail a ,#menu_questionnaires .menu_select_opname li a{
    background-color: #B6859A;
    border-radius: 23px;
    color: #fff;
    display: inline-block;
    font-size: 1em;
    letter-spacing: 0.1em;
    margin: 0.5em;
    padding: 0.25em 1em;
	font-size: 0.8rem;
}

#menu_faq dl {
    border: 5px solid #E6D1D9;
    padding: 1em;
}

#menu_faq dl > * {
    margin: 0.75em 0;
}

#menu_faq dd:not(:last-child) {
    border-bottom: 1px dotted #896d26;
}

#menu_questionnaires .arrow_box,.questionnaires_doctor_comment .arrow_box{
    position: relative;
    background: #fff;
    border: 1px solid #adadad;
    width: 73%;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    font-size: 0.8rem;
    box-shadow: 0px 3px 6px 2px #e4e4e4;
    padding: 0.5rem;
	margin: 0;
}

#menu_questionnaires .arrow_box:after,#menu_questionnaires .arrow_box:before ,.questionnaires_doctor_comment .arrow_box:after,.questionnaires_doctor_comment .arrow_box:before{
	right: 100%;
	top: 1.5rem;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#menu_questionnaires .arrow_box:after,.questionnaires_doctor_comment .arrow_box:after {
    border-color: rgba(225, 195, 126, 0);
    border-right-color: #fff;
    border-width: 8px 10px 2px 10px;
    margin-top: -1%;
}
#menu_questionnaires .arrow_box:before,.questionnaires_doctor_comment .arrow_box:before {
    border-color: rgba(166, 144, 93, 0);
    border-right-color: #adadad;
    border-width: 9px 12px 2px 14px;
    margin-top: -1.15%;
}

#menu_questionnaires dd {
    font-size: 0.8rem;
    padding: 1rem;
}

.questionnaires_doctor_comment {
    margin: 0;
}

.single_questionnaire .questionnaires_doctor_comment dt {
    width: 15%;
    display: inline-block;
    min-width: 64px;
    font-size: 0.8rem;
    margin-right: 1%;
}

.single_questionnaire .questionnaires_doctor_comment dt span {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.questionnaires_doctor_comment .arrow_box p {
    margin: 0;
}
/* flow */

.flow_steps p,.about_page p{
    border: medium none;
	font-size: 0.8rem;
}

.flow_steps .flow_attention {
    background: #f9f5f7 none repeat scroll 0 0;
    border: 1px solid #d0b2bf;
    padding: 1em;
}

.flow_attention > p {
    margin: 0;
}

.flow_attention h3 img {
    margin-right: 0.3em;
}

.flow_steps > img {
    display: block;
    margin: 1em auto;
}

/*--------------------------------------
　price mks追加
---------------------------------------*/
/* ここから */
.price_page h1 {
	color: #3e2c1f;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0.5em 0.5em 0 0.5em;
}
article.page_price {
    margin: 0;
}

.archive_menu_children.outline {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0.5rem;
	margin: 0 !important;
}
.archive_menu .archive_menu_children.outline div {
    display: block;
    padding: 0;
	margin-bottom:0;
    width: 24%;
}
.archive_menu_children.outline > div img {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 0;
    max-width: 100px;
    width: 90%;
	margin: 0 auto;
    display: block;
}
.page_price .archive_menu_children.outline h3 {
    border-bottom: none;
	font-size: 0.6rem;
}
.menuprice {
	background-color: #FFF;
	padding-top: 10px;
	margin-top: 0 !important;
}
.menuprice h2, .flow_page h2, .media h2 ,.about_page h2, .case_photo h2:not(.menu_cate_title){
    background-color: #B6859A;
    color: #fff;
    margin: 1em 0;
    padding: 0.3em 0.3em 0.3em 0.75em;
	font-size: 0.9rem;
}
.menuprice h3 {
    margin: -70px 0 10px;
    padding-top: 70px;
    position: relative;
    text-align: center;
}
.menuprice h3:before {
    position: absolute;
	top: 85%;
	z-index: 1;
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: #ccc;
}
.menuprice h3 span {
	position: relative;
	z-index: 2;
	display: inline-block;
	margin: 0 2.5em;
	padding: 0 1em;
	background-color: #fff;
	text-align: left;
}
.menuprice h4 {
	padding: 5px;
    background-color: #ede3cb;
}
.price_bigbox {
	width: 98%;
    margin: 0 auto 20px;
	padding: 0 0 10px 0;
	position: relative;
}

.price_box {
    border: 1px solid #ccc;
	font-size: 0;
	background-color: #fff;
}
.price_box div {
	font-size: 12px;
}
.price_box p,
.price_box div{    
  margin: 0;
  vertical-align: middle;
}
.price_box p{
	margin: 0 0 0 5px;
}
.price_box div.price_inbox {    
    display: table;
    width: 100%;
	border-bottom: 1px solid #ccc;
}
.price_box div.price_inbox:last-child {
	border-bottom: none;
}
.price_box div.price_name {
	width: 40%;
	display: table-cell;
	border-right: 1px solid #ccc;
}
.price_box div.price_amount {
	width: 60%;
	display: table-cell;
}
.price_box div.price_amount ul {
	margin: 0;
}
.price_box div.price_amount ul li {
    border-right: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    width: 47%;
}
.price_box div.price_amount ul li:nth-chid(1) {
	border-bottom: 1px solid #ccc;
}
.price_box div.price_amount ul li:last-child {
	border-right: none;
	text-align: right;
}
.price_box div.price_amount ul li.one {
	width: 100%;
}
.menu_isit_limited {
    font-size: 1em;
    margin-bottom: 0.75em;
    text-align: right;
}

/* ここまで */


/*--------------------------------------
　sitemap mks追加
---------------------------------------*/
/* ここから */
.sitemap_page p {
    border-bottom: 1px solid #a48d56;
    font-size: 1em;
    padding-bottom: 0.75em;
}
.sitemap {
	color: #3A1E0B;
}
.sitemap > .page_item a {
	color: #3A1E0B;
	font-size: 1.2em;
    font-weight: 700;
	box-shadow: none;
}
.children > .page_item a {
	color: #3D2D20;
	font-weight: 400;
    font-size: 1em;
}
ul.sitemap_sub li.sitemap_catettl {
	color: #c99654;
	position: relative;
	font-size: 1.1em;
}
ul.sitemap_sub li.sitemap_catettl::after {
	display: block;
	content: '';
	position: absolute;
	top: .5em;
	left: -1em;
	width: 6px;
	height: 6px;
	background-color: #c99654;
	border-radius: 100%;
}
ul.sitemap_sub {
	margin-left: none;
}
.sitemap_sub ul {
    margin: 0 0 1.75em 0.5em;
}
ul.sitemap_sub li {
	font-size: 1em;
	margin: 0.5em;
}
ul.sitemap_sub li.sitemap_menuname {
	position: relative;
	font-size: 0.8rem;
}
ul.sitemap_sub li.sitemap_menuname::after {
	display: block;
	content: '';
	position: absolute;
    top: .85em;
    left: -0.8em;
	width: 8px;
	height: 1px;
	background-color: #666;
}
ul.sitemap_sub li.sitemap_menuname a {
    font-weight: normal;
	font-size: 1em;
}
.last-child > ul { 
	margin-left: 1rem;
}

/* ここまで */


/*--------------------------------------
　about mks追加
---------------------------------------*/
/* ここから */

.about3box {
    border: 2px solid #d8ceb5;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
    background: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
    background: -o-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
    background: -ms-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(242, 238, 229) 100%);
}

.about3boxin_ttl > p {

	color: #7c5b0c;
}
.about3box .about3boxin {
    padding: 1rem 0.5rem;
    margin: 0 auto;
}
.about3box p {  
    display: table-cell;  
    vertical-align: middle;  
    margin: 0;
	font-size: 0.8rem;
}  
.about_clinic {
	margin: 10px auto;
}
.about_clinic h2 {
	padding: 5px 10px;
	border-left: 10px solid #B6859A;
	border-bottom: 1px dashed #B6859A; /* 下ボーダーを、1px幅の破線、線色#CC3366に */
	background-color: #FFFFFF;
    color: #B6859A;
	font-size: 0.25em;
}
.about_clinic h2 {
	font-size: 1em;
}
.clinic_sub {
	display: table;
	width: 100%;
	margin: 10px auto;
}
.clinic_sub div {
	display: block;
	vertical-align: top;
}
.clinic_sub .cphoto {
	width: 26%;
	margin: 0 auto 0.5em;
}
table.cdetails {
    margin: 0 auto;
    border-collapse: separate;
    font-size: 12px;
}
table.cdetails td {
    padding: 5px 20px;
}
table.cdetails th {
    background: #B6859A;
    vertical-align: middle;
    width: 28%;
    overflow: visible;
    position: relative;
    color: #fff;
    font-weight: normal;
    font-size: 1em;
	padding: 5px 10px;
}
table.cdetails th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #B6859A;
    border-width: 10px;
    margin-top: -10px;
}
.doctor_next {
	text-align: right;
    font-size: 0.75em;
}
.doctor_next a {
	position: relative;
}
.doctor_next a::after {
	display: block;
	content: '';
	position: absolute;
	top: 0.3em;
	left: -1em;
	width: 6px;
	height: 6px;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* ここまで */


/*--------------------------------------
　about mks追加
---------------------------------------*/
/* ここから */
.access_inbox {
    margin: 1em auto;
	width: 98%;
	font-size: 0.8rem;
}
.access_inbox ul.access_transport {
	margin: 0 0 0 1em;
	padding: 0 0 0 10px;
}
.access_inbox ul.access_transport li {
	list-style: square;
}
.access_inbox iframe {
	width: 100%;
    height: 400px;
}
.access_page h4 {
    color: #c99654;
	font-size: 1em !important;
    margin: 10px auto !important;
}
.access_inbox p {
    margin: 10px auto !important;
}
/* ここまで */


/*--------------------------------------
　dr紹介 固定ページmks追加
---------------------------------------*/
/* ここから */
.dr_page > hr {
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #fff;
}
.dr_page > hr:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #fff;
}
.drprof_inbox {
	display: table;
}
.drprof_inbox .drphoto,
.drprof_inbox .drtable {
	display: block;
	vertical-align: top;
}
.drprof_inbox .drphoto {
	width: 20%;
	margin: 0.5em auto;
}
.drprof_inbox .drtable {
	vertical-align: top;
}
.drprof_inbox .drtable > div {
	margin: 0 0 1.5em 0;
}
.drprof_inbox .drtable p {
    margin: 0.5em 0;
}
.drprof_inbox .drtable p {
	position: relative;
	padding: 0 .2em .2em 2em;
	font-size: 1.4em;
}
.drprof_inbox .drtable p::before,
.drprof_inbox .drtable p::after {
	position: absolute;
	content: '';
	border-radius: 100%
}
.drprof_inbox .drtable p::before {
	top: .2em;
	left: .2em;
	z-index: 2;
	width: 18px;
	height: 18px;
	background: rgba(150, 150, 150, .5);
}
.drprof_inbox .drtable p::after {
	top: .7em;
	left: .7em;
	width: 13px;
	height: 13px;
	background: rgba(210, 210, 210, .5);
}
.doctor_voice {
    background-color: #E6D1D9;
    width: 100%;
    padding: 1em;
}
.doctor_voice p {
	width: 98%;
    background-color: #FFF;
    padding: 1em;
    margin: 0 auto;
}
.switch {
    cursor:pointer;
    font-weight: bold;
    padding:10px 40px 10px 10px;
    font-size: 14px;
    background: #B6859A;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.switch:after {
    content: ">";
    position: absolute;
    right: 10px;
    top: -100%;
    bottom: -100%;
    margin: auto;
    font-size: 16px;
    height: 16px;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-family: sans-serif;
}
.switch.open:after {
    content: "x";
}
/* ここまで */


/*--------------------------------------
　reservation & recruit & about & sitemap 一部混合mks追加
---------------------------------------*/
/* ここから */
#rsv-nav,
#recruit-nav,
#about-nav {
    margin: 0;
	font-size: 0.8rem;
}
#rsv-nav li,
#recruit-nav li,
#about-nav li {
    list-style-type: none;
}
#rsv-nav li a,
#recruit-nav li a,
#about-nav li a {
    font-size: 1em;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 1%;
    text-align: center;
    width: 100%;
    background: #B6859A;
    border: 1px solid #FFF;
}
#rsv-nav li a:hover,
#recruit-nav li a:hover,
#about-nav li a:hover {
    background: #E6D1D9;
    color: #B6859A;
}
#rsv-nav li a.current,
#recruit-nav li a.current,
#about-nav li a.current {
    background: #E6D1D9;
    color: #B6859A;
}
#rsvcontents,
#recruitcontents,
#aboutcontents {
	margin: -10px auto 0;
}
#aboutcontents section {
	margin-top: -60px;
	padding-top: 90px;
}
.reservation_page h2,
.recruit_page h2,
.about_page h3,
.case_photo h3:not(.menu_cate_title){
    padding: 5px 10px;
    border-left: 10px solid #B6859A;
    border-bottom: 1px dashed #B6859A;
    background-color: #FFFFFF;
    color: #B6859A;
    font-size: 0.8rem;
}
.clinictel {
	color: #3A1E0B;
}
.formtbl {
	width:95%;
	margin:2em auto;
}
.formtbl th,
.jobBox th {
	display:block;
	margin: 0 auto
}
.formtbl th {
	background: #fff1f1 !important;
}
.jobBox th {
	background: #E6D1D9;
}
.formtbl td,
.jobBox td {
	display:block;
	margin:0;
	padding: 0.25em;
}
.ind,
.any {
	padding: 5px;
	color: #fff;
	border-radius: 3px;
	margin: 5px;
	display: inline-block;
}
.ind {
	background: #DE8686;
}
.any {
	background: #688cc3;
}
.formtbl input.wpcf7-date {
	width: 60%;
}
.formtbl input {
	max-width: 80%;
	margin: 5px 10px 10px 5px;
}
.formtbl text {
	max-width: 50%;
	margin: 5px 10px 10px 5px;
}
.formtbl textarea.wpcf7-textarea {
	width: 97% !important;
	margin: 5px 10px 10px 5px;
}
.btn_form {
	text-align: center;
}
.btn_form input[type="submit"],
.btn_form input[type="button"] {
    border: none;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: bold;
    text-decoration: none;
}
.wpcf7-confirm,
.wpcf7-submit,
.wpcf7-back {
    width: 30%;
    margin: 1em;
    border-radius: 4px;
    color: #fff;
    text-align: center;
}
.wpcf7-confirm, .wpcf7-submit {
	background-color: #b6859a !important;
}
.wpcf7-back, .btn_home {
    background-color: #999999 !important;	
}
.jobBox {
	border: 8px solid #E6D1D9;
	padding: 1em;
	margin-top: 25px;
}
.jobTitle {
	border-bottom: 1px dotted #896D26;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
}
.jobTitle02 {
	position: relative;
	color: #111;
	margin: 1.5em 0 1.5em;
	padding: 0.5em 0.5em 0.5em 1.7em;
	border-bottom: 2px solid #B92A2C;
}
.jobTitle02:before {
	content: "";
	position: absolute;
	background: #d48789;
	top: 0;
	left: 0.4em;
	height: 12px;
	width: 12px;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
.jobTitle02:after {
	content: "";
	position: absolute;
	background: #d26466;
	top: 1.0em;
	left: 0;
	height: 8px;
	width: 8px;
	transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
}
.rsv-thx {
	text-align: center;
    color: brown;
}

/* ここまで */


/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxContent a { font-weight: bold; display: block; font-size: 0.875em; padding: 0 0 1em;}
#cboxContent p { margin: 0 0 0.75em;}
#cboxOverlay{background:#fff; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxTopLeft{width:25px; height:25px; background:url(../../uploads/img/border1.png) no-repeat 0 0;}
    #cboxTopCenter{height:25px; background:url(../../uploads/img/border1.png) repeat-x 0 -50px;}
    #cboxTopRight{width:25px; height:25px; background:url(../../uploads/img/border1.png) no-repeat -25px 0;}
    #cboxBottomLeft{width:25px; height:25px; background:url(../../uploads/img/border1.png) no-repeat 0 -25px;}
    #cboxBottomCenter{height:25px; background:url(../../uploads/img/border1.png) repeat-x 0 -75px;}
    #cboxBottomRight{width:25px; height:25px; background:url(../../uploads/img/border1.png) no-repeat -25px -25px;}
    #cboxMiddleLeft{width:25px; background:url(../../uploads/img/border2.png) repeat-y 0 0;}
    #cboxMiddleRight{width:25px; background:url(../../uploads/img/border2.png) repeat-y -25px 0;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:20px;}
        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
        #cboxLoadingOverlay{background:#fff url(../../uploads/img/loading.gif) no-repeat 5px 5px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
        #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
        #cboxClose{position:absolute; bottom:0; right:0; display:block; color:#444;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/* media */
.media section div:nth-child(2) {
    margin: 0 auto;
    min-width: 100px;
    width: 20%;
	text-align: center;
}

.media section div {
    display: block;
}

.media section div:nth-child(3) {

}

.media_date_cate {
	display: block;
	margin: 5% auto;
}

.media_cat {
    color: #fff;
    margin: 0 1em;
    padding: 0.2em 1em;
    text-align: center;
    vertical-align: middle;
}

.media3 {
    background: #b39c8d none repeat scroll 0 0;
}

.media1 {
    background: #ea676c none repeat scroll 0 0;
}

.media2 {
    background: #72c0c5 none repeat scroll 0 0;
}

.taR {
    text-align: right;
}

.btn_type01 {
    background: #b3a072 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    padding: 5px 24px 4px 12px;
    position: relative;
    text-decoration: none;
}

.btn_type01::after {
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 4px 0 4px 6px;
    content: "";
    height: 0;
    margin-top: -3px;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 0;
}

/*Pagenation*/
.pagenation {
    margin: 1em 0;
}
.pagenation .prev, .pagenation .next {

}
.pagenation:after, .pagenation ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.pagenation ul {
    margin: 0;
	align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    font-size: 0.8rem;
}
.pagenation li {
    list-style: none outside none;
    margin-left: 3px;
	flex-grow: 1;
}
.pagenation li:first-child {
    margin-left: 0;
}
.pagenation li.active {
    background-color: #999999;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: inherit;
    padding: 10px 20px;
}
.pagenation li a {
    background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 3px;
    color: #FFFFFF;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.pagenation li a:hover {
    background-color: #444444;
    color: #FFFFFF;
    opacity: 0.8;
    transition-duration: 500ms;
    transition-property: all;
    transition-timing-function: ease;
}

.media_all {
    text-align: right;
}

.media_all a{
    bottom: 6px;
    color: #806014;
    font-size: 12px;
    font-weight: normal;
    right: 0;
    text-decoration: none;
}




/* case_photo */

.case_photo_cate {
    display: flex;
    flex-wrap: wrap;
}

.case_photo li {
    text-align: center;
	padding: 0.5rem 0 0 0;
}

.case_photo li h4 {
    text-align: left;
	padding: 0 0 0.2rem 0;
}

.case_photo_cate li {
    background-color: #ddd;
    flex-basis: 20%;
    flex-grow: 3;
    margin: 5px;
    padding: 10px;
    text-align: center;
}


.case_photo_cate li.case_photo_cate_skin, .case_photo_cate li.case_photo_cate_surgery {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid;
    display: block !important;
    flex-basis: unset;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.link.op_name_cate_skin {
    display: none;
}

.case_photo form div:last-child {
    width: 20%;
}
.case_photo form div {
    display: block;
    margin: 0 auto 5%;
    width: 90%;
}

.case_photo form div select {
    width: 95%;
}

.case_photo form p {
    margin: 0;
}

.case_photo form div:last-child input {
    width: 100%;
}

.case_photo form div:last-child {
    margin: 0 auto;
    width: 80%;
}
.case_photo_recommends  {
    padding: 1%;
}
.case_photo_recommends h2 span {
    float: right;
    color: #fff;
}
.case_photo_recommends h2:after {
    clear:both;
}
.case_photo_recommends h3 {
    text-align: left;
}

.case_photo_recommends > section {
    display: block;
    margin: 0 1%;
    width: auto;
}

.case_photo .case_pt_detail {
    text-align: right;
}

.case_pt_relations > a {
    display: block;
    margin: 0 0 1rem;
    width: 100%;
}


/* content-single_photo */
.case_pt_link_cate, .case_pt_link_op {
    margin: 1rem 0;

}

.case_pt_link_cate > a, .case_pt_link_op a, .case_pt_link li a {
    background-color: #ede3cb;
    border-radius: 10px;
    padding: 0.5rem;
}

.case_pt_link_cate > a {
    display: inline-block;
    margin: 0 0 1.75em 1.25em;
}

.case_pt_link_op li, .case_pt_link li {
    display: inline-block;
    margin: 0 0.5rem 1.5rem 0;
}

.case_pt_link_op a::before, .case_pt_link .case_pt_link_cate > a::before {
    content: "●";
}
.case_pt_link li a::before {
    content: "・";
}

.case_pt_relations ul {
    margin: 0;
}

.case_pt_relations li {
    text-align: center;
}



/* questionnaire */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
.star-ratings-sprite {
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}
.star-ratings-sprite-rating {
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}

.questionnaire_img, .questionnaire_txt {
    display: block;
	width: 100%;
	padding: 1rem;
    vertical-align: top;
	font-size: 0.8rem;
}

.questionnaire_img {
    text-align: center;
}

.questionnaire_txt h4 {
    color: #7D5B0D;
    border-bottom: #7D5B0D solid 1px;
    font-size: 1rem;
	margin-bottom: 1rem;
}

.questionnaire section h3 {
    position: relative;
}

.questionnaire_stars {
    display: block;
}

.questionnaire_stars p, .questionnaire_stars div {
    display: inline-block;
    margin: 0;
    vertical-align: top;
	padding-left: 0;
}
/* questionnaire single*/
.graf li {
    margin: 0 0 1rem 0;
    font-size: 0.8rem;
}
.single_questionnaire .entry-content {
    margin: 2em 0;
}
.questionnaire_txt p {
    padding: 0;
	margin: 0;
}

/**
 * 14.1 - >= 710px
 */

@media screen and (min-width: 44.375em) {
	
	/* header */
	.site-header {
    /*padding: 0 3.9375em 7.6923%;*/
	padding: 0 3.9375em 0.75em;
	}
	
	.site {
		margin: 0 auto;
		max-width: 1040px;
		width: 80%;
		background-color: rgba(0, 0, 0, 0);
	}
	.header-image {
    background-attachment: scroll;
    background-position: center center;
    background-repeat: repeat;
    background-size: contain;
	}
	
	/* sidebar */
	.sidebar, .widecolumn {
		margin-bottom: 5.25em;
		/*padding-right: 7.6923%;*/
	}

	/* home */
	article.home h3{
		border-bottom: 1px solid #907636;
		color: #907636;
		font-size: 1em;
		font-weight: bolder;
		background:none;
		padding: 0;
	}
	#top_media{
		display:block;
	}
	#top_news {
		padding: 0 0.5em;
	}	

	#top_mainmenu li {
	display: inline-block;
	width: 32.5%;
	vertical-align: top;
	padding: 0 0.2rem;
	}
	
	#top_information,#top_mainmenu,#top_media {
		padding: 1em 1em 0 1em;
	}
	
	/* menu */

	.type-page {
		font-size: 0.75em;
	}
	.type-page:not(.home) {
		padding: 1rem 1rem 2rem;
	}
	.menu_page .entry-header, .category_page .entry-header,.archive_menu .entry-header{
		margin: 0.5em 0.25em;
	}
	
	.menu_whatis_btx > div:nth-child(2) {
		max-width: 200px;
		width: 30%;
		display: inline-block;
	}
	
	.menu_whatis_btx > div {
		display: inline-block;
		vertical-align: top;
		width: 69%;
	}
	
	.arrow_box {
		width: 80%;
	}

	/* about */
	.about_clinic h2 {
		font-size: 2em;
	}
	.clinic_sub div {
		display: table-cell;
	}
	table.cdetails th {
		width: 30%;
		font-size: 15px;
	}
	.doctor_next {
		font-size: 1em;
	}
	
	/* sitemap */
	.sitemap > .page_item a {
		font-size: 1.5em;
	}
	.children > .page_item a {
		font-size: 1.3em;
	}
	ul.sitemap_sub {
		margin-left: 2em;
	}
	ul.sitemap_sub li.sitemap_catettl {
		font-size: 1.3em;
	}
	ul.sitemap_sub > li {
		font-size: 1.3em;
		margin: 0.8339em;
	}
	
	ul.sitemap_sub li {
		margin: 0.5em;
	}
	
	/* dr紹介　固定ページ */
	.drprof_inbox {
		display: table;
	}
	.drprof_inbox .drphoto,
	.drprof_inbox .drtable　{
		display: table-cell;
	}
	.drprof_inbox .drphoto {
		padding: 1em 1em 1em 0;
	}
	.switch {
		cursor:default;
	}
	.switch:after {
		content: none;
	}
	.switch.open:after {
		content: none;
	}
	
	/* access */
	.access_page h2 {
		font-size: 1.6em!important;
	}

	/* flow */	
	.flow_steps > div {
		display: inline-block;
		vertical-align: top;
		width: 74%;
	}

	.flow_steps > img {
		margin-left: 1%;
		width: 24%;
		display: inline-block;
	}
	
	
	/* questionnaire single*/
	.graf li {
		position: relative;
		margin: 1rem;
	}
	
	.graf li div {
    display: inline-block;
	}
	
	.graf .star-ratings-sprite {
		position: absolute;
		margin: 0 0px 0 auto;
		right: 0;
	}
	
	#menu_questionnaires .arrow_box, .questionnaires_doctor_comment .arrow_box {
		width: 83%;
	}
	
}

/**
 * 14.3 - >= 910px
 */

@media screen and (min-width: 56.875em) {
	
	.visiblePc{display:block;}
	.visibleSp{display:none;}
	
	article section p {
		padding: 0 ;
	}
	
	
	/* header */
	.header-sub {
		display:table;
		position: absolute;
		top: 35px;
		right: 0;
	}
	.header-sub a {
		display: table-cell;
		padding: 0 0 0 1em;
		font-size: 0.8em;
	}
	.site-header-main .site-branding {
		text-align: left;
	}
	/* footer*/
	#footer-info {
		margin: 1em auto !important;
		text-align: center;
	}
	
	.site-header {
    /*padding: 1.25em 4.5455%;*/
	padding: 1.25em 4.5455% 0;
	}
	#pan {
		padding: 10px 0;
	}

	#top_pickup h4 , #top_mainmenu h4{
		font-size: 1em;
	}
	#top_pickup p,#top_mainmenu p {

		font-size: 1em;
	}
	.content-area {
		float: right;
		margin-left: 0;
		margin-right: 0;
		width: 74%;
	}
	
	.sidebar {
		float: left;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		/*padding: 1rem 0 0 0;*/
		width: 25%;
	}
	
	.main-navigation .primary-menu > li {
		display: inline-block;
	}
	
	.main-navigation .primary-menu, .main-navigation .primary-menu > li {
		border: 0 none;
		text-align: center;
		float: none;
		margin: 0 0.5rem;
	}
	.main-navigation a {
		padding: 0.84375em 0;
	}
	.site-header-menu {
		width: 100%;
		margin-bottom: 0;
	}
	
	.site-header-main .site-branding {
		margin: 0 auto 0 0;
	}
	
	.site-header .sp_call {
		display: none;
	}
	
	.custom-logo {
		max-width: 240px;
	}
	
	.site-header-main {
		padding: 0 1em;
		background-color: #fff;
		position: inherit;
		top: 0;
		z-index: 9999;
	}
	
	/* sidebar */
	.execphpwidget > a {
    display: block;
	text-align: center;
	width:auto;
	}
	
	#instagram .insta_header, #instagram img, #instagram-embed-0 {
		margin: 0 !important;
	}
	
	#top_mainmenu li div:first-child {
		display: block;
		margin: 0 auto;
		max-width: 100px;      m 
		width: auto;
	}

	#top_mainmenu li div {
		display: inline-block;
		vertical-align: top;
		width: auto;
	}

	#top_information > div {
		width: 24%;
	}
	
	/* menu */
	#menu_solutions h3,
	.entry-content h3 {
		background-color: #B6859A;
		border-radius: 23px;
		color: #fff;
		display: inline-block;
		font-size: 1em;
		letter-spacing: 0.1em;
		margin: 0.5em 0;
		padding: 0.25em 1em;
	}
	
	/* menu　category */
	.tax-menu_category .category_page ul li.menu_to_link, .archive_menu .archive_menu_children >div{
		background-color: #fff;
		display: inline-block;
		margin: 1% 0 1em 1%;
		padding: 1em;
		vertical-align: top;
		width: 32%;
	}
	.cstm_menucate {
		display: table;
	}
	.tax-menu_category .category_page li.menu_to_link img{
			margin: 0 auto;
			display: block;
			width: auto;
	}
	.tax-menu_category .category_page li.menu_to_link h3,.archive_menu_parent .archive_menu_children h3 {
		border-bottom: 3px solid #dbdbdb;
		font-size: 1em;
	}
	.tax-menu_category .category_page > ul, .archive_menu .archive_menu_children {
		padding: 1rem;
	}
	.archive_menu_parent .archive_menu_children > div > img {
		margin: 0 auto;
		display: block;
		width: auto;
	}
	.archive_menu_parent .archive_menu_children > div p {
		display: block;
		width: auto;
	
		margin: 0;
		padding-right: 0;
	}
		
	
	
	/* dr紹介　固定ページ */
	.drprof_inbox {
		display: table;
	}
	.drprof_inbox .drphoto,
	.drprof_inbox .drtable　{
		display: table-cell;
	}
	.drprof_inbox .drphoto {
		padding: 1em 1em 1em 0;
	}
	.switch {
		cursor:default;
	}
	.switch:after {
		content: none;
	}
	.switch.open:after {
		content: none;
	}

	
	/* media */
	.media section > div:nth-child(2) {
		margin: 0 5%;
		width: 15%;
	}
	.media section > div {
		display: inline-block;
		vertical-align: top;
	}
	.media section > div:nth-child(3):not(.taR) {
		width: 66%;
	}
	.media_date_cate {
	margin: 0 0 1.75em;
	}
	
	/* case_photo */
	
	.case_photo form div:last-child {
		width: 15%;
	}
	.case_photo form div {
		display: inline-block;
		width: 40%;
	}
	
	.case_photo_recommends > section {
		display: inline-block;
		margin: 0 1%;
		vertical-align: top;
		width: 47%;
	}
	
	/* single case_photo */
	.case_pt_relations > a {
		display: inline-block;
		margin: 0 0.5% 3%;
		vertical-align: top;
		width: 48%;
	}

	/* questionnaire */
	.questionnaire_img, .questionnaire_txt {
		display: inline-block;
		padding: 1rem 0;
		vertical-align: top;
	}
	
	.questionnaire_img{
		width: 30%;
	}
	
	.questionnaire_txt {
		width: 69%;
	}
	
	.single_questionnaire .questionnaire_img, .single_questionnaire .questionnaire_txt{
		display: block;
		width: 100%;
		padding: 1rem 0;
	}
	

	.questionnaire_img {
		text-align: left;
	}
	
	.questionnaire_txt .questionnaire_stars {
		margin-left: auto;
		display: inline-block;
		margin-right: 0px;
		right: 0;
	}
	
	.questionnaire_txt .questionnaire_stars {
		display: block !important;
	}
	
	.single_questionnaire .questionnaire_stars {
		position: static;
	}
	
	#menu_questionnaires .arrow_box, .questionnaires_doctor_comment .arrow_box {
		width: 83%;
	}
	

}

/**
 * 14.4 - >= 985px
 */
@media screen and (min-width: 61.5625em) {

	.site-header {
		/*padding: 1.25em 0;*/
		padding: 1.25em 0 0 0;
	}
	.main-navigation a {
		padding: 0.84375em 0;
	}
	.header-image {
		padding: 0;
	}
	#top_pickup h4 , #top_mainmenu h4{
		font-size: 1em;
	}
	#top_pickup p,#top_mainmenu p {

		font-size: 1em;
	}
	/* menu */
	.menu_btx_recomend img:not(:first-child) {
		margin: 1em auto;
		width: 30%;
	}

	#menu_explanation div {
		display: block;
	}
	.menu_explanation_txt {
		margin-right: 0;
		width: 100%;
	}
	
	.menu_explanation_image {
    text-align: inherit;
	margin: 0 auto;
	text-align: center;
	}
	
	.cstm_menucate {
		display: table;
	}

	/* dr紹介　固定ページ */
	.drprof_inbox {
		display: table;
	}
	.drprof_inbox .drphoto,
	.drprof_inbox .drtable　{
		display: table-cell;
	}
	.drprof_inbox .drphoto {
		padding: 1em 1em 1em 0;
	}
	.switch {
		cursor:default;
	}
	.switch:after {
		content: none;
	}
	.switch.open:after {
		content: none;
	}
	
}



/**
 * 14.5 - >= 1200px
 */

@media screen and (min-width: 75em) {
	
	.main-navigation a {
		padding: 0.84375em 0;
	}
	#top_pickup h4 , #top_mainmenu h4{
		font-size: 1em;
	}
	#top_pickup p,#top_mainmenu p {

		font-size: 1em;
	}


	#top_mainmenu li div:first-child  {
		max-width: 80px;
		width: 40%;
		display: inline-block;
	}
		
	 #top_mainmenu li div{
		display: inline-block;
		vertical-align: top;
		width: 53%;
	}
	
	/* menu */
	#menu_solutions li {
		display: inline-block;
		margin-bottom: 0.25em;
		vertical-align: top;
		width: 49%;
	}
	
	#menu_explanation div:not(.menu_explanation_more_image) {
    display: inline-block;
    vertical-align: top;
	}
	
	.menu_explanation_image {
		max-width: 153px;
		text-align: inherit;
		width: 31%;
	}
	
	.menu_explanation_txt {
		margin-right: 2%;
		width: 70%;
	}
	
	.cstm_menucate {
		display: table;
	}
	
	/* TOP page slider*/	
	#top_pickup li div {
    margin: 0 auto;
    width: 70%;
	}
	
	/* dr紹介　固定ページ */
	.drprof_inbox {
		display: table;
	}
	.drprof_inbox .drphoto,
	.drprof_inbox .drtable　{
		display: table-cell;
	}
	.drprof_inbox .drphoto {
		padding: 1em 1em 1em 0;
	}
	.switch {
		cursor:default;
	}
	.switch:after {
		content: none;
	}
	.switch.open:after {
		content: none;
	}

}

/**
 * 14.6 - >= 1300px
 */

@media screen and (min-width: 81.250em) {
	
	.main-navigation a {
		padding: 0.84375em 0;
	}
	
	#top_pickup h4 , #top_mainmenu h4{
		font-size: 1em;
	}
	#top_pickup p,#top_mainmenu p {

		font-size: 1em;
	}
	
	 #top_mainmenu li div{
		display: inline-block;
		vertical-align: top;
		width: 57%;
	}
	
	.cstm_menucate {
		display: table;
	}


	/* dr紹介　固定ページ */
	.drprof_inbox {
		display: table;
	}
	.drprof_inbox .drphoto,
	.drprof_inbox .drtable　{
		display: table-cell;
	}
	.drprof_inbox .drphoto {
		padding: 1em 1em 1em 0;
	}
	.switch {
		cursor:default;
	}
	.switch:after {
		content: none;
	}
	.switch.open:after {
		content: none;
	}
	
	/* reservation recruit */
	.formtbl {
		width:100%;
	}
	.formtbl th,
	.jobBox th {
		width: 35%;
		display:table-cell;
		text-align: left;
		color: #c54578;
		font-weight: bold;
	}
	.formtbl th {
		color: #c54578;
		border-right: solid 1px #F8BBD7;
	}
	.jobBox th {
		color: #3e2c1f;
		border-right: solid 1px #d1d1d1;
	}
	.formtbl td,
	.jobBox td {
		width: 65%;
		display:table-cell;
		padding: 1em;
	}
	.btn_form input[type="submit"],
	.btn_form input[type="button"] {
		font-size: 1.2em;
	}
}