@charset "UTF-8";
/*
	./_mailformpro.css/default/01.mailformpro.css
	./_mailformpro.css/default/02.base.css
	./_mailformpro.css/default/03.label.css
	./_mailformpro.css/default/04.confirm.css
	./_mailformpro.css/default/05.confirm.flat.css
	./_mailformpro.css/default/06.confirm.overlay.css
	./_mailformpro.css/default/07.loading.css
	./_mailformpro.css/default/08.stripe.css
	./_mailformpro.css/default/09.error.css
	./_mailformpro.css/default/10.warning.css
	./_mailformpro.css/default/11.price.css
	./_mailformpro.css/default/12.phase.css
	./_mailformpro.css/default/13.cart.css
	./_mailformpro.css/default/14.button.css
	./_mailformpro.css/default/15.element.css
	./_mailformpro.css/default/16.reserve.css
	./_mailformpro.css/default/17.ok.css
	./_mailformpro.css/default/18.prefadv.css
	./_mailformpro.css/default/99.animated.css
*/

body {
	overflow-x: hidden;
}
div#mfp_hidden {
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0px;
	margin: 0px;
}
div#mfp_hidden input {
	margin: 10px;
}
div.mfp_thanks {
	padding: 30px;
}
div.mfp_thanks p {
	line-height: 1.7em;
}
div.mfp_thanks ul.mfp_caution {
	margin: 0px;
	padding: 0px;
}
div.mfp_thanks ul.mfp_caution li {
	display: block;
	color: #C00;
	margin: 0px;
	padding: 5px 0px;
}
div#mfp_thanks {
	text-align: center;
	font-size: 18px;
	padding: 20px 0px;
}
div#mfp_thanks strong {
	color: #C00;
	font-size: 24px;
}
form#mailformpro {
	padding: 10px 0px;
}

form#mailformpro table {
	border: 1px solid #cccccc;
	margin: 0 auto 20px;
	padding: 10px;
	width: 940px;
	font-size:1.2em;
}
form#mailformpro table tr th {
	background: #f5f5f5 none repeat scroll 0 0;
	border: 1px solid #cccccc;
	color: #333;
	font-weight: bold;
	padding: 15px;
	width: 245px;
	vertical-align:middle;
}

form#mailformpro table tr th.required{
	background: url(../../img/ico01.gif) no-repeat 15px center #f5f5f5;
}
form#mailformpro table tr th.option{
	background: url(../../img/ico02.gif) no-repeat 15px center #f5f5f5;
}

form#mailformpro table tr th p{
	margin-left:70px;
}
form#mailformpro table tr th span {
	vertical-align:middle;
	margin-right:10px;
	line-height:0;
}
form#mailformpro table tr th img{
	vertical-align:middle;
	line-height:0;
}
form#mailformpro table tr td {
	background: #fff none repeat scroll 0 0;
	border-bottom: 1px solid #cccccc;
	color: #333;
	padding: 15px;
}

form#mailformpro dl dt {
	float: left;
	width: 150px;
	clear: both;
	font-size: 12px;
	padding: 10px 0px;
	text-align: right;
	border-top: solid 1px #CCC;
	margin: 0px;
}
form#mailformpro dl dd {
	border-top: solid 1px #CCC;
	margin: 0px;
	padding: 10px 5px 10px 160px;
	font-size: 12px;
	line-height: 1.5em;
	text-align: left;
}
form#mailformpro dl dd ul,form#mailformpro dl dd ol {
	margin: 0px;
	padding: 0px;
}
form#mailformpro dl dd ul li,form#mailformpro dl dd ol li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.must {
	display: block;
	background-color: #C00;
	border: solid 2px #C00;
	text-shadow: 0px 1px 2px #933;
	padding: 2px 5px;
	font-size: 10px;
	color: #FFF;
	float: left;
	margin: 0px 5px;
	border-radius: 4px;
	box-shadow: 0px 0px 5px #CCC;
	background-image: url(images/header.png);
	background-size: 100% 100%;
}
form#mailformpro label {
	border-radius: 3px;
	margin: 3px;
	display: inline-block;
}
form#mailformpro label.mfp_checked {
	padding: 3px;
	border: solid 1px #CCC;
	background-color: #E8EEF9;
}
form#mailformpro label.mfp_not_checked {
	padding: 3px;
	border: solid 1px #EEE;
}
table#mfp_confirm_table {
	border: 1px solid #cccccc;
	margin: 0 auto 20px;
	padding: 10px;
	/*width: 940px;*/
	width: 640px;
	font-size:1.2em;
}
/*table#mfp_confirm_table tr.mfp_colored {
	background-color: #F6F7F9;
}
table#mfp_confirm_table tr.mfp_achroma {
	background-color: #FFF;
}*/
table#mfp_confirm_table tr th,table#mfp_confirm_table tr td {
	/*text-align: left;
	font-size: 12px;
	border-top: solid 1px #CCC;
	padding: 5px 10px;*/
}
table#mfp_confirm_table tr th {
	background: #f5f5f5 none repeat scroll 0 0;
	border: 1px solid #cccccc;
	color: #333;
	font-weight: bold;
	padding: 15px;
	/*width: 245px;*/
	width: 220px;
}
table#mfp_confirm_table tr td {
	background: #fff none repeat scroll 0 0;
	border-bottom: 1px solid #cccccc;
	color: #333;
	padding: 15px;
	text-align:left;
}
div#mfp_phase_confirm {
	clear: both;
}
div#mfp_phase_confirm h4 {
	font-size: 28px;
	padding: 10px 0px 0px 0px;
	text-align: center;
	line-height:1.2;
	margin-bottom:30px;
}
div#mfp_overlay {
	position: absolute;
	display: none;
	z-index: 10001;
}
div#mfp_overlay_inner {
	background-color: #FFF;
	padding: 15px;
	margin: 0px auto;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #000;
	width: 640px;
	max-width: 90%;
}
div#mfp_overlay_background {
	background-color: #000;
	position: absolute;
	display: none;
	z-index: 10000;
}
div#mfp_loading_screen {
	z-index: 20000;
	opacity: 0.8;
	display: none;
	background-color: #000;
	position: absolute;
}
div#mfp_loading {
	z-index: 20001;
	position: absolute;
	display: none;
	width: 40px;
	height: 40px;
	background-image: url(images/mfp_loading.gif);
}
.mfp_colored {
	background-color: #F6F7F9;
}
.mfp_achroma {
	background-color: #FFF;
}
div.mfp_err {
	clear: both;
	display: none;
	text-align: left;
	margin: 5px 0px 0px 0px;
	padding: 3px 0px 5px 17px;
	color: #F00;
	font-size: 12px;
	line-height: normal;
	background-image: url(images/mfp_error.gif);
	background-repeat: no-repeat;
	background-position: 0px 1px;
}
.mfp_parent_error {
	border: solid 2px #F00;
}
.problem {
	background-color: #FCC;
}
div#mfp_error {
	background-color: #FEE;
	border: solid 1px #F00;
	padding: 10px;
	display: none;
}
div#mfp_error p {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	text-align: center;
}
div#mfp_error p strong {
	font-size: 18px;
	color: #F00;
}
div#mfp_warning {
	background-color: #FEE;
	border: solid 1px #F00;
	padding: 10px;
	display: none;
}
div#mfp_warning p {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	text-align: center;
}
div#mfp_warning p strong {
	font-size: 18px;
	color: #F00;
}
div#mfp_price {
	color: #C00;
	font-size: 36px;
	padding: 10px;
	font-weight: bolder;
}
div#mfp_price span {
	color: #666;
	font-size: 12px;
	font-weight: normal;
}
button.mfp_next,button.mfp_prev {
	font-size: 18px;
	margin: 10px;
	padding: 5px 10px;
}
button.mfp_next {
	float: right;
}
button.mfp_prev {
	float: left;
}
ul#mfp_phase_stat {
	padding: 10px;
}
ul#mfp_phase_stat li {
	float: left;
	padding: 8px 15px;
	border-radius: 3px;
	margin: 5px;
	list-style: none;
	font-size: 14px;
}
ul#mfp_phase_stat li.mfp_phase_arrow {
	bos-shadow: none;
	padding: 8px 5px;
}
ul#mfp_phase_stat li.mfp_active_phase {
	background-color: #E8EEF9;
	box-shadow: 0px 0px 5px #000;
}
ul#mfp_phase_stat li.mfp_inactive_phase {
	background-color: #CCC;
	color: #666;
	box-shadow: 0px 0px 5px #CCC;
}
div#mfp_shopping_cart {
	border: solid 1px #CCC;
	margin: 0px;
	padding: 0px;
}
div#mfp_shopping_cart p {
	margin: 0px;
	text-align: center;
	padding: 20px 10px;
	font-size: 12px;
	background-color: #FEE;
}
table.mfp_shoppingcart {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
}
table.mfp_shoppingcart thead tr td {
	background-color: #EEE;
	border-bottom: solid 1px #CCC;
	text-align: center;
	font-size: 12px;
	padding: 5px;
}
table.mfp_shoppingcart tbody tr th,table.mfp_shoppingcart tbody tr td {
	font-size: 12px;
	padding: 5px;
	border-bottom: solid 1px #CCC;
}
table.mfp_shoppingcart tbody tr td select {
	display: block;
	margin: 0px auto;
	text-align: center;
}
table.mfp_shoppingcart tbody tr td select option {
	text-align: center;
}
table.mfp_shoppingcart tbody tr th span {
	display: block;
	font-weight: normal;
	font-size: 10px;
	color: #666;
	padding: 3px 0px;
}
table.mfp_shoppingcart tfoot tr td {
	padding: 5px;
	font-size: 16px;
	font-weight: bolder;
	color: #900;
}
td.msc_price {
	font-size: 12px;
	text-align: right;
}
div.mfp_buttons {
	clear: both;
	padding: 10px 0px;
	text-align: center;
}
div.mfp_buttons button#mfp_button_cancel {
}
.imagebutton {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	background: none;
}
.mfp_element_all {
	max-width: 100%;
}
/*.mfp_element_text,
.mfp_element_number,
.mfp_element_select-one,
.mfp_element_email,
.mfp_element_tel,
.mfp_element_textarea {
	border: solid 1px #CCC;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #CCC inset;
	padding: 3px 8px;
	margin: 2px;
	vertical-align: middle;
}*/
.mfp_element_submit{
	/*border-radius: 5px;
	padding: 5px 10px;
	border: solid 1px #CCC;
	background: gradient(linear, center top, center bottom, from(#FEFEFE), to(#DEDEDE));
	background: -webkit-gradient(linear, center top, center bottom, from(#FEFEFE), to(#DEDEDE));
	background: -moz-linear-gradient(top, #FEFEFE, #DEDEDE);
	background: -ms-linear-gradient(top, #FEFEFE 0%, #DEDEDE 100%);
	text-shadow: 0px 2px 0px #FFF;
	font-size: 24px;*/
	background:url(../../img/btn03_off.png) no-repeat;
	font-size:0;
	width:450px;
	height:76px;
	cursor: pointer;
	outline: none;
	border:none;
	margin:0 auto;
}
#mfp_button_send,#mfp_button_cancel{
	font-size:0;
	width:380px;
	height:76px;
	cursor: pointer;
	outline: none;
	border:none;
	display:block;
	margin:0 auto;
}
#mfp_button_send{background:url(../../img/btn04_off.png) no-repeat;}
#mfp_button_cancel{background:url(../../img/btn05_off.png) no-repeat;}
.mfp_element_reset {
	color: #333;
}
.mfp_element_submit:hover {
	/*background: gradient(linear, center top, center bottom, from(#F7F7F7), to(#7ECEF4));
	background: -webkit-gradient(linear, center top, center bottom, from(#F7F7F7), to(#7ECEF4));
	background: -moz-linear-gradient(top, #F7F7F7, #7ECEF4);
	background: -ms-linear-gradient(top, #F7F7F7 0%, #7ECEF4 100%);
	box-shadow: 0px 2px 15px #7ECEF4;*/
	background:url(../../img/btn03_on.png) no-repeat;
}
#mfp_button_send:hover{background:url(../../img/btn04_on.png) no-repeat;}
#mfp_button_cancel:hover{background:url(../../img/btn05_on.png) no-repeat;}

input#mfp_reserve_item,input#mfp_reserve_date {
	display: none;
}
div#mfp_reserve_wrapper {
	position: relative;
	overflow: hidden;
	border: solid 1px #CCC;
}
div#mfp_reserve_inner {
	position: relative;
	padding: 0px 0px 0px 100px;
	overflow: auto;
}
div#mfp_reserve_wrapper table {
	border-spacing: 0px;
	border-collapse: collapse;
}
div#mfp_reserve_wrapper table.mfp_reserve_table_label {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100px;
	background-color: #FEE;
	z-index: 100;
}
div#mfp_reserve_wrapper table.mfp_reserve_table_value {
	padding: 0px 0px 0px 0px;
}
div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_active,
div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_warning {
	cursor: pointer;
}
div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_active:hover,
div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_warning:hover {
	background-color: #E8EEF9;
}
div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_current {
	background-color: #0068B7;
	color: #FFF;
}
td.mfp_reserve_disabled {
	background-color: #CCC;
}
td.mfp_reserve_warning {
	background-color: #FFC;
}
div#mfp_reserve_wrapper table tr td,div#mfp_reserve_wrapper table tr th {
	border: solid 1px #CCC;
	padding: 0px 5px;
	font-size: 12px;
	text-align: center;
	font-family: Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	font-weight: normal;
	height: 20px;
	text-align: left;
}
td.mfp_reserve_week_0 {
	color: #F00;
	background-color: #FEE;
}
td.mfp_reserve_week_6 {
	color: #00F;
	background-color: #EEF;
}
div.mfp_ok {
	border-radius: 5px;
	background-color: #090;
	border: solid 1px #090;
	display: inline-block;
	line-height: 1.5em;
	padding: 0px 5px;
	margin: 0px 2px;
	color: #FFF;
	font-size: 10px;
	background-image: url(images/header.png);
	background-size: 100% 100%;
	display: none;
}
div.prefcodeWrapper {
	position: relative;
}
div.prefcodeResult {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 5px;
	border: solid 1px #CCC;
	background-color: #FFF;
	box-shadow: 0px 0px 5px #CCC;
	display: none;
}
div.prefcodeResult div {
	cursor: pointer;
}
div.prefcodeResult div:hover {
	background-color: #C9EBFB;
}
div.prefcodeResult div.prefcodeNext {
	background-color: #EEE;
	text-align: center;
}
div.prefLoading {
	padding: 60px 100px;
	background: url(images/mfp_zip_loading.gif) no-repeat center center;
}
.hidefield {
	height: 0px;
	overflow: hidden;
}
.showfield {
	height: auto;
	overflow: visible;
}


input[type="text"],input[type="email"],select{
	border: 1px solid #ccc;
	box-shadow: 2px 2px 2px 0 rgba(200, 200, 200, 0.2) inset;
	padding: 10px;
	width:220px;
}
input[type="text"],input[type="email"]{margin-right:15px;}
textarea {
	border: 1px solid #ccc;
	box-shadow: 2px 2px 2px 0 rgba(200, 200, 200, 0.2) inset;
	height: 103px;
	padding: 10px;
	width: 550px;
}

#mfp_overlay_inner h4{
	font-size:2.4em;
	margin-bottom:20px;
	border-bottom: 1px solid #ccc;
	border-top: 4px solid #2dbbff;
	padding:20px 0;
}