@charset "utf-8";
/* CSS Document */

/* =====================================
	COMMON.CSS - update:2014.03.05
	> NORMALIZE
	> OPTIMIZE
	> MULTIPLE CLASS
	> BASE DESIGN
======================================== */


/* normalize.css v3.0.0
---------------------------------------- */
body {margin: 0;color:#462C24;} article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;} audio,canvas,progress,video {display: inline-block; vertical-align: baseline;} audio:not([controls]) {display: none; height: 0;} [hidden],template {display: none;} a {background: transparent;} a:active,a:hover {outline: 0;} abbr[title] {border-bottom: 1px dotted;} b,strong {font-weight: bold;} dfn {font-style: italic;} h1 {font-size: 2em; margin: 0.67em 0;} mark {background: #ff0; color: #000;} small {font-size: 80%;} sub,sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;} sup {top: -0.5em;} sub {bottom: -0.25em;} img {border: 0;} svg:not(:root) {overflow: hidden;} figure {margin: 1em 40px;} hr {-moz-box-sizing: content-box; box-sizing: content-box; height: 0;} pre {overflow: auto;} code,kbd,pre,samp {font-family: monospace, monospace; font-size: 1em;} button,input,optgroup,select,textarea {color: inherit; font: inherit; margin: 0;} button {overflow: visible;} button,select {text-transform: none;} button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button; cursor: pointer;} button[disabled],html input[disabled] {cursor: default;} button::-moz-focus-inner,input::-moz-focus-inner {border: 0; padding: 0;} input {line-height: normal;} input[type="checkbox"],input[type="radio"] {box-sizing: border-box; padding: 0;} input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto;} input[type="search"] {-webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;} input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;} fieldset {border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em;} legend {border: 0; padding: 0;} textarea {overflow: auto;} optgroup {font-weight: bold;} table {border-collapse: collapse; border-spacing: 0;} td,th {padding: 0;}


/* OPTIMIZE
---------------------------------------- */
h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0;}
ol,ul {list-style-type: none; margin: 0; padding: 0;}
p {margin: 1em 0 0;}


/* MULTIPLE CLASS
---------------------------------------- */
.clearfix:before, .clearfix:after {content: ""; display: block;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}

.dB {display: block;} .dI {display: inline;} .dN {display: none;}
.fwB {font-weight: bold;} .fwN {font-weight: normal;}
.fL {float: left;} .fR {float: right;}
.taL {text-align: left;} .taR {text-align: right;} .taC {text-align: center;}
.m00 {margin: 0;}
.mT10 {margin-top: 10px;} .mT15 {margin-top: 15px;} .mT20 {margin-top: 20px;} .mT30 {margin-top: 30px;} .mT35 {margin-top: 35px;} .mT40 {margin-top: 40px;} .mT50 {margin-top: 50px;}
.mR10 {margin-right: 10px;} .mR15 {margin-right: 15px;} .mR20 {margin-right: 20px;} .mR30 {margin-right: 30px;}
.mB10 {margin-bottom: 10px;} .mB15 {margin-bottom: 15px;} .mB20 {margin-bottom: 20px;} .mB30 {margin-bottom: 30px;} .mB35 {margin-bottom: 35px;} .mB40 {margin-bottom: 40px;} .mB50 {margin-bottom: 50px;}
.mL10 {margin-left: 10px;} .mL13 {margin-left: 13px;} .mL20 {margin-left: 20px;} .mL30 {margin-left: 30px;}
.p00 {padding: 0;}
.pT10 {padding-top: 10px;} .pT20 {padding-top: 20px;} .pT30 {padding-top: 30px;}
.pR10 {padding-right: 10px;} .pR20 {padding-right: 20px;} .pR30 {padding-right: 30px;}
.pB10 {padding-bottom: 10px;} .pB20 {padding-bottom: 20px;} .pB30 {padding-bottom: 30px;}
.pL10 {padding-left: 10px;} .pL20 {padding-left: 20px;} .pL30 {padding-left: 30px;}
.mt43 {margin-top: 43px;}
.mT36 {margin-top: 36px;}
.mT80 {margin-top: 80px;}
.mT30 {margin-top: 100px;}
.mt8 {margin-top: 8px;}
.mB18 {margin-bottom: 18px;}
.mR45 {margin-right:45px;}
.mB45 {margin-bottom: 45px;}
.mT27B80 {margin-top: 27px;margin-bottom: 80px;}
.mB23 {margin-bottom: 23px;}
.mB40 {margin-bottom: 40px;}
.mT43B32 {margin-top: 43px;margin-bottom: 32px;}
.mT27B50 { display:block; margin:27px auto 50px;}
.mT27B50-2 {margin-top: 0px; margin-bottom: 0px;}
/* BASE DESIGN
---------------------------------------- */
body {font-family: 'Lucida Grande','segoe UI','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ','Meiryo',sans-serif; line-height: 1.5;}

a:link    {color:#462C24; text-decoration:none;}
a:visited {color:; text-decoration:;}
a:hover   {color:; text-decoration:;}
a:active  {color:; text-decoration:;}

/* header */
#header {}

/* footer */
#footer {}

/* container */
#container {}

/* main */
#main {}

/* sub */
#sub {}