.pageTitle{
margin-bottom: 50px;
border-bottom: 1px solid #c1b28d;
padding-bottom: 20px;
}

.now_status{
  margin-bottom: 30px;
}


.comfirm{
  margin: 30px auto 0 auto;
  text-align: center;
}

.comfirm_back{
  margin-right: 30px;
}

.thanks_img{
  text-align: center;
}