table, td{
  border: 1px solid #c1b28d;
}

td{
  padding: 10px 10px 10px 10px;
  vertical-align: middle;
}

label{
  display: inline-block;
}

.table-left img{
  vertical-align: top;
  margin-right: 8px;
}

.pageTitle{
margin-bottom: 50px;
border-bottom: 1px solid #c1b28d;
padding-bottom: 20px;
}

.contact-denwa{
  position: relative;
  margin-bottom: 40px;
}

.now_status{
  margin-bottom: 30px;
}

.table-left{
  background-color: #f7e6e2;
  width: 187px;
  vertical-align: middle;
}

.form_name_ex{
  font-size: 11px;
  color: #c1b28d;
  padding-left: 64px;
  margin-bottom: 10px;
}

.form_name_ex_last{
  margin-bottom: 0;
}

.form_ex{
  font-size: 11px;
  color: #c1b28d;
}

.comfirm{
  margin: 30px auto 0 auto;
  text-align: center;
}

.comfirm_back{
  margin-right: 30px;
}

