table, td{
  border: 1px solid #c1b28d;
}

td{
  padding: 10px 10px 10px 10px;
}

label{
  display: inline-block;
}

.table-left img{
  vertical-align: top;
  margin-right: 8px;
}

.pageTitle{
margin-bottom: 20px;
}

.sub_title{
margin-bottom: 28px;
}

.contact-denwa{
  position: relative;
  margin-bottom: 40px;
}

.denwa-2{
position: absolute;
top: -94px;
right: 24px;
}

.now_status{
  margin-bottom: 30px;
}

.table-left{
  background-color: #f7e6e2;
  width: 187px;
  vertical-align: middle;
}

.form_name_ex{
  font-size: 11px;
  color: #c1b28d;
  padding-left: 64px;
  margin-bottom: 10px;
}

.form_name_ex_last{
  margin-bottom: 0;
}

.form_ex{
  font-size: 11px;
  color: #c1b28d;
}

.comfirm{
  margin: 30px auto 0 auto;
  text-align: center;
}

/*form*/

#name{
width: 314px;
}

.name-title{
  width: 60px;
}

#name_sub{
width: 314px;
}

#post-1{
  width: 50px;

}

#post-2{
  width: 60px;
}

#id{
  width: 340px;
}

#address{
  width: 340px;
}

#tel{
  width: 160px;
}

#mail{
  width: 340px;
}

.prefe{
  width: 60px;
  margin-bottom: 14px;
}

.address-title{
  width: 64px;
}

.t-1{
padding-top: 0px;height: 84px;vertical-align: center;}

.t-2{

}

.t-3{

}

.t-4{

}

.t-4 img{
  vertical-align:-10px;
}

.t-5{

}

.line-2{
  padding-left: 34px;
}