@charset "utf-8";

/******************************************************************** structure
*/

a:link{color:#F39;}
a:visited{color:#F39;}
a:hover{color:#90C;}

.wrapper { width: 1000px; text-align: left; margin: 0 auto;}

#container {text-align:left;}

#footer {clear: both;}

/******************************************************************** header
*/

#header {
	position:relative;
	z-index:99;
	width:100%;
	padding:13px 0 14px;
}
h1{
	float:left;
	line-height:0;
	padding-top:9px;
}

.catch{
	background:url(../img/bg_catch.jpg) no-repeat center top;
	line-height:0;
}

/******************************************************************** container
*/

#container{
	text-align: left;
	background:url(../img/bg_body.jpg) repeat-X center top #004BA8;
	padding-top:40px;
	margin:0 auto;
	font-size:1.2em;
	line-height:1.4em;
}
#container .wrapper{
	background:url(../img/bg_container.jpg) no-repeat center top #FFF;
	padding-top:35px;
	position:relative;
}
#container .wrapper h2{
	line-height:0;
	position:relative;
	margin-left:-21px;
	margin-bottom:28px;
}

#container .section{
	padding:0 30px 60px;
}
#container .section02{
	padding:30px 30px 60px;
}

#container .section02 h5{
	background:#FFF;
	color:#B80C0C;
	font-size:1.4em;
	padding:25px 30px;
	border-bottom:#B80C0C 2px solid;
}

.contactBox{
	background:url(../img/bg_contact.jpg) no-repeat center top;
	margin:0 auto 60px;
	width:846px;
	line-height:0;
	/*padding:28px 60px 30px 51px;*/
	padding:28px 60px 30px 34px;
}
.contactBox .fR{padding-top:11px;}

#container h3{
	border-top:#006CF0 4px solid;
	border-bottom:#CCC 1px solid;
	padding:30px;
	line-height:0;
	margin-bottom:30px;
}
#container h3.mb00{
	margin-bottom:0;
}
#container h4{
}

/******************************************************************** globalNav
*/

#globalNav {}


/******************************************************************** footer
*/

#footer{
	font-size:1.2em;
	color:#FFF;
	text-align:center;
	padding:40px 0;
}

#footer a:link{color:#F90; text-decoration:none;}
#footer a:visited{color:#F90; text-decoration:none;}
#footer a:hover{color:#FC0; text-decoration:underline;}

#footer #copy { letter-spacing: 0.05em;}

.pageTop { text-align: right;}