@charset "utf-8";

@import url(foundation.css);


/* ==========================================================

	header・footer

========================================================== */
body { line-height:1.5; }
.wrapper { width:1280px; margin-right:auto; margin-left:auto;}

a:hover { opacity:0.8; filter:alpha(opacity=80);}

p,
ul,
ol { margin-bottom:1.5em;}

p:last-child,
ul:last-child,
ol:last-child { margin-bottom:0;}


.pc_none { display:none;}



/* header
===========================================================*/
header h1 {
	float:left;
	padding-top:26px;
}

header h1 a:hover { opacity:1.0; filter:alpha(opacity=100);}

header .__area {
	float:right;
	text-align:right;
}

header .__area > a,
header .__area > div { float:right; margin-left:20px;}

header .__area .__tel {
	padding-top:20px;
	font-family:"Times New Roman", Times, serif;
	font-size:36px;
	line-height:1.0;
}




/* footer
===========================================================*/
footer {
	padding-top:36px; padding-bottom:36px;
	text-align:center;
	font-size:12px;
}



/* 反応装置
===========================================================*/
.induce {
	width:1000px; height:316px;
	margin-right:auto; margin-left:auto;
	position:relative;
}

.induce a { position:absolute; left:37px; top:132px;}

.induce_o {
	width:1000px;
	margin-top:80px; margin-right:auto; margin-left:auto;
	text-align:center;
}



/* 背景
===========================================================*/
.__bg {	background:url(../img/bg_170513.png) no-repeat;}










/* ==========================================================

	メインビジュアル

========================================================== */
.__mv {
	width:100%; height:860px;
	overflow:hidden;
	position:relative;
}

.__mv .__photo {
	position:absolute; left:50%; top:0;
	margin-left:-1400px;
}

.__mv .__img {
	position:absolute; left:50%; bottom:0;
	margin-left:-376px;
}






/* ==========================================================

	メインコンテンツ

========================================================== */
main { text-align:center;}


/* .__questionnaire
===========================================================*/
.__questionnaire {
	width:1000px;
	margin:50px auto 60px;
	padding-bottom:10px;
	position:relative;
}

.__questionnaire a {
	position:absolute; right:44px; bottom:0;
}


/* .__dissolve
===========================================================*/
.__dissolve {
	margin-top:40px;
	padding-bottom:50px;
	position:relative;
}

.__dissolve .__arr {
	position:absolute; left:50%; bottom:-108px;
	z-index:10;
	margin-left:-358px;
}



/* .__proposal
===========================================================*/
.__proposal {
	width:1000px;
	margin-right:auto; margin-top:52px; margin-left:auto;
	padding:47px 58px 77px 62px;
	box-sizing:border-box;
	background:url(../img/ornament1.png) repeat-y center top;
	position:relative;
}

.__proposal:before {
	content:url(../img/ornament1_t.png);
	position:absolute; left:1px; top:0;
}

.__proposal:after {
	content:url(../img/ornament1_b.png);
	height:47px;
	position:absolute; left:1px; bottom:0;
}



/* .__step
===========================================================*/
.__step .__block {
	width:880px;
	margin-right:auto; margin-left:auto;
	position:relative;
	margin-bottom:41px;
}

.__step .__block h2 { position:absolute; left:-26px; top:-26px;}



/* .__flow
===========================================================*/
.__flow p { margin-bottom:0;}



/* .__faq
===========================================================*/
.__faq { margin-bottom:78px;}

.__faq p { margin-bottom:0;}



/* .__access
===========================================================*/
.__access {
	width:1000px;
	margin-right:auto; margin-left:auto;
	padding-bottom:64px;
}

.__access .fR {
	height:458px;
	border:1px solid #a3a4a4;
}



/* .__principle
===========================================================*/
.__principle {
	width:1000px;
	margin-right:auto; margin-left:auto;
}

.__principle .__block {
	float:left;
	margin-right:14px;
}

.__principle .__block:last-child { margin-right:0;}



/* .__guide
===========================================================*/
.__guide h2 { margin-bottom:20px; text-align:center;}

.__guide .__access { margin-top:70px; margin-bottom:50px;}

.__guide .__access h3 { margin-bottom:15px;}

.__guide .__access > p { text-align:center;}

.__guide .__access > p img {
	margin-right:40px;
	vertical-align:middle;
}

.__guide .__block {
	float:left;
	width:310px;
	margin-right:35px;
}

.__guide .__block:nth-of-type(3n) { margin-right:0;}

.__guide .__access th {
	padding-right:15px;
	font-weight:bold;
}

.__guide .induce_s {
	box-shadow:0 130px 130px -130px rgba(0,0,0, 0.2) inset;
}

.__guide .__principle { margin-top:70px; margin-bottom:50px;}






/* .__doctor
===========================================================*/
.__doctor section { margin-right:40px; margin-bottom:60px; margin-left:40px;}

.__doctor h2 { margin-bottom:30px;}

.__doctor h3 { margin-bottom:20px;}

.__doctor .__history {
	float:left;
	width:430px;
	margin-bottom:50px;
}

.__doctor .__history th {
	padding-right:20px; padding-bottom:8px;
}

.__doctor .__belong {
	float:right;
	margin-bottom:40px;
}

.__doctor .__belong ul {
	list-style-type:disc;
	margin-left:1.5em;
}

.__doctor .__belong li { margin-bottom:5px;}




#scroll_btn {
  display: block;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 9999;
  bottom: -8px;
}
#scroll_btn a {
    display: block;
}

#scroll_btn .relative {
  text-align: center;
  position: relative;
  width: 1006px;
  margin: 0 auto;
}
#scroll_btn .absolute {
    position: absolute;
    right: 55px;
    top: 17px;
}






/* フォーム
===========================================================*/
.__form { margin-top:70px;}

.__form > h1 {
	margin-bottom:62px;
	padding-top:18px; padding-bottom:16px;
	background:#482c23;
	color:#fff;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:34px;
	font-weight:normal;
	position:relative;
}

.__form > h1:after {
	content:'';
	width: 0; height: 0;
	border-top: 22px solid #482c23;
	border-right: 40px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 40px solid transparent;
	position:absolute; bottom:-22px; left:50%;
	margin-left:-40px;
}

.__form .__flow {
	width:600px; height:53px;
	margin-right:auto; margin-left:auto;
	text-indent:-9999em;
	background:url(../img/form_1.png) no-repeat;
}

.__form.__conf .__flow { background:url(../img/form_2.png) no-repeat;}
.__form.__comp .__flow { background:url(../img/form_3.png) no-repeat;}

.__form .__att {
	margin-top:30px;
	color:#f00;
	font-size:16px;
}

.__form table {
	width:900px;
	margin-right:auto; margin-left:auto;
}

.__form th,
.__form td {
	border:1px solid #aaa;
	padding:24px 20px 20px 20px;
}

.__form th {
	width:160px;
	padding-left:80px;
	background:#F7F0EE;
	color:#462C24;
	font-weight:bold;
	position:relative;
}

.__form .ind,
.__form .any {
	display:inline-block;
	width:50px;
	padding-top:2px; padding-bottom:1px;
	text-align:center;
	color:#fff;
	font-size:14px;
	font-weight:normal;
	position:absolute; top:22px; left:10px;
	border-radius:5px;
}

.__form .ind { background:#e5007f;}
.__form .any { background:#c99973;}

.__form td span { margin-left:20px;}

.__form .__radio {
	padding-left:20px;
	vertical-align:middle;
}

.__form input[type="text"] {
	width:250px;
	padding:10px;
	font-size:14px;
	border:solid 1px #ccc;
	box-shadow:2px 2px 2px 0 rgba(200,200,200,0.2) inset;
}

.__form input.__age { width:60px; margin-right:10px;}

.__form input[type="radio"],
.__form input[type="radio"] {
	width:16px; height:16px;
	position:relative; top:2px;
}

.__form label { margin-right:30px;}

.__form select {
	padding-top:8px; padding-bottom:8px; padding-left:5px;
	position:relative; top:1px;
}

.__form textarea {
	width:545px; height:103px;
	padding:10px;
}

.__form .__text { margin-top:15px;}

.__form input[type="image"] { margin-top:30px;}



/* 確認 */
.__form.__conf th { padding-left:20px;}

.__form.__conf td {
	vertical-align:middle;
}

.__form.__conf input[type="image"]:last-of-type { margin-left:20px;}



/* 完了 */
.__form.__comp .__text_comp {
	width:900px;
	margin-top:48px; margin-right:auto; margin-left:auto;
	text-align:left;
}

.__form.__comp .__text_comp p:first-child { font-size:20px;}

/*エラー表示*/
.error-m { 
	color: #ff0000; 
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; 
	font-size: 14px; 
	line-height: 100%;
	display:block;
	margin:10px 2px 15px;
	padding:0;
}
{}
