/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
	-webkit-text-size-adjust: none;
    background:transparent;
	font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, sans-serif;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul,
div.nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    border-radius:0;
}

img{
	vertical-align:bottom;
}

/* \*/
* html .fcb {
    height: 1% ;
}
.fcb {
    display: block ;
}
/* */

.clear {clear:both;}

/*for clearFix*/
.cf:after { 
   display: block ;
   height: 0 ;
   visibility: hidden ;
   clear: both ;
   content:".";
}
/* 追加 MacIE 5 と WinIE 7 向け */
.cf {
   display: inline-block ;
}
/*MacIE \*/
* html .cf {
	height: 1em ;
}
.cf {
	display: block ;
}

/*  */

li{
	list-style-type:none !important;
}




/*各上下左右マージン指定*/

.mt0 { margin-top: 0px !important ; }
.mt5 { margin-top: 5px !important ; }
.mt10 { margin-top: 10px !important ; }
.mt15 { margin-top: 15px !important ; }
.mt20 { margin-top: 20px !important ; }
.mt25 { margin-top: 25px !important ; }
.mt30 { margin-top: 30px !important ; }
.mt35 { margin-top: 35px !important ; }
.mt40 { margin-top: 40px !important ; }
.mt45 { margin-top: 45px !important ; }
.mt50 { margin-top: 50px !important ; }
.mt70 { margin-top: 70px !important ; }
.mb0 { margin-bottom: 0px !important ; }
.mb5 { margin-bottom: 5px !important ; }
.mb10 { margin-bottom: 10px !important ; }
.mb15 { margin-bottom: 15px !important ; }
.mb20 { margin-bottom: 20px !important ; }
.mb25 { margin-bottom: 25px !important ; }
.mb30 { margin-bottom: 30px !important ; }
.mb35 { margin-bottom: 35px !important ; }
.mb40 { margin-bottom: 40px !important ; }
.mb45 { margin-bottom: 45px !important ; }
.mb50 { margin-bottom: 50px !important ; }
.ml0 { margin-left: 0px !important ; }
.ml5 { margin-left: 5px !important ; }
.ml10 { margin-left: 10px !important ; }
.ml15 { margin-left: 15px !important ; }
.ml20 { margin-left: 20px !important ; }
.ml25 { margin-left: 25px !important ; }
.ml30 { margin-left: 30px !important ; }
.ml35 { margin-left: 35px !important ; }
.ml40 { margin-left: 40px !important ; }
.ml45 { margin-left: 45px !important ; }
.ml50 { margin-left: 50px !important ; }
.mr0 { margin-right: 0px !important ; }
.mr5 { margin-right: 5px !important ; }
.mr10 { margin-right: 10px !important ; }
.mr12 { margin-right: 12px !important ; }
.mr15 { margin-right: 15px !important ; }
.mr20 { margin-right: 20px !important ; }
.mr25 { margin-right: 25px !important ; }
.mr30 { margin-right: 30px !important ; }
.mr35 { margin-right: 35px !important ; }
.mr40 { margin-right: 40px !important ; }
.mr45 { margin-right: 45px !important ; }
.mr50 { margin-right: 50px !important ; }

.pt0 { padding-top: 0px !important ; }
.pt5 { padding-top: 5px !important ; }
.pt6{ padding-top:6px !important; }
.pt7 { padding-top: 7px !important ; }
.pt8 { padding-top: 8px !important ; }
.pt10 { padding-top: 10px !important ; }
.pt12 { padding-top: 12px !important ; }
.pt15 { padding-top: 15px !important ; }
.pt16 { padding-top:16px !important; }
.pt17 { padding-top: 17px !important ; }
.pt18 { padding-top: 18px !important ; }
.pt20 { padding-top: 20px !important ; }
.pt25 { padding-top: 25px !important ; }
.pt30 { padding-top: 30px !important ; }
.pt35 { padding-top: 35px !important ; }
.pt40 { padding-top: 40px !important ; }
.pt45 { padding-top: 45px !important ; }
.pt50 { padding-top: 50px !important ; }
.pt60 { padding-top: 60px !important ; }
.pb0 { padding-bottom: 0px !important ; }
.pb5 { padding-bottom: 5px !important ; }
.pb8{ padding-bottom:8px !important; }
.pb10 { padding-bottom: 10px !important ; }
.pb12 { padding-bottom: 12px !important ; }
.pb15 { padding-bottom: 15px !important ; }
.pb20 { padding-bottom: 20px !important ; }
.pb25 { padding-bottom: 25px !important ; }
.pb30 { padding-bottom: 30px !important ; }
.pb35 { padding-bottom: 35px !important ; }
.pb40 { padding-bottom: 40px !important ; }
.pb45 { padding-bottom: 45px !important ; }
.pb50 { padding-bottom: 50px !important ; }
.pb60 { padding-bottom: 60px !important ; }
.pl0 { padding-left: 0px !important ; }
.pl5 { padding-left: 5px !important ; }
.pl10 { padding-left: 10px !important ; }
.pl15 { padding-left: 15px !important ; }
.pl20 { padding-left: 20px !important ; }
.pl25 { padding-left: 25px !important ; }
.pl30 { padding-left: 30px !important ; }
.pl35 { padding-left: 35px !important ; }
.pl40 { padding-left: 40px !important ; }
.pl45 { padding-left: 45px !important ; }
.pl50 { padding-left: 50px !important ; }
.pr0 { padding-right: 0px !important ; }
.pr5 { padding-right: 5px !important ; }
.pr10 { padding-right: 10px !important ; }
.pr12 { padding-right: 12px !important ; }
.pr15 { padding-right: 15px !important ; }
.pr20 { padding-right: 20px !important ; }
.pr25 { padding-right: 25px !important ; }
.pr30 { padding-right: 30px !important ; }
.pr35 { padding-right: 35px !important ; }
.pr40 { padding-right: 40px !important ; }
.pr45 { padding-right: 45px !important ; }
.pr50 { padding-right: 50px !important ; }

/* common */

.tc{
	text-align:center !important;
}



