@charset "utf-8";
#index #cach {
    background: #ffeff2;
    box-shadow: 0 3px 3px 1px #ededed;
    -moz-box-shadow: 0 3px 3px 1px #ededed;
    -webkit-box-shadow: 0 3px 3px 1px #ededed;
    padding: 15px 0;
    text-align: center
}

#index #cach, #index #camp {
    display: block;
    margin: 0 auto 30px
}

#index #camp {
    background: url(../../img/index/bg_img01.png)no-repeat 5px 20px #f2efe5;
    background: url("../../img/index/bg_img01.png")no-repeat 5px 20px, -moz-linear-gradient(top, #f2efe5 0%, #fff 100%);
    background: url("../../img/index/bg_img01.png")no-repeat 5px 20px, -webkit-linear-gradient(top, #f2efe5 0%, #fff 100%);
    background: url("../../img/index/bg_img01.png")no-repeat 5px 20px, linear-gradient(to bottom, #f2efe5 0%, #fff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f2efe5', endColorstr='#ffffff', GradientType=0);
    border: 2px solid #e9ccac;
    box-shadow: 0 0 0 3px #fff inset;
    -moz-box-shadow: 0 0 0 3px #fff inset;
    -webkit-box-shadow: 0 0 0 3px #fff inset;
    padding: 20px 20px 23px 310px;
    width: 366px
}

#index #camp #title {
    display: block;
    line-height: 1.25;
    margin: 0 0 10px
}

#index #camp #title h2 {
    font-size: 1pc;
    letter-spacing: -1px;
    margin: 0 0 5px
}

#index #camp #title h1 {
    color: #8f7454;
    font-size: 2pc;
    font-weight: 400
}

#index #camp #title h1 .small {
    font-size: 28px
}

#index #camp #title h1 .letter {
    letter-spacing: -6px
}

#index #camp #price {
    background: hsla(0, 0%, 100%, .7);
    box-shadow: 2px 2px 2px 2px #eee;
    -moz-box-shadow: 2px 2px 2px 2px #eee;
    -webkit-box-shadow: 2px 2px 2px 2px #eee;
    margin: 0 0 0 20px;
    width: 340px
}

#index #camp #price h2 {
    background: #e0d8d0;
    color: #8d7251;
    font-size: 22px;
    height: 38px;
    line-height: 38px;
    margin: 0 0 10px;
    text-align: center
}

#index #camp #price #pricelist {
    display: block;
    margin: 0 7px;
    padding: 0
}

#index #camp #price #pricelist dt {
    float: left;
    font-size: 18px;
    padding: 8px 0 0
}

#index #camp #price #pricelist dd {
    color: #e60012;
    font-size: 18px;
    text-align: right;
    margin: 0;
    padding: 0
}

#index #camp #price #pricelist dd span {
    font-size: 26px;
    margin: 0
}

#index #camp #price #pricelist dd .tax {
    font-size: 18px;
    margin: 0 -10px
}

#index .conteiner .content {
    display: block;
    margin: 0 auto 50px;
    padding: 0
}

#index .content .entry-header {
    border-bottom: 1px solid #646464;
    display: block;
    line-height: 1;
    margin: 0 0 20px;
    padding: 0 0 0 20px
}

#index .content .entry-header .entry-title {
    border-left: 1px solid #646464;
    color: #646464;
    font-size: 20px;
    margin: 0;
    padding: 10px
}

#index .content .entry-content {
    margin: 0 auto 30px
}

#index .content .entry-meta {
    text-align: right
}

#index #month {
    background: #e8e1d9;
    background: -moz-linear-gradient(top, #e8e1d9 0%, #fff 100%);
    background: -webkit-linear-gradient(top, #e8e1d9 0%, #fff 100%);
    background: linear-gradient(to bottom, #e8e1d9 0%, #fff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e8e1d9', endColorstr='#ffffff', GradientType=0);
    border: 2px solid #d3c7b9;
    padding: 8px;
    text-align: center
}

#index #month #title {
    background: #d3c7b9;
    color: #300;
    padding: 3px 0
}

#index #month #sub, #index #month #title {
    font-size: 24px;
    margin: 0 0 10px;
    text-align: center
}

#index #month #sub {
    color: #e6522a
}

#index #month #sub .small {
    display: block;
    font-size: 20px
}

#index #month .text .big {
    color: #c00;
    font-size: 18px
}

#index #news .entry-content iframe {
    width: 100%
}

#index #clinic .entry-content {
    background: url(../../img/index/bg_img02.jpg)no-repeat right top;
    margin: 0;
    padding: 0 330px 90px 0
}
#index #clinic .entry-content.ginza{
  background: url(../../img/index/ginza_bg.png)no-repeat right top;
  margin: 0;
}
#index #clinic .entry-content h2 {
    background: gray;
    color: #fff;
    font-weight: 400;
    font-size: 1pc;
    height: 30px;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
    width: 180px
}
#index #clinic .entry-content h2.title {
  background:#fff;
  color: #646464;
  font-size: 20px;
  font-weight:bold;
  text-align: left;
}

#index #clinic .entry-content h2 img {
    margin: 0 5px 0 0;
    vertical-align: middle
}

#index #clinic .entry-content #address {
    font-style: normal
}

#index #clinic .entry-content #access, #index #clinic .entry-content #info {
    margin: 0 0 20px
}

#index #clinic .entry-content #access li {
    display: block;
    padding: 0 0 0 15px;
    position: relative
}

#index #clinic .entry-content #access li:before {
    content: "・";
    display: block;
    position: absolute;
    top: 0;
    left: 0
}

#index #clinic .entry-meta {
    text-align: left
}

#index #doctor .entry-content #doctorlist {
    background: #f8f8f8;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #fff 100%);
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #fff 100%);
    background: linear-gradient(to bottom, #f8f8f8 0%, #fff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#ffffff', GradientType=0);
    display: block;
    margin: 0;
    padding: 0
}

#index #doctor .entry-content #doctorlist li {
    float: left;
    padding: 20px 10px;
    width: 212px
}

#index #doctor .entry-content #doctorlist li:nth-child(2) {
    border-right: 1px solid #a6a6a6;
    border-left: 1px solid #a6a6a6
}


#index #doctor .entry-content #doctorlist li .name, #index #doctor .entry-content #doctorlist li .photo, #index #doctor .entry-content #doctorlist li .position {
    margin: 0 auto;
    padding: 0;
    text-align: center
}

#index #doctor .entry-content #doctorlist li .position {
    font-size: 9pt;
    font-weight: 400
}

#index #doctor .entry-content #doctorlist li .name {
    font-size: 1pc;
    margin: 0 auto 10px
}

#index #doctor .entry-content #doctorlist li .society {
    margin: 0 auto 20px;
    padding: 0
}

#index #doctor .entry-content #doctorlist li .society li {
    float: none;
    padding: 0 0 0 1pc;
    position: relative;
    width: auto
}
#index #doctor .entry-content #doctorlist.w li .society li {
  border:none;
}

#index #doctor .entry-content #doctorlist li .society li:before {
    content: "・";
    display: block;
    position: absolute;
    left: 0;
    top: 0
}

#index #doctor .entry-content #doctorlist li .society li:nth-child(2) {
    border: none
}

#index #comparison .entry-content #comparisonlist {
    border: 1px solid #a6a6a6;
    display: block;
    margin: 0 auto 15px;
    width: 100%
}

#index #comparison .entry-content #comparisonlist td, #index #comparison .entry-content #comparisonlist th {
    border: 1px solid #a6a6a6;
    padding: 10px
}

#index #comparison .entry-content #comparisonlist th {
    background: #e5e5e5;
    font-weight: 400;
    vertical-align: middle;
    width: 5pc
}

#index #comparison .entry-content #comparisonlist td.ng, #index #comparison .entry-content #comparisonlist td.ok, #index #comparison .entry-content #comparisonlist th.ng, #index #comparison .entry-content #comparisonlist th.ok {
    background: #fff;
    width: 287px
}

#index #comparison .entry-content #comparisonlist th.ok {
    background: #b28146;
    color: #fff
}

#index #comparison .entry-content #comparisonlist td.ok {
    background: url(../../img/background/bg_icon01.jpg)no-repeat right center;
    color: #804f21
}

#index #comparison .entry-content #comparisonlist td.ng {
    background: url(../../img/background/bg_icon02.jpg)no-repeat right center
}

#index #flow .entry-title {
    letter-spacing: -1px
}

#index #flow .entry-content #flowlist {
    margin: 0;
    padding: 0
}

#index #flow .entry-content #flowlist li {
    margin: 0 0 20px
}

#index #flow .entry-content #flowlist li .guide li {
    float: left
}

#index #flow .entry-content #flowlist li .guide .img {
    background: url(../../img/background/bg_arrow01.png)no-repeat center bottom;
    margin: 0 20px 0 0;
    padding: 0 0 25px;
    width: 203px
}

#index #flow .entry-content #flowlist li:last-child .guide .img {
    background: none;
    padding: 0
}

#index #flow .entry-content #flowlist li .guide .explanation {
    width: 477px
}

#index #flow .entry-content #flowlist li .guide .explanation h2 {
    font-size: 22px;
    margin: 0 0 10px
}

#page-price #left {
    float: left;
    margin: 0 10px 0 0;
    width: 340px
}

#page-price #pricelist {
    margin: 0 0 10px;
    padding: 0;
    width: 340px
}

#page-price #pricelist td, #page-price #pricelist th {
    border: 1px solid #eee;
    padding: 9px;
    vertical-align: middle
}

#page-price #pricelist th {
    background: #e0d8d0;
    color: #8d7251;
    font-weight: 700
}

#page-price #pricelist td.price, #page-price #pricelist th.price {
    width: 70px
}

#page-price #pricelist td.price {
    color: #f34d2a;
    text-align: right
}

#page-price #images {
    float: right
}

#page-price #images li {
    line-height: 1;
    margin: 0 0 20px
}

#page-clinic table#information {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 700px
}

#page-clinic table#information td, #page-clinic table#information th {
    border: 1px solid #eee;
    padding: 9px;
    vertical-align: middle
}

#page-clinic table#information th {
    background: #f4f2e8;
    width: 150px
}

#page-clinic table#information td {
    width: 510px
}

#page-clinic table#information td .access li {
    display: block;
    margin: 0;
    padding: 0 0 0 15px;
    position: relative
}

#page-clinic table#information td .access li:before {
    content: "・";
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0
}

#page-clinic #doctor {
    padding: 0 0 1px!important
}

#page-clinic #doctor #doctorlist {
    display: block;
    margin: 0 auto;
    padding: 0
}

#page-clinic #doctor #doctorlist li {
    background: #fff;
    display: block;
    margin: 0 0 40px;
    padding: 0
}

#page-clinic #doctor #doctorlist .profile {
    display: block;
    margin: 0 auto 20px
}

#page-clinic #doctor #doctorlist .profile .photo {
    float: left;
    margin: 0 20px 0 0;
    width: 190px
}

#page-clinic #doctor #doctorlist .profile .name, #page-clinic #doctor #doctorlist .profile .position {
    line-height: 1
}

#page-clinic #doctor #doctorlist .profile .position {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 10px
}

#page-clinic #doctor #doctorlist .profile .name {
    color: #300;
    font-size: 2.4em;
    font-weight: 400;
    margin: 0 0 10px
}

#page-clinic #doctor #doctorlist .profile .message {
    display: inline-block;
    padding: 0;
    text-align: justify;
    width: 490px
}

#page-clinic #doctor #doctorlist .history {
    border: 1px solid #e0d8d0;
    display: block;
    margin: 0 auto;
    padding: 0
}

#page-clinic #doctor #doctorlist .history td, #page-clinic #doctor #doctorlist .history th {
    font-weight: 400;
    padding: 5px 15px
}

#page-clinic #doctor #doctorlist .history th {
    background: #e0d8d0;
    text-align: center;
    vertical-align: middle;
    width: 40px
}

#page-clinic #doctor #doctorlist .history .year {
    padding: 5px 0 5px 15px;
    text-align: right;
    white-space: nowrap
}

#page-clinic #doctor #doctorlist #tomori {
    background: url(../../img/background/bg_tomori.jpg)repeat-x left bottom;
    border: 5px solid #ded0a7;
    height: 260px;
    margin: 0 auto;
    padding: 10px;
    position: relative
}

#page-clinic #doctor #doctorlist #tomori .photo {
    display: block;
    position: absolute;
    height: 280px;
    right: 0;
    top: 0
}

#page-clinic #doctor #doctorlist #tomori .career, #page-clinic #doctor #doctorlist #tomori .name, #page-clinic #doctor #doctorlist #tomori .other, #page-clinic #doctor #doctorlist #tomori .position {
    text-shadow: 1px 1px 1px #fff;
    position: absolute;
    left: 15px
}

#page-clinic #doctor #doctorlist #tomori .position {
    font-weight: 400;
    top: 10px
}

#page-clinic #doctor #doctorlist #tomori .name {
    color: #300;
    font-size: 2.4em;
    font-weight: 400;
    margin-bottom: 20px;
    top: 30px
}

#page-clinic #doctor #doctorlist #tomori .other {
    top: 5pc;
    width: 520px
}

#page-clinic #doctor #doctorlist #tomori .other li {
    background: none;
    float: left;
    margin: 0 15px 0 0;
    padding: 0 0 0 15px;
    position: relative
}

#page-clinic #doctor #doctorlist #tomori .other li:before {
    content: "・";
    display: block;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 3px;
    left: 0
}

#page-clinic #doctor #doctorlist #tomori .career {
    background: hsla(0, 0%, 100%, .7);
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 9px;
    top: 10pc;
    width: 490px
}

#page-reason #doctorlist {
    display: block;
    margin: 0 5pc;
    padding: 0
}

#page-reason #doctorlist li {
    float: left;
    text-align: center;
    width: 180px
}

#page-reason #doctorlist li .photo {
    display: block;
    line-height: 0;
    margin: 0;
    padding: 0
}

#page-reason #doctorlist li .name {
    background: #e9ccae;
    color: #300;
    display: block;
    font-size: 1pc;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding: 2% 0;
    width: 146px
}

#page-reason #doctorlist li .name span {
    display: block;
    font-size: 9pt
}

#page-reason #after .picture {
    display: block;
    line-height: 1;
    margin: 0 15px 20px;
    padding: 0
}

#page-reason #after .picture li {
    float: left;
    margin: 0 20px 0 0;
    width: 210px
}

#page-reason #after .picture li:last-child {
    margin: 0
}

#page-reason #after .picture li img {
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 3px 3px 3px #ccc;
    margin: 0;
    padding: 4px
}

#page-flow #flowlist {
    display: block;
    margin: 0 auto;
    padding: 0
}

#page-flow #flowlist li {
    border-bottom: 1px solid #ccc;
    margin: 0 0 30px;
    padding: 0 0 30px;
    position: relative
}

#page-flow #flowlist li:after {
    background: url(../../img/background/bg_arrow02.png)no-repeat center bottom;
    content: " ";
    height: 20px;
    position: absolute;
    bottom: -10px;
    left: 340px;
    width: 20px
}

#page-flow #flowlist li:last-child {
    border-bottom: none;
    margin: 0;
    padding: 0
}

#page-flow #flowlist li:last-child:after {
    display: none
}

#page-flow #flowlist li h2 {
    border-bottom: 1px solid #725229;
    color: #300;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0 0 4px
}

#page-flow #flowlist li h2 span {
    background: #e9ccae;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #300;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: 0 10px 0 0;
    padding: 0 2%
}

#page-flow #flowlist li .guide img {
    float: left;
    margin: 0 20px 0 0
}

#page-cycle #cyclepage #cyclelist {
    display: block
}

#page-cycle #cyclepage #cyclelist li {
    background: #fff;
    border-bottom: 1px solid #ccc;
    display: block;
    height: 75pt;
    margin: 0 0 20px;
    padding: 0 10px 19px;
    position: relative
}

#page-cycle #cyclepage #cyclelist li:last-child {
    border: none;
    margin: 0;
    padding: 0 10px
}

#page-cycle #cyclepage #cyclelist li:after {
    background: url(../../img/background/bg_arrow02.png)no-repeat center bottom;
    bottom: -10px;
    content: " ";
    display: block;
    height: 20px;
    left: 340px;
    position: absolute;
    width: 20px
}

#page-cycle #cyclepage #cyclelist li:last-child:after {
    display: none
}

#page-cycle #cyclepage #cyclelist li img {
    float: left;
    margin: 0 20px 0 0;
    width: 75pt
}

#page-cycle #cyclepage #cyclelist li h3 {
    color: #600;
    display: block;
    font-size: 1.5em;
    margin: 0 0 5px;
    padding: 0
}

#page-method #ng #nglist {
    display: block;
    margin: 0;
    padding: 0;
    width: 700px
}

#page-method #ng #nglist li:nth-child(even), #page-method #ng #nglist li:nth-child(odd) {
    background: #fff;
    border: 1px solid #ccc;
    height: 90pt;
    padding: 10px;
    width: 323px
}

#page-method #ng #nglist li:nth-child(odd) {
    float: left;
    margin: 0 5px 10px 0
}

#page-method #ng #nglist li:nth-child(even) {
    float: right;
    margin: 0 0 10px 5px
}

#page-method #ng #nglist li img {
    float: left;
    margin: 20px 10px 20px 0;
    vertical-align: middle
}

#page-method #ng #nglist li h3 {
    color: #300;
    font-size: 1pc;
    margin: 0 0 5px;
    padding: 0
}

#page-faq .accordion li {
    border: 1px solid #300;
    margin: 0 10px 10px;
    padding: 9px
}

#page-faq .accordion li h3 {
    background: url(../../img/faq/open.jpg)no-repeat 5px center;
    padding: 10px 10px 10px 30px;
    font-size: 110%;
    cursor: pointer;
    line-height: 1.4
}

#page-faq .accordion li h3.open {
    background: url(../../img/faq/close.jpg)no-repeat 5px center
}

#page-faq .accordion li div {
    display: none;
    background: #f5f5f5;
    margin: 0;
    padding: 5px
}

#page-faq .accordion li div div {
    display: block
}

#page-faq .accordion li div #contrast {
    border: 1px solid #eee;
    display: block;
    margin: 15px 0 5px;
    padding: 9px
}

#page-faq .accordion li div #contrast #ok {
    background: url(../../img/faq/bg_ok.png)no-repeat center center #ffe6ea;
    background-size: contain;
    padding: 5px
}

#page-faq .accordion li div #contrast #ng {
    background: url(../../img/faq/bg_ng.png)no-repeat center center #fff;
    background-size: contain;
    margin: 0 0 10px;
    padding: 5px
}

#page-faq .accordion li div #contrast h4 {
    margin: 0 0 10px
}

#page-faq .accordion li div #contrast .text {
    margin: 0 0 20px
}

#page-faq .accordion li div #contrast .text:last-child {
    margin: 0
}

#page-interview .inter {
    background: #fffaf0;
    display: block;
    margin: 0 0 20px;
    padding: 0 0 20px
}

#page-interview .inter .cate {
    display: block;
    margin: 0;
    padding: 10px;
    position: relative
}

#page-interview .inter .cate img {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    width: 75pt
}

#page-interview .inter .cate .message {
    float: right;
    width: 570px
}

#page-interview .inter .cate .message h3 {
    border-bottom: 1px solid #6e3816;
    color: #6e3816;
    font-weight: 400;
    text-align: left;
    margin: 0 auto 10px;
    padding: 0
}

#page-interview .inter .list {
    bottom: -15px;
    margin: 0;
    position: absolute;
    right: 15px;
    text-align: right
}

#page-recruit #recruiting {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 700px
}

#page-recruit #recruiting td, #page-recruit #recruiting th {
    border: 1px solid #ccc;
    padding: 9px;
    vertical-align: middle
}

#page-recruit #recruiting th {
    background: #eee;
    width: 200px
}

#page-recruit #recruiting .recruitlist {
    display: block;
    margin: 0
}

#page-recruit #recruiting .recruitlist span {
    margin: 0 5px 0 0
}

#page-recruit #recruiting .list li {
    display: block;
    padding: 0 0 0 15px;
    position: relative
}

#page-recruit #recruiting .list li:before {
    content: "・";
    display: block;
    position: absolute;
    top: 0;
    left: 0
}

#page-privacy #privacy-policy {
    display: block;
    margin: 0 auto;
    padding: 0
}

#page-privacy #privacy-policy dt {
    border-bottom: 1px solid #8d7251;
    display: block;
    font-size: 1pc;
    line-height: 1;
    margin: 0 0 10px;
    padding: 0 0 6px 20px;
    position: relative
}

#page-privacy #privacy-policy dt:before {
    background: #8d7251;
    content: " ";
    display: block;
    height: 8px;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 8px
}

#page-privacy #privacy-policy dd {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 40px
}

#page-privacy #privacy-policy dd:last-child {
    margin: 0
}

#page-sitemap .sitemaplist {
    border-left: 1px solid #c8c8c8;
    float: left;
    padding: 0 0 0 20px;
    width: 329px
}

#page-sitemap .sitemaplist li {
    font-size: 18px;
    margin: 10px 0;
    padding: 0
}

#page-sitemap .sitemaplist li a {
    text-decoration: underline
}

.footer_mail{
float: right;
    margin-top: 10px;
}

.footer_mail a{
background: #00bb67;
    background: -moz-linear-gradient(top,#00bb67 0%,#008367 100%);
    background: -webkit-linear-gradient(top,#00bb67 0%,#008367 100%);
    background: linear-gradient(to bottom,#00bb67 0%,#008367 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bb67',endColorstr='#008367',GradientType=0);
    border: 1px solid #bcac99;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    display: block;
    font-weight: 700;
    height: 46px;
    line-height: 46px;

        padding: 0 10px;
  }
