/*#index #doctor .entry-content #doctorlist.w li{
  width:47%;
}

#index #doctor .entry-content #doctorlist.w li:nth-child(2),#index #doctor .entry-content #doctorlist.w li:nth-child(4) {
    border-right: none;
    border-left: 1px solid #a6a6a6
}
#footer #footerinfo.W {
  padding: 15px 0 20px
}
#footer #footerinfo.W #left #address {
margin-top:20px;
}



#page-reason #doctorlist.w{
  margin:0;
}
#page-reason #doctorlist.w li{
  width:23%;
  margin:10px 1%;
}
*/
