@charset "utf-8";
/*-----------------------------------------------
 Not found
-----------------------------------------------*/
#notfound p {
	text-align: center;
	font-size: 26px;
	line-height: 1.62;
	font-weight: bold;
}
#notfound p.message {
	margin: 185px 0 42px 0;
}
#notfound .notfound_mbnr {
	margin: 154px 0 235px 28px;
}
#notfound .notfound_mbnr a {
	background: #97506f;
}
#notfound .notfound_mbnr .btn_pink {
	width: 580px;
	color: #FFF;
	padding: 21px 0 63px 0;
	text-align: center;
}
#notfound .btn_pink span {
	font-size: 32px;
	line-height: 1.34;
	background: url(../images/icon_arr_pink.png) no-repeat 532px 22px transparent;
	height: 86px;
}
