@charset "utf-8";

/******************************************************************** structure
*/

a:link{color:#F39;}
a:visited{color:#F39;}
a:hover{color:#90C;}

.wrapper { text-align: left; margin: 0 auto;}

#container { width: 98%; text-align:left;}

#footer {clear: both;}


img {
	width: 100%;
}

/******************************************************************** header
*/

#header {
	position:relative;
	z-index:99;
	width:96%;
	padding:13px 0 14px;
	margin: 0 auto;
}
h1{
	line-height:0;
}

.catch{
	background:url(../img/bg_catch.jpg) no-repeat center top;
	line-height:0;
}

/******************************************************************** container
*/

#container{
	text-align: left;
/*	background:url(../img/bg_body.jpg) repeat-X center top #2DBBFF;*/
	background: #004ba8;
	/*padding-top:40px;*/
	margin:0 auto;
	font-size:1.2em;
	line-height:1.4em;
	width: auto;
}
.thx #container{padding-top:2%;}
#container .wrapper{
/*	background:url(../img/bg_container.jpg) no-repeat center top #FFF;*/
	background: #FFF;
	padding: 3% 0 0;
	margin: 0 auto;
	position:relative;
	width: 96%;
}
.thx #container .wrapper {
	padding:0;
}
#container .wrapper h2{
	line-height:0;
	position:relative;
	margin-left:0;
	margin-bottom:3%;
}

#container .section{
	padding:0 10px;
}
#container .section02{
	padding:30px 30px;
}

#container .section02 h5{
	background:#FFF;
	color:#B80C0C;
	font-size:1.4em;
	padding:25px 30px;
	border-bottom:#B80C0C 2px solid;
}

.contactBox{
/*	background:url(../img/bg_contact.jpg) no-repeat center top;
	padding:28px 60px 30px 51px;
	width:829px;*/
	margin:0 auto 60px;
	line-height:0;
	width: 96%;
}
.contactBox .fR{padding-top:11px;}

#container h3{
	border-top:#004ba8 4px solid;
	border-bottom:#CCC 1px solid;
	padding:10px;
	line-height:1.5;
	margin-bottom:30px;
	font-size: 150%;
}
.thx #container h3{
	border-top:none;
}
#container h3.mb00{
	margin-bottom:0;
}
#container h4{
	font-size: 130%;
	line-height: 1.5em;
}

/******************************************************************** globalNav
*/

#globalNav {}


/******************************************************************** footer
*/

#footer{
	font-size:1.2em;
	color:#FFF;
	text-align:center;
	padding:40px 0;
}

#footer a:link{color:#F90; text-decoration:none;}
#footer a:visited{color:#F90; text-decoration:none;}
#footer a:hover{color:#FC0; text-decoration:underline;}

#footer #copy { letter-spacing: 0.05em;}

.pageTop { text-align: right;}