@charset "utf-8";

/*----------------------------------------------------
 elements
----------------------------------------------------*/
body {
	background: #fff;
	color: #333;
	/*　必ず指定　*/
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, sans-serif , ArialMT ;
	font-size: 13px;
	line-height: 1.5;
	-webkit-text-size-adjust: none; /* フォントサイズ自動調整を停止 */
}
/* リンクをタップした際の色指定 Androidでは適用されませんが、rgbaの値を全て0にすると枠線は消える */
a {
	color:#009999;
	text-decoration:underline;
	-webkit-tap-highlight-color: rgba(200,200,555,.6);
}
img {
	vertical-align: top;
}
/* Retinaディスプレイ対応のためimg要素は半分の大きさに img要素にwidthの指定があった場合は半分の大きさにならない */
img:not([width]) {
	zoom: .5; 
}
p, dl, ol, ul {
}
ol, ul {
	list-style:none;
}

.strong2{
	font-weight:bold;
	color:#E9528E;
}
.strong3{
	font-weight:bold;
	color:#444444;
}
p.notes {
	font-size:80%;
	padding-left: 1em;
	text-indent: -1em;
}
.chushaku{
	font-size:84%;
	color:red;
	padding:5px 0 5px 0;
}
.aC{
	text-align:center;
}
/*----------------------------------------------------
 #page
----------------------------------------------------*/
#page {
	overflow: hidden;
	width:100%;
	margin: 0 auto;
	background: #fff;
}

/*----------------------------------------------------
 ランドスケープ表示
----------------------------------------------------*/
@media all and (orientation:landscape) {
}


/*----------------------------------------------------
 header
----------------------------------------------------*/
header.global {
	position:relative;
}

header.global .mainphoto {
	margin:0 0 10px 0;
}

header.global #copy{
	padding:10px 0 10px 5px;
	width:100%;
	background:#E9528E;
	color:#fff;
	font-size:10px;
}
header.global #logo {
	padding:10px 0;
	width:100%;
	background:#fff;
	text-align:center;
}
header.global #headsub {
	position:absolute;
	right:0;
	top:8px;
}
header.global #headsub li{
	margin-right:4px;
	float:left;
	display:inline-block;
}
header.global nav {
}

header.global nav ul {
	width:94%;
	margin:0 auto;
	text-align:center;
}


header.global nav ul li {
	float:left;
	display:block;
	width:25%;
}
header.global nav ul li img{
	zoom:1;
	width:100%;
}

header.global nav ul li:last-child {
}

header.global nav ul li a {
}

header.global #subnav:after,
header.global nav ul:after{
	content: ''; display: block; clear: both; 
}

/*----------------------------------------------------
 footer
----------------------------------------------------*/
footer.global {
	padding:17px 0 20px;
	border-top:1px solid #AAAAAA;
	background:#E9528E;
}

footer.global p.copyright {
	margin: 0;
	text-align: center;
	font-size:10px;
	color:#fff;
}


/*----------------------------------------------------
 main
----------------------------------------------------*/
section#main{
	margin-top:6px;
	background:#FAFAFA;
}
section#main strong{
	color:#E9528E;
}
section#main .t_center{
	text-align:center;
	margin-bottom:10px;
}
section#main .linktxt{
	margin:12px 0 14px;
}
section#main .linktxt a{
	display:block;
	text-decoration:none;
	color:#333;
}
.pagetop {
	padding-bottom:10px;
	margin:8px 15px 0 15px;
}
.pagetop img{
	padding-right:6px;
	vertical-align:middle;
}
.pagetop span{
	vertical-align:middle;
}
.pagetop a{
	display:block;
	text-decoration:none;
	color:#333;
}
section#main .linktxt img{
	padding-right:6px;
	vertical-align:middle;
}
section#main .linktxt span{
	vertical-align:middle;
}

/*
section#main h1#pagettl{
	margin-bottom:20px;
	padding-left:10px;
	font-weight:bold;
	font-size:138%;
	line-height:40px;
	height:40px;
	overflow:hidden;
	-moz-box-sizing: border-box;        
    -webkit-box-sizing: border-box;     
    box-sizing: border-box;             
	border:#C7C7C7 1px solid;

	background-image: -moz-linear-gradient(top, #E8E8E8 0%, #FFFFFF 100%);

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E8E8E8), color-stop(1, #FFFFFF));

	background-image: -webkit-linear-gradient(top, #E8E8E8 0%, #FFFFFF 100%);
	-moz-box-shadow: 0 3px 4px #C7C7C7;  
	-webkit-box-shadow: 0 3px 4px #C7C7C7;
	box-shadow: 0 3px 4px #C7C7C7;
}
*/

section#main h2#pagettl{
	margin:0 0 14px 0;
	padding:8px 8px 8px 34px;
	font-weight:bold;
	font-size:116%;
	color:#4D1C01;
/*	height:40px;*/
	overflow:hidden;
	-moz-box-sizing: border-box;        /* Firefox */  
    -webkit-box-sizing: border-box;     /* Safari 3 */  
    box-sizing: border-box;             /* Opera */  
	border:#C7C7C7 1px solid;
	/* Mozilla Firefox */ 
	background: url(../img/common/bg_tempttl_icon.png) 0 50% no-repeat,  -moz-linear-gradient(top, #FFFFFF 50%, #FCE5E8 100%) ;
	/* Webkit (Safari/Chrome 10) */ 
	background: url(../img/common/bg_tempttl_icon.png) 0 50% no-repeat,  -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(0.5, #FFFFFF), color-stop(1, #FCE5E8)) ;
	/* Webkit (Chrome 11+) */ 
	background: url(../img/common/bg_tempttl_icon.png) 0 50% no-repeat,  -webkit-linear-gradient(top, #FFFFFF 50%, #FCE5E8 100%) ;
	-moz-box-shadow: 0 3px 4px #C7C7C7;  
	-webkit-box-shadow: 0 3px 4px #C7C7C7;
	box-shadow: 0 3px 4px #C7C7C7;
	border-bottom:3px solid #E9528E;
}

section#main h2#pagettl img{
	padding-top:7px;
	padding-right:9px;
}


section#main h2#pagettl_mens{
	margin:0 0 14px 0;
	padding:8px 8px 8px 34px;
	font-weight:bold;
	font-size:116%;
	color:#274564;
/*	height:40px;*/
	overflow:hidden;
	-moz-box-sizing: border-box;        /* Firefox */  
    -webkit-box-sizing: border-box;     /* Safari 3 */  
    box-sizing: border-box;             /* Opera */  
	border:#C7C7C7 1px solid;
	/* Mozilla Firefox */ 
	background: url(../img/common/bg_tempttl_icon_mens.png) 0 50% no-repeat,  -moz-linear-gradient(top, #FFFFFF 50%, #f4faff 100%) ;
	/* Webkit (Safari/Chrome 10) */ 
	background: url(../img/common/bg_tempttl_icon_mens.png) 0 50% no-repeat,  -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(0.5, #FFFFFF), color-stop(1, #f4faff)) ;
	/* Webkit (Chrome 11+) */ 
	background: url(../img/common/bg_tempttl_icon_mens.png) 0 50% no-repeat,  -webkit-linear-gradient(top, #FFFFFF 50%, #f4faff 100%) ;
	-moz-box-shadow: 0 3px 4px #C7C7C7;  
	-webkit-box-shadow: 0 3px 4px #C7C7C7;
	box-shadow: 0 3px 4px #C7C7C7;
	border-bottom:3px solid #274564;
}

section#main h2#pagettl_mens img{
	padding-top:7px;
	padding-right:9px;
}

.imgarea{
	margin:0 auto 20px auto;
}

/* section column Style */
section#main .column{
	margin:0 10px 20px 10px;
}
section#main .column:first-child{
	margin-top:0;
}
section#main .column h2{
	margin-bottom:10px;
	padding-bottom:5px;
	font-size:107%;
	color:#E9528E;
	border-bottom:1px solid #E9528E;
}
section#main .column h2 span{
	padding-left:6px; 
	border-left:4px solid #E9528E;
}

section#main .column h3 {
	margin-bottom:10px;
	padding-bottom:5px;
	padding-left:10px;
	padding-top:5px;
	font-size:107%;
	color:#E9528E;
	border-bottom:1px solid #eeeeee;
	border-left:5px solid #E9528E;
	background-color:#f5f5f5;
	
}

section#main .column_mens h3 {
	margin-bottom:10px;
	padding-bottom:5px;
	padding-left:10px;
	padding-top:5px;
	font-size:107%;
	color:#274564;
	border-bottom:1px solid #eeeeee;
	border-left:5px solid #274564;
	background-color:#f5f5f5;
	
}
/*
section#main .column h3 span{
	padding-left:6px; 
	border-left:4px solid #E9528E;
}
*/
section#main .column h4 {
	margin-bottom:10px;
	color:#E9528E
}



/* section column Style */
section#main .column_mens{
	margin:0 10px 20px 10px;
}
section#main .column_mens:first-child{
	margin-top:0;
}

section#main .column_mens h2{
	margin-bottom:10px;
	padding-bottom:5px;
	font-size:107%;
	color:#274564;
	border-bottom:1px solid #274564;
}
section#main .column_mens h2 span{
	padding-left:6px; 
	border-left:4px solid #274564;
}
/*
section#main .column_mens h3 {
	margin-bottom:10px;
	padding-bottom:5px;
	font-size:107%;
	color:#274564;
	border-bottom:1px solid #274564;
}
*/
/*
section#main .column_mens h3 span{
	padding-left:6px; 
	border-left:4px solid #274564;
}
*/
section#main .column_mens h4 {
	margin-bottom:10px;
	color:#274564;
}


section#main .column .pointBox{
	margin:0 5px 10px;
	padding:10px;
	color:#818181;
	font-size:92%;
	background:#F6F6F6;
	border:1px solid #F2F2F2;
	-moz-box-sizing: border-box;        /* Firefox */  
    -webkit-box-sizing: border-box;     /* Safari 3 */  
    box-sizing: border-box;             /* Opera */  
}
section#main .column .pointBox li{
	background:url(../img/icon_pointlist.gif) 0 5px no-repeat;
	padding-left:18px;
	background-size:10px 10px;
}
section#main .column .txtarea{
	margin:0 5px 10px 5px;
}

section#main .column_mens .txtarea{
	margin:0 5px 10px 5px;
}

section#main .column dl{
	margin:10px 5px 15px 5px;
}
section#main .column dl dt{
	margin:8px 0 0 0;
}
section#main .column table{ margin-bottom:12px; }
section#main .column table ,
section#main .column th,
section#main .column td{
	border:1px solid #DFDFDF;
	font-size:100%;
}
section#main .column th.tate{
	line-height:1.1;
}
section#main .column th span.mini{
	color:#E9528E;
	font-size:70%;
}

section#main .column th.clinic, section#main .column td.clinic{
	background:#FDF2F5;
	font-size:100%;
}


section#main .column th{
	padding:8px;
	text-align:center;
	/*background:#096ACA;*/
	color:#4D1C01;
	font-weight:bold;
}

section#main .column .costtb th{
	width:80px;
	padding:8px;
	text-align:left;
	background:#096ACA;
	color:#fff;
}

section#main .column .sitemaptb th{
	width:80px;
	padding:8px;
	text-align:left;
	background:#096ACA;
	color:#fff;
}

section#main .column td{
	padding:9px 6px;
	background:#fff;
}

section#main .form{
	margin:14px 0 15px 0;
	padding-bottom:11px;
	/* background:url(../img/line_form.gif) 0 bottom repeat-x; */
}
section#main .form .form_name,
section#main .form .form_contents{
	margin-top:6px;
	border:1px solid #DEDEDE;
	-moz-box-sizing: border-box;        /* Firefox */  
    -webkit-box-sizing: border-box;     /* Safari 3 */  
    box-sizing: border-box;             /* Opera */  
	border-radius: 6px;        /* CSS3草案 */  
    -webkit-border-radius: 6px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 6px;   /* Firefox用 */ 
}

.form_h3{
	margin:5px 5px 1px 18px;
	color:#E9528E;
	padding-bottom:5px;
	padding-left:10px;
	padding-top:5px;
	font-size:107%;
	border-left:5px solid #E9528E;
}

.form_h3_mens{
	margin:5px 5px 1px 18px;
	color:#274564;
	padding-bottom:5px;
	padding-left:10px;
	padding-top:5px;
	font-size:107%;
	border-left:5px solid #274564;
}
/*
section#main .form .form_name{
	width:100%;
	line-height:26px;
	padding:0 5px;
	margin-bottom:12px;

}
section#main .form .form_contents{
	width:100%;
}
section#main .form .submit{
	margin:15px auto 18px;
}
section#main .form .submit input{
	text-align:center;
	width:280px;
	display:block;
	margin:0 auto;
}
*/

/* acccont */
section#main #acccont{
	margin:11px 15px 0;
}

/* contactType */


section#main #contactType0 {
	margin:0 auto 20px auto;
	width:90%;
}
section#main #contactType0 ul li{
	margin:0 0 10px 0;
}
section#main #contactType0 ul li img{
	width:100%;
}


section#main #contactType {
	margin:20px auto 0;
}
section#main #contactType {
	margin:0 5px 0 !important;
}
section#main #contactType div{
	width:96%;
	margin:0 auto;
	border:1px solid #D1CFD0;
	-moz-box-sizing: border-box;        /* Firefox */  
    -webkit-box-sizing: border-box;     /* Safari 3 */  
    box-sizing: border-box;             /* Opera */  
	border-radius: 5px;        /* CSS3草案 */  
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */ 
	-moz-box-shadow: 0 0 5px #D1CFD0;  
	-webkit-box-shadow: 0 0 5px #D1CFD0;
	box-shadow: 0 0 5px #D1CFD0;
}
section#main #contactType .btn{
	margin:2px auto 6px;
	width:100%;
	text-align:center;
}
@media all and (orientation:landscape) {
section#main #contactType .btn{
	margin:4px auto 6px;
}
}
section#main #contactType .btn span {
	display:inline;
	text-align:center;
}
section#main #contactType .btn span img{
	zoom:1;
}
section#main #contactType p.t_center {
	color:#494949;
	padding-bottom:9px;
}




/* submenu */
section#main #submenu #subnav {
	margin:10px auto 0;
	width:80%;
	text-align:center;
}
section#submenu #subnav span img{
	zoom:1;
	display:inline;
	text-align:center;
	width:30%;
}


.method{
	margin:0 0 20px 0;
}

.method img{
	zoom:1;
	display:inline;
	float:left;
	width:25%;
}
.method .txtarea{
	float:right;
	width:70%;
}






section#main #submenu #casenav{
	clear:both;
	margin-top:10px;
	padding:2px 0 3px ;
	background-image:url(../img/bg_casenav.gif) , url(../img/bg_casenav2.gif);
	background-position: 0 0 , 0 bottom;
	background-size: auto 2px , auto 4px;
	background-repeat:repeat-x, repeat-x;
}
section#main #submenu #casenav li{
	display:block;
	line-height:40px;
	border-bottom:1px solid #F1F1F1;
	border-top:#aaa 1px solid;
	background:url(../img/bg_casenavlist.gif) 0 0 repeat-x;
	background-size:auto 40px;
	font-size:105%;
	border-right:1px solid #fff;
}
section#main #submenu #casenav li a{
	padding-left:10px;
	display:block;
	text-decoration:none;
	color:#333;
	background:url(../img/arrow_casenav.png) right center no-repeat;
	background-size:23px auto;
}
section#main #submenu #casenav li a img{
	vertical-align:middle;
}

.sec_inner{
	margin:0 0 20px 0;
}
.img_c {
	padding:0 0 10px 0;
	width:100%;
	text-align:center;
}




/* about */
.normal-price{
	text-align:right;
}
.price-list .campaign-price{
	color:#E9528E;
	font-weight:bold;
	text-align:right;
}


/* cost */
section#main #costlist {

}
section#main #costlist img{
	width:100%;
}


/* coupon */
p.coupon_ttl{
	margin-bottom:10px;
	padding:8px;
	border:1px solid #E9528E;
	color:#ffffff;
	overflow:hidden;
	background:url(../img/coupon/coupon_bg.png) 0 0 no-repeat #E9528E ;
	background-size:100% auto;
	position:relative;
	font-size:107%;
	text-align:center;
	font-weight:bold;
}
section#main .column table{ margin-bottom:12px; }
section#main .column table ,
section#main .column th,
section#main .column td{
	border:1px solid #DFDFDF;
	font-size:100%;
}
section#main .coupon table{ margin-bottom:12px; width:100%;}
section#main .coupon table ,
section#main .coupon th,
section#main .coupon td{
	border:1px solid #DFDFDF;
	font-size:100%;
}
section#main .coupon td.campaign{
	background-color:#FEF5F9;
}




/* mens cost */

section#main .column_mens th{
	padding:8px;
	text-align:center;
	/*background:#096ACA;*/
	color:#4D1C01;
	font-weight:bold;
}
section#main .column_mens td{
	padding:9px 6px;
}

section#main .column_mens table{ margin-bottom:12px; }
section#main .column_mens table ,
section#main .column_mens td{
	border:1px solid #DFDFDF;
	font-size:100%;
	background-color:#ffffff;
}
section#main .column_mens th{
	border:1px solid #DFDFDF;
	font-size:100%;
	background-color:#fafafa;
}


section#main .column_mens td.bodyParts{
	background-color:#274564;
	color:#fff;
	text-align:center;
	font-weight:bold;
}

.mensprice-list .normal-price{
	text-align:right;
}
section#main .column_mens td.campaign-price, section#main .column_mens th.campaign-price{
	color:#274564;
	font-weight:bold;
	text-align:right;
	background-color:#f4faff;
}
.campaign-price{
	color:#274564;
	font-weight:bold;
	text-align:right;
}

/* news */

div#news{
	position:relative;
}

div#news iframe{
/*
	width:100%;
	height:300px;
	border:none;
*/
	width:100%;
	margin:0px;
	padding:0px;
}
.iframe{
/*
	width:100%;
	height:300px;
	border:none;
	margin:0px;
	padding:0px;
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
*/
}

#news{
	margin-top:10px;
}
#news h2{
	padding-left:10px;
	border:1px solid #E9528E;
	color:#fff;
	line-height:34px;
	height:34px;
	overflow:hidden;
	background:#E9528E 0 0 repeat-x;
	background-size:auto 34px;
	position:relative;
	font-size:125%;
}
#news h2 span{
	padding-right:4px;
	position:absolute;
	right:0;
	top:4px;
}

/* privacy */
#privacy ul{
	margin:0 0 10px 0;
}
#privacy ul li{
	background:url(../img/common/icon_pointlist.gif) 10px 5px no-repeat;
	padding-left:28px;
	background-size:10px 10px;
}


/*----------------------------------------------------
 clearfix
----------------------------------------------------*/
.clear { clear:both; }
.clearfix:after { content: ''; display: block; clear: both; }

/*----------------------------------------------------
 sns
----------------------------------------------------*/
#sns {
z-index: 50;
width: 100%;
height: 38px;
background-color:#eeeeee;
text-align: center;
padding:12px 0 0 0;
}
