/* CSS Document */

.clearfix:after {
	content:".";
	display:block;
	visibility:hidden;
	height:0px;
	font-size:0px;
	clear:both;
	}

.clearfix {
	display: inline-block;
}

/* exlude MacIE5 \*/

* html .clearfix {
	height: 1%;
}

.clearfix {
	display:block;
}

/* end MacIE5 */