.middle3{
	margin:0px 29px;
	}

.middle3 div.bui{
	width:266px;
	float:right;
	}
.middle3 div.bui img.btn-reserve{
	margin:15px 0px 0px 29px;
	}
h3{
	margin:20px 10px 5px 10px;
	}
p.btn-reserve{
	padding-bottom: 5px;
	padding-left: 24px;
	padding-top: 1px;
	margin-bottom: 10px;
	}
.corse-select{
	display:block;
	text-align:left;
	margin:20px 29px;
	padding:5px 0px;
	border-top:#FBD9E9 1px solid;
	border-bottom:#FBD9E9 1px solid;
	}
.corse-select a{
	color:#660000;
	font-size:12px;
	font-weight:bold;
	}
.corse-select a:hover{
	color:#990000;
	font-size:12px;
	font-weight:bold;
	}
.check{
	margin:0px 5px 0px 15px;
	}

.imgover{}

tr.sp1-ryowaki td{ background:#FFFFD9;}
ul#wb_bnrlist{
	margin-top:30px;
	}

ul#wb_bnrlist li{
	display:block;
	list-style:none;
	}
ul#wb_bnrlist li img{
	display:block;
	}
.price-list td.normal-price{
	text-align: center;
	color: #FF0000;
}
.price-list td.normal-price2{
	padding:8px 2px;
	text-align: center;
	font-weight: bold;
	color: #FF0000;
}
.price-list td.campaign-price{
	padding:8px 2px;
	text-align: center;
	font-weight: bold;
	color: #F1527A;
}
.price-list td.campaign-price2{
	padding:8px 2px;
	text-align: center;
	font-weight: bold;
	color: #FF0000;
}