body {
	background:none;
}
.all {
	width: 760px;
	text-align: left;
	padding-top: 0px;
	margin: 0px auto;
}
h1 {
    display:none;
}
h2 {
    display:none;
}
p{
    display:none;
}
/*-- ヘッダ部 --*/

.head {
	display:none;
}

/*-- コンテンツ --*/

.contents {
	background:none;
}

/*-- サイドメニュー --*/

.menu {
    display:none;
}

/*-- フッター --*/


.footer {
   display:none;
}
/*-- メインコンテンツ --*/

.main {
	float: none;
}
.global-navi {
   display:none;
}

.path {
   display:none;
}
.to-top {
    display:none;
}
.center{
    display:none;
}
/*-- ショップガイドフォーマット --*/
.shop-info{
     display:none;
}
