/*


	■まつげ144
	■クーポン
	■リクルート






*/


body {
	background-color: #FEF5F9;
	font-size: 12px;
	color: #333333;
	margin: 0px auto;
	padding-top: 0px;
	text-align: center;
	background-image: url(img/back.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.all {
	width: 760px;
	text-align: left;
	padding-top: 0px;
	margin: 0px auto;
}
.partition {
	clear: both;
	display: none;
}

h1 {
	font-size: 18px;
	background-image: url(img/h1.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 34px 0px 32px 35px;
	color: #660000;
	line-height: 100%;
	margin: 0px 0px 21px 0px;
}

h1#matsuge-head {
	font-size: 18px;
	background-image: url(img/matsuge_h1.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 34px 0px 32px 35px;
	color: #660000;
	line-height: 100%;
	margin: 0px 0px 21px 0px;
}



h2 {
	font-size: 14px;
	margin-bottom: 5px;
	background-image: url(img/h2.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 9px 0px 11px 37px;
	color: #660000;
	margin-top: 20px;
}

div#shop-ichiran{
	font-size: 14px;
	margin-bottom: 5px;
	background-image: url(img/h2.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 9px 0px 11px 37px;
	color: #660000;
	margin-top: 20px;
	font-weight:bold;
}

div#shop-ichiran h2{
	font-size: 14px;
	padding: 0px;
	color: #660000;
	background: url(none);
	margin: 0px;
	float:left;
}

div#shop-ichiran div#btn-box{
	float:right;
	font-size: 12px;
}

div#shop-ichiran div#btn-box a{
	color:#FF0000;
}

div#shop-ichiran div#btn-box a:hover{
	color:#990000;
} 

br.clear{
	clear:both;
}

p.shop-information{
	font-size: 14px;
	margin-bottom: 5px;
	background-image: url(img/h2.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 9px 0px 11px 37px;
	color: #660000;
	margin-top: 20px;
	font-weight:bold;
}

h2 a{
	color: #660000;
	text-decoration:none;
}
h2 a:link{
	color: #660000;
	text-decoration:none;
}
h2 a:visited{
	color: #660000;
	text-decoration:none;
}
h2 a:hover{
	color: #660000;
	text-decoration:underline;
}

h2.mens {
	background-image:url(mens/img/bg-mensh2.gif);
	}



h3 {
	background-position:left center;
	background-repeat:no-repeat;
	font-size: 12px;
	background-image: url(img/h3.jpg);
	color: #660000;
	padding-bottom: 5px;
	padding-left: 24px;
	padding-top: 1px;
	margin-bottom: 10px;
}
h3 a{
	color: #660000;
}
h3 a:link{
	color: #660000;
	text-decoration:none;	
}
h3 a:visited{
	color: #660000;
	text-decoration:none;
}
h3 a:hover{
	color: #660000;
	text-decoration:underline;	
}
h3.how-to{
	background-image: url(img/h3_howto.jpg);
	color: #660000;
	font-size: 12px;
	padding: 6px 0px 5px 22px;
}
h3.mensH3 {
	background-image: url(mens/img/bg-mensh3.gif);
}

h4{
	color: #CC3366;
	font-size: 12px;
	border-bottom: 2px dotted #FFCCCC;
	padding-left: 5px;
	margin:auto 5px 5px 5px;
}
p {
	padding: 0px;
	margin: 0px;
	line-height: 150%;
}
img {
	border: 0px;
}
td,th {
	font-size: 12px;
}
dl {
	margin: 0px;
	padding: 0px;
}
dt {
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
dd {
	line-height: 1.3em;
	margin: 0px;
	padding: 0px;
}

p.datsumo-link{
	text-align:right;
	width: 176px;
	margin-right: auto;
	margin-left: auto;
}

p.datsumo-link a{
	color:#EA57A0;
} 

p.datsumo-link a:hover{
	color:#FBD7E8;
} 

div.line {
	height:3px;
	margin:10px 30px;
	background:url(loss_of_hair/img/line.jpg) top left scroll repeat-x;
}

/*　まつげ144
------------------------------------------------------*/

ul#ul-extension144{
	margin:0px 0px 20px;
	padding:0px 0px 0px 5px;
	list-style-type: none;
}

ul#extension144 li{
	margin:0px;
	padding:0px;
	list-style-type:none;
}


ul,li {
	margin: 0px;
	padding: 0px;
}
ol {
	margin-top: 0px;
	color: #663300;
	padding: 0px;
	margin-left: 10px;
}
ol li{
	font-weight: bold;
	list-style-type: none;
}
/*-- リンク指定 --*/

a:link {
	color: #333333;
}
a:visited {
	color: #333333;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}


/*-- ヘッダ部 --*/

.head {
	width: 760px;
}
/*-- コンテンツ --*/

.contents {
	width: 760px;
	margin: 0px;
	padding: 0px;
	clear: left;
	background: url(img/contents_bk.gif) repeat-y left top;
}

/*-- サイドメニュー --*/

.menu {
	width: 181px;
	float: left;
	margin: 0px;
	padding: 0px;
}
.menu dl {
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}
.menu dl dt {
	padding: 0px;
	margin: 0px;
	text-align: right;
}
.menu dl dt a{
    background-repeat:no-repeat;
	background-position:left center;
	display:block;
	width:181px;
	height:29px;
}
.menu dl dt a.loss-of-hair{
   background-image:url(img/m_loss_of_hair.jpg);
}
.menu dl dt a.loss-of-hair:hover{
   background-image:url(img/m_loss_of_hair_ov.jpg);
}
.menu dl dt a.eyelashes{
	background-image:url(img/m_eyelashes.jpg);
}
.menu dl dt a.eyelashes:hover{
   background-image:url(img/m_eyelashes_ov.jpg);
}
.menu dl dd {
	margin: 0px;
	line-height: 100%;
}
.menu dl dd a{
	color: #333333;
	text-decoration: none;
	background: url(img/m_list_bk.gif) no-repeat left top;
	padding: 7px 0px 6px 29px;
	display:block;
}
.menu dl dd a:visited{
	color: #333333;
	text-decoration: none;
}
.menu dl dd a:hover{
	text-decoration: none;
	background-image: url(img/m_list_bk_ov.gif);
}
.menu dl dd a.double{
	color: #333333;
	text-decoration: none;
	background: url(img/m_list_bk_l.gif) no-repeat left top;
	padding: 5px 0px 5px 29px;
	display:block;
	line-height: 130%;
}
.menu dl dd a.double:hover{
	text-decoration: none;
	background-image: url(img/m_list_bk_l_ov.gif);
}
.menu dl dd a.close{
	color: #333333;
	text-decoration: none;
	background: url(img/m_list_bk_close.gif) no-repeat left top;
	padding: 7px 0px 18px 29px;
	display:block;
}
.menu dl dd a.close:hover{
	text-decoration: none;
	background-image: url(img/m_list_bk_close_ov.gif);
}
.menu ul {
	padding: 0px;
	margin: 0px;
}
.menu ul li {
	padding: 0px 0px 12px;
	margin: 0px;
	list-style: none;
}
.menu ul.m-info {
	padding: 0px 0px 5px 11px;
	margin: 0px;
	background-color:#FFFFFF;
	border-left: solid 1px #F7F7F7;
}
.menu ul.m-info li {
	padding: 0px 0px 12px;
	margin: 0px;
	list-style: none;
}

.menu ul.company {
	padding: 6px 0px 0px 8px;
	margin: 0px 8px 20px 9px;
	background-color: #ED84B2;
	border: solid 1px #F8B9D9;
}
.menu ul.company li {
	padding: 0px;
	margin: 0px 0px 6px;
	list-style: none;
}
.menu .movie-bn{
    text-align:right;
}
.menu .movie{
	margin: 0px;
	background-color: #FFFFFF;
	background: url(img/movie_bk.gif) no-repeat 0 100%;
	padding-bottom: 24px;
}
.menu .movie ul{
	padding-left: 11px;
	border-bottom: none;
}
.menu .movie ul li{
	color: #660000;
	line-height: 140%;
	margin-left: 1px;
	padding-right:12px;
	padding-bottom: 3px;
}
.menu .movie ul li a{
	background-repeat: no-repeat;
	background-position: left center;
	padding: 1px 0px 7px 43px;
	display: block;
	color: #660000;
}
.menu .movie ul li a.visited{
	color: #660000;
	text-decoration:underline;
}
.menu .movie ul li a.hover{
	color: #660000;
	text-decoration:none;
}
.menu .movie ul li a.salon{
	background-image: url(img/movie_jcb.jpg);
}

.menu .movie ul li a.movie-01{
	background-image: url(img/movie_01.jpg);
}
.menu .movie ul li a.movie-02{
	background-image: url(img/movie_02.jpg);
}
.menu .movie ul li a.movie-03{
	background-image: url(img/movie_03.jpg);
}
.menu .movie ul li a.movie-04{
	background-image: url(img/movie_04.jpg);
}
.menu .movie ul li a.movie-05{
	background-image: url(img/movie_05.jpg);
}
.menu .movie ul li a.movie-06{
	background-image: url(img/movie_06.jpg);
}


.menu .movie .movie-text{
	font-size:10px;
	line-height:130%;
	margin: 0px 17px 0px 17px;
}

.menu .movie .movie-text2{
	font-size:10px;
	line-height:130%;
	margin: 0px 17px 10px;
	color: #CC0000;
}

.menu .movie .media{
	text-align: right;
	margin-right: 18px;
	margin-top: 5px;
	margin-bottom: 3px;
}
.banner {
	margin: 15px 0px 11px 9px;
}
.banner2 {
	margin: 11px 0px 11px 9px;
}
.m-campaign{
	border-left: 1px solid #F7F7F7;
	padding-top: 0px;
	background-color: #FFFFFF;
}
.m-campaign img{
	margin-bottom: 25px;
	margin-left: 9px;
}
.m-campaign img.line{
    margin-left:0px;
}
/*-- フッター --*/
.footer {
	width: 760px;
	clear: both;
	background-image: url(img/foot_bk.gif);
	background-repeat: repeat;
}
.footer a{
	text-decoration:none;
	color: #333333;
}
.footer a:visited{
	text-decoration:none;
	color: #333333;
}
.footer a:hover{
	text-decoration:underline;
	color: #333333;
}
.f-sub-navi {
	margin-left: 17px;
	padding-top: 9px;
	padding-bottom: 8px;
}
.f-sub-navi ul {
	margin: 0px;
	padding: 0px;
}
.f-sub-navi ul li {
	list-style-type:none;
	display:inline;
	background: url(img/f_arrow.gif) no-repeat left center;
	padding-left: 13px;
	padding-right: 17px;
}
.footer-navi {
	margin-left: 25px;
	padding-bottom: 5px;
}
.footer-navi ul {
	margin: 0px 0px 5px 0px;
	padding: 0px;
}
.footer-navi ul li {
	display: inline;
	border-left: 1px solid #333;
	list-style-type: none;
	padding-right: 0.1em;
	padding-left: 0.5em;
	line-height: 100%;
}
.f-address{
	background: url(img/address_bk.jpg) no-repeat left top;
	color: #FFFFFF;
	line-height: 127%;
	padding: 6px 0px 6px 37px;
}
.f-address strong{
   font-weight:normal;
}
.f-address address {
	font-style: normal;
}
.f-address a{
	color: #FFFFFF;
	text-decoration:none;
}
.f-address a:visited{
	color: #FFFFFF;
	text-decoration:none;	
}
.f-address a:hover{
	color: #FFFFFF;
	text-decoration:underline;	
}

h4#copyright{
	font-size: 10px;
	text-align: right;
	background-color: #FFFCFD;
	padding: 10px 10px 30px 0px;
	font-style:normal;
	color:#999999;
}

.copyright {
	font-size: 10px;
	text-align: right;
	background-color: #FFFCFD;
	padding: 10px 10px 30px 0px;
}


.foot-banner{
	background: url(img/store_bk.gif) no-repeat left top;
	height: 119px;
}
.foot-banner ul{
	padding-left: 15px;
	padding-top: 8px;
}
.foot-banner ul li{
	list-style-type: none;
	display: inline;
	padding-right: 6px;
}
/*-- メインコンテンツ --*/

.main {
	float: right;
	width: 579px;
	margin: 0px;
	padding: 0px;
}

.main iframe{
	width:537px;
	height:161px;
	border-left:1px #F086B0 solid;
	border-bottom:1px #F086B0 solid;
	margin:9px 0px 21px 0px;
	}

.global-navi {
	background: url(img/h_menu_bk.gif) no-repeat left top;
	width: 579px;
	height: 39px;
}
.global-navi ul {
	margin: 0px;
	padding: 0px 0px 7px 11px;
}
.global-navi ul li {
	float: left;
	list-style-type: none;
}
.global-navi ul li a{
	display:block;
	height:33px;
	background-position:left center;
	background-repeat:no-repeat;
	
}
.global-navi ul li a.h-shop{
	background-image:url(img/h_shop.jpg);
	padding-right: 3px;
	width: 86px;
}
.global-navi ul li a.h-shop:hover{
    background-image:url(img/h_shop_ov.jpg);
}
.global-navi ul li a.h-campaign{
	background-image:url(img/h_coupon.jpg);
	padding-right: 3px;
	width: 176px;
}
.global-navi ul li a.h-campaign:hover{
    background-image:url(img/h_coupon_ov.jpg);
}
.global-navi ul li a.h-coupon{
	background-image:url(img/h_coupon_matsuge.jpg);
	padding-right: 4px;
	width: 176px;
}
.global-navi ul li a.h-coupon:hover{
    background-image:url(img/h_coupon_matsuge_ov.jpg);
}
.global-navi ul li a.h-rate_list{
	background-image:url(img/h_rate_list.jpg);
	padding-right: 3px;
	width: 111px;
}
.global-navi ul li a.h-rate_list:hover{
    background-image:url(img/h_rate_list_ov.jpg);
}
.global-navi ul li a.h-mens{
	background-image:url(img/h_mens.jpg);
	padding-right: 3px;
	width: 164px;
}
.global-navi ul li a.h-mens:hover{
    background-image:url(img/h_mens_ov.jpg);
}
.path {
	background: url(img/path_bk.jpg) no-repeat left center;
	font-size: 11px;
	padding-left: 32px;
	padding-top: 5px;
}
.path strong{
    font-weight:normal;
}
.path a{
    text-decoration:none;
	 color:#333333;
}
.path a:visited{
    text-decoration:none;
	 color:#333333;	
}
.path a:hover{
    text-decoration:underline;
	 color:#333333;	
}
.middle2 h2#jyu-sho {
	margin:0px 0px 15px;
	font-size:12px;
	font-weight: normal;
	background: url(none);
	color: #666666;
	padding: 0px 6px 0px 0px;
}

h3#text-matsuge {
	display:none;
}


.middle2{
	margin:0px 27px 0px 31px;
	line-height: 160%;
}
.middle2 p{
	margin: 0px 0px 15px 6px;
	padding-right: 6px;
}
.event{
	margin-top:10px;
	margin-left: 29px;
}
.center{
    text-align:center;
}
ul.base-list{
	padding-left: 10px;
	margin-bottom: 10px;
}
ul.base-list li{
	line-height: 150%;
	list-style-type: none;
	background: url(img/icon.gif) no-repeat left top;
	padding-left: 15px;
	color: #990000;
}
.to-top {
	text-align: right;
	margin: 11px 20px 10px 0px;
}
.to-top2 {
	text-align: right;
	margin: 11px 0px 10px 0px;
}
.img-left{
	float:left;
	margin-right: 17px;
	margin-bottom: 5px;
}
.img-left2{
	float:left;
	margin: 3px 17px 15px 6px;
}
.img-left3{
	float:left;
	margin-right: 17px;
	margin-bottom: 60px;
}
.img-right{
	float:right;
	margin-bottom: 5px;
}
.img-right2{
	float:right;
	margin-bottom: 5px;
	margin-right: 20px;
	margin-left: 5px;
}
.link{
	text-align: right;
	color: #CC3366;
}
.link a{
	color: #CC3366;
	text-decoration: none;
	background: url(img/arrow.gif) no-repeat left center;
	padding: 2px 7px 0px 13px;
}
.link a:visited{
	color: #CC3366;
	text-decoration: none;
}
.link a:hover{
	color: #CC3366;
	text-decoration: underline;
}
.link-navi{
	background-color: #FFFBFD;
	border: 2px dotted #E9A5BB;
	padding: 10px;
	color: #990033;
}
.lead{
    margin:0px 34px 0px 29px;
}



.middle2 p.catch{
	font-size: 14px;
	font-weight: bold;
	color: #D0288D;
	margin-top: 5px;
	margin-bottom: 0px;
}
.middle2 p.catch2{
	margin: 10px 0px 5px 2px;
	padding: 0px;
}
.middle2 p.catch3{
	margin: 10px 0px 5px 0px;
	padding: 0px;
}
p.catch4{
	font-weight: bold;
	color: #D0288D;
	margin-top: 5px;
	margin-bottom: 3px;
	text-align: right;
	margin-right: 5px;
}
.anker{
	color: #CC3366;
}
.anker a{
}
/*-- カテゴリーリンクフォーマット --*/
.category-navi{
	margin-left: 5px;
	margin-top: 60px;
	margin-bottom: 40px;
}
.category-navi h2{
	background-image: url(img/categry_h2.gif);
	padding-left: 36px;
	padding-top: 12px;
	padding-bottom: 7px;
	color: #CC3366;
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 8px;
}
.category-navi h2 a{
	text-decoration:none;
	color: #CC3366;
}
.category-navi h2 a:visited{
	text-decoration:none;
	color: #CC3366;
}
.category-navi h2 a:hover{
	text-decoration:underline;
	color: #CC3366;
}
.category-navi ul {
	padding: 0px 0px 0px 6px;
}
.category-navi ul li{
	background: url(img/catefory_icon.gif) no-repeat left center;
	display: inline;
	list-style-type: none;
	color: #CC3366;
	padding-right: 5px;
	padding-left: 15px;
	padding-top: 1px;
}
.category-navi ul li a{
	color: #CC3366;
	text-decoration: none;
}
.category-navi ul li a:visited{
	color: #CC3366;
	text-decoration: none;
}
.category-navi ul li a:hover{
	color: #CC3366;
	text-decoration: underline;
}

.category-navi2{
	margin: 60px 0px 40px 5px;
}

.category-navi2 p.shop-info-navi{
	background-image: url(img/categry_h2.gif);
	padding: 8px 0px 7px 36px;
	color: #CC3366;
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 5px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.category-navi2 p.shop-info-navi a{
	text-decoration:none;
	color: #CC3366;
}


.category-navi2 p.shop-info-navi a:visited{
	text-decoration:none;
	color: #CC3366;
}

.category-navi2 p.shop-info-navi a:hover{
	text-decoration:underline;
	color: #CC3366;
}



.category-navi2 h2{
	background-image: url(img/categry_h2.gif);
	padding: 12px 0px 7px 36px;
	color: #CC3366;
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 5px;
}


.category-navi2 h2 a{
	text-decoration:none;
	color: #CC3366;
}


.category-navi2 h2 a:visited{
	text-decoration:none;
	color: #CC3366;
}
.category-navi2 h2 a:hover{
	text-decoration:underline;
	color: #CC3366;
}


.category-navi2 ul {
	padding: 0px 0px 0px 10px;
}
.category-navi2 ul li{
	list-style-type: none;
	line-height: 16px;
	color: #CC3366;
	float: left;
	width: 250px;
	padding: 2px 0px 2px 0px;
}

.category-navi2 ul li span{
	background: url(img/catefory_icon.gif) no-repeat left center;
	;
	padding-left: 20px;
	color: #CC3366;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight:bold;
}


.category-navi2 ul li strong{
	background: url(img/catefory_icon.gif) no-repeat left center;
	;
	padding-left: 20px;
	color: #CC3366;
	padding-top: 2px;
	padding-bottom: 2px;
}


.category-navi2 ul li a{
	background: url(img/catefory_icon.gif) no-repeat left center;
	padding-left: 20px;
	color: #CC3366;
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 2px;
}
.category-navi2 ul li a:visited{
	color: #CC3366;
	text-decoration: none;
}
.category-navi2 ul li a:hover{
	color: #CC3366;
	text-decoration: underline;
}
/*-- トップページフォーマット --*/
.top-img{
	background: url(img/top_img2.jpg) no-repeat left top;
	margin-bottom: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 579px;
}
.top-img h1{
	font-size: 14px;
	padding: 0px 0px 7px 26px;
	margin: 0px 0px 0px 0px;
	background: none;
}
.top-img .top-lead{
	color: #660000;
	line-height: 150%;
	padding: 0px 300px 0px 28px;
}
.top-img .top-lead em{
	font-style: normal;
}
.top-content{
    margin:0px 0px 0px 21px 
}
.top-left{
	float:left;
	margin: 0px 0px 30px 0px;
	width: 359px;
	background: url(img/top_line.gif) repeat-y right top;
	padding-bottom: 15px;
}
.top-left h2{
	background: none;
	margin: 9px 0px 0px 3px;
	padding: 0px;
}
.top-left .point{
	margin-left: 3px;
	border-bottom: dotted 1px #F5A5CD;
	margin-right: 12px;
	padding:0px 10px 8px 68px;
}
.top-left .link-jdc{
	text-align:right;
	margin: 5px 22px 6px 0px;
}
.top-left .top-counseling{
	margin-left: 1px;
	width: 344px;
	background: url(img/top_counseling_bk.gif) no-repeat left bottom;
	margin-bottom: 14px;
}
.top-left .top-counseling h2{
	margin: 0px 0px 5px 0px;
}
.top-left .top-counseling p{
	padding-right: 15px;
	margin-bottom: 30px;
}
.top-left .top-counseling p.link{
	margin-bottom: 0px;
	padding-right: 10px;
}
.top-left .top-counseling img.photo{
	float:left;
	margin:0px 14px 7px 9px;
}
.top-left .news{
	margin-left: 3px;
}
.top-left .news th{
	color: #666666;
	font-weight: normal;
	line-height: 150%;
	vertical-align: top;
	text-align: left;
	padding: 10px 3px 10px 7px;
}
.top-left .news td{
	vertical-align: top;
	line-height: 150%;
	color: #666666;
	padding: 10px 0px 10px 0px;
}
.top-right{
	float:right;
	width: 199px;
}
.top-right h2{
	background:none;
	margin: 0px 0px 0px 8px;
	padding: 0px;
}
.top-right .guide{
	margin: 0px 19px 11px 12px;
	color: #666666;
	line-height: 135%;
	font-size: 10px;
}
.top-right .store-info{
	margin-left: 6px;
}
.top-right .store-info ul{
	padding-top: 12px;
	padding-left: 2px;
}
.top-right .store-info ul li{
	list-style-type: none;
	margin-bottom: 10px;
}

/*　ショップガイドフォーマット
--------------------------------------------------------------------------*/

.shop-info{
	margin: 30px 0px 0px 24px;
	width: 534px;
}
.shop-info .left{
	float:left;
	width: 297px;
}
.shop-info .left .text{
	background: url(img/shop_info_bk.gif) no-repeat left top;
	padding-left: 21px;
	padding-top: 4px;
	height: 74px;
	font-size: 11px;
}

.shop-info .left .text img{
	margin: 10px 0px 5px 80px;

}
.shop-info .left .text2{
	background: url(img/shop_info_bk.gif) no-repeat left top;
	padding-left: 21px;
	padding-top: 11px;
	height: 74px;
}

.shop-info .left .text2 img{
	margin: 0px 0px 0px 180px;
	text-align: right;

}
.shop-info .right{
    float:right;
}
/*-- サイトマップフォーマット --*/

.sitemap {
	margin: 0px 0px 30px 10px;
	padding: 8px 0px 0px;
}
.sitemap dl{
}
.sitemap dl dt{
	background: url(info/img/s_dt.gif) no-repeat left center;
	padding: 5px 0px 8px 45px;
	color: #CC3366;
	margin-bottom: 5px;
	font-size: 14px;
}
.sitemap dl dt a{
	color: #CC3366;
	text-decoration:none;		

}
.sitemap dl dt a:visited{
	color: #CC3366;
	text-decoration:none;	
}
.sitemap dl dt a:hover{
	color: #FF6699;
	text-decoration:underline;
}
.sitemap dl dd{
	color: #660000;
	margin: 0px 35px 20px 0px;
	padding: 0px 0px 10px 35px;
}
.sitemap dl dd ul{
	padding-left: 8px;
	border-left: 3px dotted #FED8EF;
	margin-top: -15px;
	margin-left: 5px;
}
.sitemap dl dd li {
	background: url(info/img/s-list.gif) no-repeat left top;
	list-style-type: none;
	padding:0px 0px 0px 25px;
	margin: 0px;
	color: #996600;
	margin-bottom: 5px;
}
.sitemap dl dd li a{
	color: #993300;
	text-decoration:none;
}
.sitemap dl dd li  a:visited{
	color: #993300;
	text-decoration:none;	
}
.sitemap dl dd li  a:hover{
	color: #CC9900;
	text-decoration:underline;	
}

/*-- よくある質問フォーマット --*/
.faq {
	padding: 10px 10px 10px 20px;
	border: 2px dotted #FFD9F0;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #FFFEF7;
}
.faq ul {
}
.faq ul li {
	list-style-type: none;
	color: #660000;
	line-height: 180%;
}
.faq ul li a{
	color: #660000;
}
.faq ul li a:visited{
	color: #660000;
}
.faq ul li a:hover{
	color: #660000;
	text-decoration:none;
}
.q {
	background: url(img/quetion.gif) no-repeat left center;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 12px;
}
h3.q {
	background: url(img/quetion.gif) no-repeat left center;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 12px;
	padding-left: 37px;
}
.middle2 p.a {
	background: url(img/answer.gif) no-repeat left top;
	margin-left: 0px;
	border-bottom: solid 1px #CCCCCC;
	padding: 8px 0px 15px 37px;
}

/*-- フォームセット --*/

form {
	margin: 0px;
	padding: 0px;
}
fieldset {
	padding: 0.5em;
	border: 1px solid #FF66CC;
	margin: 0.5em;
}
legend {
	font-weight: bold;
}
.submit {
	text-align: center;
	border: none;
}
.caution {
	font-weight: bold;
	color: #FF0000;
}

/*-- フォームメール内部フォーマット --*/

.mail-form {
	background: #000000;
}
.mail-form dt {
}
.mail-form dd {
}
.mail-form th {
}
.mail-form td {
	background: #FFFFFF;
}
.mail-input {
	text-align: center;
}
/*-- テーブルフォーマット --*/
.compare-tb{
	border-bottom: solid 1px #E1D2D2;
}
.compare-tb th{
	background-color: #996666;
	color: #FFFFFF;
	border-right: dotted 1px #FFF;
	padding: 4px 0px 4px 0px;
	text-align: center;
}
.compare-tb th.list{
	background-color:#FFFDF4;
	line-height: 130%;
	border-right: dotted 1px #996666;
	border-bottom: dotted 1px #996666;
	padding: 4px 0px 4px 0px;
}
.compare-tb th.list2{
	background-color:#FFFFCC;
	line-height: 130%;
	border-right: dotted 1px #996666;
	border-bottom: solid 1px #FFF;
	padding: 4px 0px 4px 0px;
}
.compare-tb td{
	color: #990000;
	line-height: 130%;
	padding: 10px 10px 5px 10px;
	border-bottom: dotted 1px #996666;
	border-right: dotted 1px #996666;
}
.compare-tb td.close{
	border-bottom: solid 1px #FFF;
}
.compare-tb td.point{
	border-right: none;
	color: #333333;
	padding: 10px 10px 5px 20px;	
}
.compare-tb td.point ul li{
	list-style-type:none;
	line-height: 150%;
	margin-bottom: 5px;
}
.compare-tb td.point-close{
	border-right: none;
	color: #333333;
	padding: 10px 15px 5px 20px;
	border-bottom: solid 1px #FFF;
}
.compare-tb td.point-close ul li{
	list-style-type:none;
	line-height: 150%;
	margin-bottom: 5px;
}
.common-tb{
	border-top: 5px solid #FBB7BF;
	margin-bottom: 30px;
	border-left: dotted 1px #FBB7BF;
	margin-top: 10px;
}
.common-tb th{
	text-align: left;
	font-weight: normal;
	line-height: 150%;
	padding: 8px;
	background-color: #FEF7F1;
	border-bottom: 2px dotted #FBB7BF;
	color: #663300;
	border-right: dotted 1px #FBB7BF;
}
.common-tb th.th2{
	background-color: #F7DFC1;
	font-weight: bold;
	color: #996600;
	border-bottom: 2px dotted #996600;
}
.common-tb td{
	line-height: 150%;
	padding: 8px;
	border-bottom: 2px dotted #FBB7BF;
	background-color: #FFFFFF;
	color: #663300;
	border-right: dotted 1px #FBB7BF;
}
.common-tb td select{
    margin-bottom:3px;
}
.common-tb td textarea{
	font-size:12px;
	color: #663300;
}
.common-tb td.price{
	text-align: right;
	color: #CC3333;
}
.common-tb td.td2{
    text-align:center;
}
.faq-tb{
	border-top: 5px solid #FBB7BF;
	margin-bottom: 30px;
	border-left: solid 1px #FBB7BF;
	margin-top: 10px;
}
.faq-tb th{
	text-align: center;
	font-weight: normal;
	line-height: 150%;
	padding: 8px 0px 8px 0px;
	background-color: #FEF7F1;
	border-bottom: 2px solid #FBB7BF;
	color: #663300;
	border-right: solid 1px #FBB7BF;
}
.faq-tb th.th2{
	background-color: #F7DFC1;
	font-weight: bold;
	color: #996600;
	border-bottom: 2px solid #996600;
}
.faq-tb td{
	line-height: 150%;
	padding: 8px;
	border-bottom: 2px solid #FBB7BF;
	background-color: #FFFFFF;
	color: #663300;
	border-right: solid 1px #FBB7BF;
}
.red{
	color: #CC3333;
	font-weight: normal;
}
.red strong{
	font-size:1.3em; 
}
.uL{
	border-bottom:3px #F00 dotted;
	line-height:2.5em;
}
.link-site{
	margin-bottom: 15px;
	margin-top: 10px;
}
.link-site th{
	text-align: left;
	vertical-align: top;
}
.link-site td{
	padding: 5px 0px 10px 10px;
	line-height: 150%;
	vertical-align: top;
	font-size: 11px;
}
.item-tb{
}
.item-tb th{
	padding-bottom: 5px;
	color: #C80461;
	text-align: center;
}
.item-tb td{
	padding: 0px 10px 0px 10px;
	vertical-align: top;
	line-height: 150%;
	font-size: 12px;
	color: #663300;
}
/*-- 料金表一覧 --*/
.price-list{
	margin-top: 15px;
	border-top: 5px solid #A05F05;
	margin-bottom: 10px;
	border-bottom: 2px solid #A05F05;
	border-left: 1px dotted #CB8C54;
}
.price-list th{
	background-color: #FAEFDE;
	color: #996600;
	padding: 8px 5px 8px 5px;
	border-bottom: 1px dotted #CB8C54;
	border-right: 1px dotted #CB8C54;
	text-align: center;
}
.price-list th.normal{
	color: #CC6633;
}
.price-list th.price{
	color: #F1527A;
}
.price-list td{
	padding: 8px 5px 8px 5px;
	color: #996600;
	border-right: 1px dotted #CB8C54;
	background-color: #FFFFFB;
	border-bottom: 1px dotted #EFDBC9;
}
.price-list td.normal-price{
	text-align: center;
	color: #FF0000;
}
.price-list td.campaign-price{
	padding:8px 2px;
	text-align: center;
	font-weight: bold;
	color: #F1527A;
}
/*-- ケアアイテムページ --*/
.care-item{
	margin: 0px 10px 50px 10px;
}
.care-item th {
    vertical-align:top;
}
.care-item th p{
	background-color: #FFF0F5;
	padding: 5px;
	margin: 0px;
}
.care-item td.h3{
	padding-left:10px;
	border-bottom: none;
	padding-top: 2px;
}
.care-item td.h3 h3{
	margin: 0px;
	padding-top: 0px;
}
.care-item td{
	vertical-align: top;
	padding: 5px 0px 0px 20px;
	line-height: 150%;
}
.care-item td p.price{
	font-weight: bold;
	color: #CC3366;
	margin: 10px 0px 0px 0px;
	border-bottom: 1px dotted #FFCCCC;
	padding-bottom: 5px;
}
/*-- アイプランニングページ --*/
.eyes-tb{
	margin-top: 15px;
}
.eyes-tb th h3{
	text-align:center;
	background: none;
	margin: 0px 5px 5px 0px;
	padding: 5px 0px 3px 0px;
	border-bottom: 2px dotted #FAB1C6;
	background-color: #FFF9F7;
	border-right: 2px dotted #FFDDE8;
}
.eyes-tb td{
	text-align: center;
	padding-bottom: 15px;
	color: #CC3333;
	vertical-align: top;
	line-height: 180%;
	padding-right: 5px;
	font-size: 11px;
}

/*-- クーポンページ --*/
.coupon{
	background-color: #FEF5F9;
	width: 508px;
	margin-bottom: 20px;
	margin-left: 7px;
	margin-top: 15px;
}

.coupon .price-tb{
	margin-top: 9px;
	margin-bottom: 2px;
}
.coupon .price-tb th{
	text-align: left;
	background-image: url(info/img/icon.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 18px;
	line-height: 170%;
	font-weight: normal;
	vertical-align: top;
}
.coupon .price-tb th .text{
	line-height: 120%;
	font-size: 10px;
}
.coupon .price-tb td{
	text-align:right;
	line-height: 170%;
	padding-right: 10px;
	vertical-align: top;
}
.coupon .price-tb .price{
	color: #E94BA1;
	font-weight:bold;
}
.pink {
	color: #E94BA1;
}
.coupon ul{
	background-color:#FFFAF1;
	padding-bottom: 17px;
}
.coupon ul li{
	list-style-type: none;
	font-size: 10px;
	line-height: 150%;
	padding-left: 16px;
	padding-right: 16px;
}

.coupon  .price-table th {
	text-align: left;
	font-weight: normal;
	padding-left: 18px;
}

.coupon  .price-table td {
	text-align: right;
	padding-right: 10px;
}



/*-- 店舗情報 --*/
.store-photo{
	float:left;
	margin: 0px 24px 0px 2px;
}
.store-photo img{
   margin-bottom:10px;
}
ul.store-list{
	background-image:url(store/img/line.gif);
	background-repeat:no-repeat;
	background-position:left top;
	padding-left: 5px;
	margin-bottom: 10px;
	margin-left: 275px;
	padding-top: 16px;
}
ul.store-list li{
	line-height: 150%;
	list-style-type: none;
	background: url(img/icon.gif) no-repeat left top;
	padding-left: 15px;
	color: #990000;
}

/*-- さまざまな脱毛 --*/

p.t_p_light_midashi {
	font-size: 12px;
	line-height: 18px;
	color: #990000;
}

p.t_p_light_donyu {
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
	background-color: #990000;
	text-align: center;
	width: 300px;
	margin-left: 100px;
}

/*-- まつ毛エクステ --*/

div.box-extend {
	text-align: center;
}



h2#h2-extension144{
	width:195px;
	height:60px;
	background: url(eyelashes/img/h2_144exrension.jpg) no-repeat scroll;
	text-indent: -9000px;
	
}

/*-- ケアアイテムのご紹介 --*/

p#btn-rakuten{
	text-align:right;
}


/*	リンク
----------------------------------------------------------------*/

div.link-box{
	width:521px;
	height:auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.link-box-left{
	width:165px;
	height:auto;
	float:left;
}

div.link-box-right{
	width:336px;
	height:auto;
	float:right;
}

ul#link-attention{
	margin:0px 0px 20px;
	padding:0px;
}

ul#link-attention li{
	margin:0px;
	padding:0px 0px 0px 15px;
	list-style-type:none;
	background: url(link/img/li_link.jpg) no-repeat scroll 0px 3px;
}

dl#link-banner{
	margin:0px;
	padding:0px;
}

dl#link-banner dt{
	margin:0px;
	padding:5px 0px 0px 0px;
}


dl#link-banner dd{
	margin:0px;
	padding:0px;
}

/*　商品ページ
--------------------------------------------------------------------*/

div#afe-block{
	width:523px;
	height:345px;
	margin:0px auto 40px 31px;
}

div#afe-block h2{
	margin:0px;
	padding:0px;
	width:523px;
	height:93px;
	background: url(info/img/h2_afe_header.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

div#afe-block p{
	width:523px;
	height:160px;
	margin:0px;
	padding:0px;
	text-align:center;
	font-size: 10px;
	line-height: 160%;
	background: url(info/img/bg_afe_body.jpg) no-repeat scroll 0px 0px;
}

div#afe-block strong#strong-afe-block-footer{
	display:block;
	width:523px;
	height:92px;
	background: url(info/img/bg_afe_footer.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

div.afe-products{
	width:523px;
	height:auto;
	margin:0px auto 0px 31px;
}

div.afe-products-left{
	width:333px;
	height:auto;
	float:left;

}

div.afe-products-left p#p-crevo-copy01{
	width:226px;
	height:31px;
	margin:0px 0px 13px;
	padding:0px;
	text-indent: -9000px;
	background: url(info/img/crevo_copy01.jpg) no-repeat scroll 0px 0px;	
}

div.afe-products-left h2#h2-crevo{
	width:153px;
	height:19px;
	margin:0px 0px 18px;
	padding:0px;
	background: url(info/img/h2_crevo.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

div.afe-products-left p#p-crevo-copy02{
	width:254px;
	height:14px;
	margin:30px 0px 10px;
	padding:0px;
	background: url(info/img/crevo_copy02.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

div.afe-products-left p#crevo-effect01{
	width:261px;
	height:20px;
	margin:20px 0px 0px;
	padding:0px;
	background: url(info/img/crevo_effect.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

div.afe-products-left p#crevo-effect02{
	width:261px;
	height:21px;
	margin:11px 0px 0px;
	padding:0px;
}

div.afe-products-left h3#h3-crevo-effect01{
	width:111px;
	height:18px;
	margin:20px 0px;
	padding:0px;
	background: url(info/img/h3_crevo_efect01.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

div.afe-products-left h3#h3-crevo-effect02{
	width:114px;
	height:18px;
	margin:20px 0px;
	padding:0px;
	background: url(info/img/h3_crevo_efect02.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

div.afe-products-left h3#h3-crevo-effect03{
	width:97px;
	height:18px;
	margin:20px 0px;
	padding:0px;
	background: url(info/img/h3_crevo_efect03.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

p.p-purchase{ 
	width:157px;
	height:38px;
	margin:20px 0px 0px;
}

p.p-purchase a{
	display:block;
	width:157px;
	height:38px;
	text-indent:-9000px;
	background: url(info/img/btn_purchase.jpg) no-repeat scroll 0px 0px;
	text-decoration:none;
}

p.p-purchase a:hover{
	text-decoration:none;
	background: url(info/img/btn_purchase_f2.jpg) no-repeat scroll 0px 0px;
}

div.afe-products-right{
	width:169px;
	height:auto;
	float:right;
}

p.p-mt20{
	margin-top:20px;
}



p#p-producsts-spacer{
	height:11px;
	margin:40px 0px 40px 31px;
	padding:0px;
	background: url(info/img/bg_prducs_spacer.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}


p.p-clear{
	clear:both;
}

p.p-m20-clear{
	clear:both;
	margin:20px auto;
}

hr.hr-20{
	margin:20px auto;
	width:100%;
	height:1px;
	border: 1px solid #FFFFFF;
	clear:both;
}

/**/

div.afe-products-left p#p-novel-copy01{
	width:226px;
	height:31px;
	margin:0px 0px 13px;
	padding:0px;
	text-indent: -9000px;
	background: url(info/img/novel_copy01.jpg) no-repeat scroll 0px 0px;	
}

div.afe-products-left h2#h2-novel{
	width:197px;
	height:19px;
	margin:0px 0px 18px;
	padding:0px;
	background: url(info/img/h2_novel.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

 p#p-novel-copy02{
	width:254px;
	height:14px;
	margin:30px 0px 10px;
	padding:0px;
	background: url(info/img/novel_copy02.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

p#novel-effect01{
	width:261px;
	height:20px;
	margin:20px 0px;
	padding:0px;
	background: url(info/img/novel_effect.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

p#novel-effect02{
	width:261px;
	height:21px;
	margin:11px 0px 0px;
	padding:0px;
}


.font10{
	font-size:10px;
}

h3#h3-crevo-worry{
	width:523px;
	height:20px;
	margin:0px;
	padding:0px;
	background: url(info/img/h3_crevo_worry.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

ul#ul-crevo-worry{
	margin:20px 0px 20px 15px;
	line-height:150%;
}

ul#ul-crevo-worry li{
	float:left;
	margin:0px;
	width:240px;
	list-style-type: none;
	background: url(info/img/li_afe_worry.jpg) no-repeat scroll 0px 6px;
	padding-left: 10px;
}

h3#h3-crevo-maintenance{
	width:523px;
	height:20px;
	margin:20px 0px;
	padding:0px;
	background: url(info/img/h3_crevo_maintenance.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

h3#h3-crevo-actuallyfeeling{
	width:523px;
	height:20px;
	margin:20px 0px;
	padding:0px;
	background: url(info/img/h3_crevo_actuallyfeeling.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

h3#h3-peeling{
	width:254px;
	height:14px;
	margin:40px 0px 20px;
	padding:0px;
	background: url(info/img/h3_peeling.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

h3#h3-peeling-worry{
	width:523px;
	height:20px;
	margin:0px;
	padding:0px;
	background: url(info/img/h3_peeling_worry.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

ul#ul-peeling-worry{
	margin:20px 0px 20px 15px;
	line-height:150%;
}

ul#ul-peeling-worry li{
	float:left;
	margin:0px;
	width:240px;
	list-style-type: none;
	background: url(info/img/li_afe_worry.jpg) no-repeat scroll 0px 6px;
	padding-left: 10px;
}

h3#h3-peeling-maintenance{
	width:523px;
	height:20px;
	margin:20px 0px;
	padding:0px;
	background: url(info/img/h3_peeling_maintenance.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}

h3#h3-peeling-actuallyfeeling{
	width:523px;
	height:20px;
	margin:20px 0px;
	padding:0px;
	background: url(info/img/h3_peeling_actuallyfeeling.jpg) no-repeat scroll 0px 0px;
	text-indent: -9000px;
}


p#p-sample{
	margin-top:20px;
	margin-bottom: 40px;
}


.all .contents .main .top-img .h1-12 {
	font-size: 12px;
}


p.p-toppage-banner{
	margin:0px auto 20px;
}


p.p-entry{
	text-align:center;
}

/*　クーポンページ
-------------------------------------------------------------*/

ul#ul-coupon-list{
	margin:0px;
	padding:0px;
}

ul#ul-coupon-list li{
	list-style-type:none;
	text-align:center;
	margin:0px;
	padding:20px 0px;
}

/*	リクルート
----------------------------------------------------------------*/

table#table-entry{
	width:519px;
}


/*	新料金表
----------------------------------------------------------------*/

ul.rate-list2{
	margin-bottom:45px;
	}

ul.rate-list li{
	display:block;
	width:521px;
	height:94px;
	margin:20px 0px 20px 29px;
	list-style:none;
	}
ul.rate-list li a{
	display:block;
	height:94px;
	padding:0px 0px 0px 125px;
	background:url(loss_of_hair/img/rate_list_al2.jpg) top left scroll no-repeat;
	text-decoration:none;
	}
ul.rate-list li a em{
	display:block;
	color:#F49BC7;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	}
ul.rate-list li a span{
	display:block;
	margin:10px 0px 0px 0px;
	}

ul.rate-list li#list-al2 a{background:url(loss_of_hair/img/rate_list_al2.jpg) top left scroll no-repeat;
	text-decoration:none;}
ul.rate-list li#list-al2 a:hover{
	background:url(loss_of_hair/img/rate_list_al2_f2.jpg) top left scroll no-repeat;
	text-decoration:none;
}

ul.rate-list li#list-sl2 a{background:url(loss_of_hair/img/rate_list_sl2.jpg) top left scroll no-repeat;
	text-decoration:none;}
ul.rate-list li#list-sl2 a:hover{background:url(loss_of_hair/img/rate_list_sl2_f2.jpg) top left scroll no-repeat;
	text-decoration:none;}

ul.rate-list li#list-sl3 a{background:url(loss_of_hair/img/rate_list_sl3.jpg) top left scroll no-repeat;
	text-decoration:none;}
ul.rate-list li#list-sl3 a:hover{background:url(loss_of_hair/img/rate_list_sl3_f2.jpg) top left scroll no-repeat;
	text-decoration:none;}

ul.rate-list li#list-sp1 a{background:url(loss_of_hair/img/rate_list_sp1.jpg) top left scroll no-repeat;
	text-decoration:none;}
ul.rate-list li#list-sp1 a:hover{background:url(loss_of_hair/img/rate_list_sp1_f2.jpg) top left scroll no-repeat;
	text-decoration:none;}





ul.rate-list-d li {
	display:block;
	width:396px;
	height:94px;
	margin:20px 0px 20px 29px;
	padding:0px 0px 0px 125px;
	text-decoration:none;
	list-style:none;
	}
* html ul.rate-list-d li{
	display:block;
	width:521px;
	height:94px;
	margin:20px 0px 20px 29px;
	padding:0px 0px 0px 125px;
	text-decoration:none;
	list-style:none;
	}
ul.rate-list-d li#list-al2{background:url(loss_of_hair/img/rate_list_al2.jpg) top left scroll no-repeat;}

ul.rate-list-d li#list-sl2{background:url(loss_of_hair/img/rate_list_sl2.jpg) top left scroll no-repeat;}

ul.rate-list-d li#list-sl3{background:url(loss_of_hair/img/rate_list_sl3.jpg) top left scroll no-repeat;}

ul.rate-list-d li#list-sp1{background:url(loss_of_hair/img/rate_list_sp1.jpg) top left scroll no-repeat;}


ul.rate-list-d li em{
	display:block;
	color:#F49BC7;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	}
ul.rate-list-d li span{
	display:block;
	margin:10px 0px 0px 0px;
	}
.note {
	font-size: 10px;
	color: #FF6600;
	margin: 0px;
	padding: 0px;
}
.middle2 p {
	margin: 10px 0px 0px;
}
.all .contents .main .middle2 #map iframe {
	margin: 0px;
	padding: 0px;
	width: 500px;
	height: 350px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.shop-data {
	float: right;
}


/******************************************************************** margin padding
*/
.mt0  {margin-top: 0px  !important}
.mt2  {margin-top: 2px  !important}
.mt4  {margin-top: 4px  !important}
.mt5  {margin-top: 5px  !important}
.mt10  {margin-top: 10px  !important}
.mt20  {margin-top: 20px  !important}
.mt25  {margin-top: 25px  !important}
.mt30  {margin-top: 30px  !important}
.mt15  {margin-top: 15px  !important}
.mt50  {margin-top: 50px  !important}
.mt60  {margin-top: 60px  !important}
.mb5  {margin-bottom: 5px  !important}
.mb10  {margin-bottom: 10px  !important}
.mb15  {margin-bottom: 15px  !important}
.mb20  {margin-bottom: 20px  !important}
.mb30  {margin-bottom: 30px  !important}
.ml0  {margin-left: 0  !important}
.ml5  {margin-left: 5px  !important}
.ml17  {margin-left: 17px  !important}
.pl0  {padding-left: 0  !important}
.pl4  {padding-left: 4px  !important}
.pl5  {padding-left: 5px  !important}
.pt0  {padding-top: 0  !important}
.pt10  {padding-top: 10px  !important}
.pt15  {padding-top: 15px  !important}
.pt20  {padding-top: 20px  !important}
.pb5  {padding-bottom: 5px  !important}


/******************************************************************** Float containers fix
===================================================================== a.k.a. clearfix */

/******************** exp IE
*/
#shop-area:after,
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

/******************** for IE
Level 2.1*/
#shop-area,
.clearfix { display: inline-block;}  

/* Holly Hack Targets IE Win only \*/
* html #shop-area,
* html .clearfix { height: 1%;}
#shop-area,
.clearfix { display: block;}
/* End Holly Hack */
.middle2 .link-box {
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid #FFCCCC;
	margin-bottom: 10px;
	margin-top: 10px;
}
.link-box li {
	margin-left: 20px;
}

p#mobile{margin:0px 10px;}
.top-content .guide {
	margin-bottom: 25px;
}
.price {
	color: #FF6699;
	font-weight: bolder;
}


#attension{
	background:#fdecf4;
	padding:10px; margin-top:30px;
	text-align:center;
	font-size:1.5em;
	line-height:1.75em;
	border:1px solid #fbd6e8;
}
#attension span{
	font-size:0.65em;
}
#attension strong{
	color:4b1e18;
}


/*mens*/
div.bgmainmen {
	background:url(mens/img/bg-main.jpg) no-repeat ;
	width:522px;
	height:536px;
	margin: 0 0 0 30px;
	}
	
h1#mensmain {
	background-image:none;
	padding:0;
	}
	
div.bgmainmen p {
	color:#FFFFFF;
	font-weight:bold;
	margin-left:10px;
	}	
	
div.mensbottom {
	margin: 0 0 0 30px;
	}
	
div.mensbottom dl dt {
	font-weight:bold;
	color: #213D58;
	font-size:120%;
	padding:7px 0;
	}
	
	
div.mensbottom div.clearfix p {
	float:left;
	margin:12px 12px 0 0;
	}
	
h1#mens {
	background-image:none;
	padding: 0 0 0 30px;
	}

h2 {
	font-size: 14px;
	margin-bottom: 5px;
	background-image: url(img/h2.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 9px 0px 11px 37px;
	color: #660000;
	margin-top: 20px;
}

/*-- MENS料金表一覧 --*/
.mensprice-list{
	margin-top: 0;
	border-top: 5px solid #A05F05;
	margin-bottom: 10px;
	border-bottom: 2px solid #A05F05;
	border-left: 1px dotted #CB8C54;
	width:100%;
}
.mensprice-list th{
	background-color: #FAEFDE;
	color: #996600;
	padding: 8px 5px 8px 5px;
	border-bottom: 1px dotted #CB8C54;
	border-right: 1px dotted #CB8C54;
	text-align: center;
}
.mensprice-list th.normal{
	color: #CC6633;
}
.mensprice-list th.price{
	color: #F1527A;
}
.mensprice-list td{
	padding: 8px 5px 8px 5px;
	color: #996600;
	border-right: 1px dotted #CB8C54;
	background-color: #FFFFFB;
	border-bottom: 1px dotted #EFDBC9;
}
.mensprice-list td.normal-price{
	text-align: left;
}
.mensprice-list td.campaign-price{
	text-align: left;
	font-weight: bold;
	color: #213d58;
}

.mensprice-list td.bodyParts {
	color:#fff;
	background:#b97b26;
	font-weight:bold;
	padding-right:0;
	}
	
.mens-tb{
	border-top: 5px solid #213D58;
	margin-bottom: 30px;
	border-left: dotted 1px #213D58;
	margin-top: 10px;
}
.mens-tb th{
	text-align: left;
	font-weight: normal;
	line-height: 150%;
	padding: 8px;
	background-color: #fef7ea;
	border-bottom: 2px dotted #213D58;
	color: #663300;
	border-right: dotted 1px #213D58;
}
.mens-tb th.th2{
	background-color: #F7DFC1;
	font-weight: bold;
	color: #996600;
	border-bottom: 2px dotted #996600;
}
.mens-tb td{
	line-height: 150%;
	padding: 8px;
	border-bottom: 2px dotted #213D58;
	background-color: #FFFFFF;
	color: #663300;
	border-right: dotted 1px #213D58;
}
.mens-tb td select{
    margin-bottom:3px;
}
.mens-tb td textarea{
	font-size:12px;
	color: #663300;
}
.mens-tb td.price{
	text-align: right;
	color: #CC3333;
}
.mens-tb td.td2{
    text-align:center;
}



.faq-tb{
	border-top: 5px solid #FBB7BF;
	margin-bottom: 30px;
	border-left: solid 1px #FBB7BF;
	margin-top: 10px;
}
.faq-tb th{
	text-align: center;
	font-weight: normal;
	line-height: 150%;
	padding: 8px 0px 8px 0px;
	background-color: #FEF7F1;
	border-bottom: 2px solid #FBB7BF;
	color: #663300;
	border-right: solid 1px #FBB7BF;
}
.faq-tb th.th2{
	background-color: #F7DFC1;
	font-weight: bold;
	color: #996600;
	border-bottom: 2px solid #996600;
}
.faq-tb td{
	line-height: 150%;
	padding: 8px;
	border-bottom: 2px solid #FBB7BF;
	background-color: #FFFFFF;
	color: #663300;
	border-right: solid 1px #FBB7BF;
}
.red{
	color: #CC3333;
	font-weight: normal;
}
.link-site{
	margin-bottom: 15px;
	margin-top: 10px;
}
.link-site th{
	text-align: left;
	vertical-align: top;
}
.link-site td{
	padding: 5px 0px 10px 10px;
	line-height: 150%;
	vertical-align: top;
	font-size: 11px;
}
.item-tb{
}
.item-tb th{
	padding-bottom: 5px;
	color: #C80461;
	text-align: center;
}
.item-tb td{
	padding: 0px 10px 0px 10px;
	vertical-align: top;
	line-height: 150%;
	font-size: 12px;
	color: #663300;
}
h1#mens02{
	background-image: none;
  padding: 0 0 0 30px;
	margin:0 0 10px;
}
.keizoku{
	text-align:center;
	font-weight:bold;
	border:#900 1px dotted;
	width:220px;
	margin:0 0 10px 300px;
	padding:2px 0;
}