@charset "UTF-8";
@media only screen and (max-width: 768px) {
  img {
    width: 100%;
    height: auto; }

  body {
    font-size: 80%;
    color: #111111;
    line-height: 160%;
    background: #FFF;
    font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
    letter-spacing: -0.5px;
    min-width: 320px;
    -webkit-text-size-adjust: auto; }

  #wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    min-width: 320px;
    overflow: hidden; }

  #h_wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center; }

header#PAGE_TOP {
	margin: 0 auto;
	position: relative;
	text-align: left;
	width:auto;
	background:#000;
height: auto !important;
}

  #navi {
    display: none; }

  /*=======================================================================
  ヘッダ
  =======================================================================*/
  #PAGE_TOP h1{
	margin:0 auto;
	padding:3% 0;
	background:#171717;
	position:relative;
	border-bottom:solid 2px #474747;
	top:auto;
	left:auto;
}
#PAGE_TOP h1 img{
	width:40%;
margin:0 0 0 5px;
	display:block;
/*
	margin:0 auto;
*/
}
#PAGE_TOP p{
	width:49.8%;
	float:left;
	position:relative;
	left:0;
	top:0;
}
	
#PAGE_TOP ul{
	position:static;
	top:auto;

}
#PAGE_TOP ul li.sp_ab{
	position:absolute;
	top:8%;
	right:5px;
	width:10%;
}
#PAGE_TOP ul li:first-child{
margin:0;}
#PAGE_TOP ul li.sp_ab1{
	position:absolute;
	top:8%;
	right:13%;
	width:18%;
}
#PAGE_TOP ul li.sp_ab1 img{

}
#PAGE_TOP ul li.sp_ab2{
	position:absolute;
	top:8%;
	right:32%;
	width:18%;
}
#PAGE_TOP ul li.sp_ab2 img{

}
#PAGE_TOP ul li.sp_right{
/*
	width:50.2%;
	float:right;
*/
}
	#PAGE_TOP ul li{
		margin:0;
	}

  .block03 {
    margin-bottom: 50px; }
    .block03 h2 {
      width: 80%;
      margin: 0 auto 20px; }
    .block03 .box {
      width: 90%;
      background: #efefef;
      margin: 10px auto 0;
      padding: 5%; }
      .block03 .box img.left {
        float: left;
        width: 50%; }
      .block03 .box .right {
        width: 45%;
        float: right;
        margin-left: 5%; }
        .block03 .box .right a {
          display: block;
          margin-top: 5px; }
    .block03 .rimited {
      border: 3px solid  #e0d3a4;
      background: #fff;
      position: relative; }
      .block03 .rimited .ob {
        position: absolute;
        left: -3px;
        top: -3px;
        width: 20%; }
      .block03 .rimited p {
        margin-bottom: 20px; }

  .btm_copy {
    background: #333437;
    padding: 30px 0; }
    .btm_copy img {
      width: 73%; }

  .btn_box {
    margin-top: 40px; }
    .btn_box .tel_box {
      width: 73%;
      margin: 0 auto; }
      .btn_box .tel_box a {
        display: block;
        margin-bottom: 15px; }

  .block04 {
    margin-top: 50px; }
    .block04 .h2_box {
      background: url(../img/block04_bg.png) no-repeat;
      background-size: cover;
      padding-top: 30px; }
      .block04 .h2_box .inner {
        margin: 5%;
        position: relative; }
        .block04 .h2_box .inner h2 {
          margin-bottom: 20px; }
        .block04 .h2_box .inner p {
          width: 60%;
          padding-bottom: 30px;
          color: #676767; }
        .block04 .h2_box .inner p.copy {
          width: 100%;
          text-align: left;
          padding-bottom: 0;
          margin-bottom: 20px; }
        .block04 .h2_box .inner img.ob {
          width: 38%;
          max-width: 150px;
          position: absolute;
          right: 0;
          bottom: 0; }
    .block04 h3 {
      width: 90%;
      margin: 30px auto 50px; }
    .block04 .box {
      border: 3px solid  #e7e7e7;
      margin: 5%;
      margin-bottom: 15px; }
      .block04 .box .box_inner {
        padding: 10%;
        border-top: 1px solid  #e7e7e7; }
        .block04 .box .box_inner dl {
          margin-top: 20px; }
          .block04 .box .box_inner dl dt {
            font-weight: bold;
            font-size: 18px;
            text-align: left;
            margin-bottom: 10px; }
        .block04 .box .box_inner table {
          width: 100%;
          border-top: 1px dotted  #555; }
          .block04 .box .box_inner table.mt40, .block04 .box .box_inner table.mt100, .block04 .box .box_inner table.mt90 {
            margin-top: 20px !important; }
          .block04 .box .box_inner table tr th {
            border-bottom: 1px dotted  #555;
            background: #f5f5f5;
            width: 110px;
            text-align: center;
            padding: 15px; }
          .block04 .box .box_inner table tr td {
            border-bottom: 1px dotted  #555;
            padding: 15px; }

  .block05 {
    background: #efefef;
    padding: 30px 0; }
    .block05 h2 {
      margin: 0 auto 30px;
      width: 80%; }
    .block05 ul {
      width: 60%;
      margin: 0 auto; }
      .block05 ul li + li {
        margin-top: 20px; }

  .block06 {
    padding: 70px 0 60px; }
    .block06 h3 {
      width: 80%;
      margin: 0 auto 40px; }
    .block06 div.box {
      width: 90%;
      margin: 0 auto 20px;
      position: relative;
      background: #f3eff6;
      padding: 20% 5% 5%; }
      .block06 div.box div.h4_box {
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
        text-align: left; }
        .block06 div.box div.h4_box h4 {
          display: inline-block;
          width: 40%; }
        .block06 div.box div.h4_box p {
          display: inline-block;
          margin-left: 10px;
          font-size: 22px; }
      .block06 div.box p {
        font-size: 15px; }
      .block06 div.box table {
        margin-top: 30px;
        background: #fff;
        width: 100%;
        border: 1px solid  #d3d3d3; }
        .block06 div.box table tbody tr th {
          border: 1px solid  #d3d3d3;
          padding: 10px;
          text-align: center;
          font-weight: bold;
          width: 40%; }
        .block06 div.box table tbody tr td {
          padding: 10px;
          border: 1px solid  #d3d3d3;
          text-align: center; }
          .block06 div.box table tbody tr td span {
            font-size: 11px !important;
            display: block;
            width: 90px;
            padding: 2px;
            background: #725c8b;
            color: #fff;
            text-align: center;
            margin: 0 auto 8px; }
          .block06 div.box table tbody tr td.kouka2 span {
            float: left;
            width: 45%; }
            .block06 div.box table tbody tr td.kouka2 span:nth-child(even) {
              margin-left: 5%; }
      .block06 div.box p.att {
        font-size: 11px;
        text-align: right;
        color: #8e8e8e;
        margin-top: 10px; }
    .block06 p.btm_copy {
      background: none;
      text-align: center; }

  .block07 {
    border-bottom: 8px solid  #333437; }
    .block07 h2 {
      margin-bottom: 40px; }

  .faq_wrap {
    width: 95%;
    margin: 0 auto 40px; }

  .faq dt {
    display: block;
    background: url(../img/question.png) no-repeat, url(../img/open.png) no-repeat right 10px center #f1f1f1;
    min-height: 41px;
    cursor: pointer;
    text-align: left;
    padding: 10px 35px 5px 50px;
    margin-bottom: 10px;
    font-weight: bold; }
    .faq dt.active {
      background: url(../img/question.png) no-repeat, url(../img/close.png) no-repeat right 10px center #f1f1f1; }
  .faq dd {
    margin-bottom: 30px;
    display: none; }

  .block08 {
    margin: 50px 0;
    background: url(../img/block08_bg.png) no-repeat center center;
    background-size: cover; }
    .block08 div.h2_box {
      padding-top: 30px; }
      .block08 div.h2_box h2 {
        width: 90%;
        margin: 0 auto; }
      .block08 div.h2_box p.pc_none {
        width: 90%; }
      .block08 div.h2_box div.inner {
        width: 90%;
        margin: 0 auto; }
        .block08 div.h2_box div.inner h2 {
          text-align: right;
          padding-top: 40px; }
        .block08 div.h2_box div.inner p {
          margin-top: 20px;
          text-align: right; }
          .block08 div.h2_box div.inner p + p {
            padding-bottom: 40px; }

  .block009 {
    margin-top: 70px; }
    .block009 h2 {
      margin: 0 auto 40px;
      width: 80%; }
    .block009 dl {
      width: 90%;
      border-top: 1px dotted  #555;
      padding: 30px 0 0;
      margin: 0 auto; }
      .block009 dl dt {
        font-size: 17px;
        font-weight: bold;
        color: #b49a34;
        margin-bottom: 20px;
        text-align: left; }
      .block009 dl dd.cf img {
        width: 50%;
        float: right;
        margin-left: 5%; }
      .block009 dl dd {
        margin-bottom: 30px; }
      .block009 dl.bdb {
        border-bottom: 1px dotted  #555; }
    .block009 div.cf {
      margin: 30px auto; }
      .block009 div.cf table {
        width: 85%;
        margin: 0 auto; }
        .block009 div.cf table tbody tr th {
          width: 40%;
          height: 60px;
          background: #585858;
          color: #fff;
          text-align: center;
          padding: 0 20px;
          border-bottom: 2px solid  #fff; }
        .block009 div.cf table tbody tr td {
          height: 60px;
          border-bottom: 2px solid  #fff;
          background: #efefef;
          padding: 0 20px; }

  .block10 {
    background: #fff9e5;
    padding: 30px 0;
    margin-bottom: 40px; }
    .block10 img {
      width: 90%; }

  .btn_box2 {
    width: 95%;
    margin: 0 auto 50px;
    background: url(../img/btn_box2_bg_sp.png) no-repeat center top;
    background-size: contain;
    position: relative;
    padding-top: 25%;
    padding-bottom: 5%; }
    .btn_box2 .ttl {
      text-align: center;
      position: absolute;
      top: -15px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 80%;
      max-width: 470px; }
    .btn_box2 .txt {
      text-align: center;
      width: 90%;
      margin: 0 auto; }
    .btn_box2 .cf {
      width: 80%;
      margin: 20px auto 0; }
    .btn_box2 .btn {
      margin-bottom: 10px; }
    .btn_box2 .tel a {
      display: block;
      margin-bottom: 10px; }

  .block11 {
    background: #efefef;
    padding-top: 30px; }
    .block11 h2 {
      width: 80%;
      margin: 0 auto 30px; }
    .block11 .ex {
      background: #f1f1f1;
      padding: 20px 0;
      text-align: center; }
      .block11 .ex dl {
        display: inline-block;
        width: 42%; }
        .block11 .ex dl + dl {
          width: 48%;
          margin-left: 2%;
          padding-left: 6%;
          background: url(../img/block11_arrow01.png) no-repeat left center;
          background-size: 5%; }
        .block11 .ex dl dt {
          margin-bottom: 20px;
          text-align: center; }
        .block11 .ex dl dd img {
          margin-bottom: 10px; }
    .block11 div.photo_box.pc_none.cf {
      width: 90%;
      margin: 0 auto; }
      .block11 div.photo_box.pc_none.cf div.box_wrap div.box {
        border-bottom: 1px dotted #555;
        padding-bottom: 40px;
        margin-bottom: 40px; }
        .block11 div.photo_box.pc_none.cf div.box_wrap div.box ul.cf li {
          width: 43%;
          float: left; }
          .block11 div.photo_box.pc_none.cf div.box_wrap div.box ul.cf li p {
            font-size: 13px;
            margin-top: 10px; }
          .block11 div.photo_box.pc_none.cf div.box_wrap div.box ul.cf li:nth-child(even) {
            width: 55%;
            padding-left: 12%; }
          .block11 div.photo_box.pc_none.cf div.box_wrap div.box ul.cf li:nth-child(2) {
            background: url(../img/block11_arrow2_sp.png) no-repeat left bottom, url(../img/block11_arrow1_sp.png) no-repeat left 5% top 38%;
            background-size: 20%,15%;
            padding-bottom: 30px; }
          .block11 div.photo_box.pc_none.cf div.box_wrap div.box ul.cf li:nth-child(4) {
            background: url(../img/block11_arrow3_sp.png) no-repeat left 5% top 38%;
            background-size: 15%; }
    .block11 .btm_copy {
      margin-top: 20px;
      background: #e6e6e6;
      text-align: center; }

  .block12 {
    padding: 50px 0 0;
    border-bottom: 8px solid  #333437; }
    .block12 h2 {
      margin: 0 auto 40px;
      width: 80%; }

  .block13 {
    margin-top: 50px;
    background: url(../img/block13_bg.png) no-repeat;
    background-size: cover; }
    .block13 div.inner {
      width: 90%;
      padding: 40px 0 60px;
      margin: 0 auto;
      background: url(../img/block13_bg2.png) no-repeat right bottom;
      background-size: 35%; }
      .block13 div.inner h2 {
        text-align: left; }

  .block14 {
    width: 90%;
    margin: 40px auto 50px; }
    .block14 h2 {
      margin-bottom: 40px; }
    .block14 div.txt.cf {
      border-top: 1px dotted  #555;
      border-bottom: 1px dotted  #555;
      padding: 20px 0;
      margin-bottom: 40px; }
      .block14 div.txt.cf p {
        float: left;
        width: 65%; }
      .block14 div.txt.cf img {
        float: right;
        width: 30%;
        margin-left: 5%; }
    .block14 div.figure.cf {
      margin: 0 auto;
      background: #f1f1f1;
      padding: 5%; }
      .block14 div.figure.cf div.box {
        width: 43%;
        float: left;
        margin-bottom: 15px; }
        .block14 div.figure.cf div.box:nth-child(even) {
          margin-left: 5%; }
        .block14 div.figure.cf div.box p {
          margin-top: 10px; }
          .block14 div.figure.cf div.box p.ml60, .block14 div.figure.cf div.box p.ml90, .block14 div.figure.cf div.box p.ml110, .block14 div.figure.cf div.box p.ml75 {
            margin-left: 5% !important; }

  .block15 {
    width: 90%;
    margin: 0 auto 40px; }
    .block15 h2 {
      margin-bottom: 40px; }
    .block15 ul.cf {
      border: 4px double  #c3c3c3;
      margin-top: 40px;
      padding: 10%; }
      .block15 ul.cf li p {
        margin-top: 15px; }
      .block15 ul.cf li + li {
        background: url(../img/block15_arrow_sp.png) no-repeat center top;
        background-size: 15%;
        padding-top: 50px;
        margin-top: 20px; }

  .block16 {
    background: #efefef;
    padding: 40px 0; }
    .block16 table {
      width: 85%;
      margin: 0 auto; }
      .block16 table tr th {
        background: #9482a8;
        font-weight: bold;
        color: #fff;
        font-size: 15px;
        padding: 20px;
        text-align: center;
        border: 2px solid  #efefef; }
      .block16 table tr td {
        padding: 15px 30px;
        background: #fff;
        border: 2px solid  #efefef;
        vertical-align: top; }

  .block17 {
    padding: 40px 0; }
    .block17 h2 {
      width: 80%;
      margin: 0 auto 40px; }
    .block17 .ex {
      background: #f1f1f1;
      padding: 40px 0;
      text-align: center;
      margin-bottom: 60px; }
      .block17 .ex dl {
        display: inline-block;
        width: 42%; }
        .block17 .ex dl + dl {
          width: 48%;
          margin-left: 2%;
          padding-left: 6%;
          background: url(../img/block11_arrow01.png) no-repeat left center;
          background-size: 7%; }
        .block17 .ex dl dt {
          margin-bottom: 20px;
          text-align: center; }
        .block17 .ex dl dd img {
          margin-bottom: 10px; }

  .block18 {
    border-bottom: 8px solid  #333437; }
    .block18 h2 {
      margin: 0 auto 40px;
      width: 80%; }
    .block18 div.box_wrap {
      width: 90%;
      margin: 0 auto; }
    .block18 div.cf {
      margin-bottom: 40px; }
      .block18 div.cf div.box {
        margin-bottom: 10px;
        background: #f1f1f1;
        padding: 6%; }
        .block18 div.cf div.box p {
          width: 75%;
          padding: 5%;
          margin-left: 25%;
          position: relative;
          background: #fff;
          border: 1px solid #fff;
          border-radius: 5px; }
        .block18 div.cf div.box p:after, .block18 div.cf div.box p:before {
          right: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none; }
        .block18 div.cf div.box p:after {
          border-color: rgba(255, 255, 255, 0);
          border-right-color: #fff;
          border-width: 5px;
          margin-top: -5px; }
        .block18 div.cf div.box p:before {
          border-color: rgba(255, 255, 255, 0);
          border-right-color: #fff;
          border-width: 6px;
          margin-top: -6px; }
        .block18 div.cf div.box:first-child {
          background: url(../img/block18_voice01_sp.png) no-repeat left 5% top 30% #f1f1f1;
          background-size: 20%; }
        .block18 div.cf div.box:nth-child(2) {
          background: url(../img/block18_voice02_sp.png) no-repeat right 5% top 30% #f1f1f1;
          background-size: 20%; }
          .block18 div.cf div.box:nth-child(2) p {
            position: relative;
            background: #ffffff;
            border: 1px solid #ffffff;
            margin-left: 0; }
          .block18 div.cf div.box:nth-child(2) p:after, .block18 div.cf div.box:nth-child(2) p:before {
            left: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .block18 div.cf div.box:nth-child(2) p:after {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #ffffff;
            border-width: 5px;
            margin-top: -5px; }
          .block18 div.cf div.box:nth-child(2) p:before {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #ffffff;
            border-width: 6px;
            margin-top: -6px; }
        .block18 div.cf div.box:nth-child(3) {
          background: url(../img/block18_voice03_sp.png) no-repeat left 5% top 30% #f1f1f1;
          background-size: 20%; }

  .block19 {
    margin: 50px 0; }
    .block19 h2 {
      width: 80%;
      margin: 0 auto 40px; }
    .block19 .intro p {
      width: 90%;
      text-align: center;
      margin: 40px auto 0;
      float: none !important; }

  .block19 div.cf {
    width: 90%;
    margin: 10px auto 0;
    padding-top: 20px; }

  .block19 img.right {
    width: 35%;
    float: left; }

  .block19 h3 {
    margin-bottom: 5px; }

  .block19 p {
    width: 60%;
    float: right; }

  .block19 p.small {
    color: #7e7e7e; }

  .block19 p.block_box {
    color: #7e7e7e;
    width: 100%;
    margin-top: 10px; }

  .block19 .b08_tel {
    padding-top: 0 !important; }

  .block19 .b08_tel img.block07_tel01 {
    float: left;
    margin-left: 115px; }

  .block19 .b08_tel p {
    float: right;
    width: 297px;
    margin: 0 5px 0 0;
    height: 44px;
    box-shadow: 5px 12px 0 #e2e0db; }
    .block19 .b08_tel p a {
      display: block; }
    .block19 .b08_tel p:hover {
      opacity: 0.7;
      box-shadow: none;
      margin-right: 0;
      margin-top: 3px; }

  .b08_telsp {
    text-align: left;
    margin-top: 15px; }
    .b08_telsp .block07_tel01 {
      width: 25%;
      padding-top: 10px; }
    .b08_telsp .block07_tel02 {
      width: 60%; }
    .b08_telsp p {
      text-align: left;
      width: 70%;
      margin-top: 20px;
      float: none; }

  #section06 .btn_box {
    width: 100%;
    border-top: 8px solid  #333437;
    padding-top: 30px; }
    #section06 .btn_box .cf {
      margin: 70px auto; }

  .block20 {
    margin: 50px auto;
    width: 90%; }

  .block20 h2 {
    width: 80%;
    margin: 0 auto 30px; }

  .block20 ul {
    margin: 0 auto; }

  .block20 ul li {
    border-left: 1px solid #fff;
    padding-left: 1px;
    margin-left: 1px;
    width: 6.2% !important; }

  .block20 p {
    margin: 30px 0;
    text-align: center; }

  #section07 .btn_box {
    width: 100%;
    padding-top: 30px;
    border-top: 8px solid  #333437; }
    #section07 .btn_box .cf {
      margin: 70px auto; }

  .block21 {
    width: 90%;
    margin: 50px auto; }

  .block21 p.text {
    text-align: center;
    margin: 46px auto; }

  .block21 div h3 {
    margin-bottom: 10px; }

  .block21 div.left {
    background: #f3eff6;
    padding: 10% 5%;
    border-bottom: 2px solid  #fff; }
    .block21 div.left p {
      margin: 20px 15px 0; }

  #section08 .btn_box {
    width: 100%;
    padding-top: 30px;
    border-top: 8px solid  #333437; }
    #section08 .btn_box .cf {
      margin: 70px auto; }

  .block22 {
    margin: 80px auto 0; }
    .block22 h2 {
      margin: 0 auto 40px;
      width: 80%; }

  .block22 .intro {
    width: 90%;
    margin: 0 auto 30px; }

  .block22 p.name {
    width: 90%;
    margin: 0 auto 10px; }

  .block22 img.left {
    width: 43%;
    margin: 0 auto; }
  .block22 h3 {
    background: url(../img/block22_border.png) no-repeat right bottom;
    font-size: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px; }
  .block22 .right {
    width: 90%;
    margin: 0 auto 50px;
    text-align: left; }
    .block22 .right .fl {
      margin-bottom: 20px; }
    .block22 .right .fr {
      margin-bottom: 20px; }
    .block22 .right dl {
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 3px; }
      .block22 .right dl dt {
        float: left;
        width: 25%; }
      .block22 .right dl dd {
        float: right;
        width: 70%; }
    .block22 .right ul li {
      width: 50%;
      float: left; }

  #section09 .btn_box {
    margin-bottom: 50px;
    padding-top: 50px;
    width: 100%;
    border-top: 8px solid  #333437; }
    #section09 .btn_box .cf {
      margin: 0px auto; }

  .block23 h2 {
    width: 80%;
    margin: 0 auto 20px; }

  .block23 iframe {
    width: 90%;
    height: 200px;
    margin: 0 auto 10px; }

  .block23 div.cf {
    width: 90%;
    margin: 0 auto 15px; }

  .block23 .left {
    margin-bottom: 20px;
    text-align: left; }
    .block23 .left h3 {
      margin-bottom: 20px; }
    .block23 .left img.time {
      width: 80%; }

  #section10 .btn_box {
    margin-bottom: 50px;
    padding-top: 50px;
    width: 100%;
    border-top: 8px solid  #333437; }
    #section10 .btn_box .cf {
      margin: 0px auto; }

  .block24 {
    background: #f3eff6;
    padding: 0 5%;
    padding-top: 30px; }

  .block24 h2 {
    width: 80%;
    margin: 0 auto 20px; }

  .block24 .flow {
    margin: 0 auto 20px; }

  .block24 .caution {
    margin: 10px 0 20px;
    color: #ee0000; }

  .block24 .error {
    margin: 10px 0 0 0;
    color: #ee0000; }

  .block24 .form {
    padding: 0; }
    .block24 .form p.btn {
      margin: 20px auto 40px;
      width: 80%; }

  .block24 table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 10px auto;
    background: #fff; }

  .block24 th {
    display: block;
    padding: 12px 10px 12px 70px;
    font-size: 14px;
    color: #000000;
    white-space: nowrap; }

  .block24 th.hissu {
    background: #fff url(../img/hissu.png) 15px center no-repeat; }

  .block24 th.nini {
    background: #fff url(../img/nini.png) 15px center no-repeat; }

  .block24 td {
    display: block;
    padding: 0 15px 15px;
    border-bottom: solid 1px #e0e0e0;
    font-size: 12px;
    color: #333333; }

  .block24 td.last {
    border-bottom: none; }

  .block24 td input[type="text"],
  .block24 td input[type="tel"],
  .block24 td input[type="email"] {
    width: 100%;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #999999;
    font-size: 14px; }

  .block24 td input[type="checkbox"] {
    margin: 0 5px 0 10px; }

  .block24 td select {
    margin-top: 10px;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #999999;
    font-size: 14px; }

  .block24 td textarea {
    width: 96%;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #999999;
    font-size: 14px; }

  .block24 .btn {
    text-align: center; }

  .block24 .btn {
    width: 100%;
    height: auto;
    text-align: center; }

  .block24 .btn input {
    width: 100%;
    max-width: 420px;
    margin: 0 auto 10px auto;
    height: auto; }

  .block24 .end {
    margin: 0 0 20px 0;
    text-align: center; }

  .block24 .form_end {
    margin: 10px auto; }

  .bottom_logosp img {
    width: 85%;
    margin: 10px auto 30px; }

  .sp_btnarea {
    margin-bottom: 30px !important; }

  .btn_box2 p.title img.b11_p02 {
    margin: -30px auto 0; }

  .btn_box2 img.b11_p01 {
    margin-bottom: 10px; }

  .bottom_logosp {
    padding: 20px 0;
    background: #333437;
    text-align: center; }
    .bottom_logosp img {
      width: 70%;
      margin: 0 auto; }

  /*=======================================================================
  ページトップ
  =======================================================================*/
  #page-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 99999999; }

  #f_wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    color: #8e8e8e; }

  #f_wrapper p {
    padding: 5px 0;
    font-size: 85%;
    text-align: center; }

  .sp_none {
    display: none !important; }

  #sp_header #logo {
    text-align: center;
    border-bottom: 1px solid #FFF;
    padding: 12px 0;
    background: #171717; }

  #sp_header .header_tel {
    float: left;
    width: 70.6%;
    text-align: center;
    background: #FFF; }

  #sp_header .header_tel img {
    width: 80%;
    padding: 0px 0 0px 0; }

  #sp_header .header_tel a {
    display: block; }

  #sp_header .btn {
    float: right;
    width: 29%;
    background: #b39952;
    text-align: center; }

  #sp_header .btn a {
    display: block; }

  #sp_header .btn img {
    width: 68%;
    padding: 0px 0 0px 0; }

  #sp_header .bdbm {
    border-top: 1px solid #171717;
    border-bottom: 1px solid #171717; } 

.block09 ul li{
width:100%;
height:auto;
}

/*# sourceMappingURL=style_sp.css.map */
