@charset "utf-8";

@import url(foundation.css);


/* ==========================================================

	header・footer

========================================================== */
body { line-height:1.5; }
.wrapper { width:1280px; margin-right:auto; margin-left:auto;}

a:hover { opacity:0.8; filter:alpha(opacity=80);}

p,
ul,
ol { margin-bottom:1.5em;}

p:last-child,
ul:last-child,
ol:last-child { margin-bottom:0;}


.pc_none { display:none;}



/* header
===========================================================*/
header h1 {
	float:left;
	padding-top:26px;
}

header h1 a:hover { opacity:1.0; filter:alpha(opacity=100);}

header .__area {
	float:right;
	text-align:right;
}

header .__area > a,
header .__area > div { float:right; margin-left:20px;}

header .__area .__tel {
	padding-top:14px;
	font-family:"Times New Roman", Times, serif;
	font-size:36px;
	line-height:1.0;
}




/* footer
===========================================================*/
footer {
	padding-top:36px; padding-bottom:36px;
	text-align:center;
	font-size:12px;
}



/* 反応装置
===========================================================*/
.induce {
	width:1000px; height:362px;
	margin-right:auto; margin-left:auto;
	position:relative;
}

.induce a { position:absolute; left:37px; top:132px;}

.induce_o {
	width:1000px;
	margin-top:80px; margin-right:auto; margin-left:auto;
	text-align:center;
}



/* 背景
===========================================================*/
.__bg {
/*  background-blend-mode: screen;*/
  background:url(../img/bg.png);
  background-color:#ebe2e0;
}










/* ==========================================================

	メインビジュアル

========================================================== */
.__mv {
	width:100%; height:860px;
	overflow:hidden;
	position:relative;
}

.__mv .__photo {
	position:absolute; left:50%; top:0;
	margin-left:-1400px;
}

.__mv .__img {
	position:absolute; left:50%; bottom:0;
	margin-left:-376px;
}






/* ==========================================================

	メインコンテンツ

========================================================== */
main { text-align:center;}


/* .__questionnaire
===========================================================*/
.__questionnaire {
	width:1000px;
	margin:50px auto 60px;
	padding-bottom:10px;
	position:relative;
}

.__questionnaire a {
	position:absolute; right:44px; bottom:0;
}


/* .__dissolve
===========================================================*/
.__dissolve {
	margin-top:40px;
	padding-bottom:50px;
	position:relative;
}

.__dissolve .__arr {
	position:absolute; left:50%; bottom:-108px;
	z-index:10;
	margin-left:-358px;
}



/* .__proposal
===========================================================*/
.__proposal {
	width:1000px;
	margin-right:auto; margin-top:52px; margin-left:auto;
	padding:47px 58px 77px 62px;
	box-sizing:border-box;
	background:url(../img/ornament1.png) repeat-y center top;
	position:relative;
}

.__proposal:before {
	content:url(../img/ornament1_t.png);
	position:absolute; left:1px; top:0;
}

.__proposal:after {
	content:url(../img/ornament1_b.png);
	height:47px;
	position:absolute; left:1px; bottom:0;
}



/* .__step
===========================================================*/
.__step .__block {
	width:880px;
	margin-right:auto; margin-left:auto;
	position:relative;
	margin-bottom:41px;
}

.__step .__block h2 { position:absolute; left:-26px; top:-26px;}



/* .__flow
===========================================================*/
.__flow p { margin-bottom:0;}



/* .__faq
===========================================================*/
.__faq { margin-bottom:78px;}

.__faq p { margin-bottom:0;}



/* .__access
===========================================================*/
.__access {
	width:1000px;
	margin-right:auto; margin-left:auto;
	padding-bottom:64px;
}

.__access .fR {
	height:458px;
	border:1px solid #a3a4a4;
}



/* .__principle
===========================================================*/
.__principle {
	width:1000px;
	margin-right:auto; margin-left:auto;
}

.__principle .__block {
	float:left;
	margin-right:14px;
}

.__principle .__block:last-child { margin-right:0;}



/* .__guide
===========================================================*/
.__guide h2 { margin-bottom:20px; text-align:center;}

.__guide .__access { margin-top:70px; margin-bottom:50px;}

.__guide .__access h3 { margin-bottom:15px;}

.__guide .__access > p { text-align:center;}

.__guide .__access > p img {
	margin-right:40px;
	vertical-align:middle;
}

.__guide .__block {
	float:left;
	width:310px;
	margin-right:35px;
}

.__guide .__block:nth-of-type(3n) { margin-right:0;}

.__guide .__access th {
	padding-right:15px;
	font-weight:bold;
}

.__guide .induce_s {
	box-shadow:0 130px 130px -130px rgba(0,0,0, 0.2) inset;
}

.__guide .__principle { margin-top:70px; margin-bottom:50px;}






/* .__doctor
===========================================================*/
.__doctor section { margin-right:40px; margin-bottom:60px; margin-left:40px;}

.__doctor h2 { margin-bottom:30px;}

.__doctor h3 { margin-bottom:20px;}

.__doctor .__history {
	float:left;
	width:430px;
	margin-bottom:50px;
}

.__doctor .__history th {
	padding-right:20px; padding-bottom:8px;
}

.__doctor .__belong {
	float:right;
	margin-bottom:40px;
}

.__doctor .__belong ul {
	list-style-type:disc;
	margin-left:1.5em;
}

.__doctor .__belong li { margin-bottom:5px;}



/*tab
===========================================================*/
.tab_menu {
  border-bottom:2px solid #655952;
  width: 100%;
  margin-bottom: 20px;
}

.tab_omote {
/*  background-blend-mode: screen;*/
  background:url(../img/bg_170412.png)no-repeat;
  background-color:#EAE3E1;
  padding: 80px 0 50px 0 ;
}

.tabContent {
  border: 1px solid lightgray;
  height: 320px;
  display: none;
    padding: 32px;
}

.tabContent:target {
  display: block;
}

.tab-content input[type="radio"] {
  display: none;
}

.tab-content label {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background-color: #d6c8c3;
  padding: 20px 90px;
}
.tab-content label:hover,
.tab-content input[type="radio"]:checked + label {
  background-color: #655952;
}

.tab-content label:nth-child(1) { margin-right: 20px; }

.tab-content > .tab-box > div {
  display: none;
  border-top:2px solid #655952;
  margin-top: 20px;
  padding-top: 20px;
}

#tab_omotesando:checked ~ .tab-box > #tabView_omotesando {
  display: block;
}

#tab_fukuoka:checked ~ .tab-box > #tabView_fukuoka {
  display: block;
}

#scroll_btn {
  display: block;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 9999;
  bottom: -8px;
}
#scroll_btn a {
    display: block;
}

#scroll_btn .relative {
  text-align: center;
  position: relative;
  width: 1006px;
  margin: 0 auto;
}
#scroll_btn .absolute {
    position: absolute;
    right: 55px;
    top: 17px;
}
