@charset "shift_jis";
* {
	font-size: 12px;
	line-height: 150%;
}
/* レイアウトの設定*/
body {
	margin: 0;
	padding: 0;
	text-align: center;
}

img {
	border: none;
	vertical-align: bottom;
}
p {
	margin: 0;
	padding: 0;
}
#wrapper {
	width: 950px;
	margin: 0 auto;
	padding: 0;
}
#wrapper ul {
	padding: 0;
	margin: 0;
}
#wrapper li {
	padding: 0;
	margin: 0;
	float: left;
	list-style: none;
}
