<div id="other-doctor">
						<p id="other-doctor-title">
							<img src="/about/doctor/images/tit-other-doctor.png" alt="" />
						</p>
						<ul id="other-doctor-list">
							<li class="other-doctor-list-item" id="list-nakanishi">
								<a href="nakanishi.html">
									<div class="thumb">
										<img src="/about/doctor/images/img-doctor-list-nakanishi.jpg" height="120" width="86" alt="" />
										<div class="overlay"></div>
									</div>
									<div class="name-area">
										<p class="title">院長 医師</p>
										<p class="name">中西 雄二</p>
									</div>
								</a>
							</li>
							<li class="other-doctor-list-item" id="list-matsuki">
								<a href="matsuki.html">
									<div class="thumb">
										<img src="/about/doctor/images/img-doctor-list-matsuki.jpg" height="120" width="86" alt="" />
										<div class="overlay"></div>
									</div>
									<div class="name-area">
										<p class="title">院長 医師</p>
										<p class="name">松木 貴裕</p>
									</div>
								</a>
							</li>
							<li class="other-doctor-list-item" id="list-tomori">
								<a href="tomori.html">
									<div class="thumb">
										<img src="/about/doctor/images/img-doctor-list-tomori.jpg" height="120" width="86" alt="" />
										<div class="overlay"></div>
									</div>
									<div class="name-area">
										<p class="title">医師</p>
										<p class="name">友利 新</p>
									</div>
								</a>
							</li>
							<li class="other-doctor-list-item" id="list-sato">
								<a href="sato.html">
									<div class="thumb">
										<img src="/about/doctor/images/img-doctor-list-sato.jpg" height="120" width="86" alt="" />
										<div class="overlay"></div>
									</div>
									<div class="name-area">
										<p class="title">医師</p>
										<p class="name">佐藤 美博</p>
									</div>
								</a>
							</li>
							<li class="other-doctor-list-item" id="list-hyodo">
								<a href="hyodo.html">
									<div class="thumb">
										<img src="/about/doctor/images/img-doctor-list-hyodo.jpg" height="120" width="86" alt="" />
										<div class="overlay"></div>
									</div>
									<div class="name-area">
										<p class="title">医師</p>
										<p class="name">兵藤 秀忠</p>
									</div>
								</a>
							</li>
							<li class="other-doctor-list-item" id="list-uda">
								<a href="uda.html">
									<div class="thumb">
										<img src="/about/doctor/images/img-doctor-list-uda.jpg" height="120" width="86" alt="" />
										<div class="overlay"></div>
									</div>
									<div class="name-area">
										<p class="title">医師</p>
										<p class="name">宇田 宏一</p>
									</div>
								</a>
							</li>
							<!--
							<li class="other-doctor-list-item" id="list-kamochi">
								<a href="kamochi.html">
									<div class="thumb">
										<img src="/about/doctor/images/img-doctor-list-kamochi.jpg" height="120" width="86" alt="" />
										<div class="overlay"></div>
									</div>
									<div class="name-area">
										<p class="title">医師</p>
										<p class="name">加持 秀明</p>
									</div>
								</a>
							</li>
							-->
							<li class="other-doctor-list-item" id="list-kohara">
								<a href="kohara.html">
									<div class="thumb">
										<img src="/about/doctor/images/img-doctor-list-kohara.jpg" height="120" width="86" alt="" />
										<div class="overlay"></div>
									</div>
									<div class="name-area">
										<p class="title">医師</p>
										<p class="name">小原 直樹</p>
									</div>
								</a>
							</li>
							
						</ul>
					</div>