@charset "UTF-8";
@media only screen and (min-width: 768px) {
body{
	font-size:13px;
	color:#111111;
	line-height:160%;
	background:#FFF;
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	letter-spacing:-0.5px;
	min-width:1200px;
}
/*
a img:hover{
	-moz-opacity:0.7;
	opacity:0.7;
}
*/

#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#h_wrapper {
	width: 100%;
	height:85px;
	margin: 0 auto;
	text-align: center;
	background:#171717;
	border-bottom:solid 2px #b39952;
	position:fixed;
	top:0;
	left:0;
	z-index:99999;
}

header#PAGE_TOP {
	width: 1200px;
	height:85px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

.cnt_wp {
	width: 100%;
	margin:0 auto;
	padding: 85px 0 50px;
	text-align: center;
	min-width:1200px;
	overflow:hidden;
}
#f_wrapper {
	width: 100%;
	height:46px;
	margin: 0 auto;
	text-align: center;
	background:#000;
	color:#FFF;
}

footer#f_cnt {
	width: 1200px;
	height:46px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}


/*=======================================================================
ヘッダ
=======================================================================*/
#PAGE_TOP h1{
	position:absolute;
	top:20px;
	left:24px;
	color:#fff;
}
#PAGE_TOP p{
	position:absolute;
	top:16px;
	right:400px;
}
#PAGE_TOP ul{
	position:absolute;
	top:23px;
	right:0;
}
#PAGE_TOP ul li{
	float:left;
	margin-left:21px;
}




/*=======================================================================
トップページ　メイン
=======================================================================*/
.block01{
	background:url(../img/block01_bg.jpg) repeat-x;
	text-align:center;
	min-width:1200px;
	overflow:hidden;
}


.block02{
	background:url(../img/block02_bg.jpg) repeat-x;
	text-align:center;
	min-width:1200px;
	overflow:hidden;
}
.block02 p img{
	display:block;
	margin:0 auto;
	padding:44px 0;
}


.block03{
	width:960px;
	margin:70px auto 0;
}
.block03 h2{
	float:left;
}
.block03 img.right{
	float:right;
}
.block03 p{
	width:594px;
	float:left;
	margin:15px 0 0;
}
.block03 .block_box{
	width:594px;
	float:left;
	margin:20px 0 0 0;
}
.block03 .block_box img{
	float:left;
}
.block03 .block_box ul li{
	float:left;
	color:#b98c40;
	margin:5px 0 0 15px;
}


.block04{
	background:url(../img/shadow_bg.png) no-repeat bottom center;
	padding-bottom:9px;
}
.block04 .block_box{
	width:960px;
	margin:58px auto 0;
}
.block04 h2{
	float:right;
	width:595px;
	margin-bottom:15px;
}
.block04 img.left{
	float:left;
	margin-left:50px;
}
.block04 p{
	float:right;
	width:580px;
	margin-right:15px;
	margin-bottom:10px;
}
.block_box_list{
	background:#faf8f2;
	border:solid 1px #ece8da;
	margin:35px auto 0;
	padding:3px;
	width:1005px;
}
.block_box_list ul{
	border:solid 1px #f1eee3;
	padding:18px;
}
.block_box_list ul li{
	float:left;
}
.block_box_list ul li.center{
	margin:0 25px;
}


.btn_box{
	width:1200px;
	margin:75px auto;
}
.btn_box dl{
	float:right;
}
.btn_box dl dt{
	float:left;
	border-right: dotted 1px #7c7c7c;
	margin-right:22px;
	padding-right:22px;
}
.btn_box dl dd{
	float:left;
	margin-top:3px;
}



.block05{
}
.block05 div.cf{
	width:1200px;
	margin:0 auto;
	padding-bottom:29px;
}
.block05 div.left{
	float:left;
	width:526px;
}
.block05 h3{
	float:left;
	margin:60px 0 43px;
}
.block05 img.left{
	float:left;
}
.block05 img.right{
	float:right;
	margin-top:33px;
}


.block06{
	width:1200px;
	margin:90px auto 0;
}
.block06 table.left{
	width:586px;
	height:162px;
	border:solid 1px #d0d0d0;
	float:left;
	border-collapse: separate;
	border-spacing: 2px 2px;
	margin-top:50px;
}
.block06 table.left th,
.block06 table.left td{
	border-bottom:solid 1px #d0d0d0;
	border-right:solid 1px #d0d0d0;
	text-align:center;
}
.block06 table.left td{
	width:48px;
}
.block06 table.left th.title{
	width:185px;
	font-weight:bold;
	background:url(../img/table_bg.gif) repeat;
	border-bottom:none;
}
.block06 table.left th.sub_title{
	background:#f3f3f3;
}
.block06 table.left .last_table th,
.block06 table.left .last_table td{
	border-bottom:none;
}
.block06 table.left .boder_none span{
	color:#b98c40;
	font-weight:bold;
}
.block06 table.right .boder_none span{
	color:#b98c40;
	font-weight:bold;
}
.block06 table.left .boder_none{
	border-right:none;
	width:120px;
}


.block06 table.right{
	width:586px;
	height:216px;
	border:solid 1px #d0d0d0;
	border-collapse: separate;
	border-spacing: 2px 2px;
	float:right;
	margin-top:50px;
}
.block06 table.right th,
.block06 table.right td{
	border-bottom:solid 1px #d0d0d0;
	border-right:solid 1px #d0d0d0;
	text-align:center;
}
.block06 table.right td{
	width:48px;
}
.block06 table.right th.title{
	width:185px;
	font-weight:bold;
	background:url(../img/table_bg02.gif) no-repeat;
	border-bottom:none;
}
.block06 table.right th.sub_title{
	background:#f3f3f3;
}
.block06 table.right .last_table th,
.block06 table.right .last_table td{
	border-bottom:none;
}
.block06 table.right .boder_none{
	border-right:none;
	width:120px;
}


.block07{
	width:1200px;
	margin:0 auto;
}
.block07 dl{
	width:581px;
	height:116px;
	margin:50px 0 0;
}
.block07 dl.left{
	float:left;
}
.block07 dl.right{
	float:right;
}
.block07 dl dd{
	margin-top:15px;
	padding:5px 0 0 37px;
	background:url(../img/a_title.gif) no-repeat left top;
}


.block08{
	width:1200px;
	margin:0 auto;
}
.block08 div.cf{
	padding-top:40px;
}
.block08 img.left{
	width:490px;
	float:left;
	margin-top:5px;
}
.block08 h3{
	width:671px;
	float:right;
	margin-bottom:15px;
}
.block08 p,
.block08 dl{
	width:671px;
	float:right;
	margin-bottom:15px;
	line-height:180%;
}
.block08 p.small{
	color:#7e7e7e;
}
.block08 dl dt{
	float:left;
}
.block08 dl dd{
	float:right;
}
.block08 p.block_box{
	border:solid 1px #c0c0c0;
	padding:17px;
	color:#7e7e7e;
	width:637px;
}


.block09{
	width:1200px;
	height:652px;
	margin:0 auto;
}
.block09 h2{
	margin-bottom:50px;
}
.block09 ul li{
	width:596px !important;
	border-left: dotted 1px #7c7c7c;
	padding-left:1px;
	margin-left:1px;
}
.block09 p{
	margin-top:30px;
}


.block10{
	width:1200px;
	height:584px;
	margin:0 auto;
	background:url(../img/bg02.png) no-repeat center bottom;
}
.block10 p.text{
	text-align:center;
	margin:46px auto;
}
.block10 div{
	width:374px;
}
.block10 div h3{
	margin-bottom:30px;
}
.block10 div.left{
	float:left;
}
.block10 div.center{
	float:left;
	margin-left:40px;
}
.block10 div.right{
	float:right;
}


.block11{
	width:1200px;
	margin:0 auto;
}
.block11 p.text{
	text-align:center;
	margin:46px auto;
}
.block11 img.left{
	float:left;
	margin-left: 108px;
	margin-bottom:33px;
}
.block11 div.cf{
	float:left;
	width:370px;
	text-align:left;
	margin-left:40px;
	margin-bottom:33px;
}
.block11 div.cf h3{
	border-left: solid 2px #111111;
	font-weight:bold;
	font-size:15px;
	line-height:100%;
	padding:0 0 0 10px;
	margin-bottom:20px;
}
.block11 div.cf h3 span{
	font-weight:normal;
	display:block;
	color:#7c7c7c;
	font-size:10px;
}
.block11 div.cf  dl dt{
	color:#7c7c7c;
	margin-right:10px;
}
.block11 div.cf  dl dt,
.block11 div.cf  dl dd{
	float:left;
	margin-bottom:6px;
}
.block11 div.cf ul li{
	float:left;
	width:165px;
	margin-bottom:7px;
}
.block11 h3.clear{
	border-left: solid 2px #111111;
	font-weight:bold;
	font-size:15px;
	line-height:100%;
	padding:0 0 0 10px;
	width:970px;
	margin:0 auto;
	text-align:left;
}
.block11 h3.clear span{
	font-weight:normal;
	display:block;
	color:#7c7c7c;
	font-size:10px;
}
.block11 p.bottom_text{
	width:983px;
	margin:20px auto 0;
	text-align:left;
}


.block12{
	width:1200px;
	margin:0 auto;
}
.block12 p.text{
	width:476px;
	background:url(../img/logo.gif) no-repeat left center;
	padding:15px 0 15px 300px;
	margin:40px auto;
}
.block12 div.cf{
	width:373px;
	margin: 0 0 70px 0 ;
	float:left;
	text-align:left;
	margin-top:27px;
}
.block12 div.cf h3{
	margin-bottom:15px;
}
.block12 div.cf ul li.no01{
	background:url(../img/icon01.gif) no-repeat left center;
	padding-left:25px;
	margin-bottom:10px;
}
.block12 div.cf ul li.no02{
	background:url(../img/icon02.gif) no-repeat left center;
	padding-left:25px;
	margin-bottom:10px;
}
.block12 div.cf ul li.no03{
	background:url(../img/icon03.gif) no-repeat left center;
	padding-left:25px;
	margin-bottom:10px;
}
.block12 div.center{
	margin-left:40px;
	margin-right:40px;
}
.block12 div.cf p{
	margin-bottom:10px;
}
.block12 div.cf dl{
	float:left;
}
.block12 div.cf dl dt{
	border-left: solid 2px #111111;
	font-weight:bold;
	font-size:15px;
	line-height:100%;
	padding:0 0 0 10px;
	width:970px;
	margin:0 auto 10px;
	text-align:left;
}
.dl01{
	width:210px;
}
.dl02{
	width:160px;
}

.doctor2{
	margin-top:50px;
}
.doctor2 .sp_right p{
}

.block13{
	width:1200px;
	margin:0 auto;
}
.block13 .flow {
	margin: 50px 0 40px 0 ;
	text-align: center ;
}
.block13 .caution {
	color: #ee0000 ;
}
.block13 .error {
	margin: 10px 0 0 0 ;
	color: #ee0000 ;
}
.block13 .form {
	width: 960px ;
	margin: 0 auto ;
}
.block13 table {
	width: 100% ;
	border:solid 1px #d0d0d0;
	float:left;
	border-collapse: separate;
	border-spacing: 2px 2px ;
	margin: 20px auto 40px auto ;
}
.block13 th{
	width: 25% ;
	background:#f3f3f3;
	padding: 20px 20px 20px 80px ;
	border-bottom:solid 1px #d0d0d0;
	border-right:solid 1px #d0d0d0;
	font-size: 16px ;
	color: #000000 ;
	white-space: nowrap ;
}
.block13 th.hissu {
	background: #f3f3f3 url(../img/form_icon_01.gif) 15px center no-repeat;
}
.block13 th.nini {
	background: #f3f3f3 url(../img/form_icon_02.gif) 15px center no-repeat;
}
.block13 td{
	width: 75% ;
	padding: 20px ;
	border-bottom:solid 1px #d0d0d0;
	font-size: 14px ;
	color: #333333 ;
}
.block13 th.last,
.block13 td.last{
	border-bottom:none;
}
.block13 td input[type="text"],
.block13 td input[type="tel"],
.block13 td input[type="email"] {
	width: 40% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 td input[type="checkbox"] {
	margin: 0 5px 0 10px;
}
.block13 td select {
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 td textarea {
	width: 98% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 .btn {
	margin: 0 0 60px 0 ;
	text-align: center ;
}
.block13 .end {
	margin: 0 0 40px 0 ;
	text-align: center ;
}



/*=======================================================================
サイドバー
=======================================================================*/

#navi {
	position:fixed;
	top:384px;
	right:0;
	width: 53px;
	background-color: rgba( 150, 150, 149, 0.55 );
	padding:20px 0;
	z-index:99999999999999999;
	-webkit-transform: translateY(-50%) translateZ(0);
	transform: translateY(-50%) translateZ(0);
}
#navi li {
	list-style-type: none;
	text-align: center;
}
#navi li a {
	padding: 5px 0;
	display: block;
	text-decoration: none;
	color:#FFF;
	font-size:10px;
}
#navi li a.on {
	color:#e9b62b;
}


/*=======================================================================
ページトップ
=======================================================================*/
#page-top {
    position: fixed;
    bottom: 68px;
    right: 68px;
	z-index:99999999;
}
#page-top a img:hover{
	-moz-opacity:0.7;
	opacity:0.7;
}

/*=======================================================================
フッタ
=======================================================================*/
.copy{
	text-align:center;
	font-size:12px;
	padding: 13px 0px;
}


/*=======================================================================
メインイメージスクロール
=======================================================================*/
#slider_wp {
	width: 100%;
	min-width:1200px;
	height: 327px;
	display: block;
	background:url(../images/main_img_bg.jpg) repeat-x;
	overflow:hidden;
}

#slider {
	width: 1200px;
	height: 327px;
	margin: 0 auto;
	position: relative;
	background: url(loader.gif) no-repeat center;
}

#slider ul li {
	width: 1200px;
	height: 327px;
	position: absolute;
	top: 0px;
	left: 0px;
}


/*=======================================================================
clear　clearfix
=======================================================================*/

.clear { clear: both;	visibility: visible;
}
.cf:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
/* IE7,MacIE5 */
.cf {
  display: inline-block;
}
/* WinIE6 below, Exclude MacIE5 \*/
* html .cf {
  height: 1%;
}
.cf {
  display:block;
}
.box{
	display:block;
}

#section02,
#section03,
#section04,
#section05,
#section06,
#section07,
#section08,
#section09{
	margin-top:-100px;
    padding-top:100px;
}

.pc_none{
	display:none !important;
}

.btn_box2{
	background:url(../img/box_bg01.gif);
	width:1053px;
	height:293px;
	margin:85px auto;
}
.btn_box2 div.left{
	width:193px;
	float:left;
	padding:19px 0 0 24px;
}
.btn_box2 div.left img{
	display:block;
	margin:0 auto 9px;
}
.btn_box2 div.right{
	width:783px;
	float:right;
	padding:22px 32px 0 0;
}
.btn_box2 div.right img{
	margin:0 0 15px 0;
}
.btn_box2 div.right .box{
	background:url(../img/box_bg02.gif) no-repeat;
	width:731px;
	height:70px;
	padding:19px 26px;
}
.btn_box2 div.right .box dt{
	float:left;
	margin-right:10px;
	padding-right:10px;
}
.btn_box2 div.right .box dd{
	float:left;
}

.back_none{
	background: none;
}



}