@media only screen and (max-width: 768px) {

img{
	width:100%;
	height:auto;
}

body{
	font-size:80%;
	color:#111111;
	line-height:160%;
	background:#FFF;
	font-family:"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
	letter-spacing:-0.5px;
	min-width:320px;
	-webkit-text-size-adjust: auto;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	min-width:320px;
	overflow:hidden;
}

#h_wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border-bottom:solid 2px #FFF;
}

header#PAGE_TOP {
	margin: 0 auto;
	position: relative;
	text-align: left;
}

#navi{
	display:none;
}
.cf:after{
 	content:".";
	display:block;
 	height:0;
 	clear:both;
	visibility:hidden;  
}
/*=======================================================================
ヘッダ
=======================================================================*/
#PAGE_TOP h1{
	margin:0 auto;
	padding:3% 0;
	background:#171717;
	border-bottom:solid 2px #474747;
}
#PAGE_TOP h1 img{
	width:45%;
	display:block;
	margin:0 auto;
}
#PAGE_TOP p{
	width:49.7%;
	float:left;
}
#PAGE_TOP ul li.sp_ab{
	position:absolute;
	top:8%;
	right:5px;
	width:10%;
}
#PAGE_TOP ul li.sp_right{
	width:50%;
	float:right;
}



.block03 img.right{
	width:95%;
	margin: 15px auto;
	display:block;
}
.block03 p{
	width:95%;
	margin: 0px auto 8px;
}

.block03 .block_box{
	width:95%;
	margin:15px auto 0;
	border:solid 1px #b57b00;
}
.block03 .block_box img{
	border-bottom:solid 1px #b57b00;
}
.block03 .block_box ul{
	padding:10px 10px 0px 10px;
}
.block03 .block_box ul li{
	float:left;
	width:50%;
	color:#b57b00;
	margin-bottom:10px;
	font-size:90%;
}
.block04 {
	background: url(../img/shadow_bg.png) no-repeat bottom center;
	background-size:600px;
	padding-bottom: 5px;
}
.block04 h2{
	margin:40px 0 15px;
}
.block04 img.left{
	width:74%;
	margin-bottom:10px;
	display: inherit;
	margin-left: 2.5%;
}
.block04 p{
	width:95%;
	margin:0 auto;
}
.block_box_list {
  background: #faf8f2;
  border: solid 1px #ece8da;
  margin: 15px auto 0;
  padding: 1%;
  width: 93%;
}
.block_box_list ul{
	border: solid 1px #f1eee3;
	padding: 5% 5% 0 5%;
}
.block_box_list ul li{
	margin-bottom:5%;
}
.btn_box dl{
	width:70%;
	margin:40px auto 50px;
}
.btn_box dl dt{
	margin-bottom:8px;
}

.block05 div.cf {
}
.block05 h2{
	margin-bottom:15px;
}
.block05 h3{
	margin-bottom:20px;
}
.block05 img.left{
	width:95%;
	margin:0 auto 15px;
}
.block05 img.right{
	width:95%;
	margin:0 auto 10px;
}
.block06 h2{
	margin:40px 0 20px;
}


.block06 table {
	width:95%;
	margin:0 auto;
	border: solid 1px #d0d0d0;
	margin-top: 15px;
}
.block06 table th.title span{
	display:block;
	font-weight: bold;
	background: url(../img/table_bg.gif) no-repeat;
    background-size: 100%;
	border-right: none;
	border-bottom: solid 1px #d0d0d0;
	padding:5px 0;
	text-align:center;
}
.block06 table th.sub_title span{
	display:block;
	padding:24px 0;
	background: #f3f3f3;
	text-align:center;
}
.block06 table td {
	border-bottom: solid 1px #d0d0d0;
	border-right: solid 1px #d0d0d0;
	text-align: center;
	padding:5px;
}
.block06 table th.title,
.block06 table th.sub_title {
	padding:1px;
	border-bottom: solid 1px #d0d0d0;
}
.block06 table th.sub_title{
	border-right: solid 1px #d0d0d0;
}
.block06 table .last_table th, .block06 table .last_table td {
	border-bottom: none;
}
.block06 table .boder_none {
	border-right: none;
}
.block06 table .boder_none span{
	color:#b98c40;
	font-weight:bold;
}

.block07 h2{
	margin-bottom:25px;
}
.block07 dl{
	width:95%;
	margin:20px auto 0;
}
.block07 dl dt{
	margin-bottom:10px;
}
.block07 dl dd {
	margin-top: 15px;
	padding: 0 0 0 11%;
	background: url(../img/a_title_sp.gif) no-repeat left top;
	background-size:8%;
}


.block08 div.cf{
	width:95%;
	margin:20px auto 0;
}
.block08 h3{
	margin-bottom:15px;
}
.block08 img{
	margin-bottom:15px;
}
.block08 dl {
	margin-top:15px;
}
.block08 dl dt img{
	margin:0;
}
.block08 dl dd img{
	margin:0;
}
.block08 dl dd{
	width:90%;
	margin:10px auto 0;
}
.block08 p.block_box {
	border: solid 1px #c0c0c0;
	padding: 10px;
	color: #7e7e7e;
	margin-top:15px;
}
.block08 p.small{
	color:#7e7e7e;
}


.block09 h2{
	margin-bottom:20px;
}
.block09 p{
	margin-top:15px;
}


.block10 p.text{
	width:95%;
	text-align:center;
	margin:25px 0;
}
.block10 div{
	width:95%;
	margin:0 auto 20px;
}
.block10 div img{
	margin-bottom:15px;
}


.block11 h2{
	margin:40px 0 20px;
}
.block11 p.text{
	width:95%;
	margin:0 auto 20px;
}
.block11 img.left {
	float: left;
	width:30%;
	margin-left:2.5%;
}
.block11 .sp_right{
	width:62.5%;
	float:right;
	margin-right:2.5%;
	margin-bottom:15px;
}
.block11 div.cf h3 {
	border-left: solid 2px #111111;
	font-weight: bold;
	font-size: 120%;
	line-height: 100%;
	padding: 0 0 0 10px;
	margin-bottom: 10px;
	text-align:left;
}
.block11 div.cf h3 span {
	font-weight: normal;
	display: block;
	color: #7c7c7c;
	font-size: 70%;
	margin-top: 5px;
	line-height: 100%;
}
.block11 div.cf dl{
	text-align:left;
}
.block11 div.cf dl dt{
	color:#7e7e7e;
	font-size:90%;
}
.block11 .sp_clear{
	clear:both;
	width:95%;
	margin:0 auto;
}
.block11 div.cf ul li {
  float: left;
  width: 50%;
  margin-bottom: 7px;
}
.block11 h3.clear {
	border-left: solid 2px #111111;
	font-weight: bold;
	font-size: 120%;
	line-height: 100%;
	padding: 0 0 0 10px;
	margin:15px auto 10px;
	text-align:left;
	width:92%;
}
.block11 h3.clear span {
	font-weight: normal;
	display: block;
	color: #7c7c7c;
	font-size: 70%;
	margin-top: 5px;
	line-height: 100%;
}
.block11 p.bottom_text{
	width:95%;
	margin:0 auto;
}

.block12 {
	margin-bottom:40px;
}
.block12 h2{
	margin-bottom:20px;
}
.block12 img.sp_logo{
	margin-bottom:15px;
}
.block12 p.text{
	text-align:center;
	margin-bottom:15px;
}
.block12 iframe{
	width:95%;
	height:175px;
	margin:0 auto 10px;
}
.block12 div.cf{
	width:95%;
	margin:0 auto 15px;
}
.block12 div.cf h3{
	margin-bottom:15px;
}
.block12 div.cf ul li.no01 {
  background: url(../img/icon01.gif) no-repeat left top;
  padding-left: 25px;
  margin-bottom: 10px;
}
.block12 div.cf ul li.no02 {
  background: url(../img/icon02.gif) no-repeat left top;
  padding-left: 25px;
  margin-bottom: 10px;
}
.block12 div.cf ul li.no03 {
  background: url(../img/icon03.gif) no-repeat left top;
  padding-left: 25px;
}

.block12 div.cf dl dt {
	border-left: solid 2px #111111;
	font-size: 120%;
	line-height: 100%;
	padding: 0 0 0 10px;
	margin: 0 auto 10px;
	text-align: left;
}
.dl01{
	width:55%;
	float:left;
}
.dl02{
	width:40%;
	float:right;
}

.block13 {
	padding-bottom:50px;
}
.block13 h2{
	margin-bottom:20px;
}
.block13 .flow {
	margin: 0 0 20px 0 ;
	padding: 0 10px ;
	text-align: center ;
}
.block13 .caution {
	margin: 10px 0 ;
	color: #ee0000 ;
}
.block13 .error {
	margin: 10px 0 0 0 ;
	color: #ee0000 ;
}
.block13 .form {
	padding: 0 10px ;
}
.block13 table {
	width: 100% ;
	border:solid 1px #d0d0d0;
	float:left;
	border-collapse: separate;
	border-spacing: 2px 2px ;
	margin: 0 auto 10px auto ;
}
.block13 th{
	display: block ;
	background:#f3f3f3;
	padding: 12px 10px 12px 70px ;
	border-bottom:solid 1px #d0d0d0;
	font-size: 14px ;
	color: #000000 ;
	white-space: nowrap ;
}
.block13 th.hissu {
	background: #FFF url(../img/form_icon_01.gif) 10px center no-repeat;
}
.block13 th.nini {
	background: #FFF url(../img/form_icon_02.gif) 10px center no-repeat;
}
.block13 td{
	display: block ;
	padding: 15px ;
	border-bottom:solid 1px #d0d0d0;
	font-size: 14px ;
	color: #333333 ;
	background:#FFF;
}
.block13 td.last{
	border-bottom:none;
}
.block13 td input[type="text"],
.block13 td input[type="tel"],
.block13 td input[type="email"] {
	width: 45% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 td input[type="checkbox"] {
	margin: 0 5px 0 10px;
}
.block13 td select {
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 td textarea {
	width: 96% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 .btn {
	text-align: center ;
}
.block13 .btn {
	width: 100% ;
	height: auto ;
	text-align: center ;
}
.block13 .btn input {
	width: 100% ;
	max-width: 420px ;
	margin: 0 auto 10px auto ;
	height: auto ;
}
.block13 .end {
	margin: 0 0 20px 0 ;
	text-align: center ;
}



.doctor2{
	margin-top:30px;
}
.doctor2 img.left{
	margin-right:2.5%;
	margin-bottom:2.5%;
}
.doctor2 .sp_right h3{
	float: left;
	width: 61%;
}
.doctor2 .sp_right{
	float:none;
	width:95%;
	margin:0 auto 2.5%;
}

/*=======================================================================
ページトップ
=======================================================================*/
#page-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
	z-index:99999999;
}


#f_wrapper {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	background: #000;
	color: #FFF;
}
#f_wrapper p{
	padding:5px 0;
	font-size:85%;
	text-align:center;
}




.sp_none{
	display:none !important;
}

.btn_box2{
	background:url(../img/box_bg_sp.gif) no-repeat;
	background-size:100%;
	width:90%;
	padding:0 2.5% 7% 2.5%;
	margin:5% auto 0%;
}
.btn_box2 p.logo{
	width:60%;
	margin:0 auto;
	display:block;
	padding:5% 0;
}
.btn_box2 p.title{
	padding:0 0 5% 0;
}
.btn_box2 ul{
	padding:0 0 5% 0;
}
.btn_box2 li.left{
	float:left;
	width:35%;
}
.btn_box2 li.right{
	float:right;
	width:65%;
}
.btn_box2 p.tel{
	width:80%;
	margin:0 auto;
}
.btn_box2 a{
	display:block;
	margin:0 auto;
	width:80%;
	padding:5% 0;
}
.btn_box2 p.tel a{
	display:inline-block;
	width:100%;
	padding:0;
}
p.mt60{
	margin:5% 0 10% !important;
}







/*=======================================================================b02=======================================================================*/

.b02_p01{
	margin:15px 0 25px 0;
	font-size:19px;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-weight:800;
	text-align:center;
	color:#363636;
	line-height:32px;
	}
.b02box_back{
	margin:0px 10px;
	width:auto;
}

.b02box01{
	padding:20px 10px 20px 10px;
	width:auto;
	background:#f1f1f1;
	color:#3d3d3d;
	line-height:20px;
	margin:0 0 10px 0;
}
.b02box01 img{
	float:none;
	width:100%;
	margin:10px 0 0px 0;
}
.tc{
	text-align:center !important;
	margin:0 !important;
}

.b02dl01{
	padding:25px 0 0 0;
}
.sp_block01{
	float:none;
	width:auto;
}
.sp_block01 a{
	margin:15px 0px 0;
	padding:8px 0 0 0;
	width:auto;
	height:26px;
	background:#453f36 url(../img/b02a.jpg) 96% center no-repeat;
	display:block;
	color:#fff;
	font-size:14px;
	text-decoration:none;
}
.sp_block01 p{
	font-size:23px;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-weight:800;
	text-align:left;
	color:#000000;
	margin:12px 0 0 0;
}
.sp_block01 p span{
	font-size:15px;
}

.b02_p02{
	margin:25px 0;
	font-size:14px;
	text-align:left;
	line-height:20px;
	padding:0 10px;
}
	
.b02info{
	margin:30px auto 30px;
	width:auto;
	}
.b02band{
	margin:0 0 30px 0;
	background:#7d7973;
	padding:0 15px;
	}


.b02band p{
	padding:15px 0 15px 0;
	text-align:center;
	font-size:18px;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	color:#ffffff;
	line-height:28px;
	}









.spblock002{
	background:#f1f1f1 url(../img/new06sp.jpg) right top no-repeat;
	background-size:cover;


}
.spblock002 p{
	padding:5% 28% 5% 5%;
}









.b03_graph{
	margin:30px 10px 30px 10px;
	width:auto;
	height:auto;
	border:2px solid #837d74;
	padding:5px;
	}

.b03_graph_in{
	padding:15px;
	margin:0px auto;
	width:auto;
	height:auto;
	border:1px solid #837d74;
	}

.b03gra01{
	width:auto;
	float:none;
	}
.b03gra01 img{
	width:80%;
	text-align:center;
	margin:0 auto 0;
}
.b03gra01 p{
	margin:0 0 10px 0;
	padding:8px 0 0 70px;
	width:226px;
	height:50px;
	font-size:18px;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-weight:800;
	color:#000000;
	line-height:22px;
	background:url(../img/b03_no1.png) no-repeat;
	}

.b03gra02{
	float:none;
	width:auto;
	}

.b03gra02 p{
	background:url(../img/b03_no2.png) no-repeat;
	}

.b03gra03{
	width:auto;
	float:none;
	}

.b03gra03 p{
	background:url(../img/b03_no3.png) no-repeat;
	}

.b03arr{
	width:auto;
	float:none;
	}

.b03_graph_in p{
	font-size:18px;
	line-height:22px;
	}

.b03_g{
	margin:0 0 20px 0;
}
p.sptxt01{
	font-size:13px;
}










.b04_01{
	margin:20px 10px 0 10px;
	padding:20px;
	width:auto;
	height:auto;
	text-align:left;
	background:#f1f1f1;
	}


.b04_01 p{
	margin:10px 0 0 0;
	width:auto;
	color:#363636;
	font-size:15px;
	line-height:19px;
	}

.b04_01bottom{
	margin:0px 0 20px 0px;
}





.b05{
	margin:30px 20px;
	width:auto;
	}
	
.b05 table{
	border-collapse:collapse;
	border-spacing:2px;
	width:100%;
	}

.b05 table tr{
	margin:0 0 5px 0;
	}

.b05 table th{
	width:110px;
	padding:10px;
	background:#585858;
	color:#ffffff;
	text-align:center;
	border-bottom:2px solid #ffffff;
	}

.b05 table td{
	padding:10px;
	background:#ebebeb;
	border-bottom:2px solid #ffffff;
	 }

.b05_l{
	float:none;
	}

.b05_r{
	float:none;
	}













.b06_head{
	border-bottom:1px solid #a29f9a;
	border-top:1px solid #a29f9a;
	margin:0 10px 20px 10px;
	padding:20px 0 20px 0;
	width:auto;
	font-size:18px;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-weight:800;
	color:#000000;
	letter-spacing:1px;
	
	}






.b07{
	margin:0 0px;
	width:auto;
	}

.b07_head{
	margin:0 auto 30px;
	}

.b07_q{
	padding:11px 15px 10px 58px;
	height:auto;
	font-size:16px;
	font-weight:bold;
	background:#f1f1f1 url(../img/b07_q.png) no-repeat;
	margin:0 10px;
}

.b07_a{
	margin:20px 10px 0 30px;
	padding:0 0 0 50px;
	width:auto;
	height:auto;
	background:url(../img/b07_a.png) no-repeat 0 2px;
	}

.b07faq02 , .b07faq03{
	margin:15px 0 0 0;
	}

.b07 img{
	margin:50px 0 0 0;
	}





.spblock003{
	background:#f1f1f1 url(../img/new23sp.jpg) right top no-repeat;
	background-size:cover;


}
.spblock003 p{
	padding:5% 5% 5% 28%;
}








.b10_graph_in{
	margin:0px auto;
	width:auto;
	height:auto;
	border:1px solid #837d74;
	padding:15px;
	}

.b10_graph_in h2{
	margin:0px auto 0;
	width:auto;
	height:40px;
	font-size:17px;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	color:#000000;
	line-height:30px;
	letter-spacing:1px;
	/*
	background:url(../img/b10_head.jpg) no-repeat bottom;
	*/
	border-bottom:1px solid #a29f9a;
	}
.b10_graph img{
	width:80%;
	text-align:center;
	margin:0 auto 0;
}
.b10_grp{
	margin:30px auto 10px;
	width:auto;
	}

.b10_l{
	width:auto;
	float:none;
	}

.b10_l p{
	margin:10px 0 0 0;
	text-align:center;
	}

.b10arr{
	margin:60px 20px 0 20px;
	float:none;
	}

.b10text{
	margin:0px 0 0 0;
	}



.b12{
	margin:30px 20px 40px 20px;
	}





.b14{
	margin:30px 10px 40px 10px;
	width:auto;
	}

.b14_01{
	width:40%;
	float:left;
	line-height:12pt;
	}

.b14_01 p{
	margin:10px 0 0 0;
	}

.b14_02{
	width:40%;
	float:right;
	line-height:12pt;
	}

.b14_03{
	margin:10% 0 0 10px;
	float:left;
	width:12%;
	}
	
	
	
	
	
	
	
	
	
	
.spblock004{
	background:#f1f1f1 url(../img/new31sp.jpg) right top no-repeat;
	background-size:cover;


}
.spblock004 p{
	padding:5% 28% 5% 5%;
}




.b17_in img{
	margin:15px 0 0 0;
	}

.b17{
	height:auto;
	}

.b17_in{
	height:auto;
}












	
.ttl003{
	text-align:left;
	font-size:19px;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	padding:0 0 5px 0;
	margin:0 0 10px 0;
	border-bottom:1px solid #a29f9a;
}
.ttl003 span{
	font-size:14px;
}
.spblock005{
	background:#f5f5f5;
	padding:20px;
	margin:0 10px 10px 10px;
}

.spleft01{
	width:auto;
	float:none;
	margin:0 0 10px 0;
}
.spright01{
	width:auto;
	float:none;
	text-align:left;
}

.b18_01bottom{
	margin:10px 0 0 0;
	width:auto;
	border:1px solid #585858;
	background:#FFF;
	}

.b18_01bottom dt{
	padding:16px 0 0 1%;
	width:51%;
	height:34px;
	float:left;
	background:#585858;
	color:#fff;
	}

.b18_01bottom dd{
	padding:5px 0 0 2%;
	height:34px;
	float:right;
	width:46%;

	}
	
	
	
	
	
.b19{
	margin:0 auto;
	width:auto;
}
		
.b19 h2{
	margin:18px 0 50px 0;
	font-size:32px;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	color:#000000;
	}





.spblock006{
	background:#f1f1f1;
	padding:15px;
	margin:0 10px 20px 10px;
}

.spleft02{
	float:left;
	width:35%;
}
.spright02{
	float:right;
	width:65%;
	background:#FFF;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	min-height:195px;
}

.spright02 p{
	margin:15px;
}



.spleft03{
	float:left;
	width:65%;
	background:#FFF;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	min-height:195px;
}
.spright03{
	float:right;
	width:35%;

}

.spleft03 p{
	margin:15px;
}





.b20 h2{
	margin:2px 0 20px 0;
	font-size:24px;
	line-height:26pt;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	color:#000000;
	}
.b20_p{
	font-size:15px;
	line-height:24px;
	text-align:left;
	margin:0 15px;
}



.sp_block007{
	margin:10px 10px 0 10px;
}
.spleft004{
	margin:5px 0 0 0;
	float:left;
	width:30%;
}
.spright004{
	margin:5px 0 0 0;
	float:right;
	width:65%;
	text-align:left;
}


.b20_p{
	margin:0 10px 20px 10px;
	}














.b23_box00 img{
	width:50%;
	margin:0 auto 0;
	text-align:center;
}

.b23_box00{
	margin:20px 10px 0 10px;
	text-align:left;
	}

.b22_li{
	margin:0 10px;
	width:auto;
	}

.b22_00{
	padding:20px;
	width:auto;
	float:none;
	background:#f1f1f1;
	margin:0 0 10px 0;
	}

.b22_02{
	float:none;
	}

.b22_03{
	float:none;
	margin:0 0 40px 0;
	}

.b22_00 dl{
	margin:10px 0 10px 0;
	text-align:left;
	}

.b22_00 dl dt{
	padding:5px 0 0 0;
	float:left;
	width:20%;

	}

.b22_00 dl dd{
	margin:0 0 0 0px;
	font-size:15px;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-weight:bold;
	color:#000000;
	line-height:18px;
	float:right;
	width:78%;
	}

.b22_00 p{
	margin:15px 0 10px 0 ;
	font-size:13px;
	line-height:20px;
	}




.b23_box00 h3{
	margin:0 0 20px 0;
	padding:12px 0 0 20px;
	height:32px;
	background:#f4f4f1;
	border-left:2px solid #8c8274;
	font-size:22px;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-weight:bold;
	color:#000000;
	}

.b23_box00 span{
	font-size:16px;
	}
	
.b23_in{
	padding:0 0 0 0px;
	/*
	background:url(../img/b23_img01.jpg) no-repeat;
	*/
	}

.b23_in00{
	width:auto;
	float:none;
	margin:15px 0 0 0;
	}

.b23_p{
	margin:0 0 15px 0;
	padding:0 0 5px 0;
	font-size:15px;
	background:url(../img/b23_line01.jpg) no-repeat bottom;
	}

.b23_in00 dl dt{
	font-size:13px;
	line-height:22px;}

.b23_in00 dl dt{
	float:left;
	}

.b23_in00 dl dd{
	margin:0 0 0 0px;
	float:none;
	}

.b23_in02{
	margin:15px 0 0 0;
	width:344px;
	}

.b23_ul01{
	float:none;
	}

.b23_ul02{
	float:none;
	}

.b23_in03{
	margin:30px 0 0 0;
	width:auto;
	}

.b23_p02{
	background:url(../img/b23_line03.jpg) no-repeat bottom;
	}

.b23_in000{

	/*
	background:url(../img/b23_img02.jpg) no-repeat;
	*/
	}

.b24 h2{
	margin:2px 0 0 0;
	}

.block12{
	margin:20px 10px 0 10px;
}



.b25_01{
	margin:20px 10px;
}
.b25_02{
	margin:20px 10px;
}

.b25_03{
	margin:20px 10px;
	}

.b25_03 dl dt{

	}

.b25_03 dl dd{
	margin:0 0 0 10px;
}


.b08{
	margin:20px 0 10px 0;
	height:4px;
	background:#837d74;
	}

.b25_01 ul{
	margin:10px 0 0 0;
}
.b25_02 h3{
	margin:0 0 10px 0;
}



#section09{
	margin:0;
	background:#f1f1f1;
}

}
