@charset "UTF-8";
@media only screen and (min-width: 768px) {
body{
	font-size:13px;
	color:#111111;
	line-height:160%;
	background:#FFF;
	font-family:"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
	letter-spacing:-0.5px;
	min-width:1200px;
}
/*
a img:hover{
	-moz-opacity:0.7;
	opacity:0.7;
}
*/

#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#h_wrapper {
	width: 100%;
	height:85px;
	margin: 0 auto;
	text-align: center;
	background:#171717;
	border-bottom:solid 2px #b39952;
	position:fixed;
	top:0;
	left:0;
	z-index:99999;
}

header#PAGE_TOP {
	width: 1200px;
	height:85px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

.cnt_wp {
	width: 100%;
	margin:0 auto;
	padding: 85px 0 0;
	text-align: center;
	min-width:1200px;
	overflow:hidden;
}
#f_wrapper {
	width: 100%;
	height:46px;
	margin: 0 auto;
	text-align: center;
	background:#fff;
	color:#FFF;
}

footer#f_cnt {
	width: 1200px;
	height:46px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}


/*=======================================================================
ヘッダ
=======================================================================*/
#PAGE_TOP h1{
	position:absolute;
	top:20px;
	left:24px;
	color:#fff;
}
#PAGE_TOP p{
	position:absolute;
	top:16px;
	right:400px;
}
#PAGE_TOP ul{
	position:absolute;
	top:23px;
	right:0;
}
#PAGE_TOP ul li{
	float:left;
	margin-left:21px;
}




/*=======================================================================
トップページ　メイン
=======================================================================*/
.block01{
	text-align:center;
	min-width:1200px;
	overflow:hidden;
	}

.block02{
	padding:40px 0 0 0;
	min-width:1200px;
	}

/*=======================================================================b02=======================================================================*/
.b02_p01{
	margin:15px 0 0 0;
	font-size:19px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-weight:800;
	text-align:center;
	color:#363636;
	line-height:32px;
	}
	
.b02_p02{
	margin:0 0 60px 0;
	font-size:16px;
	text-align:center;
	line-height:28px;
	}
	
.b02box_back{
	margin:40px auto;
	width:1200px;
	}

.b02box01{
	padding:50px 60px 40px 60px;
	width:275px;
	background:#f1f1f1;
	color:#3d3d3d;
	line-height:20px;
	float:left;
	}

.b02dl01{
	padding:25px 0 0 0;
}

.b02dl01 span{
	font-size:16px;}




.b02dl01 dt{
	font-size:26px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-weight:800;
	text-align:left;
	color:#000000;
	line-height:32px;
	}

.b02dl01 dd{
	margin:10px 0 0 0;
	padding:0 0 10px 0;
	height:70px;
	font-size:14px;
	color:#3d3d3d;
	line-height:20px;
	border-bottom:1px dotted #a9a9a9;
	}

.b02dl02 dt{
	margin:15px 0 5px 0;
	font-size:16px;
	font-weight:bold;
	text-align:left;
	color:#3d3d3d;
	}

.b02dl02 dd{
	padding:0 0 10px 0;
	height:50px;
	font-size:14px;
	color:#3d3d3d;
	line-height:20px;
	border-bottom:1px dotted #a9a9a9;
	}

.b02box01 a{
	margin:20px auto 0px;
	padding:6px 0 0 0;
	width:162px;
	height:26px;
	background:#453f36 url(../img/b02a.jpg) no-repeat right 10px  top 10px;
	display:block;
	color:#fff;
	font-size:14px;
	text-decoration:none;
	}

.b02box01 a:hover{
	opacity:0.8;
	}

.b02box02{
	margin:0 0 0 8px;
	float:left;
	}

.b02box03{
	float:right;
	}

.b02band{
	margin:0 0 40px 0;
	background:#7d7973;
	}


.b02band p{
	padding:40px 0 40px 0;
	text-align:center;
	font-size:24px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color:#ffffff;
	line-height:38px;
	}

.b02info{
	margin:50px auto 50px;
	width:1200px;
	}

.info01{
	float:left;
	}

.info02{
	padding:20px 0 0 40px;
	float:left;
	}

.info03{
	margin:30px 0 0 0;
	float:right;
	}

.info03:hover{
	opacity:0.8;
	}

/*=======================================================================b03=======================================================================*/

.b03_band{
	margin:0 auto 50px;
	width:1500px;
	height:492px;
	background:#f1f1f1 url(../img/b03_back01.jpg) no-repeat top 0 right 50px;
	}

.b03_band_in{
	margin:0 auto;
	width:1300px;
	height:492px;
	}

.b03head{
	padding:85px 0 0 200px;
	width:591px;
	height:98px;
	font-size:42px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color:#000000;
	line-height:38px;
	text-align:left;
	background: url(../img/b03head.png);
	}

.b03head img{
	margin:0 0 15px 0;}

.b03_band_in p{
	margin:50px 0 0 50px;
	width:710px;
	font-size:16px;
	line-height:25px;
	}

.b03_graph{
	margin:0 auto 80px;
	width:996px;
	height:396px;
	border:2px solid #837d74;
	}

.b03_graph_in{
	padding:50px 0 0 85px;
	margin:3px auto;
	width:903px;
	height:338px;
	border:1px solid #837d74;
	}

.b03gra01{
	width:245px;
	float:left;
	}

.b03gra01 p{
	margin:0 0 10px 0;
	padding:8px 0 0 70px;
	width:226px;
	height:50px;
	font-size:18px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-weight:800;
	color:#000000;
	line-height:22px;
	background:url(../img/b03_no1.png) no-repeat;
	}

.b03gra02{
	float:left;
	}

.b03gra02 p{
	background:url(../img/b03_no2.png) no-repeat;
	}

.b03gra03{
	float:left;
	}

.b03gra03 p{
	background:url(../img/b03_no3.png) no-repeat;
	}

.b03arr{
	margin:130px 10px 0 10px;
	float:left;
	}

.b03_graph_in p{
	font-size:16px;
	line-height:22px;
	}

.b03_g{
	margin:0 0 20px 0;}

/*=======================================================================b03=======================================================================*/

.b04_01{
	margin:0 auto;
	padding:50px 0 0 450px;
	width:750px;
	height:366px;
	text-align:left;
	background:#f1f1f1 url(../img/b04_back01.jpg) no-repeat;
	}
.b04_01 p{
	margin: 20px 0 0 0;
    width: 690px;
	}
.b04_01head{
	padding:0 0 20px 0;
	width:690px;
	border-bottom:1px solid #a29c93;
	}

.b04_01head dt{
	margin:5px 0 0 0;
	padding:0 0 0 25px;
	font-size:30px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-weight:800;
	color:#000000;
	background:url(../img/b04_icon01.png) no-repeat 0 2px;
	float:left;
	}

.b04_01head dd{
	margin:0 0 0 30px;
	float:left;
	/*padding:4px 20px 0 20px;
	height:24px;
	font-size:18px;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-weight:800;
	color:#453f36;
	background:#f1f1f1;
	float:left;
	border:1px solid #a29c93;*/
	}
.b04_01head_p{
	margin:20px 0 0 0;
	width:690px;
	color:#363636;
	font-size:16px;
	line-height:24px;
	}

.b04_01bottom{
	margin:30px 0 0 100px;}


.b04_01bottom img{
	margin:0 15px 0 0;
	float:left;}

.b04_01bottom .b04_01arr{
	margin:60px 15px 0 0;
	}

.b04_01bottom_p{
	margin:5px 175px 0 0;
	font-size:12px;
	color:#6c6c6c;
	float:right;
	}



.b04_02{
	margin:10px auto;
	background:#f1f1f1 url(../img/b04_back02.jpg) no-repeat;
	}

.b04_03{
	margin:0 auto 100px;
	background:#f1f1f1 url(../img/b04_back03.jpg) no-repeat;
	}

/*=======================================================================b05=======================================================================*/

.b05{
	margin:0 auto 80px;
	width:900px;
	}
	
.b05 table{
	border-collapse:collapse;
	border-spacing:5px;
	width:440px;
	}

.b05 table tr{
	margin:0 0 5px 0;
	}

.b05 table th{
	width:168px;
	height:58px;
	background:#585858;
	color:#ffffff;
	text-align:center;
	border-bottom:2px solid #ffffff;
	}

.b05 table td{
	padding:0 0 0 15px;
	background:#ebebeb;
	border-bottom:2px solid #ffffff;
	 }

.b05_l{
	float:left;
	}

.b05_r{
	float:right;
	}

/*=======================================================================b06=======================================================================*/

.b06_head{
	margin:0 auto 70px;
	padding:27px 0 0 0;
	width:922px;
	height:46px;
	font-size:30px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-weight:800;
	color:#000000;
	letter-spacing:1px;
	background:url(../img/b06_head.jpg) no-repeat;
	}

.b06_li{
	margin:0 auto 70px;
	background:url(../img/b06_back.jpg);
	width:1202px;
	height:407px;
	position:relative;
	}

.b06_00{
	width:230px;
	position:absolute;
	top:-20px;
	left:60px;
	}
	
.b06_00 dl dt{
	margin:40px 0 20px 0;
	font-size:22px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-weight:800;
	color:#000000;
	line-height:30px;
	}

.b06_00 dl dd{
	width:210px;}



.b06_02{
	position:absolute;
	top:70px;
	left:350px;
	}

.b06_03{
	position:absolute;
	top:-20px;
	left:645px;
	}

.b06_04{
	width:210px;
	position:absolute;
	top:60px;
	left:930px;
	}

/*=======================================================================b07=======================================================================*/

.b07{
	margin:0 auto;
	width:1000px;
	}

.b07_head{
	margin:0 auto 30px;
	}

.b07_q{
	padding:11px 0 0 58px;
	height:30px;
	font-size:16px;
	font-weight:bold;
	background:#f1f1f1 url(../img/b07_q.png) no-repeat;
	}

.b07_a{
	margin:20px 0 0 50px;
	padding:0 0 0 50px;
	width:815px;
	height:50px;
	background:url(../img/b07_a.png) no-repeat 0 2px;
	}

.b07faq02 , .b07faq03{
	margin:15px 0 0 0;
	}

.b07 img{
	margin:50px 0 0 0;
	}

/*=======================================================================b08=======================================================================*/

.b08{
	margin:80px 0 40px 0;
	height:8px;
	background:#837d74;
	}

.b08info{
	margin:0 auto 80px;
	}

/*=======================================================================b09=======================================================================*/

.b09_band{
	margin:0 auto 50px;
	width:1500px;
	height:492px;
	background:#f1f1f1 url(../img/b09_back.jpg) no-repeat;
	}

.b09_band_in{
	margin:0 auto;
	padding:0 0 0 550px;
	width:1300px;
	height:492px;
	}

.b09head{
	padding:85px 0 0 0;
	width:791px;
	height:98px;
	font-size:42px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color:#000000;
	line-height:38px;
	text-align:left;
	background: url(../img/b09head.png);
	}

/*=======================================================================b10=======================================================================*/

.b10_graph_in{
	margin:3px auto;
	width:988px;
	height:388px;
	border:1px solid #837d74;
	}

.b10_graph_in h2{
	margin:30px auto 0;
	width:921px;
	height:44px;
	font-size:30px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color:#000000;
	line-height:38px;
	letter-spacing:1px;
	background:url(../img/b10_head.jpg) no-repeat bottom;
	}

.b10_grp{
	margin:30px auto;
	width:700px;
	}

.b10_l{
	width:270px;
	float:left;
	}

.b10_l p{
	margin:10px 0 0 0;
	text-align:center;
	}

.b10arr{
	margin:60px 20px 0 20px;
	float:left;
	}

.b10text{
	margin:10px 0 0 0;
	}
	
/*=======================================================================b11=======================================================================*/

/*=======================================================================b12=======================================================================*/

.b12{
	margin:50px auto 80px;
	}

/*=======================================================================b13=======================================================================*/

.b13 span{
	font-size:12px;
	line-height:18px;
	color:#8b8b8b;
	}

/*=======================================================================b14=======================================================================*/

.b14{
	margin:0 auto 80px;
	width:736px;
	}

.b14_01{
	width:295px;
	float:left;
	}

.b14_01 p{
	margin:10px 0 0 0;
	}

.b14_02{
	width:295px;
	float:right;
	}

.b14_03{
	margin:80px 0 0 30px;
	float:left;
	}
	
/*=======================================================================b15=======================================================================*/

/*=======================================================================b16=======================================================================*/

.b16_band{
	margin:0 auto 50px;
	width:1500px;
	height:492px;
	background:#f1f1f1 url(../img/b16_back.jpg) no-repeat right;
	}

.b16head{
	padding:85px 0 0 270px;
	width:520px;
	height:98px;
	font-size:42px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color:#000000;
	line-height:38px;
	text-align:left;
	background: url(../img/b16head.png);
	}

/*=======================================================================b17=======================================================================*/

.b17_in img{
	margin:30px 0 0 0;
	}

.b17{
	height:246px;
	}

.b17_in{
	height:238px;
	}

/*=======================================================================b18=======================================================================*/

.b18_01{
	margin:0 auto 10px;
	padding:50px 0 0 450px;
	width:750px;
	height:307px;
	text-align:left;
	background:#f1f1f1 url(../img/b18_01.jpg) no-repeat;
	}

.b18_02{
	background:#f1f1f1 url(../img/b18_02.jpg) no-repeat;
	}
	
.b18_03{
	background:#f1f1f1 url(../img/b18_03.jpg) no-repeat;
	}
	
.b18_04{
	background:#f1f1f1 url(../img/b18_04.jpg) no-repeat;
	}

.b18_01bottom{
	margin:20px 0 0 0;
	width:520px;
	border:1px solid #585858;
	}

.b18_01bottom dt{
	padding:16px 0 0 10px;
	width:158px;
	height:34px;
	float:left;
	background:#585858;
	color:#fff;
	}

.b18_01bottom dd{
	padding:16px 0 0 10px;
	height:34px;
	float:left;
	font-weight:bold;
	}

.b18_min01{
	margin:0 0 0 5px;
	font-size:20px;
	}

.b18_min02{
	font-size:12px;
	color:#919191;
	}

.b18{
	margin:0 0 100px 0;}

/*=======================================================================b19=======================================================================*/

.b19{
	margin:0 auto;
	width:1200px;
	}
	
.b19 h2{
	margin:18px 0 50px 0;
	font-size:32px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color:#000000;
	}


.b19_00{
	width:398px;
	height:329px;
	background:#f1f1f1 url(../img/b19_01.png) no-repeat 30px 40px;
	position:relative;
	float:left;
	}
	
.b19_00 p{
	width:195px;
	position:absolute;
	top:58px;
	left:150px;
	font-size:13px;
	line-height:20px;
	}

.b19_02{
	margin:0 0 0 3px;
	background:#f1f1f1 url(../img/b19_02.png) no-repeat 30px 40px;
	float:left;
	}
	
.b19_03{
	background:#f1f1f1 url(../img/b19_03.png) no-repeat 30px 40px;
	float:right;
	}

/*=======================================================================b20=======================================================================*/

.b20{
	margin:0 auto 50px;
	width:980px;
	}
	
.b20 h2{
	margin:18px 0 50px 0;
	font-size:32px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color:#000000;
	}

.b20_p{
	font-size:15px;
	line-height:24px;
	text-align:center;
	}

.b20li{
	margin:50px 0 0 0;}

.b20li00{
	margin:0 0 30px 0;
	padding:0 0 0 260px;
	height:195px;
	background:url(../img/b20_01.jpg) no-repeat;
	position:relative;
	text-align:left;
	}

.b20step{
	position:absolute;
	top:-10px;
	left:-30px;}

.b20li00 dl dt{
	padding:13px 0 0 10px;
	height:32px;
	background:#f4f4f1;
	border-left:2px solid #8c8274;
	font-size:21px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color:#000000;
	}

.b20li00 dl dd{
	margin:10px 0 10px 0;
	font-size:13px;
	line-height:21px;
	}

.b20_in01{
	float:left;
	}

.b20_in02{
	padding:2px 50px 0 20px;
	float:left;
	}

.b20_in03{
	float:left;
	}

.b20_in03:hover{
	opacity:0.8;
	}

.b20li02{background:url(../img/b20_02.jpg) no-repeat;}
.b20li03{background:url(../img/b20_03.jpg) no-repeat;}
.b20li04{background:url(../img/b20_04.jpg) no-repeat;}
.b20li05{background:url(../img/b20_05.jpg) no-repeat;}
.b20li06{background:url(../img/b20_06.jpg) no-repeat;}

/*=======================================================================スライダー=======================================================================*/

.block09{
	width:1200px;
	margin:0 auto;
	}
	
.block09 h2{
	margin-bottom:50px;
	}
	
.block09 ul li{
	width:399px !important;
	border-left: dotted 1px #7c7c7c;
	padding-left:1px;
	margin-left:1px;
	}
	
.block09 p{
	margin-top:30px;
	}

/*=======================================================================b22=======================================================================*/

.b22_li{
	margin:0 auto 100px;
	width:1200px;
	}

.b22_00{
	padding:50px 20px 0 20px;
	width:358px;
	float:left;
	background:#f1f1f1;
	}

.b22_02{
	margin:0 0 0 3px;
	float:left;
	}

.b22_03{
	float:right;
	}

.b22_00 dl{
	margin:0 0 15px 0;
	text-align:left;
	}

.b22_00 dl dt{
	padding:5px 0 0 0;
	float:left;
	}

.b22_00 dl dd{
	margin:0 0 0 10px;
	font-size:16px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-weight:bold;
	color:#000000;
	line-height:24px;
	float:left;
	}

.b22_00 p{
	margin:15px 0 30px 0 ;
	font-size:13px;
	line-height:20px;
	}

.b23_box00{
	margin:0 auto 90px;
	width:1000px;
	text-align:left;
	}

.b23_box00 h3{
	margin:0 0 20px 0;
	padding:12px 0 0 20px;
	height:32px;
	background:#f4f4f1;
	border-left:2px solid #8c8274;
	font-size:22px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-weight:bold;
	color:#000000;
	}

.b23_box00 span{
	font-size:16px;
	}
	
.b23_in{
	padding:0 0 0 190px;
	background:url(../img/b23_img01.jpg) no-repeat;
	}

.b23_in00{
	width:392px;
	float:left;
	}

.b23_p{
	margin:0 0 15px 0;
	padding:0 0 5px 0;
	font-size:15px;
	background:url(../img/b23_line01.jpg) no-repeat bottom;
	}

.b23_in00 dl dt{
	font-size:13px;
	line-height:22px;}

.b23_in00 dl dt{
	float:left;
	}

.b23_in00 dl dd{
	margin:0 0 0 20px;
	float:left;
	}

.b23_in02{
	margin:0 0 0 40px;
	width:344px;
	}

.b23_ul01{
	float:left;
	}

.b23_ul02{
	float:left;
	}

.b23_in03{
	margin:30px 0 0 0;
	width:800px;
	}

.b23_p02{
	background:url(../img/b23_line03.jpg) no-repeat bottom;
	}

.b23_in000{
	background:url(../img/b23_img02.jpg) no-repeat;
	}

.b23_in002{
	background:url(../img/b23_img03.jpg) no-repeat;
	}



.b24 h2{
	margin:18px 0 0 0;
	}

/*=======================================================================アクセス=======================================================================*/


.b25_00{
	margin:25px auto;
	width:1200px;
	text-align:left;
	}

.b25_00 h3 img{
	margin:0 0 10px 0;
	}


.b25_01{
	float:left;
	}

.b25_02{
	margin:0 0 0 41px;
	float:left;
	}

.b25_03{
	float:right;
	}

.b25_03 dl dt{
	float:left;
	}

.b25_03 dl dd{
	margin:0 0 0 10px;
	float:left;
	}


.b26{
	padding:45px 0 0 0;
	height:110px;
	background:#837d74;
}











.block10{
	width:1200px;
	height:584px;
	margin:0 auto;
	background:url(../img/bg02.png) no-repeat center bottom;
}
.block10 p.text{
	text-align:center;
	margin:46px auto;
}
.block10 div{
	width:374px;
}
.block10 div h3{
	margin-bottom:30px;
}
.block10 div.left{
	float:left;
}
.block10 div.center{
	float:left;
	margin-left:40px;
}
.block10 div.right{
	float:right;
}


.block11{
	width:1200px;
	margin:0 auto;
}
.block11 p.text{
	text-align:center;
	margin:46px auto;
}
.block11 img.left{
	float:left;
	margin-left: 108px;
	margin-bottom:33px;
}
.block11 div.cf{
	float:left;
	width:370px;
	text-align:left;
	margin-left:40px;
	margin-bottom:33px;
}
.block11 div.cf h3{
	border-left: solid 2px #111111;
	font-weight:bold;
	font-size:15px;
	line-height:100%;
	padding:0 0 0 10px;
	margin-bottom:20px;
}
.block11 div.cf h3 span{
	font-weight:normal;
	display:block;
	color:#7c7c7c;
	font-size:10px;
}
.block11 div.cf  dl dt{
	color:#7c7c7c;
	margin-right:10px;
}
.block11 div.cf  dl dt,
.block11 div.cf  dl dd{
	float:left;
	margin-bottom:6px;
}
.block11 div.cf ul li{
	float:left;
	width:165px;
	margin-bottom:7px;
}
.block11 h3.clear{
	border-left: solid 2px #111111;
	font-weight:bold;
	font-size:15px;
	line-height:100%;
	padding:0 0 0 10px;
	width:970px;
	margin:0 auto;
	text-align:left;
}
.block11 h3.clear span{
	font-weight:normal;
	display:block;
	color:#7c7c7c;
	font-size:10px;
}
.block11 p.bottom_text{
	width:983px;
	margin:20px auto 0;
	text-align:left;
}


.block12{
	width:1200px;
	margin:0 auto;
}
.block12 p.text{
	width:476px;
	background:url(../img/logo.gif) no-repeat left center;
	padding:15px 0 15px 300px;
	margin:40px auto;
}
.block12 div.cf{
	width:373px;
	margin: 0 0 70px 0 ;
	float:left;
	text-align:left;
	margin-top:27px;
}
.block12 div.cf h3{
	margin-bottom:15px;
}
.block12 div.cf ul li.no01{
	background:url(../img/icon01.gif) no-repeat left center;
	padding-left:25px;
	margin-bottom:10px;
}
.block12 div.cf ul li.no02{
	background:url(../img/icon02.gif) no-repeat left center;
	padding-left:25px;
	margin-bottom:10px;
}
.block12 div.cf ul li.no03{
	background:url(../img/icon03.gif) no-repeat left center;
	padding-left:25px;
	margin-bottom:10px;
}
.block12 div.center{
	margin-left:40px;
	margin-right:40px;
}
.block12 div.cf p{
	margin-bottom:10px;
}
.block12 div.cf dl{
	float:left;
}
.block12 div.cf dl dt{
	border-left: solid 2px #111111;
	font-weight:bold;
	font-size:15px;
	line-height:100%;
	padding:0 0 0 10px;
	width:970px;
	margin:0 auto 10px;
	text-align:left;
}
.dl01{
	width:210px;
}
.dl02{
	width:160px;
}

.doctor2{
	margin-top:50px;
}
.doctor2 .sp_right p{
}

.block13{
	width:1200px;
	margin:0 auto;
}
.block13 .flow {
	margin: 50px 0 40px 0 ;
	text-align: center ;
}
.block13 .caution {
	font-size:14px;
	color: #453f36 ;
}
.block13 .error {
	margin: 10px 0 0 0 ;
	color: #ee0000 ;
}
.block13 .form {
	width: 1000px ;
	margin: 0 auto ;
}
.block13 table {
	width: 100% ;
	border-collapse: separate;
	border-spacing: 0 1px ;
	margin: 20px auto 40px auto ;
}
.block13 th{
	width: 25% ;
	background:#f3f3f3;
	padding: 20px 20px 20px 80px ;
	font-size: 14px ;
	color: #363636;
	white-space: nowrap ;
}
.block13 th.hissu {
	background: #ffffff url(../img/form_01.png)15px center no-repeat;
}
.block13 th.nini {
	background: #ffffff url(../img/form_02.png) 15px center no-repeat;
}
.block13 td{
	width: 75% ;
	padding: 20px ;
	font-size: 14px ;
	color: #333333 ;
	background:#ffffff;
}
.block13 th.last,
.block13 td.last{
	border-bottom:none;
}
.block13 td input[type="text"],
.block13 td input[type="tel"],
.block13 td input[type="email"] {
	padding:0 0 0 10px;
	width: 60% ;
	height:38px;
	background: #ffffff ;
	border: 1px solid #bfbfbf;
	font-size: 12px ;
}
.block13 td input[type="checkbox"] {
	margin: 0 5px 0 10px;
}
.block13 td select {
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 td textarea {
	width: 98% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 12px ;
}
.block13 .btn {
	margin: 0 0 60px 0 ;
	text-align: center ;
}
.block13 .end {
	margin: 0 0 40px 0 ;
	text-align: center ;
}



/*=======================================================================
サイドバー
=======================================================================*/

#navi {
	position:fixed;
	top:384px;
	right:0;
	width: 53px;
	background-color: rgba( 150, 150, 149, 0.55 );
	padding:20px 0;
	z-index:99999999999999999;
	-webkit-transform: translateY(-50%) translateZ(0);
	transform: translateY(-50%) translateZ(0);
}
#navi li {
	list-style-type: none;
	text-align: center;
}
#navi li a {
	padding: 5px 0;
	display: block;
	text-decoration: none;
	color:#FFF;
	font-size:10px;
}
#navi li a.on {
	color:#e9b62b;
}


/*=======================================================================
ページトップ
=======================================================================*/
#page-top {
    position: fixed;
    bottom: 68px;
    right: 68px;
	z-index:99999999;
}
#page-top a img:hover{
	-moz-opacity:0.7;
	opacity:0.7;
}

/*=======================================================================
フッタ
=======================================================================*/
.copy{
	text-align:center;
	font-size:12px;
	padding: 13px 0px;
	color:#8e8e8e;
	background:#ffffff;
}


/*=======================================================================
メインイメージスクロール
=======================================================================*/
#slider_wp {
	width: 100%;
	min-width:1200px;
	height: 327px;
	display: block;
	background:url(../images/main_img_bg.jpg) repeat-x;
	overflow:hidden;
}

#slider {
	width: 1200px;
	height: 327px;
	margin: 0 auto;
	position: relative;
	background: url(loader.gif) no-repeat center;
}

#slider ul li {
	width: 1200px;
	height: 327px;
	position: absolute;
	top: 0px;
	left: 0px;
}


/*=======================================================================
clear　clearfix
=======================================================================*/

.clear { clear: both;	visibility: visible;
}
.cf:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
/* IE7,MacIE5 */
.cf {
  display: inline-block;
}
/* WinIE6 below, Exclude MacIE5 \*/
* html .cf {
  height: 1%;
}
.cf {
  display:block;
}
.box{
	display:block;
}

#section02,
#section03,
#section04,
#section05,
#section06,
#section07,
#section08,
#section09{
	margin-top:-100px;
    padding-top:100px;
}

.pc_none{
	display:none !important;
}

.btn_box2{
	background:url(../img/box_bg01.gif);
	width:1053px;
	height:293px;
	margin:85px auto;
}
.btn_box2 div.left{
	width:193px;
	float:left;
	padding:19px 0 0 24px;
}
.btn_box2 div.left img{
	display:block;
	margin:0 auto 9px;
}
.btn_box2 div.right{
	width:783px;
	float:right;
	padding:22px 32px 0 0;
}
.btn_box2 div.right img{
	margin:0 0 15px 0;
}
.btn_box2 div.right .box{
	background:url(../img/box_bg02.gif) no-repeat;
	width:731px;
	height:70px;
	padding:19px 26px;
}
.btn_box2 div.right .box dt{
	float:left;
	margin-right:10px;
	padding-right:10px;
}
.btn_box2 div.right .box dd{
	float:left;
}

.back_none{
	background: none;
}

#section09{
	margin:30px 0 0 0;
	background:#f1f1f1;
	}

.btn










}