@media only screen and (max-width: 768px) {

img{
	width:100%;
	height:auto;
}

body{
	font-size:80%;
	color:#111111;
	line-height:160%;
	background:#FFF;
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	letter-spacing:-0.5px;
	min-width:320px;
	-webkit-text-size-adjust: auto;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	min-width:320px;
	overflow:hidden;
}

#h_wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

header#PAGE_TOP {
	margin: 0 auto;
	position: relative;
	text-align: left;
	width:auto;
	background:#000;
height: auto !important;
}

#navi{
	display:none;
}

/*=======================================================================
ヘッダ
=======================================================================*/
#PAGE_TOP h1{
	margin:0 auto;
	padding:3% 0;
	background:#171717;
	position:relative;
	border-bottom:solid 2px #474747;
	top:auto;
	left:auto;
}
#PAGE_TOP h1 img{
	width:40%;
margin:0 0 0 5px;
	display:block;
/*
	margin:0 auto;
*/
}
#PAGE_TOP p{
	width:49.8%;
	float:left;
	position:relative;
	left:0;
	top:0;
}
	
#PAGE_TOP ul{
	position:static;
	top:auto;

}
#PAGE_TOP ul li.sp_ab{
	position:absolute;
	top:8%;
	right:5px;
	width:10%;
}
#PAGE_TOP ul li:first-child{
margin:0;}
#PAGE_TOP ul li.sp_ab1{
	position:absolute;
	top:8%;
	right:13%;
	width:18%;
}
#PAGE_TOP ul li.sp_ab1 img{

}
#PAGE_TOP ul li.sp_ab2{
	position:absolute;
	top:8%;
	right:32%;
	width:18%;
}
#PAGE_TOP ul li.sp_ab2 img{

}
#PAGE_TOP ul li.sp_right{
/*
	width:50.2%;
	float:right;
*/
}
	#PAGE_TOP ul li{
		margin:0;
	}


.block03{
	margin-top:5%;
}
.block03 h2 img{
	width:95%;
	margin: 15px auto;
	display:block;
}
.block03 img.right{
	width:95%;
	margin: 15px auto;
	display:block;
}
.block03 p{
	width:95%;
	margin: 0px auto 8px;
}

.block03 .block_box{
	width:95%;
	margin:20px auto 0;
	background: url(../img/block03_back_sp.gif) no-repeat 0 0;
	background-size:100% 100%;
}
.block03 .block_box img{
	width: 80%;
	margin: 10px auto;
}
.block03 .block_box ul{
	padding: 10px 10px 5px 10px;
}
.block03 .block_box ul li{
	float:left;
	color:#e1005b;
	font-size: 100%;
	padding-top: 5px;
}
.block03 .block_box ul li.text02{
	text-align:center;
	padding-top: 24px;
}
.block03 .block_box ul li img{
}




.block04 {
	padding-bottom: 5px;
}
.block04 h2{
	margin:40px 0 15px;
}
.block04 img.left{
	width:74%;
	margin-bottom:10px;
	display: inherit;
	margin-left: 2.5%;
}
.block04 p{
	width:95%;
	margin:0 auto;
}
.block_box_list {
  background: #faf8f2;
  border: solid 1px #ece8da;
  margin: 15px auto 0;
  padding: 1%;
  width: 93%;
}
.block_box_list ul{
	border: solid 1px #f1eee3;
	padding: 5% 5% 0 5%;
}
.block_box_list ul li{
	margin-bottom:5%;
}
.btn_box dl{
	width:70%;
	margin:40px auto 50px;
}
.btn_box dl dt{
	margin-bottom:8px;
}




.block05 div.cf {
	width:95%;
	margin:0 auto;
}
.block05 h2{
	margin:20px 0 15px;
}
.block05 h3{
	margin-bottom:20px;
}
.block05 p.b05text{
	margin-bottom:10px;
}


.block05 img.left{
	width:95%;
	margin:0 auto 15px;
}
.block05 img.right{
	width:95%;
	margin:0 auto 10px;
}
.block05 div.left p,
.block05 div.right p{
	text-align:center;
}
.block05 div.left p.text,
.block05 div.right p.text{
	margin:5px 0 15px;
	text-align: left;
    padding-left: 15%;
}
.block05 div.left p.text span img,
.block05 div.right p.text span img{
	width:23%;
	padding-right:10px;
	margin-top:10px;
}






.block06{
	width:95%;
	margin:15px auto;
}
.block06 h2{
	margin:40px 0 20px;
}
.block06 h3{
	margin:20px 0;
}
.block06 h4{
	margin:0 0 20px;
}
.block06 h4.sp_mb{
	margin-bottom:15px;
}
.block06 h4 img.b6_h401{
	width:95%;
	margin:40px auto 25px;
	display:block;
}
.block06 img.left{
	margin-bottom:10px;
}
.block06 img.right_sp{
	float:right;
	width:35%;
	padding:0 0 10px 10px;
}
.block06 p{
	margin-bottom:10px;
}
.block06 ul li img{
	margin-bottom:15px;
}
.block06 ul li img.last{
	margin-bottom:30px;
}
.block06 .situmon{
}
.block06 .situmon img.image{
}
.block06 .situmon .s_box{
	margin-bottom:10px;
}
.situmon p.situmon_q{
	background:url(../img/situmon_q.gif) no-repeat 0 0;
	padding:10px 0px 13px 48px;
	margin:0 !important;
}
.situmon p.situmon_a{
	background:url(../img/situmon_a.gif) no-repeat 0 10px;
	padding:6px 0px 5px 48px;
	line-height:25px;
	letter-spacing:0;
	margin:0 !important;
}














.block07{
	width:95%;

	margin:15px auto;
}
.block07 h2{
	margin-bottom:25px;
	width:80%;
	margin:15px auto;
}
.block07 h3{
	margin:10px 0 15px;
}
.block07 h4{
	margin:15px 0 10px;
}
.block07 p{
	margin:10px 0;
}
.b7_box01 img.left{
	float:right;
	width:30%;
	padding:10px 0 0 10px;
}
.b7_box02 ul li img{
	margin-bottom:15px;
}
img.situmon_img{
	width:73%;
}
.situmon p.situmon_q{
	margin-bottom:5px !important;
}
.block07 h3 img.b7_h401{
	width:95%;
	margin:20px auto 45px;
	display:block;
}
.btn_box2 p.logo img.b7_p01{
	margin:-68px auto 0;
}
.btn_box2 p.title img.b7_p02{
	margin:-35px auto 0;
	padding:0;
}




.block07 dl{
	width:95%;
	margin:20px auto 0;
}
.block07 dl dt{
	margin-bottom:10px;
}
.block07 dl dd {
	margin-top: 15px;
	padding: 0 0 0 11%;
	background: url(../img/a_title_sp.gif) no-repeat left top;
	background-size:8%;
}


.block08 div.cf{
	width:95%;
	margin:20px auto 0;
}
.block08 h2{
	width:95%;
	margin:0 auto;
}
.block08 h2 img{
	margin-bottom:0px;
}
.block08 img{
	margin-bottom:15px;
}
.block08 .b08_telsp{
	background: url(../img/block_box_back_sp.gif) no-repeat left top;
	background-size:100% 100%;
	padding:5% 4.5% 0;
	margin:15px 0;
}
.block08 .b08_telsp img{
	margin-bottom:15px;
}
.b08_telsp img.block07_tel01{
	margin-bottom:30px;
}




.block08 dl {
	margin-top:15px;
}
.block08 dl dt img{
	margin:0;
}
.block08 dl dd img{
	margin:0;
}
.block08 dl dd{
	width:90%;
	margin:10px auto 0;
}
.block08 p.block_box {
	border: solid 1px #c0c0c0;
	padding: 10px;
	color: #7e7e7e;
	margin-top:15px;
}
.block08 p.small{
	color:#7e7e7e;
}


.block09{
	width:95%;
	margin:0 auto;
}
.block09 h2 img{
	width:50%;
	margin:0 auto 20px;
}
.block09 p img{
	width:85%;
	margin:15px auto;
}




.block10{
	width:95%;
	margin:0 auto;
}
.block10 .listsp{
	background:#f7f7f7;
	padding:5% 3% 3%;
	margin:20px 0 0;
}
.block10 div img{
	margin-bottom:15px;
}
.block10 p.text{
	text-align:center;
	margin-top:20px;
}
.block10 div.left,
.block10 div.center,
.block10 div.right{
	position:relative;
}
.block10 div.left p,
.block10 div.center p,
.block10 div.right p{
	position:absolute;
	bottom:7%;
	width: 90%;
    left: 5%;
	font-size:90%;
}




.block11{
	width:95%;
	margin:0 auto;
}
.block11 h2 img{
	margin:40px auto 20px;
	width:50%;
}
.block11 p.name{
	margin:15px 3px;
}
.block11 p.name_last{
	margin:15px 0 0;
}
.block11 img.right{
	float:left;
	width:30%;
}

.block11 div.cf h3{
	/*
	background:url(../img/name_back.gif) no-repeat 0 0;
	*/
	background-size:100% 100%;
	font-weight:bold;
	font-size:15px;
	padding:0;
	margin-bottom:20px;
	height:32px;
	line-height:32px;
	text-align:left;
	padding-left:10px;
}
.block11 div.cf h3 span{
	font-weight:normal;
	color:#7c7c7c;
	font-size:10px;
	padding-left:7px;
	letter-spacing: 0px;
}
.block11 h3.clear{
	/*
	background:url(../img/name_back02.gif) no-repeat 0 0;
	*/
	background-size:100% 100%;
	font-weight:bold;
	font-size:15px;
	padding:0;
	margin-bottom:20px;
	height:32px;
	line-height:32px;
	padding-left:10px;
	text-align:left;
	margin:10px auto 20px;
}
.block11 h3.clear span{
	font-weight:normal;
	color:#7c7c7c;
	font-size:10px;
	padding-left:7px;
}

.block11 p.text{
	width:95%;
	margin:0 auto 20px;
}
.block11 img.left {
	float: left;
	width:30%;
	margin-left:2.5%;
}
.block11 .sp_right{
	width:62.5%;
	float:right;
	margin-right:2.5%;
	margin-bottom:15px;
}
.block11 .sp_right_sp{
	margin-right:2.5%;
	margin-bottom:15px;
}

.block11 div.cf dl{
	text-align:left;
}
.block11 div.cf dl dt{
	color:#7e7e7e;
	font-size:90%;
}
.block11 .sp_clear{
	clear:both;
	margin:0 auto;
}
.block11 div.cf ul li {
  margin-bottom: 7px;
}

.block11 .block03 img.right{
	width:100%;
	margin: 15px auto;
	display:block;
	float:none;
}
.block11 .block03 .block_box{
	width:100%;
	margin:20px auto 0;
	background: url(../img/block03_back_sp.gif) no-repeat 0 0;
	background-size:100% 100%;
}
.block11 .block03 .block_box img{
	width: 80%;
	margin: 10px auto;
}
.block11 .block03 .block_box ul{
	padding: 10px 10px 0px 10px;
}
.block11 .block03 .block_box ul li{
    float: left;
    color: #e1005b;
    font-size: 100%;
    padding-top: 5px;
}
.block11 .block03 .block_box ul li.text02{
    text-align: center;
    padding-top: 24px;
}


.block12{
	width:95%;
	margin:0 auto;
}
.block12 h2 img{
	width:45%;
	margin:0 auto 10px;
}
.block12 p.sp_logo{
	margin:0 auto 15px;
	text-align:center;
}
.block12 p.sp_logo img{
	width:74%;
	margin-bottom:10px;
}
.block12 p.text{
	text-align:center;
	margin-bottom:15px;
}
.block12 iframe{
	width:95%;
	height:175px;
	margin:0 auto 10px;
}
.block12 div.cf{
	width:95%;
	margin:0 auto 15px;
}
.block12 div.cf h3 img{
/*
	width:68%;
*/
	margin:0 auto 5px;
}
.block12 div.cf ul li.no01 {
	background:url(../img/one.jpg) no-repeat left 9px center;
    padding-left:11%;
    text-align:left;
/*
    width:55%;
*/
	margin:0 auto 5px;
/*
	margin-left:18%;
*/
}
.block12 div.cf ul li.no02 {
	background:url(../img/two.jpg) no-repeat left 9px center;
    padding-left:11%;
    text-align:left;
/*
    width:55%;
*/
	margin:0 auto 5px;
}
.block12 div.cf ul li.no03 {
	background:url(../img/three.jpg) no-repeat left 9px center;
    padding-left:11%;
    text-align:left;
/*
    width:55%;
*/
	margin:0 auto 5px;
}
.block12 div.center p{
	text-align:center;
}
.block12 div.cf dl {
    width: 90%;
    margin-bottom: 8px;
    margin: 10px auto;
}
.block12 div.cf dl dt {
	float: left;
    width: 23%;
    padding: 0 0 0 3%;
}
.block12 div.cf dl dd {
    float: right;
    width: 65%;
    padding-top: 3px;
}


.block13{
	width:95%;
	margin:0 auto;
}
.block13 h2{
	width:95%;
	margin: 40px auto 10px auto ;
	text-align: center ;
}
.block13 .flow {
	margin: 0 0 20px 0 ;
	padding: 0 ;
	text-align: center ;
}
.block13 .caution {
	margin: 10px 0 ;
	color: #ee0000 ;
}
.block13 .error {
	margin: 10px 0 0 0 ;
	color: #ee0000 ;
}
.block13 .form {
	padding: 0 ;
}
.block13 table {
	width: 100% ;
	float:left;
	border-right:solid 1px #dddddd ;
	border-bottom:solid 1px #dddddd ;
	border-collapse: collapse ;
	border-spacing: 0px ;
	margin: 0 auto 10px auto ;
}
.block13 th{
	display: block ;
	background:#f3f3f3;
	padding: 12px 10px 12px 70px ;
	border-top:solid 1px #dddddd ;
	border-left:solid 1px #dddddd ;
	font-size: 14px ;
	color: #000000 ;
	white-space: nowrap ;
}
.block13 th.hissu {
	background: #f3f3f3 url(../img/form_icon_01.gif) 10px center no-repeat;
}
.block13 th.nini {
	background: #f3f3f3 url(../img/form_icon_02.gif) 10px center no-repeat;
}
.block13 td{
	display: block ;
	padding: 15px ;
	border-top:solid 1px #dddddd ;
	border-left:solid 1px #dddddd ;
	font-size: 12px ;
	color: #333333 ;
}
.block13 td.last{
	border-bottom:none;
}
.block13 td input[type="text"],
.block13 td input[type="tel"],
.block13 td input[type="email"] {
	width: 45% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 td input[type="checkbox"] {
	margin: 0 5px 0 10px;
}
.block13 td select {
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 td textarea {
	width: 96% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 .btn {
	text-align: center ;
}
.block13 .btn {
	width: 100% ;
	height: auto ;
	text-align: center ;
}
.block13 .btn input {
	width: 100% ;
	max-width: 420px ;
	margin: 0 auto 10px auto ;
	height: auto ;
}
.block13 .end {
	margin: 0 0 20px 0 ;
	text-align: center ;
}
.block13 .form_end {
	margin: 10px auto ;
}


.bottom_logosp img{
	width:85%;
	margin:10px auto 30px;
}
.sp_btnarea{
	margin-bottom:30px !important;
}
.btn_box2 p.title img.b11_p02{
    margin: -30px auto 0;
}
.btn_box2 img.b11_p01{
	margin-bottom:10px;
}

/*=======================================================================
ページトップ
=======================================================================*/
#page-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
	z-index:99999999;
}


#f_wrapper {
	width: 100%;
	margin: 50px auto 0;
	text-align: center;
	background: #000;
	color: #FFF;
}
#f_wrapper p{
	padding:5px 0;
	font-size:85%;
	text-align:center;
	background:url(../img/footer_back.gif) repeat-x 0 0;

}




.sp_none{
	display:none !important;
}








.btn_box2{
	background:url(../img/box_bg01_sp.gif) no-repeat;
	background-size:100% 100%;
	width:85%;
	padding:5% 4% 5%;
	margin:5% auto 50px;
	position:relative;
}
.btn_box2 p.logo img{
	width:100%;
	margin:-55px auto 0;
	display:block;
	padding:5% 0;
}
.btn_box2 p.title img{
	width:51%;
	margin:-23px auto 0;
	display:block;
	padding:0 0 5% 0;
}
.btn_box2 ul{
	padding:0 0 5% 0;
}
.btn_box2 li.left{
	float:left;
	width:31%;
}
.btn_box2 li.right{
	float:right;
	width:63%;
}
.btn_box2 li.right img.pt_15{
	padding-top:15%;
}
.btn_box2 p.tel{
	width:82%;
	margin:0 auto;
}
.btn_box2 a{
	display:block;
	margin:0 auto;
	width:81%;
	padding:5% 0;
}
.btn_box2 p.tel a{
	display:inline-block;
	width:100%;
	padding:0;
}
p.mt60{
	margin:5% 0 10% !important;
}
.btn_box2 .tel_box{
	background:url(../img/tel_back_sp.gif) no-repeat;
	background-size:100% 100%;
	padding-top:5%;
}






#sp_header #logo{
	text-align:center;
	border-bottom:1px solid #FFF;
	padding:12px 0;
	background:#ef85bd;
}
#sp_header .header_tel{
	float:left;
	width:70.6%;
	text-align:center;
	background:#FFF;
}

#sp_header .header_tel img{
	width:80%;
	padding:0px 0 0px 0;
}
#sp_header .header_tel a{
	display:block;
}
#sp_header .btn{
	float:right;
	width:29%;
	background:#171717;	
	text-align:center;
}
#sp_header .btn a{
	display:block;
}
#sp_header .btn img{
	width:68%;
	padding:0px 0 0px 0;
}

#sp_header .bdbm{
	border-top:1px solid #cb71a1;
	border-bottom:1px solid #cb71a1;
}


.block12 div.cf dl dd{
float:none;
width:auto;
}

.block12 div.cf dl dt{
width:auto;
float:none;
}



}
