@charset "UTF-8";
@media only screen and (min-width: 768px) {
body{
	font-size:13px;
	color:#111111;
	line-height:160%;
	background:#FFF;
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	letter-spacing:-0.5px;
	min-width:1200px;
}
/*
a img:hover{
	-moz-opacity:0.7;
	opacity:0.7;
}
*/

#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#h_wrapper {
	width: 100%;
	height:85px;
	margin: 0 auto;
	text-align: center;
	background:#171717;
	border-bottom:solid 2px #b39952;
	position:fixed;
	top:0;
	left:0;
	z-index:99999;
}

header#PAGE_TOP {
	width: 1200px;
	height:85px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

.cnt_wp {
	width: 100%;
	margin:0 auto;
	padding: 85px 0 50px;
	text-align: center;
	min-width:1200px;
	overflow:hidden;
}
#f_wrapper {
	width: 100%;
	height:46px;
	margin: 0 auto;
	text-align: center;
	background:#000;
	color:#FFF;
}

footer#f_cnt {
	width: 1200px;
	height:46px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}


/*=======================================================================
ヘッダ
=======================================================================*/
#PAGE_TOP h1{
	position:absolute;
	top:20px;
	left:24px;
	color:#fff;
}
#PAGE_TOP p{
	position:absolute;
	top:16px;
	right:400px;
}
#PAGE_TOP ul{
	position:absolute;
	top:23px;
	right:0;
}
#PAGE_TOP ul li{
	float:left;

}

#PAGE_TOP ul li.sp_ab{
	margin:0 0 0 10px;
}





/*=======================================================================
トップページ　メイン
=======================================================================*/
.block01{
	background:#fff;
	text-align:center;
	min-width:1200px;
	overflow:hidden;
	border-bottom:1px solid #d4d3d8;
}
.block02{
	margin-bottom:70px;
	background:url(../img/block02_bg.png) repeat-y;
	background-size:100% 100%;
	text-align:center;
	min-width:1200px;
	overflow:hidden;
	border-top:1px solid #e1005b;
}
.block02 p img{
	display:block;
	margin:0 auto;
	padding:44px 0;
}
.block03{
	width:1040px;
	margin:35px auto 0;
}
.block03 h2{
}
.block03 img.right{
	float:right;
}
.block03 p{
	width:615px;
	float:left;
	margin:45px 0 0;
	font-size:15px;
	line-height:25px;
}
.block03 .block_box{
	width: 625px;
	height: 75px;
	float:left;
	margin:20px 0 0 0;
	background:url(../img/block03_back.gif) no-repeat 0 0;
}
.block03 .block_box img{
	float:left;
	padding:20px 23px 0 18px;
}
.block03 .block_box ul{
	margin:10px 0 0;
}
.block03 .block_box ul li{
	float:left;
	color:#e1005b;
	margin: 6px 0 0 25px;
	line-height: 24px;
}
.block03 .block_box ul li a{
	color:#e1005b;
	text-decoration:underline;
}
.block03 .block_box ul li a:hover{
	text-decoration:none;
}

.block04{
	background:url(../img/shadow_bg.png) no-repeat bottom center;
	padding-bottom:9px;
}
.block04 .block_box{
	width:960px;
	margin:58px auto 0;
}
.block04 h2{
	float:right;
	width:595px;
	margin-bottom:15px;
}
.block04 img.left{
	float:left;
	margin-left:50px;
}
.block04 p{
	float:right;
	width:580px;
	margin-right:15px;
	margin-bottom:10px;
}
.block_box_list{
	background:#faf8f2;
	border:solid 1px #ece8da;
	margin:35px auto 0;
	padding:3px;
	width:1005px;
}
.block_box_list ul{
	border:solid 1px #f1eee3;
	padding:18px;
}
.block_box_list ul li{
	float:left;
}
.block_box_list ul li.center{
	margin:0 25px;
}






.btn_box{
	width:1200px;
	margin:70px auto;
}
.btn_box dl{
	float:right;
}
.btn_box dl dt{
	float:left;
	border-right: dotted 1px #7c7c7c;
	margin-right:35px;
	padding:8px 35px 8px 0px;
}
.btn_box dl dd{
	float:left;
	margin-top:3px;
}









.block05{
}
.block05 p.b05text{
	text-align:center;
}
.block05 h2{
	margin-bottom:20px;
}
.block05 div.cf{
	width:1200px;
	margin:0 auto;
	padding-bottom:29px;
}
.block05 div.left{
	float:left;
	width:574px;
	margin-top:40px;
}
.block05 div.right{
	float:right;
	width:574px;
	margin-top:40px;
}
.block05 div.left p,
.block05 div.right p{
	text-align:center;
}
.block05 div.left p.text,
.block05 div.right p.text{
	margin-top:15px;
}
.block05 div.left p.text span,
.block05 div.right p.text span{
	padding:0 10px 0 25px;
}




.block06{
	width:1200px;
	margin:100px auto 0;
}
.block06 h2{
	margin-bottom:30px;
}
.block06 h3{
	margin-bottom:25px;
}
.block06 h4{
	margin-top:50px;
}
.block06 img.left{
	float:left;
	padding:0 40px 45px 0;
}
.block06 img.right{
	float:right;
}
.block06 .b6_box01{
	width:1040px;
	margin:0 auto;
}
.block06 .b6_box01 p{
	line-height:25px;
	margin-bottom:15px;
}
.block06 ul{
	margin-top:50px;
}
.block06 ul li{
	float:left;
	margin-right:18px;
}
.block06 ul li:last-child{
	float:right;
	margin-right:0;
}
.block06 .situmon{
	margin-top:30px;
	background:url(../img/block06_pic07.jpg) no-repeat 0 0;
	height:498px;
	padding-left:337px;
}
.block06 .situmon img.image{
	float:left;
}
.block06 .situmon .s_box{
	margin-bottom:15px;
}
.situmon p.situmon_q{
	background:url(../img/situmon_q.gif) no-repeat 0 0;
	padding:10px 0px 13px 48px;
}
.situmon p.situmon_a{
	background:url(../img/situmon_a.gif) no-repeat 0 center;
	padding:6px 0px 5px 48px;
	line-height:25px;
	letter-spacing:0;
}









.btn_box2{
	background:url(../img/box_bg01.gif) no-repeat;
	width:1050px;
	height:288px;
	margin:93px auto;
}
.btn_box2 div.left{
	width:213px;
	float:left;
	padding:19px 0 0 24px;
}
.btn_box2 div.left img{
	display:block;
	margin:0 auto 9px;
}
.btn_box2 div.right{
	position:relative;
	width:783px;
	float:right;
	padding:72px 30px 0 0;
}
.btn_box2 div.right h2{
	position:absolute;
	top:-59px;
	left:-15px;
}
.btn_box2 div.right img{
	margin: 0 0 10px 0;
}
.btn_box2 div.right .box{
	background:url(../img/box_bg02.gif) no-repeat;
	width:757px;
	height:72px;
	padding:20px 0 20px 26px;
}
.btn_box2 div.right .box dt{
	float:left;
	margin-right:18px;
	padding-right:18px;
}
.btn_box2 div.right .box dd{
	float:left;
}





.block07{
	width:1200px;
	margin:0 auto;
}
.block07 h2{
	margin-bottom:25px;
}


.block07 .left_box{
	padding:0 38px 0 0;
	float:left;
	width:752px;
	height:296px;
	position:relative;
	background:url(../img/block07_pic02.jpg) no-repeat 0 0;
	margin-bottom:30px;
}
.block07 .left_box p{
	font-size:12px;
	line-height:20px;
	width:215px;
	position:absolute;
	margin:0;
}
.block07 .left_box p.text07_01{
	bottom:30px;
	left:15px;
}
.block07 .left_box p.text07_02{
	bottom:10px;
	left:260px;
}
.block07 .left_box p.text07_03{
	bottom:10px;
	right:50px;
}
.block07 img.left{
	float:left;
	padding:0 40px 50px 0;
}
.block07 img.right{
	float:right;
	padding:0 0 40px 40px;
}
.block07 div p{
	line-height:25px;
	margin-bottom:15px;
}
.block07 .b7_box01{
	width:1040px;
	margin:10px auto 50px;
}
.block07 .b7_box01 img.left{
	padding:0 38px 0 0;
}
.block07 .b7_box01 h4{
	margin-bottom:15px;
}
.block07 .b7_box02{
	width:1040px;
	margin:0 auto 50px;
}
.block07 .b7_box02 h3{
	margin-bottom:30px;
}
.block07 .b7_box02 ul{
	width:546px;
	margin:0 auto;
}
.block07 .b7_box02 ul li.left{
	float:left;
}
.block07 .b7_box02 ul li.right{
	float:right;
}
.block07 .situmon{
	margin:35px 0 50px;
	background:url(../img/block07_pic06.png) no-repeat right top;
	height:586px;
	padding-right:330px
}
.block07 .situmon .s_box{
	margin-bottom:10px;
}
.block07 .situmon p{
	margin:0;
}
.block07 .btn_box2 div.right h2{
	position:absolute;
	top:-70px;
	left:4px;
}












.block08{
	width:1040px;
	margin:0 auto 95px;
}
.block08 div.cf{
	padding-top:40px;
}
.block08 img.right{
	width:325px;
	float:right;
	margin-top:5px;
}
.block08 h3{
	width:675px;
	float:left;
	margin-bottom:15px;
}
.block08 p{
	width:675px;
	float:left;
	margin-bottom:15px;
	line-height:25px;
}
.block08 p.small{
	color:#7e7e7e;
}
.block08 p.block_box{
    color: #7e7e7e;
    width: 543px;
    height: 83px;
    padding: 9px 0 0 15px;
	background:url(../img/block_box_back.gif) no-repeat 0 0;
}
.block08 .b08_tel{
	background:url(../img/block07_tel_back.gif) no-repeat 0 0;
	height:94px;
	width:675px;
	float:left;
	position:relative;
}
.block08 .b08_tel img.block07_tel01{
	padding:15px 0 0;
	margin:0 auto;
	display:block;
}
.block08 .b08_tel img.block07_tel02{
	position:absolute;
	bottom:14px;
	left:59px;
}
.block08 .b08_tel p{
	text-align:right;
	margin-top:11px;
}
.block08 .b08_tel p img{
	padding-right:2px;
}




.block09{
	width:1200px;
	height:502px;
	margin:10px auto 90px;
}
.block09 h2{
	margin-bottom:30px;
}
.block09 ul li{
	width:596px !important;
	border-left: dotted 1px #7c7c7c;
	padding-left:1px;
	margin-left:1px;
}
.block09 p{
	margin-top:30px;
}





/*------------------------------------------------------------------------------------------------*/

.block10{
	width:1200px;
	height:660px;
	margin:10px auto 160px;
}
.block10 p.text{
	text-align:center;
	margin:46px auto;
}
.block10 div{
	width:374px;
}
.block10 div h3{
	margin-bottom:30px;
}
.block10 div.list{
	background:#f7f7f7;
	height:416px;
	width:1128px;
	padding:13px 36px;
}
.block10 div.left{
	float:left;
	position:relative;
	width:360px;
	height:389px;
}
.block10 div.center{
	float:left;
	margin-left:15px;
	position:relative;
	width:360px;
	height:389px;
}
.block10 div.right{
	float:right;
	position:relative;
	width:360px;
	height:389px;
}
.block10 div.left p,
.block10 div.center p,
.block10 div.right p{
	position:absolute;
	bottom:23px;
	width:312px;
	left:25px;
}







.block11{
	width:1040px;
	margin:0 auto 0;
}
.block11 p.text{
	text-align:center;
	margin:46px auto;
}
.block11 p.name{
	margin:35px auto 25px;
}



.block11 img.left{
	float:left;
	margin-left: 108px;
	margin-bottom:33px;
}
.block11 div.cf{
	float:left;
	width:443px;
	text-align:left;
	margin-bottom:33px;
}
.block11 div.cf h3{
	/*
	background:url(../img/name_back.gif) no-repeat 0 0;
	*/
	font-weight:bold;
	font-size:15px;
	padding:0;
	margin-bottom:20px;
	height:32px;
	line-height:32px;
	width:405px;
	padding-left:10px;
}
.block11 div.cf h3 span{
	font-weight:normal;
	color:#7c7c7c;
	font-size:10px;
	padding-left:7px;
	letter-spacing: 0px;
}
.block11 div.cf  dl dt{
	color:#7c7c7c;
	margin-right:10px;
}
.block11 div.cf  dl dt,
.block11 div.cf  dl dd{
	float:left;
	margin-bottom:6px;
}
.block11 div.cf  dl dd.en_text{
	word-break: break-all;
    width: 340px;
}

.block11 div.cf p{
	width:410px;
}


.block11 div.cf ul li{
	margin-bottom:7px;
}
.block11 h3.clear{
	/*
	background:url(../img/name_back02.gif) no-repeat 0 0;
	*/
	font-weight:bold;
	font-size:15px;
	padding:0;
	margin-bottom:20px;
	height:32px;
	line-height:32px;
	width:858px;
	padding-left:10px;
	text-align:left;
}
.block11 h3.clear span{
	font-weight:normal;
	color:#7c7c7c;
	font-size:10px;
	padding-left:7px;
}
.block11 p.bottom_text{
	width:858px;
	margin:20px 0 33px;
	text-align:left;
}


.block11 .block03{
	width:1040px !important;
	margin:35px auto 0;
}

.block11 .block03 img.right{
	float:right;
}
.block11 .block03 p{
	width:615px;
	float:left;
	margin:45px 0 0;
	font-size:15px;
	line-height:25px;
}
.block11 .block03 .block_box{
	width: 625px;
	height: 75px;
	float:left;
	margin:20px 0 0 0;
	background:url(../img/block03_back.gif) no-repeat 0 0;
}
.block11 .block03 .block_box img{
	float:left;
	padding:20px 23px 0 18px;
}
.block11 .block03 .block_box ul{
	margin:10px 0 0;
}
.block11 .block03 .block_box ul li{
	float:left;
	color:#e1005b;
	margin: 6px 0 0 25px;
	line-height: 24px;
}
.block11 .block03 .block_box ul li a{
	color:#e1005b;
	text-decoration:underline;
}
.block11 .block03 .block_box ul li a:hover{
	text-decoration:none;
}





.block12{
	width:1200px;
	margin:0 auto 80px;
}

iframe.accecc{
	float:left;
	margin-right:30px;
}

.block12 h2{
	margin-bottom:30px;
}
.block12 p.text{
	background:url(../img/access_logo.jpg) no-repeat left top;
	padding:55px 0 0;
	/*width:300px;
	background:url(../img/access_logo.jpg) no-repeat left center;
	padding:0 0 0 300px;
	margin:0 auto;
	height:41px;
	line-height:20px;*/
}
.block12 div.cf{
	width:550px;
	float:left;
	text-align:left;
}
.block12 div.cf h3{
	margin-top:20px;
	margin-bottom:10px;
}
.block12 div.cf ul li.no01{
	background:url(../img/one.jpg) no-repeat left 9px center;
	padding-left:37px;
	margin-bottom:10px;
}
.block12 div.cf ul li.no02{
	background:url(../img/two.jpg) no-repeat left 9px center;
	padding-left:37px;
	margin-bottom:10px;
}
.block12 div.cf ul li.no03{
	background:url(../img/three.jpg) no-repeat left 9px center;
	padding-left:37px;
}

.block12 div.center{
}
.block12 div.cf p{
	margin-bottom:10px;
}
.block12 div.cf dl{
	width:550px;
	margin-bottom:8px;
}
.block12 div.cf dl dt{
	float:left;
	width:80px;
	padding:0 0 0 12px;
}
.block12 div.cf dl dd{
	float:right;
	width:450px;
}


.block13{
	width:1200px;
	margin:0 auto 20px;
}
.block13 h2{
	margin:0 auto 20px auto;
}
.block13 .flow {
	margin: 40px 0 ;
	text-align: center ;
}
.block13 .caution {
	color: #ee0000 ;
}
.block13 .error {
	margin: 10px 0 0 0 ;
	color: #ee0000 ;
}
.block13 .form {
	width: 960px ;
	margin: 0 auto ;
}
.block13 table {
	width: 100% ;
	border:solid 1px #dddddd ;
	float:left;
	border-collapse: collapse ;
	border-spacing: 0px ;
	margin: 20px auto 40px auto ;
}
.block13 th {
	width: 25% ;
	background:#f3f3f3;
	padding: 20px 20px 20px 80px ;
	border:solid 1px #dddddd ;
	font-size: 16px ;
	color: #000000 ;
	white-space: nowrap ;
}
.block13 th.hissu {
	background: #f3f3f3 url(../img/form_icon_01.gif) 15px center no-repeat;
}
.block13 th.nini {
	background: #f3f3f3 url(../img/form_icon_02.gif) 15px center no-repeat;
}
.block13 td{
	width: 75% ;
	padding: 20px ;
	border:solid 1px #dddddd ;
	font-size: 14px ;
	color: #333333 ;
}
.block13 th.last,
.block13 td.last{
	border-bottom:none;
}
.block13 td input[type="text"],
.block13 td input[type="tel"],
.block13 td input[type="email"] {
	width: 40% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 td input[type="checkbox"] {
	margin: 0 5px 0 10px;
}
.block13 td input[type="radio"] {
	margin: 0 5px 0 10px;
}

.block13 td select {
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 td textarea {
	width: 98% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 .btn {
	margin: 0 0 60px 0 ;
	text-align: center ;
}
.block13 .end {
	margin: 0 0 40px 0 ;
	text-align: center ;
}
.block13 .form_end {
	margin: 120px auto 0 auto ;
}


.bottom_btnarea{
	background-size:100% 100%;
	padding:10px 0 40px;
}
.bottom_btnarea h2{
    position: absolute;
    top: -59px;
    left:88px !important;
}
.block13 td span {
    width: 40%;
    padding: 5px 10px 5px 0;
    display: inline-block;
    border: 1px solid #FFF;
}
.block13 td input.number {
    width: 10%;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #999999;
    font-size: 14px;
}



.doctor2{
	margin-top:50px;
}
.doctor2 .sp_right p{
}

/*=======================================================================
サイドバー
=======================================================================*/

#navi {
	position:fixed;
	top:384px;
	right:0;
	width: 53px;
	background-color: rgba( 225, 0, 91, 0.80 );
	padding:20px 0;
	z-index:99999999999999999;
	-webkit-transform: translateY(-50%) translateZ(0);
	transform: translateY(-50%) translateZ(0);
}
#navi li {
	list-style-type: none;
	text-align: center;
}
#navi li a {
	padding: 5px 0;
	display: block;
	text-decoration: none;
	color:#ff70aa;
	font-size:10px;
}
#navi li a:hover{
	color:#ffffff;
}
#navi li a.on {
	color:#ffffff;
}


/*=======================================================================
ページトップ
=======================================================================*/
#page-top {
    position: fixed;
    bottom: 68px;
    right: 68px;
	z-index:99999999;
}
#page-top a img:hover{
	-moz-opacity:0.7;
	opacity:0.7;
}

/*=======================================================================
フッタ
=======================================================================*/
.copy{
	text-align:center;
	font-size:12px;
	padding: 13px 0px;
}


/*=======================================================================
メインイメージスクロール
=======================================================================*/
#slider_wp {
	width: 100%;
	min-width:1200px;
	height: 327px;
	display: block;
	background:url(../images/main_img_bg.jpg) repeat-x;
	overflow:hidden;
}

#slider {
	width: 1200px;
	height: 327px;
	margin: 0 auto;
	position: relative;
	background: url(loader.gif) no-repeat center;
}

#slider ul li {
	width: 1200px;
	height: 327px;
	position: absolute;
	top: 0px;
	left: 0px;
}


/*=======================================================================
clear　clearfix
=======================================================================*/

.clear { clear: both;	visibility: visible;
}
.cf:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
/* IE7,MacIE5 */
.cf {
  display: inline-block;
}
/* WinIE6 below, Exclude MacIE5 \*/
* html .cf {
  height: 1%;
}
.cf {
  display:block;
}
.box{
	display:block;
}

#section02,
#section03,
#section04,
#section05,
#section06,
#section07,
#section08,
#section09{
	margin-top:-100px;
    padding-top:100px;
}

.pc_none{
	display:none !important;
}


.back_none{
	background: none;
}

.w415{
  width: 415px;
}

}
