@charset "utf-8";

/* BEGIN: CSS Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
blockquote, a, abbr, acronym, address, cite, em,
img, q, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 100%;
	line-height:1.6;
	color:#3E2C1F;
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align:baseline;
	-webkit-text-size-adjust: none;
}
article, aside, canvas, details, figcaption, figure,header, footer, hgroup, menu, nav, section, summary {
	display: block;
}
/* END: CSS Reset */

/*-----------------------------------------------
 public
-----------------------------------------------*/
body { background: url('../../images/body_bg01.gif') repeat-x 0 0; font-size: 12px; }
table {	border-collapse: collapse; border-spacing: 0; }

.blank05 { height:5px; line-height:5px; clear:both; visibility:hidden; }
.blank08 { height:8px; line-height:8px; clear:both; visibility:hidden; }
.blank10 { height:10px; line-height:10px; clear:both; visibility:hidden; }
.blank15 { height:15px; line-height:15px; clear:both; visibility:hidden; }
.blank20 { height:20px; line-height:20px; clear:both; visibility:hidden; }
.blank25 { height:25px; line-height:25px; clear:both; visibility:hidden; }
.blank30 { height:30px; line-height:30px; clear:both; visibility:hidden; }
.blank40 { height:40px; line-height:40px; clear:both; visibility:hidden; }
.blank50 { height:50px; line-height:50px; clear:both; visibility:hidden; }
.blank60 { height:60px; line-height:60px; clear:both; visibility:hidden; }

.clearfix { zoom:1; }
.clearfix:after { content:""; display:block; clear:both; }

.dn  { display:none; }
.db  { display:block; }
.fb  { font-weight:bold; }
.fltl  { float:left; display:inline; }
.fltr {  float:right;  display:inline; }
.fltr_navi {  float: none; }
.fltrPhoto { float:right; display:inline; margin-top:5px; }
.fltrPhoto2 { float:right; display:inline; margin-top:4px; }
.fltrButton { float:right; display:inline; vertical-align:top; padding-top:3px; }
.center { margin:0 auto; }
.tal { text-align:left; }
.tar { text-align:right; }
.tac { text-align:center; }
.eMail { text-decoration:underline; }

a { color:#3D2D20; text-decoration: none; }
a:hover { color:#9C516F; text-decoration: none; }
a img { border: none; }

.block_link{ cursor:pointer; }
.block_link.block_over a{ color:#9C516F; text-decoration: none; }

.accordionHead { cursor:pointer; }
.mincho{ font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;}
.col3 { display: inline-block; width: 32%;}
.ebony_clay{background-color:#333438;}
.white_Smoke{background-color:#efefef;}
.txt_white{color:#ffffff;}

/*-----------------------------------------------
  margin,padding
-----------------------------------------------*/
	.m00 { margin:0 !important;}
	.mt-20 { margin-top:-20px !important;}
	.mt00 { margin-top: 0 !important;}
	.mt05 { margin-top: 5px !important;}
	.mt10 { margin-top:10px !important;}
	.mt12 { margin-top:12px !important;}
	.mt15 { margin-top:15px !important;}
	.mt20 { margin-top:20px !important;}
	.mt25 { margin-top:25px !important;}
	.mt30 { margin-top:30px !important;}
	.mt40 { margin-top:40px !important;}
	.mr00 { margin-right: 0 !important;}
	.mr05 { margin-right: 5px !important;}
	.mr10 { margin-right:10px !important;}
	.mr12 { margin-right:12px !important;}
	.mr15 { margin-right:15px !important;}
	.mr20 { margin-right:20px !important;}
	.mr25 { margin-right:25px !important;}
	.mr30 { margin-right:30px !important;}
	.mr40 { margin-right:40px !important;}
	.mb00 { margin-bottom: 0 !important;}
	.mb05 { margin-bottom: 5px !important;}
	.mb10 { margin-bottom:10px !important;}
	.mb12 { margin-bottom:12px !important;}
	.mb15 { margin-bottom:15px !important;}
	.mb20 { margin-bottom:20px !important;}
	.mb25 { margin-bottom:25px !important;}
	.mb30 { margin-bottom:30px !important;}
	.mb45 { margin-bottom:45px !important;}
	.mb50 { margin-bottom:50px !important;}
	.mb70 { margin-bottom:70px !important;}
	.ml00 { margin-left: 0 !important;}
	.ml05 { margin-left: 5px !important;}
	.ml10 { margin-left:10px !important;}
	.ml12 { margin-left:12px !important;}
	.ml15 { margin-left:15px !important;}
	.ml20 { margin-left:20px !important;}
	.ml25 { margin-left:25px !important;}
	.ml30 { margin-left:30px !important;}
	.ml40 { margin-left:40px !important;}

	.p00 { padding: 0 !important;}
	.pt00 { padding-top: 0 !important;}
	.pt05 { padding-top: 5px !important;}
	.pt10 { padding-top:10px !important;}
	.pt12 { padding-top:12px !important;}
	.pt15 { padding-top:15px !important;}
	.pt20 { padding-top:20px !important;}
	.pt25 { padding-top:25px !important;}
	.pt30 { padding-top:30px !important;}
	.pt70 { padding-top:70px !important;}
	.pr00 { padding-right: 0 !important;}
	.pr05 { padding-right: 5px !important;}
	.pr10 { padding-right:10px !important;}
	.pr12 { padding-right:12px !important;}
	.pr15 { padding-right:15px !important;}
	.pr20 { padding-right:20px !important;}
	.pr25 { padding-right:25px !important;}
	.pr30 { padding-right:30px !important;}
	.pb00 { padding-bottom: 0 !important;}
	.pb05 { padding-bottom: 5px !important;}
	.pb10 { padding-bottom:10px !important;}
	.pb12 { padding-bottom:12px !important;}
	.pb15 { padding-bottom:15px !important;}
	.pb20 { padding-bottom:20px !important;}
	.pb25 { padding-bottom:25px !important;}
	.pb30 { padding-bottom:30px !important;}
	.pb60 { padding-bottom:60px !important;}
	.pl00 { padding-left: 0 !important;}
	.pl05 { padding-left: 5px !important;}
	.pl10 { padding-left:10px !important;}
	.pl12 { padding-left:12px !important;}
	.pl15 { padding-left:15px !important;}
	.pl20 { padding-left:20px !important;}
	.pl25 { padding-left:25px !important;}
	.pl30 { padding-left:30px !important;}

/*-----------------------------------------------
 common
-----------------------------------------------*/
.textIndent01 { padding-left:1em; text-indent:-1em; }
.inner1040 { width:1040px; margin:0 auto; }
.inner960 { width:960px; margin:0 auto; }
.inner722 { width:722px; margin:0 auto; }
.inner660 { width:660px; margin:0 auto; }
.fs11 { font-size:11px; }
.fs12 { font-size:12px; }
.fs13 { font-size:13px; }
.fs14 { font-size:14px; }
.fs15 { font-size:15px; }
.fs18 { font-size:18px; }

.adjust { display:inline-block; width:5em; font-weight:normal !important; }

.cPink01 { color:#9A506F; }

.w50 { width:50px; }
.w70 { width:70px; }
.w225 { width:225px; }
.w245 { width:245px; }
.w315 { width:315px; }
.w345 { width:345px; }
.w425 { width:425px; }

.float_clear{
	clear:both;
}

.small_lineheight{
	line-height: 1.25;
}

/*-----------------------------------------------
 structure
-----------------------------------------------*/
/*----- header -----*/
#header { }
#header .inner960 { padding:12px 0 10px; background: url('../../images/header_bg01.gif') no-repeat 0 bottom; }
	#logo { float:left; padding-top:10px; }
#header .fltr { width:645px; /* padding-top: 10px; */}
.topBtns { margin-top: 20px;}
	#btnContact01 { float:right; }
	#btnMail { float:right; margin-left: 10px;padding-top: 5px;}
	#btnSiryou { float:right; margin-left: 10px;padding-top: 5px;}
	#topnav { float:right; margin-right:28px; padding-top:5px; }
	#topnav li { float:left; margin-left:16px; }
	#topnav li a { display:block; background: url('../../images/arrow01.gif') no-repeat 0 3px; padding-left:16px; }
	#topnav li a:hover { color:#9A506F; }
	#gnav { padding-top:13px; padding-left: 140px;}
	#gnav li { float:left; height:32px; }

/*----- wrapper -----*/
.wrapper { margin-top:30px; background:#F1D6CF url('../../images/wrapper_bg01.gif') repeat-x 0 0; }
	.wrapperInner { background: url('../../images/wrapper_bg02.gif') repeat-x 0 bottom; }
		 #contentsL { width:190px; float:left; padding-bottom:50px; }
		 #contentsR { width:740px; float:right; padding-bottom:75px; background:#FFF; }

/*----- sidenav -----*/
.sideNavi { border-top:1px solid #E0D8C4; border-right:1px solid #E0D8C4; margin-bottom:20px; }
.sideNavi dd { border-bottom:1px solid #E0D8C4; background:#FFF url('../../images/icon02.gif') no-repeat 0 13px; padding:2px 0px 0px 10px; line-height:2.9; }
.sideNavi dd:hover { border-bottom:1px solid #E0D8C4; background:#DCC2CD url('../../images/sidenavi_bg_01.gif') repeat-x 0 0; padding:2px 0px 0px 10px; line-height:2.9; }
.sideNavi dd.current { background:#DCC2CD url('../../images/sidenavi_bg_01.gif') repeat-x 0 0; }
.sideNavi dd.on { background:#DCC2CD url('../../images/sidenavi_bg_01.gif') repeat-x 0 0; }
.sideNavi dd.on ul { display:block; }
.sideNavi dd span { display:block; width:100%; height:100%; line-height:2.9; }
.sideNavi dd span:hover { color:#9C506C; }
.sideNavi dd#firstChild.on { background:#DCC2CD url('../../images/sidenavi_bg_02.gif') repeat-x 0 0; }
.sideNavi dd#firstChild a { display:block; line-height:2.9; }

.sidebarTitle { margin-top:0; }

.sideNaviBox { margin:15px 0 20px; }
	.sideNaviInner { border-top:1px solid #E0D8C4; border-right:1px solid #E0D8C4;}
	.sideNaviInner li { border-bottom:1px solid #E0D8C4; }
	.sideNaviInner li a { display:block; background:#FFF url('../../images/arrow02.gif') no-repeat 0 50%; border-right:5px solid #FFF; padding:7px 10px 5px 14px; }
	.sideNaviInner li a:hover,
	.sideNaviInner li.current a { color:#9C506C; background:#FFF url('../../images/arrow03.gif') no-repeat 0 50%; border-right:5px solid #A2617F; }

.sideNavi .sideNaviInner { border-right:none; display:none; }
.sideNavi .sideNaviInner li.lastChild { border-bottom:none; }
.sideNavi .sideNaviInner li a { background-position:6px 50%; padding-left:19px; }

 .sideBnr { padding-top:13px; }

/*----- contentsR -----*/
 .pageInfo { padding:15px 0; border-bottom:1px solid #A48D56; }
 .section { margin-top:30px; }
	.sectionTitle { background:#B6859A; color:#FFF; font-size:16px; font-weight:bold; height:34px; line-height:34px; padding-left:12px; margin-bottom:25px; }

 #couponBox { padding-top:20px; }
 #couponBox li { padding-top:10px; }

 #contactBox { position:relative; margin-top:40px; width:660px; height:126px; background: url('../../images/contact_bg01.gif') no-repeat 0 0; }
 #contactBox p { position:absolute; left:361px; top:37px; }

 .breadCrumb { border-top:1px solid #9A506F; padding-top:8px; margin-top:50px; }
	 #pagetop { float:right; height:20px; text-align:right;}
	 #pagetop img { margin-top:1px; }
 .breadCrumb ul { height:20px; }
 .breadCrumb ul li { float:left; margin-right:5px; font-size:10px; }
 .breadCrumb ul li a { font-size:10px; }

#backtotop {
	margin-top: 11px;
	float: right;
}

#backtotop a:hover {
	opacity: 0.7;
	filter: alpha(opacity=0.7);
}



/*----- bottom sitemap -----*/
 .bottomSitemap { border-top:2px solid #896D26; padding:40px 0 30px; }
	 .sitemapTitle { padding-bottom:15px; }
	 .sitemapBlock { width: 237px; float:left; }
	 #sitemapBlock02 { width: 711px; }
		 .sitemapColumn { float:left; padding-top:25px; }
		 #sitemapColumn02 { width: 194px; padding-top: 44px;}
		 #sitemapColumn03 { width: 270px; border-left:1px solid #E0DCD9; padding: 0 0 39px 53px; }
		 #sitemapColumn04 {
    padding-top: 43px;
 }
		 .sitemapColumn a { }
		 #sitemapColumn03 .blockTitle{
		 	margin-bottom: 27px;}
		 .sitemapColumn dl { padding-bottom:13px; }
		 .sitemapColumn dt { font-weight:bold; }
		 .sitemapColumn dd { margin-left:12px; }

/*----- footer -----*/
 #footer { border-top:1px solid #7C5D0D; padding:8px 0 6px; }
	 .footerNav { float:left; }
	 .footerNav li { float:left; margin-right:25px; }
 #footer .copyright { float:right; width:380px; text-align:right; color:#614B3C;font-family:Tahoma; font-size:9px; padding-top:2px; }

/*-----------------------------------------------
 /introduction.html
-----------------------------------------------*/
.introBox { padding-bottom:20px; }
.introBox .fltl { width:250px; }
.introBox .fltl .title { font-size:14px; font-weight:bold; color:#97506F; padding-bottom:15px; }
.introBox .introImage { margin-top:5px; }

/*-----------------------------------------------
 /about.html
-----------------------------------------------*/
.aboutBox01 { position:relative; width:660px; height:411px; background: url('../../images/about_bg01.gif') no-repeat 0 0; }
.aboutBox01 div { position:absolute; width:500px; left:151px; }
.aboutBox01 div p { font-size:13px; }
.aboutBox01 .txt01 { top:51px; }
.aboutBox01 .txt02 { top:168px; }
.aboutBox01 .txt03 { top:284px; }

.aboutBox02 { background: url('../../images/about_image01.jpg') no-repeat right 0; height:auto !important; height:280px; min-height:280px; line-height:2.5; position:relative; margin-top:-10px; }

 .principalTitle { font-size:14px; font-weight:bold; border-top:1px dotted #896D26; border-bottom:1px dotted #896D26; height:28px; line-height:28px; margin-top:28px; }

.aboutBox03 { padding-top:20px; }
.aboutBox03 .fltr { width:475px; }
	 .experience { }
	 .experience dt { float:left; padding-right:30px; line-height:1.8; }
	 .experience dd { line-height:1.8; }

.aboutBox .fltl .title { font-size:14px; font-weight:bold; color:#97506F; padding-bottom:15px; }

/*-----------------------------------------------
 /doctor.html
-----------------------------------------------*/
.doctor_voice {border: 5px solid #F7E6E2; padding: 20px 20px; margin-top: 20px; margin-bottom: 30px;}
.border_gold{ border: none; border-bottom: 1px solid #A48D56;}
.doctor_voice dt{margin-bottom: 5px;}
/*-----------------------------------------------
 /flow.html
-----------------------------------------------*/
 .flowBox { padding-bottom:10px; }
 .flowBox .fltl { width:440px; }
	 .noticeBox { border:1px solid #D0B2BF; background:#F9F5F7; font-size:11px; padding:8px 0; margin-top:10px; }
	 .noticeBox p { margin:0 8px; }
	 .noticeBox .title { font-size:13px; background: url('../../images/icon01.gif') no-repeat 0 6px; padding-left:12px; }


/*-----------------------------------------------
 entry
-----------------------------------------------*/
 .formType01 { padding:20px 0; }
 .formType01 table { width:100%; text-align:left; margin-bottom:40px; }
 .formType01 th,
 .formType01 td { padding:15px; border:1px solid #C1B28D; background:#FFF; vertical-align:middle; }
 .formType01 th { background:#F7E6E2; font-weight:bold; width:155px; }

 .formType01 table input.txt { border:1px solid #65564C; }
 .formType01 table textarea { width:100%; border:1px solid #65564C; font-size:12px; }
 .formType01 table .hint { color:#FF0000; font-size:11px; }
 .formType01 table .hint02 { color:#7C5C0D; font-size:11px; }
 .formType01 table .name dt { width:68px; float:left; }

 .thanksBox { width:410px; padding:20px 15px; margin:40px auto; border:1px solid #C9BB9B; }
 .thanksBox .title { text-align:center; font-size:22px; font-weight:bold; padding-bottom:10px; }

/*-----------------------------------------------
 recruit
-----------------------------------------------*/
 .jobList { border:2px solid #BDAD86; margin-top:25px; padding:4px 8px; }
 .jobList li { float:left; margin-right:19px; }
 .jobList li a { display:block; background: url('../../images/arrow01.gif') no-repeat 0 3px; padding-left:16px; }
 .jobList li a:hover { color:#9A506F; }

.jobBox { border:8px solid #F7E6E2; padding:15px 20px; margin-top:25px; }
	 .jobTitle { border-bottom:1px dotted #896D26; font-size:18px; font-weight:bold; margin-bottom:15px;  }
	 .jobTitle02 { font-weight:bold; background: url('../../images/icon01.gif') no-repeat 0 6px; padding-left:12px; font-size:13px; }
.jobBox .fltl { width:394px; }

 .jobBox table { width:100%; text-align:left; margin:5px 0 10px; }
 .jobBox th,
 .jobBox td { padding:5px 10px; border:1px solid #C1B28D; background:#FFF; vertical-align:middle; }
 .jobBox th { background:#F7E6E2; font-weight:bold; width:110px; }

 .hrInfo { margin-top:30px; border-top:1px solid #C1B28D; padding-top:5px; font-size:11px; }

/*-----------------------------------------------
 access
-----------------------------------------------*/
.traffic li { background: url('../../images/icon01.gif') no-repeat 0 6px; padding-left:12px; font-size:13px; }

/*-----------------------------------------------
 reservation
-----------------------------------------------*/
 .hopeTime li { float:left; }
 .hopeTime li span { font-weight:bold; }
 .hopeTime li.m01 { width:70px; }
 .hopeTime li.m02 { width:200px; }
 .hopeTime li.check { width:140px; }

/*-----------------------------------------------
 sitemap
-----------------------------------------------*/
h2.smTitle { color:#97506F; font-size:18px; font-weight:bold; padding-top:25px; }
.smBox { background: url('../../images/sitemap_bg01.gif') repeat-y 5px 0px; }
.smBox ul { padding-top:5px; }
.smBox ul li { font-weight:bold; font-size:13px; margin-top:5px; padding-left:20px; background: url('../../images/sitemap_bg02.gif') no-repeat 5px 5px; }
.smBox ul li.last { background: url('../../images/sitemap_bg03.gif') no-repeat 5px 5px; }
.smBox ul li a { font-weight:normal; font-size:13px; padding-left:20px; background: url('../../images/arrow01.gif') no-repeat 0 center; }

	.smBox02 { width:315px; float:left; margin-bottom:15px; background: url('../../images/sitemap_bg01.gif') repeat-y 5px 0px; }
	.smBox02 dl { padding-left:20px; margin-top:12px ; background: url('../../images/sitemap_bg02.gif') no-repeat 5px 5px; }
	.smBox02 dl.last { background: url('../../images/sitemap_bg03.gif') no-repeat 5px 5px;  }
	.smBox02 dl dt { font-size:13px; }
	.smBox02 dl dd { font-size:11px; padding-left:20px; font-weight:normal; }
	.smBox02 dl dt a{display:block;padding-left:20px;background:url('../../images/arrow01.gif') no-repeat 0 4px;}
	.smBox02 dl dd a { font-size:11px; color:#97506F; background:#FFF; padding:0; font-weight:normal; }
	.smBox02 dl dd a:hover { text-decoration:underline; }

/*-----------------------------------------------
 index
-----------------------------------------------*/
.index { background:none; }
.index h1 { font-weight:normal; font-size:10px; color:#7c5c0d; width:960px; margin:0 auto; padding: 2px; }
.index #header { background: url('../../images/body_bg01.gif') repeat-x 0 0;  }

.index .wrapper { margin-top:10px; }
.index #contents { position:relative; }
 .indexNews {width:752px;position:absolute;top: -85px;left:0px;background: url('../../images/index_bg_01.gif') repeat-x 0 top;border-bottom:1px solid #C195A2;background-color: #f7e7e3;}
 /* .indexNews { width:752px; background: url('../images/index_bg_01.gif') repeat-x 0 0; border-bottom:1px solid #C195A2; } */
 .indexNews > ul{padding-left: 54px;}
 .indexNews ul li { line-height:26px; }
 .indexNews .title { float:left; padding:6px 15px 0 2px; }

#indexContentsL { width:752px; float:left; margin-bottom:60px; }
#indexContentsR { width:190px; position:absolute; top:-65px; right:0px; }
/* #indexContentsR { width:190px; float:right; } */

 .pickUp { width:752px; padding-bottom:10px; background:#FFF url('../../images/index_bg_02.gif') no-repeat 0 0; }
 .pickUp dl { width:227px; float:left; margin:11px 0 0 24px; }
 .pickUp dl:first-child { margin-left:10px; }
 .pickUp dl dt { float:left; padding-right:5px; }
 .pickUp dl .txt { overflow:hidden; zoom:1; padding-top:3px; }

.mainVisual { width:960px; overflow:hidden; height:490px; margin:0 auto; /* display:none; Hide main visual  */ background:#F1D6CF url('../../images/wrapper_bg01.gif') repeat-x 0 0; }

/* // BFP 追加　//////////////////////////// */
#main_visual_button			{	position:absolute;	/*left:731px; top:377px;*/ left: 65%; top: 65%;	overflow:hidden; width:270px; height:42px;	}
#main_visual_button	a 		{	position:absolute;	top:0;	left:0;	}
#main_visual_button	a:hover	{	position:absolute;	top:-42px;	left:0;	}
/* // BFP 追加　//////////////////////////// */

/* // mks 追加　//////////////////////////// */
#main_visual_button_ginza			{	position:absolute;	left:580px; top:300px;	overflow:hidden; width:302px; height:106px;	}
#main_visual_button_ginza	a 		{	position:absolute;	top:0;	left:0;	}
#main_visual_button_ginza	a:hover	{	position:absolute;	top:-106px;	left:0;	}
/* // mks 追加　//////////////////////////// */


h2.slider-title { display:none; }

 .information { background:#FFF url('../../images/index_bg_03.gif') repeat-x 0 0; }
 .information ul { padding:15px 0; }
 .information ul li { float:left; width:232px; height:138px; margin-left:13px; }
 .information ul li:first-child { margin-left:0px; }
	.subject { background:#FFF; padding:6px 0 12px; }
	.subject dl { width:230px; float:left; margin:10px 0 0 5px; }
	.subject dl.first-of-row { margin-left:15px; }
	.subject dl dt { float:left; padding-right:10px; }
	.subject dl .txt { padding-top:5px; }

 .media { background:#faf1ee  repeat-x 0 0; overflow: hidden; position: relative;}
 .media ul {
 	padding: 0 10px 10px;
 	overflow: hidden;
 }
 .media .link_list {
 	margin:0 10px 0 0;
 	padding-bottom: 17px;
 	float: right;
 }
 .media li {
 	border-bottom: 1px dotted #896d26;
 	overflow: hidden;
 	padding: 10px 0;
 	position: relative;
 }
 .media .thumbnail {
 	background-color: #e8d3dc;
 	float: left;
 	text-align: center;

 	width: 134px;
 }

 .media .readmore {
 	position: absolute;
 	right: 0;
 	bottom: 8px;
 }

 .media .title,
 .media .text,
 .media .information_header {
 	margin-left: 150px;
 }

 .media .information_header {
 	font-size: 12px;
 	margin-bottom: 8px;
 }
 .media .information_header p {
 	display: inline-block;
 }

 .media .information_header .date {
 	margin-right: 21px;
 }

 .media .information_header .category {
 	background-color: #97506f;
 	border-radius: 10px;
 	color: #fff;
 	padding: 0 17px;
 	line-height: 17px;
 }

  .media .title {
  	color: #7c5c0d;
  	font-size: 14px;
  }


/*-----------------------------------------------
 menu
-----------------------------------------------*/
 .menuPageNavi { text-align:left; border:2px solid #BDAD86; margin-top:25px; }
 .menuPageNavi ul { margin-left:10px; padding:4px 0; }
 .menuPageNavi ul li { float:left; margin-right:40px; }
 .menuPageNavi ul li a { font-size:13px; padding-left:15px; background: url('../../images/arrow01.gif') no-repeat 0 center; }

 .menuList { border-top:1px dotted #896D26; padding-bottom:10px; }
 .menuList table { width:100%; text-align:left; font-size:12px; }
 .menuList th,
 .menuList td { padding:10px 0; border-bottom:1px dotted #896D26; vertical-align:middle; }
 .menuList th { width:230px; text-align:left; }
 .menuList th a { font-weight:bold; font-size:13px; padding-left:20px; background: url('../../images/arrow01.gif') no-repeat 0 center; }
 .menuList td a { color:#9C516F; }
 .menuList td a:hover { text-decoration:underline; }

h1.pageTitle { font-size:25px; color:#3E2C1F; }
h2.headingType02 { background:url('../../menu/images/bg_01.gif') no-repeat 0 0; padding-left:14px; margin-bottom:13px; }
h2.headingType02 p { float:left; background:url('../../menu/images/bg_02.gif') no-repeat right 0; font-size:12px; color:#FFF; height:18px; padding:0px 14px 0 0; }
h3.headingType03 { background:#B6859A; color:#FFF; font-size:16px; height:34px; line-height:34px; padding-left:12px; margin-bottom:25px; }
h3.headingType03-sub { background:transparent url('../../menu/images/bg_06.gif') left top repeat-y; color:#9a506f; font-size:16px; height:17px; line-height:17px; padding-top:2px; padding-left:15px; margin-bottom:15px; }
h4.headingType04 { font-size:14px; height:28px; line-height:28px; border-top:1px dotted #896D26; border-bottom:1px dotted #896D26; margin-bottom:20px; }
h4.headingTypeQA { background:url('../../menu/images/bg_03.gif') no-repeat 0 0; padding-left:150px; margin-bottom:13px; height:48px;  }
h4.headingTypeQA p { float:left; background:url('../../menu/images/bg_05.gif') no-repeat 0 bottom; padding-left:15px; }
h4.headingTypeQA p span { display:block; color:#FFF; background:url('../../menu/images/bg_04.gif') no-repeat right bottom; font-size:14px; height:22px; padding:26px 15px 0 0;}
h5.headingType05 { font-size:14px; }

 .boxType03 {}
 .boxType03 ul li { float:left; margin-right:35px; white-space:nowrap;}
 .boxType04 {}
 .boxType04 ul.methodList { border:2px solid #BDAD86; padding:6px 10px; }
 .boxType04 ul.methodList li { float:left; margin-right:20px; white-space:nowrap; }
 .boxType04 ul.methodList li a { font-size:12px; padding-left:15px; background: url('../../images/arrow01.gif') no-repeat 0 center; }
 .boxType04 ul.methodList li a.noMark { padding-left:0 !important; background-image:none !important; }


.price { border:1px solid #E9E7E6; padding:3px; }
.price table { width:100%; }
.price table tr th,
.price table tr td { font-size:12px; color:#97506F; background:#F4F3F2; padding:2px 5px; font-weight:normal; text-align:left; }

 .qaBox { border:5px solid #F7E6E2; padding:10px 20px; }
 .qaBox dl { border-top:1px dotted #896D26; }
 .qaBox dl:first-child { border-top:none; }
 .qaBox dl dt { padding:15px 5px 2px 30px; background:url('../../menu/images/bg_qa_01.gif') no-repeat 0 14px; font-weight:bold; }
 .qaBox dl dd { padding:10px 5px 15px 30px; background:url('../../menu/images/bg_qa_02.gif') no-repeat 0 10px; }

/*mks追加ここから*/
.menuImages { display: table; margin: 0 0 10px 0;}
.menuImages img { width: 50%;float: left; margin: 5px 0;}
/*mks追加ここまで*/
.menuImage { float:right; padding:4px 0 10px 20px; }

#co2 .menuImage, #co2 .menuText {
    display: inline-block;
    float: none;
    width: 48%;
	vertical-align: top;
}
#co2 .menuImage > img {
    width: 100%;
}
.menuText { overflow:hidden; zoom:1; }

 .menuGoTop { padding:10px 0 0; }

.priceBox { display:inline-block; background-color:#ffffff; border-style:solid; border-color:#e6e4e3; border-width:1px; margin-top:10px; padding:3px; }
.priceTable { background-color:#f2f1f0; }
	.priceTable th { color:#8f4a6a; font-weight:bold; text-align:left; padding:5px 10px; }
	.priceTable td { color:#8f4a6a; font-weight:bold; text-align:left; padding:5px 10px; }


.menu_main_visual{
	margin-top: 20px;
	margin-bottom:20px;
	position: relative;
}

.menu_2col_box { overflow:hidden; }
.menu_2col_box .menu_2col_left{	float:left; }
.menu_2col_box .menu_2col_right{ float:right; text-align:right; }
.menu_2col_box_type01 .menu_2col_left{ width:47%; }
.menu_2col_box_type01 .menu_2col_right{	width:52%;text-align:right;}
.menu_2col_box_type02 .menu_2col_left{ width:66%; }
.menu_2col_box_type02 .menu_2col_right{	width:33%; text-align:right; }


.ultracell_how{display: -webkit-flex; /* Safari */display: flex;}
.ultracell_how dl:not(:last-child) { border-right: medium none;}
.ultracell_how dl { border: 1px solid #e7e7e7; box-sizing: border-box;	padding: 10px;width: 33%;}
.ultracell_how dt span {
    display: block;
    font-size: 11px;
}
.ultracell_how dt {
    border-left: 2px solid #8c77a2;
    padding: 0 0 0 6px;
}
.intracell_head { background: rgba(0, 0, 0, 0) url("../../menu/images/skincare/intracell_head.jpg") no-repeat scroll right center / contain ;}
.intragen_head{background: rgba(0, 0, 0, 0) url("../../menu/images/skincare/intragen_head.jpg") no-repeat scroll right center / contain ;}
.hifu_head{background: rgba(0, 0, 0, 0) url("../../menu/images/skincare/hifu_head.jpg") no-repeat scroll right center / contain ;}

.ultracell_how dd {
    margin:10px 0;
}

.ultracell_how dd img {
    width: 100%;
}
.ultracell_how_txt {
    height: 255px;
}


.ultracell_table td:first-child {
    background: #f5f5f5 none repeat scroll 0 0;
    padding: 1.5%;
    text-align: center;
    width: 40%;
}
.ultracell_table tr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #b3b3b3 -moz-use-text-color;
    border-image: none;
    border-style: dotted none;
    border-width: 1px medium;
    padding: 7%;
}

.ultracell_table td:first-child {
    background: #f5f5f5 none repeat scroll 0 0;
    padding: 1.5%;
    text-align: center;
    width: 40%;
}
.ultracell_table td {
    padding: 1%;
}

.ultracell_pic {
    padding: 20px;
    text-align: center;
}

.ultracell_pic hr {
    border-left: medium none;
    border-right: medium none;
    border-top: 4px double;
    width: 80%;
}

.ultracell_pic img {
    margin: 5%;
    width: 39%;
}


/*-------------------------------------------------
 botokusu
 -----------------------------------------------*/
.menu_main_visual p{
	position: absolute;
	right:47px;
	bottom:55px;
}
.menu_main_visual a{
	display: block;
}

.menu_main_visual a:hover {
	opacity: 0.7;
	filter: alpha(opacity=0.7);
}

.initial_price{
	padding-top: 40px;
}

.info_txt{
	color: #b35e80;
	padding-top: 10px;
}



/*-------------------------------------------------
 table layout
 -----------------------------------------------*/
 #changeText_color td,#changeText_color td{color:#533425;}
.price_table { font-size:12px;text-align:left;width: 100%; }
.price_table th,.price_table td{border:1px solid #e9e7e6;line-height: 16px; }
.price_table caption{color:#934d6f;font-weight:bold;font-size:13px;text-align:left;margin-bottom: 8px;line-height:1; }
.price_table th{background: #f4f3f2;color:#3c2c20;text-align:left;width: 255px;font-weight: normal;vertical-align:middle;padding: 7px; }
.price_table td{color:#934d6f;font-weight:bold;font-size:12px;text-align:right;padding: 4px;padding-right:6px;vertical-align:middle; }
.price_table td.normal_cell{color:#000000;font-weight:normal;text-align:left; }
.price_table td.amount{width: 185px; }
.lowprice_icon{display:inline-block;*display: inline;*zoom: 1;width: 57px;height: 16px;background: url(../../images/lowprice_icon.gif) left top no-repeat;vertical-align:middle;margin-right: 3px; }
.new_icon{display:inline-block;*display: inline;*zoom: 1;width: 26px;height: 10px;background: url(../../images/new_icon.gif) left top no-repeat;vertical-align:middle;margin-right: 3px; }

