@charset "utf-8";

/*-----------------------------------------------
 Not found
-----------------------------------------------*/
body#notfound {background: url('../../tbg/clinic/images/body_bg01.gif') repeat-x 0 0; padding: 0; margin: 0;}
#notfound #wrapper {background:url(images/not_found/bg.jpg) repeat-x bottom;}
#notfound #wrapper .inner { margin: 0 auto; width: 800px;}
#notfound h1 { text-align: center; margin-bottom: 90px; padding: 30px 0 25px; background:url(../../images/not_found/line.gif) repeat-x 0 bottom;}
#notfound p { text-align: center; margin:0;}
#notfound p.message {padding-bottom: 100px;}
#notfound p.button {padding-bottom: 100px;}
#notfound p.button a img {border: none; color: #fff; background: transparent; vertical-align: bottom;}
#notfound div.copyright { border-top: 1px solid #7c5d0d; padding: 5px 0; min-width:800px;}
#notfound div.copyright p {font-size: 10px; text-align: center; color: #7c5c0d; width: 800px; margin: 0 auto;}