@charset "utf-8";
/* CSS Document */

/* =====================================
  INDEX.CSS - update:2015.06.23
======================================== */


/* header
---------------------------------------- */

#header { border-bottom-color: #d0ccc9; border-bottom-style: solid; border-bottom-width: 1px; height: 70px; width: 100%;position: fixed;top:0;background:#fff;}

.header-inner { margin-left: auto; margin-right: auto; width: 1200px; }

#mainvisual-bg { background-color: #CBB3A4; background-repeat: repeat-x; height: 450px; margin-top: 70px; }

.mainimg { margin-right: auto; margin-left: auto; width: 1200px; }

#container { margin-right: auto; margin-left: auto; margin-top: 30px; text-align: center; width: 1100px; padding: 0 50px;}

.btnarea { background-image: url(../img/btnarea_bg01.png); repeat: no-repeat; height: 234px; padding-top: 86px; padding-left: 379px; margin-bottom: 50px; text-align: left; width: 721px; }
.btnarea.koukoku { background-image: url(../img/btnarea_bg01_w.png); repeat: no-repeat; height: 234px; padding-top: 86px; padding-left: 379px; margin-bottom: 50px; text-align: left; width: 721px; }
.subbtn { margin-left: 121px; margin-top: 13px;}
.telbtn { margin-left: -225px; margin-top: 15px;}

.counseling { background-image: url(../img/05_bg.png); background-repeat: no-repeat; height: 322px; text-align: left; width: 1030px; padding-left: 70px; }

.counseking-txt { color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 16px; line-height: 160%; float: right; margin-right: 70px; width: 468px; }

.counseling02 { background-image: url(../img/06_bg.png); background-repeat: repeat-x; margin-right: auto; margin-left: auto; text-align: left; width: 1100px; }

.counseling02-inner { margin-right: auto; margin-left: auto; width: 960px; text-align: center; }

.counseking02-txt { color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 16px; line-height: 160%; padding-left: 10px; margin-bottom: 15px; text-align: left; width: 950px; }

.counseling02-inner02 { background-color: #FFF; padding-top: 20px; padding-left: 40px; padding-right: 40px; margin-bottom: 30px; margin-right: auto; margin-left: auto; text-align: center; width: 920px; }

.counseking02-stxt { color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 14px; line-height: 140%; padding-left: 10px; margin-bottom: 15px; text-align: left; width: 445px; }

.counseling02-inner03 { float: left; text-align: center; width: 310px; }

.counseling02-inner03-txt { color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 16px; line-height: 160%; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; text-align: left; }

.rborder { border-right-width: 1px; border-right-style: dotted; border-right-color: #462c24; padding-right: 7px; }

.pdleft7 { padding-left: 7px; }

.voice { background-image: url(../img/07_bg.png); background-repeat: repeat-x; height: 560px; margin-bottom: 30px; margin-top: 30px; padding-top: 30px; padding-right: 50px; padding-left: 50px; }

.process-box { width: 1000px; margin-bottom: 15px; margin-left: auto; margin-right: auto; vertical-align: top; }

.process-bg { background-image: url(../img/08_boxmid.png); background-repeat: repeat-y; margin-right: auto; margin-left: auto; text-align: left; vertical-align: top; width: 1000px; }

.step_title { background-color: #f7f0ee; float: right; height: 40px; margin-right: 25px; margin-bottom: 15px; padding-top: 18px; padding-left: 20px; width: 645px; }

.process-txt { clear: both; font-size: 16px; line-height: 28px; margin-right: 25px; text-align: left; width: 645px; }

.step_kakomi { border: 1px solid #D8CCC9; clear: both; color: #462C24; font-size: 13px; line-height: 20px; margin-top: 15px; padding: 10px; width: 645px; }

.nagare-txt { color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 16px; line-height: 160%; margin-left: 20px; padding-left: 10px; padding-right: 10px; text-align: left; vertical-align: middle; width: 564px; }

.dotline { border-top-color: #462c24; border-top-style: dotted; border-top-width: 1px; margin-left: 20px; width: 584px; }

.faq-txt { clear: both; color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 16px; line-height: 160%; margin-left: 180px; width: 820px; }

.rtxt { float: right; text-align: left; width: 705px; }

.hrline { clear: both; border-bottom-color: #472C24; border-bottom-style: solid; border-bottom-width: 1px; margin-bottom: 20px; padding-top: 30px; width: 1000px;}

.pinkback { background-color: #f7f0ee; padding-top: 10px; padding-bottom: 50px; margin-right: auto; margin-left: auto; text-align: center; width: 1100px; }

.pinkback-inner { margin-left: auto;  margin-right: auto; width: 960px; }

.p-back-txt { color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 16px; line-height: 160%; margin-top: 15px; text-align: left;}

.p-back-txt.fL {width: 440px; }

.access-wbox { background-color: #FFF; font-size: 16px; line-height: 28px; margin-right: auto; margin-left: auto; margin-top: 30px; margin-bottom: 40px; padding: 25px; text-align: left; vertical-align: middle; width: 930px; }

.access-left { border-right-width: 1px; border-right-style: dotted; border-right-color: #333; float: left; padding-top: 20px; padding-bottom: 20px; padding-right: 30px; margin-right: 30px; }

.concept-bg { background-image: url(../img/11_bg.png); background-repeat: repeat-x;  }

.concept-inner { background-color: #FFF; float: left; padding-bottom: 20px; text-align: center; width: 310px; }

.doctors-inner { margin-right: auto; margin-left: auto; width: 980px; text-align: center; }

.doctors-name { clear: both; background-color: #e8d5cd; height: 32px; margin-bottom: 25px; margin-left: auto; margin-right: auto; margin-top: 30px; padding-top: 13px; padding-left: 15px; text-align: left; vertical-align: middle; width: 965px; }

.doc-txtbox01 { color: #462C24; float: left; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 14px; line-height: 160%; text-align: left; width: 320px; }

.doc-txtbox02 { color: #462C24; float: right; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 14px; line-height: 160%; text-align: left; width: 430px; }

.doc-combox { background-color: #FFF; border: 4px solid #E8D5CD; margin-left: auto; margin-right: auto; padding-bottom: 15px; padding-left: 15px; padding-right: 15px; padding-top: 15px; margin-bottom: 30px;  margin-top: 20px; text-align: center; width: 392px; }

.doc-comtxt { color: #462C24; float: right; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 14px; line-height: 160%; text-align: left; }

.pickupbox { margin-right: auto; margin-left: auto; width: 1000px; }

#footer { border-top-color: #d0ccc9; border-top-style: solid; border-top-width: 1px; color: #462C24; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 12px; height: 70px; padding-top: 10px; }

ul.fl { list-style-image: url(../common/img/footer-arrow.png); margin: 0; padding: 0; }

ul.fl li { float: left; margin-right: 5px; padding: 2px; text-align: left; width: 10em; }

.clearLeft { clear: left; }



/*--slider bot--*/
.bx-prev{
    position: absolute;
    left: 0;
    top: 0;
  background:url(../img/left_arrow.png);
  height:299px;
  width:30px;
  display:block;
  text-indent:-9999px;
}
.bx-next{
   right: 0;
   top: 0;
   position: absolute;
  background:url(../img/right_arrow.png);
  height: 299px;
  width:30px;
  display:block;
  text-indent:-9999px;
}

/*--slider config--*/
.bg_img{
   width: 100%;
   max-width: 960px;
   margin: 0 auto;
  position:relative;
}
.bg_img .bx-wrapper{
    height: 299px;
}
.bx-window {
    margin-bottom: 0px;
}
.slider {
    width: 100%;
    margin: 0px auto;
}

/*--slider--*/
.bg_img .bx-wrapper {
    width: inherit;
}
#slider li {
    width: 419px !important;
    text-align: left;
}

/*--attentionBox add160728--*/
.attentionBox {
  width: 800px;
  padding: 0 1em;
  margin: 2em auto;
  border: 1px solid #999;
  text-align: center;
}
.attentionBox dt {
  font-size: 1.3em;
  font-weight: bold;
  color: #ff9900;
  margin-bottom: 0.5em;
}
.linebanner{
	max-width:800px;
	margin:50px auto;
}
.linebanner.half{
	max-width: none;
    margin: 50px 1%;
    width: 48%;
    float: left;
}
.linebanner.half img{
	max-width:100%;
}
.linebanner a{
pointer-events: none;
}
.footer_link_box {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    left: 50%;
    margin-left: -500px;
}
.footer_btn {
    position: absolute;
    right: 10px;
    top: 0px;
}
#page-top{
  position: fixed;
  bottom:50px;
  right:50px;
}
