@charset "UTF-8";
@media only screen and (max-width: 768px) {
img{
	width:100%;
	height:auto;
	vertical-align:top !important;
	line-height:1 !important;
}
body{
	font-size:90%;
	color:#000;
	line-height:160%;
	background:#FFF;
	font-family:"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	letter-spacing:0px;
	min-width:320px;
	-webkit-text-size-adjust: auto;
}
#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	min-width:320px;
	overflow:hidden;
}
.sp_none{
	display:none !important;
}


/*=======================================================================
clear　clearfix
=======================================================================*/
.cf:after{
 	content:".";
	display:block;
 	height:0;
 	clear:both;
	visibility:hidden;  
}


/*=======================================================================
ヘッダ
=======================================================================*/
#h_wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border-bottom:solid 2px #FFF;
}
header#PAGE_TOP {
	margin: 0 auto;
	position: relative;
	text-align: left;
	width:auto;
	background:#000;
	height: auto !important;
}
#PAGE_TOP h1{
	margin:0 auto;
	padding:3% 0;
	background:#171717;
	position:relative;
	border-bottom:solid 2px #474747;
	top:auto;
	left:auto;
}
#PAGE_TOP h1 img{
	width:40%;
	margin:0 0 0 5px;
	display:block;
}
#PAGE_TOP p{
	width:49.8%;
	float:left;
	position:relative;
	left:0;
	top:0;
}
#PAGE_TOP ul{
	position:static;
	top:auto;
}
#PAGE_TOP ul li.sp_ab{
	position:absolute;
	top:8%;
	right:5px;
	width:10%;
}
#PAGE_TOP ul li:first-child{
	margin:0;
}
#PAGE_TOP ul li.sp_ab1{
	position:absolute;
	top:8%;
	right:13%;
	width:18%;
}
#PAGE_TOP ul li.sp_ab2{
	position:absolute;
	top:8%;
	right:32%;
	width:18%;
}
#PAGE_TOP ul li{
	margin:0;
}


/*=======================================================================
フッタ
=======================================================================*/
#f_wrapper {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	background:#fff !important;
	color:#8e8e8e !important;
}
#f_wrapper p{
	padding:5px 0;
	font-size:85%;
	text-align:center;
}


/*=======================================================================
ページトップ
=======================================================================*/
#page-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
	z-index:99999999;
}
#page-top img{
	width:35px;
	height:35px;
}


/*=======================================================================
サイドバー
=======================================================================*/
#navi{
	display:none;
}
#side_navi {
	display:none;
}



/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

	内容STERT

::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*=======================================================================
トップページ　メイン
=======================================================================*/
/*	b02
=====================================*/
.block02{
	background:url(../img/sp/b01_bk.gif) no-repeat 0 0 #fff;
	padding:0 5%;
}
.block02 ul{
	background:#f1f1f1;
	padding:0 5%;
}
.block02 ul li{
	border-bottom:1px dashed #787878;
	position:relative;
	padding:10% 0 10% 40%;
}
.block02 ul li img.face {
	width:30%;
	position:absolute;
	left:3%;
    top: 50%;
    margin-top: -25%;
}
.block02 ul li dl dt {
    font-weight: bold;
    color: #fff;
    background: #7f7f7f;
	padding:5px 5%;
	text-align:center;
	letter-spacing:1px;
	margin-top:10%;
}
.block02 ul li dl dd {
    background: #fff;
	padding:5% 10% 25%;
    word-break: break-all;
    position: relative;
}
.block02 ul li dl dd a img {
	position:absolute;
	bottom:0;
	left:0;
}
.block02 ul li.type03{
	border-bottom:none;
}
.block02 .bottom_box{
    background: #3e3e3e;
	padding:10% 5%;
}


/*
	インフォエリア 
=======================================================================*/
/*	info_box
=====================================*/
.info_box {
	padding:10% 5%;
}
.info_box ul {
	padding:0 5%;
	margin-top:8%;
}
.info_box ul li{
	text-align:center;
}
.info_box ul li.tel01{
	margin:7% 0;
}
.info_box ul li.tel01 img,
.info_box ul li.tel02 img {
	width:75%;
}

/*	info_box01
=====================================*/
.info_box01 ul {
	margin-top:0;
}


/*
	メイン内容 h2,帯共通
=======================================================================*/
/*	title_area
=====================================*/
.title_area h2,
.title_area h3{
	margin:0;
	padding:0;
}

/*	boxmain
=====================================*/
.boxmain{
	margin:15% 0 0;
	padding:0 5%;
}
.boxmain .box {
	border:4px solid #000000;
	border-top:none;
	padding:15% 5%; 
	position:relative;
}
.boxmain .box h4 {
    background: #000;
    width: 78%;
    text-align: center;
    line-height: 120%;
    color: #fff;
    font-size: 110%;
    font-family: "A-OTF A1明朝 Std", serif;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -44%;
    top: -20px;
    padding: 10px 5%;
}
.boxmain .box h4 span{
	font-size:85%;
}

/*--- boxmain box01(特徴) ---*/
.boxmain .box01 {
	border-top:4px solid #000000;
}
.boxmain .box01 img.sejutu{
	margin:5% 0;
	width:80%;
}
.boxmain .box01 dl {
	text-align:left;
	margin-bottom:10%;
}
.boxmain .box01 dl dt {
	font-family:"A-OTF A1明朝 Std", serif;
	font-size:110%;
	position:relative;
	padding-left:20%;
	margin-bottom:5px;
}
.boxmain .box01 dl dt em {
	letter-spacing:-1px;
}
.boxmain .box01 dl dt span {
	font-size:110%;
	line-height:100%;
	width:15%;
	background:#ffea00;
	text-align:center;
	display:inline-block;
	position:absolute;
	left:0;
	top:5px;
	padding:5% 0;
}
.boxmain .box01 dl dd {
	padding-left:20%;
	margin-bottom:5%;
	line-height:140%;
}
.boxmain .box table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}
.boxmain .box table th {
	background:#585858;
	width:30%;
	text-align:center;
	vertical-align:middle;
	color:#fff;
	border-bottom:2px solid #fff;
	padding:5%;
	line-height:140%;
}
.boxmain .box table td {
	background:#efefef;
	padding:5%;
	vertical-align:middle;
	color:#363636;
	border-bottom:2px solid #fff;
	line-height:140%;
}

/*--- boxmain box02(症例写真) ---*/
.boxmain .box02 img{
	width:90%;
	margin-bottom:5%;
}
.boxmain .box02 img:last-child {margin-bottom:0;}

/*--- boxmain box03(FAQ) ---*/
.boxmain .box03{
    padding-bottom: 5%;
}
.boxmain .box03 .menu dl {
	margin-bottom:5%;
}
.boxmain .box03 .menu dl dt.acd {
    cursor: pointer;
    font-size: 100%;
    font-weight: bold;
    padding: 5% 13% 5% 20%;
    background: url(../img/open.png) no-repeat right 10px center #f1f1f1;
    background-size: 15px auto;
    line-height: 140%;
    text-align: left;
    position: relative;
}
.boxmain .box03 .menu dl dt.acd:before{
	content:url(../img/qa.gif);
	position:absolute;
	top:50%;
	left:0;
	margin-top:-8%;
}
.boxmain .box03 .menu dl dt.acd_open{
	background:url(../img/close.png) no-repeat right 10px center #f1f1f1;
    background-size: 15px auto;
}
.boxmain .box03 .menu dl .acd_menu {
	display:none;
	padding:5%;
	line-height:140%;
}


/*
	各メイン内容
=======================================================================*/
/*	b06
=====================================*/
.block06 .box02 img{margin-bottom:7%;}
.block06 .box02 img.ptr_main_img04,
.block06 .box02 img.ptr_main_img06,
.block06 .box02 img.ptr_main_img08{
	margin-bottom:5%;
}

/*	b08
=====================================*/
.block08 .box {
    padding-top:20%;
}


/*
	メインから下の内容（yoyaku～）
=======================================================================*/
/*	b16 (yoyaku)
=====================================*/
.block16{
	background:#3c3c3c;
	padding:10% 5%;
}

/*	b17 (koe)
=====================================*/
.block17 {
	background:#000;
	padding:10%;
}
.block17 .inner h2 {
	margin-bottom:10%;
}
.block17 .inner h2 img {
	width:50%;
}
.block17 .inner ul li {
	margin-bottom:10%;
}
.block17 .inner ul li:last-child {
	margin-bottom:0;
}
.block17 .inner ul li img.human {
	vertical-align:top !important;
	margin-right:8%;
	width:20%;
}
.block17 .inner ul li p {
	position:relative;
	background:#fff;
	border-radius:10px;
	width:70%;
	display:inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	padding:5%;
	line-height:140%;
}
.block17 .inner ul li p:before {
	content:url(../img/koe_huki.png);
	position:absolute;
	left:-14px;
	top:18%;
}

/*--- koe02 ---*/
.block17 .inner ul li.koe02 img.human {
	vertical-align:top !important;
	margin-left:8%;
	margin-right:0;
	width:20%;
}
.block17 .inner ul li.koe02 p:before {
	content:url(../img/koe_huki02.png);
	right:-14px;
	left:auto;
}

/*	b19 (flow)
=====================================*/
.block19 {
	background:#ededed;
	padding:10% 5%;
}
.block19 h2 {
	margin-bottom:10%;
}
.block19 h2 img {
	width:70%;
}
.block19 p.text01 {
	margin-bottom:5%;
}
.block19 .flow_box{
	margin-bottom:5%;
}
.block19 .flow_box:last-child{
	margin-bottom:0;
}
.block19 .flow_box:after{
 	content:".";
	display:block;
 	height:0;
 	clear:both;
	visibility:hidden;  
}
.block19 .flow_box h3 {
	margin-bottom:10px;
}
.block19 .flow_box img{
	float:left;
	width:35%;
}
.block19 .flow_box p{
	float:right;
	width:60%;
	line-height:140%;
}
.block19 .flow_box h3 img,
.block19 .flow_box .link img{
	float:none;
	width:100%;
}
.block19 .flow_box .link .flow_tel {
	margin:10% 0 5%;
}

/*	b22 (rinen)
=====================================*/
.block22 {
	background:#ededed;
	padding:10% 5%;
	margin-bottom:8%;
}
.block22 h2 {
	margin-bottom:8%;
}
.block22 h2 img {
	width:95%;
}
.block22 p.text {
	margin-bottom:5%;
}
.block22 .inner ul li {
	background:#fff;
	padding:10% 5% 7%;
}
.block22 .inner ul li h3 {
	margin-bottom:5%;
}
.block22 .inner ul li p{
	line-height:120%;
	margin-top:5%;
}
.block22 .inner ul .Concept02{
	margin:1px 0;
}

/*	b23 (bottom_text)
=====================================*/
.block23{
	background:#000;
	padding:5% 0;
}
.block23 img{
	width:70%;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

	内容END

::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/



/*=======================================================================
フォーム導入
=======================================================================*/
.block13 {
	margin-bottom:40px;
}
.block13 h2{
	margin-bottom:20px;
}
.block13 .flow {
	margin: 0 0 20px 0 ;
	padding: 0 10px ;
	text-align: center ;
}
.block13 .flow img {
	height: auto;
}
.block13 .caution {
	margin: 10px 0 ;
	color: #ee0000 ;
}
.block13 .error {
	margin: 10px 0 0 0 ;
	color: #ee0000 ;
}
.block13 .form {
	padding: 0 10px ;
}
.block13 table {
	width: 100% ;
	border:solid 1px #d0d0d0;
	float:left;
	border-collapse: separate;
	border-spacing: 2px 2px ;
	margin: 0 auto 10px auto ;
}
.block13 th{
	display: block ;
	background:#f3f3f3;
	padding: 12px 10px 12px 70px ;
	border-bottom:solid 1px #d0d0d0;
	font-size: 14px ;
	color: #000000 ;
	white-space: nowrap ;
}
.block13 th.hissu {
	background: #f3f3f3 url(../images/form/form_icon_01.gif) 10px center no-repeat;
}
.block13 th.nini {
	background: #f3f3f3 url(../images/form/form_icon_02.gif) 10px center no-repeat;
}
.block13 td{
	display: block ;
	padding: 15px ;
	border-bottom:solid 1px #d0d0d0;
	font-size: 14px ;
	color: #333333 ;
}
.block13 td.last{
	border-bottom:none;
}
.block13 td input[type="text"],
.block13 td input[type="tel"],
.block13 td input[type="email"] {
	width: 45% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 td input[type="checkbox"] {
	margin: 0 5px 0 10px;
}
.block13 td input[type="radio"] {
	margin: 0 5px 0 10px;
}

.block13 td select {
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 td textarea {
	width: 96% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 .btn {
	text-align: center ;
}
.block13 .btn {
	width: 100% ;
	height: auto ;
	text-align: center ;
}
.block13 .btn img {
	height: auto;
}
.block13 .btn input {
	width: 100% ;
	max-width: 420px ;
	margin: 0 auto 10px auto ;
	height: auto ;
}
.block13 .end {
	margin: 0 0 20px 0 ;
	text-align: center ;
}

}
