@charset "UTF-8";
@media only screen and (min-width: 768px) {
body{
	font-size:15px;
	color:#000;
	line-height:30px;
	background:#FFF;
	font-family:"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
	letter-spacing:-0.5px;
	min-width:1200px;
}
#section02,
#section03,
#section04,
#section05,
#section06,
#ptr_01,
#ptr_02,
#ptr_01,
#skr_01,
#gsr_01,
#gsr_02,
#gsr_03,
#section15{
	margin-top:-87px;
    padding-top:87px;
}
.pc_none{
	display:none !important;
}
/*
a img:hover{
	-moz-opacity:0.7;
	opacity:0.7;
}
*/
#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.cnt_wp {
	width: 100%;
	margin:0 auto;
	padding: 85px 0 0;
	text-align: center;
	min-width:1200px;
	overflow:hidden;
}


/*=======================================================================
clear　clearfix
=======================================================================*/
.clear {clear:both; visibility:visible;}
.cf:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

/* IE7,MacIE5 */
.cf {display: inline-block;}

/* WinIE6 below, Exclude MacIE5 \*/
* html .cf {height: 1%;}

.cf {display:block;}
.box{display:block;}


/*=======================================================================
ヘッダ
=======================================================================*/
#h_wrapper {
	width: 100%;
	height:85px;
	margin: 0 auto;
	text-align: center;
	background:#171717;
	border-bottom:solid 2px #b39952;
	position:fixed;
	top:0;
	left:0;
	z-index:99999;
}
header#PAGE_TOP {
	width: 1200px;
	height:85px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}
#PAGE_TOP h1{
	position:absolute;
	top:20px;
	left:24px;
	color:#fff;
}
#PAGE_TOP p{
	position:absolute;
	top:16px;
	right:400px;
}
#PAGE_TOP ul{
	position:absolute;
	top:23px;
	right:0;
}
#PAGE_TOP ul li{
	float:left;

}
#PAGE_TOP ul li.sp_ab{
	margin:0 0 0 10px;
}


/*=======================================================================
フッタ
=======================================================================*/
#f_wrapper {
	width: 100%;
	height:45px;
	margin: 0 auto;
	text-align: center;
	background:#fff;
	color:#8e8e8e;
}
footer#f_cnt {
	width: 1200px;
	height:45px;
	margin: 0 auto;
	position: relative;
	text-align: left;
	letter-spacing:0.5px;
}
.copy{
	text-align:center;
	font-size:11px;
	padding: 13px 0px;
	color:#8e8e8e;
}


/*=======================================================================
ページトップ
=======================================================================*/
#page-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
	z-index:99999999;
}
#page-top a img:hover{
	-moz-opacity:0.7;
	opacity:0.7;
}


/*=======================================================================
サイドバー
=======================================================================*/
/*
#navi {
	position:fixed;
	top:384px;
	right:0;
	width: 53px;
	background-color: rgba( 150, 150, 149, 0.55 );
	padding:20px 0;
	z-index:99999999999999999;
	-webkit-transform: translateY(-50%) translateZ(0);
	transform: translateY(-50%) translateZ(0);
}
#navi li {
	list-style-type: none;
	text-align: center;
}
#navi li a {
	padding: 5px 0;
	display: block;
	text-decoration: none;
	color:#FFF;
	font-size:10px;
}
#navi li a.on {
	color:#e9b62b;
}
*/


/*=======================================================================
サイドバー
=======================================================================*/
#side_navi {
	position:fixed;
	top:315px;
	right:-122px;
	z-index:999999999;
}
#side_navi li {
	background:#e8e8e8;
	height:92px;
	width:190px;
	display:table;
	margin-bottom:1px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
#side_navi li img {
	display:table-cell;
	margin:0;
}
#side_navi li p {
	display:table-cell;
	height:90px;
	width:122px;
	padding:2px 10px 0;
	margin:0;
	vertical-align:middle;
	font-size:12px;
	line-height:24px;
	font-weight:bold;
}
#side_navi li p span:before {
	content:"> ";
	color:#828282;
}
#side_navi li p span a {
	color:#3d3d3d;
	text-decoration:none;
}
#side_navi li p span a:hover {
	text-decoration:underline;
}
#side_navi li:hover {
    -webkit-transform: translateX(-120px);
    -moz-transform: translateX(-120px);
    -o-transform: translateX(-120px);
    transform: translateX(-120px);
}



/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

	内容STERT

::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*=======================================================================
トップページ　メイン
=======================================================================*/
.inner,
.info_box{
	width:1100px;
	margin:0 auto;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

/*	b01
=====================================*/
.block01 {
	background:#121212;
}

/*	b02
=====================================*/
.block02 {
	background:url(../img/b01_bk.gif) no-repeat top center;
	background-size:100% auto;
	padding:15px 0 0;
}
.block02 h2 {
	margin-bottom:30px;
}

/*--- top_box ---*/
.block02 .top_box {
	background:#f1f1f1;
	padding:55px 3px;
}
.block02 .top_box ul li {
	float:left;
	text-align:center;
	padding:0 67px;
}
.block02 .top_box ul li img {
	margin-top:-15px;
}
.block02 .top_box ul li dl {
	margin:20px auto 0;
	width:230px;
}
.block02 .top_box ul li dl dt {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	line-height:45px;
	height:45px;
	background:#7f7f7f;
}
.block02 .top_box ul li dl dd {
	background:#fff;
	padding:15px 0 0;
	line-height:24px;
	word-break:break-all;
	text-align:center;
	height:145px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	position:relative;
}
.block02 .top_box ul li dl dd a {
	position:absolute;
	bottom:0;
	left:0;
}
.block02 .top_box ul li dl dd a img {
	margin:0;
}
/* type02 */
.block02 .top_box ul .type02 {
	border:1px dashed #787878;
	border-top:none;
	border-bottom:none;
}

/*--- bottom_box ---*/
.block02 .bottom_box {
	background:#3e3e3e;
	padding:35px 0;
	text-align:center;
}


/*
	インフォエリア 
=======================================================================*/

/*	info_box
=====================================*/
.info_box {
	margin:60px auto;
	padding:0 50px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	text-align:center;
}
.info_box ul {
	margin-top:60px;
}
.info_box ul li{
	display:inline-block;
	padding:20px 30px;
	border-left:1px dashed #787878;
}
.info_box ul li img {
	vertical-align:middle !important;
}
.info_box ul li:nth-child(1){border:none;}
.info_box ul li:nth-child(3){padding:0 30px;}

/*	info_box01
=====================================*/
.info_box01 ul {
	margin-top:0;
}
/*--- block03 ---*/
.block03 {margin:50px auto 65px;}
/*--- block18,block20 ---*/
.block18,
.block20 {margin:70px auto;}

/*	info_box02
=====================================*/
/*--- block07 ---*/
.block07 {margin:30px auto 70px;}
/*--- block09,block11,block21 ---*/
.block09,
.block11,
.block21 {margin-bottom:130px;}
/*--- block15 ---*/
.block15 {margin-bottom:80px;}


/*
	メイン内容 h2,帯共通
=======================================================================*/
/*	cate_area
=====================================*/
.cate_area{
	height:729px;
	text-align:left;
}
.cate_area .inner h2 {
	margin-bottom:40px;
}
.cate_area .inner p {
	font-size:18px;
	line-height:37px;
	color:#fff;
}

/*	obi_area
=====================================*/
.obi_area {
	background:url(../img/bottom_bk01.png) no-repeat top center;
	height:552px;
	text-align:left;
}
.obi_area .inner {
	position:relative;
}
.obi_area .inner .obi_left {
	width:550px;
}
.obi_area .inner .obi_left h3 {
	margin-bottom:40px;
}
.obi_area .inner .obi_left p img {
	float:right;
	padding:0 10px 0 30px;
}
.obi_area .inner .obi_right {
	position:absolute;
	right:0;
}

/*	boxmain
=====================================*/
.boxmain .box {
	border:4px solid #000000;
	border-top:none;
	position:relative;
	padding:80px 100px 100px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.boxmain .box h4 {
	background:#000;
	height:64px;
	width:620px;
	text-align:center;
	line-height:60px;
	color:#fff;
	font-size:30px;
	font-family:"A-OTF A1明朝 Std", serif;
	border-radius:32px;
	position:absolute;
	left:50%;
	margin:0 0 0 -320px;
	top:-35px;
}
.boxmain .box h4 span{
	font-size:20px;
}

/*--- boxmain box01(特徴) ---*/
.boxmain .box01 {
	border-top:4px solid #000000;
	margin-top:30px;
}
.boxmain .box01 dl {
	text-align:left;
	margin-bottom:30px;
}
.boxmain .box01 dl dt {
	font-family:"A-OTF A1明朝 Std", serif;
	font-size:25px;
	line-height:26px;
	position:relative;
	padding-left:75px;
	margin-bottom:13px;
}
.boxmain .box01 dl dt em {
	letter-spacing:-1px;
}
.boxmain .box01 dl dt span {
	font-size:26px;
	line-height:52px;
	height:52px;
	width:52px;
	background:#ffea00;
	text-align:center;
	display:inline-block;
	position:absolute;
	left:0;
	top:5px;
}
.boxmain .box01 dl dd {
	font-size:15px;
	line-height:24px;
	padding-left:75px;
	margin-bottom:25px;
}
.boxmain .box table {
	width:440px;
	border-collapse:collapse;
	border-spacing:0;
}
.boxmain .box table.tbl_left {float:left;}
.boxmain .box table.tbl_right {float:right;}
.boxmain .box table th {
	background:#585858;
	width:168px;
	text-align:center;
	vertical-align:middle;
	color:#fff;
	height:58px;
	border-bottom:2px solid #fff;
}
.boxmain .box table td {
	background:#efefef;
	font-size:14px;
	padding:0 25px;
	vertical-align:middle;
	color:#363636;
	height:58px;
	line-height:24px;
	border-bottom:2px solid #fff;
}
.boxmain .box table td.smole{
	line-height:17px;
	font-size:13.5px;
}

/*--- boxmain box02(症例写真) ---*/
.boxmain .box02{
	padding:80px 0 100px;
	text-align:center;
}
.boxmain .box02 img:last-child {margin-bottom:0;}

/*--- boxmain box03(FAQ) ---*/
.boxmain .box03{
	padding-bottom:50px;
}
.boxmain .box03 .menu dl {
	margin-bottom:10px;
}
.boxmain .box03 .menu dl dt.acd {
	cursor:pointer;
	font-size: 16px;
	font-weight: bold;
	padding:0 0 0 62px;
	background:url(../img/open.png) no-repeat right 10px center #f1f1f1;
	height:41px;
	line-height:45px;
	text-align:left;
	position:relative;
}
.boxmain .box03 .menu dl dt.acd:before{
	content:url(../img/qa.gif);
	position:absolute;
	top:0;
	left:0;
}
.boxmain .box03 .menu dl dt.acd_open{
	background:url(../img/close.png) no-repeat right 10px center #f1f1f1;
}
.boxmain .box03 .menu dl .acd_menu {
	display:none;
	padding:15px 35px 30px 62px;
	font-size:14px;
	line-height:20px;
}


/*
	各メイン内容
=======================================================================*/
/*	b04 (ptr)
=====================================*/
.block04 .cate_area{background:url(../img/ptr_bk01.png) no-repeat top center;}
.block04 .cate_area .inner {padding-top:285px;}
.block04 .obi_area .inner {padding-top:65px;}
.block04 .obi_area .inner .obi_right {top:-15px;}
.block04 .boxmain .box02 img {margin-bottom:25px;}

/*	b06 (ptr)
=====================================*/
.block06 .obi_area {
	background:url(../img/bottom_bk02.png) no-repeat top center;
	height:817px;
}
.block06 .obi_area .inner {padding-top:260px;}
.block06 .obi_area .inner h3 {margin-bottom:20px;}
.block06 .obi_area .inner .obi_right{
	width:466px;
	top:140px;
	text-align:center;
}
.block06 .obi_area .inner .obi_right img{margin-bottom:10px;}
.block06 .boxmain .box02 img.ptr_main_img03 {margin-bottom:40px;}
.block06 .boxmain .box02 img.ptr_main_img05 {margin:2px 0 2px 19px;}
.block06 .boxmain .box02 img.ptr_main_img06 {margin:0 0 0 2px;}

/*	b08 (gsr)
=====================================*/
.block08 .cate_area{background:url(../img/gsr_bk01.png) no-repeat top center;}
.block08 .cate_area .inner {padding-top:305px;}
.block08 .obi_area .inner {padding-top:65px;}
.block08 .obi_area .inner .obi_right {top:-45px;}
.block08 .boxmain .box01 p.text {margin-bottom:10px;}
.block08 .boxmain .box01 p.text img {
	float:right;
	margin:-25px 0 0 30px;
}

/*	b10 (gsr)
=====================================*/
.block10 .boxmain .box01{padding-bottom:50px;}
.block10 .boxmain .box01 p.text {margin-bottom:0;}
.block10 .boxmain .box01 p.text img {
	float:right;
	margin:-25px 0 0 30px;
}

/*	b12 (gsr)
=====================================*/
.block12 .boxmain .box01{padding-bottom:90px;}
.block12 .boxmain .box01 p.text {margin-bottom:0;}
.block12 .boxmain .box01 p.text img {
	float:right;
	margin:-25px 0 0 30px;
}

/*	b14 (skr)
=====================================*/
.block14 .cate_area{background:url(../img/skr_bk01.png) no-repeat top center;}
.block14 .cate_area .inner {padding-top:285px;}
.block14 .obi_area .inner {padding-top:65px;}
.block14 .obi_area .inner .obi_right {top:-15px;}
.block14 .boxmain .box02 img {margin-bottom:25px;}


/*
	メインから下の内容（yoyaku～）
=======================================================================*/
/*	b16 (yoyaku)
=====================================*/
.block16 {
	background:#3c3c3c;
	padding:42px 0;
}
.block16 p {
	text-align:center;
}

/*	b17 (koe)
=====================================*/
.block17 {
	background:#000;
}
.block17 .inner {
	padding:85px 0 90px;
}
.block17 .inner h2 {
	margin-bottom:40px;
}
.block17 .inner ul {
}
.block17 .inner ul li {
	width:336px;
	float:left;
}
.block17 .inner ul li:nth-child(2) {
	margin:0 45px;
}
.block17 .inner ul li img {
	vertical-align:top !important;
	margin-right:25px;
}
.block17 .inner ul li p {
	position:relative;
	background:#fff;
	border-radius:10px;
	width:225px;
	display:inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	padding:20px;
	font-size:14px;
	line-height:22px;
	min-height:238px;
}
.block17 .inner ul li p:before {
	content:url(../img/koe_huki.png);
	position:absolute;
	left:-14px;
	top:66px;
}

/*	b19 (flow)
=====================================*/
.block19 {
	background:#ededed;
}
.block19 .inner  {
	padding:70px 0 115px;
}
.block19 h2 {
	margin-bottom:30px;
}
.block19 p.text01 {
	text-align:center;
	margin-bottom:20px;
}
.block19 .flow_box {
	position:relative;
	text-align:left;
	min-height:190px;
}
.block19 .flow_box p {
	padding-left:100px;
	font-size:13px;
	line-height:21px;
	margin-bottom:15px;
	max-width:725px;
}
.block19 .flow_box .link {
	padding-left:100px;
}
.block19 .flow_box .link img{
	vertical-align:middle !important;
}
.block19 .flow_box .link .flow_tel {
	margin-right:25px;
}
.block19 .flow_box img.photo {
	position:absolute;
	right:0;
	top:22px;
}

/*	b22 (rinen)
=====================================*/
.block22 {
	background:#ededed;
	margin-bottom:95px;
}
.block22 .inner {
	padding:85px 0 110px;
}
.block22 .inner h2 {
	margin-bottom:30px;
}
.block22 .inner p.text {
	font-size:15px;
	line-height:24px;
	text-align:center;
	margin-bottom:40px;
}
.block22 .inner ul li {
	background:#fff;
	float:left;
	width:366px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	padding:40px 17px;
}
.block22 .inner ul li h3 {
	margin-bottom:25px;
}
.block22 .inner ul li p{
	font-size:13px;
	line-height:20px;
	margin-top:15px;
}
.block22 .inner ul .Concept02{
	margin:1px;
	margin-top:0;
	margin-bottom:0;
}

/*	b23 (bottom_text)
=====================================*/
.block23{
	background:#000;
	padding:45px 0;
	
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

	内容END

::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/



/*=======================================================================
インクルード内容調整
=======================================================================*/
/*	スライド
=====================================*/
#slider_wp {
	width: 100%;
	min-width:1200px;
	height: 427px;
	display: block;
	background:url(../images/main_img_bg.jpg) repeat-x;
	overflow:hidden;
}
#slider {
	width: 1200px;
	height: 427px;
	margin: 0 auto;
	position: relative;
	background: url(loader.gif) no-repeat center;
}
#slider ul li {
	width: 1200px;
	height: 427px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.block09 .sp_none ul li{
	width:596px !important;
	border-left: dotted 1px #7c7c7c;
	padding-left:1px;
	margin-left:1px;
}

/*	医師紹介
=====================================*/
.block111 h3{
	text-align:left;
}


/*=======================================================================
フォーム導入
=======================================================================*/
@media screen and (min-width: 768px) {
.block13{
	width:1200px;
	margin:0 auto;
}
.block13 .flow {
	margin: 50px 0 40px 0 ;
	text-align: center ;
}
.block13 .caution {
	color: #ee0000 ;
}
.block13 .error {
	margin: 10px 0 0 0 ;
	color: #ee0000 ;
}
.block13 .form {
	width: 960px ;
	margin: 0 auto ;
}
.block13 table {
	width: 100% ;
	border:solid 1px #d0d0d0;
	float:left;
	border-collapse: separate;
	border-spacing: 2px 2px ;
	margin: 20px auto 40px auto ;
}
.block13 th{
	width: 25% ;
	background:#f3f3f3;
	padding: 20px 20px 20px 80px ;
	border-bottom:solid 1px #d0d0d0;
	border-right:solid 1px #d0d0d0;
	font-size: 16px ;
	color: #000000 ;
	white-space: nowrap ;
}
.block13 th.hissu {
	background: #f3f3f3 url(../images/form/form_icon_01.gif) 15px center no-repeat;
}
.block13 th.nini {
	background: #f3f3f3 url(../images/form/form_icon_02.gif) 15px center no-repeat;
}
.block13 td{
	width: 75% ;
	padding: 20px ;
	border-bottom:solid 1px #d0d0d0;
	font-size: 14px ;
	color: #333333 ;
}
.block13 th.last,
.block13 td.last{
	border-bottom:none;
}
.block13 td input[type="text"],
.block13 td input[type="tel"],
.block13 td input[type="email"] {
	width: 40% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 td input[type="checkbox"] {
	margin: 0 5px 0 10px;
}
.block13 td input[type="radio"] {
	margin: 0 5px 0 10px;
}

.block13 td select {
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 td textarea {
	width: 98% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 16px ;
}
.block13 .btn {
	margin: 0 0 60px 0 ;
	text-align: center ;
}
.block13 .end {
	margin: 0 0 40px 0 ;
	text-align: center ;
}
.block13 td span {
    width: 40%;
    padding: 5px 10px 5px 0;
    display: inline-block;
    border: 1px solid #FFF;
}
.block13 td input.number {
    width: 10%;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #999999;
    font-size: 14px;
}
}
@media screen and (max-width: 767px) {
.block13 {
	margin-bottom:40px;
}
.block13 h2{
	margin-bottom:20px;
}
.block13 .flow {
	margin: 0 0 20px 0 ;
	padding: 0 10px ;
	text-align: center ;
}
.block13 .flow img {
	height: auto;
}
.block13 .caution {
	margin: 10px 0 ;
	color: #ee0000 ;
}
.block13 .error {
	margin: 10px 0 0 0 ;
	color: #ee0000 ;
}
.block13 .form {
	padding: 0 10px ;
}
.block13 table {
	width: 100% ;
	border:solid 1px #d0d0d0;
	float:left;
	border-collapse: separate;
	border-spacing: 2px 2px ;
	margin: 0 auto 10px auto ;
}
.block13 th{
	display: block ;
	background:#f3f3f3;
	padding: 12px 10px 12px 70px ;
	border-bottom:solid 1px #d0d0d0;
	font-size: 14px ;
	color: #000000 ;
	white-space: nowrap ;
}
.block13 th.hissu {
	background: #f3f3f3 url(../images/form/form_icon_01.gif) 10px center no-repeat;
}
.block13 th.nini {
	background: #f3f3f3 url(../images/form/form_icon_02.gif) 10px center no-repeat;
}
.block13 td{
	display: block ;
	padding: 15px ;
	border-bottom:solid 1px #d0d0d0;
	font-size: 14px ;
	color: #333333 ;
}
.block13 td.last{
	border-bottom:none;
}
.block13 td input[type="text"],
.block13 td input[type="tel"],
.block13 td input[type="email"] {
	width: 45% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 td input[type="checkbox"] {
	margin: 0 5px 0 10px;
}
.block13 td input[type="radio"] {
	margin: 0 5px 0 10px;
}

.block13 td select {
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 td textarea {
	width: 96% ;
	background: #ffffff ;
	padding: 5px ;
	border: 1px solid #999999 ;
	font-size: 14px ;
}
.block13 .btn {
	text-align: center ;
}
.block13 .btn {
	width: 100% ;
	height: auto ;
	text-align: center ;
}
.block13 .btn img {
	height: auto;
}
.block13 .btn input {
	width: 100% ;
	max-width: 420px ;
	margin: 0 auto 10px auto ;
	height: auto ;
}
.block13 .end {
	margin: 0 0 20px 0 ;
	text-align: center ;
}
}

}