@media only screen and (max-width: 768px) {

img{
	width:100%;
	height:auto;
}

body{
	font-size:80%;
	color:#666666;
	background:#FFF;
	font-family: 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif !important ;
	line-height: 1.7 ;
	min-width:320px;
	-webkit-text-size-adjust: 100% ;
}
select, input, button, textarea, button {
	font-family: 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif !important ;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	min-width:320px;
	overflow:hidden;
}

#h_wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border-bottom:solid 2px #FFF;
}
header#PAGE_TOP {
	margin: 0 auto;
	position: relative;
	text-align: left;
}

#navi{
	display:none;
}

/*=======================================================================
ヘッダ
=======================================================================*/
#PAGE_TOP h1{
	margin:0 auto;
	padding:3% 0;
	background:#171717;
	border-bottom:solid 2px #474747;
}
#PAGE_TOP h1 img{
	width:45%;
	display:block;
	margin:0 auto;
}
#PAGE_TOP p{
	width:49.7%;
	float:left;
}
#PAGE_TOP ul li.sp_ab{
	position:absolute;
	top:8%;
	right:5px;
	width:10%;
}
#PAGE_TOP ul li.sp_right{
	width:50%;
	float:right;
}

.block01 {
	background: #bccdc8 ;
	margin: 0 0 40px 0 ;
	text-align:center;
}

.block02 {
	margin: 0 0 20px 0 ;
}

.block03 {
	margin: 0 auto 20px auto ;
	padding: 0 10px ;
}
.block03 div {
	width: 100% ;
	border: 1px solid #cccccc ;
	margin: 0 0 -1px 0 ;
}
.block03 div p {
	padding: 0 20px 20px 20px ;
}

.block_box_list {
  background: #faf8f2;
  border: solid 1px #ece8da;
  margin: 15px auto 0;
  padding: 1%;
  width: 93%;
}
.block_box_list ul{
	border: solid 1px #f1eee3;
	padding: 5% 5% 0 5%;
}
.block_box_list ul li{
	margin-bottom:5%;
}

.btn_box {
	background: #fcfcfc ;
	width: 100% ;
	margin: 20px auto 30px auto ;
	padding: 15px 0 ;
	border-top: 1px solid #f5f5f5 ;
	border-bottom: 1px solid #f5f5f5 ;
}
.btn_box dl{
	width: 80% ;
	margin: 0 auto ;
}
.btn_box dl dt{
	margin: 0 0 10px 0 ;
}

.blocktitle {
	position: relative ;
	width: 100% ;
	margin: 0 0 20px 0 ;
	border-bottom: 1px solid #cccccc ;
	z-index: 2 ;
	overflow: visible ;
}
.blocktitle h2 {
	margin: 0 auto -3% auto ;
	padding: 0 10px ;
	position: relative ;
	text-align: left ;
	z-index: 1 ;
}

.block04 {
	margin: 0 auto 20px auto ;
	padding: 0 10px ;
}
.block05 {
	margin: 0 auto 20px auto ;
	padding: 0 10px ;
	text-align: left ;
}
.block04 p,
.block05 p {
	margin: 0 0 1em 0 ;
}
.block04 p:last-child,
.block05 p:last-child {
	margin: 0 0 30px 0 ;
}
.block05 h3 {
	clear: none ;
	display: inline-block ;
	width: 55% ;
	margin: 0 0 1em 0 ;
	text-align: left ;
}

.img_right {
	float: right ;
	width: 30% ;
	margin: 0 0 10px 20px ;
}
.img_left {
	float: left ;
	width: 30% ;
	margin: 0 20px 10px 0 ;
}

.befor_after {
	clear: both ;
	border-top: 1px dotted #000000 ;
	border-left: 1px dotted #000000 ;
	border-right: 1px dotted #000000 ;
}
.befor_after div {
	padding: 10px ;
	text-align: center ;
	border-bottom: 1px dotted #000000 ;
}

.other {
	clear: both ;
	padding: 10px ;
	border: 1px dotted #000000 ;
}
.other dt {
	text-align: left ;
	font-weight: bold ;
}

.block06 {
	width: 100% ;
	margin: 0 auto ;
}
.block06 dl {
	width: 100% ;
	margin: 0 ;
}
.block06 dl dt {
	background: #f4f4f4 url(../img/block06_q_01.png) 10px center no-repeat ;
	width: 100% ;
	margin: 0 ;
	border-top: 1px solid #ffffff ;
}
.block06 dl dt div {
	background: url(../img/block06_ar_02.png) right center no-repeat ;
	padding: 14px 50px ;
	cursor: pointer ;
	font-size: 14px ;
	font-weight: bold ;
	line-height: 1.3 ;
	text-align: left ;
}
.block06 dl dt.active div {
	background: url(../img/block06_ar_01.png) right center no-repeat ;
}
.block06 dl dt.bg {
	background-color: #ebf3fb ;
}
.block06 dl dt.q1 { background-image: url(../img/block06_q_01.png) ; }
.block06 dl dt.q2 { background-image: url(../img/block06_q_02.png) ; }
.block06 dl dt.q3 { background-image: url(../img/block06_q_03.png) ; }
.block06 dl dt.q4 { background-image: url(../img/block06_q_04.png) ; }
.block06 dl dt.q5 { background-image: url(../img/block06_q_05.png) ; }
.block06 dl dt.q6 { background-image: url(../img/block06_q_06.png) ; }
.block06 dl dt.q7 { background-image: url(../img/block06_q_07.png) ; }
.block06 dl dt.q8 { background-image: url(../img/block06_q_08.png) ; }
.block06 dl dd {
	display: none ;
	background: #ffffff url(../img/block06_a_01.png) 10px 7px no-repeat ;
	margin: 0 ;
	padding: 11px 10px 11px 50px ;
	font-size: 14px ;
	text-align: left ;
}
.block06 dl dd.a1 { background-image: url(../img/block06_a_01.png) ; }
.block06 dl dd.a2 { background-image: url(../img/block06_a_02.png) ; }
.block06 dl dd.a3 { background-image: url(../img/block06_a_03.png) ; }
.block06 dl dd.a4 { background-image: url(../img/block06_a_04.png) ; }
.block06 dl dd.a5 { background-image: url(../img/block06_a_05.png) ; }
.block06 dl dd.a6 { background-image: url(../img/block06_a_06.png) ; }
.block06 dl dd.a7 { background-image: url(../img/block06_a_07.png) ; }
.block06 dl dd.a8 { background-image: url(../img/block06_a_08.png) ; }

.bp0 {
	margin-bottom: 0px !important ;
}

.block07 {
	background: #f8f8f8 ;
	width: 100% ;
	margin: 0 auto 40px auto ;
	padding: 20px 0 ;
}
.block07 ul {
	padding: 0 10px ;
}
.block07 ul li {
	min-height: 52px ;
	margin: 0 0 15px 0 ;
}
.block07 ul li.voice01 {
	background: url(../img/block07_img_01.png) left bottom no-repeat ;
	background-size: 70px 52px ;
	padding: 0 0 0 70px ;
}
.block07 ul li.voice01 div {
	background: #e6ecf5 ;
	padding: 15px ;
	color: #445ea7 ;
	-webkit-border-radius: 10px ;
	-moz-border-radius: 10px ;
	border-radius: 10px ;
}
.block07 ul li.voice02 {
	background: url(../img/block07_img_02.png) right bottom no-repeat ;
	background-size: 70px 52px ;
	padding: 0 70px 0 0 ;
}
.block07 ul li.voice02 div {
	background: #ebecf2 ;
	padding: 15px ;
	color: #445ea7 ;
	-webkit-border-radius: 10px ;
	-moz-border-radius: 10px ;
	border-radius: 10px ;
}
.block07 ul li.voice03 {
	background: url(../img/block07_img_03.png) left bottom no-repeat ;
	background-size: 70px 52px ;
	padding: 0 0 0 70px ;
}
.block07 ul li.voice03 div {
	background: #e6ecf5 ;
	padding: 15px ;
	color: #445ea7 ;
	-webkit-border-radius: 10px ;
	-moz-border-radius: 10px ;
	border-radius: 10px ;
}

.block08 {
	margin: 0 auto 20px auto ;
	padding: 0 10px ;
}
.block08 table {
	width: 100% ;
	border-top: 1px solid #cccccc ;
	border-left: 1px solid #cccccc ;
	border-right: 1px solid #cccccc ;
}
.block08 table th {
	float: left ;
	display: block ;
	background: #f9f9f9 ;
	width: 100% ;
	padding: 10px 0 ;
	font-size: 16px ;
	font-weight: bold ;
	text-align: center ;
	color: #000000 ;
	border-bottom: 1px solid #cccccc ;
}
.block08 table td {
	float: left ;
	display: block ;
	background: #ffffff ;
	width: 50% ;
	padding: 10px 0 ;
	text-align: center ;
	border-bottom: 1px solid #cccccc ;
}
.block08 table .fast {
	background: #ddeeff ;
	color: #368fda ;
}
.block08 table span {
	color: #368fda ;
}

.block09 {
	width: 100% ;
	margin: 0 auto 20px auto ;
}
.block09 .root {
	margin: 0 0 10px 0 ;
	padding: 0 10px 10px 10px ;
	border-bottom: 1px dotted #000000 ;
}
.block09 .root:last-child {
	margin: 0 ;
	padding: 0 10px ;
	border-bottom: none ;
}
.block09 .root h3 {
	width: 100% ;
	margin: 0 0 10px 0 ;
}
.block09 .root dl {
	width: 100% ;
}
.block09 .root dl dt {
	margin: 0 0 5px 0 ;
	font-size: 16px ;
	font-weight: bold ;
	text-align: left ;
	line-height: 1.2 ;
	color: #333333 ;
}
.block09 .root dl dd {
	text-align: left ;
}
.block09 .root dl dd.contact {
	margin: 5px 0 0 0 ;
}
.block09 .root dl dd.contact span {
	font-weight: bold ;
}
.block09 .root dl dd.contact span.tel {
	font-weight: bold ;
	font-size: 18px ;
	color: #368fda ;
}
.block09 .root dl dd.btn {
	width: 100% ;
	margin: 5px 0 0 0 ;
}

.block10 {
	position: relative ;
	width: 100% ;
	margin: 0 auto 20px auto ;
}
.block10 div {
	width: 100% ;
	margin: 0 auto 20px auto ;
}
.block10 ul {
	width: 100% ;
}
.block10 ul a {
	pointer-events: none ;
}
.block10 .txt::after {
	display: inline-block ;
	content: attr(data-label) ;
	padding: 0 10px ;
}
.block10 .txt img {
	display: none ;
}

.block11 {
	position: relative ;
	margin: 0 auto 20px auto ;
	padding: 0 10px ;
}
.block11 .txt::after {
	display: inline-block ;
	content: attr(data-label) ;
	margin: 0 auto 20px auto ;
}
.block11 .txt img {
	display: none ;
}
.block11 div {
	float: left ;
	width: 100% ;
	margin: 0 auto 20px auto ;
}
.block11 div div,
.block11 div h3 {
	margin: 0 auto 10px auto ;
}

.block12 {
	position: relative ;
	margin: 0 auto 20px auto ;
	padding: 0 ;
}
.block12 .txt::after {
	display: inline-block ;
	content: attr(data-label) ;
	margin: 0 auto 20px auto ;
	padding: 0 10px ;
}
.block12 .txt img {
	display: none ;
}
.block12 .name {
	background: #ffffff ;
	width: 100% ;
	margin: 20px auto ;
	border-top: 1px solid #ebebeb ;
	border-bottom: 1px solid #ebebeb ;
}
.block12 .name h3 {
	margin: 0 auto ;
	padding: 10px ;
	text-align: left ;
	line-height: 1 ;
}
.block12 .name h3 img {
	max-width: 240px ;
}
.block12 .data {
	position: relative ;
	width: 100% ;
	margin: 0 auto ;
}
.block12 .data .image {
	width: 154px ;
	margin: 0 auto 10px auto ;
}
.block12 .data h4 {
	margin: 0 0 10px 0 ;
	padding: 0 ;
	font-size: 16px ;
	font-weight: bold ;
	line-height: 1.1 ;
	text-align: left ;
	color: #333333 ;
}
.block12 .data table,
.block12 .data ul {
	margin: 0 0 15px 0 ;
}
.block12 .data th {
	padding: 0 10px 0 0 ;
	font-size: 12px ;
	white-space: nowrap ;
	vertical-align: top ;
}
.block12 .data td {
	font-size: 12px ;
	vertical-align: top ;
}
.block12 .data li {
	font-size: 12px ;
}
.block12 .data01 p {
	margin: 0 0 20px 0 ;
}
.block12 .data01,
.block12 .data02 {
	padding: 0 10px ;
}
.block12 .data03 {
	margin: 30px 0 ;
	padding: 0 30px ;
}
.block12 .data03 h4 {
	margin: 0 0 10px 0 ;
	font-size: 18px ;
	font-weight: normal ;
	color: #333333 ;
}
.block12 .data03 h4 span {
	display: block ;
	margin: 0 0 8px 0 ;
	padding: 0 0 4px 0 ;
	border-bottom: 1px solid #cccccc ;
	font-size: 10px ;
	color: #666666 ;
}

.block13 {
	position: relative ;
	width: 100% ;
	margin: 0 auto 20px auto ;
}
.block13 .txt {
	padding: 0 10px 10px 10px ;
}
.block13 dl {
	margin: 10px 0 0 0 ;
}
.block13 dl dt {
	background: #d0e7fa ;
	padding: 6px 10px ;
	font-weight: bold ;
	text-align: left ;
}
.block13 dl dd {
	padding: 5px 10px ;
}
.block13 dl dd span {
	font-weight: bold ;
}

.campaign {
	position: relative ;
	width: 100% ;
	max-width: 540px ;
	margin: 20px auto ;
}
.campaign div {
	position: relative ;
	width: 100% ;
}
.campaign h2 {
	position: relative ;
	width: 100% ;
	z-index: 1 ;
}
.campaign p {
	position: absolute ;
	left: 0px ;
	bottom: 0px ;
	width: 100% ;
	z-index: 2 ;
}

.dl01{
	width:55%;
	float:left;
}
.dl02{
	width:40%;
	float:right;
}

.doctor2{
	margin-top:30px;
}
.doctor2 img.left{
	margin-right:2.5%;
	margin-bottom:2.5%;
}
.doctor2 .sp_right h3{
	float: left;
	width: 61%;
}
.doctor2 .sp_right{
	float:none;
	width:95%;
	margin:0 auto 2.5%;
}


/*=======================================================================
ページトップ
=======================================================================*/

#page-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px ;
    height: 40px ;
	z-index:99999999;
}

footer {
	width: 100%;
	margin: 50px auto 0;
	text-align: center;
	background: #cccccc ;
	color: #ffffff ;
	text-align: center ;
	line-height: 1.1 ;
}
footer p{
	padding: 5px 0;
	font-size: 10px ;
	text-align: center ;
}

.doctor_name {
	font-size: 20px;
 	font-weight: bold;
 	padding: 15px 0px;
 	border-top: 1px solid #cfcfcf;
 	border-bottom: 1px solid #cfcfcf;
 	margin:15px;
 	vertical-align: middle;
	text-align:left;
}

.doctor_name span {
  font-size: 15px;
  font-weight: normal;
  vertical-align: middle;
}

.doctor .sp_clear {
	  clear: both;
  width: 95%;
  margin: 0 auto;
}

.doctor h3 {
	border-left: solid 2px #111111;
	font-weight: bold;
	font-size: 120%;
	line-height: 100%;
	padding: 0 0 0 10px;
	margin-bottom: 10px;
	text-align:left;
}
.doctor h3 span {
	font-weight: normal;
	display: block;
	color: #7c7c7c;
	font-size: 70%;
	margin-top: 5px;
	line-height: 100%;
}

.doctor dl.list dt {
	color: #7e7e7e;
  font-size: 90%;
}

.sp_mt20 {
	margin-top:20px;
}

#sp_header #logo{
	text-align:center;
	border-bottom:1px solid #FFF;
	padding:10px 0;
	background:#ef85bd;
}
#sp_header .header_tel{
	float:left;
	width:70.6%;
	text-align:center;
	background:#FFF;
}

#sp_header .header_tel img{
	width:80%;
	padding:0px 0 0px 0;
}
#sp_header .header_tel a{
	display:block;
}
#sp_header .btn{
	float:right;
	width:29%;
	background:#cb71a1;	
	text-align:center;
}
#sp_header .btn a{
	display:block;
}
#sp_header .btn img{
	width:68%;
	padding:0px 0 0px 0;
}

#sp_header .bdbm{
	border-top:1px solid #cb71a1;
	border-bottom:1px solid #cb71a1;
}


.sp_none{
	display:none !important;
}


}