@charset "UTF-8";
@media only screen and (min-width: 768px) {

body {
	position: relative ;
	background:#FFF;
	width: 100% ;
	min-width: 1200px ;
	height: 100% ;
	font-size:13px;
	color:#666666;
	line-height:160%;
	font-family: 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif !important ;
	line-height: 2 ;
}
select, input, button, textarea, button {
	font-family: 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif !important ;
}

/*
a img:hover{
	-moz-opacity:0.7;
	opacity:0.7;
}
*/

#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#h_wrapper {
	width: 100%;
	height:85px;
	margin: 0 auto;
	text-align: center;
	background:#171717;
	border-bottom:solid 2px #b39952;
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
}
header#PAGE_TOP {
	width: 1200px;
	height:85px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

.cnt_wp {
	width: 100%;
	margin:0 auto;
	padding: 69px 0 50px;
	text-align: center;
	min-width:1200px;
	overflow:hidden;
}

footer {
	width: 100%;
	height:46px;
	margin: 0 auto;
	text-align: center;
	background:#000;
	color:#FFF;
}
footer p {
	width: 1200px ;
	margin: 0 auto ;
	padding: 10px 0 ;
	position: relative;
	text-align: center ;
	line-height: 1.1 ;
}


/*=======================================================================
ヘッダ
=======================================================================*/
#PAGE_TOP h1{
	position:absolute;
	top:20px;
	left:24px;
	color:#fff;
}
#PAGE_TOP p{
	position:absolute;
	top:16px;
	right:400px;
}
#PAGE_TOP ul{
	position:absolute;
	top:23px;
	right:0;
}
#PAGE_TOP ul li{
	float:left;
	margin-left:21px;
}




/*=======================================================================
トップページ　メイン
=======================================================================*/

.block01{
	background: #bccdc8 url(../img/main_img01.jpg) top center no-repeat ;
	background-size: cover ;
	width: 100% ;
	height: 600px ;
	margin: 0 0 80px 0 ;
	text-align: center ;
	overflow: hidden ;
}

.block02{
	background:url(../img/block02_bg.jpg) repeat-x;
	margin: 0 0 60px 0 ;
	text-align:center;
	min-width:1200px;
	overflow:hidden;
}
.block02 p img{
	display:block;
	margin:0 auto;
}

.block03 {
	width: 998px ;
	margin: 0 auto 40px auto ;
	border-top: 1px solid #cccccc ;
	border-left: 1px solid #cccccc ;
}
.block03 div {
	float: left ;
	width: 498px ;
	border-right: 1px solid #cccccc ;
	border-bottom: 1px solid #cccccc ;
}
.block03 div p {
	padding: 0 30px 30px 30px ;
	line-height: 2 ;
}

.block_box_list{
	background:#faf8f2;
	border:solid 1px #ece8da;
	margin:35px auto 0;
	padding:3px;
	width:1005px;
}
.block_box_list ul{
	border:solid 1px #f1eee3;
	padding:18px;
}
.block_box_list ul li{
	float:left;
}
.block_box_list ul li.center{
	margin:0 25px;
}

.btn_box {
	background: #fcfcfc ;
	width: 100% ;
	margin: 50px auto 50px auto ;
	padding: 22px 0 ;
	border-top: 1px solid #f5f5f5 ;
	border-bottom: 1px solid #f5f5f5 ;
}
.btn_box dl {
	width: 1000px ;
	margin: 0 auto ;
}
.btn_box dl dt {
	float: left ;
	width: 330px ;
	margin: 0 0 0 400px ;
}
.btn_box dl dt img {
	width: 310px ;
}
.btn_box dl dd {
	float: right ;
	width: 260px ;
}
.btn_box dl dd img {
	width: 260px ;
}

.blocktitle {
	position: relative ;
	width: 100% ;
	margin: 0 0 50px 0 ;
	border-bottom: 1px solid #cccccc ;
	z-index: 2 ;
	overflow: visible ;
}
.blocktitle h2 {
	width: 1000px ;
	margin: 0 auto -30px auto ;
	position: relative ;
	text-align: left ;
	z-index: 1 ;
}

.block04 {
	width: 1000px ;
	margin: 0 auto 40px auto ;
}
.block05 {
	width: 940px ;
	margin: 0 auto 50px auto ;
}
.block04 p,
.block05 p {
	margin: 0 0 1em 0 ;
}
.block04 p:last-child,
.block05 p:last-child {
	margin: 0 0 30px 0 ;
}
.block05 h3 {
	margin: 0 0 1em 0 ;
	text-align: left ;
}

.img_right {
	float: right ;
	margin: 0 0 30px 40px ;
}
.img_left {
	float: left ;
	margin: 0 40px 30px 0 ;
}

.befor_after {
	clear: both ;
	width: 941px ;
	border-top: 1px dotted #000000 ;
	border-left: 1px dotted #000000 ;
	border-bottom: 1px dotted #000000 ;
}
.befor_after div {
	float: left ;
	width: 469px ;
	padding: 30px 0 ;
	text-align: center ;
	border-right: 1px dotted #000000 ;
}

.other {
	width: 580px ;
	margin: 25px 0 0 0 ;
	padding: 15px 20px ;
	border: 1px dotted #000000 ;
}
.other dt {
	text-align: left ;
	font-weight: bold ;
}
.other dd {
	text-align: left ;
}

.block06 {
	width: 1000px ;
	margin: 0 auto 40px auto ;
}
.block06 dl {
	width: 1000px ;
	margin: 0 ;
}
.block06 dl dt {
	background: #f4f4f4 url(../img/block06_q_01.png) 10px center no-repeat ;
	width: 1000px ;
	margin: 0 ;
	border-top: 1px solid #ffffff ;
}
.block06 dl dt div {
	background: url(../img/block06_ar_02.png) right center no-repeat ;
	padding: 14px 50px ;
	cursor: pointer ;
	font-size: 16px ;
	font-weight: bold !important ;
	line-height: 1.1 ;
	text-align: left ;
}
.block06 dl dt.active div {
	background: url(../img/block06_ar_01.png) right center no-repeat ;
}
.block06 dl dt.bg {
	background-color: #ebf3fb ;
}
.block06 dl dt.q1 { background-image: url(../img/block06_q_01.png) ; }
.block06 dl dt.q2 { background-image: url(../img/block06_q_02.png) ; }
.block06 dl dt.q3 { background-image: url(../img/block06_q_03.png) ; }
.block06 dl dt.q4 { background-image: url(../img/block06_q_04.png) ; }
.block06 dl dt.q5 { background-image: url(../img/block06_q_05.png) ; }
.block06 dl dt.q6 { background-image: url(../img/block06_q_06.png) ; }
.block06 dl dt.q7 { background-image: url(../img/block06_q_07.png) ; }
.block06 dl dt.q8 { background-image: url(../img/block06_q_08.png) ; }
.block06 dl dd {
	display: none ;
	background: #ffffff url(../img/block06_a_01.png) 10px 15px no-repeat ;
	width: 900px ;
	margin: 0 ;
	padding: 16px 50px ;
	font-size: 14px ;
	text-align: left ;
}
.block06 dl dd.a1 { background-image: url(../img/block06_a_01.png) ; }
.block06 dl dd.a2 { background-image: url(../img/block06_a_02.png) ; }
.block06 dl dd.a3 { background-image: url(../img/block06_a_03.png) ; }
.block06 dl dd.a4 { background-image: url(../img/block06_a_04.png) ; }
.block06 dl dd.a5 { background-image: url(../img/block06_a_05.png) ; }
.block06 dl dd.a6 { background-image: url(../img/block06_a_06.png) ; }
.block06 dl dd.a7 { background-image: url(../img/block06_a_07.png) ; }
.block06 dl dd.a8 { background-image: url(../img/block06_a_08.png) ; }

.bp0 {
	margin-bottom: 0px !important ;
}

.block07 {
	background: #f8f8f8 ;
	width: 100% ;
	padding: 60px 0 ;
}
.block07 ul {
	width: 1000px ;
	margin: 0 auto ;
}
.block07 ul li {
	min-height: 105px ;
	margin: 0 0 15px 0 ;
	line-height: 2 ;
}
.block07 ul li.voice01 {
	background: url(../img/block07_img_01.png) left bottom no-repeat ;
	padding: 0 0 0 140px ;
}
.block07 ul li.voice01 div {
	background: #e6ecf5 ;
	padding: 28px 40px ;
	color: #445ea7 ;
	-webkit-border-radius: 10px ;
	-moz-border-radius: 10px ;
	border-radius: 10px ;
}
.block07 ul li.voice02 {
	background: url(../img/block07_img_02.png) right bottom no-repeat ;
	padding: 0 140px 0 0 ;
}
.block07 ul li.voice02 div {
	background: #ebecf2 ;
	padding: 28px 40px ;
	color: #445ea7 ;
	-webkit-border-radius: 10px ;
	-moz-border-radius: 10px ;
	border-radius: 10px ;
}
.block07 ul li.voice03 {
	background: url(../img/block07_img_03.png) left bottom no-repeat ;
	padding: 0 0 0 140px ;
}
.block07 ul li.voice03 div {
	background: #e6ecf5 ;
	padding: 28px 40px ;
	color: #445ea7 ;
	-webkit-border-radius: 10px ;
	-moz-border-radius: 10px ;
	border-radius: 10px ;
}

.block08 {
	width: 1000px ;
	margin: 0 auto 40px auto ;
}
.block08 table {
	width: 100% ;
	border: 1px solid #cccccc ;
	border-collapse: collapse ;
	border-spacing: 0 ;
}
.block08 table th {
	background: #f9f9f9 ;
	width: 34% ;
	padding: 15px ;
	font-size: 18px ;
	font-weight: bold ;
	text-align: center ;
	vertical-align: middle ;
	color: #000000 ;
	border: 1px solid #cccccc ;
}
.block08 table td {
	background: #ffffff ;
	width: 33% ;
	padding: 15px ;
	text-align: center ;
	vertical-align: middle ;
	border: 1px solid #cccccc ;
}
.block08 table .fast {
	background: #ddeeff ;
	font-size: 16px ;
	color: #368fda ;
}
.block08 table span {
	color: #368fda ;
}

.block09 {
	width: 1000px ;
	margin: 0 auto 40px auto ;
}
.block09 .root {
	width: 970px ;
	margin: 0 0 20px 0 ;
	padding: 0 30px 20px 0 ;
	border-bottom: 1px dotted #000000 ;
}
.block09 .root:last-child {
	margin: 0 0 0 0 ;
	padding: 0 30px 0 0 ;
	border-bottom: none ;
}
.block09 .root h3 {
	float: left ;
}
.block09 .root dl {
	float: right ;
	width: 590px ;
}
.block09 .root dl dt {
	margin: 0 0 10px 0 ;
	font-size: 18px ;
	font-weight: bold ;
	text-align: left ;
	line-height: 1.2 ;
	color: #333333 ;
}
.block09 .root dl dd {
	text-align: left ;
	line-height: 1.7 ;
}
.block09 .root dl dd.contact {
	margin: 10px 0 0 0 ;
}
.block09 .root dl dd.contact span {
	font-weight: bold ;
}
.block09 .root dl dd.contact span.tel {
	font-weight: bold ;
	font-size: 18px ;
	color: #368fda ;
}
.block09 .root dl dd.btn {
	margin: -20px 0 0 0 ;
	text-align: right ;
}
.block09 .root dl dd.btn img {
	width: 294px ;
}

.block10 {
	position: relative ;
	width: 1000px ;
	margin: 0 auto 40px auto ;
}
.block10 div {
	width: 1000px ;
	margin: 0 auto 40px auto ;
}
.block10 ul {
	width: 1000px ;
}
.block10 p {
	text-align: center ;
}

.block11 {
	position: relative ;
	width: 1000px ;
	margin: 0 auto 40px auto ;
}
.block11 .txt {
	margin: 0 auto 50px auto ;
}
.block11 div {
	float: left ;
	width: 300px ;
	line-height: 1.7 ;
}
.block11 div.sps {
	margin-right: 50px ;
}
.block11 div div,
.block11 div h3 {
	margin: 0 auto 20px auto ;
}
.block11 div img {
	width: 100% ;
}

.block12 {
	position: relative ;
	width: 100% ;
	margin: 0 auto 40px auto ;
}
.block12 .txt {
	width: 1000px ;
	margin: 0 auto 50px auto ;
}
.block12 .name {
	background: #ffffff ;
	width: 100% ;
	margin: 0 auto 30px auto ;
	border-top: 1px solid #ebebeb ;
	border-bottom: 1px solid #ebebeb ;
}
.block12 .name h3 {
	width: 1000px ;
	margin: 0 auto ;
	padding: 15px 0 ;
	text-align: left ;
}
.block12 .data {
	position: relative ;
	width: 800px ;
	margin: 0 auto ;
	padding: 0 0 0 200px ;
	line-height: 1.7 ;
}
.block12 .data .image {
	position: absolute ;
	top: 0px ;
	left: 0px ;
}
.block12 .data h4 {
	margin: 0 0 15px 0 ;
	padding: 0 ;
	font-size: 18px ;
	font-weight: bold ;
	line-height: 1.1 ;
	text-align: left ;
	color: #333333 ;
}
.block12 .data table,
.block12 .data ul {
	margin: 0 0 25px 0 ;
}
.block12 .data th {
	padding: 0 10px 0 0 ;
	font-size: 12px ;
	white-space: nowrap ;
	vertical-align: top ;
}
.block12 .data td {
	font-size: 12px ;
	vertical-align: top ;
}
.block12 .data li {
	font-size: 12px ;
}
.block12 .data01 {
	float: left ;
	width: 300px ;
	margin: 0 30px 0 0 ;
}
.block12 .data01 p {
	margin: 0 0 20px 0 ;
}
.block12 .data02 {
	float: left ;
	width: 460px ;
	margin: 0 ;
}
.block12 .data03 {
	float: right ;
	width: 380px ;
	padding: 0 30px 0 0 ;
	line-height: 2 ;
}
.block12 .data03 h4 {
	font-size: 24px ;
	font-weight: normal ;
	color: #333333 ;
}
.block12 .data03 h4 span {
	display: block ;
	margin: 0 0 10px 0 ;
	padding: 0 0 4px 0 ;
	border-bottom: 1px solid #cccccc ;
	font-size: 12px ;
	color: #666666 ;
}

.block13 {
	position: relative ;
	width: 1000px ;
	margin: 0 auto 30px auto ;
}
.block13 .txt {
	margin: 0 0 40px 0 ;
}
.block13 dl {
	float: left ;
	width: 300px ;
}
.block13 dl.sps {
	margin-right: 50px ;
}
.block13 dl dt {
	background: #d0e7fa ;
	margin: 20px 0 0 0 ;
	padding: 6px 10px ;
	font-weight: bold ;
	text-align: left ;
}
.block13 dl dd {
	padding: 15px 0 0 0 ;
	line-height: 1.7 ;
}
.block13 dl dd span {
	font-weight: bold ;
}

.campaign {
	position: relative ;
	width: 1000px ;
	margin: 50px auto ;
}
.campaign div {
	position: relative ;
	width: 1000px ;
}
.campaign h2 {
	position: relative ;
	width: 1000px ;
	margin: 0 ;
	z-index: 1 ;
}
.campaign p {
	position: absolute ;
	right: 40px ;
	bottom: 15px ;
	z-index: 2 ;
}






.dl01{
	width:210px;
}
.dl02{
	width:95px;
}


.doctor2{
	margin-top:50px;
}
.doctor2 .sp_right p{
}

/*=======================================================================
サイドバー
=======================================================================*/

#navi {
	position:fixed;
	top:380px;
	left:0;
	width: 50px;
	background-color: rgba( 220, 220, 220, 0.5 );
	padding:20px 0;
	z-index:2000;
	-webkit-transform: translateY(-50%) translateZ(0);
	transform: translateY(-50%) translateZ(0);
}
#navi li {
	list-style-type: none;
	text-align: center;
}
#navi li a {
	padding: 10px 0;
	display: block;
	text-decoration: none;
	color:#FFF;
	font-size:12px;
	line-height: 12px ;
}
#navi li a.on {
	color:#368fda;	
}


/*=======================================================================
ページトップ
=======================================================================*/
#page-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
	z-index:1000;
}
#page-top a img:hover{
	-moz-opacity:0.7;
	opacity:0.7;
}

/*=======================================================================
フッタ
=======================================================================*/
.copy{
	text-align:center;
	font-size:12px;
	padding: 13px 0px;
}


/*=======================================================================
メインイメージスクロール
=======================================================================*/
#slider_wp {
	width: 100%;
	min-width:1200px;
	height: 327px;
	display: block;
	background:url(../images/main_img_bg.jpg) repeat-x;
	overflow:hidden;
}

#slider {
	width: 1200px;
	height: 327px;
	margin: 0 auto;
	position: relative;
	background: url(loader.gif) no-repeat center;
}

#slider ul li {
	width: 1200px;
	height: 327px;
	position: absolute;
	top: 0px;
	left: 0px;
}


/*=======================================================================
clear　clearfix
=======================================================================*/

.clear { clear: both;	visibility: visible; }

.cf {
	display: inline-block ;
}
.cf:after {
	content: "." ;
	font-size: 0.1em ;
	line-height: 0 ;
	display: block ;
	height: 0 ;
	visibility: hidden ;
	clear: both ;
}
/* \*/
* html .cf {
    height: 1% ;
}
.cf {
    display: block ;
}
/* */


.box{
	display: block ;
}

#section01,
#section02,
#section03,
#section04,
#section05,
#section06,
#section07,
#section08,
#section09,
#section10,
#section11 {
	display: block ;
	position: relative ;
	margin-top: -100px ;
    padding-top: 100px ;
}

.pc_none{
	display:none !important;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
/* IE7,MacIE5 */
.clearfix {
  display: inline-block;
}
/* WinIE6 below, Exclude MacIE5 \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display:block;
}


/* header 
--------------------------------------------------------------- */

#header_bg{
	background:#cb71a1 url(../img/header_bg02.gif) center top repeat-y;
	margin:0 0 1px 0;
}
#header{
	width:1200px;
	height:71px;
	margin:0 auto;
	background:url(../img/header_bg01.gif) left top repeat-y;
}
#header .logo{
	float:left;
	width:251px;
	padding:13px 0 0 25px;
}
#header .header_right{
	width:710px;
	float:right;
}
#header .header_right .tel{
	width:368px;
	float:left;
	padding:13px 0 0 0;
}
#header .header_right .btn{
	width:249px;
	float:right;
	padding:13px 0 0 0;
}
#header .header_right .btn02{
	width:66px;
	float:right;
	padding:13px 0 0 0;
	text-align:right;
	margin:0 0 0 10px;
}


}